In [1]:
import pandas as pd
import numpy as np

In [2]:
### Get all the pillar names from the excel

In [3]:
names = pd.read_excel('../../UNDP Digital Assessment Data Framework Filename Matching V7.xlsx')

In [4]:
col_names = ['Indicator','check', 'Data Source','Index','Filename']

In [5]:
names = names[col_names]

In [6]:
names.head()

,Indicator,check,Data Source,Index,Filename
0,Countries,NaN,United Nations,False,Countries
1,"Database of Global Administrative Areas (GADM,...",NaN,GADM maps and data,False,NaN
2,High Resolution Population Density Maps + Demo...,NaN,Facebook,False,NaN
3,population density vs openstreetmap object den...,NaN,Kontur,False,NaN
4,Population Density,Infrastructure,World Bank,False,population_density

In [7]:
# get all the files per pillar
data_stats = names.groupby('check').agg({'Filename':'count','Indicator':'count'})

In [8]:
data_stats

                Filename  Indicator
check
Business              20         25
Foundations            7         12
Government            10         15
Infrastructure        39         48
People                35         47
Regulation             6          7
Strategy               1          1

In [9]:
### Infrastructure

In [10]:
bnames = names[(names.check=='Infrastructure')&(~names.Filename.isna())]#&(names.Index==False)]
bnames.head(25)

,Indicator,check,Data Source,Index,Filename
4,Population Density,Infrastructure,World Bank,False,population_density
6,% of population covered by internet connectivity,Infrastructure,ITU,False,ITU_database
7,% of population covered by mobile 2G+ data con...,Infrastructure,GSMA Mobile Connectivity Index,False,countries_mobile_connectivity
8,% of population covered by mobile 3G+ data con...,Infrastructure,GSMA Mobile Connectivity Index,False,countries_mobile_connectivity
9,% of population covered by mobile 4G+ data con...,Infrastructure,GSMA Mobile Connectivity Index,False,countries_mobile_connectivity
10,% of population covered by mobile 5G+ data con...,Infrastructure,GSMA Mobile Connectivity Index,False,countries_mobile_connectivity
11,Mobile Coverage Maps,Infrastructure,ITU,False,ITU_database
12,Electricity Density,Infrastructure,Energy Data,False,electricity_yearbook
13,% of population covered by electricity,Infrastructure,World Bank,False,population_electricity_coverage
14,Electricity supply quality,Infrastructure,International Energy Agency / Global Competiti...,False,elect_supply_quality
15,Electricity Environmental Sustainability,Infrastructure,The Sustainable Development Report/ Cambridge ...,False,sustainability_index
17,Cellphone Signal Density,Infrastructure,GSMA Mobile Connectivity Index,False,mobile_density
18,Telecommunication Infrastructure Index (TII),Infrastructure,DESA,True,e_government_index
19,GSMA Mobile Connectivity Index,Infrastructure,GSMA Mobile Connectivity Index,True,countries_mobile_connectivity
20,Spectrum Allocated to Mobile Providers,Infrastructure,GSMA Mobile Connectivity Index,False,spectrum_allocated_mobile_providers
23,Internet Exchange Points (IXPs) map,Infrastructure,Packet Clearing House,False,countries_ixp
25,ISP Speeds - Mobile,Infrastructure,Ookla's Speedtest Intelligence,False,mobile_speed
26,ISP internet download speed average,Infrastructure,Ookla's Speedtest Intelligence,False,internet_speed
28,Mobile dowload speed at the slowest hour of th...,Infrastructure,GSMA Mobile Connectivity Index,False,mobile_latency
29,Mobile download speed average,Infrastructure,Ookla's Speedtest Intelligence,False,mobile_speed
30,Individuals using the Internet (% of population),Infrastructure,ITU,False,ITU_database
31,Mobile cellular subscriptions (per 100 people),Infrastructure,ITU,False,ITU_database
32,Average fixed broadband download speeds,Infrastructure,Ookla's Speedtest Intelligence,False,fixed_bdbd_spd_dl_ul
35,Postal Coverage,Infrastructure,Universal Postal Union,False,postal_coverage
36,Logistics Performance Index (LPI) - Infrastruc...,Infrastructure,World Bank,True,logistics_performance_index

In [11]:
# get list of names for all indicators
indicators = bnames.Indicator.unique()

In [12]:
# get all file names
bfiles = bnames.Filename.unique()

In [13]:
bfiles

array(['population_density', 'ITU_database',
       'countries_mobile_connectivity', 'electricity_yearbook',
       'population_electricity_coverage', 'elect_supply_quality',
       'sustainability_index', 'mobile_density', 'e_government_index',
       'spectrum_allocated_mobile_providers', 'countries_ixp',
       'mobile_speed', 'internet_speed', 'mobile_latency',
       'fixed_bdbd_spd_dl_ul', 'postal_coverage',
       'logistics_performance_index', 'national_cybersecurity_index',
       'dice_export_global_cybersecurity_index',
       'software_developer_ecosystem_size',
       'digital_platform_economy_index', 'migration_skill',
       'migration_industry', 'migration_country',
       'global_fintech_ranking', 'tech_hubs', 'banking_sector_size',
       'angel_investment', 'startup_eco_size',
       'international_co_inventions'], dtype=object)

In [259]:
# formula for converting scale
def convert_rank(old_value, old_min=1, old_max=7, new_min=1, new_max=6 ):
    """ Convert old scale values scale into new scale values"""
    old_range = old_max - old_min
    new_range = new_max - new_min
    new_value = (((old_value-old_min)*new_range)/old_range)+new_min
    return new_value

In [ ]:
### 1. Population Density

In [15]:
### 2. % of population covered by internet connectivity

In [16]:
indicators[1]

# load data
indicator = indicators[1]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population covered by internet connectivity
ITU_database

In [17]:
df = df[(df.Year == 2020)]
df = df[(df['Indicator name']== 'Individuals using the Internet, total (%)')]
df

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
47744,Mauritius,Africa,MUS,"Individuals using the Internet, total (%)",2020.0,64.884904,NaN,NaN
47745,Uganda,Africa,UGA,"Individuals using the Internet, total (%)",2020.0,NaN,NaN,NaN
47746,Bahrain,Arab States,BHR,"Individuals using the Internet, total (%)",2020.0,99.539512,NaN,NaN
47747,Egypt,Arab States,EGY,"Individuals using the Internet, total (%)",2020.0,71.914200,NaN,NaN
47748,Iraq,Arab States,IRQ,"Individuals using the Internet, total (%)",2020.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
47805,Bolivia (Plurinational State of),The Americas,BOL,"Individuals using the Internet, total (%)",2020.0,55.139051,NaN,NaN
47806,Costa Rica,The Americas,CRI,"Individuals using the Internet, total (%)",2020.0,80.530186,NaN,NaN
47807,Mexico,The Americas,MEX,"Individuals using the Internet, total (%)",2020.0,71.970000,NaN,NaN
47808,Paraguay,The Americas,PRY,"Individuals using the Internet, total (%)",2020.0,74.515240,NaN,NaN
47809,Peru,The Americas,PER,"Individuals using the Internet, total (%)",2020.0,65.251799,NaN,NaN

In [18]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Value']
df.rename(columns={'Country':'Country Name'}, inplace=True)

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [19]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
47744,Mauritius,2020.0,% of population covered by internet connectivity,64.884904,3.298839,True
47745,Uganda,2020.0,% of population covered by internet connectivity,NaN,NaN,True
47746,Bahrain,2020.0,% of population covered by internet connectivity,99.539512,5.964578,True
47747,Egypt,2020.0,% of population covered by internet connectivity,71.914200,3.839554,True
47748,Iraq,2020.0,% of population covered by internet connectivity,NaN,NaN,True
47749,Kuwait,2020.0,% of population covered by internet connectivity,98.599995,5.892307,True
47750,Morocco,2020.0,% of population covered by internet connectivity,84.120363,4.778489,True
47751,Oman,2020.0,% of population covered by internet connectivity,95.232293,5.633253,True
47752,Qatar,2020.0,% of population covered by internet connectivity,99.652794,5.973292,True
47753,Saudi Arabia,2020.0,% of population covered by internet connectivity,97.862332,5.835564,True
47754,United Arab Emirates,2020.0,% of population covered by internet connectivity,100.000000,6.000000,True
47755,Cambodia,2020.0,% of population covered by internet connectivity,78.800000,4.369231,True
47756,China,2020.0,% of population covered by internet connectivity,70.642143,3.741703,True
47757,"Hong Kong, China",2020.0,% of population covered by internet connectivity,92.413136,5.416395,True
47758,Indonesia,2020.0,% of population covered by internet connectivity,53.726494,2.440500,True

In [20]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/infrastructure_{}_scores.csv'.format(indicator, index=False))

In [21]:
### 3. % of population covered by mobile 2G

In [22]:
indicators[2]

'% of population covered by mobile 2G+ data connectivity'

In [23]:
# load data
indicator = indicators[2]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population covered by mobile 2G+ data connectivity
countries_mobile_connectivity

In [24]:
df.head(10)

,ISO Code,Country,Region,Year,Cluster,Index,Infrastructure,Affordability,Consumer Readiness,Content and Services,...,Gender gap in mobile ownership,TLDs per capita,E-Government Score,Mobile Social Media Penetration,Apps developed per person,Number of apps in national language,Accessibility of top ranked apps,Cybersecurity Index,data_country,data_year
0,AFG,Afghanistan,South Asia,2014,Discoverer,22.12,21.74,31.79,24.40,14.19,...,0.00,39.55,18.11,3.28,20.98,2.44,4.37,26.50,NaN,NaN
1,AFG,Afghanistan,South Asia,2015,Discoverer,22.99,22.82,30.81,25.28,15.71,...,0.00,39.57,24.27,4.36,22.93,2.79,8.03,25.83,NaN,NaN
2,AFG,Afghanistan,South Asia,2016,Discoverer,23.71,26.92,26.75,26.07,16.83,...,0.00,39.58,30.43,6.73,30.31,2.85,5.90,25.17,NaN,NaN
3,AFG,Afghanistan,South Asia,2017,Discoverer,25.82,33.54,27.22,28.56,17.04,...,0.00,39.47,30.50,7.78,31.62,2.91,6.15,24.50,NaN,NaN
4,AFG,Afghanistan,South Asia,2018,Discoverer,28.39,30.91,42.64,29.24,16.87,...,0.00,39.39,30.56,8.54,36.54,2.96,8.66,17.70,NaN,NaN
5,AFG,Afghanistan,South Asia,2019,Discoverer,28.94,32.34,41.53,29.72,17.58,...,0.00,39.41,41.18,9.39,39.36,3.00,5.72,17.70,NaN,NaN
6,AGO,Angola,Sub-Saharan Africa,2014,Discoverer,32.78,25.99,35.99,44.33,27.85,...,51.65,0.00,29.92,3.99,22.74,53.33,49.09,8.80,NaN,NaN
7,AGO,Angola,Sub-Saharan Africa,2015,Emerging,37.18,33.09,42.01,45.41,30.27,...,57.00,0.31,32.35,5.26,22.12,55.08,58.33,8.47,NaN,NaN
8,AGO,Angola,Sub-Saharan Africa,2016,Emerging,39.85,37.80,44.74,46.47,32.11,...,63.73,0.00,34.78,6.27,27.46,56.52,61.73,8.13,NaN,NaN
9,AGO,Angola,Sub-Saharan Africa,2017,Emerging,42.89,48.60,47.94,46.32,31.36,...,53.97,0.00,37.88,4.26,31.94,57.06,55.09,7.80,NaN,NaN

In [25]:
# filter most recent year
df = df[(df.Year==2019)]

In [26]:
# create standard columns
df.rename(columns={'Country':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['2G Coverage'] 

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [27]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
5,Afghanistan,2019,% of population covered by mobile 2G+ data con...,90.00,4.921251,True
11,Angola,2019,% of population covered by mobile 2G+ data con...,90.00,4.921251,True
17,Albania,2019,% of population covered by mobile 2G+ data con...,99.86,5.984898,True
23,United Arab Emirates,2019,% of population covered by mobile 2G+ data con...,100.00,6.000000,True
29,Argentina,2019,% of population covered by mobile 2G+ data con...,98.00,5.784250,True
35,Armenia,2019,% of population covered by mobile 2G+ data con...,100.00,6.000000,True
41,Australia,2019,% of population covered by mobile 2G+ data con...,99.40,5.935275,True
47,Austria,2019,% of population covered by mobile 2G+ data con...,99.00,5.892125,True
53,Azerbaijan,2019,% of population covered by mobile 2G+ data con...,100.00,6.000000,True
59,Burundi,2019,% of population covered by mobile 2G+ data con...,53.65,1.000000,True
65,Belgium,2019,% of population covered by mobile 2G+ data con...,100.00,6.000000,True
71,Benin,2019,% of population covered by mobile 2G+ data con...,98.00,5.784250,True
77,Burkina Faso,2019,% of population covered by mobile 2G+ data con...,97.90,5.773463,True
83,Bangladesh,2019,% of population covered by mobile 2G+ data con...,99.60,5.956850,True
89,Bulgaria,2019,% of population covered by mobile 2G+ data con...,100.00,6.000000,True

In [28]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/infrastructure_{}_scores.csv'.format(indicator, index=False))

In [29]:
### 4. % of population covered by mobile 3G

In [30]:
indicators[3]

# load data
indicator = indicators[3]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population covered by mobile 3G+ data connectivity
countries_mobile_connectivity

In [31]:
df.head(10)

,ISO Code,Country,Region,Year,Cluster,Index,Infrastructure,Affordability,Consumer Readiness,Content and Services,...,Gender gap in mobile ownership,TLDs per capita,E-Government Score,Mobile Social Media Penetration,Apps developed per person,Number of apps in national language,Accessibility of top ranked apps,Cybersecurity Index,data_country,data_year
0,AFG,Afghanistan,South Asia,2014,Discoverer,22.12,21.74,31.79,24.40,14.19,...,0.00,39.55,18.11,3.28,20.98,2.44,4.37,26.50,NaN,NaN
1,AFG,Afghanistan,South Asia,2015,Discoverer,22.99,22.82,30.81,25.28,15.71,...,0.00,39.57,24.27,4.36,22.93,2.79,8.03,25.83,NaN,NaN
2,AFG,Afghanistan,South Asia,2016,Discoverer,23.71,26.92,26.75,26.07,16.83,...,0.00,39.58,30.43,6.73,30.31,2.85,5.90,25.17,NaN,NaN
3,AFG,Afghanistan,South Asia,2017,Discoverer,25.82,33.54,27.22,28.56,17.04,...,0.00,39.47,30.50,7.78,31.62,2.91,6.15,24.50,NaN,NaN
4,AFG,Afghanistan,South Asia,2018,Discoverer,28.39,30.91,42.64,29.24,16.87,...,0.00,39.39,30.56,8.54,36.54,2.96,8.66,17.70,NaN,NaN
5,AFG,Afghanistan,South Asia,2019,Discoverer,28.94,32.34,41.53,29.72,17.58,...,0.00,39.41,41.18,9.39,39.36,3.00,5.72,17.70,NaN,NaN
6,AGO,Angola,Sub-Saharan Africa,2014,Discoverer,32.78,25.99,35.99,44.33,27.85,...,51.65,0.00,29.92,3.99,22.74,53.33,49.09,8.80,NaN,NaN
7,AGO,Angola,Sub-Saharan Africa,2015,Emerging,37.18,33.09,42.01,45.41,30.27,...,57.00,0.31,32.35,5.26,22.12,55.08,58.33,8.47,NaN,NaN
8,AGO,Angola,Sub-Saharan Africa,2016,Emerging,39.85,37.80,44.74,46.47,32.11,...,63.73,0.00,34.78,6.27,27.46,56.52,61.73,8.13,NaN,NaN
9,AGO,Angola,Sub-Saharan Africa,2017,Emerging,42.89,48.60,47.94,46.32,31.36,...,53.97,0.00,37.88,4.26,31.94,57.06,55.09,7.80,NaN,NaN

In [32]:
# filter most recent year
df = df[(df.Year==2019)]

# create standard columns
df.rename(columns={'Country':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['3G Coverage'] 

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [33]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
5,Afghanistan,2019,% of population covered by mobile 3G+ data con...,58.7,3.282895,True
11,Angola,2019,% of population covered by mobile 3G+ data con...,71.0,4.092105,True
17,Albania,2019,% of population covered by mobile 3G+ data con...,97.0,5.802632,True
23,United Arab Emirates,2019,% of population covered by mobile 3G+ data con...,100.0,6.000000,True
29,Argentina,2019,% of population covered by mobile 3G+ data con...,95.0,5.671053,True
35,Armenia,2019,% of population covered by mobile 3G+ data con...,99.0,5.934211,True
41,Australia,2019,% of population covered by mobile 3G+ data con...,99.5,5.967105,True
47,Austria,2019,% of population covered by mobile 3G+ data con...,99.0,5.934211,True
53,Azerbaijan,2019,% of population covered by mobile 3G+ data con...,95.0,5.671053,True
59,Burundi,2019,% of population covered by mobile 3G+ data con...,40.0,2.052632,True
65,Belgium,2019,% of population covered by mobile 3G+ data con...,100.0,6.000000,True
71,Benin,2019,% of population covered by mobile 3G+ data con...,89.0,5.276316,True
77,Burkina Faso,2019,% of population covered by mobile 3G+ data con...,65.0,3.697368,True
83,Bangladesh,2019,% of population covered by mobile 3G+ data con...,95.0,5.671053,True
89,Bulgaria,2019,% of population covered by mobile 3G+ data con...,100.0,6.000000,True

In [34]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/infrastructure_{}_scores.csv'.format(indicator, index=False))

In [35]:
### 5. % of population covered by mobile 4G

In [36]:
indicators[4]

# load data
indicator = indicators[4]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population covered by mobile 4G+ data connectivity
countries_mobile_connectivity

In [37]:
df.head(10)

,ISO Code,Country,Region,Year,Cluster,Index,Infrastructure,Affordability,Consumer Readiness,Content and Services,...,Gender gap in mobile ownership,TLDs per capita,E-Government Score,Mobile Social Media Penetration,Apps developed per person,Number of apps in national language,Accessibility of top ranked apps,Cybersecurity Index,data_country,data_year
0,AFG,Afghanistan,South Asia,2014,Discoverer,22.12,21.74,31.79,24.40,14.19,...,0.00,39.55,18.11,3.28,20.98,2.44,4.37,26.50,NaN,NaN
1,AFG,Afghanistan,South Asia,2015,Discoverer,22.99,22.82,30.81,25.28,15.71,...,0.00,39.57,24.27,4.36,22.93,2.79,8.03,25.83,NaN,NaN
2,AFG,Afghanistan,South Asia,2016,Discoverer,23.71,26.92,26.75,26.07,16.83,...,0.00,39.58,30.43,6.73,30.31,2.85,5.90,25.17,NaN,NaN
3,AFG,Afghanistan,South Asia,2017,Discoverer,25.82,33.54,27.22,28.56,17.04,...,0.00,39.47,30.50,7.78,31.62,2.91,6.15,24.50,NaN,NaN
4,AFG,Afghanistan,South Asia,2018,Discoverer,28.39,30.91,42.64,29.24,16.87,...,0.00,39.39,30.56,8.54,36.54,2.96,8.66,17.70,NaN,NaN
5,AFG,Afghanistan,South Asia,2019,Discoverer,28.94,32.34,41.53,29.72,17.58,...,0.00,39.41,41.18,9.39,39.36,3.00,5.72,17.70,NaN,NaN
6,AGO,Angola,Sub-Saharan Africa,2014,Discoverer,32.78,25.99,35.99,44.33,27.85,...,51.65,0.00,29.92,3.99,22.74,53.33,49.09,8.80,NaN,NaN
7,AGO,Angola,Sub-Saharan Africa,2015,Emerging,37.18,33.09,42.01,45.41,30.27,...,57.00,0.31,32.35,5.26,22.12,55.08,58.33,8.47,NaN,NaN
8,AGO,Angola,Sub-Saharan Africa,2016,Emerging,39.85,37.80,44.74,46.47,32.11,...,63.73,0.00,34.78,6.27,27.46,56.52,61.73,8.13,NaN,NaN
9,AGO,Angola,Sub-Saharan Africa,2017,Emerging,42.89,48.60,47.94,46.32,31.36,...,53.97,0.00,37.88,4.26,31.94,57.06,55.09,7.80,NaN,NaN

In [38]:
# filter most recent year
df = df[(df.Year==2019)]

# create standard columns
df.rename(columns={'Country':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['4G Coverage'] 

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [39]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
5,Afghanistan,2019,% of population covered by mobile 4G+ data con...,15.00,1.7500,True
11,Angola,2019,% of population covered by mobile 4G+ data con...,50.00,3.5000,True
17,Albania,2019,% of population covered by mobile 4G+ data con...,96.00,5.8000,True
23,United Arab Emirates,2019,% of population covered by mobile 4G+ data con...,99.00,5.9500,True
29,Argentina,2019,% of population covered by mobile 4G+ data con...,89.77,5.4885,True
35,Armenia,2019,% of population covered by mobile 4G+ data con...,95.00,5.7500,True
41,Australia,2019,% of population covered by mobile 4G+ data con...,99.20,5.9600,True
47,Austria,2019,% of population covered by mobile 4G+ data con...,99.00,5.9500,True
53,Azerbaijan,2019,% of population covered by mobile 4G+ data con...,90.00,5.5000,True
59,Burundi,2019,% of population covered by mobile 4G+ data con...,25.00,2.2500,True
65,Belgium,2019,% of population covered by mobile 4G+ data con...,100.00,6.0000,True
71,Benin,2019,% of population covered by mobile 4G+ data con...,45.00,3.2500,True
77,Burkina Faso,2019,% of population covered by mobile 4G+ data con...,8.64,1.4320,True
83,Bangladesh,2019,% of population covered by mobile 4G+ data con...,80.00,5.0000,True
89,Bulgaria,2019,% of population covered by mobile 4G+ data con...,100.00,6.0000,True

In [40]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/infrastructure_{}_scores.csv'.format(indicator, index=False))

In [41]:
### 6. % of population covered by mobile 5G

In [42]:
indicators[5]

# load data
indicator = indicators[5]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population covered by mobile 5G+ data connectivity
countries_mobile_connectivity

In [43]:
df.head(10)

,ISO Code,Country,Region,Year,Cluster,Index,Infrastructure,Affordability,Consumer Readiness,Content and Services,...,Gender gap in mobile ownership,TLDs per capita,E-Government Score,Mobile Social Media Penetration,Apps developed per person,Number of apps in national language,Accessibility of top ranked apps,Cybersecurity Index,data_country,data_year
0,AFG,Afghanistan,South Asia,2014,Discoverer,22.12,21.74,31.79,24.40,14.19,...,0.00,39.55,18.11,3.28,20.98,2.44,4.37,26.50,NaN,NaN
1,AFG,Afghanistan,South Asia,2015,Discoverer,22.99,22.82,30.81,25.28,15.71,...,0.00,39.57,24.27,4.36,22.93,2.79,8.03,25.83,NaN,NaN
2,AFG,Afghanistan,South Asia,2016,Discoverer,23.71,26.92,26.75,26.07,16.83,...,0.00,39.58,30.43,6.73,30.31,2.85,5.90,25.17,NaN,NaN
3,AFG,Afghanistan,South Asia,2017,Discoverer,25.82,33.54,27.22,28.56,17.04,...,0.00,39.47,30.50,7.78,31.62,2.91,6.15,24.50,NaN,NaN
4,AFG,Afghanistan,South Asia,2018,Discoverer,28.39,30.91,42.64,29.24,16.87,...,0.00,39.39,30.56,8.54,36.54,2.96,8.66,17.70,NaN,NaN
5,AFG,Afghanistan,South Asia,2019,Discoverer,28.94,32.34,41.53,29.72,17.58,...,0.00,39.41,41.18,9.39,39.36,3.00,5.72,17.70,NaN,NaN
6,AGO,Angola,Sub-Saharan Africa,2014,Discoverer,32.78,25.99,35.99,44.33,27.85,...,51.65,0.00,29.92,3.99,22.74,53.33,49.09,8.80,NaN,NaN
7,AGO,Angola,Sub-Saharan Africa,2015,Emerging,37.18,33.09,42.01,45.41,30.27,...,57.00,0.31,32.35,5.26,22.12,55.08,58.33,8.47,NaN,NaN
8,AGO,Angola,Sub-Saharan Africa,2016,Emerging,39.85,37.80,44.74,46.47,32.11,...,63.73,0.00,34.78,6.27,27.46,56.52,61.73,8.13,NaN,NaN
9,AGO,Angola,Sub-Saharan Africa,2017,Emerging,42.89,48.60,47.94,46.32,31.36,...,53.97,0.00,37.88,4.26,31.94,57.06,55.09,7.80,NaN,NaN

In [44]:
# filter most recent year
df = df[(df.Year==2019)]

# create standard columns
df.rename(columns={'Country':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['5G Coverage'] 

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [45]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
5,Afghanistan,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True
11,Angola,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True
17,Albania,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True
23,United Arab Emirates,2019,% of population covered by mobile 5G+ data con...,100.0,6.0,True
29,Argentina,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True
35,Armenia,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True
41,Australia,2019,% of population covered by mobile 5G+ data con...,100.0,6.0,True
47,Austria,2019,% of population covered by mobile 5G+ data con...,100.0,6.0,True
53,Azerbaijan,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True
59,Burundi,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True
65,Belgium,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True
71,Benin,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True
77,Burkina Faso,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True
83,Bangladesh,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True
89,Bulgaria,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True

In [46]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/infrastructure_{}_scores.csv'.format(indicator, index=False))

In [47]:
### 7. Mobile Coverage Maps

In [48]:
indicators[6]

# load data
indicator = indicators[6]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Mobile Coverage Maps
ITU_database

In [49]:
df.head(15)

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
0,Angola,Africa,AGO,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
1,Benin,Africa,BEN,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
2,Botswana,Africa,BWA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
3,Burkina Faso,Africa,BFA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
4,Burundi,Africa,BDI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
5,Cabo Verde,Africa,CPV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
6,Cameroon,Africa,CMR,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
7,Central African Rep.,Africa,CAF,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
8,Chad,Africa,TCD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
9,Congo (Rep. of the),Africa,COG,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
10,Côte d'Ivoire,Africa,CIV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
11,Dem. Rep. of the Congo,Africa,COD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
12,Equatorial Guinea,Africa,GNQ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
13,Eritrea,Africa,ERI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
14,Eswatini,Africa,SWZ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN

In [50]:
df = df[(df.Year == 2020)]
df = df[(df['Indicator name']== 'Mobile-cellular subscriptions per 100 inhabitants')]
df

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
32475,Angola,Africa,AGO,Mobile-cellular subscriptions per 100 inhabitants,2020.0,44.559511,NaN,NaN
32476,Benin,Africa,BEN,Mobile-cellular subscriptions per 100 inhabitants,2020.0,91.897280,NaN,NaN
32477,Botswana,Africa,BWA,Mobile-cellular subscriptions per 100 inhabitants,2020.0,162.399011,NaN,NaN
32478,Burkina Faso,Africa,BFA,Mobile-cellular subscriptions per 100 inhabitants,2020.0,105.807440,NaN,NaN
32479,Burundi,Africa,BDI,Mobile-cellular subscriptions per 100 inhabitants,2020.0,55.767172,NaN,NaN
...,...,...,...,...,...,...,...,...
32666,Suriname,The Americas,SUR,Mobile-cellular subscriptions per 100 inhabitants,2020.0,153.305479,NaN,NaN
32667,Trinidad and Tobago,The Americas,TTO,Mobile-cellular subscriptions per 100 inhabitants,2020.0,142.051665,NaN,NaN
32668,United States,The Americas,USA,Mobile-cellular subscriptions per 100 inhabitants,2020.0,NaN,NaN,NaN
32669,Uruguay,The Americas,URY,Mobile-cellular subscriptions per 100 inhabitants,2020.0,NaN,NaN,NaN
32670,Venezuela,The Americas,VEN,Mobile-cellular subscriptions per 100 inhabitants,2020.0,63.400007,NaN,NaN

In [51]:
# create standard columns
df.rename(columns={'Country':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Value'] 

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [52]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
32475,Angola,2020.0,Mobile Coverage Maps,44.559511,1.012692,True
32476,Benin,2020.0,Mobile Coverage Maps,91.897280,1.968150,True
32477,Botswana,2020.0,Mobile Coverage Maps,162.399011,3.391146,True
32478,Burkina Faso,2020.0,Mobile Coverage Maps,105.807440,2.248911,True
32479,Burundi,2020.0,Mobile Coverage Maps,55.767172,1.238906,True
32480,Cabo Verde,2020.0,Mobile Coverage Maps,97.975133,2.090825,True
32481,Cameroon,2020.0,Mobile Coverage Maps,95.100069,2.032795,True
32482,Central African Rep.,2020.0,Mobile Coverage Maps,NaN,NaN,True
32483,Chad,2020.0,Mobile Coverage Maps,52.887026,1.180774,True
32484,Congo (Rep. of the),2020.0,Mobile Coverage Maps,NaN,NaN,True
32485,Côte d'Ivoire,2020.0,Mobile Coverage Maps,152.001022,3.181275,True
32486,Dem. Rep. of the Congo,2020.0,Mobile Coverage Maps,45.553547,1.032756,True
32487,Equatorial Guinea,2020.0,Mobile Coverage Maps,NaN,NaN,True
32488,Eritrea,2020.0,Mobile Coverage Maps,NaN,NaN,True
32489,Eswatini,2020.0,Mobile Coverage Maps,NaN,NaN,True

In [53]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/infrastructure_{}_scores.csv'.format(indicator, index=False))

In [54]:
### 8. Electricity Density

In [55]:
indicators[7]

# load data
indicator = indicators[7]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Electricity Density
electricity_yearbook

In [56]:
df.head(20)

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2013,2014,2015,2016,2017,Unnamed: 28,2016 - 2017 (%),2000 - 2017 (%/year),data_country,data_year
0,11894.0,12173.0,12284.0,12574.0,12881.0,13327.0,13754.0,14045.0,14414.0,14823.0,...,23424.0,23910.0,24317.0,24918.0,25592.0,World,2.7,3.0,World,World
1,7712.0,7900.0,7975.0,8160.0,8389.0,8646.0,8889.0,9014.0,9244.0,9451.0,...,10902.0,10875.0,10914.0,10967.0,11069.0,OECD,0.9,0.7,OECD,OECD
2,6089.0,6236.0,6277.0,6414.0,6578.0,6760.0,6944.0,6985.0,7142.0,7272.0,...,7897.0,7876.0,7867.0,7848.0,7898.0,G7,0.6,0.3,G7,G7
3,2386.0,2468.0,2510.0,2583.0,2637.0,2754.0,2863.0,2961.0,3026.0,3170.0,...,8524.0,8880.0,9142.0,9550.0,10000.0,BRICS,4.7,6.6,BRICS,BRICS
4,2900.0,2937.0,2926.0,2931.0,2976.0,3071.0,3164.0,3199.0,3280.0,3327.0,...,3813.0,3744.0,3802.0,3839.0,3886.0,Europe,1.2,0.7,Europe,Europe
5,2595.0,2640.0,2624.0,2626.0,2667.0,2744.0,2846.0,2857.0,2923.0,2955.0,...,3269.0,3191.0,3234.0,3253.0,3275.0,European Union,0.7,0.4,European Union,European Union
6,71.0,72.0,72.0,71.0,72.0,74.0,76.0,79.0,83.0,85.0,...,83.0,73.0,71.0,86.0,87.0,Belgium,0.5,0.2,Belgium,Belgium
7,63.0,61.0,59.0,59.0,59.0,61.0,64.0,65.0,65.0,65.0,...,87.0,86.0,84.0,83.0,87.0,Czech Rep.,4.5,1.0,Czech Rep.,Czech Rep.
8,421.0,456.0,464.0,473.0,477.0,494.0,513.0,505.0,511.0,526.0,...,572.0,564.0,568.0,553.0,551.0,France,-0.4,0.1,France,France
9,550.0,540.0,537.0,526.0,529.0,537.0,555.0,552.0,556.0,556.0,...,639.0,628.0,647.0,648.0,653.0,Germany,0.6,0.7,Germany,Germany
10,217.0,222.0,226.0,223.0,232.0,241.0,244.0,251.0,260.0,266.0,...,290.0,280.0,283.0,289.0,295.0,Italy,1.9,0.4,Italy,Italy
11,72.0,74.0,77.0,77.0,80.0,81.0,85.0,87.0,91.0,87.0,...,102.0,103.0,110.0,115.0,117.0,Netherlands,1.3,1.6,Netherlands,Netherlands
12,136.0,135.0,133.0,134.0,135.0,139.0,143.0,143.0,143.0,142.0,...,165.0,159.0,165.0,167.0,171.0,Poland,2.4,1.0,Poland,Poland
13,29.0,30.0,30.0,31.0,31.0,33.0,35.0,34.0,39.0,43.0,...,52.0,53.0,52.0,60.0,60.0,Portugal,0.0,1.9,Portugal,Portugal
14,64.0,57.0,54.0,55.0,55.0,59.0,61.0,57.0,53.0,51.0,...,59.0,66.0,66.0,67.0,64.0,Romania,-3.7,1.2,Romania,Romania
15,152.0,156.0,159.0,157.0,162.0,167.0,174.0,190.0,195.0,208.0,...,286.0,279.0,281.0,275.0,275.0,Spain,0.2,1.2,Spain,Spain
16,147.0,147.0,146.0,146.0,143.0,148.0,141.0,149.0,159.0,155.0,...,153.0,154.0,162.0,155.0,163.0,Sweden,5.0,0.7,Sweden,Sweden
17,320.0,323.0,321.0,323.0,326.0,334.0,351.0,351.0,363.0,368.0,...,358.0,338.0,339.0,339.0,336.0,United Kingdom,-1.0,-0.7,United Kingdom,United Kingdom
18,122.0,111.0,118.0,120.0,113.0,123.0,105.0,112.0,117.0,123.0,...,134.0,142.0,145.0,150.0,149.0,Norway,-0.2,0.3,Norway,Norway
19,58.0,60.0,67.0,74.0,78.0,86.0,95.0,103.0,111.0,116.0,...,240.0,252.0,262.0,274.0,296.0,Turkey,7.7,5.2,Turkey,Turkey

In [57]:
# create standard columns
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['2017'] 
df['Country Name'] = df['Unnamed: 28']
df['Year'] = 2017

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [58]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
0,World,2017,Electricity Density,25592.0,6.000000,True
1,OECD,2017,Electricity Density,11069.0,3.159482,True
2,G7,2017,Electricity Density,7898.0,2.539274,True
3,BRICS,2017,Electricity Density,10000.0,2.950399,True
4,Europe,2017,Electricity Density,3886.0,1.754577,True
5,European Union,2017,Electricity Density,3275.0,1.635073,True
6,Belgium,2017,Electricity Density,87.0,1.011540,True
7,Czech Rep.,2017,Electricity Density,87.0,1.011540,True
8,France,2017,Electricity Density,551.0,1.102292,True
9,Germany,2017,Electricity Density,653.0,1.122242,True
10,Italy,2017,Electricity Density,295.0,1.052222,True
11,Netherlands,2017,Electricity Density,117.0,1.017407,True
12,Poland,2017,Electricity Density,171.0,1.027969,True
13,Portugal,2017,Electricity Density,60.0,1.006259,True
14,Romania,2017,Electricity Density,64.0,1.007041,True

In [59]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/infrastructure_{}_scores.csv'.format(indicator, index=False))

In [60]:
### 9. % of population covered by electricity

In [61]:
indicators[8]

# load data
indicator = indicators[8]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population covered by electricity
population_electricity_coverage

In [62]:
df.head(15)

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2017,2018,2019,2020,Country Name,Country Code,Indicator Name,Indicator Code,data_country,data_year
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,NaN,Aruba,ABW,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,39.754201,42.168241,43.640661,NaN,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,97.700000,98.715622,97.700000,NaN,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48.848205,51.253253,51.341421,NaN,Africa Western and Central,AFW,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,43.001610,45.290000,45.670315,NaN,Angola,AGO,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.890000,100.000000,100.000000,NaN,Albania,ALB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,NaN,Andorra,AND,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,89.623427,88.306324,89.512282,NaN,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,NaN,United Arab Emirates,ARE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,NaN,Argentina,ARG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.700000,99.900000,100.000000,NaN,Armenia,ARM,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,American Samoa,ASM,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,99.999725,100.000000,NaN,Antigua and Barbuda,ATG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,NaN,Australia,AUS,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,NaN,Austria,AUT,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN

In [63]:
# create standard columns
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['2019'] 
df['Year'] = 2019

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [64]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
0,Aruba,2019,% of population covered by electricity,100.000000,6.000000,True
1,Africa Eastern and Southern,2019,% of population covered by electricity,43.640661,2.979006,True
2,Afghanistan,2019,% of population covered by electricity,97.700000,5.876715,True
3,Africa Western and Central,2019,% of population covered by electricity,51.341421,3.391785,True
4,Angola,2019,% of population covered by electricity,45.670315,3.087800,True
5,Albania,2019,% of population covered by electricity,100.000000,6.000000,True
6,Andorra,2019,% of population covered by electricity,100.000000,6.000000,True
7,Arab World,2019,% of population covered by electricity,89.512282,5.437834,True
8,United Arab Emirates,2019,% of population covered by electricity,100.000000,6.000000,True
9,Argentina,2019,% of population covered by electricity,100.000000,6.000000,True
10,Armenia,2019,% of population covered by electricity,100.000000,6.000000,True
11,American Samoa,2019,% of population covered by electricity,NaN,NaN,True
12,Antigua and Barbuda,2019,% of population covered by electricity,100.000000,6.000000,True
13,Australia,2019,% of population covered by electricity,100.000000,6.000000,True
14,Austria,2019,% of population covered by electricity,100.000000,6.000000,True

In [65]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/infrastructure_{}_scores.csv'.format(indicator, index=False))

In [66]:
### 10. Electricity Supply Quality

In [67]:
indicators[9]

# load data
indicator = indicators[9]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Electricity supply quality
elect_supply_quality

In [68]:
df.head(10)

,Unnamed: 0,AGO,ALB,ARE,ARG,ARM,AUS,AUT,AZE,BDI,...,GCREURASIA,GCREAP,GCRSASIA,LIC,LMC,UMC,HIC,AVG,data_country,data_year
0,Attribute,Angola,Albania,United Arab Emirates,Argentina,Armenia,Australia,Austria,Azerbaijan,Burundi,...,Eurasia,East Asia and Pacific,South Asia,Low-income,Lower-middle-income,Upper-middle-income,High-income,Sample average,Attribute,Attribute
1,VALUE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VALUE,VALUE
2,RANK,136,81,25,83,69,16,21,58,135,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,RANK,RANK
3,SCORE,38.11248593,57.61416881,75.00738794,57.20132859,61.27687643,78.74662637,76.60913087,62.71789348,40.25234131,...,59.37969533,69.86862667,54.70460508,43.7445505,51.94942309,59.7912297,72.78080961,60.6396938,SCORE,SCORE
4,DATE DESCRIPTION,2019 edition,2019 edition,2019 edition,2019 edition,2019 edition,2019 edition,2019 edition,2019 edition,2019 edition,...,2019 edition,2019 edition,2019 edition,2019 edition,2019 edition,2019 edition,2019 edition,2019 edition,DATE DESCRIPTION,DATE DESCRIPTION
5,SOURCE,"World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...",...,"World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...",SOURCE,SOURCE
6,SOURCE DATE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SOURCE DATE,SOURCE DATE
7,NOTE,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,NOTE,NOTE
8,VALUE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VALUE,VALUE
9,RANK,136,88,3,109,62,22,20,64,134,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,RANK,RANK

In [69]:
# The data needs to be transposed as countries are now in columns, not rows, which could present problems for later.

In [70]:
### 11. Electricity Environmental Sustainability

In [71]:
indicators[10]

# load data
indicator = indicators[10]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Electricity Environmental Sustainability
sustainability_index

In [72]:
df.head(15)

,Country Code ISO3,Country,2021 SDG Index Score,2021 SDG Index Rank,Percentage missing values,Spillover Score (0-100),Regional Score (0-100),Regions used for the SDR,Population in 2020,Goal 1 Dash,...,Goal 10 Regional Score,Goal 11 Regional Score,Goal 12 Regional Score,Goal 13 Regional Score,Goal 14 Regional Score,Goal 15 Regional Score,Goal 16 Regional Score,Goal 17 Regional Score,data_country,data_year
0,AFG,Afghanistan,53.9,137.0,9.3,99.3,71.4,E. Europe & C. Asia,"38,928,341",grey,...,72.362762,76.443228,77.629345,83.041913,58.865821,69.499564,72.403938,63.386460,NaN,NaN
1,AGO,Angola,50.3,154.0,0.0,97.0,51.9,Africa,"32,866,268",red,...,37.334205,52.728915,88.024702,96.266527,68.010492,66.835003,56.050983,51.652955,NaN,NaN
2,ALB,Albania,71.0,64.0,3.3,94.3,71.4,E. Europe & C. Asia,"2,877,800",yellow,...,72.362762,76.443228,77.629345,83.041913,58.865821,69.499564,72.403938,63.386460,NaN,NaN
3,AND,Andorra,NaN,NaN,51.2,NaN,71.4,E. Europe & C. Asia,"77,265",grey,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ARE,United Arab Emirates,70.2,71.0,11.0,38.8,67.1,MENA,"9,890,400",green,...,66.178091,58.928271,76.842146,71.475510,62.776615,57.356212,69.093831,56.231255,NaN,NaN
5,ARG,Argentina,72.8,52.0,1.1,94.5,68.6,LAC,"45,195,777",yellow,...,27.901676,77.087594,76.727283,85.373283,62.781114,60.904217,60.888934,64.295156,NaN,NaN
6,ARM,Armenia,71.8,58.0,3.5,96.7,71.4,E. Europe & C. Asia,"2,963,234",yellow,...,72.362762,76.443228,77.629345,83.041913,58.865821,69.499564,72.403938,63.386460,NaN,NaN
7,ATG,Antigua and Barbuda,NaN,NaN,30.8,NaN,68.6,LAC,"97,928",grey,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,AUS,Australia,75.6,35.0,1.1,63.9,77.2,OECD,"25,499,881",yellow,...,74.475203,88.911367,58.055279,64.112721,63.360546,74.102776,82.316815,65.773824,NaN,NaN
9,AUT,Austria,82.1,6.0,3.5,59.5,77.2,OECD,"9,006,400",green,...,74.475203,88.911367,58.055279,64.112721,63.360546,74.102776,82.316815,65.773824,NaN,NaN
10,AZE,Azerbaijan,72.4,55.0,7.0,97.6,71.4,E. Europe & C. Asia,"10,139,175",green,...,72.362762,76.443228,77.629345,83.041913,58.865821,69.499564,72.403938,63.386460,NaN,NaN
11,BDI,Burundi,51.8,147.0,7.0,99.8,51.9,Africa,"11,890,781",red,...,37.334205,52.728915,88.024702,96.266527,68.010492,66.835003,56.050983,51.652955,NaN,NaN
12,BEL,Belgium,82.2,5.0,4.4,62.0,77.2,OECD,"11,589,616",green,...,74.475203,88.911367,58.055279,64.112721,63.360546,74.102776,82.316815,65.773824,NaN,NaN
13,BEN,Benin,49.9,155.0,4.4,98.8,51.9,Africa,"12,123,198",red,...,37.334205,52.728915,88.024702,96.266527,68.010492,66.835003,56.050983,51.652955,NaN,NaN
14,BFA,Burkina Faso,53.5,139.0,1.2,99.4,51.9,Africa,"20,903,278",red,...,37.334205,52.728915,88.024702,96.266527,68.010492,66.835003,56.050983,51.652955,NaN,NaN

In [73]:
# create standard columns
df.rename(columns={'Country':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['2021 SDG Index Score'] 
df['Year'] = 2021

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [74]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
0,Afghanistan,2021,Electricity Environmental Sustainability,53.9,2.638655,True
1,Angola,2021,Electricity Environmental Sustainability,50.3,2.260504,True
2,Albania,2021,Electricity Environmental Sustainability,71.0,4.434874,True
3,Andorra,2021,Electricity Environmental Sustainability,NaN,NaN,True
4,United Arab Emirates,2021,Electricity Environmental Sustainability,70.2,4.350840,True
5,Argentina,2021,Electricity Environmental Sustainability,72.8,4.623950,True
6,Armenia,2021,Electricity Environmental Sustainability,71.8,4.518908,True
7,Antigua and Barbuda,2021,Electricity Environmental Sustainability,NaN,NaN,True
8,Australia,2021,Electricity Environmental Sustainability,75.6,4.918067,True
9,Austria,2021,Electricity Environmental Sustainability,82.1,5.600840,True
10,Azerbaijan,2021,Electricity Environmental Sustainability,72.4,4.581933,True
11,Burundi,2021,Electricity Environmental Sustainability,51.8,2.418067,True
12,Belgium,2021,Electricity Environmental Sustainability,82.2,5.611345,True
13,Benin,2021,Electricity Environmental Sustainability,49.9,2.218487,True
14,Burkina Faso,2021,Electricity Environmental Sustainability,53.5,2.596639,True

In [75]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/infrastructure_{}_scores.csv'.format(indicator, index=False))

In [76]:
### 12. Cellphone Signal Density

In [77]:
indicators[11]

# load data
indicator = indicators[11]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Cellphone Signal Density
mobile_density

In [78]:
df.head(10)

,Unnamed: 0,ISO Code,Country,Region,Year,Network coverage
0,1,AFG,Afghanistan,South Asia,2014,28.919998
1,2,AFG,Afghanistan,South Asia,2015,31.799999
2,3,AFG,Afghanistan,South Asia,2016,33.040001
3,4,AFG,Afghanistan,South Asia,2017,36.340000
4,5,AFG,Afghanistan,South Asia,2018,30.931999
5,6,AFG,Afghanistan,South Asia,2019,38.480000
6,7,AGO,Angola,Sub-Saharan Africa,2014,51.445770
7,8,AGO,Angola,Sub-Saharan Africa,2015,53.906952
8,9,AGO,Angola,Sub-Saharan Africa,2016,61.174950
9,10,AGO,Angola,Sub-Saharan Africa,2017,60.800003

In [79]:
df = df[(df.Year == 2019)]

# create standard columns
df.rename(columns={'Country':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Network coverage'] 

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [80]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
5,Afghanistan,2019,Cellphone Signal Density,38.480000,2.117926,True
11,Angola,2019,Cellphone Signal Density,57.400002,3.311828,True
17,Albania,2019,Cellphone Signal Density,87.186005,5.191403,True
23,United Arab Emirates,2019,Cellphone Signal Density,99.599998,5.974759,True
29,Argentina,2019,Cellphone Signal Density,83.708000,4.971932,True
35,Armenia,2019,Cellphone Signal Density,87.599998,5.217527,True
41,Australia,2019,Cellphone Signal Density,99.419998,5.963400,True
47,Austria,2019,Cellphone Signal Density,99.099998,5.943208,True
53,Azerbaijan,2019,Cellphone Signal Density,84.000000,4.990358,True
59,Burundi,2019,Cellphone Signal Density,31.365000,1.668951,True
65,Belgium,2019,Cellphone Signal Density,90.000000,5.368974,True
71,Benin,2019,Cellphone Signal Density,63.399998,3.690444,True
77,Burkina Faso,2019,Cellphone Signal Density,39.245998,2.166263,True
83,Bangladesh,2019,Cellphone Signal Density,79.959999,4.735423,True
89,Bulgaria,2019,Cellphone Signal Density,90.000000,5.368974,True

In [81]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/infrastructure_{}_scores.csv'.format(indicator, index=False))

In [82]:
### 13. Telecommunication Infrastructure Index (TII)

In [83]:
indicators[12]

# load data
indicator = indicators[12]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Telecommunication Infrastructure Index (TII)
e_government_index

In [84]:
df.head(10)

,Survey Year,Country Name,E-Government Rank,E-Government Index,E-Participation Index,Online Service Index,Human Capital Index,Telecommunication Infrastructure Index
0,2020,Iraq,143,0.4360,0.3095,0.3353,0.4358,0.5370
1,2020,Ireland,27,0.8433,0.8571,0.7706,0.9494,0.8100
2,2020,Israel,30,0.8361,0.7143,0.7471,0.8924,0.8689
3,2020,Italy,37,0.8231,0.8214,0.8294,0.8466,0.7932
4,2020,Jamaica,114,0.5392,0.3690,0.3882,0.7142,0.5151
5,2020,Japan,14,0.8989,0.9881,0.9059,0.8684,0.9223
6,2020,Jordan,117,0.5309,0.3333,0.3588,0.6800,0.5540
7,2020,Kazakhstan,29,0.8375,0.8810,0.9235,0.8866,0.7024
8,2020,Kenya,116,0.5326,0.5952,0.6765,0.5812,0.3402
9,2020,Kiribati,145,0.4320,0.5595,0.4941,0.6778,0.1241

In [85]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Telecommunication Infrastructure Index'] 
df['Year'] = df['Survey Year']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [86]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
0,Iraq,2020,Telecommunication Infrastructure Index (TII),0.5370,3.6850,True
1,Ireland,2020,Telecommunication Infrastructure Index (TII),0.8100,5.0500,True
2,Israel,2020,Telecommunication Infrastructure Index (TII),0.8689,5.3445,True
3,Italy,2020,Telecommunication Infrastructure Index (TII),0.7932,4.9660,True
4,Jamaica,2020,Telecommunication Infrastructure Index (TII),0.5151,3.5755,True
5,Japan,2020,Telecommunication Infrastructure Index (TII),0.9223,5.6115,True
6,Jordan,2020,Telecommunication Infrastructure Index (TII),0.5540,3.7700,True
7,Kazakhstan,2020,Telecommunication Infrastructure Index (TII),0.7024,4.5120,True
8,Kenya,2020,Telecommunication Infrastructure Index (TII),0.3402,2.7010,True
9,Kiribati,2020,Telecommunication Infrastructure Index (TII),0.1241,1.6205,True
10,Kuwait,2020,Telecommunication Infrastructure Index (TII),0.7858,4.9290,True
11,Kyrgyzstan,2020,Telecommunication Infrastructure Index (TII),0.5902,3.9510,True
12,Lao People's Democratic Republic,2020,Telecommunication Infrastructure Index (TII),0.2383,2.1915,True
13,Latvia,2020,Telecommunication Infrastructure Index (TII),0.8399,5.1995,True
14,Lebanon,2020,Telecommunication Infrastructure Index (TII),0.4123,3.0615,True

In [87]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/infrastructure_{}_scores.csv'.format(indicator, index=False))

In [88]:
### 14. GSMA Mobile Connectivity Index

In [89]:
indicators[13]

# load data
indicator = indicators[13]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

GSMA Mobile Connectivity Index
countries_mobile_connectivity

In [90]:
df.head(10)

,ISO Code,Country,Region,Year,Cluster,Index,Infrastructure,Affordability,Consumer Readiness,Content and Services,...,Gender gap in mobile ownership,TLDs per capita,E-Government Score,Mobile Social Media Penetration,Apps developed per person,Number of apps in national language,Accessibility of top ranked apps,Cybersecurity Index,data_country,data_year
0,AFG,Afghanistan,South Asia,2014,Discoverer,22.12,21.74,31.79,24.40,14.19,...,0.00,39.55,18.11,3.28,20.98,2.44,4.37,26.50,NaN,NaN
1,AFG,Afghanistan,South Asia,2015,Discoverer,22.99,22.82,30.81,25.28,15.71,...,0.00,39.57,24.27,4.36,22.93,2.79,8.03,25.83,NaN,NaN
2,AFG,Afghanistan,South Asia,2016,Discoverer,23.71,26.92,26.75,26.07,16.83,...,0.00,39.58,30.43,6.73,30.31,2.85,5.90,25.17,NaN,NaN
3,AFG,Afghanistan,South Asia,2017,Discoverer,25.82,33.54,27.22,28.56,17.04,...,0.00,39.47,30.50,7.78,31.62,2.91,6.15,24.50,NaN,NaN
4,AFG,Afghanistan,South Asia,2018,Discoverer,28.39,30.91,42.64,29.24,16.87,...,0.00,39.39,30.56,8.54,36.54,2.96,8.66,17.70,NaN,NaN
5,AFG,Afghanistan,South Asia,2019,Discoverer,28.94,32.34,41.53,29.72,17.58,...,0.00,39.41,41.18,9.39,39.36,3.00,5.72,17.70,NaN,NaN
6,AGO,Angola,Sub-Saharan Africa,2014,Discoverer,32.78,25.99,35.99,44.33,27.85,...,51.65,0.00,29.92,3.99,22.74,53.33,49.09,8.80,NaN,NaN
7,AGO,Angola,Sub-Saharan Africa,2015,Emerging,37.18,33.09,42.01,45.41,30.27,...,57.00,0.31,32.35,5.26,22.12,55.08,58.33,8.47,NaN,NaN
8,AGO,Angola,Sub-Saharan Africa,2016,Emerging,39.85,37.80,44.74,46.47,32.11,...,63.73,0.00,34.78,6.27,27.46,56.52,61.73,8.13,NaN,NaN
9,AGO,Angola,Sub-Saharan Africa,2017,Emerging,42.89,48.60,47.94,46.32,31.36,...,53.97,0.00,37.88,4.26,31.94,57.06,55.09,7.80,NaN,NaN

In [91]:
# filter most recent year
df = df[(df.Year==2019)]

# create standard columns
df.rename(columns={'Country':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Index'] 

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [92]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
5,Afghanistan,2019,GSMA Mobile Connectivity Index,28.94,2.041533,True
11,Angola,2019,GSMA Mobile Connectivity Index,43.53,2.979555,True
17,Albania,2019,GSMA Mobile Connectivity Index,67.89,4.545712,True
23,United Arab Emirates,2019,GSMA Mobile Connectivity Index,78.23,5.210492,True
29,Argentina,2019,GSMA Mobile Connectivity Index,67.16,4.498778,True
35,Armenia,2019,GSMA Mobile Connectivity Index,56.24,3.796708,True
41,Australia,2019,GSMA Mobile Connectivity Index,90.51,6.000000,True
47,Austria,2019,GSMA Mobile Connectivity Index,84.21,5.594959,True
53,Azerbaijan,2019,GSMA Mobile Connectivity Index,58.28,3.927864,True
59,Burundi,2019,GSMA Mobile Connectivity Index,26.16,1.862801,True
65,Belgium,2019,GSMA Mobile Connectivity Index,82.56,5.488877,True
71,Benin,2019,GSMA Mobile Connectivity Index,39.07,2.692812,True
77,Burkina Faso,2019,GSMA Mobile Connectivity Index,32.44,2.266555,True
83,Bangladesh,2019,GSMA Mobile Connectivity Index,46.47,3.168574,True
89,Bulgaria,2019,GSMA Mobile Connectivity Index,70.37,4.705156,True

In [93]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/infrastructure_{}_scores.csv'.format(indicator, index=False))

In [94]:
### 15. Spectrum Allocated to Mobile Providers

In [95]:
indicators[14]

# load data
indicator = indicators[14]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Spectrum Allocated to Mobile Providers
spectrum_allocated_mobile_providers

In [96]:
df.head(15)

,ISO Code,Country,Region,Year,Cluster,Index,Infrastructure,Affordability,Consumer Readiness,Content and Services,...,Gender gap in mobile ownership,TLDs per capita,E-Government Score,Mobile Social Media Penetration,Apps developed per person,Number of apps in national language,Accessibility of top ranked apps,Cybersecurity Index,data_country,data_year
0,AFG,Afghanistan,South Asia,2014,Discoverer,22.12,21.74,31.79,24.40,14.19,...,0.00,39.55,18.11,3.28,20.98,2.44,4.37,26.50,NaN,NaN
1,AFG,Afghanistan,South Asia,2015,Discoverer,22.99,22.82,30.81,25.28,15.71,...,0.00,39.57,24.27,4.36,22.93,2.79,8.03,25.83,NaN,NaN
2,AFG,Afghanistan,South Asia,2016,Discoverer,23.71,26.92,26.75,26.07,16.83,...,0.00,39.58,30.43,6.73,30.31,2.85,5.90,25.17,NaN,NaN
3,AFG,Afghanistan,South Asia,2017,Discoverer,25.82,33.54,27.22,28.56,17.04,...,0.00,39.47,30.50,7.78,31.62,2.91,6.15,24.50,NaN,NaN
4,AFG,Afghanistan,South Asia,2018,Discoverer,28.39,30.91,42.64,29.24,16.87,...,0.00,39.39,30.56,8.54,36.54,2.96,8.66,17.70,NaN,NaN
5,AFG,Afghanistan,South Asia,2019,Discoverer,28.94,32.34,41.53,29.72,17.58,...,0.00,39.41,41.18,9.39,39.36,3.00,5.72,17.70,NaN,NaN
6,AGO,Angola,Sub-Saharan Africa,2014,Discoverer,32.78,25.99,35.99,44.33,27.85,...,51.65,0.00,29.92,3.99,22.74,53.33,49.09,8.80,NaN,NaN
7,AGO,Angola,Sub-Saharan Africa,2015,Emerging,37.18,33.09,42.01,45.41,30.27,...,57.00,0.31,32.35,5.26,22.12,55.08,58.33,8.47,NaN,NaN
8,AGO,Angola,Sub-Saharan Africa,2016,Emerging,39.85,37.80,44.74,46.47,32.11,...,63.73,0.00,34.78,6.27,27.46,56.52,61.73,8.13,NaN,NaN
9,AGO,Angola,Sub-Saharan Africa,2017,Emerging,42.89,48.60,47.94,46.32,31.36,...,53.97,0.00,37.88,4.26,31.94,57.06,55.09,7.80,NaN,NaN
10,AGO,Angola,Sub-Saharan Africa,2018,Emerging,42.46,47.61,46.28,47.61,30.98,...,63.34,0.00,40.97,5.39,35.36,57.13,47.25,9.70,NaN,NaN
11,AGO,Angola,Sub-Saharan Africa,2019,Emerging,43.53,48.18,47.65,48.13,32.50,...,57.71,0.77,48.82,6.82,41.20,57.98,46.19,9.70,NaN,NaN
12,ALB,Albania,Europe & Central Asia,2014,Transitioner,53.74,41.32,55.95,74.94,48.13,...,68.42,53.41,44.88,39.75,66.65,60.33,56.55,20.60,NaN,NaN
13,ALB,Albania,Europe & Central Asia,2015,Transitioner,57.42,52.09,54.60,75.56,50.57,...,68.42,57.45,52.15,40.61,65.99,63.29,57.56,24.20,NaN,NaN
14,ALB,Albania,Europe & Central Asia,2016,Transitioner,60.24,57.44,54.45,75.97,55.41,...,67.39,58.70,59.42,48.07,69.64,65.57,65.80,27.80,NaN,NaN

In [97]:
# filter most recent year
df = df[(df.Year==2019)]

# create standard columns
df.rename(columns={'Country':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Spectrum'] 

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [98]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
5,Afghanistan,2019,Spectrum Allocated to Mobile Providers,17.62,1.577685,True
11,Angola,2019,Spectrum Allocated to Mobile Providers,48.22,3.261224,True
17,Albania,2019,Spectrum Allocated to Mobile Providers,52.85,3.515955,True
23,United Arab Emirates,2019,Spectrum Allocated to Mobile Providers,82.44,5.143926,True
29,Argentina,2019,Spectrum Allocated to Mobile Providers,63.38,4.095290,True
35,Armenia,2019,Spectrum Allocated to Mobile Providers,21.43,1.787302,True
41,Australia,2019,Spectrum Allocated to Mobile Providers,75.45,4.759353,True
47,Austria,2019,Spectrum Allocated to Mobile Providers,73.33,4.642716,True
53,Azerbaijan,2019,Spectrum Allocated to Mobile Providers,15.36,1.453345,True
59,Burundi,2019,Spectrum Allocated to Mobile Providers,16.29,1.504511,True
65,Belgium,2019,Spectrum Allocated to Mobile Providers,58.62,3.833407,True
71,Benin,2019,Spectrum Allocated to Mobile Providers,61.31,3.981404,True
77,Burkina Faso,2019,Spectrum Allocated to Mobile Providers,23.82,1.918794,True
83,Bangladesh,2019,Spectrum Allocated to Mobile Providers,19.97,1.706976,True
89,Bulgaria,2019,Spectrum Allocated to Mobile Providers,27.49,2.120709,True

In [99]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/infrastructure_{}_scores.csv'.format(indicator, index=False))

In [100]:
### 16. Internet Exchange Points (IXPs)

In [101]:
indicators[15]

# load data
indicator = indicators[15]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Internet Exchange Points (IXPs) map
countries_ixp

In [102]:
df['Country Name'] = df['Country']
df.head(15)

,Region,Country,City,IXP Name,Participants,Peak,Avg,IPv6,Prefixes,Established,URL,Country Name
0,Asia-Pacific,Afghanistan,Kabul,National Internet Exchange of Afghanistan,20,6.4G,2.19G,NaN,NaN,18-Jul,NaN,Afghanistan
1,Europe,Albania,Tirana,Albanian Neutral Internet eXchange,16,2.42G,35M,NaN,NaN,2018,NaN,Albania
2,NaN,Albania,Tirana,Albania IX,0,NaN,NaN,NaN,NaN,2011,NaN,Albania
3,Africa,Algeria,Algiers,Algeria Internet Exchange,0,NaN,NaN,NaN,NaN,NaN,NaN,Algeria
4,NaN,Angola,Luanda,Angola Internet Exchange,21,1.6G,NaN,NaN,512.0,17-Mar-06,NaN,Angola
5,NaN,Angola,Luanda,Ponto de Intercambio Internet Angola,0,NaN,NaN,NaN,NaN,NaN,NaN,Angola
6,NaN,Angola,Luanda,ANGONIX,21,16G,NaN,NaN,5495.0,9-Mar-15,NaN,Angola
7,Latin America,Argentina,Bahía Blanca,CABASE IXP Bahía Blanca,15,713M,NaN,NaN,NaN,27-Apr-13,NaN,Argentina
8,NaN,Argentina,Bariloche,CABASE IXP Bariloche,8,NaN,NaN,NaN,NaN,15-Sep-14,NaN,Argentina
9,NaN,Argentina,Buenos Aires,CABASE IXP Buenos Aires,125,9.19G,NaN,NaN,17224.0,1-Apr-98,NaN,Argentina
10,NaN,Argentina,Buenos Aires,Cubecorp,0,NaN,NaN,NaN,NaN,NaN,NaN,Argentina
11,NaN,Argentina,Buenos Aires,CABASE IXP Ruteo Central,0,NaN,NaN,NaN,NaN,NaN,NaN,Argentina
12,NaN,Argentina,Buenos Aires,CABASE IXP Oeste de Gran Buenos Aires,7,NaN,NaN,NaN,NaN,5-Jul-16,NaN,Argentina
13,NaN,Argentina,Buenos Aires,NAP CABASE La Matanza,0,NaN,NaN,NaN,NaN,NaN,NaN,Argentina
14,NaN,Argentina,Concepcion del Uruguay,CABASE IXP Concepcion del Uruguay,4,NaN,NaN,NaN,NaN,NaN,NaN,Argentina

In [103]:
agg_df = df.groupby('Country Name').agg({'Country':'count'})
agg_df

              Country
Country Name
Afghanistan         1
Albania             2
Algeria             1
Angola              3
Argentina          33
...               ...
Uzbekistan          3
Vanuatu             1
Viet Nam            3
Zambia              1
Zimbabwe            2

[165 rows x 1 columns]

In [104]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

agg_df['higher_is_better'] = True
agg_df['Indicator'] = indicator
agg_df['data_col'] = agg_df['Country'] 
agg_df['Year'] = 2019

min_rank = agg_df['data_col'].min()
max_rank = agg_df['data_col'].max()

# transform 0-1 rank into 1-6
agg_df['new_rank_score'] = agg_df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [105]:
agg_df[['Year','Indicator','data_col','new_rank_score','higher_is_better']].head(150)

,Year,Indicator,data_col,new_rank_score,higher_is_better
Country Name,,,,,
Afghanistan,2019,Internet Exchange Points (IXPs) map,1,1.000000,True
Albania,2019,Internet Exchange Points (IXPs) map,2,1.023148,True
Algeria,2019,Internet Exchange Points (IXPs) map,1,1.000000,True
Angola,2019,Internet Exchange Points (IXPs) map,3,1.046296,True
Argentina,2019,Internet Exchange Points (IXPs) map,33,1.740741,True
...,...,...,...,...,...
Syria,2019,Internet Exchange Points (IXPs) map,1,1.000000,True
Taiwan,2019,Internet Exchange Points (IXPs) map,7,1.138889,True
Tajikistan,2019,Internet Exchange Points (IXPs) map,1,1.000000,True
Tanzania,2019,Internet Exchange Points (IXPs) map,5,1.092593,True
Thailand,2019,Internet Exchange Points (IXPs) map,13,1.277778,True

In [106]:
agg_df[['Year','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/infrastructure_{}_scores.csv'.format(indicator, index=False))

In [107]:
### 17. ISP Speeds - Mobile

In [108]:
indicators[16]

# load data
indicator = indicators[16]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

ISP Speeds - Mobile
mobile_speed

In [109]:
df.head(15)

     #  Year               Country    Mbps
0    1  2021  United Arab Emirates  190.03
1    2  2021           South Korea  189.20
2    3  2021                 Qatar  170.77
3    4  2021                 China  157.72
4    5  2021                Cyprus  154.13
5    6  2021                Norway  152.53
6    7  2021          Saudi Arabia  151.13
7    8  2021                Kuwait  140.16
8    9  2021             Australia  122.27
9   10  2021              Bulgaria  120.44
10  11  2021            Luxembourg  110.72
11  12  2021           Switzerland  109.65
12  13  2021           Netherlands  100.65
13  14  2021         United States   91.01
14  15  2021                Sweden   90.57

In [110]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Mbps'] 
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [111]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
0,United Arab Emirates,2021,ISP Speeds - Mobile,190.03,6.000000,True
1,South Korea,2021,ISP Speeds - Mobile,189.20,5.977362,True
2,Qatar,2021,ISP Speeds - Mobile,170.77,5.474689,True
3,China,2021,ISP Speeds - Mobile,157.72,5.118754,True
4,Cyprus,2021,ISP Speeds - Mobile,154.13,5.020838,True
5,Norway,2021,ISP Speeds - Mobile,152.53,4.977198,True
6,Saudi Arabia,2021,ISP Speeds - Mobile,151.13,4.939014,True
7,Kuwait,2021,ISP Speeds - Mobile,140.16,4.639810,True
8,Australia,2021,ISP Speeds - Mobile,122.27,4.151866,True
9,Bulgaria,2021,ISP Speeds - Mobile,120.44,4.101953,True
10,Luxembourg,2021,ISP Speeds - Mobile,110.72,3.836843,True
11,Switzerland,2021,ISP Speeds - Mobile,109.65,3.807659,True
12,Netherlands,2021,ISP Speeds - Mobile,100.65,3.562186,True
13,United States,2021,ISP Speeds - Mobile,91.01,3.299258,True
14,Sweden,2021,ISP Speeds - Mobile,90.57,3.287257,True

In [112]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/infrastructure_{}_scores.csv'.format(indicator, index=False))

In [113]:
### 18. ISP internet download speed average

In [114]:
indicators[17]

# load data
indicator = indicators[17]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

ISP internet download speed average
internet_speed

In [115]:
df.head(15)

    Ranking  Year               Country  Download speed (Mbps)
0         1  2021                Monaco                 256.70
1         2  2021             Singapore                 256.03
2         3  2021       Hong Kong (SAR)                 248.59
3         4  2021              Thailand                 216.16
4         5  2021               Romania                 215.30
5         6  2021           Switzerland                 214.82
6         7  2021           South Korea                 212.83
7         8  2021                 Chile                 209.45
8         9  2021               Denmark                 208.50
9        10  2021         Liechtenstein                 207.44
10       11  2021                France                 199.68
11       12  2021               Hungary                 199.47
12       13  2021               Moldova                 196.46
13       14  2021         United States                 195.55
14       15  2021  United Arab Emirates                 190.96

In [116]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Download speed (Mbps)'] 
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [117]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
0,Monaco,2021,ISP internet download speed average,256.70,6.000000,True
1,Singapore,2021,ISP internet download speed average,256.03,5.986711,True
2,Hong Kong (SAR),2021,ISP internet download speed average,248.59,5.839145,True
3,Thailand,2021,ISP internet download speed average,216.16,5.195922,True
4,Romania,2021,ISP internet download speed average,215.30,5.178865,True
5,Switzerland,2021,ISP internet download speed average,214.82,5.169344,True
6,South Korea,2021,ISP internet download speed average,212.83,5.129874,True
7,Chile,2021,ISP internet download speed average,209.45,5.062835,True
8,Denmark,2021,ISP internet download speed average,208.50,5.043992,True
9,Liechtenstein,2021,ISP internet download speed average,207.44,5.022968,True
10,France,2021,ISP internet download speed average,199.68,4.869055,True
11,Hungary,2021,ISP internet download speed average,199.47,4.864890,True
12,Moldova,2021,ISP internet download speed average,196.46,4.805189,True
13,United States,2021,ISP internet download speed average,195.55,4.787140,True
14,United Arab Emirates,2021,ISP internet download speed average,190.96,4.696101,True

In [118]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/infrastructure_{}_scores.csv'.format(indicator, index=False))

In [119]:
### 19. Mobile dowload speed at the slowest hour

In [120]:
indicators[18]

# load data
indicator = indicators[18]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

# Waiting for internet_speed to be added to the processed folder

Mobile dowload speed at the slowest hour of the day
mobile_latency

In [121]:
df.head(15)

,Unnamed: 0,ISO Code,Country,Region,Year,Mobile latencies
0,1,AFG,Afghanistan,South Asia,2014,0.000000
1,2,AFG,Afghanistan,South Asia,2015,0.000000
2,3,AFG,Afghanistan,South Asia,2016,11.842106
3,4,AFG,Afghanistan,South Asia,2017,56.234993
4,5,AFG,Afghanistan,South Asia,2018,49.762146
5,6,AFG,Afghanistan,South Asia,2019,42.627621
6,7,AGO,Angola,Sub-Saharan Africa,2014,0.000000
7,8,AGO,Angola,Sub-Saharan Africa,2015,36.975155
8,9,AGO,Angola,Sub-Saharan Africa,2016,50.958073
9,10,AGO,Angola,Sub-Saharan Africa,2017,66.052635
10,11,AGO,Angola,Sub-Saharan Africa,2018,74.417152
11,12,AGO,Angola,Sub-Saharan Africa,2019,66.285637
12,13,ALB,Albania,Europe & Central Asia,2014,34.736843
13,14,ALB,Albania,Europe & Central Asia,2015,57.339764
14,15,ALB,Albania,Europe & Central Asia,2016,73.420052

In [122]:
# filter most recent year
df = df[(df.Year==2019)]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Mobile latencies'] 
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))


# invert since to lower rank is better
df['new_rank_score'] = df['new_rank_score'].apply(lambda row: (6-row)+1)

In [123]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
5,Afghanistan,2019,Mobile dowload speed at the slowest hour of th...,42.627621,3.618652,True
11,Angola,2019,Mobile dowload speed at the slowest hour of th...,66.285637,2.297022,True
17,Albania,2019,Mobile dowload speed at the slowest hour of th...,84.636459,1.271872,True
23,United Arab Emirates,2019,Mobile dowload speed at the slowest hour of th...,84.951675,1.254263,True
29,Argentina,2019,Mobile dowload speed at the slowest hour of th...,80.727203,1.490258,True
35,Armenia,2019,Mobile dowload speed at the slowest hour of th...,88.437950,1.059505,True
41,Australia,2019,Mobile dowload speed at the slowest hour of th...,86.069145,1.191836,True
47,Austria,2019,Mobile dowload speed at the slowest hour of th...,85.845047,1.204355,True
53,Azerbaijan,2019,Mobile dowload speed at the slowest hour of th...,85.687500,1.213157,True
59,Burundi,2019,Mobile dowload speed at the slowest hour of th...,51.736294,3.109806,True
65,Belgium,2019,Mobile dowload speed at the slowest hour of th...,82.730255,1.378360,True
71,Benin,2019,Mobile dowload speed at the slowest hour of th...,68.678703,2.163335,True
77,Burkina Faso,2019,Mobile dowload speed at the slowest hour of th...,54.469799,2.957101,True
83,Bangladesh,2019,Mobile dowload speed at the slowest hour of th...,74.701111,1.826900,True
89,Bulgaria,2019,Mobile dowload speed at the slowest hour of th...,83.992538,1.307844,True

In [124]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/infrastructure_{}_scores.csv'.format(indicator, index=False))

In [125]:
### 20. Mobile download speed average

In [126]:
indicators[19]

# load data
indicator = indicators[19]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Mobile download speed average
mobile_speed

In [127]:
df.head(15)

     #  Year               Country    Mbps
0    1  2021  United Arab Emirates  190.03
1    2  2021           South Korea  189.20
2    3  2021                 Qatar  170.77
3    4  2021                 China  157.72
4    5  2021                Cyprus  154.13
5    6  2021                Norway  152.53
6    7  2021          Saudi Arabia  151.13
7    8  2021                Kuwait  140.16
8    9  2021             Australia  122.27
9   10  2021              Bulgaria  120.44
10  11  2021            Luxembourg  110.72
11  12  2021           Switzerland  109.65
12  13  2021           Netherlands  100.65
13  14  2021         United States   91.01
14  15  2021                Sweden   90.57

In [128]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Mbps'] 
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [129]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
0,United Arab Emirates,2021,Mobile download speed average,190.03,6.000000,True
1,South Korea,2021,Mobile download speed average,189.20,5.977362,True
2,Qatar,2021,Mobile download speed average,170.77,5.474689,True
3,China,2021,Mobile download speed average,157.72,5.118754,True
4,Cyprus,2021,Mobile download speed average,154.13,5.020838,True
5,Norway,2021,Mobile download speed average,152.53,4.977198,True
6,Saudi Arabia,2021,Mobile download speed average,151.13,4.939014,True
7,Kuwait,2021,Mobile download speed average,140.16,4.639810,True
8,Australia,2021,Mobile download speed average,122.27,4.151866,True
9,Bulgaria,2021,Mobile download speed average,120.44,4.101953,True
10,Luxembourg,2021,Mobile download speed average,110.72,3.836843,True
11,Switzerland,2021,Mobile download speed average,109.65,3.807659,True
12,Netherlands,2021,Mobile download speed average,100.65,3.562186,True
13,United States,2021,Mobile download speed average,91.01,3.299258,True
14,Sweden,2021,Mobile download speed average,90.57,3.287257,True

In [130]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/infrastructure_{}_scores.csv'.format(indicator, index=False))

In [131]:
### 21. Individuals using the Internet (% of population)

In [132]:
indicators[20]

# load data
indicator = indicators[20]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Individuals using the Internet (% of population)
ITU_database

In [133]:
df.head(15)

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
0,Angola,Africa,AGO,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
1,Benin,Africa,BEN,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
2,Botswana,Africa,BWA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
3,Burkina Faso,Africa,BFA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
4,Burundi,Africa,BDI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
5,Cabo Verde,Africa,CPV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
6,Cameroon,Africa,CMR,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
7,Central African Rep.,Africa,CAF,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
8,Chad,Africa,TCD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
9,Congo (Rep. of the),Africa,COG,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
10,Côte d'Ivoire,Africa,CIV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
11,Dem. Rep. of the Congo,Africa,COD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
12,Equatorial Guinea,Africa,GNQ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
13,Eritrea,Africa,ERI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
14,Eswatini,Africa,SWZ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN

In [134]:
df = df[(df['Indicator name'] == 'Individuals using the Internet, total (%)')]
df = df[(df.Year==2019)]
df.head(15)

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
47607,Cabo Verde,Africa,CPV,"Individuals using the Internet, total (%)",2019.0,61.943398,NaN,NaN
47608,Central African Rep.,Africa,CAF,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
47609,Congo (Rep. of the),Africa,COG,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
47610,Côte d'Ivoire,Africa,CIV,"Individuals using the Internet, total (%)",2019.0,36.288955,NaN,NaN
47611,Equatorial Guinea,Africa,GNQ,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
47612,Eritrea,Africa,ERI,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
47613,Eswatini,Africa,SWZ,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
47614,Kenya,Africa,KEN,"Individuals using the Internet, total (%)",2019.0,22.565119,NaN,NaN
47615,Lesotho,Africa,LSO,"Individuals using the Internet, total (%)",2019.0,42.301734,NaN,NaN
47616,Madagascar,Africa,MDG,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
47617,Mauritius,Africa,MUS,"Individuals using the Internet, total (%)",2019.0,61.729955,NaN,NaN
47618,Niger,Africa,NER,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
47619,South Sudan,Africa,SSD,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
47620,Uganda,Africa,UGA,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
47621,Bahrain,Arab States,BHR,"Individuals using the Internet, total (%)",2019.0,99.701493,NaN,NaN

In [135]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Value'] 
df.rename(columns = {'Country':'Country Name'}, inplace=True)

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [136]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(150)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
47607,Cabo Verde,2019.0,Individuals using the Internet (% of population),61.943398,3.715247,True
47608,Central African Rep.,2019.0,Individuals using the Internet (% of population),NaN,NaN,True
47609,Congo (Rep. of the),2019.0,Individuals using the Internet (% of population),NaN,NaN,True
47610,Côte d'Ivoire,2019.0,Individuals using the Internet (% of population),36.288955,2.162890,True
47611,Equatorial Guinea,2019.0,Individuals using the Internet (% of population),NaN,NaN,True
...,...,...,...,...,...,...
47739,Saint Vincent and the Grenadines,2019.0,Individuals using the Internet (% of population),NaN,NaN,True
47740,Trinidad and Tobago,2019.0,Individuals using the Internet (% of population),NaN,NaN,True
47741,United States,2019.0,Individuals using the Internet (% of population),89.430285,5.378486,True
47742,Uruguay,2019.0,Individuals using the Internet (% of population),83.351534,5.010659,True
47743,Venezuela,2019.0,Individuals using the Internet (% of population),NaN,NaN,True

In [137]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/infrastructure_{}_scores.csv'.format(indicator, index=False))

In [138]:
### 22. Mobile-cellular subscriptions per 100 inhabitants

In [139]:
indicators[21]

# load data
indicator = indicators[21]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Mobile cellular subscriptions (per 100 people)
ITU_database

In [140]:
df = df[(df['Indicator name'] == 'Individuals using the Internet, total (%)')]
df = df[(df.Year==2020)]
df.head(15)

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
47744,Mauritius,Africa,MUS,"Individuals using the Internet, total (%)",2020.0,64.884904,NaN,NaN
47745,Uganda,Africa,UGA,"Individuals using the Internet, total (%)",2020.0,NaN,NaN,NaN
47746,Bahrain,Arab States,BHR,"Individuals using the Internet, total (%)",2020.0,99.539512,NaN,NaN
47747,Egypt,Arab States,EGY,"Individuals using the Internet, total (%)",2020.0,71.914200,NaN,NaN
47748,Iraq,Arab States,IRQ,"Individuals using the Internet, total (%)",2020.0,NaN,NaN,NaN
47749,Kuwait,Arab States,KWT,"Individuals using the Internet, total (%)",2020.0,98.599995,NaN,NaN
47750,Morocco,Arab States,MAR,"Individuals using the Internet, total (%)",2020.0,84.120363,NaN,NaN
47751,Oman,Arab States,OMN,"Individuals using the Internet, total (%)",2020.0,95.232293,NaN,NaN
47752,Qatar,Arab States,QAT,"Individuals using the Internet, total (%)",2020.0,99.652794,NaN,NaN
47753,Saudi Arabia,Arab States,SAU,"Individuals using the Internet, total (%)",2020.0,97.862332,NaN,NaN
47754,United Arab Emirates,Arab States,ARE,"Individuals using the Internet, total (%)",2020.0,100.000000,NaN,NaN
47755,Cambodia,Asia & Pacific,KHM,"Individuals using the Internet, total (%)",2020.0,78.800000,NaN,NaN
47756,China,Asia & Pacific,CHN,"Individuals using the Internet, total (%)",2020.0,70.642143,NaN,NaN
47757,"Hong Kong, China",Asia & Pacific,HKG,"Individuals using the Internet, total (%)",2020.0,92.413136,NaN,NaN
47758,Indonesia,Asia & Pacific,IDN,"Individuals using the Internet, total (%)",2020.0,53.726494,NaN,NaN

In [141]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Value'] 
df.rename(columns = {'Country':'Country Name'}, inplace=True)

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [142]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(150)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
47744,Mauritius,2020.0,Mobile cellular subscriptions (per 100 people),64.884904,3.298839,True
47745,Uganda,2020.0,Mobile cellular subscriptions (per 100 people),NaN,NaN,True
47746,Bahrain,2020.0,Mobile cellular subscriptions (per 100 people),99.539512,5.964578,True
47747,Egypt,2020.0,Mobile cellular subscriptions (per 100 people),71.914200,3.839554,True
47748,Iraq,2020.0,Mobile cellular subscriptions (per 100 people),NaN,NaN,True
...,...,...,...,...,...,...
47805,Bolivia (Plurinational State of),2020.0,Mobile cellular subscriptions (per 100 people),55.139051,2.549158,True
47806,Costa Rica,2020.0,Mobile cellular subscriptions (per 100 people),80.530186,4.502322,True
47807,Mexico,2020.0,Mobile cellular subscriptions (per 100 people),71.970000,3.843846,True
47808,Paraguay,2020.0,Mobile cellular subscriptions (per 100 people),74.515240,4.039634,True
47809,Peru,2020.0,Mobile cellular subscriptions (per 100 people),65.251799,3.327061,True

In [143]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/infrastructure_{}_scores.csv'.format(indicator, index=False))

In [144]:
### 23. Average fixed broadband download speeds

In [145]:
indicators[22]

# load data
indicator = indicators[22]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Average fixed broadband download speeds
fixed_bdbd_spd_dl_ul

In [146]:
df.head(15)

          country  broadband  mobile     pop2021
0       Singapore     226.60   60.52    5896.686
1       Hong Kong     210.73   50.96    7552.810
2         Romania     193.47   40.35   19127.774
3     Switzerland     178.81   64.10    8715.494
4        Thailand     175.22   34.38   69950.850
5          France     173.05   49.82   65426.179
6         Denmark     162.08   63.86    5813.298
7          Monaco     162.06     NaN      39.511
8         Hungary     161.51   44.52    9634.164
9   United States     161.14   47.13  332915.073
10          Spain     157.22   39.03   46745.216
11  Liechtenstein     156.94     NaN      38.250
12         Sweden     156.34   53.13   10160.169
13    South Korea     155.39  121.00   51305.186
14          Macau     154.57   53.30     658.394

In [147]:
# create standard columns

df.rename(columns={'Country':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Year'] = 2021
df['Indicator'] = indicator
df['data_col'] = df['broadband'] 
df.rename(columns = {'country':'Country Name'}, inplace=True)

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [148]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
0,Singapore,2021,Average fixed broadband download speeds,226.60,6.000000,True
1,Hong Kong,2021,Average fixed broadband download speeds,210.73,5.644489,True
2,Romania,2021,Average fixed broadband download speeds,193.47,5.257841,True
3,Switzerland,2021,Average fixed broadband download speeds,178.81,4.929435,True
4,Thailand,2021,Average fixed broadband download speeds,175.22,4.849014,True
5,France,2021,Average fixed broadband download speeds,173.05,4.800403,True
6,Denmark,2021,Average fixed broadband download speeds,162.08,4.554659,True
7,Monaco,2021,Average fixed broadband download speeds,162.06,4.554211,True
8,Hungary,2021,Average fixed broadband download speeds,161.51,4.541891,True
9,United States,2021,Average fixed broadband download speeds,161.14,4.533602,True
10,Spain,2021,Average fixed broadband download speeds,157.22,4.445789,True
11,Liechtenstein,2021,Average fixed broadband download speeds,156.94,4.439516,True
12,Sweden,2021,Average fixed broadband download speeds,156.34,4.426075,True
13,South Korea,2021,Average fixed broadband download speeds,155.39,4.404794,True
14,Macau,2021,Average fixed broadband download speeds,154.57,4.386425,True

In [149]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/infrastructure_{}_scores.csv'.format(indicator, index=False))

In [150]:
### 24. Postal Coverage

In [151]:
indicators[23]

# load data
indicator = indicators[23]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Postal Coverage
postal_coverage

In [152]:
df.head(15)

,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,Country ISO3,Country Name,Indicator Id,Indicator,Subindicator Type,2013-14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93.0,NaN,NaN,ABW,Aruba,24707,Percent of Population Having Mail Delivered at...,Value,NaN
1,NaN,NaN,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN,NaN,ABW,Aruba,24708,Percent of Income Linked to Parcels and Logist...,Value,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,ABW,Aruba,24710,Percent of the Population Without Postal Services,Value,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.0,NaN,AFG,Afghanistan,24707,Percent of Population Having Mail Delivered at...,Value,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74.0,NaN,AFG,Afghanistan,24708,Percent of Income Linked to Parcels and Logist...,Value,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AFG,Afghanistan,24709,Postal Reliability Index,Index (0-100),17.9
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,AFG,Afghanistan,24710,Percent of the Population Without Postal Services,Value,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,AGO,Angola,24707,Percent of Population Having Mail Delivered at...,Value,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.9,AGO,Angola,24708,Percent of Income Linked to Parcels and Logist...,Value,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AGO,Angola,24709,Postal Reliability Index,Index (0-100),15.3
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.0,AGO,Angola,24710,Percent of the Population Without Postal Services,Value,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.6,NaN,NaN,ALB,Albania,24707,Percent of Population Having Mail Delivered at...,Value,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.3,NaN,NaN,ALB,Albania,24708,Percent of Income Linked to Parcels and Logist...,Value,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ALB,Albania,24709,Postal Reliability Index,Index (0-100),79.6
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,ALB,Albania,24710,Percent of the Population Without Postal Services,Value,NaN

In [153]:
#Choose 'Percent of Population Having Mail Delivered at Home' as the data column
df = df[(df.Indicator=='Percent of Population Having Mail Delivered at Home')]
df.head(15)

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Year'] = 2015
df['Indicator'] = indicator
df['data_col'] = df['2015'] 

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [154]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
0,Aruba,2015,Postal Coverage,NaN,NaN,True
3,Afghanistan,2015,Postal Coverage,NaN,NaN,True
7,Angola,2015,Postal Coverage,15.0,1.75,True
11,Albania,2015,Postal Coverage,NaN,NaN,True
15,United Arab Emirates,2015,Postal Coverage,NaN,NaN,True
19,Argentina,2015,Postal Coverage,93.0,5.65,True
23,Armenia,2015,Postal Coverage,93.0,5.65,True
27,Antigua and Barbuda,2015,Postal Coverage,80.0,5.00,True
30,Australia,2015,Postal Coverage,NaN,NaN,True
33,Austria,2015,Postal Coverage,99.0,5.95,True
38,Burundi,2015,Postal Coverage,NaN,NaN,True
42,Belgium,2015,Postal Coverage,NaN,NaN,True
45,Benin,2015,Postal Coverage,6.0,1.30,True
49,Burkina Faso,2015,Postal Coverage,0.0,1.00,True
53,Bangladesh,2015,Postal Coverage,NaN,NaN,True

In [155]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/infrastructure_{}_scores.csv'.format(indicator, index=False))

In [156]:
### 25. Logistics Performance Index (LPI)

In [157]:
indicators[24]

# load data
indicator = indicators[24]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Logistics Performance Index (LPI) - Infrastructure Rating
logistics_performance_index

In [158]:
df.head(15)

,Country,Code,score,lower bound,upper bound,rank,% of highest performer,data_country,data_year
0,Germany,DEU,4.39,1,1,3,100.00,NaN,NaN
1,Sweden,SWE,4.28,2,12,7,95.36,NaN,NaN
2,Belgium,BEL,4.41,2,12,1,94.93,NaN,NaN
3,Austria,AUT,4.25,2,14,12,94.52,NaN,NaN
4,Japan,JPN,4.25,2,10,10,94.51,NaN,NaN
5,Netherlands,NLD,4.25,2,11,11,94.31,NaN,NaN
6,Singapore,SGP,4.32,2,15,6,93.59,NaN,NaN
7,Denmark,DNK,4.41,2,17,2,93.45,NaN,NaN
8,United Kingdom,GBR,4.33,3,11,5,93.30,NaN,NaN
9,Finland,FIN,4.28,1,21,8,92.74,NaN,NaN
10,United Arab Emirates,ARE,4.38,2,15,4,92.35,NaN,NaN
11,"Hong Kong SAR, China",HKG,4.14,7,17,15,91.21,NaN,NaN
12,Switzerland,CHE,4.24,7,17,13,90.63,NaN,NaN
13,United States,USA,4.08,12,17,19,90.12,NaN,NaN
14,New Zealand,NZL,4.26,2,23,9,89.82,NaN,NaN

In [159]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Year'] = 2018
df['Indicator'] = indicator
df['data_col'] = df['score']
df.rename(columns={'Country':'Country Name'}, inplace=True)

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [160]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
0,Germany,2018,Logistics Performance Index (LPI) - Infrastruc...,4.39,5.957806,True
1,Sweden,2018,Logistics Performance Index (LPI) - Infrastruc...,4.28,5.725738,True
2,Belgium,2018,Logistics Performance Index (LPI) - Infrastruc...,4.41,6.000000,True
3,Austria,2018,Logistics Performance Index (LPI) - Infrastruc...,4.25,5.662447,True
4,Japan,2018,Logistics Performance Index (LPI) - Infrastruc...,4.25,5.662447,True
5,Netherlands,2018,Logistics Performance Index (LPI) - Infrastruc...,4.25,5.662447,True
6,Singapore,2018,Logistics Performance Index (LPI) - Infrastruc...,4.32,5.810127,True
7,Denmark,2018,Logistics Performance Index (LPI) - Infrastruc...,4.41,6.000000,True
8,United Kingdom,2018,Logistics Performance Index (LPI) - Infrastruc...,4.33,5.831224,True
9,Finland,2018,Logistics Performance Index (LPI) - Infrastruc...,4.28,5.725738,True
10,United Arab Emirates,2018,Logistics Performance Index (LPI) - Infrastruc...,4.38,5.936709,True
11,"Hong Kong SAR, China",2018,Logistics Performance Index (LPI) - Infrastruc...,4.14,5.430380,True
12,Switzerland,2018,Logistics Performance Index (LPI) - Infrastruc...,4.24,5.641350,True
13,United States,2018,Logistics Performance Index (LPI) - Infrastruc...,4.08,5.303797,True
14,New Zealand,2018,Logistics Performance Index (LPI) - Infrastruc...,4.26,5.683544,True

In [161]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/infrastructure_{}_scores.csv'.format(indicator, index=False))

In [162]:
### 26. National cyber security index

In [163]:
indicators[25]

# load data
indicator = indicators[25]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

National cyber security index
national_cybersecurity_index

In [164]:
df.head(15)

,Rank,Country,National Cyber Security Index,Difference,Unnamed: 4
0,1.0,Greece,96.10,32.35,NaN
1,2.0,Czech Republic,92.21,23.25,NaN
2,3.0,Estonia,90.91,15.05,NaN
3,4.0,Portugal,89.61,21.76,NaN
4,5.0,Lithuania,88.31,20.01,NaN
5,6.0,Spain,88.31,15.70,NaN
6,7.0,Poland,87.01,21.66,NaN
7,8.0,Belgium,85.71,11.32,NaN
8,9.0,Finland,85.71,6.23,NaN
9,10.0,France,84.42,6.63,NaN
10,11.0,Croatia,83.12,18.95,NaN
11,12.0,Slovakia,83.12,17.43,NaN
12,13.0,Netherlands,81.82,-1.32,NaN
13,14.0,Denmark,81.82,-2.82,NaN
14,15.0,Germany,80.52,-0.17,NaN

In [165]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Year'] = 2021
df['Indicator'] = indicator
df['data_col'] = df['National Cyber Security Index']
df.rename(columns={'Country':'Country Name'}, inplace=True)

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [166]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
0,Greece,2021,National cyber security index,96.10,6.000000,True
1,Czech Republic,2021,National cyber security index,92.21,5.794831,True
2,Estonia,2021,National cyber security index,90.91,5.726266,True
3,Portugal,2021,National cyber security index,89.61,5.657700,True
4,Lithuania,2021,National cyber security index,88.31,5.589135,True
5,Spain,2021,National cyber security index,88.31,5.589135,True
6,Poland,2021,National cyber security index,87.01,5.520570,True
7,Belgium,2021,National cyber security index,85.71,5.452004,True
8,Finland,2021,National cyber security index,85.71,5.452004,True
9,France,2021,National cyber security index,84.42,5.383966,True
10,Croatia,2021,National cyber security index,83.12,5.315401,True
11,Slovakia,2021,National cyber security index,83.12,5.315401,True
12,Netherlands,2021,National cyber security index,81.82,5.246835,True
13,Denmark,2021,National cyber security index,81.82,5.246835,True
14,Germany,2021,National cyber security index,80.52,5.178270,True

In [167]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/infrastructure_{}_scores.csv'.format(indicator, index=False))

In [168]:
### 27. Global Cybersecurity Index (GCI)

In [169]:
indicators[26]

# load data
indicator = indicators[26]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Global Cybersecurity Index (GCI)
dice_export_global_cybersecurity_index

In [170]:
df.head(15)

                       Country  Score (2020)  Rank (2020)
0   United States of America**        100.00          1.0
1               United Kingdom         99.54          2.0
2                 Saudi Arabia         99.54          2.0
3                      Estonia         99.48          3.0
4              Korea (Rep. of)         98.52          4.0
5                    Singapore         98.52          4.0
6                        Spain         98.52          4.0
7           Russian Federation         98.06          5.0
8         United Arab Emirates         98.06          5.0
9                     Malaysia         98.06          5.0
10                   Lithuania         97.93          6.0
11                       Japan         97.82          7.0
12                    Canada**         97.67          8.0
13                      France         97.60          9.0
14                       India         97.50         10.0

In [171]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Year'] = 2020
df['Indicator'] = indicator
df['data_col'] = df['Score (2020)'] 
df.rename(columns={'Country':'Country Name'}, inplace=True)

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [172]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
0,United States of America**,2020,Global Cybersecurity Index (GCI),100.00,5.032258,True
1,United Kingdom,2020,Global Cybersecurity Index (GCI),99.54,5.013710,True
2,Saudi Arabia,2020,Global Cybersecurity Index (GCI),99.54,5.013710,True
3,Estonia,2020,Global Cybersecurity Index (GCI),99.48,5.011290,True
4,Korea (Rep. of),2020,Global Cybersecurity Index (GCI),98.52,4.972581,True
5,Singapore,2020,Global Cybersecurity Index (GCI),98.52,4.972581,True
6,Spain,2020,Global Cybersecurity Index (GCI),98.52,4.972581,True
7,Russian Federation,2020,Global Cybersecurity Index (GCI),98.06,4.954032,True
8,United Arab Emirates,2020,Global Cybersecurity Index (GCI),98.06,4.954032,True
9,Malaysia,2020,Global Cybersecurity Index (GCI),98.06,4.954032,True
10,Lithuania,2020,Global Cybersecurity Index (GCI),97.93,4.948790,True
11,Japan,2020,Global Cybersecurity Index (GCI),97.82,4.944355,True
12,Canada**,2020,Global Cybersecurity Index (GCI),97.67,4.938306,True
13,France,2020,Global Cybersecurity Index (GCI),97.60,4.935484,True
14,India,2020,Global Cybersecurity Index (GCI),97.50,4.931452,True

In [173]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/infrastructure_{}_scores.csv'.format(indicator, index=False))

In [174]:
### 28. Software Developer Ecosystem size

In [175]:
indicators[27]

# load data
indicator = indicators[27]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Software Developer Ecosystem size
software_developer_ecosystem_size

In [176]:
df.head(15)

           Country  GitHub Accounts
0    United States           651017
1            China           183805
2            India           168328
3   United Kingdom           109460
4          Germany            94359
5           Brazil            80903
6           Canada            77318
7           France            66367
8           Russia            58767
9        Australia            41790
10           Japan            39263
11           Spain            38020
12     Netherlands            35782
13         Ukraine            33032
14          Poland            30928

In [177]:
df['higher_is_better'] = True
df['Year'] = 2018
df['Indicator'] = indicator
df['data_col'] = df.iloc[:,[1]]
df.rename(columns={'Country':'Country Name'}, inplace=True)
    
min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [178]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
0,United States,2018,Software Developer Ecosystem size,651017,6.000000,True
1,China,2018,Software Developer Ecosystem size,183805,2.348274,True
2,India,2018,Software Developer Ecosystem size,168328,2.227306,True
3,United Kingdom,2018,Software Developer Ecosystem size,109460,1.767194,True
4,Germany,2018,Software Developer Ecosystem size,94359,1.649165,True
5,Brazil,2018,Software Developer Ecosystem size,80903,1.543993,True
6,Canada,2018,Software Developer Ecosystem size,77318,1.515973,True
7,France,2018,Software Developer Ecosystem size,66367,1.430380,True
8,Russia,2018,Software Developer Ecosystem size,58767,1.370978,True
9,Australia,2018,Software Developer Ecosystem size,41790,1.238286,True
10,Japan,2018,Software Developer Ecosystem size,39263,1.218535,True
11,Spain,2018,Software Developer Ecosystem size,38020,1.208820,True
12,Netherlands,2018,Software Developer Ecosystem size,35782,1.191328,True
13,Ukraine,2018,Software Developer Ecosystem size,33032,1.169834,True
14,Poland,2018,Software Developer Ecosystem size,30928,1.153389,True

In [179]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/infrastructure_{}_scores.csv'.format(indicator, index=False))

In [180]:
### 29. Digital Work Ecosystem size

In [181]:
indicators[28]

# load data
indicator = indicators[28]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Digital Work Ecosystem size
digital_platform_economy_index

In [182]:
df.head(15)

   Rank          Country  DPE 2020  GDP per capita 2017
0      1   United States      85.0                54225
1      2  United Kingdom      82.7                39753
2      3     Netherlands      82.4                48473
3      4          Canada      78.2                44018
4      5          Sweden      76.8                46949
5      6     Switzerland      76.3                57410
6      7          Norway      74.4                64800
7      8         Denmark      71.1                46683
8      9       Australia      69.3                44649
9     10       Finland        68.9                40586
10    11         Ireland      66.0                67335
11    12      Luxembourg      65.6                94278
12    13     New Zealand      65.3                36086
13    14  Germany France      64.4                45229
14    15             NaN      63.6                38606

In [183]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = False
df['Year'] = 2020
df['Indicator'] = indicator
df['data_col'] = df.iloc[:,[0]].astype(float)
df.rename(columns={'Country':'Country Name'}, inplace=True)
    
min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

# invert since to lower rank is better
df['new_rank_score'] = df['new_rank_score'].apply(lambda row: (6-row)+1)

In [184]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
0,United States,2020,Digital Work Ecosystem size,1.0,6.000000,False
1,United Kingdom,2020,Digital Work Ecosystem size,2.0,5.956522,False
2,Netherlands,2020,Digital Work Ecosystem size,3.0,5.913043,False
3,Canada,2020,Digital Work Ecosystem size,4.0,5.869565,False
4,Sweden,2020,Digital Work Ecosystem size,5.0,5.826087,False
5,Switzerland,2020,Digital Work Ecosystem size,6.0,5.782609,False
6,Norway,2020,Digital Work Ecosystem size,7.0,5.739130,False
7,Denmark,2020,Digital Work Ecosystem size,8.0,5.695652,False
8,Australia,2020,Digital Work Ecosystem size,9.0,5.652174,False
9,Finland,2020,Digital Work Ecosystem size,10.0,5.608696,False
10,Ireland,2020,Digital Work Ecosystem size,11.0,5.565217,False
11,Luxembourg,2020,Digital Work Ecosystem size,12.0,5.521739,False
12,New Zealand,2020,Digital Work Ecosystem size,13.0,5.478261,False
13,Germany France,2020,Digital Work Ecosystem size,14.0,5.434783,False
14,NaN,2020,Digital Work Ecosystem size,15.0,5.391304,False

In [185]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/infrastructure_{}_scores.csv'.format(indicator, index=False))

In [186]:
### 30. Country, Industry, Skill Migration Data (Skill)

In [187]:
indicators[29]

# load data
indicator = indicators[29]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Country, Industry, Skill Migration Data (Skill)
migration_skill

In [188]:
df.head(15)

,country_code,country_name,wb_income,wb_region,skill_group_id,skill_group_category,skill_group_name,net_per_10K_2015,net_per_10K_2016,net_per_10K_2017,net_per_10K_2018,net_per_10K_2019,Unnamed: 12,data_country,data_year
0,af,Afghanistan,Low income,South Asia,2549.0,Tech Skills,Information Management,-791.59,-705.88,-550.04,-680.92,-1208.79,NaN,NaN,NaN
1,af,Afghanistan,Low income,South Asia,2608.0,Business Skills,Operational Efficiency,-1610.25,-933.55,-776.06,-532.22,-790.09,NaN,NaN,NaN
2,af,Afghanistan,Low income,South Asia,3806.0,Specialized Industry Skills,National Security,-1731.45,-769.68,-756.59,-600.44,-767.64,NaN,NaN,NaN
3,af,Afghanistan,Low income,South Asia,50321.0,Tech Skills,Software Testing,-957.50,-828.54,-964.73,-406.50,-739.51,NaN,NaN,NaN
4,af,Afghanistan,Low income,South Asia,1606.0,Specialized Industry Skills,Navy,-1510.71,-841.17,-842.32,-581.71,-718.64,NaN,NaN,NaN
5,af,Afghanistan,Low income,South Asia,3139.0,Disruptive Tech Skills,Materials Science,-1085.03,-1045.71,-783.03,-473.42,-717.73,NaN,NaN,NaN
6,af,Afghanistan,Low income,South Asia,1315.0,Specialized Industry Skills,Criminal Law,-687.80,-294.93,-769.01,-415.34,-698.84,NaN,NaN,NaN
7,af,Afghanistan,Low income,South Asia,1017.0,Soft Skills,Problem Solving,-906.42,-210.44,-480.92,-126.62,-696.16,NaN,NaN,NaN
8,af,Afghanistan,Low income,South Asia,2130.0,Tech Skills,Software Development Life Cycle (SDLC),-1096.96,-566.70,-478.30,-324.99,-692.24,NaN,NaN,NaN
9,af,Afghanistan,Low income,South Asia,2265.0,Specialized Industry Skills,Cybersecurity,-1046.26,-796.25,-796.72,-517.62,-640.96,NaN,NaN,NaN
10,af,Afghanistan,Low income,South Asia,1989.0,Tech Skills,Enterprise Software,-989.69,-778.24,-328.94,-350.93,-625.19,NaN,NaN,NaN
11,af,Afghanistan,Low income,South Asia,17168.0,Specialized Industry Skills,Water Engineering,-639.43,-851.40,-486.67,-377.28,-560.86,NaN,NaN,NaN
12,af,Afghanistan,Low income,South Asia,1871.0,Specialized Industry Skills,Air Force,-1488.62,-839.32,-777.83,-480.36,-553.91,NaN,NaN,NaN
13,af,Afghanistan,Low income,South Asia,3980.0,Specialized Industry Skills,Documentation,-1115.58,-955.82,-1025.11,-722.36,-534.90,NaN,NaN,NaN
14,af,Afghanistan,Low income,South Asia,2917.0,Specialized Industry Skills,Public Safety,-1191.25,-789.13,-743.97,-465.34,-531.68,NaN,NaN,NaN

In [189]:
df['Country Name'] = df.iloc[:,[1]]

df_sum = df.groupby('Country Name')[['net_per_10K_2019']].sum()
df_sum

                    net_per_10K_2019
Country Name
Afghanistan                -35926.60
Albania                    -20747.41
Algeria                    -26729.53
Angola                       4332.13
Argentina                  -16970.64
...                              ...
Vietnam                     -1952.65
West Bank and Gaza         -13115.14
Yemen, Rep.                 -2249.00
Zambia                       2455.50
Zimbabwe                   -14459.26

[140 rows x 1 columns]

In [190]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df_sum['higher_is_better'] = True
df_sum['Year'] = 2019
df_sum['Indicator'] = indicator
df_sum['data_col'] = df_sum['net_per_10K_2019']


min_rank = df_sum['data_col'].min()
max_rank = df_sum['data_col'].max()

# transform 0-1 rank into 1-6
df_sum['new_rank_score'] = df_sum['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [191]:
df_sum[['Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Year,Indicator,data_col,new_rank_score,higher_is_better
Country Name,,,,,
Afghanistan,2019,"Country, Industry, Skill Migration Data (Skill)",-35926.60,4.221400,True
Albania,2019,"Country, Industry, Skill Migration Data (Skill)",-20747.41,4.449323,True
Algeria,2019,"Country, Industry, Skill Migration Data (Skill)",-26729.53,4.359499,True
Angola,2019,"Country, Industry, Skill Migration Data (Skill)",4332.13,4.825905,True
Argentina,2019,"Country, Industry, Skill Migration Data (Skill)",-16970.64,4.506034,True
Armenia,2019,"Country, Industry, Skill Migration Data (Skill)",-6930.40,4.656793,True
Australia,2019,"Country, Industry, Skill Migration Data (Skill)",22060.90,5.092112,True
Austria,2019,"Country, Industry, Skill Migration Data (Skill)",31195.64,5.229275,True
Azerbaijan,2019,"Country, Industry, Skill Migration Data (Skill)",-16691.04,4.510232,True
"Bahamas, The",2019,"Country, Industry, Skill Migration Data (Skill)",166.32,4.763354,True
Bahrain,2019,"Country, Industry, Skill Migration Data (Skill)",-11606.66,4.586576,True
Bangladesh,2019,"Country, Industry, Skill Migration Data (Skill)",-17647.74,4.495867,True
Belarus,2019,"Country, Industry, Skill Migration Data (Skill)",-8194.62,4.637810,True
Belgium,2019,"Country, Industry, Skill Migration Data (Skill)",11944.51,4.940209,True
Benin,2019,"Country, Industry, Skill Migration Data (Skill)",-4489.75,4.693440,True

In [192]:
df_sum[['Year','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/infrastructure_{}_scores.csv'.format(indicator, index=False))

In [193]:
### 31. Country, Industry, Skill Migration Data (Industry)

In [194]:
indicators[30]

# load data
indicator = indicators[30]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Country, Industry, Skill Migration Data (Industry)
migration_industry

In [195]:
df.head(15)

,country_code,country_name,wb_income,wb_region,isic_section_index,isic_section_name,industry_id,industry_name,net_per_10K_2015,net_per_10K_2016,net_per_10K_2017,net_per_10K_2018,net_per_10K_2019,Unnamed: 13,data_country,data_year
0,ae,United Arab Emirates,High income,Middle East & North Africa,C,Manufacturing,1,Defense & Space,378.74,127.94,8.20,68.51,49.55,NaN,NaN,NaN
1,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,3,Computer Hardware,100.97,358.14,112.98,149.57,182.22,NaN,NaN,NaN
2,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,4,Computer Software,1079.36,848.15,596.48,409.18,407.41,NaN,NaN,NaN
3,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,5,Computer Networking,401.46,447.39,163.99,236.69,188.07,NaN,NaN,NaN
4,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,6,Internet,1840.33,1368.42,877.71,852.39,519.40,NaN,NaN,NaN
5,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,8,Telecommunications,676.91,676.11,365.96,283.59,281.91,NaN,NaN,NaN
6,ae,United Arab Emirates,High income,Middle East & North Africa,M,Professional scientific and technical activities,9,Law Practice,694.50,529.50,362.83,356.56,147.83,NaN,NaN,NaN
7,ae,United Arab Emirates,High income,Middle East & North Africa,M,Professional scientific and technical activities,10,Legal Services,661.10,665.65,462.30,475.62,255.21,NaN,NaN,NaN
8,ae,United Arab Emirates,High income,Middle East & North Africa,M,Professional scientific and technical activities,11,Management Consulting,982.85,694.25,520.28,574.60,406.03,NaN,NaN,NaN
9,ae,United Arab Emirates,High income,Middle East & North Africa,M,Professional scientific and technical activities,12,Biotechnology,1230.17,846.28,500.77,205.78,513.23,NaN,NaN,NaN
10,ae,United Arab Emirates,High income,Middle East & North Africa,Q,Human health and social work activities,13,Medical Practice,674.12,449.37,368.32,266.66,136.06,NaN,NaN,NaN
11,ae,United Arab Emirates,High income,Middle East & North Africa,Q,Human health and social work activities,14,Hospital & Health Care,784.47,663.06,475.39,373.26,268.67,NaN,NaN,NaN
12,ae,United Arab Emirates,High income,Middle East & North Africa,C,Manufacturing,15,Pharmaceuticals,893.55,714.75,473.60,515.47,396.71,NaN,NaN,NaN
13,ae,United Arab Emirates,High income,Middle East & North Africa,Q,Human health and social work activities,17,Medical Device,885.00,1034.07,543.44,415.49,183.75,NaN,NaN,NaN
14,ae,United Arab Emirates,High income,Middle East & North Africa,G,Wholesale and retail trade; repair of motor ve...,18,Cosmetics,928.04,689.92,428.23,278.95,157.01,NaN,NaN,NaN

In [196]:
df['Country Name'] = df.iloc[:,[1]]

df_sum = df.groupby('Country Name')[['net_per_10K_2019']].sum()
df_sum

                    net_per_10K_2019
Country Name
Afghanistan                 -1369.00
Albania                     -2188.08
Algeria                     -3243.78
Angola                        544.66
Argentina                   -4122.87
...                              ...
Vietnam                     -2645.19
West Bank and Gaza           -748.05
Yemen, Rep.                   160.41
Zambia                        494.78
Zimbabwe                    -1701.37

[137 rows x 1 columns]

In [197]:
## create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df_sum['higher_is_better'] = True
df_sum['Year'] = 2019
df_sum['Indicator'] = indicator
df_sum['data_col'] = df_sum['net_per_10K_2019']


min_rank = df_sum['data_col'].min()
max_rank = df_sum['data_col'].max()

# transform 0-1 rank into 1-6
df_sum['new_rank_score'] = df_sum['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [198]:
df_sum[['Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Year,Indicator,data_col,new_rank_score,higher_is_better
Country Name,,,,,
Afghanistan,2019,"Country, Industry, Skill Migration Data (Indus...",-1369.00,4.082767,True
Albania,2019,"Country, Industry, Skill Migration Data (Indus...",-2188.08,4.016637,True
Algeria,2019,"Country, Industry, Skill Migration Data (Indus...",-3243.78,3.931403,True
Angola,2019,"Country, Industry, Skill Migration Data (Indus...",544.66,4.237269,True
Argentina,2019,"Country, Industry, Skill Migration Data (Indus...",-4122.87,3.860429,True
Armenia,2019,"Country, Industry, Skill Migration Data (Indus...",-308.22,4.168411,True
Australia,2019,"Country, Industry, Skill Migration Data (Indus...",13732.49,5.302010,True
Austria,2019,"Country, Industry, Skill Migration Data (Indus...",7143.28,4.770019,True
Azerbaijan,2019,"Country, Industry, Skill Migration Data (Indus...",-1030.96,4.110059,True
"Bahamas, The",2019,"Country, Industry, Skill Migration Data (Indus...",-202.83,4.176919,True
Bahrain,2019,"Country, Industry, Skill Migration Data (Indus...",-416.68,4.159654,True
Bangladesh,2019,"Country, Industry, Skill Migration Data (Indus...",-2270.37,4.009993,True
Belarus,2019,"Country, Industry, Skill Migration Data (Indus...",-431.20,4.158482,True
Belgium,2019,"Country, Industry, Skill Migration Data (Indus...",3728.64,4.494333,True
Benin,2019,"Country, Industry, Skill Migration Data (Indus...",-129.29,4.182857,True

In [199]:
df_sum[['Year','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/infrastructure_{}_scores.csv'.format(indicator, index=False))

In [200]:
### 32. Country, Industry, Skill Migration Data (Nation)

In [201]:
indicators[31]

# load data
indicator = indicators[31]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Country, Industry, Skill Migration Data (Country)
migration_country

In [202]:
df.head(15)

,base_country_code,base_country_name,base_lat,base_long,base_country_wb_income,base_country_wb_region,target_country_code,target_country_name,target_lat,target_long,target_country_wb_income,target_country_wb_region,net_per_10K_2015,net_per_10K_2016,net_per_10K_2017,net_per_10K_2018,net_per_10K_2019,Unnamed: 17,data_country,data_year
0,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,af,Afghanistan,33.939110,67.709953,Low Income,South Asia,0.19,0.16,0.11,-0.05,-0.02,NaN,NaN,NaN
1,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,dz,Algeria,28.033886,1.659626,Upper Middle Income,Middle East & North Africa,0.19,0.25,0.57,0.55,0.78,NaN,NaN,NaN
2,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,ao,Angola,-11.202692,17.873887,Lower Middle Income,Sub-Saharan Africa,-0.01,0.04,0.11,-0.02,-0.06,NaN,NaN,NaN
3,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,ar,Argentina,-38.416097,-63.616672,High Income,Latin America & Caribbean,0.16,0.18,0.04,0.01,0.23,NaN,NaN,NaN
4,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,am,Armenia,40.069099,45.038189,Upper Middle Income,Europe & Central Asia,0.10,0.05,0.03,-0.01,0.02,NaN,NaN,NaN
5,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,au,Australia,-25.274398,133.775136,High Income,East Asia & Pacific,-1.06,-3.31,-4.01,-4.58,-4.09,NaN,NaN,NaN
6,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,at,Austria,47.516231,14.550072,High Income,Europe & Central Asia,0.11,-0.08,-0.07,-0.05,-0.16,NaN,NaN,NaN
7,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,az,Azerbaijan,40.143105,47.576927,Upper Middle Income,Europe & Central Asia,0.24,0.25,0.10,0.05,0.04,NaN,NaN,NaN
8,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,bh,Bahrain,25.930414,50.637772,High Income,Middle East & North Africa,0.90,0.89,0.38,-0.07,0.15,NaN,NaN,NaN
9,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,bd,Bangladesh,23.684994,90.356331,Lower Middle Income,South Asia,-0.21,-0.21,-0.26,-0.18,-0.04,NaN,NaN,NaN
10,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,by,Belarus,53.709807,27.953389,Upper Middle Income,Europe & Central Asia,0.12,0.12,0.11,0.12,0.10,NaN,NaN,NaN
11,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,be,Belgium,50.503887,4.469936,High Income,Europe & Central Asia,0.51,0.22,-0.01,-0.09,-0.06,NaN,NaN,NaN
12,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,br,Brazil,-14.235004,-51.925280,Upper Middle Income,Latin America & Caribbean,0.81,0.78,0.63,0.90,0.99,NaN,NaN,NaN
13,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,bg,Bulgaria,42.733883,25.485830,Upper Middle Income,Europe & Central Asia,0.17,0.09,-0.07,-0.02,-0.04,NaN,NaN,NaN
14,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,cm,Cameroon,7.369722,12.354722,Lower Middle Income,Sub-Saharan Africa,0.20,0.13,0.20,0.29,0.29,NaN,NaN,NaN

In [203]:
df['Country Name'] = df.iloc[:,[1]]

df_sum = df.groupby('Country Name')[['net_per_10K_2019']].sum()
df_sum

                    net_per_10K_2019
Country Name
Afghanistan                    23.01
Albania                       -16.58
Algeria                       -23.47
Angola                         19.07
Argentina                      -8.77
...                              ...
Vietnam                        -7.94
West Bank and Gaza            -15.59
Yemen, Rep.                     2.89
Zambia                         27.05
Zimbabwe                      -23.98

[140 rows x 1 columns]

In [204]:
## create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df_sum['higher_is_better'] = True
df_sum['Year'] = 2019
df_sum['Indicator'] = indicator
df_sum['data_col'] = df_sum['net_per_10K_2019']


min_rank = df_sum['data_col'].min()
max_rank = df_sum['data_col'].max()

# transform 0-1 rank into 1-6
df_sum['new_rank_score'] = df_sum['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [205]:
df_sum[['Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Year,Indicator,data_col,new_rank_score,higher_is_better
Country Name,,,,,
Afghanistan,2019,"Country, Industry, Skill Migration Data (Country)",23.01,3.194208,True
Albania,2019,"Country, Industry, Skill Migration Data (Country)",-16.58,2.634379,True
Algeria,2019,"Country, Industry, Skill Migration Data (Country)",-23.47,2.536950,True
Angola,2019,"Country, Industry, Skill Migration Data (Country)",19.07,3.138494,True
Argentina,2019,"Country, Industry, Skill Migration Data (Country)",-8.77,2.744817,True
Armenia,2019,"Country, Industry, Skill Migration Data (Country)",-12.46,2.692638,True
Australia,2019,"Country, Industry, Skill Migration Data (Country)",42.52,3.470092,True
Austria,2019,"Country, Industry, Skill Migration Data (Country)",26.61,3.245114,True
Azerbaijan,2019,"Country, Industry, Skill Migration Data (Country)",-10.29,2.723324,True
"Bahamas, The",2019,"Country, Industry, Skill Migration Data (Country)",-8.82,2.744110,True
Bahrain,2019,"Country, Industry, Skill Migration Data (Country)",18.38,3.128737,True
Bangladesh,2019,"Country, Industry, Skill Migration Data (Country)",-11.75,2.702678,True
Belarus,2019,"Country, Industry, Skill Migration Data (Country)",-26.04,2.500608,True
Belgium,2019,"Country, Industry, Skill Migration Data (Country)",12.56,3.046438,True
Benin,2019,"Country, Industry, Skill Migration Data (Country)",-38.71,2.321446,True

In [206]:
df_sum[['Year','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/infrastructure_{}_scores.csv'.format(indicator, index=False))

In [207]:
### 33. Digital Finance Ecosystem size

In [208]:
indicators[32]

# load data
indicator = indicators[32]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Digital Finance Ecosystem size
global_fintech_ranking

In [209]:
df.head(15)

    Rank          Country   Total Score (2021)
0      1    United States               31.789
1      2   United Kingdom               23.262
2      3        Singapore               19.176
3      4        Lithuania               17.343
4      5      Switzerland               16.018
5      6  The Netherlands               14.464
6      7           Sweden               14.272
7      8        Australia               13.555
8      9           Canada               13.322
9     10          Estonia               13.303
10    11          Germany               12.787
11    12           Israel               12.771
12    13            Spain               12.372
13    14          Finland               12.110
14    15            India               12.024

In [210]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Year'] = 2021
df['Indicator'] = indicator
df['data_col'] = df.iloc[:,[2]]
df['Country Name'] = df.iloc[:,[1]]

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

# Have to shorten the column names to see if this works

In [211]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
0,United States,2021,Digital Finance Ecosystem size,31.789,6.000000,True
1,United Kingdom,2021,Digital Finance Ecosystem size,23.262,4.469010,True
2,Singapore,2021,Digital Finance Ecosystem size,19.176,3.735385,True
3,Lithuania,2021,Digital Finance Ecosystem size,17.343,3.406277,True
4,Switzerland,2021,Digital Finance Ecosystem size,16.018,3.168378,True
5,The Netherlands,2021,Digital Finance Ecosystem size,14.464,2.889364,True
6,Sweden,2021,Digital Finance Ecosystem size,14.272,2.854891,True
7,Australia,2021,Digital Finance Ecosystem size,13.555,2.726156,True
8,Canada,2021,Digital Finance Ecosystem size,13.322,2.684322,True
9,Estonia,2021,Digital Finance Ecosystem size,13.303,2.680911,True
10,Germany,2021,Digital Finance Ecosystem size,12.787,2.588265,True
11,Israel,2021,Digital Finance Ecosystem size,12.771,2.585392,True
12,Spain,2021,Digital Finance Ecosystem size,12.372,2.513753,True
13,Finland,2021,Digital Finance Ecosystem size,12.110,2.466712,True
14,India,2021,Digital Finance Ecosystem size,12.024,2.451271,True

In [212]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/infrastructure_{}_scores.csv'.format(indicator, index=False))

In [213]:
### 34. Tech hubs & spaces size

In [214]:
indicators[33]

# load data
indicator = indicators[33]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Tech hubs & spaces size
tech_hubs

In [215]:
df.head(15)

#There are two problems:
#1. The column names need some overhaul (moving the second column to the top and make it the column names)
#2. This is a list of cities, not countries, may present probkems later.

,City/metropolitan area,Overall Score,Ranking,Score (Research innovation),Ranking (Research innovation),Score (Innovation economy),Ranking (Innovation economy),Score (Innovation ecosystem),Ranking (Innovation ecosystem)
0,San Francisco ? San Jose,100.00,1,91.59,3,100.00,1,100.00,1
1,New York,88.44,2,100.00,1,67.63,11,94.26,2
2,Boston ? Cambridge ? Newton,85.57,3,98.49,2,67.91,10,87.73,4
3,Tokyo,84.75,4,82.99,10,90.92,2,76.37,15
4,Beijing,84.68,5,85.96,8,86.49,3,77.96,11
5,London,80.69,6,88.49,4,63.63,18,88.09,3
6,Seattle ? Tacoma ? Bellevue,77.61,7,81.80,14,69.47,9,80.04,9
7,Los Angeles ? Long Beach ? Anaheim,76.88,8,85.10,9,63.46,19,81.18,6
8,Baltimore ? Washington,76.72,9,87.96,5,63.74,15,77.90,12
9,Chapel Hill ? Durham ? Raleigh,76.58,10,87.13,7,64.20,14,77.81,13
10,Paris,76.43,11,87.80,6,66.78,12,74.20,20
11,Amsterdam,75.64,12,82.30,11,62.87,22,81.01,7
12,Chicago ? Naperville ? Elgin,75.11,13,80.43,15,62.76,23,81.39,5
13,Singapore,74.36,14,77.80,18,63.66,16,80.86,8
14,Copenhagen,73.62,15,82.20,12,61.47,27,77.15,14

In [216]:
### 35. Banking Ecosystem size

In [217]:
indicators[34]

# load data
indicator = indicators[34]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Banking Ecosystem size
banking_sector_size

In [218]:
df.head(15)

        Country  Bank assets, percent of GDP, 2017
0     Hong Kong                             256.63
1         China                             174.54
2       Denmark                             172.28
3   New Zealand                             157.73
4         Japan                             157.51
5       Lebanon                             157.18
6     Singapore                             151.67
7         Qatar                             149.95
8   South Korea                             141.52
9     Australia                             140.47
10     Thailand                             138.96
11      Vietnam                             137.43
12       Sweden                             135.27
13       Norway                             134.37
14     Malaysia                             131.91

In [219]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Year'] = 2017
df['Indicator'] = indicator
df['data_col'] = df['Bank assets, percent of GDP, 2017']
df.rename(columns={'Country':'Country Name'}, inplace=True)

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [220]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/infrastructure_{}_scores.csv'.format(indicator, index=False))# Okay but will have to remove number from the Country column, leaving only characters.

In [221]:

df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/infrastructure_{}_scores.csv'.format(indicator, index=False))

In [222]:
### 36. Angel Ecosystem size

In [223]:
indicators[35]

# load data
indicator = indicators[35]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Angel Ecosystem size
angel_investment

In [224]:
df.head(15)

           Country  Business angel investments (in million Euros)
0   United Kingdom                                         153.08
1          Germany                                          81.77
2            Spain                                          78.66
3          Finland                                          54.00
4           Sweden                                          44.08
5           France                                          43.00
6          Denmark                                          33.34
7      Switzerland                                          32.60
8            Italy                                          28.20
9           Russia                                          26.08
10          Turkey                                          21.26
11         Austria                                          20.11
12     Netherlands                                          19.38
13         Belgium                                          17.09
14         Ireland                                          16.80

In [225]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Year'] = 2019
df['Indicator'] = indicator
df['data_col'] = df['Business angel investments (in million Euros)']
df.rename(columns={'Country':'Country Name'}, inplace=True)

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [226]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

# Okay but there are only EU countries

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
0,United Kingdom,2019,Angel Ecosystem size,153.08,6.000000,True
1,Germany,2019,Angel Ecosystem size,81.77,3.666099,True
2,Spain,2019,Angel Ecosystem size,78.66,3.564312,True
3,Finland,2019,Angel Ecosystem size,54.00,2.757217,True
4,Sweden,2019,Angel Ecosystem size,44.08,2.432546,True
5,France,2019,Angel Ecosystem size,43.00,2.397198,True
6,Denmark,2019,Angel Ecosystem size,33.34,2.081037,True
7,Switzerland,2019,Angel Ecosystem size,32.60,2.056817,True
8,Italy,2019,Angel Ecosystem size,28.20,1.912810,True
9,Russia,2019,Angel Ecosystem size,26.08,1.843425,True
10,Turkey,2019,Angel Ecosystem size,21.26,1.685671,True
11,Austria,2019,Angel Ecosystem size,20.11,1.648033,True
12,Netherlands,2019,Angel Ecosystem size,19.38,1.624141,True
13,Belgium,2019,Angel Ecosystem size,17.09,1.549192,True
14,Ireland,2019,Angel Ecosystem size,16.80,1.539700,True

In [227]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/infrastructure_{}_scores.csv'.format(indicator, index=False))

In [228]:
### 37. Startup Ecosystem size

In [229]:
indicators[36]

# load data
indicator = indicators[36]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Startup Ecosystem size
startup_eco_size

In [230]:
df.head(15)

# This is a list of cities, not countries, wonder if it will work

                Location Ranking (2019)
0         Silicon Valley              1
1          New York City        2 (tie)
2                 London        2 (tie)
3                Beijing              4
4                 Boston              5
5   Tel Aviv - Jerusalem        6 (tie)
6            Los Angeles        6 (tie)
7               Shanghai              8
8                Seattle              9
9              Stockholm             10
10         Washington DC             11
11             Amsterdam             12
12                 Paris             13
13               Chicago             14
14                 Tokyo             15

In [231]:
### 38. Venture Ecosystem size

indicators[37]

# load data
indicator = indicators[37]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Venture Ecosystem size
startup_eco_size

In [232]:
df.head(15)

# Similar to the previous one

                Location Ranking (2019)
0         Silicon Valley              1
1          New York City        2 (tie)
2                 London        2 (tie)
3                Beijing              4
4                 Boston              5
5   Tel Aviv - Jerusalem        6 (tie)
6            Los Angeles        6 (tie)
7               Shanghai              8
8                Seattle              9
9              Stockholm             10
10         Washington DC             11
11             Amsterdam             12
12                 Paris             13
13               Chicago             14
14                 Tokyo             15

In [233]:
### 39. International Co-Inventions

In [234]:
indicators[38]

# load data
indicator = indicators[38]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

International Co-Inventions
international_co_inventions

In [235]:
df.head(15)

,KINDPATENT,Patent office,KINDCOOP,Type of International Cooperation in Patenting,LOCATION,Country,PARTNER,Partner Country,KINDDATE,Reference Date,...,Time,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,1999,NBR,Number,0,Units,NaN,NaN,1082.0,NaN,NaN
1,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,2000,NBR,Number,0,Units,NaN,NaN,1159.0,NaN,NaN
2,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,2001,NBR,Number,0,Units,NaN,NaN,1119.0,NaN,NaN
3,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,2002,NBR,Number,0,Units,NaN,NaN,1193.0,NaN,NaN
4,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,2003,NBR,Number,0,Units,NaN,NaN,1238.0,NaN,NaN
5,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,2004,NBR,Number,0,Units,NaN,NaN,1336.0,NaN,NaN
6,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,2005,NBR,Number,0,Units,NaN,NaN,1332.0,NaN,NaN
7,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,2006,NBR,Number,0,Units,NaN,NaN,1219.0,NaN,NaN
8,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,2007,NBR,Number,0,Units,NaN,NaN,1131.0,NaN,NaN
9,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,2008,NBR,Number,0,Units,NaN,NaN,1110.0,NaN,NaN
10,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,2009,NBR,Number,0,Units,NaN,NaN,1126.0,NaN,NaN
11,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,2010,NBR,Number,0,Units,NaN,NaN,1035.0,NaN,NaN
12,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,2011,NBR,Number,0,Units,NaN,NaN,1087.0,NaN,NaN
13,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,2012,NBR,Number,0,Units,NaN,NaN,1072.0,NaN,NaN
14,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,2013,NBR,Number,0,Units,NaN,NaN,1006.0,NaN,NaN

In [236]:
# filter most recent year and global value
df = df[(df.Time==2017)]
df = df[(df.Country!='World')]
df ['Country Name'] = df ['Country']
df

,KINDPATENT,Patent office,KINDCOOP,Type of International Cooperation in Patenting,LOCATION,Country,PARTNER,Partner Country,KINDDATE,Reference Date,...,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags,Country Name
36,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,APPLICATION,Application date,...,NBR,Number,0,Units,NaN,NaN,1077.0000,NaN,NaN,Australia
73,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,WRD,Total co-operation with abroad,APPLICATION,Application date,...,NBR,Number,0,Units,NaN,NaN,277.0000,NaN,NaN,Australia
110,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,JPN,Japan,APPLICATION,Application date,...,NBR,Number,0,Units,NaN,NaN,11.0000,NaN,NaN,Australia
147,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,USA,United States,APPLICATION,Application date,...,NBR,Number,0,Units,NaN,NaN,137.0000,NaN,NaN,Australia
184,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,EU27,European Union (27),APPLICATION,Application date,...,NBR,Number,0,Units,NaN,NaN,62.0000,NaN,NaN,Australia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27024,USPTO_A,Patent applications to the USPTO,CO_INV_S,% of patents with foreign co-inventor(s),USA,United States,EU27,European Union (27),APPLICATION,Application date,...,PC,Percentage,0,Units,NaN,NaN,3.6198,NaN,NaN,United States
27062,USPTO_A,Patent applications to the USPTO,CO_INV_S,% of patents with foreign co-inventor(s),EU27,European Union (27 countries),WRD,Total co-operation with abroad,APPLICATION,Application date,...,PC,Percentage,0,Units,NaN,NaN,20.9912,NaN,NaN,European Union (27 countries)
27081,USPTO_A,Patent applications to the USPTO,CO_INV_S,% of patents with foreign co-inventor(s),EU27,European Union (27 countries),JPN,Japan,APPLICATION,Application date,...,PC,Percentage,0,Units,NaN,NaN,0.7465,NaN,NaN,European Union (27 countries)
27100,USPTO_A,Patent applications to the USPTO,CO_INV_S,% of patents with foreign co-inventor(s),EU27,European Union (27 countries),USA,United States,APPLICATION,Application date,...,PC,Percentage,0,Units,NaN,NaN,13.4261,NaN,NaN,European Union (27 countries)
27119,USPTO_A,Patent applications to the USPTO,CO_INV_S,% of patents with foreign co-inventor(s),EU27,European Union (27 countries),EU27,European Union (27),APPLICATION,Application date,...,PC,Percentage,0,Units,NaN,NaN,6.8753,NaN,NaN,European Union (27 countries)

In [237]:
# Create summarization
df_sum = df.groupby('Country Name')[['Value']].sum()
df_sum

                                      Value
Country Name
Australia                      3.116507e+04
Canada                         8.628640e+04
European Union (27 countries)  7.976543e+05
European Union (28 countries)  0.000000e+00
Japan                          5.457706e+05
Netherlands                    7.438852e+04
United States                  1.224357e+06

In [238]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df_sum['higher_is_better'] = True
df_sum['Year'] = 2017
df_sum['Indicator'] = indicator
df_sum['data_col'] = df_sum.iloc[:,[0]]

min_rank = df_sum['data_col'].min()
max_rank = df_sum['data_col'].max()

# transform 0-1 rank into 1-6
df_sum['new_rank_score'] = df_sum['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [239]:
df_sum[['Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

# Okay but the data is too general with many missing countries

,Year,Indicator,data_col,new_rank_score,higher_is_better
Country Name,,,,,
Australia,2017,International Co-Inventions,3.116507e+04,1.127271,True
Canada,2017,International Co-Inventions,8.628640e+04,1.352374,True
European Union (27 countries),2017,International Co-Inventions,7.976543e+05,4.257441,True
European Union (28 countries),2017,International Co-Inventions,0.000000e+00,1.000000,True
Japan,2017,International Co-Inventions,5.457706e+05,3.228805,True
Netherlands,2017,International Co-Inventions,7.438852e+04,1.303786,True
United States,2017,International Co-Inventions,1.224357e+06,6.000000,True

In [240]:
df_sum[['Year','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/infrastructure_{}_scores.csv'.format(indicator, index=False))

In [241]:
### Score Aggregating

In [242]:
import os

In [243]:
# get list of files in scores folder
scores = os.listdir('../indicator_scores/')
scores = [s for s in scores if s.startswith('infrastructure')]

In [244]:
scores

['infrastructure_% of population covered by electricity_scores.csv',
 'infrastructure_% of population covered by internet connectivity_scores.csv',
 'infrastructure_% of population covered by mobile 2G+ data connectivity_scores.csv',
 'infrastructure_% of population covered by mobile 3G+ data connectivity_scores.csv',
 'infrastructure_% of population covered by mobile 4G+ data connectivity_scores.csv',
 'infrastructure_% of population covered by mobile 5G+ data connectivity_scores.csv',
 'infrastructure_Angel Ecosystem size_scores.csv',
 'infrastructure_Average fixed broadband download speeds _scores.csv',
 'infrastructure_Banking Ecosystem size_scores.csv',
 'infrastructure_Cellphone Signal Density_scores.csv',
 'infrastructure_Country, Industry, Skill Migration Data (Country)_scores.csv',
 'infrastructure_Country, Industry, Skill Migration Data (Industry)_scores.csv',
 'infrastructure_Country, Industry, Skill Migration Data (Skill)_scores.csv',
 'infrastructure_Digital Finance Ecosystem size_scores.csv',
 'infrastructure_Digital Work Ecosystem size_scores.csv',
 'infrastructure_Electricity Density_scores.csv',
 'infrastructure_Electricity Environmental Sustainability_scores.csv',
 'infrastructure_Global Cybersecurity Index (GCI)_scores.csv',
 'infrastructure_GSMA Mobile Connectivity Index _scores.csv',
 'infrastructure_Individuals using the Internet (% of population)_scores.csv',
 'infrastructure_International Co-Inventions_scores.csv',
 'infrastructure_Internet Exchange Points (IXPs) map_scores.csv',
 'infrastructure_ISP internet download speed average _scores.csv',
 'infrastructure_ISP Speeds - Mobile_scores.csv',
 'infrastructure_Logistics Performance Index (LPI) - Infrastructure Rating_scores.csv',
 'infrastructure_Mobile cellular subscriptions (per 100 people)_scores.csv',
 'infrastructure_Mobile Coverage Maps_scores.csv',
 'infrastructure_Mobile dowload speed at the slowest hour of the day_scores.csv',
 'infrastructure_Mobile download speed average _scores.csv',
 'infrastructure_National cyber security index_scores.csv',
 'infrastructure_Postal Coverage_scores.csv',
 'infrastructure_Software Developer Ecosystem size_scores.csv',
 'infrastructure_Spectrum Allocated to Mobile Providers_scores.csv',
 'infrastructure_Telecommunication Infrastructure Index (TII)_scores.csv']

In [245]:
# create a dataframe that concatenates all these file into one table
df = pd.concat([pd.read_csv('../indicator_scores/{}'.format(s)) for s in scores])

In [246]:
df

,Unnamed: 0,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
0,0.0,Aruba,2019.0,% of population covered by electricity,100.000000,6.000000,True
1,1.0,Africa Eastern and Southern,2019.0,% of population covered by electricity,43.640661,2.979006,True
2,2.0,Afghanistan,2019.0,% of population covered by electricity,97.700000,5.876715,True
3,3.0,Africa Western and Central,2019.0,% of population covered by electricity,51.341421,3.391785,True
4,4.0,Angola,2019.0,% of population covered by electricity,45.670315,3.087800,True
...,...,...,...,...,...,...,...
188,188.0,Senegal,2020.0,Telecommunication Infrastructure Index (TII),0.435800,3.179000,True
189,189.0,Serbia,2020.0,Telecommunication Infrastructure Index (TII),0.620000,4.100000,True
190,190.0,Seychelles,2020.0,Telecommunication Infrastructure Index (TII),0.692500,4.462500,True
191,191.0,Singapore,2020.0,Telecommunication Infrastructure Index (TII),0.889900,5.449500,True
192,192.0,Slovakia,2020.0,Telecommunication Infrastructure Index (TII),0.798800,4.994000,True

In [247]:
# Data cleaning
df['new_rank_score'] = df['new_rank_score'].fillna(0)
df.sort_values(by=['Country Name'], ascending=True, inplace=True)
df.reset_index(drop=True, inplace=True)

# remove trailing whitespaces from country name
df['Country Name'] = df['Country Name'].str.strip()
df['Country Name'] = df['Country Name'].str.strip('**')
df['Country Name'] = df['Country Name'].str.strip('*')


# Replace values that are not truly country names with nan
df['Country Name'] = df['Country Name'].replace('n.a. : non avalaible',np.nan)
df['Country Name'] = df['Country Name'].replace('nan',np.nan)
df['Country Name'] = df['Country Name'].replace('Not classified',np.nan)
df['Country Name'] = df['Country Name'].replace('Source :',np.nan)
df['Country Name'] = df['Country Name'].replace('© Copyright Enerdata. Reproduction and diffusion prohibited (web, photocopy, intranet...) without written permission.',np.nan)

# Dropping the columns having NaN/NaT values
df = df[df['Country Name'].notna()]


df['Country Name'] = df['Country Name'].astype(str, errors = 'ignore')

<ipython-input-247-2258ea5563f6>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Country Name'] = df['Country Name'].astype(str, errors = 'ignore')

In [248]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4866 entries, 0 to 4867
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        4277 non-null   float64
 1   Country Name      4866 non-null   object
 2   Year              4866 non-null   float64
 3   Indicator         4866 non-null   object
 4   data_col          4653 non-null   float64
 5   new_rank_score    4866 non-null   float64
 6   higher_is_better  4866 non-null   bool
dtypes: bool(1), float64(4), object(2)
memory usage: 270.9+ KB

In [249]:
df.head(15)

,Unnamed: 0,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
0,160.0,Afghanistan,2017.0,Banking Ecosystem size,3.4300,1.005129,True
1,159.0,Afghanistan,2018.0,Logistics Performance Index (LPI) - Infrastruc...,2.3800,1.717300,True
2,138.0,Afghanistan,2021.0,Mobile download speed average,6.7100,1.000000,True
3,NaN,Afghanistan,2019.0,"Country, Industry, Skill Migration Data (Skill)",-35926.6000,4.221400,True
4,0.0,Afghanistan,2021.0,Electricity Environmental Sustainability,53.9000,2.638655,True
5,138.0,Afghanistan,2021.0,ISP Speeds - Mobile,6.7100,1.000000,True
6,132.0,Afghanistan,2021.0,National cyber security index,11.6900,1.547996,True
7,170.0,Afghanistan,2021.0,ISP internet download speed average,10.2800,1.112460,True
8,154.0,Afghanistan,2021.0,Average fixed broadband download speeds,10.3100,1.154794,True
9,NaN,Afghanistan,2019.0,"Country, Industry, Skill Migration Data (Indus...",-1369.0000,4.082767,True
10,177.0,Afghanistan,2020.0,Global Cybersecurity Index (GCI),5.2000,1.209677,True
11,5.0,Afghanistan,2019.0,GSMA Mobile Connectivity Index,28.9400,2.041533,True
12,NaN,Afghanistan,2019.0,Internet Exchange Points (IXPs) map,1.0000,1.000000,True
13,29.0,Afghanistan,2020.0,Telecommunication Infrastructure Index (TII),0.1762,1.881000,True
14,5.0,Afghanistan,2019.0,Cellphone Signal Density,38.4800,2.117926,True

In [250]:
sorted(df['Country Name'].unique().tolist())

['Afghanistan',
 'Africa',
 'Africa Eastern and Southern',
 'Africa Western and Central',
 'Albania',
 'Algeria',
 'America',
 'American Samoa',
 'Andorra',
 'Angola',
 'Ant.& Barb.',
 'Antigua and Barbuda',
 'Arab World',
 'Argentina',
 'Armenia',
 'Aruba',
 'Asia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'BRICS',
 'Bahamas',
 'Bahamas, The',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belgium Estonia',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bolivia (Plurinational State of)',
 'Bosnia & Herz.',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burma',
 'Burundi',
 'C.A. Republic',
 'CIS',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Caribbean small states',
 'Cayman Islands',
 'Central African Rep.',
 'Central African Republic',
 'Central Europe and the Baltics',
 'Chad',
 'Channel Islands',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo',
 'Congo (Democratic Republic of the)',
 'Congo (Rep. of the)',
 'Congo, Dem. Rep.',
 'Congo, Democratic Republic',
 'Congo, Rep.',
 'Costa Rica',
 "Cote D'Ivoire",
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Curacao',
 'Curaçao',
 'Cyprus',
 'Czech Rep.',
 'Czech Republic',
 'Czechia',
 "Côte d'Ivoire",
 'DR Congo',
 "Dem. People's Rep. of Korea",
 'Dem. Rep. of the Congo',
 "Democratic People's Republic of Korea",
 'Democratic Republic of Congo',
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Domin. Rep.',
 'Dominica',
 'Dominican Rep.',
 'Dominican Republic',
 'Early-demographic dividend',
 'East Asia & Pacific',
 'East Asia & Pacific (IDA & IBRD countries)',
 'East Asia & Pacific (excluding high income)',
 'East and South Asia',
 'Eastern Europe and Central Asia',
 'Ecuador',
 'Egypt',
 'Egypt, Arab Rep.',
 'El Salvador',
 'Eq. Guinea',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Euro area',
 'Europe',
 'Europe & Central Asia',
 'Europe & Central Asia (IDA & IBRD countries)',
 'Europe & Central Asia (excluding high income)',
 'European Union',
 'European Union (27 countries)',
 'European Union (28 countries)',
 'Faroe Islands',
 'Fiji',
 'Finland',
 'Fragile and conflict affected situations',
 'France',
 'French Polynesia',
 'G.-Bissau',
 'G7',
 'Gabon',
 'Gambia',
 'Gambia, The',
 'Georgia',
 'Georgia (Country)',
 'Germany',
 'Germany France',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Heavily indebted poor countries (HIPC)',
 'High income',
 'High-income Countries',
 'Honduras',
 'Hong Kong',
 'Hong Kong (SAR)',
 'Hong Kong SAR, China',
 'Hong Kong, China',
 'Hungary',
 'IBRD only',
 'IDA & IBRD total',
 'IDA blend',
 'IDA only',
 'IDA total',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iran (Islamic Republic of)',
 'Iran, Islamic Rep.',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Ivory Coast',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Korea (Rep. of)',
 'Korea (Republic of)',
 "Korea, Dem. People's Rep.",
 'Korea, Dem. Rep.',
 'Korea, Rep.',
 'Korea, South',
 'Kosovo',
 'Kuwait',
 'Kyrgyz Republic',
 'Kyrgyzstan',
 'Lao P.D.R.',
 'Lao PDR',
 "Lao People's Democratic Republic",
 'Laos',
 'Late-demographic dividend',
 'Latin America',
 'Latin America & Caribbean',
 'Latin America & Caribbean (excluding high income)',
 'Latin America & the Caribbean (IDA & IBRD countries)',
 'Latin America and the Caribbean',
 'Latvia',
 'Least developed countries: UN classification',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Low & middle income',
 'Low income',
 'Low-income Countries',
 'Lower middle income',
 'Lower-middle-income Countries',
 'Luxembourg',
 'Macao',
 'Macao SAR, China',
 'Macao, China',
 'Macau',
 'Macau (SAR)',
 'Macedonia',
 'Macedonia, FYR',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Martinique',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia',
 'Micronesia (Federated States of)',
 'Micronesia, Fed. Sts.',
 'Middle East & North Africa',
 'Middle East & North Africa (IDA & IBRD countries)',
 'Middle East & North Africa (excluding high income)',
 'Middle East and North Africa',
 'Middle income',
 'Middle-East',
 'Moldova',
 'Moldova (Republic of)',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Nepal (Republic of)',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North America',
 'North Macedonia',
 'Northern Mariana Islands',
 'Norway',
 'OECD',
 'OECD members',
 'Oceania',
 'Oman',
 'Other small states',
 'Pacific',
 'Pacific island small states',
 'Pakistan',
 'Palau',
 'Palestine',
 'Panama',
 'Papua N.G.',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Post-demographic dividend',
 'Pre-demographic dividend',
 'Puerto Rico',
 'Qatar',
 'R. of Congo',
 'Republic of Congo',
 'Republic of Korea',
 'Republic of Moldova',
 'Republic of the Congo',
 'Republic of the Union of Myanmar',
 'Romania',
 'Russia',
 'Russian Federation',
 'Rwanda',
 'S.T.&Principe',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten',
 'Sint Maarten (Dutch part)',
 'Slovak Republic',
 'Slovakia',
 'Slovenia',
 'Small Island Developing States',
 'Small states',
 'Solomon Isl.',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Asia',
 'South Asia (IDA & IBRD)',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'St. Kitts and Nevis',
 'St. Lucia',
 'St. Martin (French part)',
 'St. Vincent & ...',
 'St. Vincent and the Grenadines',
 'State of Palestine',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa (IDA & IBRD countries)',
 'Sub-Saharan Africa (excluding high income)',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syria',
 'Syrian Arab Republic',
 'São Tomé and Principe',
 'Taiwan',
 'Taiwan, China',
 'Tajikistan',
 'Tanzania',
 'Tanzania, United Republic of',
 'Thailand',
 'The Bahamas',
 'The Gambia',
 'The Netherlands',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Tr.&Tobago',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'UA Emirates',
 'USA',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United Kingdom of Great Britain and Northern Ireland',
 'United Republic of Tanzania',
 'United States',
 'United States of America',
 'Upper middle income',
 'Upper-middle-income Countries',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Vatican',
 'Venezuela',
 'Venezuela, RB',
 'Viet Nam',
 'Vietnam',
 'Virgin Islands (U.S.)',
 'West Bank and Gaza',
 'Western Sahara',
 'World',
 'Yemen',
 'Yemen, Rep.',
 'Zambia',
 'Zimbabwe']

In [251]:
df.head(15)

,Unnamed: 0,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
0,160.0,Afghanistan,2017.0,Banking Ecosystem size,3.4300,1.005129,True
1,159.0,Afghanistan,2018.0,Logistics Performance Index (LPI) - Infrastruc...,2.3800,1.717300,True
2,138.0,Afghanistan,2021.0,Mobile download speed average,6.7100,1.000000,True
3,NaN,Afghanistan,2019.0,"Country, Industry, Skill Migration Data (Skill)",-35926.6000,4.221400,True
4,0.0,Afghanistan,2021.0,Electricity Environmental Sustainability,53.9000,2.638655,True
5,138.0,Afghanistan,2021.0,ISP Speeds - Mobile,6.7100,1.000000,True
6,132.0,Afghanistan,2021.0,National cyber security index,11.6900,1.547996,True
7,170.0,Afghanistan,2021.0,ISP internet download speed average,10.2800,1.112460,True
8,154.0,Afghanistan,2021.0,Average fixed broadband download speeds,10.3100,1.154794,True
9,NaN,Afghanistan,2019.0,"Country, Industry, Skill Migration Data (Indus...",-1369.0000,4.082767,True
10,177.0,Afghanistan,2020.0,Global Cybersecurity Index (GCI),5.2000,1.209677,True
11,5.0,Afghanistan,2019.0,GSMA Mobile Connectivity Index,28.9400,2.041533,True
12,NaN,Afghanistan,2019.0,Internet Exchange Points (IXPs) map,1.0000,1.000000,True
13,29.0,Afghanistan,2020.0,Telecommunication Infrastructure Index (TII),0.1762,1.881000,True
14,5.0,Afghanistan,2019.0,Cellphone Signal Density,38.4800,2.117926,True

In [252]:
# average indicator scores per country
agg_df = df.groupby(['Country Name']).agg({'new_rank_score':'mean','data_col':'count'})

In [253]:
agg_df.columns = ['agg_score', 'count_source' ]

In [254]:
max_number_sources = agg_df.describe()['count_source']['max']

In [255]:
agg_df['agg_score_wt'] = agg_df['agg_score']*(agg_df['count_source']/max_number_sources)

In [256]:
agg_df.sort_values(by='agg_score', ascending=False, inplace=True)

In [257]:
agg_df.head(25)

,agg_score,count_source,agg_score_wt
Country Name,,,
Northern Mariana Islands,6.000000,1,0.181818
Central Europe and the Baltics,6.000000,1,0.181818
Channel Islands,6.000000,1,0.181818
Turks and Caicos Islands,6.000000,1,0.181818
Curacao,6.000000,1,0.181818
Sint Maarten (Dutch part),6.000000,1,0.181818
St. Martin (French part),6.000000,1,0.181818
Euro area,6.000000,1,0.181818
High income,5.999984,1,0.181818
Post-demographic dividend,5.999891,1,0.181815
Europe & Central Asia,5.999642,1,0.181807
Europe & Central Asia (IDA & IBRD countries),5.999285,1,0.181797
Europe & Central Asia (excluding high income),5.999213,1,0.181794
"Macao SAR, China",5.997500,2,0.363485
New Caledonia,5.975000,2,0.362121
Upper middle income,5.966627,1,0.180807
Late-demographic dividend,5.966238,1,0.180795
Bermuda,5.950000,2,0.360606
East Asia & Pacific (IDA & IBRD countries),5.921265,1,0.179432
IBRD only,5.919707,1,0.179385
Latin America & Caribbean,5.915538,1,0.179259
Latin America & the Caribbean (IDA & IBRD countries),5.913617,1,0.179201
Caribbean small states,5.907831,1,0.179025
Latin America & Caribbean (excluding high income),5.907414,1,0.179013
East Asia & Pacific,5.899668,1,0.178778

In [258]:
agg_df.to_csv('../pillar_scores/infrastructure_scores_v0.csv')