In [1]:
import pandas as pd
import numpy as np

### Get all the pillar names from the excel

In [2]:
names = pd.read_excel('../../UNDP Digital Assessment Data Framework Filename Matching V7.xlsx')

In [3]:
col_names = ['Indicator','check', 'Data Source','Index','Filename','Sub-Pillar']

In [4]:
names = names[col_names]

In [5]:
names.head()

,Indicator,check,Data Source,Index,Filename,Sub-Pillar
0,Countries,NaN,United Nations,False,Countries,NaN
1,"Database of Global Administrative Areas (GADM,...",NaN,GADM maps and data,False,NaN,NaN
2,High Resolution Population Density Maps + Demo...,NaN,Facebook,False,NaN,NaN
3,population density vs openstreetmap object den...,NaN,NaN,False,NaN,NaN
4,Population Density,Infrastructure,World Bank,False,population_density,Connectivity Technology

In [6]:
# get all the files per pillar
data_stats = names.groupby('check').agg({'Filename':'count','Indicator':'count'})

In [7]:
data_stats

                Filename  Indicator
check
Business              16         25
Foundations           14         22
Government            10         15
Infrastructure        39         51
People                35         49
Regulation             5          8
Strategy               1          1

### Government

In [8]:
bnames = names[(names.check=='Government')&(~names.Filename.isna())]#&(names.Index==False)]

In [9]:
bnames.head(25)

,Indicator,check,Data Source,Index,Filename,Sub-Pillar
56,Online-Service-Index (OSI),Government,DESA,True,e_government_index,Digital Public Services
57,E-Participation index,Government,DESA,True,e_government_index,Digital Public Services
58,Use of public services online (% of services o...,Government,Boston Consulting Group/SalesForce,False,digital_public_service_use,Digital Public Services
59,Security incidents (# of relevant issues),Government,SPECOPS/CSIS,False,cyber_attacks,Digital Public Services
60,What is the % change of government digitizing ...,Government,World Bank,TRUE,Egov_strategy,Digital Public Services
61,R&D spending (% of GDP),Government,World Bank,False,RD_Percentage_GDP,Funding and procurement
62,ICT investment as a percentage of GDP,Government,OECD,False,ICT_Investment,Funding and procurement
64,Evidence of digital strategies in/across Minst...,Government,World Bank,False,Egov_strategy,Funding and procurement
65,Evidence of focus on vulnerable groups,Government,World Bank,False,Egov_strategy,Leadership and coordination
68,% of digital skills certifications / training ...,Government,Coursera,False,digital_skill_level,Capabilities

In [10]:
# get list of names for all indicators
indicators = bnames.Indicator.unique()
subpillars = bnames['Sub-Pillar'].unique()

In [11]:
# get all file names
bfiles = bnames.Filename.unique()

In [12]:
bfiles

array(['e_government_index', 'digital_public_service_use',
       'cyber_attacks', 'Egov_strategy', 'RD_Percentage_GDP',
       'ICT_Investment', 'digital_skill_level'], dtype=object)

In [13]:
subpillars

array(['Digital Public Services', 'Funding and procurement',
       'Leadership and coordination', 'Capabilities'], dtype=object)

In [14]:
# formula for converting scale
def convert_rank(old_value, old_min=1, old_max=7, new_min=1, new_max=6 ):
    """ Convert old scale values scale into new scale values"""
    old_range = old_max - old_min
    new_range = new_max - new_min
    new_value = (((old_value-old_min)*new_range)/old_range)+new_min
    return new_value

### 1. Online-Service-Index (OSI)

In [15]:
indicators[0]

'Online-Service-Index (OSI)'

In [16]:
# load data
indicator = indicators[0]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Online-Service-Index (OSI)
e_government_index

In [17]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Digital Public Services

In [18]:
df.head()

,Survey Year,Country Name,E-Government Rank,E-Government Index,E-Participation Index,Online Service Index,Human Capital Index,Telecommunication Infrastructure Index
0,2020,Iraq,143,0.4360,0.3095,0.3353,0.4358,0.5370
1,2020,Ireland,27,0.8433,0.8571,0.7706,0.9494,0.8100
2,2020,Israel,30,0.8361,0.7143,0.7471,0.8924,0.8689
3,2020,Italy,37,0.8231,0.8214,0.8294,0.8466,0.7932
4,2020,Jamaica,114,0.5392,0.3690,0.3882,0.7142,0.5151

In [19]:
# all data from 2020
df['Survey Year'].value_counts()

2020    193
Name: Survey Year, dtype: int64

In [20]:
# score looks like the one to use
df.describe()

,Survey Year,E-Government Rank,E-Government Index,E-Participation Index,Online Service Index,Human Capital Index,Telecommunication Infrastructure Index
count,193.0,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000
mean,2020.0,97.000000,0.598767,0.567723,0.561961,0.687992,0.546354
std,0.0,55.858452,0.214869,0.259592,0.249874,0.194440,0.259358
min,2020.0,1.000000,0.087500,0.000000,0.000000,0.000000,0.000000
25%,2020.0,49.000000,0.432000,0.357100,0.352900,0.559900,0.349600
50%,2020.0,97.000000,0.612900,0.571400,0.576500,0.739500,0.566900
75%,2020.0,145.000000,0.779800,0.797600,0.764700,0.841400,0.772300
max,2020.0,193.000000,0.975800,1.000000,1.000000,1.000000,1.000000

In [21]:
# df.Indicator.unique()

In [22]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Online Service Index'] 
df['Year'] = df['Survey Year']
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [23]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,Iraq,2020,Online-Service-Index (OSI),0.3353,2.6765,True,Digital Public Services
1,Ireland,2020,Online-Service-Index (OSI),0.7706,4.8530,True,Digital Public Services
2,Israel,2020,Online-Service-Index (OSI),0.7471,4.7355,True,Digital Public Services
3,Italy,2020,Online-Service-Index (OSI),0.8294,5.1470,True,Digital Public Services
4,Jamaica,2020,Online-Service-Index (OSI),0.3882,2.9410,True,Digital Public Services
...,...,...,...,...,...,...,...
188,Senegal,2020,Online-Service-Index (OSI),0.4941,3.4705,True,Digital Public Services
189,Serbia,2020,Online-Service-Index (OSI),0.7941,4.9705,True,Digital Public Services
190,Seychelles,2020,Online-Service-Index (OSI),0.6176,4.0880,True,Digital Public Services
191,Singapore,2020,Online-Service-Index (OSI),0.9647,5.8235,True,Digital Public Services
192,Slovakia,2020,Online-Service-Index (OSI),0.7176,4.5880,True,Digital Public Services

In [24]:
# output scores
df.to_csv('../indicator_scores/government_{}_scores.csv'.format(indicator))

## 2. E-Participation index

In [25]:
indicator = indicators[1]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

E-Participation index
e_government_index

In [26]:
df.head()

,Survey Year,Country Name,E-Government Rank,E-Government Index,E-Participation Index,Online Service Index,Human Capital Index,Telecommunication Infrastructure Index
0,2020,Iraq,143,0.4360,0.3095,0.3353,0.4358,0.5370
1,2020,Ireland,27,0.8433,0.8571,0.7706,0.9494,0.8100
2,2020,Israel,30,0.8361,0.7143,0.7471,0.8924,0.8689
3,2020,Italy,37,0.8231,0.8214,0.8294,0.8466,0.7932
4,2020,Jamaica,114,0.5392,0.3690,0.3882,0.7142,0.5151

In [27]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Digital Public Services

In [28]:
df['Survey Year'].unique()

array([2020], dtype=int64)

In [29]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df.iloc[:,4]
df['Year'] = df['Survey Year']
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [30]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,Iraq,2020,E-Participation index,0.3095,2.5475,True,Digital Public Services
1,Ireland,2020,E-Participation index,0.8571,5.2855,True,Digital Public Services
2,Israel,2020,E-Participation index,0.7143,4.5715,True,Digital Public Services
3,Italy,2020,E-Participation index,0.8214,5.1070,True,Digital Public Services
4,Jamaica,2020,E-Participation index,0.3690,2.8450,True,Digital Public Services
...,...,...,...,...,...,...,...
188,Senegal,2020,E-Participation index,0.4405,3.2025,True,Digital Public Services
189,Serbia,2020,E-Participation index,0.8214,5.1070,True,Digital Public Services
190,Seychelles,2020,E-Participation index,0.5714,3.8570,True,Digital Public Services
191,Singapore,2020,E-Participation index,0.9762,5.8810,True,Digital Public Services
192,Slovakia,2020,E-Participation index,0.7024,4.5120,True,Digital Public Services

In [31]:
# output scores
df.to_csv('../indicator_scores/government_{}_scores.csv'.format(indicator))

## 3. Use of public services online (% of services online, penetration, frequency of use)

In [32]:
indicator = indicators[2]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Use of public services online (% of services online, penetration, frequency of use)
digital_public_service_use

In [33]:
# drop first row
df = df.iloc[1: , :]

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 1 to 31
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             31 non-null     object
 1   Net Perception (%)  31 non-null     int64
dtypes: int64(1), object(1)
memory usage: 628.0+ bytes

In [35]:
df.head(15)

           Country  Net Perception (%)
1             UAE                   61
2    Saudi Arabia                   59
3        Singapore                  54
4           China                   53
5     New Zealand                   52
6     Netherlands                   51
7           Qatar                   51
8          Canada                   40
9          Denmark                  48
10          India                   45
11         France                   43
12              UK                  42
13          Sweden                  41
14       Australia                  40
15  United States                   39

In [36]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Digital Public Services

In [37]:
# create the standard columns
df['higher_is_better'] = True
df['Indicator'] =  indicator
df['Country Name'] = df['Country']
# df['2019 [YR2019]'] = df['2019 [YR2019]'].astype(float)
df['data_col'] = df['Net Perception (%)']
df['Year'] = 2020
df['Sub-Pillar'] = subpillar

In [38]:
# convert 1-100 %  into 1-6
min_rank = df['data_col'].min()
max_rank = df['data_col'].max()
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=min_rank,old_max=max_rank))

df.sort_values(by='new_rank_score', ascending=False)

# prepare output
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]

# output scores
df.to_csv('../indicator_scores/government_{}_scores.csv'.format(indicator), index=False)

In [39]:
df.head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
1,UAE,2020,Use of public services online (% of services o...,61,6.000000,True,Digital Public Services
2,Saudi Arabia,2020,Use of public services online (% of services o...,59,5.876543,True,Digital Public Services
3,Singapore,2020,Use of public services online (% of services o...,54,5.567901,True,Digital Public Services
4,China,2020,Use of public services online (% of services o...,53,5.506173,True,Digital Public Services
5,New Zealand,2020,Use of public services online (% of services o...,52,5.444444,True,Digital Public Services
6,Netherlands,2020,Use of public services online (% of services o...,51,5.382716,True,Digital Public Services
7,Qatar,2020,Use of public services online (% of services o...,51,5.382716,True,Digital Public Services
8,Canada,2020,Use of public services online (% of services o...,40,4.703704,True,Digital Public Services
9,Denmark,2020,Use of public services online (% of services o...,48,5.197531,True,Digital Public Services
10,India,2020,Use of public services online (% of services o...,45,5.012346,True,Digital Public Services
11,France,2020,Use of public services online (% of services o...,43,4.888889,True,Digital Public Services
12,UK,2020,Use of public services online (% of services o...,42,4.827160,True,Digital Public Services
13,Sweden,2020,Use of public services online (% of services o...,41,4.765432,True,Digital Public Services
14,Australia,2020,Use of public services online (% of services o...,40,4.703704,True,Digital Public Services
15,United States,2020,Use of public services online (% of services o...,39,4.641975,True,Digital Public Services

## 4. Security incidents (# of relevant issues)

In [40]:
indicator = indicators[3]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Security incidents (# of relevant issues)
cyber_attacks

In [41]:
df.head()

          Country  Number of Significant Cyberattacks (2006-2020)
0   United States                                             156
1  United Kingdom                                              47
2           India                                              23
3         Germany                                              21
4     South Korea                                              18

In [42]:
# create a rank from the number of attacks fields
df['data_rank'] = df['Number of Significant Cyberattacks (2006-2020)'].rank(method='max')

In [43]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Digital Public Services

In [44]:
# create standard columns
df.rename(columns={'Country':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['data_rank']
df['Year'] = 2020
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 1-20 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

# need to invert since higher rank is not better
df['new_rank_score'] = (6-df['new_rank_score'])+1

# # prepare output
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]

df.head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,United States,2020,Security incidents (# of relevant issues),20.0,1.000000,True,Digital Public Services
1,United Kingdom,2020,Security incidents (# of relevant issues),19.0,1.263158,True,Digital Public Services
2,India,2020,Security incidents (# of relevant issues),18.0,1.526316,True,Digital Public Services
3,Germany,2020,Security incidents (# of relevant issues),17.0,1.789474,True,Digital Public Services
4,South Korea,2020,Security incidents (# of relevant issues),16.0,2.052632,True,Digital Public Services
5,Australia,2020,Security incidents (# of relevant issues),15.0,2.315789,True,Digital Public Services
6,Ukraine,2020,Security incidents (# of relevant issues),15.0,2.315789,True,Digital Public Services
7,China,2020,Security incidents (# of relevant issues),13.0,2.842105,True,Digital Public Services
8,Iran,2020,Security incidents (# of relevant issues),13.0,2.842105,True,Digital Public Services
9,Saudi Arabia,2020,Security incidents (# of relevant issues),13.0,2.842105,True,Digital Public Services
10,Japan,2020,Security incidents (# of relevant issues),10.0,3.631579,True,Digital Public Services
11,Canada,2020,Security incidents (# of relevant issues),9.0,3.894737,True,Digital Public Services
12,France,2020,Security incidents (# of relevant issues),8.0,4.157895,True,Digital Public Services
13,Israel,2020,Security incidents (# of relevant issues),8.0,4.157895,True,Digital Public Services
14,Pakistan,2020,Security incidents (# of relevant issues),6.0,4.684211,True,Digital Public Services

In [45]:
# # output scores
df.to_csv('../indicator_scores/government_{}_scores.csv'.format(indicator), index=False)

## 5. What is the % change of government digitizing public services?

In [46]:
indicator = indicators[4]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

What is the % change of government digitizing public services?
Egov_strategy

In [47]:
df.head()

,#,Flag,Code,Cnum,Economy,Level,Population,GNI,GNIPC,e-Government,...,NGTI-1,NGTI-2,NGTI-3,NGTI-4,GTI-1,GTI-2,GTI-3,GTI-4,data_country,data_year
0,1,NaN,AFG,4.0,Afghanistan,LIC,"38,928","20,726",540,https://mcit.gov.af/node/6938,...,0.69,0.52,0.31,0.62,-0.09,-0.34,0.02,-0.12,NaN,NaN
1,2,NaN,ALB,8.0,Albania,UMIC,"2,878","14,949","5,240",https://e-albania.al/,...,0.81,0.78,0.60,0.77,0.29,0.62,0.74,0.26,NaN,NaN
2,3,NaN,DZA,12.0,Algeria,LMIC,"43,851","170,722","3,970",https://www.mpttn.gov.dz/ar/content/%D8%A7%D9%...,...,0.73,0.46,0.02,0.60,0.06,-0.56,-0.68,-0.15,NaN,NaN
3,4,NaN,ADO,20.0,Andorra,HIC,77,"3,154","40,886",http://www.govern.ad,...,0.63,0.60,0.05,0.13,-0.28,-0.06,-0.62,-1.32,NaN,NaN
4,5,NaN,AGO,24.0,Angola,LMIC,"32,866","97,005","3,050",http://www.governo.gov.ao,...,0.68,0.69,0.21,0.61,-0.12,0.27,-0.23,-0.13,NaN,NaN

In [48]:
# Must limit the database to the first 206 rows, the remaining rows do not contain any useful information
df = df.iloc[0:205,:]

# Drop the superfluous rows by dropping na
df = df[pd.to_numeric(df['#'], errors='coerce').notnull()]
df['#'] = df[df['#'].notna()]

# Must convert data in the DPL column into float
df['CGSI'] = df['CGSI'].replace('-',np.nan)
df['CGSI'] = df['CGSI'].astype(float, errors = 'ignore')

In [49]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Digital Public Services

In [50]:
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['CGSI']
df['Country Name'] = df['Economy']
df['Year'] = 2020
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [51]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df.head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,Afghanistan,2020,What is the % change of government digitizing ...,0.69,4.520408,True,Digital Public Services
1,Albania,2020,What is the % change of government digitizing ...,0.79,5.030612,True,Digital Public Services
2,Algeria,2020,What is the % change of government digitizing ...,0.71,4.622449,True,Digital Public Services
3,Andorra,2020,What is the % change of government digitizing ...,0.58,3.959184,True,Digital Public Services
4,Angola,2020,What is the % change of government digitizing ...,0.67,4.418367,True,Digital Public Services
5,Antigua and Barbuda,2020,What is the % change of government digitizing ...,0.68,4.469388,True,Digital Public Services
6,Argentina,2020,What is the % change of government digitizing ...,0.81,5.132653,True,Digital Public Services
7,Armenia,2020,What is the % change of government digitizing ...,0.73,4.724490,True,Digital Public Services
8,Australia,2020,What is the % change of government digitizing ...,0.89,5.540816,True,Digital Public Services
9,Austria,2020,What is the % change of government digitizing ...,NaN,NaN,True,Digital Public Services
11,Azerbaijan,2020,What is the % change of government digitizing ...,0.76,4.877551,True,Digital Public Services
12,Bahamas,2020,What is the % change of government digitizing ...,0.72,4.673469,True,Digital Public Services
13,Bahrain,2020,What is the % change of government digitizing ...,0.59,4.010204,True,Digital Public Services
14,Bangladesh,2020,What is the % change of government digitizing ...,0.81,5.132653,True,Digital Public Services
15,Barbados,2020,What is the % change of government digitizing ...,0.75,4.826531,True,Digital Public Services

In [52]:
# output scores
df.to_csv('../indicator_scores/government_percent change of government digitalizing_scores.csv'.format(indicator), index=False)

In [53]:
## 6. R&D spending (% of GDP)

In [54]:
indicator = indicators[5]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

R&D spending (% of GDP)
RD_Percentage_GDP

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 67 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   1960            0 non-null      float64
 1   1961            0 non-null      float64
 2   1962            0 non-null      float64
 3   1963            0 non-null      float64
 4   1964            0 non-null      float64
 5   1965            0 non-null      float64
 6   1966            0 non-null      float64
 7   1967            0 non-null      float64
 8   1968            0 non-null      float64
 9   1969            0 non-null      float64
 10  1970            0 non-null      float64
 11  1971            0 non-null      float64
 12  1972            0 non-null      float64
 13  1973            0 non-null      float64
 14  1974            0 non-null      float64
 15  1975            0 non-null      float64
 16  1976            0 non-null      float64
 17  1977            0 non-null      float64
 18  1978            0 non-null      float64
 19  1979            0 non-null      float64
 20  1980            0 non-null      float64
 21  1981            0 non-null      float64
 22  1982            0 non-null      float64
 23  1983            0 non-null      float64
 24  1984            0 non-null      float64
 25  1985            0 non-null      float64
 26  1986            0 non-null      float64
 27  1987            0 non-null      float64
 28  1988            0 non-null      float64
 29  1989            0 non-null      float64
 30  1990            0 non-null      float64
 31  1991            0 non-null      float64
 32  1992            0 non-null      float64
 33  1993            0 non-null      float64
 34  1994            0 non-null      float64
 35  1995            0 non-null      float64
 36  1996            53 non-null     float64
 37  1997            70 non-null     float64
 38  1998            66 non-null     float64
 39  1999            68 non-null     float64
 40  2000            72 non-null     float64
 41  2001            82 non-null     float64
 42  2002            94 non-null     float64
 43  2003            93 non-null     float64
 44  2004            94 non-null     float64
 45  2005            92 non-null     float64
 46  2006            85 non-null     float64
 47  2007            96 non-null     float64
 48  2008            97 non-null     float64
 49  2009            95 non-null     float64
 50  2010            93 non-null     float64
 51  2011            92 non-null     float64
 52  2012            86 non-null     float64
 53  2013            94 non-null     float64
 54  2014            91 non-null     float64
 55  2015            101 non-null    float64
 56  2016            89 non-null     float64
 57  2017            91 non-null     float64
 58  2018            71 non-null     float64
 59  2019            0 non-null      float64
 60  2020            0 non-null      float64
 61  Country Name    266 non-null    object
 62  Country Code    266 non-null    object
 63  Indicator Name  266 non-null    object
 64  Indicator Code  266 non-null    object
 65  data_country    0 non-null      float64
 66  data_year       0 non-null      float64
dtypes: float64(63), object(4)
memory usage: 139.4+ KB

In [56]:
df.head()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2017,2018,2019,2020,Country Name,Country Code,Indicator Name,Indicator Code,data_country,data_year
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Aruba,ABW,Research and development expenditure (% of GDP),GB.XPD.RSDV.GD.ZS,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Africa Eastern and Southern,AFE,Research and development expenditure (% of GDP),GB.XPD.RSDV.GD.ZS,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Afghanistan,AFG,Research and development expenditure (% of GDP),GB.XPD.RSDV.GD.ZS,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Africa Western and Central,AFW,Research and development expenditure (% of GDP),GB.XPD.RSDV.GD.ZS,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Angola,AGO,Research and development expenditure (% of GDP),GB.XPD.RSDV.GD.ZS,NaN,NaN

In [57]:
# create standard columns
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['2020'] 
df['Sub-Pillar'] = subpillar
df['Year'] = 2020

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [58]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,Aruba,2020,R&D spending (% of GDP),NaN,NaN,True,Digital Public Services
1,Africa Eastern and Southern,2020,R&D spending (% of GDP),NaN,NaN,True,Digital Public Services
2,Afghanistan,2020,R&D spending (% of GDP),NaN,NaN,True,Digital Public Services
3,Africa Western and Central,2020,R&D spending (% of GDP),NaN,NaN,True,Digital Public Services
4,Angola,2020,R&D spending (% of GDP),NaN,NaN,True,Digital Public Services
...,...,...,...,...,...,...,...
261,Kosovo,2020,R&D spending (% of GDP),NaN,NaN,True,Digital Public Services
262,"Yemen, Rep.",2020,R&D spending (% of GDP),NaN,NaN,True,Digital Public Services
263,South Africa,2020,R&D spending (% of GDP),NaN,NaN,True,Digital Public Services
264,Zambia,2020,R&D spending (% of GDP),NaN,NaN,True,Digital Public Services
265,Zimbabwe,2020,R&D spending (% of GDP),NaN,NaN,True,Digital Public Services

In [59]:
df.to_csv('../indicator_scores/government_{}_scores.csv'.format(indicator), index=False)

## 7. ICT investment as a percentage of GDP

In [60]:
indicator = indicators[6]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

ICT investment as a percentage of GDP
ICT_Investment

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LOCATION    450 non-null    object
 1   INDICATOR   450 non-null    object
 2   SUBJECT     450 non-null    object
 3   MEASURE     450 non-null    object
 4   FREQUENCY   450 non-null    object
 5   TIME        450 non-null    int64
 6   Value       450 non-null    float64
 7   Flag Codes  0 non-null      float64
dtypes: float64(2), int64(1), object(5)
memory usage: 28.2+ KB

In [62]:
df.head()

  LOCATION INDICATOR SUBJECT MEASURE FREQUENCY  TIME      Value  Flag Codes
0      AUS  ICTINVST     TOT      PC         A  1985  12.465454         NaN
1      AUS  ICTINVST     TOT      PC         A  1986  13.939533         NaN
2      AUS  ICTINVST     TOT      PC         A  1987  14.142429         NaN
3      AUS  ICTINVST     TOT      PC         A  1988  14.289993         NaN
4      AUS  ICTINVST     TOT      PC         A  1989  15.348707         NaN

In [63]:
df.SUBJECT.unique()

array(['TOT'], dtype=object)

In [64]:
df.TIME.max()

2010

In [65]:
df.Value.describe()

count    450.000000
mean      16.074272
std        5.636379
min        2.798417
25%       12.410442
50%       14.840726
75%       19.419433
max       32.601105
Name: Value, dtype: float64

In [66]:
subpillars[1]
subpillar = subpillars[1]
print(subpillar)

Funding and procurement

In [67]:
dcol = 'Value'
indicol = indicator
cname = 'LOCATION'

# filter most recent year
df = df[(df.TIME==2010)]

# create standard columns
df['higher_is_better'] = True
df['Indicator'] =  indicator
df['Country Name'] = df[cname]
# # df['2019 [YR2019]'] = df['2019 [YR2019]'].astype(float)
df['data_col'] = df[dcol]
df['Sub-Pillar'] = subpillar
df['Year'] = 2010

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 1-20 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

# df.sort_values(by='new_rank_score', ascending=False)

# # prepare output
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]

# # output scores
df.to_csv('../indicator_scores/government_{}_scores.csv'.format(indicator), index=False)

In [68]:
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
72,CAN,2010,ICT investment as a percentage of GDP,17.018367,2.471010,True,Funding and procurement
121,FIN,2010,ICT investment as a percentage of GDP,15.519828,2.121241,True,Funding and procurement
172,DEU,2010,ICT investment as a percentage of GDP,12.690394,1.460831,True,Funding and procurement
198,IRL,2010,ICT investment as a percentage of GDP,12.412805,1.396040,True,Funding and procurement
224,ITA,2010,ICT investment as a percentage of GDP,11.026056,1.072363,True,Funding and procurement
274,KOR,2010,ICT investment as a percentage of GDP,10.716026,1.000000,True,Funding and procurement
323,NZL,2010,ICT investment as a percentage of GDP,21.238183,3.455945,True,Funding and procurement
349,ESP,2010,ICT investment as a percentage of GDP,13.763415,1.711282,True,Funding and procurement
400,CHE,2010,ICT investment as a percentage of GDP,18.506691,2.818396,True,Funding and procurement
449,USA,2010,ICT investment as a percentage of GDP,32.137836,6.000000,True,Funding and procurement

## 8. Evidence of digital strategies in/across Ministries

In [69]:
indicator = indicators[7]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Evidence of digital strategies in/across Minstries
Egov_strategy

In [70]:
df.head()

,#,Flag,Code,Cnum,Economy,Level,Population,GNI,GNIPC,e-Government,...,NGTI-1,NGTI-2,NGTI-3,NGTI-4,GTI-1,GTI-2,GTI-3,GTI-4,data_country,data_year
0,1,NaN,AFG,4.0,Afghanistan,LIC,"38,928","20,726",540,https://mcit.gov.af/node/6938,...,0.69,0.52,0.31,0.62,-0.09,-0.34,0.02,-0.12,NaN,NaN
1,2,NaN,ALB,8.0,Albania,UMIC,"2,878","14,949","5,240",https://e-albania.al/,...,0.81,0.78,0.60,0.77,0.29,0.62,0.74,0.26,NaN,NaN
2,3,NaN,DZA,12.0,Algeria,LMIC,"43,851","170,722","3,970",https://www.mpttn.gov.dz/ar/content/%D8%A7%D9%...,...,0.73,0.46,0.02,0.60,0.06,-0.56,-0.68,-0.15,NaN,NaN
3,4,NaN,ADO,20.0,Andorra,HIC,77,"3,154","40,886",http://www.govern.ad,...,0.63,0.60,0.05,0.13,-0.28,-0.06,-0.62,-1.32,NaN,NaN
4,5,NaN,AGO,24.0,Angola,LMIC,"32,866","97,005","3,050",http://www.governo.gov.ao,...,0.68,0.69,0.21,0.61,-0.12,0.27,-0.23,-0.13,NaN,NaN

In [71]:
# Must limit the database to the first 206 rows, the remaining rows do not contain any useful information
df = df.iloc[0:205,:]

# Drop the superfluous rows by dropping na
df = df[pd.to_numeric(df['#'], errors='coerce').notnull()]
df['#'] = df[df['#'].notna()]

# Must convert data in the DPL column into float
df['DG St'] = df['DG St'].replace('-',np.nan)
df['DG St'] = df['DG St'].astype(float, errors = 'ignore')

In [72]:
subpillars[1]
subpillar = subpillars[1]
print(subpillar)

Funding and procurement

In [73]:
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['DG St']
df['Country Name'] = df['Economy']
df['Year'] = 2020
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

max_rank

3.0

In [74]:
# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [75]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df.head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,Afghanistan,2020,Evidence of digital strategies in/across Minst...,2.0,4.333333,True,Funding and procurement
1,Albania,2020,Evidence of digital strategies in/across Minst...,3.0,6.000000,True,Funding and procurement
2,Algeria,2020,Evidence of digital strategies in/across Minst...,2.0,4.333333,True,Funding and procurement
3,Andorra,2020,Evidence of digital strategies in/across Minst...,3.0,6.000000,True,Funding and procurement
4,Angola,2020,Evidence of digital strategies in/across Minst...,2.0,4.333333,True,Funding and procurement
5,Antigua and Barbuda,2020,Evidence of digital strategies in/across Minst...,1.0,2.666667,True,Funding and procurement
6,Argentina,2020,Evidence of digital strategies in/across Minst...,3.0,6.000000,True,Funding and procurement
7,Armenia,2020,Evidence of digital strategies in/across Minst...,1.0,2.666667,True,Funding and procurement
8,Australia,2020,Evidence of digital strategies in/across Minst...,3.0,6.000000,True,Funding and procurement
9,Austria,2020,Evidence of digital strategies in/across Minst...,3.0,6.000000,True,Funding and procurement
11,Azerbaijan,2020,Evidence of digital strategies in/across Minst...,3.0,6.000000,True,Funding and procurement
12,Bahamas,2020,Evidence of digital strategies in/across Minst...,1.0,2.666667,True,Funding and procurement
13,Bahrain,2020,Evidence of digital strategies in/across Minst...,2.0,4.333333,True,Funding and procurement
14,Bangladesh,2020,Evidence of digital strategies in/across Minst...,3.0,6.000000,True,Funding and procurement
15,Barbados,2020,Evidence of digital strategies in/across Minst...,2.0,4.333333,True,Funding and procurement

In [76]:
# # output scores
df.to_csv('../indicator_scores/government_Evidence of digital strategies_scores.csv'.format(indicator), index=False)

## 9. Evidence of focus on vulnerable groups

In [77]:
indicator = indicators[8]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

df = df.iloc[1:,:]

Evidence of focus on vulnerable groups
Egov_strategy

In [78]:
df.head()

,#,Flag,Code,Cnum,Economy,Level,Population,GNI,GNIPC,e-Government,...,NGTI-1,NGTI-2,NGTI-3,NGTI-4,GTI-1,GTI-2,GTI-3,GTI-4,data_country,data_year
1,2,NaN,ALB,8.0,Albania,UMIC,"2,878","14,949","5,240",https://e-albania.al/,...,0.81,0.78,0.60,0.77,0.29,0.62,0.74,0.26,NaN,NaN
2,3,NaN,DZA,12.0,Algeria,LMIC,"43,851","170,722","3,970",https://www.mpttn.gov.dz/ar/content/%D8%A7%D9%...,...,0.73,0.46,0.02,0.60,0.06,-0.56,-0.68,-0.15,NaN,NaN
3,4,NaN,ADO,20.0,Andorra,HIC,77,"3,154","40,886",http://www.govern.ad,...,0.63,0.60,0.05,0.13,-0.28,-0.06,-0.62,-1.32,NaN,NaN
4,5,NaN,AGO,24.0,Angola,LMIC,"32,866","97,005","3,050",http://www.governo.gov.ao,...,0.68,0.69,0.21,0.61,-0.12,0.27,-0.23,-0.13,NaN,NaN
5,6,NaN,ATG,28.0,Antigua and Barbuda,HIC,98,"1,618","16,660",http://www.ab.gov.ag,...,0.72,0.55,0.05,0.42,0.00,-0.23,-0.62,-0.59,NaN,NaN

In [79]:
# Must limit the database to the first 206 rows, the remaining rows do not contain any useful information
df = df.iloc[0:205,:]

# Drop the superfluous rows by dropping na
df = df[pd.to_numeric(df['#'], errors='coerce').notnull()]
df['#'] = df[df['#'].notna()]

# Must convert data in the DPL column into float
df['WoG'] = df['WoG'].replace('-',np.nan)
df['WoG'] = df['WoG'].astype(float, errors = 'ignore')

In [80]:
df['WoG'].describe

<bound method NDFrame.describe of 1      0.03
2     -0.03
3     -0.03
4      0.03
5     -0.03
       ...
200    0.03
201   -0.03
202   -0.03
203   -0.03
204   -0.03
Name: WoG, Length: 197, dtype: float64>

In [81]:
subpillars[2]
subpillar = subpillars[2]
print(subpillar)

Leadership and coordination

In [82]:
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['WoG']
df['Country Name'] = df['Economy']
df['Year'] = 2020
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

max_rank

0.09

In [83]:
# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [84]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
1,Albania,2020,Evidence of focus on vulnerable groups,0.03,3.5,True,Leadership and coordination
2,Algeria,2020,Evidence of focus on vulnerable groups,-0.03,1.0,True,Leadership and coordination
3,Andorra,2020,Evidence of focus on vulnerable groups,-0.03,1.0,True,Leadership and coordination
4,Angola,2020,Evidence of focus on vulnerable groups,0.03,3.5,True,Leadership and coordination
5,Antigua and Barbuda,2020,Evidence of focus on vulnerable groups,-0.03,1.0,True,Leadership and coordination
...,...,...,...,...,...,...,...
200,Vietnam,2020,Evidence of focus on vulnerable groups,0.03,3.5,True,Leadership and coordination
201,Palestine,2020,Evidence of focus on vulnerable groups,-0.03,1.0,True,Leadership and coordination
202,Yemen,2020,Evidence of focus on vulnerable groups,-0.03,1.0,True,Leadership and coordination
203,Zambia,2020,Evidence of focus on vulnerable groups,-0.03,1.0,True,Leadership and coordination
204,Zimbabwe,2020,Evidence of focus on vulnerable groups,-0.03,1.0,True,Leadership and coordination

In [85]:
df.to_csv('../indicator_scores/government_{}_scores.csv'.format(indicator), index=False)

## 10. % of digital skills certifications / training courses completed

In [86]:
indicator = indicators[9]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of digital skills certifications / training courses completed
digital_skill_level

In [87]:
df

,Global Rank,Region,Country and Region,Year,Technology,Data Science
0,1,Europe,Switzerland,2020,84%,96%
1,2,Europe,Luxembourg,2020,62%,85%
2,3,Europe,Austria,2020,88%,95%
3,4,Asia Pacific,Japan,2020,100%,88%
4,5,Europe,Germany,2020,89%,94%
...,...,...,...,...,...,...
103,104,Asia Pacific,Uzbekistan,2020,6%,9%
104,105,Sub-Saharan Africa,Sierra Leone,2020,2%,4%
105,106,Latin America and the Caribbean,Paraguay,2020,7%,11%
106,107,Latin America and the Caribbean,Guyana,2020,8%,2%
107,108,Sub-Saharan Africa,Somalia,2020,1%,1%

In [88]:
subpillars[3]
subpillar = subpillars[3]
print(subpillar)

Capabilities

In [89]:
dcol = 'Global Rank'
indicol = indicator
cname = 'Country and Region'

# filter most recent year
# df = df[(df.TIME==2010)]

# create standard columns
df['higher_is_better'] = True
df['Indicator'] =  indicator
df['Country Name'] = df[cname]
# # df['2019 [YR2019]'] = df['2019 [YR2019]'].astype(float)
df['data_col'] = df[dcol]
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 1-20 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

# # need to invert score since higher rank is not better 
df['new_rank_score'] = (6-df['new_rank_score'])+1

df.sort_values(by='new_rank_score', ascending=False)

# # prepare output
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]

# # output scores
df.to_csv('../indicator_scores/government_ percentage digital skills certifications_scores.csv'.format(indicator), index=False)

In [90]:
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,Switzerland,2020,% of digital skills certifications / training ...,1,6.000000,True,Capabilities
1,Luxembourg,2020,% of digital skills certifications / training ...,2,5.953271,True,Capabilities
2,Austria,2020,% of digital skills certifications / training ...,3,5.906542,True,Capabilities
3,Japan,2020,% of digital skills certifications / training ...,4,5.859813,True,Capabilities
4,Germany,2020,% of digital skills certifications / training ...,5,5.813084,True,Capabilities
...,...,...,...,...,...,...,...
103,Uzbekistan,2020,% of digital skills certifications / training ...,104,1.186916,True,Capabilities
104,Sierra Leone,2020,% of digital skills certifications / training ...,105,1.140187,True,Capabilities
105,Paraguay,2020,% of digital skills certifications / training ...,106,1.093458,True,Capabilities
106,Guyana,2020,% of digital skills certifications / training ...,107,1.046729,True,Capabilities
107,Somalia,2020,% of digital skills certifications / training ...,108,1.000000,True,Capabilities

### Score Aggregating

In [91]:
import os

In [92]:
# get list of files in scores folder
scores = os.listdir('../indicator_scores/')
scores = [s for s in scores if s.startswith('government')]

In [93]:
scores

['government_ percentage digital skills certifications_scores.csv',
 'government_E-Participation index_scores.csv',
 'government_Evidence of digital strategies_scores.csv',
 'government_Evidence of focus on vulnerable groups_scores.csv',
 'government_ICT investment as a percentage of GDP_scores.csv',
 'government_Online-Service-Index (OSI)_scores.csv',
 'government_percent change of government digitalizing_scores.csv',
 'government_R&D spending (% of GDP)_scores.csv',
 'government_Security incidents (# of relevant issues)_scores.csv',
 'government_Use of public services online (% of services online, penetration, frequency of use)_scores.csv']

In [94]:
# create a dataframe that concatenates all these file into one table
df = pd.concat([pd.read_csv('../indicator_scores/{}'.format(s)) for s in scores])

In [95]:
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar,Unnamed: 0
0,Switzerland,2020,% of digital skills certifications / training ...,1.0,6.000000,True,Capabilities,NaN
1,Luxembourg,2020,% of digital skills certifications / training ...,2.0,5.953271,True,Capabilities,NaN
2,Austria,2020,% of digital skills certifications / training ...,3.0,5.906542,True,Capabilities,NaN
3,Japan,2020,% of digital skills certifications / training ...,4.0,5.859813,True,Capabilities,NaN
4,Germany,2020,% of digital skills certifications / training ...,5.0,5.813084,True,Capabilities,NaN
...,...,...,...,...,...,...,...,...
26,Germany,2020,Use of public services online (% of services o...,17.0,3.283951,True,Digital Public Services,NaN
27,Argentina,2020,Use of public services online (% of services o...,15.0,3.160494,True,Digital Public Services,NaN
28,Morocco,2020,Use of public services online (% of services o...,-2.0,2.111111,True,Digital Public Services,NaN
29,Switzerland,2020,Use of public services online (% of services o...,-18.0,1.123457,True,Digital Public Services,NaN
30,Japan,2020,Use of public services online (% of services o...,-20.0,1.000000,True,Digital Public Services,NaN

In [96]:
# Data cleaning
df['new_rank_score'] = df['new_rank_score'].fillna(0)
df.sort_values(by=['Country Name'], ascending=True, inplace=True)
df.reset_index(drop=True, inplace=True)

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1414 entries, 0 to 1413
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country Name      1414 non-null   object
 1   Year              1414 non-null   int64
 2   Indicator         1414 non-null   object
 3   data_col          1141 non-null   float64
 4   new_rank_score    1414 non-null   float64
 5   higher_is_better  1414 non-null   bool
 6   Sub-Pillar        1414 non-null   object
 7   Unnamed: 0        386 non-null    float64
dtypes: bool(1), float64(3), int64(1), object(3)
memory usage: 78.8+ KB

In [98]:
df.head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar,Unnamed: 0
0,Afghanistan,2020,What is the % change of government digitizing ...,0.6900,4.520408,True,Digital Public Services,NaN
1,Afghanistan,2020,R&D spending (% of GDP),NaN,0.000000,True,Digital Public Services,NaN
2,Afghanistan,2020,E-Participation index,0.4643,3.321500,True,Digital Public Services,29.0
3,Afghanistan,2020,Evidence of digital strategies in/across Minst...,2.0000,4.333333,True,Funding and procurement,NaN
4,Afghanistan,2020,Online-Service-Index (OSI),0.4118,3.059000,True,Digital Public Services,29.0
5,Africa Eastern and Southern,2020,R&D spending (% of GDP),NaN,0.000000,True,Digital Public Services,NaN
6,Africa Western and Central,2020,R&D spending (% of GDP),NaN,0.000000,True,Digital Public Services,NaN
7,Albania,2020,R&D spending (% of GDP),NaN,0.000000,True,Digital Public Services,NaN
8,Albania,2020,Evidence of digital strategies in/across Minst...,3.0000,6.000000,True,Funding and procurement,NaN
9,Albania,2020,What is the % change of government digitizing ...,0.7900,5.030612,True,Digital Public Services,NaN
10,Albania,2020,Evidence of focus on vulnerable groups,0.0300,3.500000,True,Leadership and coordination,NaN
11,Albania,2020,E-Participation index,0.8452,5.226000,True,Digital Public Services,36.0
12,Albania,2020,Online-Service-Index (OSI),0.8412,5.206000,True,Digital Public Services,36.0
13,Algeria,2020,Evidence of digital strategies in/across Minst...,2.0000,4.333333,True,Funding and procurement,NaN
14,Algeria,2020,% of digital skills certifications / training ...,95.0000,1.607477,True,Capabilities,NaN

In [99]:
df.describe()

              Year     data_col  new_rank_score  Unnamed: 0
count  1414.000000  1141.000000     1414.000000  386.000000
mean   2019.929279     7.083916        3.079897   96.000000
std       0.838277    19.214432        2.109193   55.785861
min    2010.000000   -20.000000        0.000000    0.000000
25%    2020.000000     0.261900        1.000000   48.000000
50%    2020.000000     0.720000        3.500000   96.000000
75%    2020.000000     2.000000        4.921925  144.000000
max    2020.000000   108.000000        6.000000  192.000000

In [100]:
# checking country names
# sorted(df['Country Name'].unique().tolist())

In [101]:
# remove trailing whitespaces from country name
df['Country Name'] = df['Country Name'].str.strip()
df['Country Name'] = df['Country Name'].str.strip('**')
df['Country Name'] = df['Country Name'].str.strip('*')

In [102]:
df.head()

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar,Unnamed: 0
0,Afghanistan,2020,What is the % change of government digitizing ...,0.6900,4.520408,True,Digital Public Services,NaN
1,Afghanistan,2020,R&D spending (% of GDP),NaN,0.000000,True,Digital Public Services,NaN
2,Afghanistan,2020,E-Participation index,0.4643,3.321500,True,Digital Public Services,29.0
3,Afghanistan,2020,Evidence of digital strategies in/across Minst...,2.0000,4.333333,True,Funding and procurement,NaN
4,Afghanistan,2020,Online-Service-Index (OSI),0.4118,3.059000,True,Digital Public Services,29.0

In [103]:
# checking country names
# sorted(df['Country Name'].unique().tolist())

In [104]:
# average indicator scores per country
agg_df = df.groupby(['Country Name']).agg({'new_rank_score':'mean','data_col':'count'})

In [105]:
agg_df.columns = ['agg_score', 'count_source' ]

In [106]:
max_number_sources = agg_df.describe()['count_source']['max']

In [107]:
agg_df['agg_score_wt'] = agg_df['agg_score']*(agg_df['count_source']/max_number_sources)

In [108]:
agg_df.sort_values(by='agg_score', ascending=False, inplace=True)

In [109]:
agg_df.head(25)

,agg_score,count_source,agg_score_wt
Country Name,,,
North Korea,6.000000,1,0.750000
USA,6.000000,1,0.750000
UAE,6.000000,1,0.750000
United Kingdom of Great Britain and Northern Ireland,5.837500,2,1.459375
United States of America,5.552542,5,3.470339
Hong Kong,5.091244,2,1.272811
Republic of Korea,5.034268,3,1.887850
Denmark,5.023473,7,4.395539
Netherlands,4.959991,7,4.339992
Finland,4.942766,6,3.707074
Chinese Taipei,4.911565,3,1.841837
Taiwan,4.878505,1,0.609813
Estonia,4.868555,6,3.651416
Singapore,4.853504,7,4.246816
New Zealand,4.844328,7,4.238787
Sweden,4.835487,7,4.231051
UK,4.827160,1,0.603395
Russia,4.794672,2,1.198668
Norway,4.789170,7,4.190524
Republic of Moldova,4.787000,2,1.196750
Iceland,4.563386,5,2.852116
"Korea, Rep.",4.474490,3,1.677934
France,4.469011,8,4.469011
Australia,4.456440,8,4.456440
Viet Nam,4.388250,2,1.097063

In [110]:
agg_df.to_csv('../pillar_scores/government_scores_v0.csv')

In [111]:
### Score Aggregating by Subpillars

In [112]:
df.insert(0,'Pillar','Government')
df

,Pillar,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar,Unnamed: 0
0,Government,Afghanistan,2020,What is the % change of government digitizing ...,0.6900,4.520408,True,Digital Public Services,NaN
1,Government,Afghanistan,2020,R&D spending (% of GDP),NaN,0.000000,True,Digital Public Services,NaN
2,Government,Afghanistan,2020,E-Participation index,0.4643,3.321500,True,Digital Public Services,29.0
3,Government,Afghanistan,2020,Evidence of digital strategies in/across Minst...,2.0000,4.333333,True,Funding and procurement,NaN
4,Government,Afghanistan,2020,Online-Service-Index (OSI),0.4118,3.059000,True,Digital Public Services,29.0
...,...,...,...,...,...,...,...,...,...
1409,Government,Zimbabwe,2020,What is the % change of government digitizing ...,0.6300,4.214286,True,Digital Public Services,NaN
1410,Government,Zimbabwe,2020,Evidence of focus on vulnerable groups,-0.0300,1.000000,True,Leadership and coordination,NaN
1411,Government,Zimbabwe,2020,Evidence of digital strategies in/across Minst...,2.0000,4.333333,True,Funding and procurement,NaN
1412,Government,Zimbabwe,2020,E-Participation index,0.4524,3.262000,True,Digital Public Services,178.0
1413,Government,Zimbabwe,2020,Online-Service-Index (OSI),0.5235,3.617500,True,Digital Public Services,178.0

In [113]:
sub_df = df.groupby(['Pillar','Sub-Pillar','Country Name']).agg({'new_rank_score':'mean','data_col':'count'})

In [114]:
sub_df.columns = ['agg_score', 'count_source' ]

In [115]:
max_number_sources = sub_df.describe()['count_source']['max']

In [116]:
sub_df['agg_score_wt'] = sub_df['agg_score']*(sub_df['count_source']/max_number_sources)

In [117]:
sub_df.to_csv('../subpillar_score/government_scores_subpillar_v0.csv')