In [1]:
import pandas as pd
import numpy as np

In [2]:
### Get all the pillar names from the excel

In [3]:
names = pd.read_excel('../../UNDP Digital Assessment Data Framework Filename Matching V7.xlsx')

In [4]:
col_names = ['Indicator','check', 'Data Source','Index','Filename']

In [5]:
names = names[col_names]

In [6]:
names.head()

,Indicator,check,Data Source,Index,Filename
0,Countries,NaN,United Nations,False,Countries
1,"Database of Global Administrative Areas (GADM,...",NaN,GADM maps and data,False,NaN
2,High Resolution Population Density Maps + Demo...,NaN,Facebook,False,NaN
3,population density vs openstreetmap object den...,NaN,Kontur,False,NaN
4,Population Density,Infrastructure,World Bank,False,population_density

In [7]:
# get all the files per pillar
data_stats = names.groupby('check').agg({'Filename':'count','Indicator':'count'})

In [8]:
data_stats

                Filename  Indicator
check
Business              20         25
Foundations            9         12
Government            10         15
Infrastructure        39         48
People                39         47
Regulation             6          7
Strategy               1          1

In [9]:
### Infrastructure

In [10]:
bnames = names[(names.check=='Infrastructure')&(~names.Filename.isna())]#&(names.Index==False)]
bnames.head(25)

,Indicator,check,Data Source,Index,Filename
4,Population Density,Infrastructure,World Bank,False,population_density
5,Broadband Density,Infrastructure,ITU,False,ITU_database
6,% of population covered by internet connectivity,Infrastructure,ITU,False,ITU_database
7,% of population covered by mobile 2G+ data con...,Infrastructure,GSMA Mobile Connectivity Index,False,countries_mobile_connectivity
8,% of population covered by mobile 3G+ data con...,Infrastructure,GSMA Mobile Connectivity Index,False,countries_mobile_connectivity
9,% of population covered by mobile 4G+ data con...,Infrastructure,GSMA Mobile Connectivity Index,False,countries_mobile_connectivity
10,% of population covered by mobile 5G+ data con...,Infrastructure,GSMA Mobile Connectivity Index,False,countries_mobile_connectivity
11,Mobile Coverage Maps,Infrastructure,ITU,False,ITU_database
12,Electricity Density,Infrastructure,Energy Data,False,electricity_yearbook
13,% of population covered by electricity,Infrastructure,World Bank,False,population_electricity_coverage
14,Electricity supply quality,Infrastructure,International Energy Agency / Global Competiti...,False,elect_supply_quality
15,Electricity Environmental Sustainability,Infrastructure,The Sustainable Development Report/ Cambridge ...,False,sustainability_index
17,Cellphone Signal Density,Infrastructure,GSMA Mobile Connectivity Index,False,mobile_density
18,Telecommunication Infrastructure Index (TII),Infrastructure,DESA,True,e_government_index
19,GSMA Mobile Connectivity Index,Infrastructure,GSMA Mobile Connectivity Index,True,countries_mobile_connectivity
20,Spectrum Allocated to Mobile Providers,Infrastructure,GSMA Mobile Connectivity Index,False,spectrum_allocated_mobile_providers
23,Internet Exchange Points (IXPs) map,Infrastructure,Packet Clearing House,False,countries_ixp
26,ISP internet download speed average,Infrastructure,Ookla's Speedtest Intelligence,False,internet_speed
28,Mobile dowload speed at the slowest hour of th...,Infrastructure,GSMA Mobile Connectivity Index,False,mobile_latency
29,Mobile download speed average,Infrastructure,Ookla's Speedtest Intelligence,False,mobile_speed
30,Individuals using the Internet (% of population),Infrastructure,ITU,False,ITU_database
31,Mobile cellular subscriptions (per 100 people),Infrastructure,ITU,False,ITU_database
32,Average fixed broadband download speeds,Infrastructure,Ookla's Speedtest Intelligence,False,fixed_bdbd_spd_dl_ul
35,Postal Coverage,Infrastructure,Universal Postal Union,False,postal_coverage
36,Logistics Performance Index (LPI) - Infrastruc...,Infrastructure,World Bank,True,logistics_performance_index

In [11]:
# get list of names for all indicators
indicators = bnames.Indicator.unique()

In [12]:
# get all file names
bfiles = bnames.Filename.unique()

In [13]:
bfiles

array(['population_density', 'ITU_database',
       'countries_mobile_connectivity', 'electricity_yearbook',
       'population_electricity_coverage', 'elect_supply_quality',
       'sustainability_index', 'mobile_density', 'e_government_index',
       'spectrum_allocated_mobile_providers', 'countries_ixp',
       'internet_speed', 'mobile_latency', 'mobile_speed',
       'fixed_bdbd_spd_dl_ul', 'postal_coverage',
       'logistics_performance_index', 'national_cybersecurity_index',
       'dice_export_global_cybersecurity_index',
       'software_developer_ecosystem_size',
       'digital_platform_economy_index', 'migration_skill',
       'migration_industry', 'migration_country',
       'global_fintech_ranking', 'tech_hubs', 'banking_sector_size',
       'angel_investment', 'startup_eco_size',
       'international_co_inventions'], dtype=object)

In [45]:
# formula for converting scale
def convert_rank(old_value, old_min=1, old_max=7, new_min=1, new_max=6 ):
    """ Convert old scale values scale into new scale values"""
    old_range = old_max - old_min
    new_range = new_max - new_min
    new_value = (((old_value-old_min)*new_range)/old_range)+new_min
    return new_value

In [46]:
### 2. Broadband Density

In [89]:
indicators[1]

# load data
indicator = indicators[1]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Broadband Density
ITU_database

In [90]:
df.head(15)

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
0,Angola,Africa,AGO,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
1,Benin,Africa,BEN,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
2,Botswana,Africa,BWA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
3,Burkina Faso,Africa,BFA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
4,Burundi,Africa,BDI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
5,Cabo Verde,Africa,CPV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
6,Cameroon,Africa,CMR,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
7,Central African Rep.,Africa,CAF,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
8,Chad,Africa,TCD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
9,Congo (Rep. of the),Africa,COG,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
10,Côte d'Ivoire,Africa,CIV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
11,Dem. Rep. of the Congo,Africa,COD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
12,Equatorial Guinea,Africa,GNQ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
13,Eritrea,Africa,ERI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
14,Eswatini,Africa,SWZ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN

In [91]:
df = df[(df.Year == 2020)]
df = df[(df['Indicator name']== 'Fixed broadband subscriptions per 100 inhabitants')]
df

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
36787,Angola,Africa,AGO,Fixed broadband subscriptions per 100 inhabitants,2020.0,0.701662,NaN,NaN
36788,Benin,Africa,BEN,Fixed broadband subscriptions per 100 inhabitants,2020.0,0.247303,NaN,NaN
36789,Botswana,Africa,BWA,Fixed broadband subscriptions per 100 inhabitants,2020.0,3.057373,NaN,NaN
36790,Burkina Faso,Africa,BFA,Fixed broadband subscriptions per 100 inhabitants,2020.0,0.066875,NaN,NaN
36791,Burundi,Africa,BDI,Fixed broadband subscriptions per 100 inhabitants,2020.0,0.035574,NaN,NaN
...,...,...,...,...,...,...,...,...
36978,Suriname,The Americas,SUR,Fixed broadband subscriptions per 100 inhabitants,2020.0,15.728770,NaN,NaN
36979,Trinidad and Tobago,The Americas,TTO,Fixed broadband subscriptions per 100 inhabitants,2020.0,26.866254,NaN,NaN
36980,United States,The Americas,USA,Fixed broadband subscriptions per 100 inhabitants,2020.0,36.413908,NaN,NaN
36981,Uruguay,The Americas,URY,Fixed broadband subscriptions per 100 inhabitants,2020.0,NaN,NaN,NaN
36982,Venezuela,The Americas,VEN,Fixed broadband subscriptions per 100 inhabitants,2020.0,8.465298,NaN,NaN

In [92]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Value']
df.rename(columns={'Country':'Country Name'}, inplace=True)

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [93]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
36787,Angola,2020.0,Broadband Density,0.701662,1.065945,True
36788,Benin,2020.0,Broadband Density,0.247303,1.023242,True
36789,Botswana,2020.0,Broadband Density,3.057373,1.287344,True
36790,Burkina Faso,2020.0,Broadband Density,0.066875,1.006285,True
36791,Burundi,2020.0,Broadband Density,0.035574,1.003343,True
36792,Cabo Verde,2020.0,Broadband Density,4.467550,1.419877,True
36793,Cameroon,2020.0,Broadband Density,2.689101,1.252732,True
36794,Central African Rep.,2020.0,Broadband Density,NaN,NaN,True
36795,Chad,2020.0,Broadband Density,0.000000,1.000000,True
36796,Congo (Rep. of the),2020.0,Broadband Density,NaN,NaN,True
36797,Côte d'Ivoire,2020.0,Broadband Density,0.986027,1.092671,True
36798,Dem. Rep. of the Congo,2020.0,Broadband Density,NaN,NaN,True
36799,Equatorial Guinea,2020.0,Broadband Density,NaN,NaN,True
36800,Eritrea,2020.0,Broadband Density,NaN,NaN,True
36801,Eswatini,2020.0,Broadband Density,NaN,NaN,True

In [17]:
### 3. % of population covered by internet connectivity

In [95]:
indicators[2]

# load data
indicator = indicators[2]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population covered by internet connectivity
ITU_database

In [96]:
df = df[(df.Year == 2020)]
df = df[(df['Indicator name']== 'Individuals using the Internet, total (%)')]
df

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
47744,Mauritius,Africa,MUS,"Individuals using the Internet, total (%)",2020.0,64.884904,NaN,NaN
47745,Uganda,Africa,UGA,"Individuals using the Internet, total (%)",2020.0,NaN,NaN,NaN
47746,Bahrain,Arab States,BHR,"Individuals using the Internet, total (%)",2020.0,99.539512,NaN,NaN
47747,Egypt,Arab States,EGY,"Individuals using the Internet, total (%)",2020.0,71.914200,NaN,NaN
47748,Iraq,Arab States,IRQ,"Individuals using the Internet, total (%)",2020.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
47805,Bolivia (Plurinational State of),The Americas,BOL,"Individuals using the Internet, total (%)",2020.0,55.139051,NaN,NaN
47806,Costa Rica,The Americas,CRI,"Individuals using the Internet, total (%)",2020.0,80.530186,NaN,NaN
47807,Mexico,The Americas,MEX,"Individuals using the Internet, total (%)",2020.0,71.970000,NaN,NaN
47808,Paraguay,The Americas,PRY,"Individuals using the Internet, total (%)",2020.0,74.515240,NaN,NaN
47809,Peru,The Americas,PER,"Individuals using the Internet, total (%)",2020.0,65.251799,NaN,NaN

In [97]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Value']
df.rename(columns={'Country':'Country Name'}, inplace=True)

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [98]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
47744,Mauritius,2020.0,% of population covered by internet connectivity,64.884904,3.298839,True
47745,Uganda,2020.0,% of population covered by internet connectivity,NaN,NaN,True
47746,Bahrain,2020.0,% of population covered by internet connectivity,99.539512,5.964578,True
47747,Egypt,2020.0,% of population covered by internet connectivity,71.914200,3.839554,True
47748,Iraq,2020.0,% of population covered by internet connectivity,NaN,NaN,True
47749,Kuwait,2020.0,% of population covered by internet connectivity,98.599995,5.892307,True
47750,Morocco,2020.0,% of population covered by internet connectivity,84.120363,4.778489,True
47751,Oman,2020.0,% of population covered by internet connectivity,95.232293,5.633253,True
47752,Qatar,2020.0,% of population covered by internet connectivity,99.652794,5.973292,True
47753,Saudi Arabia,2020.0,% of population covered by internet connectivity,97.862332,5.835564,True
47754,United Arab Emirates,2020.0,% of population covered by internet connectivity,100.000000,6.000000,True
47755,Cambodia,2020.0,% of population covered by internet connectivity,78.800000,4.369231,True
47756,China,2020.0,% of population covered by internet connectivity,70.642143,3.741703,True
47757,"Hong Kong, China",2020.0,% of population covered by internet connectivity,92.413136,5.416395,True
47758,Indonesia,2020.0,% of population covered by internet connectivity,53.726494,2.440500,True

In [19]:
### 4. % of population covered by mobile 2G

In [20]:
indicators[3]

'% of population covered by mobile 2G+ data connectivity'

In [99]:
# load data
indicator = indicators[3]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population covered by mobile 2G+ data connectivity
countries_mobile_connectivity

In [100]:
df.head(10)

,ISO Code,Country,Region,Year,Cluster,Index,Infrastructure,Affordability,Consumer Readiness,Content and Services,...,Gender gap in mobile ownership,TLDs per capita,E-Government Score,Mobile Social Media Penetration,Apps developed per person,Number of apps in national language,Accessibility of top ranked apps,Cybersecurity Index,data_country,data_year
0,AFG,Afghanistan,South Asia,2014,Discoverer,22.12,21.74,31.79,24.40,14.19,...,0.00,39.55,18.11,3.28,20.98,2.44,4.37,26.50,NaN,NaN
1,AFG,Afghanistan,South Asia,2015,Discoverer,22.99,22.82,30.81,25.28,15.71,...,0.00,39.57,24.27,4.36,22.93,2.79,8.03,25.83,NaN,NaN
2,AFG,Afghanistan,South Asia,2016,Discoverer,23.71,26.92,26.75,26.07,16.83,...,0.00,39.58,30.43,6.73,30.31,2.85,5.90,25.17,NaN,NaN
3,AFG,Afghanistan,South Asia,2017,Discoverer,25.82,33.54,27.22,28.56,17.04,...,0.00,39.47,30.50,7.78,31.62,2.91,6.15,24.50,NaN,NaN
4,AFG,Afghanistan,South Asia,2018,Discoverer,28.39,30.91,42.64,29.24,16.87,...,0.00,39.39,30.56,8.54,36.54,2.96,8.66,17.70,NaN,NaN
5,AFG,Afghanistan,South Asia,2019,Discoverer,28.94,32.34,41.53,29.72,17.58,...,0.00,39.41,41.18,9.39,39.36,3.00,5.72,17.70,NaN,NaN
6,AGO,Angola,Sub-Saharan Africa,2014,Discoverer,32.78,25.99,35.99,44.33,27.85,...,51.65,0.00,29.92,3.99,22.74,53.33,49.09,8.80,NaN,NaN
7,AGO,Angola,Sub-Saharan Africa,2015,Emerging,37.18,33.09,42.01,45.41,30.27,...,57.00,0.31,32.35,5.26,22.12,55.08,58.33,8.47,NaN,NaN
8,AGO,Angola,Sub-Saharan Africa,2016,Emerging,39.85,37.80,44.74,46.47,32.11,...,63.73,0.00,34.78,6.27,27.46,56.52,61.73,8.13,NaN,NaN
9,AGO,Angola,Sub-Saharan Africa,2017,Emerging,42.89,48.60,47.94,46.32,31.36,...,53.97,0.00,37.88,4.26,31.94,57.06,55.09,7.80,NaN,NaN

In [101]:
# filter most recent year
df = df[(df.Year==2019)]

In [104]:
# create standard columns
df.rename(columns={'Country':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['2G Coverage'] 

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [105]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
5,Afghanistan,2019,% of population covered by mobile 2G+ data con...,90.00,4.921251,True
11,Angola,2019,% of population covered by mobile 2G+ data con...,90.00,4.921251,True
17,Albania,2019,% of population covered by mobile 2G+ data con...,99.86,5.984898,True
23,United Arab Emirates,2019,% of population covered by mobile 2G+ data con...,100.00,6.000000,True
29,Argentina,2019,% of population covered by mobile 2G+ data con...,98.00,5.784250,True
35,Armenia,2019,% of population covered by mobile 2G+ data con...,100.00,6.000000,True
41,Australia,2019,% of population covered by mobile 2G+ data con...,99.40,5.935275,True
47,Austria,2019,% of population covered by mobile 2G+ data con...,99.00,5.892125,True
53,Azerbaijan,2019,% of population covered by mobile 2G+ data con...,100.00,6.000000,True
59,Burundi,2019,% of population covered by mobile 2G+ data con...,53.65,1.000000,True
65,Belgium,2019,% of population covered by mobile 2G+ data con...,100.00,6.000000,True
71,Benin,2019,% of population covered by mobile 2G+ data con...,98.00,5.784250,True
77,Burkina Faso,2019,% of population covered by mobile 2G+ data con...,97.90,5.773463,True
83,Bangladesh,2019,% of population covered by mobile 2G+ data con...,99.60,5.956850,True
89,Bulgaria,2019,% of population covered by mobile 2G+ data con...,100.00,6.000000,True

In [26]:
### 5. % of population covered by mobile 3G

In [27]:
indicators[4]

# load data
indicator = indicators[4]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population covered by mobile 3G+ data connectivity
countries_mobile_connectivity

In [28]:
df.head(10)

,ISO Code,Country,Region,Year,Cluster,Index,Infrastructure,Affordability,Consumer Readiness,Content and Services,...,Gender gap in mobile ownership,TLDs per capita,E-Government Score,Mobile Social Media Penetration,Apps developed per person,Number of apps in national language,Accessibility of top ranked apps,Cybersecurity Index,data_country,data_year
0,AFG,Afghanistan,South Asia,2014,Discoverer,22.12,21.74,31.79,24.40,14.19,...,0.00,39.55,18.11,3.28,20.98,2.44,4.37,26.50,NaN,NaN
1,AFG,Afghanistan,South Asia,2015,Discoverer,22.99,22.82,30.81,25.28,15.71,...,0.00,39.57,24.27,4.36,22.93,2.79,8.03,25.83,NaN,NaN
2,AFG,Afghanistan,South Asia,2016,Discoverer,23.71,26.92,26.75,26.07,16.83,...,0.00,39.58,30.43,6.73,30.31,2.85,5.90,25.17,NaN,NaN
3,AFG,Afghanistan,South Asia,2017,Discoverer,25.82,33.54,27.22,28.56,17.04,...,0.00,39.47,30.50,7.78,31.62,2.91,6.15,24.50,NaN,NaN
4,AFG,Afghanistan,South Asia,2018,Discoverer,28.39,30.91,42.64,29.24,16.87,...,0.00,39.39,30.56,8.54,36.54,2.96,8.66,17.70,NaN,NaN
5,AFG,Afghanistan,South Asia,2019,Discoverer,28.94,32.34,41.53,29.72,17.58,...,0.00,39.41,41.18,9.39,39.36,3.00,5.72,17.70,NaN,NaN
6,AGO,Angola,Sub-Saharan Africa,2014,Discoverer,32.78,25.99,35.99,44.33,27.85,...,51.65,0.00,29.92,3.99,22.74,53.33,49.09,8.80,NaN,NaN
7,AGO,Angola,Sub-Saharan Africa,2015,Emerging,37.18,33.09,42.01,45.41,30.27,...,57.00,0.31,32.35,5.26,22.12,55.08,58.33,8.47,NaN,NaN
8,AGO,Angola,Sub-Saharan Africa,2016,Emerging,39.85,37.80,44.74,46.47,32.11,...,63.73,0.00,34.78,6.27,27.46,56.52,61.73,8.13,NaN,NaN
9,AGO,Angola,Sub-Saharan Africa,2017,Emerging,42.89,48.60,47.94,46.32,31.36,...,53.97,0.00,37.88,4.26,31.94,57.06,55.09,7.80,NaN,NaN

In [106]:
# filter most recent year
df = df[(df.Year==2019)]

# create standard columns
df.rename(columns={'Country':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['3G Coverage'] 

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [107]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
5,Afghanistan,2019,% of population covered by mobile 2G+ data con...,58.7,3.282895,True
11,Angola,2019,% of population covered by mobile 2G+ data con...,71.0,4.092105,True
17,Albania,2019,% of population covered by mobile 2G+ data con...,97.0,5.802632,True
23,United Arab Emirates,2019,% of population covered by mobile 2G+ data con...,100.0,6.000000,True
29,Argentina,2019,% of population covered by mobile 2G+ data con...,95.0,5.671053,True
35,Armenia,2019,% of population covered by mobile 2G+ data con...,99.0,5.934211,True
41,Australia,2019,% of population covered by mobile 2G+ data con...,99.5,5.967105,True
47,Austria,2019,% of population covered by mobile 2G+ data con...,99.0,5.934211,True
53,Azerbaijan,2019,% of population covered by mobile 2G+ data con...,95.0,5.671053,True
59,Burundi,2019,% of population covered by mobile 2G+ data con...,40.0,2.052632,True
65,Belgium,2019,% of population covered by mobile 2G+ data con...,100.0,6.000000,True
71,Benin,2019,% of population covered by mobile 2G+ data con...,89.0,5.276316,True
77,Burkina Faso,2019,% of population covered by mobile 2G+ data con...,65.0,3.697368,True
83,Bangladesh,2019,% of population covered by mobile 2G+ data con...,95.0,5.671053,True
89,Bulgaria,2019,% of population covered by mobile 2G+ data con...,100.0,6.000000,True

In [31]:
### 6. % of population covered by mobile 4G

In [108]:
indicators[5]

# load data
indicator = indicators[5]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population covered by mobile 4G+ data connectivity
countries_mobile_connectivity

In [109]:
df.head(10)

,ISO Code,Country,Region,Year,Cluster,Index,Infrastructure,Affordability,Consumer Readiness,Content and Services,...,Gender gap in mobile ownership,TLDs per capita,E-Government Score,Mobile Social Media Penetration,Apps developed per person,Number of apps in national language,Accessibility of top ranked apps,Cybersecurity Index,data_country,data_year
0,AFG,Afghanistan,South Asia,2014,Discoverer,22.12,21.74,31.79,24.40,14.19,...,0.00,39.55,18.11,3.28,20.98,2.44,4.37,26.50,NaN,NaN
1,AFG,Afghanistan,South Asia,2015,Discoverer,22.99,22.82,30.81,25.28,15.71,...,0.00,39.57,24.27,4.36,22.93,2.79,8.03,25.83,NaN,NaN
2,AFG,Afghanistan,South Asia,2016,Discoverer,23.71,26.92,26.75,26.07,16.83,...,0.00,39.58,30.43,6.73,30.31,2.85,5.90,25.17,NaN,NaN
3,AFG,Afghanistan,South Asia,2017,Discoverer,25.82,33.54,27.22,28.56,17.04,...,0.00,39.47,30.50,7.78,31.62,2.91,6.15,24.50,NaN,NaN
4,AFG,Afghanistan,South Asia,2018,Discoverer,28.39,30.91,42.64,29.24,16.87,...,0.00,39.39,30.56,8.54,36.54,2.96,8.66,17.70,NaN,NaN
5,AFG,Afghanistan,South Asia,2019,Discoverer,28.94,32.34,41.53,29.72,17.58,...,0.00,39.41,41.18,9.39,39.36,3.00,5.72,17.70,NaN,NaN
6,AGO,Angola,Sub-Saharan Africa,2014,Discoverer,32.78,25.99,35.99,44.33,27.85,...,51.65,0.00,29.92,3.99,22.74,53.33,49.09,8.80,NaN,NaN
7,AGO,Angola,Sub-Saharan Africa,2015,Emerging,37.18,33.09,42.01,45.41,30.27,...,57.00,0.31,32.35,5.26,22.12,55.08,58.33,8.47,NaN,NaN
8,AGO,Angola,Sub-Saharan Africa,2016,Emerging,39.85,37.80,44.74,46.47,32.11,...,63.73,0.00,34.78,6.27,27.46,56.52,61.73,8.13,NaN,NaN
9,AGO,Angola,Sub-Saharan Africa,2017,Emerging,42.89,48.60,47.94,46.32,31.36,...,53.97,0.00,37.88,4.26,31.94,57.06,55.09,7.80,NaN,NaN

In [110]:
# filter most recent year
df = df[(df.Year==2019)]

# create standard columns
df.rename(columns={'Country':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['4G Coverage'] 

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [112]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
5,Afghanistan,2019,% of population covered by mobile 4G+ data con...,15.00,1.7500,True
11,Angola,2019,% of population covered by mobile 4G+ data con...,50.00,3.5000,True
17,Albania,2019,% of population covered by mobile 4G+ data con...,96.00,5.8000,True
23,United Arab Emirates,2019,% of population covered by mobile 4G+ data con...,99.00,5.9500,True
29,Argentina,2019,% of population covered by mobile 4G+ data con...,89.77,5.4885,True
35,Armenia,2019,% of population covered by mobile 4G+ data con...,95.00,5.7500,True
41,Australia,2019,% of population covered by mobile 4G+ data con...,99.20,5.9600,True
47,Austria,2019,% of population covered by mobile 4G+ data con...,99.00,5.9500,True
53,Azerbaijan,2019,% of population covered by mobile 4G+ data con...,90.00,5.5000,True
59,Burundi,2019,% of population covered by mobile 4G+ data con...,25.00,2.2500,True
65,Belgium,2019,% of population covered by mobile 4G+ data con...,100.00,6.0000,True
71,Benin,2019,% of population covered by mobile 4G+ data con...,45.00,3.2500,True
77,Burkina Faso,2019,% of population covered by mobile 4G+ data con...,8.64,1.4320,True
83,Bangladesh,2019,% of population covered by mobile 4G+ data con...,80.00,5.0000,True
89,Bulgaria,2019,% of population covered by mobile 4G+ data con...,100.00,6.0000,True

In [36]:
### 7. % of population covered by mobile 5G

In [113]:
indicators[6]

# load data
indicator = indicators[6]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population covered by mobile 5G+ data connectivity
countries_mobile_connectivity

In [114]:
df.head(10)

,ISO Code,Country,Region,Year,Cluster,Index,Infrastructure,Affordability,Consumer Readiness,Content and Services,...,Gender gap in mobile ownership,TLDs per capita,E-Government Score,Mobile Social Media Penetration,Apps developed per person,Number of apps in national language,Accessibility of top ranked apps,Cybersecurity Index,data_country,data_year
0,AFG,Afghanistan,South Asia,2014,Discoverer,22.12,21.74,31.79,24.40,14.19,...,0.00,39.55,18.11,3.28,20.98,2.44,4.37,26.50,NaN,NaN
1,AFG,Afghanistan,South Asia,2015,Discoverer,22.99,22.82,30.81,25.28,15.71,...,0.00,39.57,24.27,4.36,22.93,2.79,8.03,25.83,NaN,NaN
2,AFG,Afghanistan,South Asia,2016,Discoverer,23.71,26.92,26.75,26.07,16.83,...,0.00,39.58,30.43,6.73,30.31,2.85,5.90,25.17,NaN,NaN
3,AFG,Afghanistan,South Asia,2017,Discoverer,25.82,33.54,27.22,28.56,17.04,...,0.00,39.47,30.50,7.78,31.62,2.91,6.15,24.50,NaN,NaN
4,AFG,Afghanistan,South Asia,2018,Discoverer,28.39,30.91,42.64,29.24,16.87,...,0.00,39.39,30.56,8.54,36.54,2.96,8.66,17.70,NaN,NaN
5,AFG,Afghanistan,South Asia,2019,Discoverer,28.94,32.34,41.53,29.72,17.58,...,0.00,39.41,41.18,9.39,39.36,3.00,5.72,17.70,NaN,NaN
6,AGO,Angola,Sub-Saharan Africa,2014,Discoverer,32.78,25.99,35.99,44.33,27.85,...,51.65,0.00,29.92,3.99,22.74,53.33,49.09,8.80,NaN,NaN
7,AGO,Angola,Sub-Saharan Africa,2015,Emerging,37.18,33.09,42.01,45.41,30.27,...,57.00,0.31,32.35,5.26,22.12,55.08,58.33,8.47,NaN,NaN
8,AGO,Angola,Sub-Saharan Africa,2016,Emerging,39.85,37.80,44.74,46.47,32.11,...,63.73,0.00,34.78,6.27,27.46,56.52,61.73,8.13,NaN,NaN
9,AGO,Angola,Sub-Saharan Africa,2017,Emerging,42.89,48.60,47.94,46.32,31.36,...,53.97,0.00,37.88,4.26,31.94,57.06,55.09,7.80,NaN,NaN

In [115]:
# filter most recent year
df = df[(df.Year==2019)]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['5G Coverage'] 

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [116]:
df[['Country','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country,Year,Indicator,data_col,new_rank_score,higher_is_better
5,Afghanistan,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True
11,Angola,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True
17,Albania,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True
23,United Arab Emirates,2019,% of population covered by mobile 5G+ data con...,100.0,6.0,True
29,Argentina,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True
35,Armenia,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True
41,Australia,2019,% of population covered by mobile 5G+ data con...,100.0,6.0,True
47,Austria,2019,% of population covered by mobile 5G+ data con...,100.0,6.0,True
53,Azerbaijan,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True
59,Burundi,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True
65,Belgium,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True
71,Benin,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True
77,Burkina Faso,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True
83,Bangladesh,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True
89,Bulgaria,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True

In [41]:
### 8. Mobile Coverage Maps

In [117]:
indicators[7]

# load data
indicator = indicators[7]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Mobile Coverage Maps
ITU_database

In [119]:
df.head(15)

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
0,Angola,Africa,AGO,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
1,Benin,Africa,BEN,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
2,Botswana,Africa,BWA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
3,Burkina Faso,Africa,BFA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
4,Burundi,Africa,BDI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
5,Cabo Verde,Africa,CPV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
6,Cameroon,Africa,CMR,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
7,Central African Rep.,Africa,CAF,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
8,Chad,Africa,TCD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
9,Congo (Rep. of the),Africa,COG,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
10,Côte d'Ivoire,Africa,CIV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
11,Dem. Rep. of the Congo,Africa,COD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
12,Equatorial Guinea,Africa,GNQ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
13,Eritrea,Africa,ERI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
14,Eswatini,Africa,SWZ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN

In [120]:
df = df[(df.Year == 2020)]
df = df[(df['Indicator name']== 'Mobile-cellular subscriptions per 100 inhabitants')]
df

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
32475,Angola,Africa,AGO,Mobile-cellular subscriptions per 100 inhabitants,2020.0,44.559511,NaN,NaN
32476,Benin,Africa,BEN,Mobile-cellular subscriptions per 100 inhabitants,2020.0,91.897280,NaN,NaN
32477,Botswana,Africa,BWA,Mobile-cellular subscriptions per 100 inhabitants,2020.0,162.399011,NaN,NaN
32478,Burkina Faso,Africa,BFA,Mobile-cellular subscriptions per 100 inhabitants,2020.0,105.807440,NaN,NaN
32479,Burundi,Africa,BDI,Mobile-cellular subscriptions per 100 inhabitants,2020.0,55.767172,NaN,NaN
...,...,...,...,...,...,...,...,...
32666,Suriname,The Americas,SUR,Mobile-cellular subscriptions per 100 inhabitants,2020.0,153.305479,NaN,NaN
32667,Trinidad and Tobago,The Americas,TTO,Mobile-cellular subscriptions per 100 inhabitants,2020.0,142.051665,NaN,NaN
32668,United States,The Americas,USA,Mobile-cellular subscriptions per 100 inhabitants,2020.0,NaN,NaN,NaN
32669,Uruguay,The Americas,URY,Mobile-cellular subscriptions per 100 inhabitants,2020.0,NaN,NaN,NaN
32670,Venezuela,The Americas,VEN,Mobile-cellular subscriptions per 100 inhabitants,2020.0,63.400007,NaN,NaN

In [124]:
# create standard columns
df.rename(columns={'Country':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Value'] 

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [125]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
32475,Angola,2020.0,Mobile Coverage Maps,44.559511,1.012692,True
32476,Benin,2020.0,Mobile Coverage Maps,91.897280,1.968150,True
32477,Botswana,2020.0,Mobile Coverage Maps,162.399011,3.391146,True
32478,Burkina Faso,2020.0,Mobile Coverage Maps,105.807440,2.248911,True
32479,Burundi,2020.0,Mobile Coverage Maps,55.767172,1.238906,True
32480,Cabo Verde,2020.0,Mobile Coverage Maps,97.975133,2.090825,True
32481,Cameroon,2020.0,Mobile Coverage Maps,95.100069,2.032795,True
32482,Central African Rep.,2020.0,Mobile Coverage Maps,NaN,NaN,True
32483,Chad,2020.0,Mobile Coverage Maps,52.887026,1.180774,True
32484,Congo (Rep. of the),2020.0,Mobile Coverage Maps,NaN,NaN,True
32485,Côte d'Ivoire,2020.0,Mobile Coverage Maps,152.001022,3.181275,True
32486,Dem. Rep. of the Congo,2020.0,Mobile Coverage Maps,45.553547,1.032756,True
32487,Equatorial Guinea,2020.0,Mobile Coverage Maps,NaN,NaN,True
32488,Eritrea,2020.0,Mobile Coverage Maps,NaN,NaN,True
32489,Eswatini,2020.0,Mobile Coverage Maps,NaN,NaN,True

In [126]:
### 9. Electricity Density

In [127]:
indicators[8]

# load data
indicator = indicators[8]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Electricity Density
electricity_yearbook

In [131]:
df.head(20)

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2016 - 2017 (%),2000 - 2017 (%/year),data_country,data_year,higher_is_better,Indicator,data_col,Country,Year,new_rank_score
0,11894.0,12173.0,12284.0,12574.0,12881.0,13327.0,13754.0,14045.0,14414.0,14823.0,...,2.7,3.0,World,World,True,Electricity Density,25592.0,World,2017,6.000000
1,7712.0,7900.0,7975.0,8160.0,8389.0,8646.0,8889.0,9014.0,9244.0,9451.0,...,0.9,0.7,OECD,OECD,True,Electricity Density,11069.0,OECD,2017,3.159482
2,6089.0,6236.0,6277.0,6414.0,6578.0,6760.0,6944.0,6985.0,7142.0,7272.0,...,0.6,0.3,G7,G7,True,Electricity Density,7898.0,G7,2017,2.539274
3,2386.0,2468.0,2510.0,2583.0,2637.0,2754.0,2863.0,2961.0,3026.0,3170.0,...,4.7,6.6,BRICS,BRICS,True,Electricity Density,10000.0,BRICS,2017,2.950399
4,2900.0,2937.0,2926.0,2931.0,2976.0,3071.0,3164.0,3199.0,3280.0,3327.0,...,1.2,0.7,Europe,Europe,True,Electricity Density,3886.0,Europe,2017,1.754577
5,2595.0,2640.0,2624.0,2626.0,2667.0,2744.0,2846.0,2857.0,2923.0,2955.0,...,0.7,0.4,European Union,European Union,True,Electricity Density,3275.0,European Union,2017,1.635073
6,71.0,72.0,72.0,71.0,72.0,74.0,76.0,79.0,83.0,85.0,...,0.5,0.2,Belgium,Belgium,True,Electricity Density,87.0,Belgium,2017,1.011540
7,63.0,61.0,59.0,59.0,59.0,61.0,64.0,65.0,65.0,65.0,...,4.5,1.0,Czech Rep.,Czech Rep.,True,Electricity Density,87.0,Czech Rep.,2017,1.011540
8,421.0,456.0,464.0,473.0,477.0,494.0,513.0,505.0,511.0,526.0,...,-0.4,0.1,France,France,True,Electricity Density,551.0,France,2017,1.102292
9,550.0,540.0,537.0,526.0,529.0,537.0,555.0,552.0,556.0,556.0,...,0.6,0.7,Germany,Germany,True,Electricity Density,653.0,Germany,2017,1.122242
10,217.0,222.0,226.0,223.0,232.0,241.0,244.0,251.0,260.0,266.0,...,1.9,0.4,Italy,Italy,True,Electricity Density,295.0,Italy,2017,1.052222
11,72.0,74.0,77.0,77.0,80.0,81.0,85.0,87.0,91.0,87.0,...,1.3,1.6,Netherlands,Netherlands,True,Electricity Density,117.0,Netherlands,2017,1.017407
12,136.0,135.0,133.0,134.0,135.0,139.0,143.0,143.0,143.0,142.0,...,2.4,1.0,Poland,Poland,True,Electricity Density,171.0,Poland,2017,1.027969
13,29.0,30.0,30.0,31.0,31.0,33.0,35.0,34.0,39.0,43.0,...,0.0,1.9,Portugal,Portugal,True,Electricity Density,60.0,Portugal,2017,1.006259
14,64.0,57.0,54.0,55.0,55.0,59.0,61.0,57.0,53.0,51.0,...,-3.7,1.2,Romania,Romania,True,Electricity Density,64.0,Romania,2017,1.007041
15,152.0,156.0,159.0,157.0,162.0,167.0,174.0,190.0,195.0,208.0,...,0.2,1.2,Spain,Spain,True,Electricity Density,275.0,Spain,2017,1.048310
16,147.0,147.0,146.0,146.0,143.0,148.0,141.0,149.0,159.0,155.0,...,5.0,0.7,Sweden,Sweden,True,Electricity Density,163.0,Sweden,2017,1.026404
17,320.0,323.0,321.0,323.0,326.0,334.0,351.0,351.0,363.0,368.0,...,-1.0,-0.7,United Kingdom,United Kingdom,True,Electricity Density,336.0,United Kingdom,2017,1.060241
18,122.0,111.0,118.0,120.0,113.0,123.0,105.0,112.0,117.0,123.0,...,-0.2,0.3,Norway,Norway,True,Electricity Density,149.0,Norway,2017,1.023666
19,58.0,60.0,67.0,74.0,78.0,86.0,95.0,103.0,111.0,116.0,...,7.7,5.2,Turkey,Turkey,True,Electricity Density,296.0,Turkey,2017,1.052417

In [132]:
# create standard columns
df.rename(columns={'Country':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['2017'] 
df['Country'] = df['Unnamed: 28']
df['Year'] = 2017

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [133]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
0,World,2017,Electricity Density,25592.0,6.000000,True
1,OECD,2017,Electricity Density,11069.0,3.159482,True
2,G7,2017,Electricity Density,7898.0,2.539274,True
3,BRICS,2017,Electricity Density,10000.0,2.950399,True
4,Europe,2017,Electricity Density,3886.0,1.754577,True
5,European Union,2017,Electricity Density,3275.0,1.635073,True
6,Belgium,2017,Electricity Density,87.0,1.011540,True
7,Czech Rep.,2017,Electricity Density,87.0,1.011540,True
8,France,2017,Electricity Density,551.0,1.102292,True
9,Germany,2017,Electricity Density,653.0,1.122242,True
10,Italy,2017,Electricity Density,295.0,1.052222,True
11,Netherlands,2017,Electricity Density,117.0,1.017407,True
12,Poland,2017,Electricity Density,171.0,1.027969,True
13,Portugal,2017,Electricity Density,60.0,1.006259,True
14,Romania,2017,Electricity Density,64.0,1.007041,True

In [ ]:
### 10. % of population covered by electricity

In [135]:
indicators[9]

# load data
indicator = indicators[9]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population covered by electricity
population_electricity_coverage

In [136]:
df.head(15)

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2017,2018,2019,2020,Country Name,Country Code,Indicator Name,Indicator Code,data_country,data_year
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,NaN,Aruba,ABW,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,39.754201,42.168241,43.640661,NaN,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,97.700000,98.715622,97.700000,NaN,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48.848205,51.253253,51.341421,NaN,Africa Western and Central,AFW,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,43.001610,45.290000,45.670315,NaN,Angola,AGO,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.890000,100.000000,100.000000,NaN,Albania,ALB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,NaN,Andorra,AND,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,89.623427,88.306324,89.512282,NaN,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,NaN,United Arab Emirates,ARE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,NaN,Argentina,ARG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.700000,99.900000,100.000000,NaN,Armenia,ARM,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,American Samoa,ASM,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,99.999725,100.000000,NaN,Antigua and Barbuda,ATG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,NaN,Australia,AUS,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,NaN,Austria,AUT,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN

In [137]:
# create standard columns
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['2019'] 
df['Year'] = 2019

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [138]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
0,Aruba,2019,% of population covered by electricity,100.000000,6.000000,True
1,Africa Eastern and Southern,2019,% of population covered by electricity,43.640661,2.979006,True
2,Afghanistan,2019,% of population covered by electricity,97.700000,5.876715,True
3,Africa Western and Central,2019,% of population covered by electricity,51.341421,3.391785,True
4,Angola,2019,% of population covered by electricity,45.670315,3.087800,True
5,Albania,2019,% of population covered by electricity,100.000000,6.000000,True
6,Andorra,2019,% of population covered by electricity,100.000000,6.000000,True
7,Arab World,2019,% of population covered by electricity,89.512282,5.437834,True
8,United Arab Emirates,2019,% of population covered by electricity,100.000000,6.000000,True
9,Argentina,2019,% of population covered by electricity,100.000000,6.000000,True
10,Armenia,2019,% of population covered by electricity,100.000000,6.000000,True
11,American Samoa,2019,% of population covered by electricity,NaN,NaN,True
12,Antigua and Barbuda,2019,% of population covered by electricity,100.000000,6.000000,True
13,Australia,2019,% of population covered by electricity,100.000000,6.000000,True
14,Austria,2019,% of population covered by electricity,100.000000,6.000000,True

In [ ]:
### 11. Electricity Supply Quality

In [139]:
indicators[10]

# load data
indicator = indicators[10]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Electricity supply quality
elect_supply_quality

In [140]:
df.head(10)

,Unnamed: 0,AGO,ALB,ARE,ARG,ARM,AUS,AUT,AZE,BDI,...,GCREURASIA,GCREAP,GCRSASIA,LIC,LMC,UMC,HIC,AVG,data_country,data_year
0,Attribute,Angola,Albania,United Arab Emirates,Argentina,Armenia,Australia,Austria,Azerbaijan,Burundi,...,Eurasia,East Asia and Pacific,South Asia,Low-income,Lower-middle-income,Upper-middle-income,High-income,Sample average,Attribute,Attribute
1,VALUE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VALUE,VALUE
2,RANK,136,81,25,83,69,16,21,58,135,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,RANK,RANK
3,SCORE,38.11248593,57.61416881,75.00738794,57.20132859,61.27687643,78.74662637,76.60913087,62.71789348,40.25234131,...,59.37969533,69.86862667,54.70460508,43.7445505,51.94942309,59.7912297,72.78080961,60.6396938,SCORE,SCORE
4,DATE DESCRIPTION,2019 edition,2019 edition,2019 edition,2019 edition,2019 edition,2019 edition,2019 edition,2019 edition,2019 edition,...,2019 edition,2019 edition,2019 edition,2019 edition,2019 edition,2019 edition,2019 edition,2019 edition,DATE DESCRIPTION,DATE DESCRIPTION
5,SOURCE,"World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...",...,"World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...",SOURCE,SOURCE
6,SOURCE DATE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SOURCE DATE,SOURCE DATE
7,NOTE,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,NOTE,NOTE
8,VALUE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VALUE,VALUE
9,RANK,136,88,3,109,62,22,20,64,134,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,RANK,RANK

In [ ]:
# The data needs to be transposed as countries are now in columns, not rows, which could present problems for later.

In [ ]:
### 12. Electricity Environmental Sustainability

In [141]:
indicators[11]

# load data
indicator = indicators[11]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Electricity Environmental Sustainability
sustainability_index

In [142]:
df.head(15)

,Country Code ISO3,Country,2021 SDG Index Score,2021 SDG Index Rank,Percentage missing values,Spillover Score (0-100),Regional Score (0-100),Regions used for the SDR,Population in 2020,Goal 1 Dash,...,Goal 10 Regional Score,Goal 11 Regional Score,Goal 12 Regional Score,Goal 13 Regional Score,Goal 14 Regional Score,Goal 15 Regional Score,Goal 16 Regional Score,Goal 17 Regional Score,data_country,data_year
0,AFG,Afghanistan,53.9,137.0,9.3,99.3,71.4,E. Europe & C. Asia,"38,928,341",grey,...,72.362762,76.443228,77.629345,83.041913,58.865821,69.499564,72.403938,63.386460,NaN,NaN
1,AGO,Angola,50.3,154.0,0.0,97.0,51.9,Africa,"32,866,268",red,...,37.334205,52.728915,88.024702,96.266527,68.010492,66.835003,56.050983,51.652955,NaN,NaN
2,ALB,Albania,71.0,64.0,3.3,94.3,71.4,E. Europe & C. Asia,"2,877,800",yellow,...,72.362762,76.443228,77.629345,83.041913,58.865821,69.499564,72.403938,63.386460,NaN,NaN
3,AND,Andorra,NaN,NaN,51.2,NaN,71.4,E. Europe & C. Asia,"77,265",grey,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ARE,United Arab Emirates,70.2,71.0,11.0,38.8,67.1,MENA,"9,890,400",green,...,66.178091,58.928271,76.842146,71.475510,62.776615,57.356212,69.093831,56.231255,NaN,NaN
5,ARG,Argentina,72.8,52.0,1.1,94.5,68.6,LAC,"45,195,777",yellow,...,27.901676,77.087594,76.727283,85.373283,62.781114,60.904217,60.888934,64.295156,NaN,NaN
6,ARM,Armenia,71.8,58.0,3.5,96.7,71.4,E. Europe & C. Asia,"2,963,234",yellow,...,72.362762,76.443228,77.629345,83.041913,58.865821,69.499564,72.403938,63.386460,NaN,NaN
7,ATG,Antigua and Barbuda,NaN,NaN,30.8,NaN,68.6,LAC,"97,928",grey,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,AUS,Australia,75.6,35.0,1.1,63.9,77.2,OECD,"25,499,881",yellow,...,74.475203,88.911367,58.055279,64.112721,63.360546,74.102776,82.316815,65.773824,NaN,NaN
9,AUT,Austria,82.1,6.0,3.5,59.5,77.2,OECD,"9,006,400",green,...,74.475203,88.911367,58.055279,64.112721,63.360546,74.102776,82.316815,65.773824,NaN,NaN
10,AZE,Azerbaijan,72.4,55.0,7.0,97.6,71.4,E. Europe & C. Asia,"10,139,175",green,...,72.362762,76.443228,77.629345,83.041913,58.865821,69.499564,72.403938,63.386460,NaN,NaN
11,BDI,Burundi,51.8,147.0,7.0,99.8,51.9,Africa,"11,890,781",red,...,37.334205,52.728915,88.024702,96.266527,68.010492,66.835003,56.050983,51.652955,NaN,NaN
12,BEL,Belgium,82.2,5.0,4.4,62.0,77.2,OECD,"11,589,616",green,...,74.475203,88.911367,58.055279,64.112721,63.360546,74.102776,82.316815,65.773824,NaN,NaN
13,BEN,Benin,49.9,155.0,4.4,98.8,51.9,Africa,"12,123,198",red,...,37.334205,52.728915,88.024702,96.266527,68.010492,66.835003,56.050983,51.652955,NaN,NaN
14,BFA,Burkina Faso,53.5,139.0,1.2,99.4,51.9,Africa,"20,903,278",red,...,37.334205,52.728915,88.024702,96.266527,68.010492,66.835003,56.050983,51.652955,NaN,NaN

In [148]:
# create standard columns
df.rename(columns={'Country':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['2021 SDG Index Score'] 
df['Year'] = 2021

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [149]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
0,Afghanistan,Afghanistan,2021,Electricity Environmental Sustainability,53.9,2.638655,True
1,Angola,Angola,2021,Electricity Environmental Sustainability,50.3,2.260504,True
2,Albania,Albania,2021,Electricity Environmental Sustainability,71.0,4.434874,True
3,Andorra,Andorra,2021,Electricity Environmental Sustainability,NaN,NaN,True
4,United Arab Emirates,United Arab Emirates,2021,Electricity Environmental Sustainability,70.2,4.350840,True
5,Argentina,Argentina,2021,Electricity Environmental Sustainability,72.8,4.623950,True
6,Armenia,Armenia,2021,Electricity Environmental Sustainability,71.8,4.518908,True
7,Antigua and Barbuda,Antigua and Barbuda,2021,Electricity Environmental Sustainability,NaN,NaN,True
8,Australia,Australia,2021,Electricity Environmental Sustainability,75.6,4.918067,True
9,Austria,Austria,2021,Electricity Environmental Sustainability,82.1,5.600840,True
10,Azerbaijan,Azerbaijan,2021,Electricity Environmental Sustainability,72.4,4.581933,True
11,Burundi,Burundi,2021,Electricity Environmental Sustainability,51.8,2.418067,True
12,Belgium,Belgium,2021,Electricity Environmental Sustainability,82.2,5.611345,True
13,Benin,Benin,2021,Electricity Environmental Sustainability,49.9,2.218487,True
14,Burkina Faso,Burkina Faso,2021,Electricity Environmental Sustainability,53.5,2.596639,True

In [ ]:
### 13. Cellphone Signal Density

In [156]:
indicators[12]

# load data
indicator = indicators[12]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Cellphone Signal Density
mobile_density

In [157]:
df.head(10)

,Unnamed: 0,ISO Code,Country,Region,Year,Network coverage
0,1,AFG,Afghanistan,South Asia,2014,28.919998
1,2,AFG,Afghanistan,South Asia,2015,31.799999
2,3,AFG,Afghanistan,South Asia,2016,33.040001
3,4,AFG,Afghanistan,South Asia,2017,36.340000
4,5,AFG,Afghanistan,South Asia,2018,30.931999
5,6,AFG,Afghanistan,South Asia,2019,38.480000
6,7,AGO,Angola,Sub-Saharan Africa,2014,51.445770
7,8,AGO,Angola,Sub-Saharan Africa,2015,53.906952
8,9,AGO,Angola,Sub-Saharan Africa,2016,61.174950
9,10,AGO,Angola,Sub-Saharan Africa,2017,60.800003

In [159]:
df = df[(df.Year == 2019)]

# create standard columns
df.rename(columns={'Country':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Network coverage'] 

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [160]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
5,Afghanistan,2019,Cellphone Signal Density,38.480000,2.117926,True
11,Angola,2019,Cellphone Signal Density,57.400002,3.311828,True
17,Albania,2019,Cellphone Signal Density,87.186005,5.191403,True
23,United Arab Emirates,2019,Cellphone Signal Density,99.599998,5.974759,True
29,Argentina,2019,Cellphone Signal Density,83.708000,4.971932,True
35,Armenia,2019,Cellphone Signal Density,87.599998,5.217527,True
41,Australia,2019,Cellphone Signal Density,99.419998,5.963400,True
47,Austria,2019,Cellphone Signal Density,99.099998,5.943208,True
53,Azerbaijan,2019,Cellphone Signal Density,84.000000,4.990358,True
59,Burundi,2019,Cellphone Signal Density,31.365000,1.668951,True
65,Belgium,2019,Cellphone Signal Density,90.000000,5.368974,True
71,Benin,2019,Cellphone Signal Density,63.399998,3.690444,True
77,Burkina Faso,2019,Cellphone Signal Density,39.245998,2.166263,True
83,Bangladesh,2019,Cellphone Signal Density,79.959999,4.735423,True
89,Bulgaria,2019,Cellphone Signal Density,90.000000,5.368974,True

In [ ]:
### 14. Telecommunication Infrastructure Index (TII)

In [167]:
indicators[13]

# load data
indicator = indicators[13]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Telecommunication Infrastructure Index (TII)
e_government_index

In [162]:
df.head(10)

,Survey Year,Country Name,E-Government Rank,E-Government Index,E-Participation Index,Online Service Index,Human Capital Index,Telecommunication Infrastructure Index
0,2020,Iraq,143,0.4360,0.3095,0.3353,0.4358,0.5370
1,2020,Ireland,27,0.8433,0.8571,0.7706,0.9494,0.8100
2,2020,Israel,30,0.8361,0.7143,0.7471,0.8924,0.8689
3,2020,Italy,37,0.8231,0.8214,0.8294,0.8466,0.7932
4,2020,Jamaica,114,0.5392,0.3690,0.3882,0.7142,0.5151
5,2020,Japan,14,0.8989,0.9881,0.9059,0.8684,0.9223
6,2020,Jordan,117,0.5309,0.3333,0.3588,0.6800,0.5540
7,2020,Kazakhstan,29,0.8375,0.8810,0.9235,0.8866,0.7024
8,2020,Kenya,116,0.5326,0.5952,0.6765,0.5812,0.3402
9,2020,Kiribati,145,0.4320,0.5595,0.4941,0.6778,0.1241

In [168]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Telecommunication Infrastructure Index'] 
df['Year'] = df['Survey Year']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [169]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
0,Iraq,2020,Telecommunication Infrastructure Index (TII),0.5370,3.6850,True
1,Ireland,2020,Telecommunication Infrastructure Index (TII),0.8100,5.0500,True
2,Israel,2020,Telecommunication Infrastructure Index (TII),0.8689,5.3445,True
3,Italy,2020,Telecommunication Infrastructure Index (TII),0.7932,4.9660,True
4,Jamaica,2020,Telecommunication Infrastructure Index (TII),0.5151,3.5755,True
5,Japan,2020,Telecommunication Infrastructure Index (TII),0.9223,5.6115,True
6,Jordan,2020,Telecommunication Infrastructure Index (TII),0.5540,3.7700,True
7,Kazakhstan,2020,Telecommunication Infrastructure Index (TII),0.7024,4.5120,True
8,Kenya,2020,Telecommunication Infrastructure Index (TII),0.3402,2.7010,True
9,Kiribati,2020,Telecommunication Infrastructure Index (TII),0.1241,1.6205,True
10,Kuwait,2020,Telecommunication Infrastructure Index (TII),0.7858,4.9290,True
11,Kyrgyzstan,2020,Telecommunication Infrastructure Index (TII),0.5902,3.9510,True
12,Lao People's Democratic Republic,2020,Telecommunication Infrastructure Index (TII),0.2383,2.1915,True
13,Latvia,2020,Telecommunication Infrastructure Index (TII),0.8399,5.1995,True
14,Lebanon,2020,Telecommunication Infrastructure Index (TII),0.4123,3.0615,True

In [170]:
### 15. GSMA Mobile Connectivity Index

In [171]:
indicators[14]

# load data
indicator = indicators[14]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

GSMA Mobile Connectivity Index
countries_mobile_connectivity

In [172]:
df.head(10)

,ISO Code,Country,Region,Year,Cluster,Index,Infrastructure,Affordability,Consumer Readiness,Content and Services,...,Gender gap in mobile ownership,TLDs per capita,E-Government Score,Mobile Social Media Penetration,Apps developed per person,Number of apps in national language,Accessibility of top ranked apps,Cybersecurity Index,data_country,data_year
0,AFG,Afghanistan,South Asia,2014,Discoverer,22.12,21.74,31.79,24.40,14.19,...,0.00,39.55,18.11,3.28,20.98,2.44,4.37,26.50,NaN,NaN
1,AFG,Afghanistan,South Asia,2015,Discoverer,22.99,22.82,30.81,25.28,15.71,...,0.00,39.57,24.27,4.36,22.93,2.79,8.03,25.83,NaN,NaN
2,AFG,Afghanistan,South Asia,2016,Discoverer,23.71,26.92,26.75,26.07,16.83,...,0.00,39.58,30.43,6.73,30.31,2.85,5.90,25.17,NaN,NaN
3,AFG,Afghanistan,South Asia,2017,Discoverer,25.82,33.54,27.22,28.56,17.04,...,0.00,39.47,30.50,7.78,31.62,2.91,6.15,24.50,NaN,NaN
4,AFG,Afghanistan,South Asia,2018,Discoverer,28.39,30.91,42.64,29.24,16.87,...,0.00,39.39,30.56,8.54,36.54,2.96,8.66,17.70,NaN,NaN
5,AFG,Afghanistan,South Asia,2019,Discoverer,28.94,32.34,41.53,29.72,17.58,...,0.00,39.41,41.18,9.39,39.36,3.00,5.72,17.70,NaN,NaN
6,AGO,Angola,Sub-Saharan Africa,2014,Discoverer,32.78,25.99,35.99,44.33,27.85,...,51.65,0.00,29.92,3.99,22.74,53.33,49.09,8.80,NaN,NaN
7,AGO,Angola,Sub-Saharan Africa,2015,Emerging,37.18,33.09,42.01,45.41,30.27,...,57.00,0.31,32.35,5.26,22.12,55.08,58.33,8.47,NaN,NaN
8,AGO,Angola,Sub-Saharan Africa,2016,Emerging,39.85,37.80,44.74,46.47,32.11,...,63.73,0.00,34.78,6.27,27.46,56.52,61.73,8.13,NaN,NaN
9,AGO,Angola,Sub-Saharan Africa,2017,Emerging,42.89,48.60,47.94,46.32,31.36,...,53.97,0.00,37.88,4.26,31.94,57.06,55.09,7.80,NaN,NaN

In [173]:
# filter most recent year
df = df[(df.Year==2019)]

# create standard columns
df.rename(columns={'Country':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Index'] 

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [174]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
5,Afghanistan,2019,GSMA Mobile Connectivity Index,28.94,2.041533,True
11,Angola,2019,GSMA Mobile Connectivity Index,43.53,2.979555,True
17,Albania,2019,GSMA Mobile Connectivity Index,67.89,4.545712,True
23,United Arab Emirates,2019,GSMA Mobile Connectivity Index,78.23,5.210492,True
29,Argentina,2019,GSMA Mobile Connectivity Index,67.16,4.498778,True
35,Armenia,2019,GSMA Mobile Connectivity Index,56.24,3.796708,True
41,Australia,2019,GSMA Mobile Connectivity Index,90.51,6.000000,True
47,Austria,2019,GSMA Mobile Connectivity Index,84.21,5.594959,True
53,Azerbaijan,2019,GSMA Mobile Connectivity Index,58.28,3.927864,True
59,Burundi,2019,GSMA Mobile Connectivity Index,26.16,1.862801,True
65,Belgium,2019,GSMA Mobile Connectivity Index,82.56,5.488877,True
71,Benin,2019,GSMA Mobile Connectivity Index,39.07,2.692812,True
77,Burkina Faso,2019,GSMA Mobile Connectivity Index,32.44,2.266555,True
83,Bangladesh,2019,GSMA Mobile Connectivity Index,46.47,3.168574,True
89,Bulgaria,2019,GSMA Mobile Connectivity Index,70.37,4.705156,True

In [ ]:
### 16. Spectrum Allocated to Mobile Providers

In [175]:
indicators[15]

# load data
indicator = indicators[15]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Spectrum Allocated to Mobile Providers
spectrum_allocated_mobile_providers

In [176]:
df.head(15)

,ISO Code,Country,Region,Year,Cluster,Index,Infrastructure,Affordability,Consumer Readiness,Content and Services,...,Gender gap in mobile ownership,TLDs per capita,E-Government Score,Mobile Social Media Penetration,Apps developed per person,Number of apps in national language,Accessibility of top ranked apps,Cybersecurity Index,data_country,data_year
0,AFG,Afghanistan,South Asia,2014,Discoverer,22.12,21.74,31.79,24.40,14.19,...,0.00,39.55,18.11,3.28,20.98,2.44,4.37,26.50,NaN,NaN
1,AFG,Afghanistan,South Asia,2015,Discoverer,22.99,22.82,30.81,25.28,15.71,...,0.00,39.57,24.27,4.36,22.93,2.79,8.03,25.83,NaN,NaN
2,AFG,Afghanistan,South Asia,2016,Discoverer,23.71,26.92,26.75,26.07,16.83,...,0.00,39.58,30.43,6.73,30.31,2.85,5.90,25.17,NaN,NaN
3,AFG,Afghanistan,South Asia,2017,Discoverer,25.82,33.54,27.22,28.56,17.04,...,0.00,39.47,30.50,7.78,31.62,2.91,6.15,24.50,NaN,NaN
4,AFG,Afghanistan,South Asia,2018,Discoverer,28.39,30.91,42.64,29.24,16.87,...,0.00,39.39,30.56,8.54,36.54,2.96,8.66,17.70,NaN,NaN
5,AFG,Afghanistan,South Asia,2019,Discoverer,28.94,32.34,41.53,29.72,17.58,...,0.00,39.41,41.18,9.39,39.36,3.00,5.72,17.70,NaN,NaN
6,AGO,Angola,Sub-Saharan Africa,2014,Discoverer,32.78,25.99,35.99,44.33,27.85,...,51.65,0.00,29.92,3.99,22.74,53.33,49.09,8.80,NaN,NaN
7,AGO,Angola,Sub-Saharan Africa,2015,Emerging,37.18,33.09,42.01,45.41,30.27,...,57.00,0.31,32.35,5.26,22.12,55.08,58.33,8.47,NaN,NaN
8,AGO,Angola,Sub-Saharan Africa,2016,Emerging,39.85,37.80,44.74,46.47,32.11,...,63.73,0.00,34.78,6.27,27.46,56.52,61.73,8.13,NaN,NaN
9,AGO,Angola,Sub-Saharan Africa,2017,Emerging,42.89,48.60,47.94,46.32,31.36,...,53.97,0.00,37.88,4.26,31.94,57.06,55.09,7.80,NaN,NaN
10,AGO,Angola,Sub-Saharan Africa,2018,Emerging,42.46,47.61,46.28,47.61,30.98,...,63.34,0.00,40.97,5.39,35.36,57.13,47.25,9.70,NaN,NaN
11,AGO,Angola,Sub-Saharan Africa,2019,Emerging,43.53,48.18,47.65,48.13,32.50,...,57.71,0.77,48.82,6.82,41.20,57.98,46.19,9.70,NaN,NaN
12,ALB,Albania,Europe & Central Asia,2014,Transitioner,53.74,41.32,55.95,74.94,48.13,...,68.42,53.41,44.88,39.75,66.65,60.33,56.55,20.60,NaN,NaN
13,ALB,Albania,Europe & Central Asia,2015,Transitioner,57.42,52.09,54.60,75.56,50.57,...,68.42,57.45,52.15,40.61,65.99,63.29,57.56,24.20,NaN,NaN
14,ALB,Albania,Europe & Central Asia,2016,Transitioner,60.24,57.44,54.45,75.97,55.41,...,67.39,58.70,59.42,48.07,69.64,65.57,65.80,27.80,NaN,NaN

In [178]:
# filter most recent year
df = df[(df.Year==2019)]

# create standard columns
df.rename(columns={'Country':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Spectrum'] 

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [179]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
5,Afghanistan,2019,Spectrum Allocated to Mobile Providers,17.62,1.577685,True
11,Angola,2019,Spectrum Allocated to Mobile Providers,48.22,3.261224,True
17,Albania,2019,Spectrum Allocated to Mobile Providers,52.85,3.515955,True
23,United Arab Emirates,2019,Spectrum Allocated to Mobile Providers,82.44,5.143926,True
29,Argentina,2019,Spectrum Allocated to Mobile Providers,63.38,4.095290,True
35,Armenia,2019,Spectrum Allocated to Mobile Providers,21.43,1.787302,True
41,Australia,2019,Spectrum Allocated to Mobile Providers,75.45,4.759353,True
47,Austria,2019,Spectrum Allocated to Mobile Providers,73.33,4.642716,True
53,Azerbaijan,2019,Spectrum Allocated to Mobile Providers,15.36,1.453345,True
59,Burundi,2019,Spectrum Allocated to Mobile Providers,16.29,1.504511,True
65,Belgium,2019,Spectrum Allocated to Mobile Providers,58.62,3.833407,True
71,Benin,2019,Spectrum Allocated to Mobile Providers,61.31,3.981404,True
77,Burkina Faso,2019,Spectrum Allocated to Mobile Providers,23.82,1.918794,True
83,Bangladesh,2019,Spectrum Allocated to Mobile Providers,19.97,1.706976,True
89,Bulgaria,2019,Spectrum Allocated to Mobile Providers,27.49,2.120709,True

In [ ]:
### 17. Internet Exchange Points (IXPs)

In [180]:
indicators[16]

# load data
indicator = indicators[16]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Internet Exchange Points (IXPs) map
countries_ixp

In [181]:
df['Country Name'] = df['Country']
df.head(15)

,Region,Country,City,IXP Name,Participants,Peak,Avg,IPv6,Prefixes,Established,URL,Country Name
0,Asia-Pacific,Afghanistan,Kabul,National Internet Exchange of Afghanistan,20,6.4G,2.19G,NaN,NaN,18-Jul,NaN,Afghanistan
1,Europe,Albania,Tirana,Albanian Neutral Internet eXchange,16,2.42G,35M,NaN,NaN,2018,NaN,Albania
2,NaN,Albania,Tirana,Albania IX,0,NaN,NaN,NaN,NaN,2011,NaN,Albania
3,Africa,Algeria,Algiers,Algeria Internet Exchange,0,NaN,NaN,NaN,NaN,NaN,NaN,Algeria
4,NaN,Angola,Luanda,Angola Internet Exchange,21,1.6G,NaN,NaN,512.0,17-Mar-06,NaN,Angola
5,NaN,Angola,Luanda,Ponto de Intercambio Internet Angola,0,NaN,NaN,NaN,NaN,NaN,NaN,Angola
6,NaN,Angola,Luanda,ANGONIX,21,16G,NaN,NaN,5495.0,9-Mar-15,NaN,Angola
7,Latin America,Argentina,Bahía Blanca,CABASE IXP Bahía Blanca,15,713M,NaN,NaN,NaN,27-Apr-13,NaN,Argentina
8,NaN,Argentina,Bariloche,CABASE IXP Bariloche,8,NaN,NaN,NaN,NaN,15-Sep-14,NaN,Argentina
9,NaN,Argentina,Buenos Aires,CABASE IXP Buenos Aires,125,9.19G,NaN,NaN,17224.0,1-Apr-98,NaN,Argentina
10,NaN,Argentina,Buenos Aires,Cubecorp,0,NaN,NaN,NaN,NaN,NaN,NaN,Argentina
11,NaN,Argentina,Buenos Aires,CABASE IXP Ruteo Central,0,NaN,NaN,NaN,NaN,NaN,NaN,Argentina
12,NaN,Argentina,Buenos Aires,CABASE IXP Oeste de Gran Buenos Aires,7,NaN,NaN,NaN,NaN,5-Jul-16,NaN,Argentina
13,NaN,Argentina,Buenos Aires,NAP CABASE La Matanza,0,NaN,NaN,NaN,NaN,NaN,NaN,Argentina
14,NaN,Argentina,Concepcion del Uruguay,CABASE IXP Concepcion del Uruguay,4,NaN,NaN,NaN,NaN,NaN,NaN,Argentina

In [182]:
agg_df = df.groupby('Country Name').agg({'Country':'count'})
agg_df

              Country
Country Name
Afghanistan         1
Albania             2
Algeria             1
Angola              3
Argentina          33
...               ...
Uzbekistan          3
Vanuatu             1
Viet Nam            3
Zambia              1
Zimbabwe            2

[165 rows x 1 columns]

In [183]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

agg_df['higher_is_better'] = True
agg_df['Indicator'] = indicator
agg_df['data_col'] = agg_df['Country'] 
agg_df['Year'] = 2019

min_rank = agg_df['data_col'].min()
max_rank = agg_df['data_col'].max()

# transform 0-1 rank into 1-6
agg_df['new_rank_score'] = agg_df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [184]:
agg_df[['Year','Indicator','data_col','new_rank_score','higher_is_better']].head(150)

,Year,Indicator,data_col,new_rank_score,higher_is_better
Country Name,,,,,
Afghanistan,2019,Internet Exchange Points (IXPs) map,1,1.000000,True
Albania,2019,Internet Exchange Points (IXPs) map,2,1.023148,True
Algeria,2019,Internet Exchange Points (IXPs) map,1,1.000000,True
Angola,2019,Internet Exchange Points (IXPs) map,3,1.046296,True
Argentina,2019,Internet Exchange Points (IXPs) map,33,1.740741,True
...,...,...,...,...,...
Syria,2019,Internet Exchange Points (IXPs) map,1,1.000000,True
Taiwan,2019,Internet Exchange Points (IXPs) map,7,1.138889,True
Tajikistan,2019,Internet Exchange Points (IXPs) map,1,1.000000,True
Tanzania,2019,Internet Exchange Points (IXPs) map,5,1.092593,True
Thailand,2019,Internet Exchange Points (IXPs) map,13,1.277778,True

In [ ]:
### 18. ISP internet download speed averag

In [185]:
indicators[17]

# load data
indicator = indicators[17]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

ISP internet download speed average
internet_speed

In [186]:
df.head(15)

    Ranking  Year               Country  Download speed (Mbps)
0         1  2021                Monaco                 256.70
1         2  2021             Singapore                 256.03
2         3  2021       Hong Kong (SAR)                 248.59
3         4  2021              Thailand                 216.16
4         5  2021               Romania                 215.30
5         6  2021           Switzerland                 214.82
6         7  2021           South Korea                 212.83
7         8  2021                 Chile                 209.45
8         9  2021               Denmark                 208.50
9        10  2021         Liechtenstein                 207.44
10       11  2021                France                 199.68
11       12  2021               Hungary                 199.47
12       13  2021               Moldova                 196.46
13       14  2021         United States                 195.55
14       15  2021  United Arab Emirates                 190.96

In [187]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Download speed (Mbps)'] 
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [188]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
0,Monaco,2021,ISP internet download speed average,256.70,6.000000,True
1,Singapore,2021,ISP internet download speed average,256.03,5.986711,True
2,Hong Kong (SAR),2021,ISP internet download speed average,248.59,5.839145,True
3,Thailand,2021,ISP internet download speed average,216.16,5.195922,True
4,Romania,2021,ISP internet download speed average,215.30,5.178865,True
5,Switzerland,2021,ISP internet download speed average,214.82,5.169344,True
6,South Korea,2021,ISP internet download speed average,212.83,5.129874,True
7,Chile,2021,ISP internet download speed average,209.45,5.062835,True
8,Denmark,2021,ISP internet download speed average,208.50,5.043992,True
9,Liechtenstein,2021,ISP internet download speed average,207.44,5.022968,True
10,France,2021,ISP internet download speed average,199.68,4.869055,True
11,Hungary,2021,ISP internet download speed average,199.47,4.864890,True
12,Moldova,2021,ISP internet download speed average,196.46,4.805189,True
13,United States,2021,ISP internet download speed average,195.55,4.787140,True
14,United Arab Emirates,2021,ISP internet download speed average,190.96,4.696101,True

In [ ]:
### 19. Mobile dowload speed at the slowest hour

In [189]:
indicators[18]

# load data
indicator = indicators[18]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

# Waiting for internet_speed to be added to the processed folder

Mobile dowload speed at the slowest hour of the day
mobile_latency

In [190]:
df.head(15)

,Unnamed: 0,ISO Code,Country,Region,Year,Mobile latencies
0,1,AFG,Afghanistan,South Asia,2014,0.000000
1,2,AFG,Afghanistan,South Asia,2015,0.000000
2,3,AFG,Afghanistan,South Asia,2016,11.842106
3,4,AFG,Afghanistan,South Asia,2017,56.234993
4,5,AFG,Afghanistan,South Asia,2018,49.762146
5,6,AFG,Afghanistan,South Asia,2019,42.627621
6,7,AGO,Angola,Sub-Saharan Africa,2014,0.000000
7,8,AGO,Angola,Sub-Saharan Africa,2015,36.975155
8,9,AGO,Angola,Sub-Saharan Africa,2016,50.958073
9,10,AGO,Angola,Sub-Saharan Africa,2017,66.052635
10,11,AGO,Angola,Sub-Saharan Africa,2018,74.417152
11,12,AGO,Angola,Sub-Saharan Africa,2019,66.285637
12,13,ALB,Albania,Europe & Central Asia,2014,34.736843
13,14,ALB,Albania,Europe & Central Asia,2015,57.339764
14,15,ALB,Albania,Europe & Central Asia,2016,73.420052

In [191]:
# filter most recent year
df = df[(df.Year==2019)]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Mobile latencies'] 
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))


# invert since to lower rank is better
df['new_rank_score'] = df['new_rank_score'].apply(lambda row: (6-row)+1)

In [192]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
5,Afghanistan,2019,Mobile dowload speed at the slowest hour of th...,42.627621,3.618652,True
11,Angola,2019,Mobile dowload speed at the slowest hour of th...,66.285637,2.297022,True
17,Albania,2019,Mobile dowload speed at the slowest hour of th...,84.636459,1.271872,True
23,United Arab Emirates,2019,Mobile dowload speed at the slowest hour of th...,84.951675,1.254263,True
29,Argentina,2019,Mobile dowload speed at the slowest hour of th...,80.727203,1.490258,True
35,Armenia,2019,Mobile dowload speed at the slowest hour of th...,88.437950,1.059505,True
41,Australia,2019,Mobile dowload speed at the slowest hour of th...,86.069145,1.191836,True
47,Austria,2019,Mobile dowload speed at the slowest hour of th...,85.845047,1.204355,True
53,Azerbaijan,2019,Mobile dowload speed at the slowest hour of th...,85.687500,1.213157,True
59,Burundi,2019,Mobile dowload speed at the slowest hour of th...,51.736294,3.109806,True
65,Belgium,2019,Mobile dowload speed at the slowest hour of th...,82.730255,1.378360,True
71,Benin,2019,Mobile dowload speed at the slowest hour of th...,68.678703,2.163335,True
77,Burkina Faso,2019,Mobile dowload speed at the slowest hour of th...,54.469799,2.957101,True
83,Bangladesh,2019,Mobile dowload speed at the slowest hour of th...,74.701111,1.826900,True
89,Bulgaria,2019,Mobile dowload speed at the slowest hour of th...,83.992538,1.307844,True

In [ ]:
### 20. Mobile download speed average

In [193]:
indicators[19]

# load data
indicator = indicators[19]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Mobile download speed average
mobile_speed

In [194]:
df.head(15)

     #  Year               Country    Mbps
0    1  2021  United Arab Emirates  190.03
1    2  2021           South Korea  189.20
2    3  2021                 Qatar  170.77
3    4  2021                 China  157.72
4    5  2021                Cyprus  154.13
5    6  2021                Norway  152.53
6    7  2021          Saudi Arabia  151.13
7    8  2021                Kuwait  140.16
8    9  2021             Australia  122.27
9   10  2021              Bulgaria  120.44
10  11  2021            Luxembourg  110.72
11  12  2021           Switzerland  109.65
12  13  2021           Netherlands  100.65
13  14  2021         United States   91.01
14  15  2021                Sweden   90.57

In [195]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Mbps'] 
df['Country Name'] = df['Country']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [196]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
0,United Arab Emirates,2021,Mobile download speed average,190.03,6.000000,True
1,South Korea,2021,Mobile download speed average,189.20,5.977362,True
2,Qatar,2021,Mobile download speed average,170.77,5.474689,True
3,China,2021,Mobile download speed average,157.72,5.118754,True
4,Cyprus,2021,Mobile download speed average,154.13,5.020838,True
5,Norway,2021,Mobile download speed average,152.53,4.977198,True
6,Saudi Arabia,2021,Mobile download speed average,151.13,4.939014,True
7,Kuwait,2021,Mobile download speed average,140.16,4.639810,True
8,Australia,2021,Mobile download speed average,122.27,4.151866,True
9,Bulgaria,2021,Mobile download speed average,120.44,4.101953,True
10,Luxembourg,2021,Mobile download speed average,110.72,3.836843,True
11,Switzerland,2021,Mobile download speed average,109.65,3.807659,True
12,Netherlands,2021,Mobile download speed average,100.65,3.562186,True
13,United States,2021,Mobile download speed average,91.01,3.299258,True
14,Sweden,2021,Mobile download speed average,90.57,3.287257,True

In [ ]:
### 21. Individuals using the Internet (% of population)

In [197]:
indicators[20]

# load data
indicator = indicators[20]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Individuals using the Internet (% of population)
ITU_database

In [198]:
df.head(15)

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
0,Angola,Africa,AGO,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
1,Benin,Africa,BEN,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
2,Botswana,Africa,BWA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
3,Burkina Faso,Africa,BFA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
4,Burundi,Africa,BDI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
5,Cabo Verde,Africa,CPV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
6,Cameroon,Africa,CMR,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
7,Central African Rep.,Africa,CAF,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
8,Chad,Africa,TCD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
9,Congo (Rep. of the),Africa,COG,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
10,Côte d'Ivoire,Africa,CIV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
11,Dem. Rep. of the Congo,Africa,COD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
12,Equatorial Guinea,Africa,GNQ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
13,Eritrea,Africa,ERI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
14,Eswatini,Africa,SWZ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN

In [199]:
df = df[(df['Indicator name'] == 'Individuals using the Internet, total (%)')]
df = df[(df.Year==2019)]
df.head(15)

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
47607,Cabo Verde,Africa,CPV,"Individuals using the Internet, total (%)",2019.0,61.943398,NaN,NaN
47608,Central African Rep.,Africa,CAF,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
47609,Congo (Rep. of the),Africa,COG,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
47610,Côte d'Ivoire,Africa,CIV,"Individuals using the Internet, total (%)",2019.0,36.288955,NaN,NaN
47611,Equatorial Guinea,Africa,GNQ,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
47612,Eritrea,Africa,ERI,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
47613,Eswatini,Africa,SWZ,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
47614,Kenya,Africa,KEN,"Individuals using the Internet, total (%)",2019.0,22.565119,NaN,NaN
47615,Lesotho,Africa,LSO,"Individuals using the Internet, total (%)",2019.0,42.301734,NaN,NaN
47616,Madagascar,Africa,MDG,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
47617,Mauritius,Africa,MUS,"Individuals using the Internet, total (%)",2019.0,61.729955,NaN,NaN
47618,Niger,Africa,NER,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
47619,South Sudan,Africa,SSD,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
47620,Uganda,Africa,UGA,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
47621,Bahrain,Arab States,BHR,"Individuals using the Internet, total (%)",2019.0,99.701493,NaN,NaN

In [200]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Value'] 
df.rename(columns = {'Country':'Country Name'}, inplace=True)

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [201]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(150)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
47607,Cabo Verde,2019.0,Individuals using the Internet (% of population),61.943398,3.715247,True
47608,Central African Rep.,2019.0,Individuals using the Internet (% of population),NaN,NaN,True
47609,Congo (Rep. of the),2019.0,Individuals using the Internet (% of population),NaN,NaN,True
47610,Côte d'Ivoire,2019.0,Individuals using the Internet (% of population),36.288955,2.162890,True
47611,Equatorial Guinea,2019.0,Individuals using the Internet (% of population),NaN,NaN,True
...,...,...,...,...,...,...
47739,Saint Vincent and the Grenadines,2019.0,Individuals using the Internet (% of population),NaN,NaN,True
47740,Trinidad and Tobago,2019.0,Individuals using the Internet (% of population),NaN,NaN,True
47741,United States,2019.0,Individuals using the Internet (% of population),89.430285,5.378486,True
47742,Uruguay,2019.0,Individuals using the Internet (% of population),83.351534,5.010659,True
47743,Venezuela,2019.0,Individuals using the Internet (% of population),NaN,NaN,True

In [ ]:
### 22. Mobile-cellular subscriptions per 100 inhabitants

In [202]:
indicators[21]

# load data
indicator = indicators[21]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Mobile cellular subscriptions (per 100 people)
ITU_database

In [203]:
df = df[(df['Indicator name'] == 'Individuals using the Internet, total (%)')]
df = df[(df.Year==2020)]
df.head(15)

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
47744,Mauritius,Africa,MUS,"Individuals using the Internet, total (%)",2020.0,64.884904,NaN,NaN
47745,Uganda,Africa,UGA,"Individuals using the Internet, total (%)",2020.0,NaN,NaN,NaN
47746,Bahrain,Arab States,BHR,"Individuals using the Internet, total (%)",2020.0,99.539512,NaN,NaN
47747,Egypt,Arab States,EGY,"Individuals using the Internet, total (%)",2020.0,71.914200,NaN,NaN
47748,Iraq,Arab States,IRQ,"Individuals using the Internet, total (%)",2020.0,NaN,NaN,NaN
47749,Kuwait,Arab States,KWT,"Individuals using the Internet, total (%)",2020.0,98.599995,NaN,NaN
47750,Morocco,Arab States,MAR,"Individuals using the Internet, total (%)",2020.0,84.120363,NaN,NaN
47751,Oman,Arab States,OMN,"Individuals using the Internet, total (%)",2020.0,95.232293,NaN,NaN
47752,Qatar,Arab States,QAT,"Individuals using the Internet, total (%)",2020.0,99.652794,NaN,NaN
47753,Saudi Arabia,Arab States,SAU,"Individuals using the Internet, total (%)",2020.0,97.862332,NaN,NaN
47754,United Arab Emirates,Arab States,ARE,"Individuals using the Internet, total (%)",2020.0,100.000000,NaN,NaN
47755,Cambodia,Asia & Pacific,KHM,"Individuals using the Internet, total (%)",2020.0,78.800000,NaN,NaN
47756,China,Asia & Pacific,CHN,"Individuals using the Internet, total (%)",2020.0,70.642143,NaN,NaN
47757,"Hong Kong, China",Asia & Pacific,HKG,"Individuals using the Internet, total (%)",2020.0,92.413136,NaN,NaN
47758,Indonesia,Asia & Pacific,IDN,"Individuals using the Internet, total (%)",2020.0,53.726494,NaN,NaN

In [204]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Value'] 
df.rename(columns = {'Country':'Country Name'}, inplace=True)

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [205]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(150)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
47744,Mauritius,2020.0,Mobile cellular subscriptions (per 100 people),64.884904,3.298839,True
47745,Uganda,2020.0,Mobile cellular subscriptions (per 100 people),NaN,NaN,True
47746,Bahrain,2020.0,Mobile cellular subscriptions (per 100 people),99.539512,5.964578,True
47747,Egypt,2020.0,Mobile cellular subscriptions (per 100 people),71.914200,3.839554,True
47748,Iraq,2020.0,Mobile cellular subscriptions (per 100 people),NaN,NaN,True
...,...,...,...,...,...,...
47805,Bolivia (Plurinational State of),2020.0,Mobile cellular subscriptions (per 100 people),55.139051,2.549158,True
47806,Costa Rica,2020.0,Mobile cellular subscriptions (per 100 people),80.530186,4.502322,True
47807,Mexico,2020.0,Mobile cellular subscriptions (per 100 people),71.970000,3.843846,True
47808,Paraguay,2020.0,Mobile cellular subscriptions (per 100 people),74.515240,4.039634,True
47809,Peru,2020.0,Mobile cellular subscriptions (per 100 people),65.251799,3.327061,True

In [ ]:
### 23. Average fixed broadband download speeds

In [ ]:
indicators[22]

# load data
indicator = indicators[22]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Year'] = 2021
df['Indicator'] = indicator
df['data_col'] = df['broadband'] 
df.rename(columns = {'country':'Country'}, inplace=True)

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
df[['Country','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

In [ ]:
### 24. Postal Coverage

In [206]:
indicators[23]

# load data
indicator = indicators[23]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Postal Coverage
postal_coverage

In [ ]:
df.head(15)

In [ ]:
#Choose 'Percent of Population Having Mail Delivered at Home' as the data column
df = df[(df.Indicator=='Percent of Population Having Mail Delivered at Home')]
df.head(15)

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Year'] = 2015
df['Indicator'] = indicator
df['data_col'] = df['2015'] 

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

In [ ]:
### 25. Logistics Performance Index (LPI)

In [ ]:
indicators[24]

# load data
indicator = indicators[24]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Year'] = 2018
df['Indicator'] = indicator
df['data_col'] = df['score']
df.rename(columns={'Country':'Country Name'}, inplace=True)

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

In [ ]:
### 26. National cyber security index

In [ ]:
indicators[25]

# load data
indicator = indicators[25]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Year'] = 2021
df['Indicator'] = indicator
df['data_col'] = df['National Cyber Security Index']
df.rename(columns={'Country':'Country Name'}, inplace=True)

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

In [ ]:
### 27. Global Cybersecurity Index (GCI)

In [77]:
indicators[26]

# load data
indicator = indicators[26]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Global Cybersecurity Index (GCI)
dice_export_global_cybersecurity_index

In [78]:
df.head(15)

                       Country  Score (2020)  Rank (2020)
0   United States of America**        100.00          1.0
1               United Kingdom         99.54          2.0
2                 Saudi Arabia         99.54          2.0
3                      Estonia         99.48          3.0
4              Korea (Rep. of)         98.52          4.0
5                    Singapore         98.52          4.0
6                        Spain         98.52          4.0
7           Russian Federation         98.06          5.0
8         United Arab Emirates         98.06          5.0
9                     Malaysia         98.06          5.0
10                   Lithuania         97.93          6.0
11                       Japan         97.82          7.0
12                    Canada**         97.67          8.0
13                      France         97.60          9.0
14                       India         97.50         10.0

In [79]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Year'] = 2020
df['Indicator'] = indicator
df['data_col'] = df['Score (2020)'] 
df.rename(columns={'Country':'Country Name'}, inplace=True)

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

In [ ]:
### 28. Software Developer Ecosystem size

In [80]:
indicators[27]

# load data
indicator = indicators[27]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Software Developer Ecosystem size
software_developer_ecosystem_size

In [81]:
df.head(15)

           Country  GitHub Accounts
0    United States           651017
1            China           183805
2            India           168328
3   United Kingdom           109460
4          Germany            94359
5           Brazil            80903
6           Canada            77318
7           France            66367
8           Russia            58767
9        Australia            41790
10           Japan            39263
11           Spain            38020
12     Netherlands            35782
13         Ukraine            33032
14          Poland            30928

In [85]:
df['higher_is_better'] = True
df['Year'] = 2018
df['Indicator'] = indicator
df['data_col'] = df.iloc[:,[1]]
df.rename(columns={'Country':'Country Name'}, inplace=True)
    
min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [86]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
0,United States,2018,Software Developer Ecosystem size,651017,6.000000,True
1,China,2018,Software Developer Ecosystem size,183805,2.348274,True
2,India,2018,Software Developer Ecosystem size,168328,2.227306,True
3,United Kingdom,2018,Software Developer Ecosystem size,109460,1.767194,True
4,Germany,2018,Software Developer Ecosystem size,94359,1.649165,True
5,Brazil,2018,Software Developer Ecosystem size,80903,1.543993,True
6,Canada,2018,Software Developer Ecosystem size,77318,1.515973,True
7,France,2018,Software Developer Ecosystem size,66367,1.430380,True
8,Russia,2018,Software Developer Ecosystem size,58767,1.370978,True
9,Australia,2018,Software Developer Ecosystem size,41790,1.238286,True
10,Japan,2018,Software Developer Ecosystem size,39263,1.218535,True
11,Spain,2018,Software Developer Ecosystem size,38020,1.208820,True
12,Netherlands,2018,Software Developer Ecosystem size,35782,1.191328,True
13,Ukraine,2018,Software Developer Ecosystem size,33032,1.169834,True
14,Poland,2018,Software Developer Ecosystem size,30928,1.153389,True

In [ ]:
### 29. Digital Work Ecosystem size

In [ ]:
indicators[28]

# load data
indicator = indicators[28]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = False
df['Year'] = 2020
df['Indicator'] = indicator
df['data_col'] = df.iloc[:,[0]].astype(float)
df.rename(columns={'Country':'Country Name'}, inplace=True)
    
min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

# invert since to lower rank is better
df['new_rank_score'] = df['new_rank_score'].apply(lambda row: (6-row)+1)

In [ ]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)
# Two problems: 1. cannot use the name of the column, have to use iloc, 2. cannot use the index column
# because the number format is not standard, have to use the rank column

In [ ]:
### 30. Country, Industry, Skill Migration Data (Skill)

In [ ]:
indicators[29]

# load data
indicator = indicators[29]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
df['Country Name'] = df.iloc[:,[1]]

df_sum = df.groupby('Country Name')[['net_per_10K_2019']].sum()
df_sum

In [ ]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df_sum['higher_is_better'] = True
df_sum['Year'] = 2019
df_sum['Indicator'] = indicator
df_sum['data_col'] = df_sum['net_per_10K_2019']


min_rank = df_sum['data_col'].min()
max_rank = df_sum['data_col'].max()

# transform 0-1 rank into 1-6
df_sum['new_rank_score'] = df_sum['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
df_sum[['Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

In [ ]:
### 31. Country, Industry, Skill Migration Data (Industry)

In [ ]:
indicators[30]

# load data
indicator = indicators[30]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
df['Country Name'] = df.iloc[:,[1]]

df_sum = df.groupby('Country Name')[['net_per_10K_2019']].sum()
df_sum

In [ ]:
## create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df_sum['higher_is_better'] = True
df_sum['Year'] = 2019
df_sum['Indicator'] = indicator
df_sum['data_col'] = df_sum['net_per_10K_2019']


min_rank = df_sum['data_col'].min()
max_rank = df_sum['data_col'].max()

# transform 0-1 rank into 1-6
df_sum['new_rank_score'] = df_sum['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
df_sum[['Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

In [ ]:
### 32. Country, Industry, Skill Migration Data (Nation)

In [ ]:
indicators[31]

# load data
indicator = indicators[31]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
df['Country Name'] = df.iloc[:,[1]]

df_sum = df.groupby('Country Name')[['net_per_10K_2019']].sum()
df_sum

In [ ]:
## create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df_sum['higher_is_better'] = True
df_sum['Year'] = 2019
df_sum['Indicator'] = indicator
df_sum['data_col'] = df_sum['net_per_10K_2019']


min_rank = df_sum['data_col'].min()
max_rank = df_sum['data_col'].max()

# transform 0-1 rank into 1-6
df_sum['new_rank_score'] = df_sum['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
df_sum[['Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

In [ ]:
### 33. Digital Finance Ecosystem size

In [ ]:
indicators[32]

# load data
indicator = indicators[32]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Year'] = 2021
df['Indicator'] = indicator
df['data_col'] = df.iloc[:,[2]]
df['Country Name'] = df.iloc[:,[1]]

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

# Have to shorten the column names to see if this works

In [ ]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

In [ ]:
### 34. Tech hubs & spaces size

In [ ]:
indicators[33]

# load data
indicator = indicators[33]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

#There are two problems:
#1. The column names need some overhaul (moving the second column to the top and make it the column names)
#2. This is a list of cities, not countries, may present probkems later.

In [ ]:
### 35. Banking Ecosystem size

In [ ]:
indicators[34]

# load data
indicator = indicators[34]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Year'] = 2017
df['Indicator'] = indicator
df['data_col'] = df['Bank assets, percent of GDP, 2017']
df.rename(columns={'Country':'Country Name'}, inplace=True)

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

# Okay but will have to remove number from the Country column, leaving only characters.

In [ ]:
### 36. Angel Ecosystem size

In [ ]:
indicators[35]

# load data
indicator = indicators[35]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Year'] = 2019
df['Indicator'] = indicator
df['data_col'] = df['Business angel investments (in million Euros)']
df.rename(columns={'Country':'Country Name'}, inplace=True)

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

# Okay but there are only EU countries

In [ ]:
### 37. Startup Ecosystem size

In [ ]:
indicators[36]

# load data
indicator = indicators[36]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

# This is a list of cities, not countries, wonder if it will work

In [ ]:
### 38. Venture Ecosystem size

indicators[37]

# load data
indicator = indicators[37]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

# Similar to the previous one

In [ ]:
### 39. International Co-Inventions

In [ ]:
indicators[38]

# load data
indicator = indicators[38]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head(15)

In [ ]:
# filter most recent year and global value
df = df[(df.Time==2017)]
df = df[(df.Country!='World')]
df ['Country Name'] = df ['Country']
df

In [ ]:
# Create summarization
df_sum = df.groupby('Country Name')[['Value']].sum()
df_sum

In [ ]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df_sum['higher_is_better'] = True
df_sum['Year'] = 2017
df_sum['Indicator'] = indicator
df_sum['data_col'] = df_sum.iloc[:,[0]]

min_rank = df_sum['data_col'].min()
max_rank = df_sum['data_col'].max()

# transform 0-1 rank into 1-6
df_sum['new_rank_score'] = df_sum['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
df_sum[['Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

# Okay but the data is too general with many missing countries