In [1]:
import pandas as pd
import numpy as np

In [2]:
### Get all the pillar names from the excel

In [3]:
names = pd.read_excel('../../UNDP Digital Assessment Data Framework Filename Matching V7.xlsx')

In [4]:
col_names = ['Indicator','check', 'Data Source','Index','Filename']

In [5]:
names = names[col_names]

In [6]:
names.head()

,Indicator,check,Data Source,Index,Filename
0,Countries,NaN,United Nations,False,Countries
1,"Database of Global Administrative Areas (GADM,...",NaN,GADM maps and data,False,NaN
2,High Resolution Population Density Maps + Demo...,NaN,Facebook,False,NaN
3,population density vs openstreetmap object den...,NaN,Kontur,False,NaN
4,Population Density,Infrastructure,World Bank,False,population_density

In [7]:
# get all the files per pillar
data_stats = names.groupby('check').agg({'Filename':'count','Indicator':'count'})

In [8]:
data_stats

                Filename  Indicator
check
Business              20         25
Foundations            9         12
Government            11         15
Infrastructure        45         48
People                38         46
Regulation             6          7
Strategy               1          1

In [9]:
### Infrastructure

In [10]:
bnames = names[(names.check=='Infrastructure')&(~names.Filename.isna())]#&(names.Index==False)]
bnames.head(25)

,Indicator,check,Data Source,Index,Filename
4,Population Density,Infrastructure,World Bank,False,population_density
5,Broadband Density,Infrastructure,World Bank,False,fixed_broadband_density
6,% of population covered by internet connectivity,Infrastructure,World Bank,False,population_access_internet
7,% of population covered by mobile 2G+ data con...,Infrastructure,GSMA Mobile Connectivity Index,False,countries_mobile_connectivity
8,% of population covered by mobile 3G+ data con...,Infrastructure,GSMA Mobile Connectivity Index,False,countries_mobile_connectivity
9,% of population covered by mobile 4G+ data con...,Infrastructure,GSMA Mobile Connectivity Index,False,countries_mobile_connectivity
10,% of population covered by mobile 5G+ data con...,Infrastructure,GSMA Mobile Connectivity Index,False,countries_mobile_connectivity
11,Mobile Coverage Maps,Infrastructure,GSMA Mobile Connectivity Index,False,mobile_coverage
12,Electricity Density,Infrastructure,Energy Data,False,electricity_yearbook
13,% of population covered by electricity,Infrastructure,World Bank,False,population_electricity_coverage
14,Electricity supply quality,Infrastructure,International Energy Agency / Global Competiti...,False,elect_supply_quality
15,Electricity Environmental Sustainability,Infrastructure,The Sustainable Development Report/ Cambridge ...,False,sustainability_index
16,Electrical Distribution Grid Maps,Infrastructure,Facebook,False,elect_dist_grid_map
17,Cellphone Signal Density,Infrastructure,GSMA Mobile Connectivity Index,False,mobile_density
18,Telecommunication Infrastructure Index (TII),Infrastructure,DESA,True,e_government_index
19,GSMA Mobile Connectivity Index,Infrastructure,GSMA Mobile Connectivity Index,True,countries_mobile_connectivity
20,Spectrum Allocated to Mobile Providers,Infrastructure,GSMA Mobile Connectivity Index,False,spectrum_allocated_mobile_providers
23,Internet Exchange Points (IXPs) map,Infrastructure,Packet Clearing House,False,countries_ixp
24,ISP Speeds - Fixed,Infrastructure,Ookla's Speedtest Intelligence/AWS,False,speedtest-global-performance.yaml
25,ISP Speeds - Mobile,Infrastructure,Ookla's Speedtest Intelligence/AWS,False,speedtest-global-performance.yaml
26,ISP internet download speed average,Infrastructure,Ookla's Speedtest Intelligence,False,internet_speed
28,Mobile dowload speed at the slowest hour of th...,Infrastructure,GSMA Mobile Connectivity Index,False,mobile_latency
29,Mobile download speed average,Infrastructure,Ookla's Speedtest Intelligence,False,mobile_speed
30,Individuals using the Internet (% of population),Infrastructure,ITU,False,individual_internet_usage
31,Mobile cellular subscriptions (per 100 people),Infrastructure,World Bank,False,mobile_cell_sub

In [11]:
# get list of names for all indicators
indicators = bnames.Indicator.unique()

In [12]:
# get all file names
bfiles = bnames.Filename.unique()

In [13]:
bfiles

array(['population_density', 'fixed_broadband_density',
       'population_access_internet', 'countries_mobile_connectivity',
       'mobile_coverage', 'electricity_yearbook',
       'population_electricity_coverage', 'elect_supply_quality',
       'sustainability_index', 'elect_dist_grid_map', 'mobile_density',
       'e_government_index', 'spectrum_allocated_mobile_providers',
       'countries_ixp', 'speedtest-global-performance.yaml',
       'internet_speed', 'mobile_latency', 'mobile_speed',
       'individual_internet_usage', 'mobile_cell_sub',
       'fixed_bdbd_spd_dl_ul',
       'fixed_broadband_speed_download_upload_latency', 'postal_coverage',
       'World Bank The Logistics Performance Index 2007 to 2018.xlsx',
       'schools_w_internet', 'national_cybersecurity_index',
       'dice_export_global_cybersecurity_index',
       'software_developer_ecosystem_size',
       'digital_platform_economy_index', 'migration_skill',
       'migration_industry', 'migration_country',
       'global_fintech_ranking', 'tech_hubs', 'banking_sector_size',
       'angel_investment', 'startup_eco_size',
       'international_co_inventions'], dtype=object)

In [14]:
# formula for converting scale
def convert_rank(old_value, old_min=1, old_max=7, new_min=1, new_max=6 ):
    """ Convert old scale values scale into new scale values"""
    old_range = old_max - old_min
    new_range = new_max - new_min
    new_value = (((old_value-old_min)*new_range)/old_range)+new_min
    return new_value

In [15]:
### 2. Broadband Density

In [16]:
indicators[1]

# load data
indicator = indicators[1]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Broadband Density
fixed_broadband_density

FileNotFoundError: [Errno 2] No such file or directory: '../../processed/fixed_broadband_density.csv'

In [17]:
### 3. % of population covered by internet connectivity

In [18]:
indicators[2]

# load data
indicator = indicators[2]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population covered by internet connectivity
population_access_internet

FileNotFoundError: [Errno 2] No such file or directory: '../../processed/population_access_internet.csv'

In [19]:
### 4. % of population covered by mobile 2G

In [20]:
indicators[3]

'% of population covered by mobile 2G+ data connectivity'

In [21]:
# load data
indicator = indicators[3]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population covered by mobile 2G+ data connectivity
countries_mobile_connectivity

In [22]:
df.head(10)

,ISO Code,Country,Region,Year,Cluster,Index,Infrastructure,Affordability,Consumer Readiness,Content and Services,...,Gender gap in mobile ownership,TLDs per capita,E-Government Score,Mobile Social Media Penetration,Apps developed per person,Number of apps in national language,Accessibility of top ranked apps,Cybersecurity Index,data_country,data_year
0,AFG,Afghanistan,South Asia,2014,Discoverer,22.12,21.74,31.79,24.40,14.19,...,0.00,39.55,18.11,3.28,20.98,2.44,4.37,26.50,NaN,NaN
1,AFG,Afghanistan,South Asia,2015,Discoverer,22.99,22.82,30.81,25.28,15.71,...,0.00,39.57,24.27,4.36,22.93,2.79,8.03,25.83,NaN,NaN
2,AFG,Afghanistan,South Asia,2016,Discoverer,23.71,26.92,26.75,26.07,16.83,...,0.00,39.58,30.43,6.73,30.31,2.85,5.90,25.17,NaN,NaN
3,AFG,Afghanistan,South Asia,2017,Discoverer,25.82,33.54,27.22,28.56,17.04,...,0.00,39.47,30.50,7.78,31.62,2.91,6.15,24.50,NaN,NaN
4,AFG,Afghanistan,South Asia,2018,Discoverer,28.39,30.91,42.64,29.24,16.87,...,0.00,39.39,30.56,8.54,36.54,2.96,8.66,17.70,NaN,NaN
5,AFG,Afghanistan,South Asia,2019,Discoverer,28.94,32.34,41.53,29.72,17.58,...,0.00,39.41,41.18,9.39,39.36,3.00,5.72,17.70,NaN,NaN
6,AGO,Angola,Sub-Saharan Africa,2014,Discoverer,32.78,25.99,35.99,44.33,27.85,...,51.65,0.00,29.92,3.99,22.74,53.33,49.09,8.80,NaN,NaN
7,AGO,Angola,Sub-Saharan Africa,2015,Emerging,37.18,33.09,42.01,45.41,30.27,...,57.00,0.31,32.35,5.26,22.12,55.08,58.33,8.47,NaN,NaN
8,AGO,Angola,Sub-Saharan Africa,2016,Emerging,39.85,37.80,44.74,46.47,32.11,...,63.73,0.00,34.78,6.27,27.46,56.52,61.73,8.13,NaN,NaN
9,AGO,Angola,Sub-Saharan Africa,2017,Emerging,42.89,48.60,47.94,46.32,31.36,...,53.97,0.00,37.88,4.26,31.94,57.06,55.09,7.80,NaN,NaN

In [23]:
# filter most recent year
df = df[(df.Year==2019)]

In [24]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['2G Coverage'] 

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [25]:
df[['Country','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country,Year,Indicator,data_col,new_rank_score,higher_is_better
5,Afghanistan,2019,% of population covered by mobile 2G+ data con...,90.00,4.921251,True
11,Angola,2019,% of population covered by mobile 2G+ data con...,90.00,4.921251,True
17,Albania,2019,% of population covered by mobile 2G+ data con...,99.86,5.984898,True
23,United Arab Emirates,2019,% of population covered by mobile 2G+ data con...,100.00,6.000000,True
29,Argentina,2019,% of population covered by mobile 2G+ data con...,98.00,5.784250,True
35,Armenia,2019,% of population covered by mobile 2G+ data con...,100.00,6.000000,True
41,Australia,2019,% of population covered by mobile 2G+ data con...,99.40,5.935275,True
47,Austria,2019,% of population covered by mobile 2G+ data con...,99.00,5.892125,True
53,Azerbaijan,2019,% of population covered by mobile 2G+ data con...,100.00,6.000000,True
59,Burundi,2019,% of population covered by mobile 2G+ data con...,53.65,1.000000,True
65,Belgium,2019,% of population covered by mobile 2G+ data con...,100.00,6.000000,True
71,Benin,2019,% of population covered by mobile 2G+ data con...,98.00,5.784250,True
77,Burkina Faso,2019,% of population covered by mobile 2G+ data con...,97.90,5.773463,True
83,Bangladesh,2019,% of population covered by mobile 2G+ data con...,99.60,5.956850,True
89,Bulgaria,2019,% of population covered by mobile 2G+ data con...,100.00,6.000000,True

In [26]:
### 5. % of population covered by mobile 3G

In [27]:
indicators[4]

# load data
indicator = indicators[4]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population covered by mobile 3G+ data connectivity
countries_mobile_connectivity

In [28]:
df.head(10)

,ISO Code,Country,Region,Year,Cluster,Index,Infrastructure,Affordability,Consumer Readiness,Content and Services,...,Gender gap in mobile ownership,TLDs per capita,E-Government Score,Mobile Social Media Penetration,Apps developed per person,Number of apps in national language,Accessibility of top ranked apps,Cybersecurity Index,data_country,data_year
0,AFG,Afghanistan,South Asia,2014,Discoverer,22.12,21.74,31.79,24.40,14.19,...,0.00,39.55,18.11,3.28,20.98,2.44,4.37,26.50,NaN,NaN
1,AFG,Afghanistan,South Asia,2015,Discoverer,22.99,22.82,30.81,25.28,15.71,...,0.00,39.57,24.27,4.36,22.93,2.79,8.03,25.83,NaN,NaN
2,AFG,Afghanistan,South Asia,2016,Discoverer,23.71,26.92,26.75,26.07,16.83,...,0.00,39.58,30.43,6.73,30.31,2.85,5.90,25.17,NaN,NaN
3,AFG,Afghanistan,South Asia,2017,Discoverer,25.82,33.54,27.22,28.56,17.04,...,0.00,39.47,30.50,7.78,31.62,2.91,6.15,24.50,NaN,NaN
4,AFG,Afghanistan,South Asia,2018,Discoverer,28.39,30.91,42.64,29.24,16.87,...,0.00,39.39,30.56,8.54,36.54,2.96,8.66,17.70,NaN,NaN
5,AFG,Afghanistan,South Asia,2019,Discoverer,28.94,32.34,41.53,29.72,17.58,...,0.00,39.41,41.18,9.39,39.36,3.00,5.72,17.70,NaN,NaN
6,AGO,Angola,Sub-Saharan Africa,2014,Discoverer,32.78,25.99,35.99,44.33,27.85,...,51.65,0.00,29.92,3.99,22.74,53.33,49.09,8.80,NaN,NaN
7,AGO,Angola,Sub-Saharan Africa,2015,Emerging,37.18,33.09,42.01,45.41,30.27,...,57.00,0.31,32.35,5.26,22.12,55.08,58.33,8.47,NaN,NaN
8,AGO,Angola,Sub-Saharan Africa,2016,Emerging,39.85,37.80,44.74,46.47,32.11,...,63.73,0.00,34.78,6.27,27.46,56.52,61.73,8.13,NaN,NaN
9,AGO,Angola,Sub-Saharan Africa,2017,Emerging,42.89,48.60,47.94,46.32,31.36,...,53.97,0.00,37.88,4.26,31.94,57.06,55.09,7.80,NaN,NaN

In [29]:
# filter most recent year
df = df[(df.Year==2019)]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['3G Coverage'] 

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [30]:
df[['Country','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country,Year,Indicator,data_col,new_rank_score,higher_is_better
5,Afghanistan,2019,% of population covered by mobile 3G+ data con...,58.7,3.282895,True
11,Angola,2019,% of population covered by mobile 3G+ data con...,71.0,4.092105,True
17,Albania,2019,% of population covered by mobile 3G+ data con...,97.0,5.802632,True
23,United Arab Emirates,2019,% of population covered by mobile 3G+ data con...,100.0,6.000000,True
29,Argentina,2019,% of population covered by mobile 3G+ data con...,95.0,5.671053,True
35,Armenia,2019,% of population covered by mobile 3G+ data con...,99.0,5.934211,True
41,Australia,2019,% of population covered by mobile 3G+ data con...,99.5,5.967105,True
47,Austria,2019,% of population covered by mobile 3G+ data con...,99.0,5.934211,True
53,Azerbaijan,2019,% of population covered by mobile 3G+ data con...,95.0,5.671053,True
59,Burundi,2019,% of population covered by mobile 3G+ data con...,40.0,2.052632,True
65,Belgium,2019,% of population covered by mobile 3G+ data con...,100.0,6.000000,True
71,Benin,2019,% of population covered by mobile 3G+ data con...,89.0,5.276316,True
77,Burkina Faso,2019,% of population covered by mobile 3G+ data con...,65.0,3.697368,True
83,Bangladesh,2019,% of population covered by mobile 3G+ data con...,95.0,5.671053,True
89,Bulgaria,2019,% of population covered by mobile 3G+ data con...,100.0,6.000000,True

In [31]:
### 6. % of population covered by mobile 4G

In [32]:
indicators[5]

# load data
indicator = indicators[5]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population covered by mobile 4G+ data connectivity
countries_mobile_connectivity

In [33]:
df.head(10)

,ISO Code,Country,Region,Year,Cluster,Index,Infrastructure,Affordability,Consumer Readiness,Content and Services,...,Gender gap in mobile ownership,TLDs per capita,E-Government Score,Mobile Social Media Penetration,Apps developed per person,Number of apps in national language,Accessibility of top ranked apps,Cybersecurity Index,data_country,data_year
0,AFG,Afghanistan,South Asia,2014,Discoverer,22.12,21.74,31.79,24.40,14.19,...,0.00,39.55,18.11,3.28,20.98,2.44,4.37,26.50,NaN,NaN
1,AFG,Afghanistan,South Asia,2015,Discoverer,22.99,22.82,30.81,25.28,15.71,...,0.00,39.57,24.27,4.36,22.93,2.79,8.03,25.83,NaN,NaN
2,AFG,Afghanistan,South Asia,2016,Discoverer,23.71,26.92,26.75,26.07,16.83,...,0.00,39.58,30.43,6.73,30.31,2.85,5.90,25.17,NaN,NaN
3,AFG,Afghanistan,South Asia,2017,Discoverer,25.82,33.54,27.22,28.56,17.04,...,0.00,39.47,30.50,7.78,31.62,2.91,6.15,24.50,NaN,NaN
4,AFG,Afghanistan,South Asia,2018,Discoverer,28.39,30.91,42.64,29.24,16.87,...,0.00,39.39,30.56,8.54,36.54,2.96,8.66,17.70,NaN,NaN
5,AFG,Afghanistan,South Asia,2019,Discoverer,28.94,32.34,41.53,29.72,17.58,...,0.00,39.41,41.18,9.39,39.36,3.00,5.72,17.70,NaN,NaN
6,AGO,Angola,Sub-Saharan Africa,2014,Discoverer,32.78,25.99,35.99,44.33,27.85,...,51.65,0.00,29.92,3.99,22.74,53.33,49.09,8.80,NaN,NaN
7,AGO,Angola,Sub-Saharan Africa,2015,Emerging,37.18,33.09,42.01,45.41,30.27,...,57.00,0.31,32.35,5.26,22.12,55.08,58.33,8.47,NaN,NaN
8,AGO,Angola,Sub-Saharan Africa,2016,Emerging,39.85,37.80,44.74,46.47,32.11,...,63.73,0.00,34.78,6.27,27.46,56.52,61.73,8.13,NaN,NaN
9,AGO,Angola,Sub-Saharan Africa,2017,Emerging,42.89,48.60,47.94,46.32,31.36,...,53.97,0.00,37.88,4.26,31.94,57.06,55.09,7.80,NaN,NaN

In [34]:
# filter most recent year
df = df[(df.Year==2019)]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['4G Coverage'] 

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [35]:
df[['Country','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country,Year,Indicator,data_col,new_rank_score,higher_is_better
5,Afghanistan,2019,% of population covered by mobile 4G+ data con...,15.00,1.7500,True
11,Angola,2019,% of population covered by mobile 4G+ data con...,50.00,3.5000,True
17,Albania,2019,% of population covered by mobile 4G+ data con...,96.00,5.8000,True
23,United Arab Emirates,2019,% of population covered by mobile 4G+ data con...,99.00,5.9500,True
29,Argentina,2019,% of population covered by mobile 4G+ data con...,89.77,5.4885,True
35,Armenia,2019,% of population covered by mobile 4G+ data con...,95.00,5.7500,True
41,Australia,2019,% of population covered by mobile 4G+ data con...,99.20,5.9600,True
47,Austria,2019,% of population covered by mobile 4G+ data con...,99.00,5.9500,True
53,Azerbaijan,2019,% of population covered by mobile 4G+ data con...,90.00,5.5000,True
59,Burundi,2019,% of population covered by mobile 4G+ data con...,25.00,2.2500,True
65,Belgium,2019,% of population covered by mobile 4G+ data con...,100.00,6.0000,True
71,Benin,2019,% of population covered by mobile 4G+ data con...,45.00,3.2500,True
77,Burkina Faso,2019,% of population covered by mobile 4G+ data con...,8.64,1.4320,True
83,Bangladesh,2019,% of population covered by mobile 4G+ data con...,80.00,5.0000,True
89,Bulgaria,2019,% of population covered by mobile 4G+ data con...,100.00,6.0000,True

In [36]:
### 7. % of population covered by mobile 5G

In [37]:
indicators[6]

# load data
indicator = indicators[6]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population covered by mobile 5G+ data connectivity
countries_mobile_connectivity

In [38]:
df.head(10)

,ISO Code,Country,Region,Year,Cluster,Index,Infrastructure,Affordability,Consumer Readiness,Content and Services,...,Gender gap in mobile ownership,TLDs per capita,E-Government Score,Mobile Social Media Penetration,Apps developed per person,Number of apps in national language,Accessibility of top ranked apps,Cybersecurity Index,data_country,data_year
0,AFG,Afghanistan,South Asia,2014,Discoverer,22.12,21.74,31.79,24.40,14.19,...,0.00,39.55,18.11,3.28,20.98,2.44,4.37,26.50,NaN,NaN
1,AFG,Afghanistan,South Asia,2015,Discoverer,22.99,22.82,30.81,25.28,15.71,...,0.00,39.57,24.27,4.36,22.93,2.79,8.03,25.83,NaN,NaN
2,AFG,Afghanistan,South Asia,2016,Discoverer,23.71,26.92,26.75,26.07,16.83,...,0.00,39.58,30.43,6.73,30.31,2.85,5.90,25.17,NaN,NaN
3,AFG,Afghanistan,South Asia,2017,Discoverer,25.82,33.54,27.22,28.56,17.04,...,0.00,39.47,30.50,7.78,31.62,2.91,6.15,24.50,NaN,NaN
4,AFG,Afghanistan,South Asia,2018,Discoverer,28.39,30.91,42.64,29.24,16.87,...,0.00,39.39,30.56,8.54,36.54,2.96,8.66,17.70,NaN,NaN
5,AFG,Afghanistan,South Asia,2019,Discoverer,28.94,32.34,41.53,29.72,17.58,...,0.00,39.41,41.18,9.39,39.36,3.00,5.72,17.70,NaN,NaN
6,AGO,Angola,Sub-Saharan Africa,2014,Discoverer,32.78,25.99,35.99,44.33,27.85,...,51.65,0.00,29.92,3.99,22.74,53.33,49.09,8.80,NaN,NaN
7,AGO,Angola,Sub-Saharan Africa,2015,Emerging,37.18,33.09,42.01,45.41,30.27,...,57.00,0.31,32.35,5.26,22.12,55.08,58.33,8.47,NaN,NaN
8,AGO,Angola,Sub-Saharan Africa,2016,Emerging,39.85,37.80,44.74,46.47,32.11,...,63.73,0.00,34.78,6.27,27.46,56.52,61.73,8.13,NaN,NaN
9,AGO,Angola,Sub-Saharan Africa,2017,Emerging,42.89,48.60,47.94,46.32,31.36,...,53.97,0.00,37.88,4.26,31.94,57.06,55.09,7.80,NaN,NaN

In [39]:
# filter most recent year
df = df[(df.Year==2019)]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['5G Coverage'] 

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [40]:
df[['Country','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country,Year,Indicator,data_col,new_rank_score,higher_is_better
5,Afghanistan,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True
11,Angola,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True
17,Albania,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True
23,United Arab Emirates,2019,% of population covered by mobile 5G+ data con...,100.0,6.0,True
29,Argentina,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True
35,Armenia,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True
41,Australia,2019,% of population covered by mobile 5G+ data con...,100.0,6.0,True
47,Austria,2019,% of population covered by mobile 5G+ data con...,100.0,6.0,True
53,Azerbaijan,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True
59,Burundi,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True
65,Belgium,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True
71,Benin,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True
77,Burkina Faso,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True
83,Bangladesh,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True
89,Bulgaria,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True

In [41]:
### 8. Mobile Coverage Maps

In [130]:
indicators[7]

# load data
indicator = indicators[7]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Mobile Coverage Maps
mobile_coverage

FileNotFoundError: [Errno 2] No such file or directory: '../../processed/mobile_coverage.csv'

In [43]:
### 9. Electricity Density

In [127]:
indicators[8]

# load data
indicator = indicators[8]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Electricity Density
electricity_yearbook

In [129]:
df.head(10)

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2013,2014,2015,2016,2017,Unnamed: 28,2016 - 2017 (%),2000 - 2017 (%/year),data_country,data_year
0,11894.0,12173.0,12284.0,12574.0,12881.0,13327.0,13754.0,14045.0,14414.0,14823.0,...,23424.0,23910.0,24317.0,24918.0,25592.0,World,2.7,3.0,World,World
1,7712.0,7900.0,7975.0,8160.0,8389.0,8646.0,8889.0,9014.0,9244.0,9451.0,...,10902.0,10875.0,10914.0,10967.0,11069.0,OECD,0.9,0.7,OECD,OECD
2,6089.0,6236.0,6277.0,6414.0,6578.0,6760.0,6944.0,6985.0,7142.0,7272.0,...,7897.0,7876.0,7867.0,7848.0,7898.0,G7,0.6,0.3,G7,G7
3,2386.0,2468.0,2510.0,2583.0,2637.0,2754.0,2863.0,2961.0,3026.0,3170.0,...,8524.0,8880.0,9142.0,9550.0,10000.0,BRICS,4.7,6.6,BRICS,BRICS
4,2900.0,2937.0,2926.0,2931.0,2976.0,3071.0,3164.0,3199.0,3280.0,3327.0,...,3813.0,3744.0,3802.0,3839.0,3886.0,Europe,1.2,0.7,Europe,Europe
5,2595.0,2640.0,2624.0,2626.0,2667.0,2744.0,2846.0,2857.0,2923.0,2955.0,...,3269.0,3191.0,3234.0,3253.0,3275.0,European Union,0.7,0.4,European Union,European Union
6,71.0,72.0,72.0,71.0,72.0,74.0,76.0,79.0,83.0,85.0,...,83.0,73.0,71.0,86.0,87.0,Belgium,0.5,0.2,Belgium,Belgium
7,63.0,61.0,59.0,59.0,59.0,61.0,64.0,65.0,65.0,65.0,...,87.0,86.0,84.0,83.0,87.0,Czech Rep.,4.5,1.0,Czech Rep.,Czech Rep.
8,421.0,456.0,464.0,473.0,477.0,494.0,513.0,505.0,511.0,526.0,...,572.0,564.0,568.0,553.0,551.0,France,-0.4,0.1,France,France
9,550.0,540.0,537.0,526.0,529.0,537.0,555.0,552.0,556.0,556.0,...,639.0,628.0,647.0,648.0,653.0,Germany,0.6,0.7,Germany,Germany

In [132]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['2017'] 
df['Country'] = df['Unnamed: 28']
df['Year'] = 2017

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [133]:
df[['Country','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country,Year,Indicator,data_col,new_rank_score,higher_is_better
0,World,2017,Mobile Coverage Maps,25592.0,6.000000,True
1,OECD,2017,Mobile Coverage Maps,11069.0,3.159482,True
2,G7,2017,Mobile Coverage Maps,7898.0,2.539274,True
3,BRICS,2017,Mobile Coverage Maps,10000.0,2.950399,True
4,Europe,2017,Mobile Coverage Maps,3886.0,1.754577,True
5,European Union,2017,Mobile Coverage Maps,3275.0,1.635073,True
6,Belgium,2017,Mobile Coverage Maps,87.0,1.011540,True
7,Czech Rep.,2017,Mobile Coverage Maps,87.0,1.011540,True
8,France,2017,Mobile Coverage Maps,551.0,1.102292,True
9,Germany,2017,Mobile Coverage Maps,653.0,1.122242,True
10,Italy,2017,Mobile Coverage Maps,295.0,1.052222,True
11,Netherlands,2017,Mobile Coverage Maps,117.0,1.017407,True
12,Poland,2017,Mobile Coverage Maps,171.0,1.027969,True
13,Portugal,2017,Mobile Coverage Maps,60.0,1.006259,True
14,Romania,2017,Mobile Coverage Maps,64.0,1.007041,True

In [46]:
### 10. % of population covered by electricity

In [47]:
indicators[9]

# load data
indicator = indicators[9]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population covered by electricity
population_electricity_coverage

FileNotFoundError: [Errno 2] No such file or directory: '../../processed/population_electricity_coverage.csv'

In [48]:
### 11. % of population covered by electricity

In [49]:
indicators[10]

# load data
indicator = indicators[10]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Electricity supply quality
elect_supply_quality

In [50]:
df.head(10)

,Unnamed: 0,AGO,ALB,ARE,ARG,ARM,AUS,AUT,AZE,BDI,...,GCREURASIA,GCREAP,GCRSASIA,LIC,LMC,UMC,HIC,AVG,data_country,data_year
0,Attribute,Angola,Albania,United Arab Emirates,Argentina,Armenia,Australia,Austria,Azerbaijan,Burundi,...,Eurasia,East Asia and Pacific,South Asia,Low-income,Lower-middle-income,Upper-middle-income,High-income,Sample average,Attribute,Attribute
1,VALUE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VALUE,VALUE
2,RANK,136,81,25,83,69,16,21,58,135,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,RANK,RANK
3,SCORE,38.11248593,57.61416881,75.00738794,57.20132859,61.27687643,78.74662637,76.60913087,62.71789348,40.25234131,...,59.37969533,69.86862667,54.70460508,43.7445505,51.94942309,59.7912297,72.78080961,60.6396938,SCORE,SCORE
4,DATE DESCRIPTION,2019 edition,2019 edition,2019 edition,2019 edition,2019 edition,2019 edition,2019 edition,2019 edition,2019 edition,...,2019 edition,2019 edition,2019 edition,2019 edition,2019 edition,2019 edition,2019 edition,2019 edition,DATE DESCRIPTION,DATE DESCRIPTION
5,SOURCE,"World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...",...,"World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...",SOURCE,SOURCE
6,SOURCE DATE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SOURCE DATE,SOURCE DATE
7,NOTE,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,NOTE,NOTE
8,VALUE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VALUE,VALUE
9,RANK,136,88,3,109,62,22,20,64,134,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,RANK,RANK

In [51]:
# The data needs to be transposed as countries are now in columns, not rows, which could present problems for later.

In [52]:
### 12. Electricity Environmental Sustainability

In [126]:
indicators[11]

# load data
indicator = indicators[11]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Electricity Environmental Sustainability
sustainability_index

FileNotFoundError: [Errno 2] No such file or directory: '../../processed/sustainability_index.csv'

In [54]:
### 13. Electrical Distribution Grid Maps

In [124]:
indicators[12]

# load data
indicator = indicators[12]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Electrical Distribution Grid Maps
elect_dist_grid_map

In [125]:
df.head(10)
#No country names in the data file

        lat       lon  Electrical Distribution Grid
0  6.550017 -8.475952                             1
1  6.604587 -8.475952                             1
2  6.539103 -8.475952                             1
3  6.593674 -8.475952                             1
4  6.560932 -8.442993                             1
5  6.593674 -8.442993                             1
6  6.550017 -8.442993                             1
7  6.550017 -8.453979                             1
8  6.604587 -8.453979                             1
9  6.593674 -8.453979                             1

In [57]:
### 14. Cellphone Signal Density

In [58]:
indicators[13]

# load data
indicator = indicators[13]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Cellphone Signal Density
mobile_density

In [59]:
df.head(10)

,Unnamed: 0,ISO Code,Country,Region,Year,Network coverage
0,1,AFG,Afghanistan,South Asia,2014,28.919998
1,2,AFG,Afghanistan,South Asia,2015,31.799999
2,3,AFG,Afghanistan,South Asia,2016,33.040001
3,4,AFG,Afghanistan,South Asia,2017,36.340000
4,5,AFG,Afghanistan,South Asia,2018,30.931999
5,6,AFG,Afghanistan,South Asia,2019,38.480000
6,7,AGO,Angola,Sub-Saharan Africa,2014,51.445770
7,8,AGO,Angola,Sub-Saharan Africa,2015,53.906952
8,9,AGO,Angola,Sub-Saharan Africa,2016,61.174950
9,10,AGO,Angola,Sub-Saharan Africa,2017,60.800003

In [60]:
# filter most recent year
df = df[(df.Year==2019)]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Network coverage'] 

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [61]:
df[['Country','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country,Year,Indicator,data_col,new_rank_score,higher_is_better
5,Afghanistan,2019,Cellphone Signal Density,38.480000,2.117926,True
11,Angola,2019,Cellphone Signal Density,57.400002,3.311828,True
17,Albania,2019,Cellphone Signal Density,87.186005,5.191403,True
23,United Arab Emirates,2019,Cellphone Signal Density,99.599998,5.974759,True
29,Argentina,2019,Cellphone Signal Density,83.708000,4.971932,True
35,Armenia,2019,Cellphone Signal Density,87.599998,5.217527,True
41,Australia,2019,Cellphone Signal Density,99.419998,5.963400,True
47,Austria,2019,Cellphone Signal Density,99.099998,5.943208,True
53,Azerbaijan,2019,Cellphone Signal Density,84.000000,4.990358,True
59,Burundi,2019,Cellphone Signal Density,31.365000,1.668951,True
65,Belgium,2019,Cellphone Signal Density,90.000000,5.368974,True
71,Benin,2019,Cellphone Signal Density,63.399998,3.690444,True
77,Burkina Faso,2019,Cellphone Signal Density,39.245998,2.166263,True
83,Bangladesh,2019,Cellphone Signal Density,79.959999,4.735423,True
89,Bulgaria,2019,Cellphone Signal Density,90.000000,5.368974,True

In [62]:
### 15. Telecommunication Infrastructure Index (TII)

In [63]:
indicators[14]

# load data
indicator = indicators[14]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Telecommunication Infrastructure Index (TII)
e_government_index

In [64]:
df.head(10)

,Survey Year,Country Name,E-Government Rank,E-Government Index,E-Participation Index,Online Service Index,Human Capital Index,Telecommunication Infrastructure Index
0,2020,Iraq,143,0.4360,0.3095,0.3353,0.4358,0.5370
1,2020,Ireland,27,0.8433,0.8571,0.7706,0.9494,0.8100
2,2020,Israel,30,0.8361,0.7143,0.7471,0.8924,0.8689
3,2020,Italy,37,0.8231,0.8214,0.8294,0.8466,0.7932
4,2020,Jamaica,114,0.5392,0.3690,0.3882,0.7142,0.5151
5,2020,Japan,14,0.8989,0.9881,0.9059,0.8684,0.9223
6,2020,Jordan,117,0.5309,0.3333,0.3588,0.6800,0.5540
7,2020,Kazakhstan,29,0.8375,0.8810,0.9235,0.8866,0.7024
8,2020,Kenya,116,0.5326,0.5952,0.6765,0.5812,0.3402
9,2020,Kiribati,145,0.4320,0.5595,0.4941,0.6778,0.1241

In [65]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Telecommunication Infrastructure Index'] 
df['Year'] = df['Survey Year']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

df.rename(columns={'Country Name':'Country'}, inplace=True)

In [66]:
df[['Country','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country,Year,Indicator,data_col,new_rank_score,higher_is_better
0,Iraq,2020,Telecommunication Infrastructure Index (TII),0.5370,3.6850,True
1,Ireland,2020,Telecommunication Infrastructure Index (TII),0.8100,5.0500,True
2,Israel,2020,Telecommunication Infrastructure Index (TII),0.8689,5.3445,True
3,Italy,2020,Telecommunication Infrastructure Index (TII),0.7932,4.9660,True
4,Jamaica,2020,Telecommunication Infrastructure Index (TII),0.5151,3.5755,True
5,Japan,2020,Telecommunication Infrastructure Index (TII),0.9223,5.6115,True
6,Jordan,2020,Telecommunication Infrastructure Index (TII),0.5540,3.7700,True
7,Kazakhstan,2020,Telecommunication Infrastructure Index (TII),0.7024,4.5120,True
8,Kenya,2020,Telecommunication Infrastructure Index (TII),0.3402,2.7010,True
9,Kiribati,2020,Telecommunication Infrastructure Index (TII),0.1241,1.6205,True
10,Kuwait,2020,Telecommunication Infrastructure Index (TII),0.7858,4.9290,True
11,Kyrgyzstan,2020,Telecommunication Infrastructure Index (TII),0.5902,3.9510,True
12,Lao People's Democratic Republic,2020,Telecommunication Infrastructure Index (TII),0.2383,2.1915,True
13,Latvia,2020,Telecommunication Infrastructure Index (TII),0.8399,5.1995,True
14,Lebanon,2020,Telecommunication Infrastructure Index (TII),0.4123,3.0615,True

In [67]:
### 16. GSMA Mobile Connectivity Index

In [68]:
indicators[15]

# load data
indicator = indicators[15]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

GSMA Mobile Connectivity Index
countries_mobile_connectivity

In [69]:
df.head(10)

,ISO Code,Country,Region,Year,Cluster,Index,Infrastructure,Affordability,Consumer Readiness,Content and Services,...,Gender gap in mobile ownership,TLDs per capita,E-Government Score,Mobile Social Media Penetration,Apps developed per person,Number of apps in national language,Accessibility of top ranked apps,Cybersecurity Index,data_country,data_year
0,AFG,Afghanistan,South Asia,2014,Discoverer,22.12,21.74,31.79,24.40,14.19,...,0.00,39.55,18.11,3.28,20.98,2.44,4.37,26.50,NaN,NaN
1,AFG,Afghanistan,South Asia,2015,Discoverer,22.99,22.82,30.81,25.28,15.71,...,0.00,39.57,24.27,4.36,22.93,2.79,8.03,25.83,NaN,NaN
2,AFG,Afghanistan,South Asia,2016,Discoverer,23.71,26.92,26.75,26.07,16.83,...,0.00,39.58,30.43,6.73,30.31,2.85,5.90,25.17,NaN,NaN
3,AFG,Afghanistan,South Asia,2017,Discoverer,25.82,33.54,27.22,28.56,17.04,...,0.00,39.47,30.50,7.78,31.62,2.91,6.15,24.50,NaN,NaN
4,AFG,Afghanistan,South Asia,2018,Discoverer,28.39,30.91,42.64,29.24,16.87,...,0.00,39.39,30.56,8.54,36.54,2.96,8.66,17.70,NaN,NaN
5,AFG,Afghanistan,South Asia,2019,Discoverer,28.94,32.34,41.53,29.72,17.58,...,0.00,39.41,41.18,9.39,39.36,3.00,5.72,17.70,NaN,NaN
6,AGO,Angola,Sub-Saharan Africa,2014,Discoverer,32.78,25.99,35.99,44.33,27.85,...,51.65,0.00,29.92,3.99,22.74,53.33,49.09,8.80,NaN,NaN
7,AGO,Angola,Sub-Saharan Africa,2015,Emerging,37.18,33.09,42.01,45.41,30.27,...,57.00,0.31,32.35,5.26,22.12,55.08,58.33,8.47,NaN,NaN
8,AGO,Angola,Sub-Saharan Africa,2016,Emerging,39.85,37.80,44.74,46.47,32.11,...,63.73,0.00,34.78,6.27,27.46,56.52,61.73,8.13,NaN,NaN
9,AGO,Angola,Sub-Saharan Africa,2017,Emerging,42.89,48.60,47.94,46.32,31.36,...,53.97,0.00,37.88,4.26,31.94,57.06,55.09,7.80,NaN,NaN

In [70]:
# filter most recent year
df = df[(df.Year==2019)]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Index'] 

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [71]:
df[['Country','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country,Year,Indicator,data_col,new_rank_score,higher_is_better
5,Afghanistan,2019,GSMA Mobile Connectivity Index,28.94,2.041533,True
11,Angola,2019,GSMA Mobile Connectivity Index,43.53,2.979555,True
17,Albania,2019,GSMA Mobile Connectivity Index,67.89,4.545712,True
23,United Arab Emirates,2019,GSMA Mobile Connectivity Index,78.23,5.210492,True
29,Argentina,2019,GSMA Mobile Connectivity Index,67.16,4.498778,True
35,Armenia,2019,GSMA Mobile Connectivity Index,56.24,3.796708,True
41,Australia,2019,GSMA Mobile Connectivity Index,90.51,6.000000,True
47,Austria,2019,GSMA Mobile Connectivity Index,84.21,5.594959,True
53,Azerbaijan,2019,GSMA Mobile Connectivity Index,58.28,3.927864,True
59,Burundi,2019,GSMA Mobile Connectivity Index,26.16,1.862801,True
65,Belgium,2019,GSMA Mobile Connectivity Index,82.56,5.488877,True
71,Benin,2019,GSMA Mobile Connectivity Index,39.07,2.692812,True
77,Burkina Faso,2019,GSMA Mobile Connectivity Index,32.44,2.266555,True
83,Bangladesh,2019,GSMA Mobile Connectivity Index,46.47,3.168574,True
89,Bulgaria,2019,GSMA Mobile Connectivity Index,70.37,4.705156,True

In [72]:
### 17. Spectrum Allocated to Mobile Providers

In [73]:
indicators[16]

# load data
indicator = indicators[16]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Spectrum Allocated to Mobile Providers
spectrum_allocated_mobile_providers

In [74]:
df.head(15)

,ISO Code,Country,Region,Year,Cluster,Index,Infrastructure,Affordability,Consumer Readiness,Content and Services,...,Gender gap in mobile ownership,TLDs per capita,E-Government Score,Mobile Social Media Penetration,Apps developed per person,Number of apps in national language,Accessibility of top ranked apps,Cybersecurity Index,data_country,data_year
0,AFG,Afghanistan,South Asia,2014,Discoverer,22.12,21.74,31.79,24.40,14.19,...,0.00,39.55,18.11,3.28,20.98,2.44,4.37,26.50,NaN,NaN
1,AFG,Afghanistan,South Asia,2015,Discoverer,22.99,22.82,30.81,25.28,15.71,...,0.00,39.57,24.27,4.36,22.93,2.79,8.03,25.83,NaN,NaN
2,AFG,Afghanistan,South Asia,2016,Discoverer,23.71,26.92,26.75,26.07,16.83,...,0.00,39.58,30.43,6.73,30.31,2.85,5.90,25.17,NaN,NaN
3,AFG,Afghanistan,South Asia,2017,Discoverer,25.82,33.54,27.22,28.56,17.04,...,0.00,39.47,30.50,7.78,31.62,2.91,6.15,24.50,NaN,NaN
4,AFG,Afghanistan,South Asia,2018,Discoverer,28.39,30.91,42.64,29.24,16.87,...,0.00,39.39,30.56,8.54,36.54,2.96,8.66,17.70,NaN,NaN
5,AFG,Afghanistan,South Asia,2019,Discoverer,28.94,32.34,41.53,29.72,17.58,...,0.00,39.41,41.18,9.39,39.36,3.00,5.72,17.70,NaN,NaN
6,AGO,Angola,Sub-Saharan Africa,2014,Discoverer,32.78,25.99,35.99,44.33,27.85,...,51.65,0.00,29.92,3.99,22.74,53.33,49.09,8.80,NaN,NaN
7,AGO,Angola,Sub-Saharan Africa,2015,Emerging,37.18,33.09,42.01,45.41,30.27,...,57.00,0.31,32.35,5.26,22.12,55.08,58.33,8.47,NaN,NaN
8,AGO,Angola,Sub-Saharan Africa,2016,Emerging,39.85,37.80,44.74,46.47,32.11,...,63.73,0.00,34.78,6.27,27.46,56.52,61.73,8.13,NaN,NaN
9,AGO,Angola,Sub-Saharan Africa,2017,Emerging,42.89,48.60,47.94,46.32,31.36,...,53.97,0.00,37.88,4.26,31.94,57.06,55.09,7.80,NaN,NaN
10,AGO,Angola,Sub-Saharan Africa,2018,Emerging,42.46,47.61,46.28,47.61,30.98,...,63.34,0.00,40.97,5.39,35.36,57.13,47.25,9.70,NaN,NaN
11,AGO,Angola,Sub-Saharan Africa,2019,Emerging,43.53,48.18,47.65,48.13,32.50,...,57.71,0.77,48.82,6.82,41.20,57.98,46.19,9.70,NaN,NaN
12,ALB,Albania,Europe & Central Asia,2014,Transitioner,53.74,41.32,55.95,74.94,48.13,...,68.42,53.41,44.88,39.75,66.65,60.33,56.55,20.60,NaN,NaN
13,ALB,Albania,Europe & Central Asia,2015,Transitioner,57.42,52.09,54.60,75.56,50.57,...,68.42,57.45,52.15,40.61,65.99,63.29,57.56,24.20,NaN,NaN
14,ALB,Albania,Europe & Central Asia,2016,Transitioner,60.24,57.44,54.45,75.97,55.41,...,67.39,58.70,59.42,48.07,69.64,65.57,65.80,27.80,NaN,NaN

In [75]:
# filter most recent year
df = df[(df.Year==2019)]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Spectrum'] 

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [76]:
df[['Country','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country,Year,Indicator,data_col,new_rank_score,higher_is_better
5,Afghanistan,2019,Spectrum Allocated to Mobile Providers,17.62,1.577685,True
11,Angola,2019,Spectrum Allocated to Mobile Providers,48.22,3.261224,True
17,Albania,2019,Spectrum Allocated to Mobile Providers,52.85,3.515955,True
23,United Arab Emirates,2019,Spectrum Allocated to Mobile Providers,82.44,5.143926,True
29,Argentina,2019,Spectrum Allocated to Mobile Providers,63.38,4.095290,True
35,Armenia,2019,Spectrum Allocated to Mobile Providers,21.43,1.787302,True
41,Australia,2019,Spectrum Allocated to Mobile Providers,75.45,4.759353,True
47,Austria,2019,Spectrum Allocated to Mobile Providers,73.33,4.642716,True
53,Azerbaijan,2019,Spectrum Allocated to Mobile Providers,15.36,1.453345,True
59,Burundi,2019,Spectrum Allocated to Mobile Providers,16.29,1.504511,True
65,Belgium,2019,Spectrum Allocated to Mobile Providers,58.62,3.833407,True
71,Benin,2019,Spectrum Allocated to Mobile Providers,61.31,3.981404,True
77,Burkina Faso,2019,Spectrum Allocated to Mobile Providers,23.82,1.918794,True
83,Bangladesh,2019,Spectrum Allocated to Mobile Providers,19.97,1.706976,True
89,Bulgaria,2019,Spectrum Allocated to Mobile Providers,27.49,2.120709,True

In [77]:
### 18. Internet Exchange Points (IXPs)

In [253]:
indicators[17]

# load data
indicator = indicators[17]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Internet Exchange Points (IXPs) map
countries_ixp

In [254]:
df.head(15)

,Region,Country,City,IXP Name,Participants,Peak,Avg,IPv6,Prefixes,Established,URL
0,Asia-Pacific,Afghanistan,Kabul,National Internet Exchange of Afghanistan,20,6.4G,2.19G,NaN,NaN,Jul-18,NaN
1,Europe,Albania,Tirana,Albanian Neutral Internet eXchange,16,2.42G,35M,NaN,NaN,2018,NaN
2,NaN,Albania,Tirana,Albania IX,0,NaN,NaN,NaN,NaN,2011,NaN
3,Africa,Algeria,Algiers,Algeria Internet Exchange,0,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Angola,Luanda,Angola Internet Exchange,21,1.6G,NaN,NaN,512.0,17-Mar-06,NaN
5,NaN,Angola,Luanda,Ponto de Intercambio Internet Angola,0,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Angola,Luanda,ANGONIX,21,16G,NaN,NaN,5495.0,9-Mar-15,NaN
7,Latin America,Argentina,Bahía Blanca,CABASE IXP Bahía Blanca,15,713M,NaN,NaN,NaN,27-Apr-13,NaN
8,NaN,Argentina,Bariloche,CABASE IXP Bariloche,8,NaN,NaN,NaN,NaN,15-Sep-14,NaN
9,NaN,Argentina,Buenos Aires,CABASE IXP Buenos Aires,125,9.19G,NaN,NaN,17224.0,1-Apr-98,NaN
10,NaN,Argentina,Buenos Aires,Cubecorp,0,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,Argentina,Buenos Aires,CABASE IXP Ruteo Central,0,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,Argentina,Buenos Aires,CABASE IXP Oeste de Gran Buenos Aires,7,NaN,NaN,NaN,NaN,5-Jul-16,NaN
13,NaN,Argentina,Buenos Aires,NAP CABASE La Matanza,0,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,Argentina,Concepcion del Uruguay,CABASE IXP Concepcion del Uruguay,4,NaN,NaN,NaN,NaN,NaN,NaN

In [264]:
agg_df = df.groupby('Country')['Country'].count()
agg_df

Country
Afghanistan     1
Albania         2
Algeria         1
Angola          3
Argentina      33
               ..
Uzbekistan      3
Vanuatu         1
Viet Nam        3
Zambia          1
Zimbabwe        2
Name: Country, Length: 165, dtype: int64

In [81]:
count = df['Country'].value_counts()

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Spectrum'] 

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

KeyError: 'Spectrum'

In [82]:
### 19. ISP Speeds - Fixed

In [134]:
indicators[18]

# load data
indicator = indicators[18]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

# Convert yaml to csv

ISP Speeds - Fixed
speedtest-global-performance.yaml

FileNotFoundError: [Errno 2] No such file or directory: '../../processed/speedtest-global-performance.yaml.csv'

In [84]:
df.head(15)

,Region,Country,City,IXP Name,Participants,Peak,Avg,IPv6,Prefixes,Established,URL,higher_is_better,Indicator
0,Asia-Pacific,Afghanistan,Kabul,National Internet Exchange of Afghanistan,20,6.4G,2.19G,NaN,NaN,Jul-18,NaN,True,Internet Exchange Points (IXPs) map
1,Europe,Albania,Tirana,Albanian Neutral Internet eXchange,16,2.42G,35M,NaN,NaN,2018,NaN,True,Internet Exchange Points (IXPs) map
2,NaN,Albania,Tirana,Albania IX,0,NaN,NaN,NaN,NaN,2011,NaN,True,Internet Exchange Points (IXPs) map
3,Africa,Algeria,Algiers,Algeria Internet Exchange,0,NaN,NaN,NaN,NaN,NaN,NaN,True,Internet Exchange Points (IXPs) map
4,NaN,Angola,Luanda,Angola Internet Exchange,21,1.6G,NaN,NaN,512.0,17-Mar-06,NaN,True,Internet Exchange Points (IXPs) map
5,NaN,Angola,Luanda,Ponto de Intercambio Internet Angola,0,NaN,NaN,NaN,NaN,NaN,NaN,True,Internet Exchange Points (IXPs) map
6,NaN,Angola,Luanda,ANGONIX,21,16G,NaN,NaN,5495.0,9-Mar-15,NaN,True,Internet Exchange Points (IXPs) map
7,Latin America,Argentina,Bahía Blanca,CABASE IXP Bahía Blanca,15,713M,NaN,NaN,NaN,27-Apr-13,NaN,True,Internet Exchange Points (IXPs) map
8,NaN,Argentina,Bariloche,CABASE IXP Bariloche,8,NaN,NaN,NaN,NaN,15-Sep-14,NaN,True,Internet Exchange Points (IXPs) map
9,NaN,Argentina,Buenos Aires,CABASE IXP Buenos Aires,125,9.19G,NaN,NaN,17224.0,1-Apr-98,NaN,True,Internet Exchange Points (IXPs) map
10,NaN,Argentina,Buenos Aires,Cubecorp,0,NaN,NaN,NaN,NaN,NaN,NaN,True,Internet Exchange Points (IXPs) map
11,NaN,Argentina,Buenos Aires,CABASE IXP Ruteo Central,0,NaN,NaN,NaN,NaN,NaN,NaN,True,Internet Exchange Points (IXPs) map
12,NaN,Argentina,Buenos Aires,CABASE IXP Oeste de Gran Buenos Aires,7,NaN,NaN,NaN,NaN,5-Jul-16,NaN,True,Internet Exchange Points (IXPs) map
13,NaN,Argentina,Buenos Aires,NAP CABASE La Matanza,0,NaN,NaN,NaN,NaN,NaN,NaN,True,Internet Exchange Points (IXPs) map
14,NaN,Argentina,Concepcion del Uruguay,CABASE IXP Concepcion del Uruguay,4,NaN,NaN,NaN,NaN,NaN,NaN,True,Internet Exchange Points (IXPs) map

In [85]:
### 20. SP Speeds - Mobile

In [86]:
# May also have to convert yaml to csv

In [87]:
### 21. ISP internet download speed average

In [119]:
indicators[20]

# load data
indicator = indicators[20]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

# Waiting for internet_speed to be added to the processed folder

ISP internet download speed average
internet_speed

In [120]:
df.head(15)

    Ranking  Year               Country  Download speed (Mbps)
0         1  2021                Monaco                 256.70
1         2  2021             Singapore                 256.03
2         3  2021       Hong Kong (SAR)                 248.59
3         4  2021              Thailand                 216.16
4         5  2021               Romania                 215.30
5         6  2021           Switzerland                 214.82
6         7  2021           South Korea                 212.83
7         8  2021                 Chile                 209.45
8         9  2021               Denmark                 208.50
9        10  2021         Liechtenstein                 207.44
10       11  2021                France                 199.68
11       12  2021               Hungary                 199.47
12       13  2021               Moldova                 196.46
13       14  2021         United States                 195.55
14       15  2021  United Arab Emirates                 190.96

In [121]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Download speed (Mbps)'] 

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [122]:
df[['Country','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country,Year,Indicator,data_col,new_rank_score,higher_is_better
0,Monaco,2021,ISP internet download speed average,256.70,6.000000,True
1,Singapore,2021,ISP internet download speed average,256.03,5.986711,True
2,Hong Kong (SAR),2021,ISP internet download speed average,248.59,5.839145,True
3,Thailand,2021,ISP internet download speed average,216.16,5.195922,True
4,Romania,2021,ISP internet download speed average,215.30,5.178865,True
5,Switzerland,2021,ISP internet download speed average,214.82,5.169344,True
6,South Korea,2021,ISP internet download speed average,212.83,5.129874,True
7,Chile,2021,ISP internet download speed average,209.45,5.062835,True
8,Denmark,2021,ISP internet download speed average,208.50,5.043992,True
9,Liechtenstein,2021,ISP internet download speed average,207.44,5.022968,True
10,France,2021,ISP internet download speed average,199.68,4.869055,True
11,Hungary,2021,ISP internet download speed average,199.47,4.864890,True
12,Moldova,2021,ISP internet download speed average,196.46,4.805189,True
13,United States,2021,ISP internet download speed average,195.55,4.787140,True
14,United Arab Emirates,2021,ISP internet download speed average,190.96,4.696101,True

In [89]:
### 22. Mobile dowload speed at the slowest hour

In [114]:
indicators[21]

# load data
indicator = indicators[21]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

# Waiting for internet_speed to be added to the processed folder

Mobile dowload speed at the slowest hour of the day
mobile_latency

In [115]:
df.head(15)

,Unnamed: 0,ISO Code,Country,Region,Year,Mobile latencies
0,1,AFG,Afghanistan,South Asia,2014,0.000000
1,2,AFG,Afghanistan,South Asia,2015,0.000000
2,3,AFG,Afghanistan,South Asia,2016,11.842106
3,4,AFG,Afghanistan,South Asia,2017,56.234993
4,5,AFG,Afghanistan,South Asia,2018,49.762146
5,6,AFG,Afghanistan,South Asia,2019,42.627621
6,7,AGO,Angola,Sub-Saharan Africa,2014,0.000000
7,8,AGO,Angola,Sub-Saharan Africa,2015,36.975155
8,9,AGO,Angola,Sub-Saharan Africa,2016,50.958073
9,10,AGO,Angola,Sub-Saharan Africa,2017,66.052635
10,11,AGO,Angola,Sub-Saharan Africa,2018,74.417152
11,12,AGO,Angola,Sub-Saharan Africa,2019,66.285637
12,13,ALB,Albania,Europe & Central Asia,2014,34.736843
13,14,ALB,Albania,Europe & Central Asia,2015,57.339764
14,15,ALB,Albania,Europe & Central Asia,2016,73.420052

In [117]:
# filter most recent year
df = df[(df.Year==2019)]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Mobile latencies'] 

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [118]:
df[['Country','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country,Year,Indicator,data_col,new_rank_score,higher_is_better
5,Afghanistan,2019,Mobile dowload speed at the slowest hour of th...,42.627621,3.381348,True
11,Angola,2019,Mobile dowload speed at the slowest hour of th...,66.285637,4.702978,True
17,Albania,2019,Mobile dowload speed at the slowest hour of th...,84.636459,5.728128,True
23,United Arab Emirates,2019,Mobile dowload speed at the slowest hour of th...,84.951675,5.745737,True
29,Argentina,2019,Mobile dowload speed at the slowest hour of th...,80.727203,5.509742,True
35,Armenia,2019,Mobile dowload speed at the slowest hour of th...,88.437950,5.940495,True
41,Australia,2019,Mobile dowload speed at the slowest hour of th...,86.069145,5.808164,True
47,Austria,2019,Mobile dowload speed at the slowest hour of th...,85.845047,5.795645,True
53,Azerbaijan,2019,Mobile dowload speed at the slowest hour of th...,85.687500,5.786843,True
59,Burundi,2019,Mobile dowload speed at the slowest hour of th...,51.736294,3.890194,True
65,Belgium,2019,Mobile dowload speed at the slowest hour of th...,82.730255,5.621640,True
71,Benin,2019,Mobile dowload speed at the slowest hour of th...,68.678703,4.836665,True
77,Burkina Faso,2019,Mobile dowload speed at the slowest hour of th...,54.469799,4.042899,True
83,Bangladesh,2019,Mobile dowload speed at the slowest hour of th...,74.701111,5.173100,True
89,Bulgaria,2019,Mobile dowload speed at the slowest hour of th...,83.992538,5.692156,True

In [109]:
### 23. Mobile download speed average

In [110]:
indicators[22]

# load data
indicator = indicators[22]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Mobile download speed average
mobile_speed

In [111]:
df.head(15)

     #  Year               Country    Mbps
0    1  2021  United Arab Emirates  190.03
1    2  2021           South Korea  189.20
2    3  2021                 Qatar  170.77
3    4  2021                 China  157.72
4    5  2021                Cyprus  154.13
5    6  2021                Norway  152.53
6    7  2021          Saudi Arabia  151.13
7    8  2021                Kuwait  140.16
8    9  2021             Australia  122.27
9   10  2021              Bulgaria  120.44
10  11  2021            Luxembourg  110.72
11  12  2021           Switzerland  109.65
12  13  2021           Netherlands  100.65
13  14  2021         United States   91.01
14  15  2021                Sweden   90.57

In [112]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Mbps'] 

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [113]:
df[['Country','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country,Year,Indicator,data_col,new_rank_score,higher_is_better
0,United Arab Emirates,2021,Mobile download speed average,190.03,6.000000,True
1,South Korea,2021,Mobile download speed average,189.20,5.977362,True
2,Qatar,2021,Mobile download speed average,170.77,5.474689,True
3,China,2021,Mobile download speed average,157.72,5.118754,True
4,Cyprus,2021,Mobile download speed average,154.13,5.020838,True
5,Norway,2021,Mobile download speed average,152.53,4.977198,True
6,Saudi Arabia,2021,Mobile download speed average,151.13,4.939014,True
7,Kuwait,2021,Mobile download speed average,140.16,4.639810,True
8,Australia,2021,Mobile download speed average,122.27,4.151866,True
9,Bulgaria,2021,Mobile download speed average,120.44,4.101953,True
10,Luxembourg,2021,Mobile download speed average,110.72,3.836843,True
11,Switzerland,2021,Mobile download speed average,109.65,3.807659,True
12,Netherlands,2021,Mobile download speed average,100.65,3.562186,True
13,United States,2021,Mobile download speed average,91.01,3.299258,True
14,Sweden,2021,Mobile download speed average,90.57,3.287257,True

In [94]:
### 24. Individuals using the Internet (% of population)

In [95]:
indicators[23]

# load data
indicator = indicators[23]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Individuals using the Internet (% of population)
individual_internet_usage

In [96]:
df.head(15)

,ShortName,2000_note,2000_source,2000_value,2001_note,2001_source,2001_value,2002_note,2002_source,2002_value,...,2018_source,2018_value,2019_note,2019_source,2019_value,2020_note,2020_source,2020_value,data_country,data_year
0,Afghanistan,NaN,NaN,NaN,NaN,ITU estimate.,0.00,NaN,Ministry of Communications.,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Albania,NaN,Albanian Telecom Enterprise.,0.11,NaN,Albanian Telecom Enterprise.,0.33,NaN,Albanian Telecom Enterprise.,0.39,...,NaN,NaN,NaN,INSTAT (Institute of Statistics),68.55,NaN,NaN,NaN,NaN,NaN
2,Algeria,NaN,NaN,0.49,NaN,NaN,0.65,NaN,NaN,1.59,...,"Ministry of Post, Telecommunications, Technolo...",49.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Andorra,NaN,Servei de Telecomunicacions d'Andorra (STA).,10.54,NaN,NaN,NaN,NaN,Servei de Telecomunicacions d'Andorra (STA).,11.26,...,Servei d'studis - Ministeri de Finances,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,NaN,NaN,0.11,NaN,NaN,0.14,NaN,NaN,0.27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Anguilla,NaN,NaN,22.41,NaN,NaN,25.88,NaN,NaN,24.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Antigua and Barbuda,NaN,Cable and Wireless (W.I.) Ltd. (C&W). A.P.U.A....,6.48,NaN,ITU estimate.,8.90,NaN,Cable and Wireless (W.I.) Ltd. (C&W). A.P.U.A....,12.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Argentina,NaN,SECOM.,7.04,NaN,SECOM.,9.78,NaN,SECOM.,10.88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Armenia,NaN,NaN,1.30,NaN,NaN,1.63,NaN,NaN,1.96,...,The Statistical Committee of the Republic of A...,68.25,NaN,Statistical Committee of RA,66.54,NaN,NaN,NaN,NaN,NaN
9,Aruba,NaN,Servicio di Telecomunicacion di Aruba (SETAR).,15.44,NaN,ITU estimate.,17.10,NaN,ITU estimate.,18.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Ascension,NaN,Cable & Wireless plc. (C&W).,34.94,Data refer to 31st December.,Cable & Wireless plc. (C&W).,38.17,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Australia,NaN,ABS Household Use of Information Technology Su...,46.76,NaN,ITU estimate.,52.69,NaN,NaN,NaN,...,Australian Bureau of Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Austria,"Regular users of the Internet, Population age ...",Austria Internet Monitor.,33.73,"Regular users of the Internet, Population age ...",Austria Internet Monitor.,39.19,Population age 16-74 using Internet in the las...,Eurostat.,36.56,...,Statistik Austria,87.48,NaN,Statistik Austria,87.75,NaN,NaN,NaN,NaN,NaN
13,Azerbaijan,NaN,NaN,0.15,NaN,NaN,0.31,NaN,NaN,5.00,...,State Statistical Committee of the Republic of...,79.80,NaN,State Statistical Committee,81.10,NaN,NaN,NaN,NaN,NaN
14,Bahamas,Estimated based on 3 times the number of subsc...,ITU estimate.,8.00,Estimated based on 3 times the number of subsc...,ITU estimate.,11.80,Estimated based on 3 times the number of subsc...,ITU estimate.,18.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Year'] = 2017
df['Indicator'] = indicator
df['data_col'] = df['2017_value'] 
df.rename(columns = {'ShortName':'Country'}, inplace=True)

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [98]:
df[['Country','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)
#2019 data is missing too much, switching to 2017

,Country,Year,Indicator,data_col,new_rank_score,higher_is_better
0,Afghanistan,2017,Individuals using the Internet (% of population),11.45,1.516083,True
1,Albania,2017,Individuals using the Internet (% of population),71.85,4.590187,True
2,Algeria,2017,Individuals using the Internet (% of population),47.69,3.360546,True
3,Andorra,2017,Individuals using the Internet (% of population),91.57,5.593852,True
4,Angola,2017,Individuals using the Internet (% of population),14.34,1.663172,True
5,Anguilla,2017,Individuals using the Internet (% of population),NaN,NaN,True
6,Antigua and Barbuda,2017,Individuals using the Internet (% of population),NaN,NaN,True
7,Argentina,2017,Individuals using the Internet (% of population),74.29,4.714373,True
8,Armenia,2017,Individuals using the Internet (% of population),64.74,4.228318,True
9,Aruba,2017,Individuals using the Internet (% of population),97.17,5.878868,True
10,Ascension,2017,Individuals using the Internet (% of population),NaN,NaN,True
11,Australia,2017,Individuals using the Internet (% of population),86.55,5.338355,True
12,Austria,2017,Individuals using the Internet (% of population),87.94,5.409100,True
13,Azerbaijan,2017,Individuals using the Internet (% of population),79.00,4.954092,True
14,Bahamas,2017,Individuals using the Internet (% of population),85.00,5.259467,True

In [99]:
### 25. Mobile cellular subscriptions (per 100 people)

In [100]:
indicators[24]

# load data
indicator = indicators[24]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

#Waiting for mobile_cell_sub to be added to processed folder

Mobile cellular subscriptions (per 100 people)
mobile_cell_sub

FileNotFoundError: [Errno 2] No such file or directory: '../../processed/mobile_cell_sub.csv'

In [101]:
### 26. Average fixed broadband download speeds

In [102]:
indicators[25]

# load data
indicator = indicators[25]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Average fixed broadband download speeds
fixed_bdbd_spd_dl_ul

In [103]:
df.head(15)

          country  broadband  mobile     pop2021
0       Singapore     226.60   60.52    5896.686
1       Hong Kong     210.73   50.96    7552.810
2         Romania     193.47   40.35   19127.774
3     Switzerland     178.81   64.10    8715.494
4        Thailand     175.22   34.38   69950.850
5          France     173.05   49.82   65426.179
6         Denmark     162.08   63.86    5813.298
7          Monaco     162.06     NaN      39.511
8         Hungary     161.51   44.52    9634.164
9   United States     161.14   47.13  332915.073
10          Spain     157.22   39.03   46745.216
11  Liechtenstein     156.94     NaN      38.250
12         Sweden     156.34   53.13   10160.169
13    South Korea     155.39  121.00   51305.186
14          Macau     154.57   53.30     658.394

In [104]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Year'] = 2021
df['Indicator'] = indicator
df['data_col'] = df['broadband'] 
df.rename(columns = {'country':'Country'}, inplace=True)

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [105]:
df[['Country','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country,Year,Indicator,data_col,new_rank_score,higher_is_better
0,Singapore,2021,Average fixed broadband download speeds,226.60,6.000000,True
1,Hong Kong,2021,Average fixed broadband download speeds,210.73,5.644489,True
2,Romania,2021,Average fixed broadband download speeds,193.47,5.257841,True
3,Switzerland,2021,Average fixed broadband download speeds,178.81,4.929435,True
4,Thailand,2021,Average fixed broadband download speeds,175.22,4.849014,True
5,France,2021,Average fixed broadband download speeds,173.05,4.800403,True
6,Denmark,2021,Average fixed broadband download speeds,162.08,4.554659,True
7,Monaco,2021,Average fixed broadband download speeds,162.06,4.554211,True
8,Hungary,2021,Average fixed broadband download speeds,161.51,4.541891,True
9,United States,2021,Average fixed broadband download speeds,161.14,4.533602,True
10,Spain,2021,Average fixed broadband download speeds,157.22,4.445789,True
11,Liechtenstein,2021,Average fixed broadband download speeds,156.94,4.439516,True
12,Sweden,2021,Average fixed broadband download speeds,156.34,4.426075,True
13,South Korea,2021,Average fixed broadband download speeds,155.39,4.404794,True
14,Macau,2021,Average fixed broadband download speeds,154.57,4.386425,True

In [107]:
### 27. Average fixed broadband upload speeds
# Must convert yaml to csv

In [136]:
### 28. Average fixed broadband latency
# Must convert yaml to csv

In [137]:
### 29. Postal Coverage

In [177]:
indicators[28]

# load data
indicator = indicators[28]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Postal Coverage
postal_coverage

In [178]:
df.head(15)

,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,Country ISO3,Country Name,Indicator Id,Indicator,Subindicator Type,2013-14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93.0,NaN,NaN,ABW,Aruba,24707,Percent of Population Having Mail Delivered at...,Value,NaN
1,NaN,NaN,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN,NaN,ABW,Aruba,24708,Percent of Income Linked to Parcels and Logist...,Value,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,ABW,Aruba,24710,Percent of the Population Without Postal Services,Value,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.0,NaN,AFG,Afghanistan,24707,Percent of Population Having Mail Delivered at...,Value,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74.0,NaN,AFG,Afghanistan,24708,Percent of Income Linked to Parcels and Logist...,Value,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AFG,Afghanistan,24709,Postal Reliability Index,Index (0-100),17.9
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,AFG,Afghanistan,24710,Percent of the Population Without Postal Services,Value,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,AGO,Angola,24707,Percent of Population Having Mail Delivered at...,Value,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.9,AGO,Angola,24708,Percent of Income Linked to Parcels and Logist...,Value,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AGO,Angola,24709,Postal Reliability Index,Index (0-100),15.3
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.0,AGO,Angola,24710,Percent of the Population Without Postal Services,Value,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.6,NaN,NaN,ALB,Albania,24707,Percent of Population Having Mail Delivered at...,Value,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.3,NaN,NaN,ALB,Albania,24708,Percent of Income Linked to Parcels and Logist...,Value,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ALB,Albania,24709,Postal Reliability Index,Index (0-100),79.6
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,ALB,Albania,24710,Percent of the Population Without Postal Services,Value,NaN

In [179]:
#Choose 'Percent of Population Having Mail Delivered at Home' as the data column
df = df[(df.Indicator=='Percent of Population Having Mail Delivered at Home')]
df.head(15)

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Year'] = 2015
df['Indicator'] = indicator
df['data_col'] = df['2015'] 

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [181]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better
0,Aruba,2015,Postal Coverage,NaN,NaN,True
3,Afghanistan,2015,Postal Coverage,NaN,NaN,True
7,Angola,2015,Postal Coverage,15.0,1.75,True
11,Albania,2015,Postal Coverage,NaN,NaN,True
15,United Arab Emirates,2015,Postal Coverage,NaN,NaN,True
19,Argentina,2015,Postal Coverage,93.0,5.65,True
23,Armenia,2015,Postal Coverage,93.0,5.65,True
27,Antigua and Barbuda,2015,Postal Coverage,80.0,5.00,True
30,Australia,2015,Postal Coverage,NaN,NaN,True
33,Austria,2015,Postal Coverage,99.0,5.95,True
38,Burundi,2015,Postal Coverage,NaN,NaN,True
42,Belgium,2015,Postal Coverage,NaN,NaN,True
45,Benin,2015,Postal Coverage,6.0,1.30,True
49,Burkina Faso,2015,Postal Coverage,0.0,1.00,True
53,Bangladesh,2015,Postal Coverage,NaN,NaN,True

In [182]:
### 30. Logistics Performance Index (LPI)

In [184]:
indicators[29]

# load data
indicator = indicators[29]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Logistics Performance Index (LPI) - Infrastructure Rating
World Bank The Logistics Performance Index 2007 to 2018.xlsx

FileNotFoundError: [Errno 2] No such file or directory: '../../processed/World Bank The Logistics Performance Index 2007 to 2018.xlsx.csv'

In [185]:
### 31.Schools with Internet proportion

In [187]:
indicators[30]

# load data
indicator = indicators[30]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Schools with Internet proportion
schools_w_internet

FileNotFoundError: [Errno 2] No such file or directory: '../../processed/schools_w_internet.csv'

In [188]:
### 32.National cyber security index

In [190]:
indicators[31]

# load data
indicator = indicators[31]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

National cyber security index
national_cybersecurity_index

In [193]:
df.head(15)

,Rank,Country,National Cyber Security Index,Difference,Unnamed: 4
0,1.0,Greece,96.10,32.35,NaN
1,2.0,Czech Republic,92.21,23.25,NaN
2,3.0,Estonia,90.91,15.05,NaN
3,4.0,Portugal,89.61,21.76,NaN
4,5.0,Lithuania,88.31,20.01,NaN
5,6.0,Spain,88.31,15.70,NaN
6,7.0,Poland,87.01,21.66,NaN
7,8.0,Belgium,85.71,11.32,NaN
8,9.0,Finland,85.71,6.23,NaN
9,10.0,France,84.42,6.63,NaN
10,11.0,Croatia,83.12,18.95,NaN
11,12.0,Slovakia,83.12,17.43,NaN
12,13.0,Netherlands,81.82,-1.32,NaN
13,14.0,Denmark,81.82,-2.82,NaN
14,15.0,Germany,80.52,-0.17,NaN

In [195]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Year'] = 2021
df['Indicator'] = indicator
df['data_col'] = df['National Cyber Security Index'] 

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [200]:
df[['Country','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country,Year,Indicator,data_col,new_rank_score,higher_is_better
0,Greece,2021,National cyber security index,96.10,6.000000,True
1,Czech Republic,2021,National cyber security index,92.21,5.794831,True
2,Estonia,2021,National cyber security index,90.91,5.726266,True
3,Portugal,2021,National cyber security index,89.61,5.657700,True
4,Lithuania,2021,National cyber security index,88.31,5.589135,True
5,Spain,2021,National cyber security index,88.31,5.589135,True
6,Poland,2021,National cyber security index,87.01,5.520570,True
7,Belgium,2021,National cyber security index,85.71,5.452004,True
8,Finland,2021,National cyber security index,85.71,5.452004,True
9,France,2021,National cyber security index,84.42,5.383966,True
10,Croatia,2021,National cyber security index,83.12,5.315401,True
11,Slovakia,2021,National cyber security index,83.12,5.315401,True
12,Netherlands,2021,National cyber security index,81.82,5.246835,True
13,Denmark,2021,National cyber security index,81.82,5.246835,True
14,Germany,2021,National cyber security index,80.52,5.178270,True

In [201]:
### 33. Global Cybersecurity Index (GCI)

In [202]:
indicators[32]

# load data
indicator = indicators[32]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Global Cybersecurity Index (GCI)
dice_export_global_cybersecurity_index

In [204]:
df.head(15)
#The Data is practically unusable, find a new one

    Unnamed: 0  data_country  data_year
0          1.0           1.0        1.0
1          2.0           2.0        2.0
2          2.0           2.0        2.0
3          3.0           3.0        3.0
4          4.0           4.0        4.0
5          4.0           4.0        4.0
6          4.0           4.0        4.0
7          5.0           5.0        5.0
8          5.0           5.0        5.0
9          5.0           5.0        5.0
10         6.0           6.0        6.0
11         7.0           7.0        7.0
12         8.0           8.0        8.0
13         9.0           9.0        9.0
14        10.0          10.0       10.0

In [205]:
### 34. Software Developer Ecosystem size

In [212]:
indicators[33]

# load data
indicator = indicators[33]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Software Developer Ecosystem size
software_developer_ecosystem_size

In [213]:
df.head(15)

           Country GitHub Accounts
0    United States          651,017
1            China          183,805
2            India          168,328
3   United Kingdom          109,460
4          Germany           94,359
5           Brazil           80,903
6           Canada           77,318
7           France           66,367
8           Russia           58,767
9        Australia           41,790
10           Japan           39,263
11           Spain           38,020
12     Netherlands           35,782
13         Ukraine           33,032
14          Poland           30,928

In [221]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Year'] = 2018
df['Indicator'] = indicator
df['data_col'] = df['GitHub Accounts']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

#There is a small error in the column name this has been addressed, waiting for files to be updated

KeyError: 'GitHub Accounts'

In [222]:
### 35. Digital Work Ecosystem size

In [224]:
indicators[34]

# load data
indicator = indicators[34]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Digital Work Ecosystem size
digital_platform_economy_index

In [226]:
df.head(15)

   Rank          Country DPE 2020    GDP per capita 2017  Unnamed: 4
0      1   United States       85,0                54225         NaN
1      2  United Kingdom       82,7                39753         NaN
2      3     Netherlands       82,4                48473         NaN
3      4          Canada       78,2                44018         NaN
4      5          Sweden       76,8                46949         NaN
5      6     Switzerland       76,3                57410         NaN
6      7          Norway       74,4                64800         NaN
7      8         Denmark       71,1                46683         NaN
8      9       Australia       69,3                44649         NaN
9     10       Finland         68,9                40586         NaN
10    11         Ireland       66,0                67335         NaN
11    12      Luxembourg       65,6                94278         NaN
12    13     New Zealand       65,3                36086         NaN
13    14  Germany France       64,4                45229         NaN
14    15             NaN       63,6                38606         NaN

In [244]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = False
df['Year'] = 2020
df['Indicator'] = indicator
df['data_col'] = df.iloc[:,[0]].astype(float)

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

# invert since to lower rank is better
df['new_rank_score'] = df['new_rank_score'].apply(lambda row: (6-row)+1)

In [246]:
df[['Country','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)
# Two problems: 1. cannot use the name of the column, have to use iloc, 2. cannot use the index column
# because the number format is not standard, have to use the rank column

,Country,Year,Indicator,data_col,new_rank_score,higher_is_better
0,United States,2020,Digital Work Ecosystem size,1.0,6.000000,False
1,United Kingdom,2020,Digital Work Ecosystem size,2.0,5.956522,False
2,Netherlands,2020,Digital Work Ecosystem size,3.0,5.913043,False
3,Canada,2020,Digital Work Ecosystem size,4.0,5.869565,False
4,Sweden,2020,Digital Work Ecosystem size,5.0,5.826087,False
5,Switzerland,2020,Digital Work Ecosystem size,6.0,5.782609,False
6,Norway,2020,Digital Work Ecosystem size,7.0,5.739130,False
7,Denmark,2020,Digital Work Ecosystem size,8.0,5.695652,False
8,Australia,2020,Digital Work Ecosystem size,9.0,5.652174,False
9,Finland,2020,Digital Work Ecosystem size,10.0,5.608696,False
10,Ireland,2020,Digital Work Ecosystem size,11.0,5.565217,False
11,Luxembourg,2020,Digital Work Ecosystem size,12.0,5.521739,False
12,New Zealand,2020,Digital Work Ecosystem size,13.0,5.478261,False
13,Germany France,2020,Digital Work Ecosystem size,14.0,5.434783,False
14,NaN,2020,Digital Work Ecosystem size,15.0,5.391304,False

In [248]:
### 36. Country, Industry, Skill Migration Data (Skill)

In [267]:
indicators[35]

# load data
indicator = indicators[35]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Country, Industry, Skill Migration Data
migration_skill

In [268]:
df.head(15)

,country_code,country_name,wb_income,wb_region,skill_group_id,skill_group_category,skill_group_name,net_per_10K_2015,net_per_10K_2016,net_per_10K_2017,net_per_10K_2018,net_per_10K_2019,Unnamed: 12,data_country,data_year
0,af,Afghanistan,Low income,South Asia,2549.0,Tech Skills,Information Management,-791.59,-705.88,-550.04,-680.92,-1208.79,NaN,NaN,NaN
1,af,Afghanistan,Low income,South Asia,2608.0,Business Skills,Operational Efficiency,-1610.25,-933.55,-776.06,-532.22,-790.09,NaN,NaN,NaN
2,af,Afghanistan,Low income,South Asia,3806.0,Specialized Industry Skills,National Security,-1731.45,-769.68,-756.59,-600.44,-767.64,NaN,NaN,NaN
3,af,Afghanistan,Low income,South Asia,50321.0,Tech Skills,Software Testing,-957.50,-828.54,-964.73,-406.50,-739.51,NaN,NaN,NaN
4,af,Afghanistan,Low income,South Asia,1606.0,Specialized Industry Skills,Navy,-1510.71,-841.17,-842.32,-581.71,-718.64,NaN,NaN,NaN
5,af,Afghanistan,Low income,South Asia,3139.0,Disruptive Tech Skills,Materials Science,-1085.03,-1045.71,-783.03,-473.42,-717.73,NaN,NaN,NaN
6,af,Afghanistan,Low income,South Asia,1315.0,Specialized Industry Skills,Criminal Law,-687.80,-294.93,-769.01,-415.34,-698.84,NaN,NaN,NaN
7,af,Afghanistan,Low income,South Asia,1017.0,Soft Skills,Problem Solving,-906.42,-210.44,-480.92,-126.62,-696.16,NaN,NaN,NaN
8,af,Afghanistan,Low income,South Asia,2130.0,Tech Skills,Software Development Life Cycle (SDLC),-1096.96,-566.70,-478.30,-324.99,-692.24,NaN,NaN,NaN
9,af,Afghanistan,Low income,South Asia,2265.0,Specialized Industry Skills,Cybersecurity,-1046.26,-796.25,-796.72,-517.62,-640.96,NaN,NaN,NaN
10,af,Afghanistan,Low income,South Asia,1989.0,Tech Skills,Enterprise Software,-989.69,-778.24,-328.94,-350.93,-625.19,NaN,NaN,NaN
11,af,Afghanistan,Low income,South Asia,17168.0,Specialized Industry Skills,Water Engineering,-639.43,-851.40,-486.67,-377.28,-560.86,NaN,NaN,NaN
12,af,Afghanistan,Low income,South Asia,1871.0,Specialized Industry Skills,Air Force,-1488.62,-839.32,-777.83,-480.36,-553.91,NaN,NaN,NaN
13,af,Afghanistan,Low income,South Asia,3980.0,Specialized Industry Skills,Documentation,-1115.58,-955.82,-1025.11,-722.36,-534.90,NaN,NaN,NaN
14,af,Afghanistan,Low income,South Asia,2917.0,Specialized Industry Skills,Public Safety,-1191.25,-789.13,-743.97,-465.34,-531.68,NaN,NaN,NaN

In [287]:
df['Country'] = df.iloc[:,[1]]

df_sum = df.groupby('Country')[['net_per_10K_2019']].sum()
df_sum

                    net_per_10K_2019
Country
Afghanistan                -35926.60
Albania                    -20747.41
Algeria                    -26729.53
Angola                       4332.13
Argentina                  -16970.64
...                              ...
Vietnam                     -1952.65
West Bank and Gaza         -13115.14
Yemen, Rep.                 -2249.00
Zambia                       2455.50
Zimbabwe                   -14459.26

[140 rows x 1 columns]

In [288]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df_sum['higher_is_better'] = True
df_sum['Year'] = 2020
df_sum['Indicator'] = indicator
df_sum['data_col'] = df_sum['net_per_10K_2019']


min_rank = df_sum['data_col'].min()
max_rank = df_sum['data_col'].max()

# transform 0-1 rank into 1-6
df_sum['new_rank_score'] = df_sum['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [291]:
df_sum[['Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Year,Indicator,data_col,new_rank_score,higher_is_better
Country,,,,,
Afghanistan,2020,"Country, Industry, Skill Migration Data",-35926.60,4.221400,True
Albania,2020,"Country, Industry, Skill Migration Data",-20747.41,4.449323,True
Algeria,2020,"Country, Industry, Skill Migration Data",-26729.53,4.359499,True
Angola,2020,"Country, Industry, Skill Migration Data",4332.13,4.825905,True
Argentina,2020,"Country, Industry, Skill Migration Data",-16970.64,4.506034,True
Armenia,2020,"Country, Industry, Skill Migration Data",-6930.40,4.656793,True
Australia,2020,"Country, Industry, Skill Migration Data",22060.90,5.092112,True
Austria,2020,"Country, Industry, Skill Migration Data",31195.64,5.229275,True
Azerbaijan,2020,"Country, Industry, Skill Migration Data",-16691.04,4.510232,True
"Bahamas, The",2020,"Country, Industry, Skill Migration Data",166.32,4.763354,True
Bahrain,2020,"Country, Industry, Skill Migration Data",-11606.66,4.586576,True
Bangladesh,2020,"Country, Industry, Skill Migration Data",-17647.74,4.495867,True
Belarus,2020,"Country, Industry, Skill Migration Data",-8194.62,4.637810,True
Belgium,2020,"Country, Industry, Skill Migration Data",11944.51,4.940209,True
Benin,2020,"Country, Industry, Skill Migration Data",-4489.75,4.693440,True

In [292]:
### 37. Country, Industry, Skill Migration Data (Industry)

In [296]:
indicators[36]

# load data
indicator = indicators[36]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Digital Finance Ecosystem size
global_fintech_ranking