In [1]:
import pandas as pd
import numpy as np

### Get all the pillar names from the excel

In [2]:
names = pd.read_excel('../../UNDP Digital Assessment Data Framework Filename Matching V7.xlsx')

In [3]:
col_names = ['Indicator','check', 'Data Source','Data Link','Raw/Index','Filename','Sub-Pillar']

In [4]:
names = names[col_names]

In [5]:
names.head()

,Indicator,check,Data Source,Data Link,Raw/Index,Filename,Sub-Pillar
0,Countries,NaN,UN Statistics Division: List of Countries,https://unstats.un.org,Raw,Countries,NaN
1,"Database of Global Administrative Areas (GADM,...",NaN,NaN,https://gadm.org,Raw,NaN,NaN
2,High Resolution Population Density Maps + Demo...,NaN,NaN,NaN,NaN,NaN,NaN
3,population density vs openstreetmap object den...,NaN,NaN,NaN,NaN,NaN,NaN
4,Population Density,Infrastructure,World Bank: World Development Indicators,https://datacatalog.worldbank.org,Raw,population_density,Connectivity Technology

In [6]:
# get all the files per pillar
data_stats = names.groupby('check').agg({'Filename':'count','Indicator':'count'})

In [7]:
data_stats

                Filename  Indicator
check
Business              18         27
Foundations           13         22
Government            10         15
Infrastructure        47         58
People                35         49
Regulation             5          8
Strategy               1          1

### Foundations

In [8]:
bnames = names[(names.check=='Foundations')&(~names.Filename.isna())]#&(names.Index==False)]

In [9]:
bnames.head(25)

,Indicator,check,Data Source,Data Link,Raw/Index,Filename,Sub-Pillar
163,Digital payments penetration,Foundations,Portulans Institute: Network Readiness Index,https://networkreadinessindex.org,Index,digital_payments_penetration,Digital Payments
164,% of population with digital finance account,Foundations,World Bank: Global Findex database,https://datacatalog.worldbank.org,Index,population_digital_financial_services,Digital Payments
165,Made or received digital payments in the past ...,Foundations,World Bank: Global Findex database,https://datacatalog.worldbank.org,Index,population_digital_financial_services,Digital Payments
166,Made or received digital payments in the past ...,Foundations,World Bank: Global Findex database,https://datacatalog.worldbank.org,Index,population_digital_financial_services,Digital Payments
169,Used a mobile phone or the internet to check a...,Foundations,World Bank: Global Findex database,https://datacatalog.worldbank.org,Index,population_digital_financial_services,Digital Payments
171,% Making online transactions - Men,Foundations,World Bank: Global Findex database,https://datacatalog.worldbank.org,Index,population_digital_financial_services,Digital Payments
172,% Making online transactions - Women,Foundations,World Bank: Global Findex database,https://datacatalog.worldbank.org,Index,population_digital_financial_services,Digital Payments
173,% of population with digital finance account -...,Foundations,World Bank: Global Findex database,https://datacatalog.worldbank.org,Index,population_digital_financial_services,Digital Payments
178,% of population with ID (all),Foundations,World Bank: Identification For Development (ID4D),https://datacatalog.worldbank.org,Index,id4d_nid,Digital Legal Identity
179,% of population with ID (female),Foundations,World Bank: Identification For Development (ID4D),https://datacatalog.worldbank.org,Index,id4d_nid,Digital Legal Identity
181,can ID be used for transactions,Foundations,World Bank: Identification For Development (ID4D),https://datacatalog.worldbank.org,Index,id4d_services,Digital Legal Identity
182,Is personal data siloed,Foundations,World Bank: GovTech Dataset,https://datacatalog.worldbank.org,NaN,Egov_strategy,Digital Legal Identity
183,Open data index,Foundations,Open Knowledge Foundation: Global Open Data Index,https://index.okfn.org,Index,open_data_idx,Data Exchange

In [10]:
# get list of names for all indicators
indicators = bnames.Indicator.unique()
subpillars = bnames['Sub-Pillar'].unique()

In [11]:
# get all file names
bfiles = bnames.Filename.unique()

In [12]:
bfiles

array(['digital_payments_penetration',
       'population_digital_financial_services', 'id4d_nid',
       'id4d_services', 'Egov_strategy', 'open_data_idx'], dtype=object)

In [13]:
subpillars

array(['Digital Payments', 'Digital Legal Identity', 'Data Exchange'],
      dtype=object)

In [14]:
# ls digital-readiness-assessment-main/processed/

In [15]:
##ict_goods and services not in process data

In [16]:
# formula for converting scale 0-100
def convert_rank(old_value, old_min=0, old_max=100, new_min=1, new_max=6 ):
    """ Convert old scale values scale into new scale values"""
    old_range = old_max - old_min
    new_range = new_max - new_min
    new_value = (((old_value-old_min)*new_range)/old_range)+new_min
    return new_value

In [17]:
# formula for converting scale 0-100
def convert_rank_b(old_value, old_min= -0.04, old_max= 0.02, new_min=1, new_max=6 ):
    """ Convert old scale values scale into new scale values"""
    old_range = old_max - old_min
    new_range = new_max - new_min
    new_value = (((old_value-old_min)*new_range)/old_range)+new_min
    return new_value

### 1. Digital payments penetration

In [18]:
indicators[0]
subpillars[0]

'Digital Payments'

In [19]:
# load data
indicator = indicators[0]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

subpillar = subpillars[0]
print(subpillar)

Digital payments penetration
digital_payments_penetration
Digital Payments

In [20]:
df.head()

   RANK COUNTRY/ECONOMY  VALUE   SCORE
0   1.0          Norway   0.85  100.00
1   2.0         Denmark   0.83   97.24
2   3.0         Finland   0.80   93.95
3   4.0          Sweden   0.80   93.08
4   5.0     Netherlands   0.76   89.01

In [21]:
# score looks like the one to use
df.describe()

             RANK       VALUE       SCORE
count  122.000000  122.000000  122.000000
mean    61.500000    0.315738   36.076967
std     35.362409    0.209012   24.867406
min      1.000000    0.010000    0.000000
25%     31.250000    0.150000   16.235000
50%     61.500000    0.270000   30.870000
75%     91.750000    0.440000   51.110000
max    122.000000    0.850000  100.000000

In [22]:
# df.Indicator.unique()

In [23]:
# create standard columns
df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['SCORE'] 
df['Sub-Pillar'] = subpillar
df['Year'] = 2017


min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 1-100 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [24]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']].head(15)
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,Norway,2017,Digital payments penetration,100.00,6.0000,True,Digital Payments
1,Denmark,2017,Digital payments penetration,97.24,5.8620,True,Digital Payments
2,Finland,2017,Digital payments penetration,93.95,5.6975,True,Digital Payments
3,Sweden,2017,Digital payments penetration,93.08,5.6540,True,Digital Payments
4,Netherlands,2017,Digital payments penetration,89.01,5.4505,True,Digital Payments
5,New Zealand,2017,Digital payments penetration,86.73,5.3365,True,Digital Payments
6,United States,2017,Digital payments penetration,84.40,5.2200,True,Digital Payments
7,Estonia,2017,Digital payments penetration,82.82,5.1410,True,Digital Payments
8,"Korea, Rep.",2017,Digital payments penetration,82.64,5.1320,True,Digital Payments
9,Canada,2017,Digital payments penetration,81.53,5.0765,True,Digital Payments
10,Australia,2017,Digital payments penetration,79.37,4.9685,True,Digital Payments
11,Czech Republic,2017,Digital payments penetration,75.65,4.7825,True,Digital Payments
12,Belgium,2017,Digital payments penetration,73.15,4.6575,True,Digital Payments
13,Germany,2017,Digital payments penetration,71.20,4.5600,True,Digital Payments
14,Poland,2017,Digital payments penetration,70.34,4.5170,True,Digital Payments

In [25]:
# output scores to csv
df.to_csv('../indicator_scores/foundations_{}_scores.csv'.format(indicator), index=False)

## 2. % of population with digital finance account - registered

In [26]:
indicator = indicators[1]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

subpillars[0]
subpillar = subpillars[0]
print(subpillar)

% of population with digital finance account
population_digital_financial_services
Digital Payments

In [27]:
df.head(15)

,Year,ISO,Country Name,Region,Income Group,Account (% age 15+),"Account, male (% age 15+)","Account, in labor force (% age 15+)","Account, out of labor force (% age 15+)","Account, female (% age 15+)",...,"Mobile money account, female (% age 15+)","Mobile money account, young adults (% age 15-24)","Mobile money account, older adults (% age 25+)","Mobile money account, primary education or less (% age 15+)","Mobile money account, secondary education or less (% age 15+)","Mobile money account, income, poorest 40% (% age 15+)","Mobile money account, income, richest 60% (% age 15+)","Mobile money account, rural (% age 15+)",data_country,data_year
0,2011,AFG,Afghanistan,South Asia,Low income,9%,15%,15%,2%,3%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014,AFG,Afghanistan,South Asia,Low income,10%,16%,15%,4%,4%,...,0%,0%,0%,0%,0%,0%,1%,0%,NaN,NaN
2,2017,AFG,Afghanistan,South Asia,Low income,15%,23%,25%,4%,7%,...,1%,0%,1%,0%,2%,0%,1%,1%,NaN,NaN
3,2011,AGO,Angola,Sub-Saharan Africa (excluding high income),Lower middle income,39%,39%,46%,31%,39%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014,AGO,Angola,Sub-Saharan Africa (excluding high income),Lower middle income,29%,36%,36%,12%,22%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2011,ALB,Albania,Europe & Central Asia (excluding high income),Upper middle income,28%,34%,36%,15%,23%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2014,ALB,Albania,Europe & Central Asia (excluding high income),Upper middle income,38%,43%,44%,29%,34%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2017,ALB,Albania,Europe & Central Asia (excluding high income),Upper middle income,40%,42%,53%,27%,38%,...,2%,6%,1%,1%,4%,0%,4%,2%,NaN,NaN
8,2011,ARB,Arab world,NaN,NaN,22%,30%,33%,11%,14%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2014,ARB,Arab world,NaN,NaN,30%,38%,42%,18%,22%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2017,ARB,Arab world,NaN,NaN,37%,48%,51%,24%,26%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2011,ARE,United Arab Emirates,High income,High income,60%,69%,80%,24%,47%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2014,ARE,United Arab Emirates,High income,High income,84%,90%,91%,49%,68%,...,10%,10%,12%,7%,12%,7%,15%,16%,NaN,NaN
13,2017,ARE,United Arab Emirates,High income,High income,88%,93%,93%,57%,76%,...,18%,10%,22%,9%,22%,16%,25%,14%,NaN,NaN
14,2011,ARG,Argentina,Latin America & Caribbean (excluding high income),Upper middle income,33%,35%,37%,28%,32%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df = df[(df.Year == 2017)]

# Must convert the data to float by removing the % sign
df['Account (% age 15+)'] = df['Account (% age 15+)'].str.replace('%','')
df['Account (% age 15+)'] = df['Account (% age 15+)'].astype(float)

In [29]:
# create standard columns
df.rename(columns={'Country':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Account (% age 15+)'] 
df['Sub-Pillar'] = subpillar


min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 1-20 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [30]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
2,Afghanistan,2017,% of population with digital finance account,15.0,1.75,True,Digital Payments
7,Albania,2017,% of population with digital finance account,40.0,3.00,True,Digital Payments
10,Arab world,2017,% of population with digital finance account,37.0,2.85,True,Digital Payments
13,United Arab Emirates,2017,% of population with digital finance account,88.0,5.40,True,Digital Payments
16,Argentina,2017,% of population with digital finance account,49.0,3.45,True,Digital Payments
...,...,...,...,...,...,...,...
479,World,2017,% of population with digital finance account,69.0,4.45,True,Digital Payments
482,Kosovo,2017,% of population with digital finance account,52.0,3.60,True,Digital Payments
487,South Africa,2017,% of population with digital finance account,69.0,4.45,True,Digital Payments
490,Zambia,2017,% of population with digital finance account,46.0,3.30,True,Digital Payments
493,Zimbabwe,2017,% of population with digital finance account,55.0,3.75,True,Digital Payments

In [31]:
# output scores
df.to_csv('../indicator_scores/foundations_{}_scores.csv'.format(indicator), index=False)

In [32]:
## 3. Made or received digital payments in the past year (% age 15+) - all

In [33]:
indicator = indicators[2]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Made or received digital payments in the past year (% age 15+) - all
population_digital_financial_services
Digital Payments

In [34]:
df.head(15)

,Year,ISO,Country Name,Region,Income Group,Account (% age 15+),"Account, male (% age 15+)","Account, in labor force (% age 15+)","Account, out of labor force (% age 15+)","Account, female (% age 15+)",...,"Mobile money account, female (% age 15+)","Mobile money account, young adults (% age 15-24)","Mobile money account, older adults (% age 25+)","Mobile money account, primary education or less (% age 15+)","Mobile money account, secondary education or less (% age 15+)","Mobile money account, income, poorest 40% (% age 15+)","Mobile money account, income, richest 60% (% age 15+)","Mobile money account, rural (% age 15+)",data_country,data_year
0,2011,AFG,Afghanistan,South Asia,Low income,9%,15%,15%,2%,3%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014,AFG,Afghanistan,South Asia,Low income,10%,16%,15%,4%,4%,...,0%,0%,0%,0%,0%,0%,1%,0%,NaN,NaN
2,2017,AFG,Afghanistan,South Asia,Low income,15%,23%,25%,4%,7%,...,1%,0%,1%,0%,2%,0%,1%,1%,NaN,NaN
3,2011,AGO,Angola,Sub-Saharan Africa (excluding high income),Lower middle income,39%,39%,46%,31%,39%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014,AGO,Angola,Sub-Saharan Africa (excluding high income),Lower middle income,29%,36%,36%,12%,22%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2011,ALB,Albania,Europe & Central Asia (excluding high income),Upper middle income,28%,34%,36%,15%,23%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2014,ALB,Albania,Europe & Central Asia (excluding high income),Upper middle income,38%,43%,44%,29%,34%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2017,ALB,Albania,Europe & Central Asia (excluding high income),Upper middle income,40%,42%,53%,27%,38%,...,2%,6%,1%,1%,4%,0%,4%,2%,NaN,NaN
8,2011,ARB,Arab world,NaN,NaN,22%,30%,33%,11%,14%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2014,ARB,Arab world,NaN,NaN,30%,38%,42%,18%,22%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2017,ARB,Arab world,NaN,NaN,37%,48%,51%,24%,26%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2011,ARE,United Arab Emirates,High income,High income,60%,69%,80%,24%,47%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2014,ARE,United Arab Emirates,High income,High income,84%,90%,91%,49%,68%,...,10%,10%,12%,7%,12%,7%,15%,16%,NaN,NaN
13,2017,ARE,United Arab Emirates,High income,High income,88%,93%,93%,57%,76%,...,18%,10%,22%,9%,22%,16%,25%,14%,NaN,NaN
14,2011,ARG,Argentina,Latin America & Caribbean (excluding high income),Upper middle income,33%,35%,37%,28%,32%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
df = df[(df.Year == 2017)]

# Must convert the data to float by removing the % sign
df['Made or received digital payments in the past year (% age 15+)'] = df['Made or received digital payments in the past year (% age 15+)'].str.replace('%','')
df['Made or received digital payments in the past year (% age 15+)'] = df['Made or received digital payments in the past year (% age 15+)'].astype(float)

In [36]:
# create standard columns
df.rename(columns={'Country':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Made or received digital payments in the past year (% age 15+)'] 
df['Sub-Pillar'] = subpillar


min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 1-20 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [37]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
2,Afghanistan,2017,Made or received digital payments in the past ...,11.0,1.55,True,Digital Payments
7,Albania,2017,Made or received digital payments in the past ...,29.0,2.45,True,Digital Payments
10,Arab world,2017,Made or received digital payments in the past ...,26.0,2.30,True,Digital Payments
13,United Arab Emirates,2017,Made or received digital payments in the past ...,84.0,5.20,True,Digital Payments
16,Argentina,2017,Made or received digital payments in the past ...,40.0,3.00,True,Digital Payments
...,...,...,...,...,...,...,...
479,World,2017,Made or received digital payments in the past ...,52.0,3.60,True,Digital Payments
482,Kosovo,2017,Made or received digital payments in the past ...,39.0,2.95,True,Digital Payments
487,South Africa,2017,Made or received digital payments in the past ...,60.0,4.00,True,Digital Payments
490,Zambia,2017,Made or received digital payments in the past ...,39.0,2.95,True,Digital Payments
493,Zimbabwe,2017,Made or received digital payments in the past ...,53.0,3.65,True,Digital Payments

In [38]:
# output scores
df.to_csv('../indicator_scores/foundations_{}_scores.csv'.format(indicator), index=False)

In [39]:
## 4. Made or received digital payments in the past year (% age 15+) - female

In [40]:
indicator = indicators[3]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Made or received digital payments in the past year (% age 15+) - female
population_digital_financial_services
Digital Payments

In [41]:
df.head(15)

,Year,ISO,Country Name,Region,Income Group,Account (% age 15+),"Account, male (% age 15+)","Account, in labor force (% age 15+)","Account, out of labor force (% age 15+)","Account, female (% age 15+)",...,"Mobile money account, female (% age 15+)","Mobile money account, young adults (% age 15-24)","Mobile money account, older adults (% age 25+)","Mobile money account, primary education or less (% age 15+)","Mobile money account, secondary education or less (% age 15+)","Mobile money account, income, poorest 40% (% age 15+)","Mobile money account, income, richest 60% (% age 15+)","Mobile money account, rural (% age 15+)",data_country,data_year
0,2011,AFG,Afghanistan,South Asia,Low income,9%,15%,15%,2%,3%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014,AFG,Afghanistan,South Asia,Low income,10%,16%,15%,4%,4%,...,0%,0%,0%,0%,0%,0%,1%,0%,NaN,NaN
2,2017,AFG,Afghanistan,South Asia,Low income,15%,23%,25%,4%,7%,...,1%,0%,1%,0%,2%,0%,1%,1%,NaN,NaN
3,2011,AGO,Angola,Sub-Saharan Africa (excluding high income),Lower middle income,39%,39%,46%,31%,39%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014,AGO,Angola,Sub-Saharan Africa (excluding high income),Lower middle income,29%,36%,36%,12%,22%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2011,ALB,Albania,Europe & Central Asia (excluding high income),Upper middle income,28%,34%,36%,15%,23%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2014,ALB,Albania,Europe & Central Asia (excluding high income),Upper middle income,38%,43%,44%,29%,34%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2017,ALB,Albania,Europe & Central Asia (excluding high income),Upper middle income,40%,42%,53%,27%,38%,...,2%,6%,1%,1%,4%,0%,4%,2%,NaN,NaN
8,2011,ARB,Arab world,NaN,NaN,22%,30%,33%,11%,14%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2014,ARB,Arab world,NaN,NaN,30%,38%,42%,18%,22%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2017,ARB,Arab world,NaN,NaN,37%,48%,51%,24%,26%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2011,ARE,United Arab Emirates,High income,High income,60%,69%,80%,24%,47%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2014,ARE,United Arab Emirates,High income,High income,84%,90%,91%,49%,68%,...,10%,10%,12%,7%,12%,7%,15%,16%,NaN,NaN
13,2017,ARE,United Arab Emirates,High income,High income,88%,93%,93%,57%,76%,...,18%,10%,22%,9%,22%,16%,25%,14%,NaN,NaN
14,2011,ARG,Argentina,Latin America & Caribbean (excluding high income),Upper middle income,33%,35%,37%,28%,32%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
df = df[(df.Year == 2017)]

# Must convert the data to float by removing the % sign
df['Made or received digital payments in the past year, female  (% age 15+)'] = df['Made or received digital payments in the past year, female  (% age 15+)'].str.replace('%','')
df['Made or received digital payments in the past year, female  (% age 15+)'] = df['Made or received digital payments in the past year, female  (% age 15+)'].astype(float)

In [43]:
# create standard columns
df.rename(columns={'Country':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Made or received digital payments in the past year, female  (% age 15+)'] 
df['Sub-Pillar'] = subpillar


min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 1-20 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [44]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
2,Afghanistan,2017,Made or received digital payments in the past ...,4.0,1.20,True,Digital Payments
7,Albania,2017,Made or received digital payments in the past ...,28.0,2.40,True,Digital Payments
10,Arab world,2017,Made or received digital payments in the past ...,16.0,1.80,True,Digital Payments
13,United Arab Emirates,2017,Made or received digital payments in the past ...,68.0,4.40,True,Digital Payments
16,Argentina,2017,Made or received digital payments in the past ...,42.0,3.10,True,Digital Payments
...,...,...,...,...,...,...,...
479,World,2017,Made or received digital payments in the past ...,49.0,3.45,True,Digital Payments
482,Kosovo,2017,Made or received digital payments in the past ...,29.0,2.45,True,Digital Payments
487,South Africa,2017,Made or received digital payments in the past ...,61.0,4.05,True,Digital Payments
490,Zambia,2017,Made or received digital payments in the past ...,35.0,2.75,True,Digital Payments
493,Zimbabwe,2017,Made or received digital payments in the past ...,49.0,3.45,True,Digital Payments

In [45]:
# output scores
df.to_csv('../indicator_scores/foundations_{}_scores.csv'.format(indicator), index=False)

In [46]:
## 5. Used a mobile phone or the internet to check account balance in the past year (% age 15+) - all

In [47]:
indicator = indicators[4]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Used a mobile phone or the internet to check account balance in the past year (% age 15+) - all
population_digital_financial_services
Digital Payments

In [48]:
df.head(15)

,Year,ISO,Country Name,Region,Income Group,Account (% age 15+),"Account, male (% age 15+)","Account, in labor force (% age 15+)","Account, out of labor force (% age 15+)","Account, female (% age 15+)",...,"Mobile money account, female (% age 15+)","Mobile money account, young adults (% age 15-24)","Mobile money account, older adults (% age 25+)","Mobile money account, primary education or less (% age 15+)","Mobile money account, secondary education or less (% age 15+)","Mobile money account, income, poorest 40% (% age 15+)","Mobile money account, income, richest 60% (% age 15+)","Mobile money account, rural (% age 15+)",data_country,data_year
0,2011,AFG,Afghanistan,South Asia,Low income,9%,15%,15%,2%,3%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014,AFG,Afghanistan,South Asia,Low income,10%,16%,15%,4%,4%,...,0%,0%,0%,0%,0%,0%,1%,0%,NaN,NaN
2,2017,AFG,Afghanistan,South Asia,Low income,15%,23%,25%,4%,7%,...,1%,0%,1%,0%,2%,0%,1%,1%,NaN,NaN
3,2011,AGO,Angola,Sub-Saharan Africa (excluding high income),Lower middle income,39%,39%,46%,31%,39%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014,AGO,Angola,Sub-Saharan Africa (excluding high income),Lower middle income,29%,36%,36%,12%,22%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2011,ALB,Albania,Europe & Central Asia (excluding high income),Upper middle income,28%,34%,36%,15%,23%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2014,ALB,Albania,Europe & Central Asia (excluding high income),Upper middle income,38%,43%,44%,29%,34%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2017,ALB,Albania,Europe & Central Asia (excluding high income),Upper middle income,40%,42%,53%,27%,38%,...,2%,6%,1%,1%,4%,0%,4%,2%,NaN,NaN
8,2011,ARB,Arab world,NaN,NaN,22%,30%,33%,11%,14%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2014,ARB,Arab world,NaN,NaN,30%,38%,42%,18%,22%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2017,ARB,Arab world,NaN,NaN,37%,48%,51%,24%,26%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2011,ARE,United Arab Emirates,High income,High income,60%,69%,80%,24%,47%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2014,ARE,United Arab Emirates,High income,High income,84%,90%,91%,49%,68%,...,10%,10%,12%,7%,12%,7%,15%,16%,NaN,NaN
13,2017,ARE,United Arab Emirates,High income,High income,88%,93%,93%,57%,76%,...,18%,10%,22%,9%,22%,16%,25%,14%,NaN,NaN
14,2011,ARG,Argentina,Latin America & Caribbean (excluding high income),Upper middle income,33%,35%,37%,28%,32%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
df = df[(df.Year == 2017)]

# Must convert the data to float by removing the % sign
df['Used a mobile phone or the internet to check account balance in the past year (% age 15+)'] = df['Used a mobile phone or the internet to check account balance in the past year (% age 15+)'].str.replace('%','')
df['Used a mobile phone or the internet to check account balance in the past year (% age 15+)'] = df['Used a mobile phone or the internet to check account balance in the past year (% age 15+)'].astype(float)

In [50]:
# create standard columns
df.rename(columns={'Country':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Used a mobile phone or the internet to check account balance in the past year (% age 15+)'] 
df['Sub-Pillar'] = subpillar


min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 1-20 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [51]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
2,Afghanistan,2017,Used a mobile phone or the internet to check a...,3.0,1.15,True,Digital Payments
7,Albania,2017,Used a mobile phone or the internet to check a...,5.0,1.25,True,Digital Payments
10,Arab world,2017,Used a mobile phone or the internet to check a...,8.0,1.40,True,Digital Payments
13,United Arab Emirates,2017,Used a mobile phone or the internet to check a...,53.0,3.65,True,Digital Payments
16,Argentina,2017,Used a mobile phone or the internet to check a...,10.0,1.50,True,Digital Payments
...,...,...,...,...,...,...,...
479,World,2017,Used a mobile phone or the internet to check a...,25.0,2.25,True,Digital Payments
482,Kosovo,2017,Used a mobile phone or the internet to check a...,10.0,1.50,True,Digital Payments
487,South Africa,2017,Used a mobile phone or the internet to check a...,25.0,2.25,True,Digital Payments
490,Zambia,2017,Used a mobile phone or the internet to check a...,15.0,1.75,True,Digital Payments
493,Zimbabwe,2017,Used a mobile phone or the internet to check a...,15.0,1.75,True,Digital Payments

In [52]:
# output scores
df.to_csv('../indicator_scores/foundations_{}_scores.csv'.format(indicator), index=False)

In [53]:
## 6. % Making online transactions - Men

In [54]:
indicator = indicators[5]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

subpillars[0]
subpillar = subpillars[0]
print(subpillar)

% Making online transactions - Men
population_digital_financial_services
Digital Payments

In [55]:
df = df[(df.Year == 2017)]

# Must convert the data to float by removing the % sign
df['Used the internet to pay bills or to buy something online in the past year, male (% age 15+)'] = df['Used the internet to pay bills or to buy something online in the past year, male (% age 15+)'].str.replace('%','')
df['Used the internet to pay bills or to buy something online in the past year, male (% age 15+)'] = df['Used the internet to pay bills or to buy something online in the past year, male (% age 15+)'].astype(float)

In [56]:
#create standard columns
df.rename(columns={'Country':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Used the internet to pay bills or to buy something online in the past year, male (% age 15+)'] 
df['Sub-Pillar'] = subpillar


min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 1-20 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [57]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
2,Afghanistan,2017,% Making online transactions - Men,1.0,1.05,True,Digital Payments
7,Albania,2017,% Making online transactions - Men,9.0,1.45,True,Digital Payments
10,Arab world,2017,% Making online transactions - Men,12.0,1.60,True,Digital Payments
13,United Arab Emirates,2017,% Making online transactions - Men,62.0,4.10,True,Digital Payments
16,Argentina,2017,% Making online transactions - Men,21.0,2.05,True,Digital Payments
...,...,...,...,...,...,...,...
479,World,2017,% Making online transactions - Men,30.0,2.50,True,Digital Payments
482,Kosovo,2017,% Making online transactions - Men,18.0,1.90,True,Digital Payments
487,South Africa,2017,% Making online transactions - Men,17.0,1.85,True,Digital Payments
490,Zambia,2017,% Making online transactions - Men,14.0,1.70,True,Digital Payments
493,Zimbabwe,2017,% Making online transactions - Men,13.0,1.65,True,Digital Payments

In [58]:
df.to_csv('../indicator_scores/foundations_Making online transactions - Men_scores.csv', index=False)

In [59]:
## 7. % Making online transactions - Women

In [60]:
indicator = indicators[6]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

subpillars[0]
subpillar = subpillars[0]
print(subpillar)

% Making online transactions - Women
population_digital_financial_services
Digital Payments

In [61]:
df = df[(df.Year == 2017)]

# Must convert the data to float by removing the % sign
df['Used the internet to pay bills or to buy something online in the past year, female (% age 15+)'] = df['Used the internet to pay bills or to buy something online in the past year, female (% age 15+)'].str.replace('%','')
df['Used the internet to pay bills or to buy something online in the past year, female (% age 15+)'] = df['Used the internet to pay bills or to buy something online in the past year, female (% age 15+)'].astype(float)

In [62]:
#create standard columns
df.rename(columns={'Country':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Used the internet to pay bills or to buy something online in the past year, female (% age 15+)'] 
df['Sub-Pillar'] = subpillar


min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 1-20 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [63]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
2,Afghanistan,2017,% Making online transactions - Women,0.0,1.00,True,Digital Payments
7,Albania,2017,% Making online transactions - Women,6.0,1.30,True,Digital Payments
10,Arab world,2017,% Making online transactions - Women,6.0,1.30,True,Digital Payments
13,United Arab Emirates,2017,% Making online transactions - Women,54.0,3.70,True,Digital Payments
16,Argentina,2017,% Making online transactions - Women,16.0,1.80,True,Digital Payments
...,...,...,...,...,...,...,...
479,World,2017,% Making online transactions - Women,28.0,2.40,True,Digital Payments
482,Kosovo,2017,% Making online transactions - Women,12.0,1.60,True,Digital Payments
487,South Africa,2017,% Making online transactions - Women,12.0,1.60,True,Digital Payments
490,Zambia,2017,% Making online transactions - Women,9.0,1.45,True,Digital Payments
493,Zimbabwe,2017,% Making online transactions - Women,6.0,1.30,True,Digital Payments

In [64]:
df.to_csv('../indicator_scores/foundations_{}_scores.csv'.format(indicator), index=False)

## 8. % of population with digital finance account - registered

In [65]:
indicator = indicators[7]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

subpillars[0]
subpillar = subpillars[0]
print(subpillar)

% of population with digital finance account - registered
population_digital_financial_services
Digital Payments

In [66]:
df.head()

,Year,ISO,Country Name,Region,Income Group,Account (% age 15+),"Account, male (% age 15+)","Account, in labor force (% age 15+)","Account, out of labor force (% age 15+)","Account, female (% age 15+)",...,"Mobile money account, female (% age 15+)","Mobile money account, young adults (% age 15-24)","Mobile money account, older adults (% age 25+)","Mobile money account, primary education or less (% age 15+)","Mobile money account, secondary education or less (% age 15+)","Mobile money account, income, poorest 40% (% age 15+)","Mobile money account, income, richest 60% (% age 15+)","Mobile money account, rural (% age 15+)",data_country,data_year
0,2011,AFG,Afghanistan,South Asia,Low income,9%,15%,15%,2%,3%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014,AFG,Afghanistan,South Asia,Low income,10%,16%,15%,4%,4%,...,0%,0%,0%,0%,0%,0%,1%,0%,NaN,NaN
2,2017,AFG,Afghanistan,South Asia,Low income,15%,23%,25%,4%,7%,...,1%,0%,1%,0%,2%,0%,1%,1%,NaN,NaN
3,2011,AGO,Angola,Sub-Saharan Africa (excluding high income),Lower middle income,39%,39%,46%,31%,39%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014,AGO,Angola,Sub-Saharan Africa (excluding high income),Lower middle income,29%,36%,36%,12%,22%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
df = df[(df.Year == 2017)]

# Must convert the data to float by removing the % sign
df['Financial institution account (% age 15+) '] = df['Financial institution account (% age 15+) '].str.replace('%','')
df['Financial institution account (% age 15+) '] = df['Financial institution account (% age 15+) '].astype(float)

In [68]:
# create standard columns
df.rename(columns={'Country':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Financial institution account (% age 15+) '] 
df['Sub-Pillar'] = subpillar


min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 1-20 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [69]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
2,Afghanistan,2017,% of population with digital finance account -...,15.0,1.75,True,Digital Payments
7,Albania,2017,% of population with digital finance account -...,39.0,2.95,True,Digital Payments
10,Arab world,2017,% of population with digital finance account -...,37.0,2.85,True,Digital Payments
13,United Arab Emirates,2017,% of population with digital finance account -...,87.0,5.35,True,Digital Payments
16,Argentina,2017,% of population with digital finance account -...,48.0,3.40,True,Digital Payments
...,...,...,...,...,...,...,...
479,World,2017,% of population with digital finance account -...,67.0,4.35,True,Digital Payments
482,Kosovo,2017,% of population with digital finance account -...,52.0,3.60,True,Digital Payments
487,South Africa,2017,% of population with digital finance account -...,67.0,4.35,True,Digital Payments
490,Zambia,2017,% of population with digital finance account -...,36.0,2.80,True,Digital Payments
493,Zimbabwe,2017,% of population with digital finance account -...,28.0,2.40,True,Digital Payments

In [70]:
# output scores
df.to_csv('../indicator_scores/foundations_Financial institution account_scores.csv')

## 9. % of population with ID (Total)

In [71]:
indicator = indicators[8]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))


subpillars[1]
subpillar = subpillars[1]
print(subpillar)

% of population with ID (all)
id4d_nid
Digital Legal Identity

In [72]:
df.head(15)

,id,Economy,Country Code,Region,Income,OECD,Lending category,Other,GCC adjusted,Inclusion Criteria,...,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
0,1,Afghanistan,AFG,SAS,LIC,NaN,IDA,HIPC,NaN,INCLUDE,...,Voter,"13,549,892","7,296,096","36,373,176","18,191,591","9,336,665","8,854,905","18,181,585","9,398,623","8,782,976"
1,2,Albania,ALB,ECS,UMC,NaN,IBRD,NaN,NaN,INCLUDE,...,Direct,"2,267,673","2,188,099","2,934,363","540,349","280,793","259,561","2,394,014","1,199,481","1,194,510"
2,3,Algeria,DZA,MEA,UMC,NaN,IBRD,NaN,NaN,INCLUDE,...,Voter,NaN,NaN,"42,008,054","14,075,724","7,181,719","6,894,010","27,932,330","14,033,462","13,898,865"
3,4,Andorra,AND,ECS,HIC,NaN,..,NaN,NaN,EXCLUDE,...,Voter,NaN,NaN,"80,209","13,580","6,971","6,609","66,629","34,060","32,569"
4,5,Angola,AGO,SSF,LMC,NaN,IBRD,NaN,NaN,INCLUDE,...,Voter,NaN,NaN,"30,774,205","16,389,360","8,157,462","8,231,869","14,384,845","6,937,053","7,447,820"
5,6,Antigua and Barbuda,ATG,LCN,HIC,NaN,IBRD,NaN,NaN,INCLUDE,...,Voter,NaN,NaN,"103,050","29,388","14,745","14,644","73,662","34,732","38,932"
6,7,Argentina,ARG,LCN,UMC,NaN,IBRD,NaN,NaN,INCLUDE,...,Voter,NaN,NaN,"44,688,864","11,751,904","5,977,086","5,774,773","32,936,960","15,898,099","17,038,900"
7,8,Armenia,ARM,ECS,LMC,NaN,IBRD,NaN,NaN,INCLUDE,...,Voter,NaN,NaN,"2,934,152","689,894","367,840","322,065","2,244,258","1,012,449","1,231,792"
8,9,Australia,AUS,EAS,HIC,OECD,..,NaN,NaN,EXCLUDE,...,Voter,"7,847,109","8,269,334","24,772,247","5,624,607","2,884,647","2,739,917","19,147,640","9,456,278","9,691,403"
9,10,Austria,AUT,ECS,HIC,OECD,..,EMU,NaN,EXCLUDE,...,Voter,"3,093,348","3,307,645","8,751,820","1,318,229","676,854","641,377","7,433,591","3,617,222","3,816,362"
10,11,Azerbaijan,AZE,ECS,UMC,NaN,IBRD,NaN,NaN,INCLUDE,...,Voter,"2,696,131","2,613,303","9,923,914","2,695,225","1,440,683","1,254,544","7,228,689","3,504,218","3,724,469"
11,12,"Bahamas, The",BHS,LCN,HIC,NaN,..,NaN,NaN,INCLUDE,...,Voter,NaN,NaN,"399,285","97,109","49,717","47,392","302,176","145,810","156,371"
12,13,Bahrain,BHR,MEA,HIC,NaN,..,NaN,NaN,INCLUDE,...,Direct,"951,312","549,804","1,566,993",0,0,0,"1,566,993","993,102","573,892"
13,14,Bangladesh,BGD,SAS,LMC,NaN,IDA,NaN,NaN,INCLUDE,...,Voter,NaN,NaN,"166,368,149","56,110,211","28,671,689","27,438,536","110,257,938","55,189,006","55,068,922"
14,15,Barbados,BRB,LCN,HIC,NaN,..,NaN,NaN,INCLUDE,...,Voter,NaN,NaN,"286,388","65,411","33,408","32,004","220,977","103,644","117,324"

In [73]:
# create standard columns
df.rename(columns={'Country':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
# Subtract the unregister proportion column by 100 and absolute the value
df['data_col'] = df['UP in % of Country Population'].sub(100).abs()
df ['Year'] = 2018
df['Country Name'] = df.iloc[:,1]
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 1-20 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [74]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,Afghanistan,2018,% of population with ID (all),67,4.35,True,Digital Legal Identity
1,Albania,2018,% of population with ID (all),100,6.00,True,Digital Legal Identity
2,Algeria,2018,% of population with ID (all),89,5.45,True,Digital Legal Identity
3,Andorra,2018,% of population with ID (all),47,3.35,True,Digital Legal Identity
4,Angola,2018,% of population with ID (all),44,3.20,True,Digital Legal Identity
...,...,...,...,...,...,...,...
193,"Venezuela, RB",2018,% of population with ID (all),87,5.35,True,Digital Legal Identity
194,Vietnam,2018,% of population with ID (all),96,5.80,True,Digital Legal Identity
195,"Yemen, Rep.",2018,% of population with ID (all),50,3.50,True,Digital Legal Identity
196,Zambia,2018,% of population with ID (all),44,3.20,True,Digital Legal Identity
197,Zimbabwe,2018,% of population with ID (all),58,3.90,True,Digital Legal Identity

In [75]:
# output scores
df.to_csv('../indicator_scores/foundations_{}_scores.csv'.format(indicator), index=False)

## 10. % of population with ID (Female)

In [76]:
indicator = indicators[9]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

subpillars[1]
subpillar = subpillars[1]
print(subpillar)

% of population with ID (female)
id4d_nid
Digital Legal Identity

In [77]:
df.head(15)

,id,Economy,Country Code,Region,Income,OECD,Lending category,Other,GCC adjusted,Inclusion Criteria,...,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
0,1,Afghanistan,AFG,SAS,LIC,NaN,IDA,HIPC,NaN,INCLUDE,...,Voter,"13,549,892","7,296,096","36,373,176","18,191,591","9,336,665","8,854,905","18,181,585","9,398,623","8,782,976"
1,2,Albania,ALB,ECS,UMC,NaN,IBRD,NaN,NaN,INCLUDE,...,Direct,"2,267,673","2,188,099","2,934,363","540,349","280,793","259,561","2,394,014","1,199,481","1,194,510"
2,3,Algeria,DZA,MEA,UMC,NaN,IBRD,NaN,NaN,INCLUDE,...,Voter,NaN,NaN,"42,008,054","14,075,724","7,181,719","6,894,010","27,932,330","14,033,462","13,898,865"
3,4,Andorra,AND,ECS,HIC,NaN,..,NaN,NaN,EXCLUDE,...,Voter,NaN,NaN,"80,209","13,580","6,971","6,609","66,629","34,060","32,569"
4,5,Angola,AGO,SSF,LMC,NaN,IBRD,NaN,NaN,INCLUDE,...,Voter,NaN,NaN,"30,774,205","16,389,360","8,157,462","8,231,869","14,384,845","6,937,053","7,447,820"
5,6,Antigua and Barbuda,ATG,LCN,HIC,NaN,IBRD,NaN,NaN,INCLUDE,...,Voter,NaN,NaN,"103,050","29,388","14,745","14,644","73,662","34,732","38,932"
6,7,Argentina,ARG,LCN,UMC,NaN,IBRD,NaN,NaN,INCLUDE,...,Voter,NaN,NaN,"44,688,864","11,751,904","5,977,086","5,774,773","32,936,960","15,898,099","17,038,900"
7,8,Armenia,ARM,ECS,LMC,NaN,IBRD,NaN,NaN,INCLUDE,...,Voter,NaN,NaN,"2,934,152","689,894","367,840","322,065","2,244,258","1,012,449","1,231,792"
8,9,Australia,AUS,EAS,HIC,OECD,..,NaN,NaN,EXCLUDE,...,Voter,"7,847,109","8,269,334","24,772,247","5,624,607","2,884,647","2,739,917","19,147,640","9,456,278","9,691,403"
9,10,Austria,AUT,ECS,HIC,OECD,..,EMU,NaN,EXCLUDE,...,Voter,"3,093,348","3,307,645","8,751,820","1,318,229","676,854","641,377","7,433,591","3,617,222","3,816,362"
10,11,Azerbaijan,AZE,ECS,UMC,NaN,IBRD,NaN,NaN,INCLUDE,...,Voter,"2,696,131","2,613,303","9,923,914","2,695,225","1,440,683","1,254,544","7,228,689","3,504,218","3,724,469"
11,12,"Bahamas, The",BHS,LCN,HIC,NaN,..,NaN,NaN,INCLUDE,...,Voter,NaN,NaN,"399,285","97,109","49,717","47,392","302,176","145,810","156,371"
12,13,Bahrain,BHR,MEA,HIC,NaN,..,NaN,NaN,INCLUDE,...,Direct,"951,312","549,804","1,566,993",0,0,0,"1,566,993","993,102","573,892"
13,14,Bangladesh,BGD,SAS,LMC,NaN,IDA,NaN,NaN,INCLUDE,...,Voter,NaN,NaN,"166,368,149","56,110,211","28,671,689","27,438,536","110,257,938","55,189,006","55,068,922"
14,15,Barbados,BRB,LCN,HIC,NaN,..,NaN,NaN,INCLUDE,...,Voter,NaN,NaN,"286,388","65,411","33,408","32,004","220,977","103,644","117,324"

In [78]:
df['% of UP that is Female'] = df['% of UP that is Female'].replace('n/a',np.nan)

In [79]:
# create standard columns
df.rename(columns={'Country':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
# Subtract the unregister proportion column by 100 and absolute the value
df['data_col'] = df['% of UP that is Female'].sub(100).abs()
df ['Year'] = 2018
df['Country Name'] = df.iloc[:,1]
df['Sub-Pillar'] = subpillar


min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 1-20 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [80]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,Afghanistan,2018,% of population with ID (female),45.0,3.25,True,Digital Legal Identity
1,Albania,2018,% of population with ID (female),28.0,2.40,True,Digital Legal Identity
2,Algeria,2018,% of population with ID (female),NaN,NaN,True,Digital Legal Identity
3,Andorra,2018,% of population with ID (female),NaN,NaN,True,Digital Legal Identity
4,Angola,2018,% of population with ID (female),NaN,NaN,True,Digital Legal Identity
...,...,...,...,...,...,...,...
193,"Venezuela, RB",2018,% of population with ID (female),NaN,NaN,True,Digital Legal Identity
194,Vietnam,2018,% of population with ID (female),NaN,NaN,True,Digital Legal Identity
195,"Yemen, Rep.",2018,% of population with ID (female),NaN,NaN,True,Digital Legal Identity
196,Zambia,2018,% of population with ID (female),NaN,NaN,True,Digital Legal Identity
197,Zimbabwe,2018,% of population with ID (female),NaN,NaN,True,Digital Legal Identity

In [81]:
df.to_csv('../indicator_scores/foundations_{}_scores.csv'.format(indicator), index=False)

## 11. can ID be used for transactions

In [82]:
indicator = indicators[10]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

subpillars[1]
subpillar = subpillars[1]
print(subpillar)

can ID be used for transactions
id4d_services
Digital Legal Identity

In [83]:
df.head(20)

,ID,Economy,Region,Income,Code,Inclusion Criteria,National ID,NID Issued at Birth,Mandatory NID age,Digitized ID system,...,URL,NID card/number name,NID cost,Primary CR entity,CR Gov Entity URL,CR entity category,Mandatory Birth Registration Period,Birth Registration cost,data_country,data_year
0,1.0,Afghanistan,SAS,LIC,AFG,INCLUDE,1,1,0,1,...,http://mcit.gov.af/en/page/7081,Tazkira / eNID,Afs 30-35 (US$ 0.5),Ministry of Interior Affairs,"http://moi.gov.af/en/page/7180 , http://moi.go...",2.0,6 m,free,NaN,NaN
1,2.0,Albania,ECS,UMC,ALB,INCLUDE,1,0,16,1,...,http://www.punetebrendshme.gov.al,Letërnjoftimi / Albanian Identity Card,10 euros,"Vital Statistics Offices , Ministry of Interio...",http://www.punetebrendshme.gov.al/,5.0,60 d,100 Leke,NaN,NaN
2,3.0,Algeria,MEA,UMC,DZA,INCLUDE,1,0,18,1,...,http://www.interieur.gov.dz/,Carte Nationale d'Identité Biométrique Electro...,free,Ministry of the Interior and Local Governments,http://www.interieur.gov.dz,2.0,5 - 60 d,free,NaN,NaN
3,4.0,Andorra,ECS,HIC,AND,EXCLUDE,0,,-,-,...,None,-,-,Civil Registry Office,http://www.registrecivil.ad,1.0,15 d,free,NaN,NaN
4,5.0,Angola,SSF,LMC,AGO,INCLUDE,1,0,10,1,...,http://www.minjusdh.gov.ao/VerPrestadorServico...,Bilhete de Identidade (National ID card),15 kwanza,Direcção Nacional dos Registos e do Notariado ...,http://www.minjusdh.gov.ao,1.0,5 d,free,NaN,NaN
5,6.0,Antigua and Barbuda,LCN,HIC,ATG,INCLUDE,0,,-,-,...,None,-,-,"Civil Registry, Ministry of Justice and Legal ...",http://www.legalaffairs.gov.ag/,1.0,30 d,EC 10,NaN,NaN
6,7.0,Argentina,LCN,UMC,ARG,INCLUDE,1,1,0,1,...,http://www.nuevodni.gov.ar/inicio/index.php,DNI (Documento Nacional de Identidad) / SIBIOS...,free,"Regional Civil Registries, Provincial Authorit...",http://www.mininterior.gov.ar/renaper/renaper.php,6.0,40 d,free,NaN,NaN
7,8.0,Armenia,ECS,LMC,ARM,INCLUDE,1,1,16,1,...,https://www.ekeng.am/hy/,National ID Card / National Passport,free,"Civil Registry Office, RA Ministry of Justice",http://www.moj.am/services/civil_registry/item...,1.0,1 y,free,NaN,NaN
8,9.0,Australia,EAS,HIC,AUS,EXCLUDE,0,,-,-,...,None,-,-,"Registrar-General, Departments of Justice",http://www.australia.gov.au/topics/law-and-jus...,1.0,6 m,free,NaN,NaN
9,10.0,Austria,ECS,HIC,AUT,EXCLUDE,1,0,0,1,...,https://www.help.gv.at/Portal.Node/hlpd/public...,Identitätsausweis / Personalausweis (Austrian ...,61.5 EUR,"Register Office, Baby-Point",https://www.help.gv.at/Portal.Node/hlpd/public...,2.0,1 m,free,NaN,NaN
10,11.0,Azerbaijan,ECS,UMC,AZE,INCLUDE,1,0,16,1,...,http://www.mia.gov.az/index.php?/en/content/171/,Azərbaycan Respublikası vətəndaşının şəxsiyyət...,free,Civil registry office (ZAGS),http://www.justice.gov.az,1.0,1 m,free,NaN,NaN
11,12.0,"Bahamas, The",LCN,HIC,BHS,INCLUDE,1,0,0,0,...,http://www.bahamas.gov.bs/wps/portal/public/!u...,Certificate of Identity,BS$25,Registrar General’s Department,http://www.bahamas.gov.bs/rgd,1.0,21 d,free,NaN,NaN
12,13.0,Bahrain,MEA,HIC,BHR,INCLUDE,1,1,0,1,...,http://www.cio.gov.bh/CIO_ENG/SubDetailed.aspx...,National ID Smartcard,varies,Ministry of Health,http://www.moh.gov.bh,3.0,7 d,BD 0.5,NaN,NaN
13,14.0,Bangladesh,SAS,LMC,BGD,INCLUDE,1,0,18,1,...,http://www.nidw.gov.bd,National ID Card,free,"Office of the Registrar-General, Local Governm...",http://br.lgd.gov.bd,6.0,45 d,free,NaN,NaN
14,15.0,Barbados,LCN,HIC,BRB,INCLUDE,1,0,16,0,...,http://www.electoral.barbados.gov.bb/nationalr...,National ID Card,free,"Registration Department, Barbados Supreme Cour...",http://www.barbadoslawcourts.gov.bb/,1.0,42 d,free,NaN,NaN
15,16.0,Belarus,ECS,UMC,BLR,INCLUDE,1,1,14,0,...,http://mvd.gov.by/ru/main.aspx?guid=12611,National Passport,free,Ministry of Interior,http://mvd.gov.by/ru/main.aspx?guid=152273,2.0,2 m,free,NaN,NaN
16,17.0,Belgium,ECS,HIC,BEL,EXCLUDE,1,0,12,1,...,https://eid.belgium.be/en,BelPIC / Identiteitskaart / Carte d’Identité /...,varies,"Municipalities, Civil Registration Departments",http://www.brussels.be/artdet.cfm/4840,2.0,15 d,free,NaN,NaN
17,18.0,Belize,LCN,UMC,BLZ,INCLUDE,0,NaN,-,-,...,None,-,NaN,"General Registry of the Supreme Court, Vital S...",http://www.belizejudiciary.org/web/supreme-cou...,1.0,42 days,1,NaN,NaN
18,19.0,Benin,SSF,LIC,BEN,INCLUDE,1,0,18,0,...,http://gouv.bj/,National ID Card,2400 F,Ministry of Interior / Ministry of Justice / M...,http://www.gouv.bj,6.0,10 d,free,NaN,NaN
19,20.0,Bhutan,SAS,LMC,BTN,INCLUDE,1,0,15,1,...,https://www.citizenservices.gov.bt/web/guest/i...,Citizenship Identity Card,Nu. 100,"Min of Home & Cultural Affairs, Dept of Civl R...",https://www.citizenservices.gov.bt/web/guest/b...,2.0,30 d,free,NaN,NaN

In [84]:
df['Digitized ID system']= df['Digitized ID system'].replace('-',np.nan)
df['Digitized ID system']= df['Digitized ID system'].astype(float)

In [85]:
df.head(15)

,ID,Economy,Region,Income,Code,Inclusion Criteria,National ID,NID Issued at Birth,Mandatory NID age,Digitized ID system,...,URL,NID card/number name,NID cost,Primary CR entity,CR Gov Entity URL,CR entity category,Mandatory Birth Registration Period,Birth Registration cost,data_country,data_year
0,1.0,Afghanistan,SAS,LIC,AFG,INCLUDE,1,1,0,1.0,...,http://mcit.gov.af/en/page/7081,Tazkira / eNID,Afs 30-35 (US$ 0.5),Ministry of Interior Affairs,"http://moi.gov.af/en/page/7180 , http://moi.go...",2.0,6 m,free,NaN,NaN
1,2.0,Albania,ECS,UMC,ALB,INCLUDE,1,0,16,1.0,...,http://www.punetebrendshme.gov.al,Letërnjoftimi / Albanian Identity Card,10 euros,"Vital Statistics Offices , Ministry of Interio...",http://www.punetebrendshme.gov.al/,5.0,60 d,100 Leke,NaN,NaN
2,3.0,Algeria,MEA,UMC,DZA,INCLUDE,1,0,18,1.0,...,http://www.interieur.gov.dz/,Carte Nationale d'Identité Biométrique Electro...,free,Ministry of the Interior and Local Governments,http://www.interieur.gov.dz,2.0,5 - 60 d,free,NaN,NaN
3,4.0,Andorra,ECS,HIC,AND,EXCLUDE,0,,-,NaN,...,None,-,-,Civil Registry Office,http://www.registrecivil.ad,1.0,15 d,free,NaN,NaN
4,5.0,Angola,SSF,LMC,AGO,INCLUDE,1,0,10,1.0,...,http://www.minjusdh.gov.ao/VerPrestadorServico...,Bilhete de Identidade (National ID card),15 kwanza,Direcção Nacional dos Registos e do Notariado ...,http://www.minjusdh.gov.ao,1.0,5 d,free,NaN,NaN
5,6.0,Antigua and Barbuda,LCN,HIC,ATG,INCLUDE,0,,-,NaN,...,None,-,-,"Civil Registry, Ministry of Justice and Legal ...",http://www.legalaffairs.gov.ag/,1.0,30 d,EC 10,NaN,NaN
6,7.0,Argentina,LCN,UMC,ARG,INCLUDE,1,1,0,1.0,...,http://www.nuevodni.gov.ar/inicio/index.php,DNI (Documento Nacional de Identidad) / SIBIOS...,free,"Regional Civil Registries, Provincial Authorit...",http://www.mininterior.gov.ar/renaper/renaper.php,6.0,40 d,free,NaN,NaN
7,8.0,Armenia,ECS,LMC,ARM,INCLUDE,1,1,16,1.0,...,https://www.ekeng.am/hy/,National ID Card / National Passport,free,"Civil Registry Office, RA Ministry of Justice",http://www.moj.am/services/civil_registry/item...,1.0,1 y,free,NaN,NaN
8,9.0,Australia,EAS,HIC,AUS,EXCLUDE,0,,-,NaN,...,None,-,-,"Registrar-General, Departments of Justice",http://www.australia.gov.au/topics/law-and-jus...,1.0,6 m,free,NaN,NaN
9,10.0,Austria,ECS,HIC,AUT,EXCLUDE,1,0,0,1.0,...,https://www.help.gv.at/Portal.Node/hlpd/public...,Identitätsausweis / Personalausweis (Austrian ...,61.5 EUR,"Register Office, Baby-Point",https://www.help.gv.at/Portal.Node/hlpd/public...,2.0,1 m,free,NaN,NaN
10,11.0,Azerbaijan,ECS,UMC,AZE,INCLUDE,1,0,16,1.0,...,http://www.mia.gov.az/index.php?/en/content/171/,Azərbaycan Respublikası vətəndaşının şəxsiyyət...,free,Civil registry office (ZAGS),http://www.justice.gov.az,1.0,1 m,free,NaN,NaN
11,12.0,"Bahamas, The",LCN,HIC,BHS,INCLUDE,1,0,0,0.0,...,http://www.bahamas.gov.bs/wps/portal/public/!u...,Certificate of Identity,BS$25,Registrar General’s Department,http://www.bahamas.gov.bs/rgd,1.0,21 d,free,NaN,NaN
12,13.0,Bahrain,MEA,HIC,BHR,INCLUDE,1,1,0,1.0,...,http://www.cio.gov.bh/CIO_ENG/SubDetailed.aspx...,National ID Smartcard,varies,Ministry of Health,http://www.moh.gov.bh,3.0,7 d,BD 0.5,NaN,NaN
13,14.0,Bangladesh,SAS,LMC,BGD,INCLUDE,1,0,18,1.0,...,http://www.nidw.gov.bd,National ID Card,free,"Office of the Registrar-General, Local Governm...",http://br.lgd.gov.bd,6.0,45 d,free,NaN,NaN
14,15.0,Barbados,LCN,HIC,BRB,INCLUDE,1,0,16,0.0,...,http://www.electoral.barbados.gov.bb/nationalr...,National ID Card,free,"Registration Department, Barbados Supreme Cour...",http://www.barbadoslawcourts.gov.bb/,1.0,42 d,free,NaN,NaN

In [86]:
# create standard columns
df.rename(columns={'Economy':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Year'] = 2018
df['Indicator'] = indicator
df['data_col'] = df['Digitized ID system']
df.rename(columns={'Country':'Country Name'}, inplace=True)
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=1))

In [87]:
df = df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,Afghanistan,2018,can ID be used for transactions,1.0,6.0,True,Digital Legal Identity
1,Albania,2018,can ID be used for transactions,1.0,6.0,True,Digital Legal Identity
2,Algeria,2018,can ID be used for transactions,1.0,6.0,True,Digital Legal Identity
3,Andorra,2018,can ID be used for transactions,NaN,NaN,True,Digital Legal Identity
4,Angola,2018,can ID be used for transactions,1.0,6.0,True,Digital Legal Identity
...,...,...,...,...,...,...,...
194,"Venezuela, RB",2018,can ID be used for transactions,1.0,6.0,True,Digital Legal Identity
195,Vietnam,2018,can ID be used for transactions,1.0,6.0,True,Digital Legal Identity
196,"Yemen, Rep.",2018,can ID be used for transactions,1.0,6.0,True,Digital Legal Identity
197,Zambia,2018,can ID be used for transactions,1.0,6.0,True,Digital Legal Identity
198,Zimbabwe,2018,can ID be used for transactions,1.0,6.0,True,Digital Legal Identity

In [88]:
df.to_csv('../indicator_scores/foundations_{}_scores.csv'.format(indicator), index=False)

## 12. Is personal data siloed

In [89]:
indicator = indicators[11]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

# Must limit the database to the first 206 rows, the remaining rows do not contain any useful information
df = df.iloc[0:205,:]

# Drop the superfluous rows by dropping na
df = df[df['#'].notna()]

# Must convert data in the DPL column into float
df['DPL'] = df['DPL'].astype(float, errors = 'ignore')

subpillars[1]
subpillar = subpillars[1]
print(subpillar)

Is personal data siloed
Egov_strategy
Digital Legal Identity

In [90]:
df.head(104)

,#,Flag,Code,Cnum,Economy,Level,Population,GNI,GNIPC,e-Government,...,NGTI-1,NGTI-2,NGTI-3,NGTI-4,GTI-1,GTI-2,GTI-3,GTI-4,data_country,data_year
0,1,NaN,AFG,4.0,Afghanistan,LIC,"38,928","20,726",540,https://mcit.gov.af/node/6938,...,0.69,0.52,0.31,0.62,-0.09,-0.34,0.02,-0.12,NaN,NaN
1,2,NaN,ALB,8.0,Albania,UMIC,"2,878","14,949","5,240",https://e-albania.al/,...,0.81,0.78,0.60,0.77,0.29,0.62,0.74,0.26,NaN,NaN
2,3,NaN,DZA,12.0,Algeria,LMIC,"43,851","170,722","3,970",https://www.mpttn.gov.dz/ar/content/%D8%A7%D9%...,...,0.73,0.46,0.02,0.60,0.06,-0.56,-0.68,-0.15,NaN,NaN
3,4,NaN,ADO,20.0,Andorra,HIC,77,"3,154","40,886",http://www.govern.ad,...,0.63,0.60,0.05,0.13,-0.28,-0.06,-0.62,-1.32,NaN,NaN
4,5,NaN,AGO,24.0,Angola,LMIC,"32,866","97,005","3,050",http://www.governo.gov.ao,...,0.68,0.69,0.21,0.61,-0.12,0.27,-0.23,-0.13,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,98,NaN,LSO,426.0,Lesotho,LMIC,"2,142","2,901","1,360",http://www.gov.ls,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,99,NaN,LBR,430.0,Liberia,LIC,"5,058","2,852",580,http://www.emansion.gov.lr,...,0.69,0.42,0.13,0.50,-0.08,-0.69,-0.42,-0.39,NaN,NaN
105,100,NaN,LBY,434.0,Libya,UMIC,"6,871","51,757","7,640",http://www.pm.gov.ly,...,0.26,0.31,0.01,0.50,-1.49,-1.09,-0.71,-0.42,NaN,NaN
106,101,NaN,LIE,438.0,Liechtenstein,HIC,38,"4,160","116,430",http://regierung.li,...,0.30,0.48,0.07,0.87,-1.35,-0.49,-0.57,0.51,NaN,NaN
107,102,NaN,LTU,440.0,Lithuania,HIC,"2,722","52,926","18,990",http://www.lrv.lt,...,0.85,0.77,0.96,0.90,0.43,0.57,1.64,0.59,NaN,NaN

In [91]:
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df.iloc[:,205]
df['Country Name'] = df['Economy']
df['Year'] = 2020
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min= -0.04,old_max= 0.02))

In [92]:
df = df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df.head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,Afghanistan,2020,Is personal data siloed,-0.04,1.0,True,Digital Legal Identity
1,Albania,2020,Is personal data siloed,0.02,6.0,True,Digital Legal Identity
2,Algeria,2020,Is personal data siloed,-0.04,1.0,True,Digital Legal Identity
3,Andorra,2020,Is personal data siloed,0.02,6.0,True,Digital Legal Identity
4,Angola,2020,Is personal data siloed,0.02,6.0,True,Digital Legal Identity
5,Antigua and Barbuda,2020,Is personal data siloed,0.02,6.0,True,Digital Legal Identity
6,Argentina,2020,Is personal data siloed,0.02,6.0,True,Digital Legal Identity
7,Armenia,2020,Is personal data siloed,0.02,6.0,True,Digital Legal Identity
8,Australia,2020,Is personal data siloed,0.02,6.0,True,Digital Legal Identity
9,Austria,2020,Is personal data siloed,NaN,NaN,True,Digital Legal Identity
11,Azerbaijan,2020,Is personal data siloed,0.02,6.0,True,Digital Legal Identity
12,Bahamas,2020,Is personal data siloed,0.02,6.0,True,Digital Legal Identity
13,Bahrain,2020,Is personal data siloed,0.02,6.0,True,Digital Legal Identity
14,Bangladesh,2020,Is personal data siloed,-0.04,1.0,True,Digital Legal Identity
15,Barbados,2020,Is personal data siloed,0.02,6.0,True,Digital Legal Identity

In [93]:
# output scores
df.to_csv('../indicator_scores/foundations_{}_scores.csv'.format(indicator), index=False)

## 13. Open data index

In [94]:
bnames

,Indicator,check,Data Source,Data Link,Raw/Index,Filename,Sub-Pillar
163,Digital payments penetration,Foundations,Portulans Institute: Network Readiness Index,https://networkreadinessindex.org,Index,digital_payments_penetration,Digital Payments
164,% of population with digital finance account,Foundations,World Bank: Global Findex database,https://datacatalog.worldbank.org,Index,population_digital_financial_services,Digital Payments
165,Made or received digital payments in the past ...,Foundations,World Bank: Global Findex database,https://datacatalog.worldbank.org,Index,population_digital_financial_services,Digital Payments
166,Made or received digital payments in the past ...,Foundations,World Bank: Global Findex database,https://datacatalog.worldbank.org,Index,population_digital_financial_services,Digital Payments
169,Used a mobile phone or the internet to check a...,Foundations,World Bank: Global Findex database,https://datacatalog.worldbank.org,Index,population_digital_financial_services,Digital Payments
171,% Making online transactions - Men,Foundations,World Bank: Global Findex database,https://datacatalog.worldbank.org,Index,population_digital_financial_services,Digital Payments
172,% Making online transactions - Women,Foundations,World Bank: Global Findex database,https://datacatalog.worldbank.org,Index,population_digital_financial_services,Digital Payments
173,% of population with digital finance account -...,Foundations,World Bank: Global Findex database,https://datacatalog.worldbank.org,Index,population_digital_financial_services,Digital Payments
178,% of population with ID (all),Foundations,World Bank: Identification For Development (ID4D),https://datacatalog.worldbank.org,Index,id4d_nid,Digital Legal Identity
179,% of population with ID (female),Foundations,World Bank: Identification For Development (ID4D),https://datacatalog.worldbank.org,Index,id4d_nid,Digital Legal Identity
181,can ID be used for transactions,Foundations,World Bank: Identification For Development (ID4D),https://datacatalog.worldbank.org,Index,id4d_services,Digital Legal Identity
182,Is personal data siloed,Foundations,World Bank: GovTech Dataset,https://datacatalog.worldbank.org,NaN,Egov_strategy,Digital Legal Identity
183,Open data index,Foundations,Open Knowledge Foundation: Global Open Data Index,https://index.okfn.org,Index,open_data_idx,Data Exchange

In [95]:
indicator = indicators[12]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

subpillars[2]
subpillar = subpillars[2]
print(subpillar)

Open data index
open_data_idx
Data Exchange

In [96]:
df.head(15)

,id,site,name,slug,region,continent,rank,score
0,tw,global,Taiwan,taiwan,NaN,NaN,1,90
1,au,global,Australia,australia,NaN,NaN,2,79
2,gb,global,Great Britain,united_kingdom,NaN,NaN,2,79
3,fr,global,France,france,NaN,NaN,4,70
4,fi,global,Finland,finland,NaN,NaN,5,69
5,ca,global,Canada,canada,NaN,NaN,5,69
6,no,global,Norway,norway,NaN,NaN,5,69
7,br,global,Brazil,brazil,NaN,NaN,8,68
8,nz,global,New Zealand,new_zealand,NaN,NaN,8,68
9,nir,global,Northern Ireland,northern_ireland,NaN,NaN,10,67
10,us,global,United States,United_states,NaN,NaN,11,65
11,dk,global,Denmark,denmark,NaN,NaN,11,65
12,mx,global,Mexico,mexico,NaN,NaN,11,65
13,co,global,Colombia,colombia,NaN,NaN,14,64
14,lv,global,Latvia,latvia,NaN,NaN,14,64

In [97]:
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['score'] 
df['Country Name'] = df['name']
df['Year'] = 2016
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [98]:
df = df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df.head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,Taiwan,2016,Open data index,90,5.50,True,Data Exchange
1,Australia,2016,Open data index,79,4.95,True,Data Exchange
2,Great Britain,2016,Open data index,79,4.95,True,Data Exchange
3,France,2016,Open data index,70,4.50,True,Data Exchange
4,Finland,2016,Open data index,69,4.45,True,Data Exchange
5,Canada,2016,Open data index,69,4.45,True,Data Exchange
6,Norway,2016,Open data index,69,4.45,True,Data Exchange
7,Brazil,2016,Open data index,68,4.40,True,Data Exchange
8,New Zealand,2016,Open data index,68,4.40,True,Data Exchange
9,Northern Ireland,2016,Open data index,67,4.35,True,Data Exchange
10,United States,2016,Open data index,65,4.25,True,Data Exchange
11,Denmark,2016,Open data index,65,4.25,True,Data Exchange
12,Mexico,2016,Open data index,65,4.25,True,Data Exchange
13,Colombia,2016,Open data index,64,4.20,True,Data Exchange
14,Latvia,2016,Open data index,64,4.20,True,Data Exchange

In [99]:
# output scores

### Score Aggregating

In [100]:
import os

In [101]:
# get list of files in scores folder
scores = os.listdir('../indicator_scores/')
scores = [s for s in scores if s.startswith('foundations')]

In [102]:
scores

['foundations_% Making online transactions - Women_scores.csv',
 'foundations_% of population with digital finance account_scores.csv',
 'foundations_% of population with ID (all)_scores.csv',
 'foundations_% of population with ID (female)_scores.csv',
 'foundations_can ID be used for transactions_scores.csv',
 'foundations_Digital payments penetration_scores.csv',
 'foundations_Financial institution account_scores.csv',
 'foundations_Is personal data siloed_scores.csv',
 'foundations_Made or received digital payments in the past year (% age 15+) - all_scores.csv',
 'foundations_Made or received digital payments in the past year (% age 15+) - female_scores.csv',
 'foundations_Making online transactions - Men_scores.csv',
 'foundations_Open data index_scores.csv',
 'foundations_Used a mobile phone or the internet to check account balance in the past year (% age 15+) - all_scores.csv']

In [103]:
# create a dataframe that concatenates all these file into one table
df = pd.concat([pd.read_csv('../indicator_scores/{}'.format(s)) for s in scores])

In [104]:
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar,Unnamed: 0
0,Afghanistan,2017,% Making online transactions - Women,0.0,1.00,True,Digital Payments,NaN
1,Albania,2017,% Making online transactions - Women,6.0,1.30,True,Digital Payments,NaN
2,Arab world,2017,% Making online transactions - Women,6.0,1.30,True,Digital Payments,NaN
3,United Arab Emirates,2017,% Making online transactions - Women,54.0,3.70,True,Digital Payments,NaN
4,Argentina,2017,% Making online transactions - Women,16.0,1.80,True,Digital Payments,NaN
...,...,...,...,...,...,...,...,...
161,World,2017,Used a mobile phone or the internet to check a...,25.0,2.25,True,Digital Payments,NaN
162,Kosovo,2017,Used a mobile phone or the internet to check a...,10.0,1.50,True,Digital Payments,NaN
163,South Africa,2017,Used a mobile phone or the internet to check a...,25.0,2.25,True,Digital Payments,NaN
164,Zambia,2017,Used a mobile phone or the internet to check a...,15.0,1.75,True,Digital Payments,NaN
165,Zimbabwe,2017,Used a mobile phone or the internet to check a...,15.0,1.75,True,Digital Payments,NaN

In [105]:
# Data cleaning
df['new_rank_score'] = df['new_rank_score'].fillna(0)
df.sort_values(by=['Country Name'], ascending=True, inplace=True)
df.reset_index(drop=True, inplace=True)

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2066 entries, 0 to 2065
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country Name      2066 non-null   object
 1   Year              2066 non-null   int64
 2   Indicator         2066 non-null   object
 3   data_col          1866 non-null   float64
 4   new_rank_score    2066 non-null   float64
 5   higher_is_better  2066 non-null   bool
 6   Sub-Pillar        2066 non-null   object
 7   Unnamed: 0        166 non-null    float64
dtypes: bool(1), float64(3), int64(1), object(3)
memory usage: 115.1+ KB

In [107]:
df.head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar,Unnamed: 0
0,-,2020,Is personal data siloed,NaN,0.00,True,Digital Legal Identity,NaN
1,0.03,2020,Is personal data siloed,NaN,0.00,True,Digital Legal Identity,NaN
2,Afghanistan,2017,% Making online transactions - Women,0.00,1.00,True,Digital Payments,NaN
3,Afghanistan,2017,% of population with digital finance account -...,15.00,1.75,True,Digital Payments,2.0
4,Afghanistan,2017,Used a mobile phone or the internet to check a...,3.00,1.15,True,Digital Payments,NaN
5,Afghanistan,2017,% of population with digital finance account,15.00,1.75,True,Digital Payments,NaN
6,Afghanistan,2016,Open data index,12.00,1.60,True,Data Exchange,NaN
7,Afghanistan,2018,can ID be used for transactions,1.00,6.00,True,Digital Legal Identity,NaN
8,Afghanistan,2017,Made or received digital payments in the past ...,11.00,1.55,True,Digital Payments,NaN
9,Afghanistan,2017,% Making online transactions - Men,1.00,1.05,True,Digital Payments,NaN
10,Afghanistan,2017,Made or received digital payments in the past ...,4.00,1.20,True,Digital Payments,NaN
11,Afghanistan,2018,% of population with ID (female),45.00,3.25,True,Digital Legal Identity,NaN
12,Afghanistan,2018,% of population with ID (all),67.00,4.35,True,Digital Legal Identity,NaN
13,Afghanistan,2020,Is personal data siloed,-0.04,1.00,True,Digital Legal Identity,NaN
14,Albania,2018,% of population with ID (all),100.00,6.00,True,Digital Legal Identity,NaN

In [108]:
df.describe()

              Year     data_col  new_rank_score  Unnamed: 0
count  2066.000000  1866.000000     2066.000000  166.000000
mean   2017.532914    39.343205        3.396009  249.325301
std       0.959788    34.192541        2.014438  140.305563
min    2016.000000    -0.040000        0.000000    2.000000
25%    2017.000000     5.000000        1.650000  130.750000
50%    2017.000000    34.000000        3.350000  251.500000
75%    2018.000000    69.750000        5.500000  367.000000
max    2020.000000   100.000000        6.000000  493.000000

In [109]:
# checking country names
sorted(df['Country Name'].unique().tolist())

['-',
 '0.03',
 'Afghanistan',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Arab world',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahamas, The',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Chinese Taipei',
 'Colombia',
 'Comoros',
 'Congo, Dem. Rep.',
 'Congo, Rep.',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 "Côte d'Ivoire",
 'Denmark',
 'Developing',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'East Asia & Pacific',
 'East Asia & Pacific (excluding high income)',
 'Ecuador',
 'Egypt',
 'Egypt, Arab Rep.',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Euro area',
 'Europe & Central Asia',
 'Europe & Central Asia (excluding high income)',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Gambia, The',
 'Georgia',
 'Germany',
 'Ghana',
 'Great Britain',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'High income',
 'High income: OECD',
 'Honduras',
 'Hong Kong',
 'Hong Kong SAR, China',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iran, Islamic Rep.',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Korea, DPR',
 "Korea, Dem. People's Rep.",
 'Korea, Rep.',
 'Kosovo',
 'Kuwait',
 'Kyrgyz Republic',
 'Lao PDR',
 'Latin America & Caribbean',
 'Latin America & Caribbean (excluding high income)',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Low income',
 'Lower middle income',
 'Luxembourg',
 'Macao SAR, China',
 'Macedonia',
 'Macedonia, FYR',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia, Fed. Sts.',
 'Middle East & North Africa',
 'Middle East & North Africa (excluding high income)',
 'Middle income',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North America',
 'North Macedonia',
 'Northern Ireland',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Personal Card',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Romania',
 'Russia',
 'Russian Federation',
 'Rwanda',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovak Republic',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Asia',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'St. Kitts and Nevis',
 'St. Lucia',
 'St. Vincent and the Grenadines',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa (excluding high income)',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'São Tomé and Principe',
 'Taiwan',
 'Taiwan, China',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'The Bahamas',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'United States of America',
 'Upper middle income',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Venezuela, RB',
 'Vietnam',
 'West Bank and Gaza',
 'World',
 'Yemen',
 'Yemen, Rep.',
 'Zambia',
 'Zimbabwe']

In [110]:
# remove trailing whitespaces from country name
df['Country Name'] = df['Country Name'].str.strip()
df['Country Name'] = df['Country Name'].str.strip('**')
df['Country Name'] = df['Country Name'].str.strip('*')

In [111]:
# checking country names
sorted(df['Country Name'].unique().tolist())

['-',
 '0.03',
 'Afghanistan',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Arab world',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahamas, The',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Chinese Taipei',
 'Colombia',
 'Comoros',
 'Congo, Dem. Rep.',
 'Congo, Rep.',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 "Côte d'Ivoire",
 'Denmark',
 'Developing',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'East Asia & Pacific',
 'East Asia & Pacific (excluding high income)',
 'Ecuador',
 'Egypt',
 'Egypt, Arab Rep.',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Euro area',
 'Europe & Central Asia',
 'Europe & Central Asia (excluding high income)',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Gambia, The',
 'Georgia',
 'Germany',
 'Ghana',
 'Great Britain',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'High income',
 'High income: OECD',
 'Honduras',
 'Hong Kong',
 'Hong Kong SAR, China',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iran, Islamic Rep.',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Korea, DPR',
 "Korea, Dem. People's Rep.",
 'Korea, Rep.',
 'Kosovo',
 'Kuwait',
 'Kyrgyz Republic',
 'Lao PDR',
 'Latin America & Caribbean',
 'Latin America & Caribbean (excluding high income)',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Low income',
 'Lower middle income',
 'Luxembourg',
 'Macao SAR, China',
 'Macedonia',
 'Macedonia, FYR',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia, Fed. Sts.',
 'Middle East & North Africa',
 'Middle East & North Africa (excluding high income)',
 'Middle income',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North America',
 'North Macedonia',
 'Northern Ireland',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Personal Card',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Romania',
 'Russia',
 'Russian Federation',
 'Rwanda',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovak Republic',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Asia',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'St. Kitts and Nevis',
 'St. Lucia',
 'St. Vincent and the Grenadines',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa (excluding high income)',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'São Tomé and Principe',
 'Taiwan',
 'Taiwan, China',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'The Bahamas',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'United States of America',
 'Upper middle income',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Venezuela, RB',
 'Vietnam',
 'West Bank and Gaza',
 'World',
 'Yemen',
 'Yemen, Rep.',
 'Zambia',
 'Zimbabwe']

In [112]:
# average indicator scores per country
agg_df = df.groupby(['Country Name']).agg({'new_rank_score':'mean','data_col':'count'})

In [113]:
agg_df.columns = ['agg_score', 'count_source' ]

In [114]:
max_number_sources = agg_df.describe()['count_source']['max']

In [115]:
agg_df['agg_score_wt'] = agg_df['agg_score']*(agg_df['count_source']/max_number_sources)

In [116]:
agg_df.sort_values(by='agg_score', ascending=False, inplace=True)

In [117]:
agg_df.head(25)

                          agg_score  count_source  agg_score_wt
Country Name
Gambia                     6.000000             1      0.500000
United States of America   6.000000             1      0.500000
North Macedonia            6.000000             1      0.500000
Chinese Taipei             6.000000             1      0.500000
Egypt                      6.000000             1      0.500000
Bahamas                    6.000000             1      0.500000
Taiwan                     5.500000             1      0.458333
North America              5.278571             7      3.079167
Norway                     5.261538            12      5.261538
Finland                    5.219038            12      5.219038
Denmark                    5.208615            12      5.208615
Sweden                     5.123385            12      5.123385
Netherlands                5.100038            12      5.100038
High income: OECD          5.085714             7      2.966667
Estonia                    5.078417            11      4.655215
Euro area                  5.050000             7      2.945833
High income                5.007143             7      2.920833
Korea, Rep.                4.969333            11      4.555222
Great Britain              4.950000             1      0.412500
Luxembourg                 4.872727            10      4.060606
Germany                    4.846923            12      4.846923
Belgium                    4.835192            12      4.835192
Spain                      4.786364            10      3.988636
France                     4.775000            11      4.377083
Côte d'Ivoire              4.750000             4      1.583333

In [118]:
agg_df.to_csv('../pillar_scores/foundation_scores_v0.csv')

In [119]:
### Score Aggregating by Subpillars

In [120]:
df.insert(0,'Pillar','Foundations')
df

# remove trailing whitespaces from country name
df['Country Name'] = df['Country Name'].str.strip()
df['Country Name'] = df['Country Name'].str.strip('**')
df['Country Name'] = df['Country Name'].str.strip('*')

In [121]:
sub_df = df.groupby(['Pillar','Sub-Pillar','Country Name']).agg({'new_rank_score':'mean','data_col':'count'})

In [122]:
sub_df.columns = ['agg_score', 'count_source' ]

In [123]:
max_number_sources = sub_df.describe()['count_source']['max']

In [124]:
sub_df['agg_score_wt'] = sub_df['agg_score']*(sub_df['count_source']/max_number_sources)

In [125]:
sub_df.to_csv('../subpillar_score/foundations_scores_subpillar_v0.csv')

### Sources Generation

In [126]:
#Get all countries from Countries.xlsx
countries = pd.read_excel('../../data/Countries.xlsx')
col_names = ['Country or Area']
countries = countries[col_names]
countries.rename(columns = {'Country or Area': 'Country Name'}, inplace = True)

In [127]:
#Get all indicators from names dataframe retrieve at the begining of the script
bnames=bnames[['check','Sub-Pillar','Indicator','Data Source','Data Link']]
bnames.rename(columns = {'check': 'Pillar'}, inplace = True)
bnames = bnames.replace('\n','', regex=True)

D:\Apps\Anaconda\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [128]:
#Do a nice cross join so that we have combination of all countries vs all indicators
sources = countries.merge(bnames, how='cross')
sources

,Country Name,Pillar,Sub-Pillar,Indicator,Data Source,Data Link
0,Algeria,Foundations,Digital Payments,Digital payments penetration,Portulans Institute: Network Readiness Index,https://networkreadinessindex.org
1,Algeria,Foundations,Digital Payments,% of population with digital finance account,World Bank: Global Findex database,https://datacatalog.worldbank.org
2,Algeria,Foundations,Digital Payments,Made or received digital payments in the past ...,World Bank: Global Findex database,https://datacatalog.worldbank.org
3,Algeria,Foundations,Digital Payments,Made or received digital payments in the past ...,World Bank: Global Findex database,https://datacatalog.worldbank.org
4,Algeria,Foundations,Digital Payments,Used a mobile phone or the internet to check a...,World Bank: Global Findex database,https://datacatalog.worldbank.org
...,...,...,...,...,...,...
3232,Wallis and Futuna Islands,Foundations,Digital Legal Identity,% of population with ID (all),World Bank: Identification For Development (ID4D),https://datacatalog.worldbank.org
3233,Wallis and Futuna Islands,Foundations,Digital Legal Identity,% of population with ID (female),World Bank: Identification For Development (ID4D),https://datacatalog.worldbank.org
3234,Wallis and Futuna Islands,Foundations,Digital Legal Identity,can ID be used for transactions,World Bank: Identification For Development (ID4D),https://datacatalog.worldbank.org
3235,Wallis and Futuna Islands,Foundations,Digital Legal Identity,Is personal data siloed,World Bank: GovTech Dataset,https://datacatalog.worldbank.org
3236,Wallis and Futuna Islands,Foundations,Data Exchange,Open data index,Open Knowledge Foundation: Global Open Data Index,https://index.okfn.org

In [129]:
#Make copy of a scores dataframe and add the column available, with value of 1 (string)
#denoting all the country/indicator combinations that have value
dfsources = df[['Country Name','Pillar','Sub-Pillar','Indicator']].copy()
dfsources['Available'] = '1'

In [130]:
#Merge (left join) sources (all country indicator combinations)
#with those in copied scores dataframe
#resulting in a sources dataframe with values of 1 in Available column where there is a value for country/indicator
#and there is a NaN where there's not. 
#subsequently replace NaN with 0 (string)
sources = sources.merge(dfsources, how='left', on=['Country Name','Pillar','Sub-Pillar','Indicator'])
sources['Available'] = sources['Available'].fillna('0')
sources

,Country Name,Pillar,Sub-Pillar,Indicator,Data Source,Data Link,Available
0,Algeria,Foundations,Digital Payments,Digital payments penetration,Portulans Institute: Network Readiness Index,https://networkreadinessindex.org,0
1,Algeria,Foundations,Digital Payments,% of population with digital finance account,World Bank: Global Findex database,https://datacatalog.worldbank.org,1
2,Algeria,Foundations,Digital Payments,Made or received digital payments in the past ...,World Bank: Global Findex database,https://datacatalog.worldbank.org,1
3,Algeria,Foundations,Digital Payments,Made or received digital payments in the past ...,World Bank: Global Findex database,https://datacatalog.worldbank.org,1
4,Algeria,Foundations,Digital Payments,Used a mobile phone or the internet to check a...,World Bank: Global Findex database,https://datacatalog.worldbank.org,1
...,...,...,...,...,...,...,...
3232,Wallis and Futuna Islands,Foundations,Digital Legal Identity,% of population with ID (all),World Bank: Identification For Development (ID4D),https://datacatalog.worldbank.org,0
3233,Wallis and Futuna Islands,Foundations,Digital Legal Identity,% of population with ID (female),World Bank: Identification For Development (ID4D),https://datacatalog.worldbank.org,0
3234,Wallis and Futuna Islands,Foundations,Digital Legal Identity,can ID be used for transactions,World Bank: Identification For Development (ID4D),https://datacatalog.worldbank.org,0
3235,Wallis and Futuna Islands,Foundations,Digital Legal Identity,Is personal data siloed,World Bank: GovTech Dataset,https://datacatalog.worldbank.org,0
3236,Wallis and Futuna Islands,Foundations,Data Exchange,Open data index,Open Knowledge Foundation: Global Open Data Index,https://index.okfn.org,0

In [131]:
#If sources.csv exists, get the contents, remove everyhing from this pillar, append prepared sources, save csv.
#if sources.csv does not exist, create new file from sources.
from os.path import exists

if exists('../../dashboard/Sources.csv') :
    CurrentSources = pd.read_csv('../../dashboard/Sources.csv', dtype=str)
    CurrentSources = CurrentSources[['Country Name','Pillar','Sub-Pillar','Indicator','Data Source','Data Link','Available']]
    CurrentSources = CurrentSources.loc[CurrentSources['Pillar'] != 'Foundations']
    CurrentSources = CurrentSources.append(sources)
else :
    CurrentSources = sources
CurrentSources

,Country Name,Pillar,Sub-Pillar,Indicator,Data Source,Data Link,Available
0,Algeria,Regulation,Data standards and protection,data protection laws,UNCTAD: Data Protection and Privacy Legislatio...,https://unctad.org/page/data-protection-and-pr...,0
1,Algeria,Regulation,Data standards and protection,Global Tables of Data Privacy Laws and Bills,UNCTAD: Data Protection and Privacy Legislatio...,https://unctad.org/page/data-protection-and-pr...,0
2,Algeria,Regulation,Data standards and protection,Data Protection and Privacy Legislation Worldwide,UNCTAD: Data Protection and Privacy Legislatio...,https://unctad.org/page/data-protection-and-pr...,0
3,Algeria,Regulation,Cybersecurity,# key internet controls employed,Freedom House: Freedom on the Net,https://freedomhouse.org/report/freedom-net,0
4,Algeria,Regulation,Ethical Standards,Rule of Law Index,World Justice Project: Rule of Law Index,https://worldjusticeproject.org/our-work/resea...,1
...,...,...,...,...,...,...,...
3232,Wallis and Futuna Islands,Foundations,Digital Legal Identity,% of population with ID (all),World Bank: Identification For Development (ID4D),https://datacatalog.worldbank.org,0
3233,Wallis and Futuna Islands,Foundations,Digital Legal Identity,% of population with ID (female),World Bank: Identification For Development (ID4D),https://datacatalog.worldbank.org,0
3234,Wallis and Futuna Islands,Foundations,Digital Legal Identity,can ID be used for transactions,World Bank: Identification For Development (ID4D),https://datacatalog.worldbank.org,0
3235,Wallis and Futuna Islands,Foundations,Digital Legal Identity,Is personal data siloed,World Bank: GovTech Dataset,https://datacatalog.worldbank.org,0
3236,Wallis and Futuna Islands,Foundations,Data Exchange,Open data index,Open Knowledge Foundation: Global Open Data Index,https://index.okfn.org,0

In [132]:
CurrentSources.to_csv('../../dashboard/Sources.csv', index=False)