In [48]:
import pandas as pd
import numpy as np

In [49]:
### Get all the pillar names from the excel

In [50]:
names = pd.read_excel('../../UNDP Digital Assessment Data Framework Filename Matching V7.xlsx')

In [51]:
col_names = ['Indicator','check', 'Data Source','Index','Filename']

In [52]:
names = names[col_names]

In [53]:
names.head()

,Indicator,check,Data Source,Index,Filename
0,Countries,NaN,United Nations,False,Countries
1,"Database of Global Administrative Areas (GADM,...",NaN,GADM maps and data,False,NaN
2,High Resolution Population Density Maps + Demo...,NaN,Facebook,False,NaN
3,population density vs openstreetmap object den...,NaN,Kontur,False,NaN
4,Population Density,Infrastructure,World Bank,False,population_density

In [54]:
# get all the files per pillar
data_stats = names.groupby('check').agg({'Filename':'count','Indicator':'count'})

In [55]:
data_stats

                Filename  Indicator
check
Business              20         25
Foundations            9         12
Government            10         15
Infrastructure        41         48
People                39         47
Regulation             6          7
Strategy               1          1

In [56]:
### Infrastructure

In [57]:
bnames = names[(names.check=='Infrastructure')&(~names.Filename.isna())]#&(names.Index==False)]
bnames.head(25)

,Indicator,check,Data Source,Index,Filename
4,Population Density,Infrastructure,World Bank,False,population_density
5,Broadband Density,Infrastructure,ITU,False,ITU_database
6,% of population covered by internet connectivity,Infrastructure,ITU,False,ITU_database
7,% of population covered by mobile 2G+ data con...,Infrastructure,GSMA Mobile Connectivity Index,False,countries_mobile_connectivity
8,% of population covered by mobile 3G+ data con...,Infrastructure,GSMA Mobile Connectivity Index,False,countries_mobile_connectivity
9,% of population covered by mobile 4G+ data con...,Infrastructure,GSMA Mobile Connectivity Index,False,countries_mobile_connectivity
10,% of population covered by mobile 5G+ data con...,Infrastructure,GSMA Mobile Connectivity Index,False,countries_mobile_connectivity
11,Mobile Coverage Maps,Infrastructure,ITU,False,ITU_database
12,Electricity Density,Infrastructure,Energy Data,False,electricity_yearbook
13,% of population covered by electricity,Infrastructure,World Bank,False,population_electricity_coverage
14,Electricity supply quality,Infrastructure,International Energy Agency / Global Competiti...,False,elect_supply_quality
15,Electricity Environmental Sustainability,Infrastructure,The Sustainable Development Report/ Cambridge ...,False,sustainability_index
17,Cellphone Signal Density,Infrastructure,GSMA Mobile Connectivity Index,False,mobile_density
18,Telecommunication Infrastructure Index (TII),Infrastructure,DESA,True,e_government_index
19,GSMA Mobile Connectivity Index,Infrastructure,GSMA Mobile Connectivity Index,True,countries_mobile_connectivity
20,Spectrum Allocated to Mobile Providers,Infrastructure,GSMA Mobile Connectivity Index,False,spectrum_allocated_mobile_providers
23,Internet Exchange Points (IXPs) map,Infrastructure,Packet Clearing House,False,countries_ixp
25,ISP Speeds - Mobile,Infrastructure,Ookla's Speedtest Intelligence/AWS,False,speedtest-global-performance
26,ISP internet download speed average,Infrastructure,Ookla's Speedtest Intelligence,False,internet_speed
28,Mobile dowload speed at the slowest hour of th...,Infrastructure,GSMA Mobile Connectivity Index,False,mobile_latency
29,Mobile download speed average,Infrastructure,Ookla's Speedtest Intelligence,False,mobile_speed
30,Individuals using the Internet (% of population),Infrastructure,ITU,False,ITU_database
31,Mobile cellular subscriptions (per 100 people),Infrastructure,ITU,False,ITU_database
32,Average fixed broadband download speeds,Infrastructure,Ookla's Speedtest Intelligence,False,fixed_bdbd_spd_dl_ul
35,Postal Coverage,Infrastructure,Universal Postal Union,False,postal_coverage

In [58]:
# get list of names for all indicators
indicators = bnames.Indicator.unique()

In [59]:
# get all file names
bfiles = bnames.Filename.unique()

In [60]:
bfiles

array(['population_density', 'ITU_database',
       'countries_mobile_connectivity', 'electricity_yearbook',
       'population_electricity_coverage', 'elect_supply_quality',
       'sustainability_index', 'mobile_density', 'e_government_index',
       'spectrum_allocated_mobile_providers', 'countries_ixp',
       'speedtest-global-performance', 'internet_speed', 'mobile_latency',
       'mobile_speed', 'fixed_bdbd_spd_dl_ul', 'postal_coverage',
       'logistics_performance_index', 'schools_w_internet',
       'national_cybersecurity_index',
       'dice_export_global_cybersecurity_index',
       'software_developer_ecosystem_size',
       'digital_platform_economy_index', 'migration_skill',
       'migration_industry', 'migration_country',
       'global_fintech_ranking', 'tech_hubs', 'banking_sector_size',
       'angel_investment', 'startup_eco_size',
       'international_co_inventions'], dtype=object)

In [61]:
# formula for converting scale
def convert_rank(old_value, old_min=1, old_max=7, new_min=1, new_max=6 ):
    """ Convert old scale values scale into new scale values"""
    old_range = old_max - old_min
    new_range = new_max - new_min
    new_value = (((old_value-old_min)*new_range)/old_range)+new_min
    return new_value

In [62]:
### 2. Broadband Density

In [249]:
indicators[1]

# load data
indicator = indicators[1]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Broadband Density
ITU_database

In [64]:
### 3. % of population covered by internet connectivity

In [65]:
indicators[2]

# load data
indicator = indicators[2]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population covered by internet connectivity
ITU_database

In [66]:
### 4. % of population covered by mobile 2G

In [67]:
indicators[3]

'% of population covered by mobile 2G+ data connectivity'

In [68]:
# load data
indicator = indicators[3]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population covered by mobile 2G+ data connectivity
countries_mobile_connectivity

In [69]:
df.head(10)

,ISO Code,Country,Region,Year,Cluster,Index,Infrastructure,Affordability,Consumer Readiness,Content and Services,...,Gender gap in mobile ownership,TLDs per capita,E-Government Score,Mobile Social Media Penetration,Apps developed per person,Number of apps in national language,Accessibility of top ranked apps,Cybersecurity Index,data_country,data_year
0,AFG,Afghanistan,South Asia,2014,Discoverer,22.12,21.74,31.79,24.40,14.19,...,0.00,39.55,18.11,3.28,20.98,2.44,4.37,26.50,NaN,NaN
1,AFG,Afghanistan,South Asia,2015,Discoverer,22.99,22.82,30.81,25.28,15.71,...,0.00,39.57,24.27,4.36,22.93,2.79,8.03,25.83,NaN,NaN
2,AFG,Afghanistan,South Asia,2016,Discoverer,23.71,26.92,26.75,26.07,16.83,...,0.00,39.58,30.43,6.73,30.31,2.85,5.90,25.17,NaN,NaN
3,AFG,Afghanistan,South Asia,2017,Discoverer,25.82,33.54,27.22,28.56,17.04,...,0.00,39.47,30.50,7.78,31.62,2.91,6.15,24.50,NaN,NaN
4,AFG,Afghanistan,South Asia,2018,Discoverer,28.39,30.91,42.64,29.24,16.87,...,0.00,39.39,30.56,8.54,36.54,2.96,8.66,17.70,NaN,NaN
5,AFG,Afghanistan,South Asia,2019,Discoverer,28.94,32.34,41.53,29.72,17.58,...,0.00,39.41,41.18,9.39,39.36,3.00,5.72,17.70,NaN,NaN
6,AGO,Angola,Sub-Saharan Africa,2014,Discoverer,32.78,25.99,35.99,44.33,27.85,...,51.65,0.00,29.92,3.99,22.74,53.33,49.09,8.80,NaN,NaN
7,AGO,Angola,Sub-Saharan Africa,2015,Emerging,37.18,33.09,42.01,45.41,30.27,...,57.00,0.31,32.35,5.26,22.12,55.08,58.33,8.47,NaN,NaN
8,AGO,Angola,Sub-Saharan Africa,2016,Emerging,39.85,37.80,44.74,46.47,32.11,...,63.73,0.00,34.78,6.27,27.46,56.52,61.73,8.13,NaN,NaN
9,AGO,Angola,Sub-Saharan Africa,2017,Emerging,42.89,48.60,47.94,46.32,31.36,...,53.97,0.00,37.88,4.26,31.94,57.06,55.09,7.80,NaN,NaN

In [70]:
# filter most recent year
df = df[(df.Year==2019)]

In [71]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['2G Coverage'] 

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [72]:
df[['Country','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country,Year,Indicator,data_col,new_rank_score,higher_is_better
5,Afghanistan,2019,% of population covered by mobile 2G+ data con...,90.00,4.921251,True
11,Angola,2019,% of population covered by mobile 2G+ data con...,90.00,4.921251,True
17,Albania,2019,% of population covered by mobile 2G+ data con...,99.86,5.984898,True
23,United Arab Emirates,2019,% of population covered by mobile 2G+ data con...,100.00,6.000000,True
29,Argentina,2019,% of population covered by mobile 2G+ data con...,98.00,5.784250,True
35,Armenia,2019,% of population covered by mobile 2G+ data con...,100.00,6.000000,True
41,Australia,2019,% of population covered by mobile 2G+ data con...,99.40,5.935275,True
47,Austria,2019,% of population covered by mobile 2G+ data con...,99.00,5.892125,True
53,Azerbaijan,2019,% of population covered by mobile 2G+ data con...,100.00,6.000000,True
59,Burundi,2019,% of population covered by mobile 2G+ data con...,53.65,1.000000,True
65,Belgium,2019,% of population covered by mobile 2G+ data con...,100.00,6.000000,True
71,Benin,2019,% of population covered by mobile 2G+ data con...,98.00,5.784250,True
77,Burkina Faso,2019,% of population covered by mobile 2G+ data con...,97.90,5.773463,True
83,Bangladesh,2019,% of population covered by mobile 2G+ data con...,99.60,5.956850,True
89,Bulgaria,2019,% of population covered by mobile 2G+ data con...,100.00,6.000000,True

In [73]:
### 5. % of population covered by mobile 3G

In [74]:
indicators[4]

# load data
indicator = indicators[4]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population covered by mobile 3G+ data connectivity
countries_mobile_connectivity

In [75]:
df.head(10)

,ISO Code,Country,Region,Year,Cluster,Index,Infrastructure,Affordability,Consumer Readiness,Content and Services,...,Gender gap in mobile ownership,TLDs per capita,E-Government Score,Mobile Social Media Penetration,Apps developed per person,Number of apps in national language,Accessibility of top ranked apps,Cybersecurity Index,data_country,data_year
0,AFG,Afghanistan,South Asia,2014,Discoverer,22.12,21.74,31.79,24.40,14.19,...,0.00,39.55,18.11,3.28,20.98,2.44,4.37,26.50,NaN,NaN
1,AFG,Afghanistan,South Asia,2015,Discoverer,22.99,22.82,30.81,25.28,15.71,...,0.00,39.57,24.27,4.36,22.93,2.79,8.03,25.83,NaN,NaN
2,AFG,Afghanistan,South Asia,2016,Discoverer,23.71,26.92,26.75,26.07,16.83,...,0.00,39.58,30.43,6.73,30.31,2.85,5.90,25.17,NaN,NaN
3,AFG,Afghanistan,South Asia,2017,Discoverer,25.82,33.54,27.22,28.56,17.04,...,0.00,39.47,30.50,7.78,31.62,2.91,6.15,24.50,NaN,NaN
4,AFG,Afghanistan,South Asia,2018,Discoverer,28.39,30.91,42.64,29.24,16.87,...,0.00,39.39,30.56,8.54,36.54,2.96,8.66,17.70,NaN,NaN
5,AFG,Afghanistan,South Asia,2019,Discoverer,28.94,32.34,41.53,29.72,17.58,...,0.00,39.41,41.18,9.39,39.36,3.00,5.72,17.70,NaN,NaN
6,AGO,Angola,Sub-Saharan Africa,2014,Discoverer,32.78,25.99,35.99,44.33,27.85,...,51.65,0.00,29.92,3.99,22.74,53.33,49.09,8.80,NaN,NaN
7,AGO,Angola,Sub-Saharan Africa,2015,Emerging,37.18,33.09,42.01,45.41,30.27,...,57.00,0.31,32.35,5.26,22.12,55.08,58.33,8.47,NaN,NaN
8,AGO,Angola,Sub-Saharan Africa,2016,Emerging,39.85,37.80,44.74,46.47,32.11,...,63.73,0.00,34.78,6.27,27.46,56.52,61.73,8.13,NaN,NaN
9,AGO,Angola,Sub-Saharan Africa,2017,Emerging,42.89,48.60,47.94,46.32,31.36,...,53.97,0.00,37.88,4.26,31.94,57.06,55.09,7.80,NaN,NaN

In [76]:
# filter most recent year
df = df[(df.Year==2019)]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['3G Coverage'] 

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [77]:
df[['Country','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country,Year,Indicator,data_col,new_rank_score,higher_is_better
5,Afghanistan,2019,% of population covered by mobile 3G+ data con...,58.7,3.282895,True
11,Angola,2019,% of population covered by mobile 3G+ data con...,71.0,4.092105,True
17,Albania,2019,% of population covered by mobile 3G+ data con...,97.0,5.802632,True
23,United Arab Emirates,2019,% of population covered by mobile 3G+ data con...,100.0,6.000000,True
29,Argentina,2019,% of population covered by mobile 3G+ data con...,95.0,5.671053,True
35,Armenia,2019,% of population covered by mobile 3G+ data con...,99.0,5.934211,True
41,Australia,2019,% of population covered by mobile 3G+ data con...,99.5,5.967105,True
47,Austria,2019,% of population covered by mobile 3G+ data con...,99.0,5.934211,True
53,Azerbaijan,2019,% of population covered by mobile 3G+ data con...,95.0,5.671053,True
59,Burundi,2019,% of population covered by mobile 3G+ data con...,40.0,2.052632,True
65,Belgium,2019,% of population covered by mobile 3G+ data con...,100.0,6.000000,True
71,Benin,2019,% of population covered by mobile 3G+ data con...,89.0,5.276316,True
77,Burkina Faso,2019,% of population covered by mobile 3G+ data con...,65.0,3.697368,True
83,Bangladesh,2019,% of population covered by mobile 3G+ data con...,95.0,5.671053,True
89,Bulgaria,2019,% of population covered by mobile 3G+ data con...,100.0,6.000000,True

In [78]:
### 6. % of population covered by mobile 4G

In [79]:
indicators[5]

# load data
indicator = indicators[5]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population covered by mobile 4G+ data connectivity
countries_mobile_connectivity

In [80]:
df.head(10)

,ISO Code,Country,Region,Year,Cluster,Index,Infrastructure,Affordability,Consumer Readiness,Content and Services,...,Gender gap in mobile ownership,TLDs per capita,E-Government Score,Mobile Social Media Penetration,Apps developed per person,Number of apps in national language,Accessibility of top ranked apps,Cybersecurity Index,data_country,data_year
0,AFG,Afghanistan,South Asia,2014,Discoverer,22.12,21.74,31.79,24.40,14.19,...,0.00,39.55,18.11,3.28,20.98,2.44,4.37,26.50,NaN,NaN
1,AFG,Afghanistan,South Asia,2015,Discoverer,22.99,22.82,30.81,25.28,15.71,...,0.00,39.57,24.27,4.36,22.93,2.79,8.03,25.83,NaN,NaN
2,AFG,Afghanistan,South Asia,2016,Discoverer,23.71,26.92,26.75,26.07,16.83,...,0.00,39.58,30.43,6.73,30.31,2.85,5.90,25.17,NaN,NaN
3,AFG,Afghanistan,South Asia,2017,Discoverer,25.82,33.54,27.22,28.56,17.04,...,0.00,39.47,30.50,7.78,31.62,2.91,6.15,24.50,NaN,NaN
4,AFG,Afghanistan,South Asia,2018,Discoverer,28.39,30.91,42.64,29.24,16.87,...,0.00,39.39,30.56,8.54,36.54,2.96,8.66,17.70,NaN,NaN
5,AFG,Afghanistan,South Asia,2019,Discoverer,28.94,32.34,41.53,29.72,17.58,...,0.00,39.41,41.18,9.39,39.36,3.00,5.72,17.70,NaN,NaN
6,AGO,Angola,Sub-Saharan Africa,2014,Discoverer,32.78,25.99,35.99,44.33,27.85,...,51.65,0.00,29.92,3.99,22.74,53.33,49.09,8.80,NaN,NaN
7,AGO,Angola,Sub-Saharan Africa,2015,Emerging,37.18,33.09,42.01,45.41,30.27,...,57.00,0.31,32.35,5.26,22.12,55.08,58.33,8.47,NaN,NaN
8,AGO,Angola,Sub-Saharan Africa,2016,Emerging,39.85,37.80,44.74,46.47,32.11,...,63.73,0.00,34.78,6.27,27.46,56.52,61.73,8.13,NaN,NaN
9,AGO,Angola,Sub-Saharan Africa,2017,Emerging,42.89,48.60,47.94,46.32,31.36,...,53.97,0.00,37.88,4.26,31.94,57.06,55.09,7.80,NaN,NaN

In [81]:
# filter most recent year
df = df[(df.Year==2019)]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['4G Coverage'] 

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [82]:
df[['Country','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country,Year,Indicator,data_col,new_rank_score,higher_is_better
5,Afghanistan,2019,% of population covered by mobile 4G+ data con...,15.00,1.7500,True
11,Angola,2019,% of population covered by mobile 4G+ data con...,50.00,3.5000,True
17,Albania,2019,% of population covered by mobile 4G+ data con...,96.00,5.8000,True
23,United Arab Emirates,2019,% of population covered by mobile 4G+ data con...,99.00,5.9500,True
29,Argentina,2019,% of population covered by mobile 4G+ data con...,89.77,5.4885,True
35,Armenia,2019,% of population covered by mobile 4G+ data con...,95.00,5.7500,True
41,Australia,2019,% of population covered by mobile 4G+ data con...,99.20,5.9600,True
47,Austria,2019,% of population covered by mobile 4G+ data con...,99.00,5.9500,True
53,Azerbaijan,2019,% of population covered by mobile 4G+ data con...,90.00,5.5000,True
59,Burundi,2019,% of population covered by mobile 4G+ data con...,25.00,2.2500,True
65,Belgium,2019,% of population covered by mobile 4G+ data con...,100.00,6.0000,True
71,Benin,2019,% of population covered by mobile 4G+ data con...,45.00,3.2500,True
77,Burkina Faso,2019,% of population covered by mobile 4G+ data con...,8.64,1.4320,True
83,Bangladesh,2019,% of population covered by mobile 4G+ data con...,80.00,5.0000,True
89,Bulgaria,2019,% of population covered by mobile 4G+ data con...,100.00,6.0000,True

In [83]:
### 7. % of population covered by mobile 5G

In [250]:
indicators[6]

# load data
indicator = indicators[6]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population covered by mobile 5G+ data connectivity
countries_mobile_connectivity

In [85]:
df.head(10)

,ISO Code,Country,Region,Year,Cluster,Index,Infrastructure,Affordability,Consumer Readiness,Content and Services,...,Gender gap in mobile ownership,TLDs per capita,E-Government Score,Mobile Social Media Penetration,Apps developed per person,Number of apps in national language,Accessibility of top ranked apps,Cybersecurity Index,data_country,data_year
0,AFG,Afghanistan,South Asia,2014,Discoverer,22.12,21.74,31.79,24.40,14.19,...,0.00,39.55,18.11,3.28,20.98,2.44,4.37,26.50,NaN,NaN
1,AFG,Afghanistan,South Asia,2015,Discoverer,22.99,22.82,30.81,25.28,15.71,...,0.00,39.57,24.27,4.36,22.93,2.79,8.03,25.83,NaN,NaN
2,AFG,Afghanistan,South Asia,2016,Discoverer,23.71,26.92,26.75,26.07,16.83,...,0.00,39.58,30.43,6.73,30.31,2.85,5.90,25.17,NaN,NaN
3,AFG,Afghanistan,South Asia,2017,Discoverer,25.82,33.54,27.22,28.56,17.04,...,0.00,39.47,30.50,7.78,31.62,2.91,6.15,24.50,NaN,NaN
4,AFG,Afghanistan,South Asia,2018,Discoverer,28.39,30.91,42.64,29.24,16.87,...,0.00,39.39,30.56,8.54,36.54,2.96,8.66,17.70,NaN,NaN
5,AFG,Afghanistan,South Asia,2019,Discoverer,28.94,32.34,41.53,29.72,17.58,...,0.00,39.41,41.18,9.39,39.36,3.00,5.72,17.70,NaN,NaN
6,AGO,Angola,Sub-Saharan Africa,2014,Discoverer,32.78,25.99,35.99,44.33,27.85,...,51.65,0.00,29.92,3.99,22.74,53.33,49.09,8.80,NaN,NaN
7,AGO,Angola,Sub-Saharan Africa,2015,Emerging,37.18,33.09,42.01,45.41,30.27,...,57.00,0.31,32.35,5.26,22.12,55.08,58.33,8.47,NaN,NaN
8,AGO,Angola,Sub-Saharan Africa,2016,Emerging,39.85,37.80,44.74,46.47,32.11,...,63.73,0.00,34.78,6.27,27.46,56.52,61.73,8.13,NaN,NaN
9,AGO,Angola,Sub-Saharan Africa,2017,Emerging,42.89,48.60,47.94,46.32,31.36,...,53.97,0.00,37.88,4.26,31.94,57.06,55.09,7.80,NaN,NaN

In [86]:
# filter most recent year
df = df[(df.Year==2019)]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['5G Coverage'] 

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [87]:
df[['Country','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country,Year,Indicator,data_col,new_rank_score,higher_is_better
5,Afghanistan,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True
11,Angola,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True
17,Albania,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True
23,United Arab Emirates,2019,% of population covered by mobile 5G+ data con...,100.0,6.0,True
29,Argentina,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True
35,Armenia,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True
41,Australia,2019,% of population covered by mobile 5G+ data con...,100.0,6.0,True
47,Austria,2019,% of population covered by mobile 5G+ data con...,100.0,6.0,True
53,Azerbaijan,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True
59,Burundi,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True
65,Belgium,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True
71,Benin,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True
77,Burkina Faso,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True
83,Bangladesh,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True
89,Bulgaria,2019,% of population covered by mobile 5G+ data con...,0.0,1.0,True

In [88]:
### 8. Mobile Coverage Maps

In [251]:
indicators[7]

# load data
indicator = indicators[7]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Mobile Coverage Maps
ITU_database

In [90]:
df.head(15)

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
0,Angola,Africa,AGO,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
1,Benin,Africa,BEN,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
2,Botswana,Africa,BWA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
3,Burkina Faso,Africa,BFA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
4,Burundi,Africa,BDI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
5,Cabo Verde,Africa,CPV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
6,Cameroon,Africa,CMR,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
7,Central African Rep.,Africa,CAF,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
8,Chad,Africa,TCD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
9,Congo (Rep. of the),Africa,COG,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
10,Côte d'Ivoire,Africa,CIV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
11,Dem. Rep. of the Congo,Africa,COD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
12,Equatorial Guinea,Africa,GNQ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
13,Eritrea,Africa,ERI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
14,Eswatini,Africa,SWZ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN

In [94]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['2019'] 

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

KeyError: '2019'

In [95]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

KeyError: "['data_col', 'Country Name', 'new_rank_score'] not in index"

In [96]:
### 9. Electricity Density

In [97]:
indicators[8]

# load data
indicator = indicators[8]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Electricity Density
electricity_yearbook

In [98]:
df.head(10)

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2013,2014,2015,2016,2017,Unnamed: 28,2016 - 2017 (%),2000 - 2017 (%/year),data_country,data_year
0,11894.0,12173.0,12284.0,12574.0,12881.0,13327.0,13754.0,14045.0,14414.0,14823.0,...,23424.0,23910.0,24317.0,24918.0,25592.0,World,2.7,3.0,World,World
1,7712.0,7900.0,7975.0,8160.0,8389.0,8646.0,8889.0,9014.0,9244.0,9451.0,...,10902.0,10875.0,10914.0,10967.0,11069.0,OECD,0.9,0.7,OECD,OECD
2,6089.0,6236.0,6277.0,6414.0,6578.0,6760.0,6944.0,6985.0,7142.0,7272.0,...,7897.0,7876.0,7867.0,7848.0,7898.0,G7,0.6,0.3,G7,G7
3,2386.0,2468.0,2510.0,2583.0,2637.0,2754.0,2863.0,2961.0,3026.0,3170.0,...,8524.0,8880.0,9142.0,9550.0,10000.0,BRICS,4.7,6.6,BRICS,BRICS
4,2900.0,2937.0,2926.0,2931.0,2976.0,3071.0,3164.0,3199.0,3280.0,3327.0,...,3813.0,3744.0,3802.0,3839.0,3886.0,Europe,1.2,0.7,Europe,Europe
5,2595.0,2640.0,2624.0,2626.0,2667.0,2744.0,2846.0,2857.0,2923.0,2955.0,...,3269.0,3191.0,3234.0,3253.0,3275.0,European Union,0.7,0.4,European Union,European Union
6,71.0,72.0,72.0,71.0,72.0,74.0,76.0,79.0,83.0,85.0,...,83.0,73.0,71.0,86.0,87.0,Belgium,0.5,0.2,Belgium,Belgium
7,63.0,61.0,59.0,59.0,59.0,61.0,64.0,65.0,65.0,65.0,...,87.0,86.0,84.0,83.0,87.0,Czech Rep.,4.5,1.0,Czech Rep.,Czech Rep.
8,421.0,456.0,464.0,473.0,477.0,494.0,513.0,505.0,511.0,526.0,...,572.0,564.0,568.0,553.0,551.0,France,-0.4,0.1,France,France
9,550.0,540.0,537.0,526.0,529.0,537.0,555.0,552.0,556.0,556.0,...,639.0,628.0,647.0,648.0,653.0,Germany,0.6,0.7,Germany,Germany

In [99]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['2017'] 
df['Country'] = df['Unnamed: 28']
df['Year'] = 2017

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [100]:
df[['Country','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country,Year,Indicator,data_col,new_rank_score,higher_is_better
0,World,2017,Electricity Density,25592.0,6.000000,True
1,OECD,2017,Electricity Density,11069.0,3.159482,True
2,G7,2017,Electricity Density,7898.0,2.539274,True
3,BRICS,2017,Electricity Density,10000.0,2.950399,True
4,Europe,2017,Electricity Density,3886.0,1.754577,True
5,European Union,2017,Electricity Density,3275.0,1.635073,True
6,Belgium,2017,Electricity Density,87.0,1.011540,True
7,Czech Rep.,2017,Electricity Density,87.0,1.011540,True
8,France,2017,Electricity Density,551.0,1.102292,True
9,Germany,2017,Electricity Density,653.0,1.122242,True
10,Italy,2017,Electricity Density,295.0,1.052222,True
11,Netherlands,2017,Electricity Density,117.0,1.017407,True
12,Poland,2017,Electricity Density,171.0,1.027969,True
13,Portugal,2017,Electricity Density,60.0,1.006259,True
14,Romania,2017,Electricity Density,64.0,1.007041,True

In [101]:
### 10. % of population covered by electricity

In [252]:
indicators[9]

# load data
indicator = indicators[9]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population covered by electricity
population_electricity_coverage

In [103]:
### 11. % of population covered by electricity

In [253]:
indicators[10]

# load data
indicator = indicators[10]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Electricity supply quality
elect_supply_quality

In [254]:
df.head(10)

,Unnamed: 0,AGO,ALB,ARE,ARG,ARM,AUS,AUT,AZE,BDI,...,GCREURASIA,GCREAP,GCRSASIA,LIC,LMC,UMC,HIC,AVG,data_country,data_year
0,Attribute,Angola,Albania,United Arab Emirates,Argentina,Armenia,Australia,Austria,Azerbaijan,Burundi,...,Eurasia,East Asia and Pacific,South Asia,Low-income,Lower-middle-income,Upper-middle-income,High-income,Sample average,Attribute,Attribute
1,VALUE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VALUE,VALUE
2,RANK,136,81,25,83,69,16,21,58,135,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,RANK,RANK
3,SCORE,38.11248593,57.61416881,75.00738794,57.20132859,61.27687643,78.74662637,76.60913087,62.71789348,40.25234131,...,59.37969533,69.86862667,54.70460508,43.7445505,51.94942309,59.7912297,72.78080961,60.6396938,SCORE,SCORE
4,DATE DESCRIPTION,2019 edition,2019 edition,2019 edition,2019 edition,2019 edition,2019 edition,2019 edition,2019 edition,2019 edition,...,2019 edition,2019 edition,2019 edition,2019 edition,2019 edition,2019 edition,2019 edition,2019 edition,DATE DESCRIPTION,DATE DESCRIPTION
5,SOURCE,"World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...",...,"World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...","World Economic Forum, [i]Global Competitivenes...",SOURCE,SOURCE
6,SOURCE DATE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SOURCE DATE,SOURCE DATE
7,NOTE,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,See Appendix A of the Global Competitiveness R...,NOTE,NOTE
8,VALUE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VALUE,VALUE
9,RANK,136,88,3,109,62,22,20,64,134,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,RANK,RANK

In [106]:
# The data needs to be transposed as countries are now in columns, not rows, which could present problems for later.

In [107]:
### 12. Electricity Environmental Sustainability

In [255]:
indicators[11]

# load data
indicator = indicators[11]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Electricity Environmental Sustainability
sustainability_index

In [256]:
df.head(15)

,Country Code ISO3,Country,2021 SDG Index Score,2021 SDG Index Rank,Percentage missing values,Spillover Score (0-100),Regional Score (0-100),Regions used for the SDR,Population in 2020,Goal 1 Dash,...,Goal 10 Regional Score,Goal 11 Regional Score,Goal 12 Regional Score,Goal 13 Regional Score,Goal 14 Regional Score,Goal 15 Regional Score,Goal 16 Regional Score,Goal 17 Regional Score,data_country,data_year
0,AFG,Afghanistan,53.9,137.0,9.3,99.3,71.4,E. Europe & C. Asia,"38,928,341",grey,...,72.362762,76.443228,77.629345,83.041913,58.865821,69.499564,72.403938,63.386460,NaN,NaN
1,AGO,Angola,50.3,154.0,0.0,97.0,51.9,Africa,"32,866,268",red,...,37.334205,52.728915,88.024702,96.266527,68.010492,66.835003,56.050983,51.652955,NaN,NaN
2,ALB,Albania,71.0,64.0,3.3,94.3,71.4,E. Europe & C. Asia,"2,877,800",yellow,...,72.362762,76.443228,77.629345,83.041913,58.865821,69.499564,72.403938,63.386460,NaN,NaN
3,AND,Andorra,NaN,NaN,51.2,NaN,71.4,E. Europe & C. Asia,"77,265",grey,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ARE,United Arab Emirates,70.2,71.0,11.0,38.8,67.1,MENA,"9,890,400",green,...,66.178091,58.928271,76.842146,71.475510,62.776615,57.356212,69.093831,56.231255,NaN,NaN
5,ARG,Argentina,72.8,52.0,1.1,94.5,68.6,LAC,"45,195,777",yellow,...,27.901676,77.087594,76.727283,85.373283,62.781114,60.904217,60.888934,64.295156,NaN,NaN
6,ARM,Armenia,71.8,58.0,3.5,96.7,71.4,E. Europe & C. Asia,"2,963,234",yellow,...,72.362762,76.443228,77.629345,83.041913,58.865821,69.499564,72.403938,63.386460,NaN,NaN
7,ATG,Antigua and Barbuda,NaN,NaN,30.8,NaN,68.6,LAC,"97,928",grey,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,AUS,Australia,75.6,35.0,1.1,63.9,77.2,OECD,"25,499,881",yellow,...,74.475203,88.911367,58.055279,64.112721,63.360546,74.102776,82.316815,65.773824,NaN,NaN
9,AUT,Austria,82.1,6.0,3.5,59.5,77.2,OECD,"9,006,400",green,...,74.475203,88.911367,58.055279,64.112721,63.360546,74.102776,82.316815,65.773824,NaN,NaN
10,AZE,Azerbaijan,72.4,55.0,7.0,97.6,71.4,E. Europe & C. Asia,"10,139,175",green,...,72.362762,76.443228,77.629345,83.041913,58.865821,69.499564,72.403938,63.386460,NaN,NaN
11,BDI,Burundi,51.8,147.0,7.0,99.8,51.9,Africa,"11,890,781",red,...,37.334205,52.728915,88.024702,96.266527,68.010492,66.835003,56.050983,51.652955,NaN,NaN
12,BEL,Belgium,82.2,5.0,4.4,62.0,77.2,OECD,"11,589,616",green,...,74.475203,88.911367,58.055279,64.112721,63.360546,74.102776,82.316815,65.773824,NaN,NaN
13,BEN,Benin,49.9,155.0,4.4,98.8,51.9,Africa,"12,123,198",red,...,37.334205,52.728915,88.024702,96.266527,68.010492,66.835003,56.050983,51.652955,NaN,NaN
14,BFA,Burkina Faso,53.5,139.0,1.2,99.4,51.9,Africa,"20,903,278",red,...,37.334205,52.728915,88.024702,96.266527,68.010492,66.835003,56.050983,51.652955,NaN,NaN

In [257]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['2021 SDG Index Score'] 
df['Country Name'] = df['Country']
df['Year'] = 2021

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [258]:
df[['Country','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country,Year,Indicator,data_col,new_rank_score,higher_is_better
0,Afghanistan,2021,Electricity Environmental Sustainability,53.9,2.638655,True
1,Angola,2021,Electricity Environmental Sustainability,50.3,2.260504,True
2,Albania,2021,Electricity Environmental Sustainability,71.0,4.434874,True
3,Andorra,2021,Electricity Environmental Sustainability,NaN,NaN,True
4,United Arab Emirates,2021,Electricity Environmental Sustainability,70.2,4.350840,True
5,Argentina,2021,Electricity Environmental Sustainability,72.8,4.623950,True
6,Armenia,2021,Electricity Environmental Sustainability,71.8,4.518908,True
7,Antigua and Barbuda,2021,Electricity Environmental Sustainability,NaN,NaN,True
8,Australia,2021,Electricity Environmental Sustainability,75.6,4.918067,True
9,Austria,2021,Electricity Environmental Sustainability,82.1,5.600840,True
10,Azerbaijan,2021,Electricity Environmental Sustainability,72.4,4.581933,True
11,Burundi,2021,Electricity Environmental Sustainability,51.8,2.418067,True
12,Belgium,2021,Electricity Environmental Sustainability,82.2,5.611345,True
13,Benin,2021,Electricity Environmental Sustainability,49.9,2.218487,True
14,Burkina Faso,2021,Electricity Environmental Sustainability,53.5,2.596639,True

In [112]:
### 13. Cellphone Signal Density

In [259]:
indicators[12]

# load data
indicator = indicators[12]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Cellphone Signal Density
mobile_density

In [114]:
df.head(10)
#No country names in the data file

,Unnamed: 0,ISO Code,Country,Region,Year,Network coverage
0,1,AFG,Afghanistan,South Asia,2014,28.919998
1,2,AFG,Afghanistan,South Asia,2015,31.799999
2,3,AFG,Afghanistan,South Asia,2016,33.040001
3,4,AFG,Afghanistan,South Asia,2017,36.340000
4,5,AFG,Afghanistan,South Asia,2018,30.931999
5,6,AFG,Afghanistan,South Asia,2019,38.480000
6,7,AGO,Angola,Sub-Saharan Africa,2014,51.445770
7,8,AGO,Angola,Sub-Saharan Africa,2015,53.906952
8,9,AGO,Angola,Sub-Saharan Africa,2016,61.174950
9,10,AGO,Angola,Sub-Saharan Africa,2017,60.800003

In [120]:
### 14. Telecommunication Infrastructure Index (TII)

In [263]:
indicators[13]

# load data
indicator = indicators[13]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Telecommunication Infrastructure Index (TII)
e_government_index

In [122]:
df.head(10)

,ISO Code,Country,Region,Year,Cluster,Index,Infrastructure,Affordability,Consumer Readiness,Content and Services,...,Gender gap in mobile ownership,TLDs per capita,E-Government Score,Mobile Social Media Penetration,Apps developed per person,Number of apps in national language,Accessibility of top ranked apps,Cybersecurity Index,data_country,data_year
0,AFG,Afghanistan,South Asia,2014,Discoverer,22.12,21.74,31.79,24.40,14.19,...,0.00,39.55,18.11,3.28,20.98,2.44,4.37,26.50,NaN,NaN
1,AFG,Afghanistan,South Asia,2015,Discoverer,22.99,22.82,30.81,25.28,15.71,...,0.00,39.57,24.27,4.36,22.93,2.79,8.03,25.83,NaN,NaN
2,AFG,Afghanistan,South Asia,2016,Discoverer,23.71,26.92,26.75,26.07,16.83,...,0.00,39.58,30.43,6.73,30.31,2.85,5.90,25.17,NaN,NaN
3,AFG,Afghanistan,South Asia,2017,Discoverer,25.82,33.54,27.22,28.56,17.04,...,0.00,39.47,30.50,7.78,31.62,2.91,6.15,24.50,NaN,NaN
4,AFG,Afghanistan,South Asia,2018,Discoverer,28.39,30.91,42.64,29.24,16.87,...,0.00,39.39,30.56,8.54,36.54,2.96,8.66,17.70,NaN,NaN
5,AFG,Afghanistan,South Asia,2019,Discoverer,28.94,32.34,41.53,29.72,17.58,...,0.00,39.41,41.18,9.39,39.36,3.00,5.72,17.70,NaN,NaN
6,AGO,Angola,Sub-Saharan Africa,2014,Discoverer,32.78,25.99,35.99,44.33,27.85,...,51.65,0.00,29.92,3.99,22.74,53.33,49.09,8.80,NaN,NaN
7,AGO,Angola,Sub-Saharan Africa,2015,Emerging,37.18,33.09,42.01,45.41,30.27,...,57.00,0.31,32.35,5.26,22.12,55.08,58.33,8.47,NaN,NaN
8,AGO,Angola,Sub-Saharan Africa,2016,Emerging,39.85,37.80,44.74,46.47,32.11,...,63.73,0.00,34.78,6.27,27.46,56.52,61.73,8.13,NaN,NaN
9,AGO,Angola,Sub-Saharan Africa,2017,Emerging,42.89,48.60,47.94,46.32,31.36,...,53.97,0.00,37.88,4.26,31.94,57.06,55.09,7.80,NaN,NaN

In [264]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Telecommunication Infrastructure Index'] 
df['Year'] = df['Survey Year']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

df.rename(columns={'Country Name':'Country'}, inplace=True)

In [265]:
df[['Country','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country,Year,Indicator,data_col,new_rank_score,higher_is_better
0,Iraq,2020,Telecommunication Infrastructure Index (TII),0.5370,3.6850,True
1,Ireland,2020,Telecommunication Infrastructure Index (TII),0.8100,5.0500,True
2,Israel,2020,Telecommunication Infrastructure Index (TII),0.8689,5.3445,True
3,Italy,2020,Telecommunication Infrastructure Index (TII),0.7932,4.9660,True
4,Jamaica,2020,Telecommunication Infrastructure Index (TII),0.5151,3.5755,True
5,Japan,2020,Telecommunication Infrastructure Index (TII),0.9223,5.6115,True
6,Jordan,2020,Telecommunication Infrastructure Index (TII),0.5540,3.7700,True
7,Kazakhstan,2020,Telecommunication Infrastructure Index (TII),0.7024,4.5120,True
8,Kenya,2020,Telecommunication Infrastructure Index (TII),0.3402,2.7010,True
9,Kiribati,2020,Telecommunication Infrastructure Index (TII),0.1241,1.6205,True
10,Kuwait,2020,Telecommunication Infrastructure Index (TII),0.7858,4.9290,True
11,Kyrgyzstan,2020,Telecommunication Infrastructure Index (TII),0.5902,3.9510,True
12,Lao People's Democratic Republic,2020,Telecommunication Infrastructure Index (TII),0.2383,2.1915,True
13,Latvia,2020,Telecommunication Infrastructure Index (TII),0.8399,5.1995,True
14,Lebanon,2020,Telecommunication Infrastructure Index (TII),0.4123,3.0615,True

In [125]:
### 15. GSMA Mobile Connectivity Index

In [266]:
indicators[14]

# load data
indicator = indicators[14]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

GSMA Mobile Connectivity Index
countries_mobile_connectivity

In [267]:
df.head(10)

,ISO Code,Country,Region,Year,Cluster,Index,Infrastructure,Affordability,Consumer Readiness,Content and Services,...,Gender gap in mobile ownership,TLDs per capita,E-Government Score,Mobile Social Media Penetration,Apps developed per person,Number of apps in national language,Accessibility of top ranked apps,Cybersecurity Index,data_country,data_year
0,AFG,Afghanistan,South Asia,2014,Discoverer,22.12,21.74,31.79,24.40,14.19,...,0.00,39.55,18.11,3.28,20.98,2.44,4.37,26.50,NaN,NaN
1,AFG,Afghanistan,South Asia,2015,Discoverer,22.99,22.82,30.81,25.28,15.71,...,0.00,39.57,24.27,4.36,22.93,2.79,8.03,25.83,NaN,NaN
2,AFG,Afghanistan,South Asia,2016,Discoverer,23.71,26.92,26.75,26.07,16.83,...,0.00,39.58,30.43,6.73,30.31,2.85,5.90,25.17,NaN,NaN
3,AFG,Afghanistan,South Asia,2017,Discoverer,25.82,33.54,27.22,28.56,17.04,...,0.00,39.47,30.50,7.78,31.62,2.91,6.15,24.50,NaN,NaN
4,AFG,Afghanistan,South Asia,2018,Discoverer,28.39,30.91,42.64,29.24,16.87,...,0.00,39.39,30.56,8.54,36.54,2.96,8.66,17.70,NaN,NaN
5,AFG,Afghanistan,South Asia,2019,Discoverer,28.94,32.34,41.53,29.72,17.58,...,0.00,39.41,41.18,9.39,39.36,3.00,5.72,17.70,NaN,NaN
6,AGO,Angola,Sub-Saharan Africa,2014,Discoverer,32.78,25.99,35.99,44.33,27.85,...,51.65,0.00,29.92,3.99,22.74,53.33,49.09,8.80,NaN,NaN
7,AGO,Angola,Sub-Saharan Africa,2015,Emerging,37.18,33.09,42.01,45.41,30.27,...,57.00,0.31,32.35,5.26,22.12,55.08,58.33,8.47,NaN,NaN
8,AGO,Angola,Sub-Saharan Africa,2016,Emerging,39.85,37.80,44.74,46.47,32.11,...,63.73,0.00,34.78,6.27,27.46,56.52,61.73,8.13,NaN,NaN
9,AGO,Angola,Sub-Saharan Africa,2017,Emerging,42.89,48.60,47.94,46.32,31.36,...,53.97,0.00,37.88,4.26,31.94,57.06,55.09,7.80,NaN,NaN

In [268]:
# filter most recent year
df = df[(df.Year==2019)]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Index'] 

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [269]:
df[['Country','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country,Year,Indicator,data_col,new_rank_score,higher_is_better
5,Afghanistan,2019,GSMA Mobile Connectivity Index,28.94,2.041533,True
11,Angola,2019,GSMA Mobile Connectivity Index,43.53,2.979555,True
17,Albania,2019,GSMA Mobile Connectivity Index,67.89,4.545712,True
23,United Arab Emirates,2019,GSMA Mobile Connectivity Index,78.23,5.210492,True
29,Argentina,2019,GSMA Mobile Connectivity Index,67.16,4.498778,True
35,Armenia,2019,GSMA Mobile Connectivity Index,56.24,3.796708,True
41,Australia,2019,GSMA Mobile Connectivity Index,90.51,6.000000,True
47,Austria,2019,GSMA Mobile Connectivity Index,84.21,5.594959,True
53,Azerbaijan,2019,GSMA Mobile Connectivity Index,58.28,3.927864,True
59,Burundi,2019,GSMA Mobile Connectivity Index,26.16,1.862801,True
65,Belgium,2019,GSMA Mobile Connectivity Index,82.56,5.488877,True
71,Benin,2019,GSMA Mobile Connectivity Index,39.07,2.692812,True
77,Burkina Faso,2019,GSMA Mobile Connectivity Index,32.44,2.266555,True
83,Bangladesh,2019,GSMA Mobile Connectivity Index,46.47,3.168574,True
89,Bulgaria,2019,GSMA Mobile Connectivity Index,70.37,4.705156,True

In [130]:
### 16. Spectrum Allocated to Mobile Providers

In [270]:
indicators[15]

# load data
indicator = indicators[15]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Spectrum Allocated to Mobile Providers
spectrum_allocated_mobile_providers

In [271]:
df.head(15)

,ISO Code,Country,Region,Year,Cluster,Index,Infrastructure,Affordability,Consumer Readiness,Content and Services,...,Gender gap in mobile ownership,TLDs per capita,E-Government Score,Mobile Social Media Penetration,Apps developed per person,Number of apps in national language,Accessibility of top ranked apps,Cybersecurity Index,data_country,data_year
0,AFG,Afghanistan,South Asia,2014,Discoverer,22.12,21.74,31.79,24.40,14.19,...,0.00,39.55,18.11,3.28,20.98,2.44,4.37,26.50,NaN,NaN
1,AFG,Afghanistan,South Asia,2015,Discoverer,22.99,22.82,30.81,25.28,15.71,...,0.00,39.57,24.27,4.36,22.93,2.79,8.03,25.83,NaN,NaN
2,AFG,Afghanistan,South Asia,2016,Discoverer,23.71,26.92,26.75,26.07,16.83,...,0.00,39.58,30.43,6.73,30.31,2.85,5.90,25.17,NaN,NaN
3,AFG,Afghanistan,South Asia,2017,Discoverer,25.82,33.54,27.22,28.56,17.04,...,0.00,39.47,30.50,7.78,31.62,2.91,6.15,24.50,NaN,NaN
4,AFG,Afghanistan,South Asia,2018,Discoverer,28.39,30.91,42.64,29.24,16.87,...,0.00,39.39,30.56,8.54,36.54,2.96,8.66,17.70,NaN,NaN
5,AFG,Afghanistan,South Asia,2019,Discoverer,28.94,32.34,41.53,29.72,17.58,...,0.00,39.41,41.18,9.39,39.36,3.00,5.72,17.70,NaN,NaN
6,AGO,Angola,Sub-Saharan Africa,2014,Discoverer,32.78,25.99,35.99,44.33,27.85,...,51.65,0.00,29.92,3.99,22.74,53.33,49.09,8.80,NaN,NaN
7,AGO,Angola,Sub-Saharan Africa,2015,Emerging,37.18,33.09,42.01,45.41,30.27,...,57.00,0.31,32.35,5.26,22.12,55.08,58.33,8.47,NaN,NaN
8,AGO,Angola,Sub-Saharan Africa,2016,Emerging,39.85,37.80,44.74,46.47,32.11,...,63.73,0.00,34.78,6.27,27.46,56.52,61.73,8.13,NaN,NaN
9,AGO,Angola,Sub-Saharan Africa,2017,Emerging,42.89,48.60,47.94,46.32,31.36,...,53.97,0.00,37.88,4.26,31.94,57.06,55.09,7.80,NaN,NaN
10,AGO,Angola,Sub-Saharan Africa,2018,Emerging,42.46,47.61,46.28,47.61,30.98,...,63.34,0.00,40.97,5.39,35.36,57.13,47.25,9.70,NaN,NaN
11,AGO,Angola,Sub-Saharan Africa,2019,Emerging,43.53,48.18,47.65,48.13,32.50,...,57.71,0.77,48.82,6.82,41.20,57.98,46.19,9.70,NaN,NaN
12,ALB,Albania,Europe & Central Asia,2014,Transitioner,53.74,41.32,55.95,74.94,48.13,...,68.42,53.41,44.88,39.75,66.65,60.33,56.55,20.60,NaN,NaN
13,ALB,Albania,Europe & Central Asia,2015,Transitioner,57.42,52.09,54.60,75.56,50.57,...,68.42,57.45,52.15,40.61,65.99,63.29,57.56,24.20,NaN,NaN
14,ALB,Albania,Europe & Central Asia,2016,Transitioner,60.24,57.44,54.45,75.97,55.41,...,67.39,58.70,59.42,48.07,69.64,65.57,65.80,27.80,NaN,NaN

In [272]:
# filter most recent year
df = df[(df.Year==2019)]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Spectrum'] 

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [273]:
df[['Country','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country,Year,Indicator,data_col,new_rank_score,higher_is_better
5,Afghanistan,2019,Spectrum Allocated to Mobile Providers,17.62,1.577685,True
11,Angola,2019,Spectrum Allocated to Mobile Providers,48.22,3.261224,True
17,Albania,2019,Spectrum Allocated to Mobile Providers,52.85,3.515955,True
23,United Arab Emirates,2019,Spectrum Allocated to Mobile Providers,82.44,5.143926,True
29,Argentina,2019,Spectrum Allocated to Mobile Providers,63.38,4.095290,True
35,Armenia,2019,Spectrum Allocated to Mobile Providers,21.43,1.787302,True
41,Australia,2019,Spectrum Allocated to Mobile Providers,75.45,4.759353,True
47,Austria,2019,Spectrum Allocated to Mobile Providers,73.33,4.642716,True
53,Azerbaijan,2019,Spectrum Allocated to Mobile Providers,15.36,1.453345,True
59,Burundi,2019,Spectrum Allocated to Mobile Providers,16.29,1.504511,True
65,Belgium,2019,Spectrum Allocated to Mobile Providers,58.62,3.833407,True
71,Benin,2019,Spectrum Allocated to Mobile Providers,61.31,3.981404,True
77,Burkina Faso,2019,Spectrum Allocated to Mobile Providers,23.82,1.918794,True
83,Bangladesh,2019,Spectrum Allocated to Mobile Providers,19.97,1.706976,True
89,Bulgaria,2019,Spectrum Allocated to Mobile Providers,27.49,2.120709,True

In [135]:
### 17. Internet Exchange Points (IXPs)

In [274]:
indicators[16]

# load data
indicator = indicators[16]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Internet Exchange Points (IXPs) map
countries_ixp

In [275]:
df.head(15)

,Region,Country,City,IXP Name,Participants,Peak,Avg,IPv6,Prefixes,Established,URL
0,Asia-Pacific,Afghanistan,Kabul,National Internet Exchange of Afghanistan,20,6.4G,2.19G,NaN,NaN,18-Jul,NaN
1,Europe,Albania,Tirana,Albanian Neutral Internet eXchange,16,2.42G,35M,NaN,NaN,2018,NaN
2,NaN,Albania,Tirana,Albania IX,0,NaN,NaN,NaN,NaN,2011,NaN
3,Africa,Algeria,Algiers,Algeria Internet Exchange,0,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Angola,Luanda,Angola Internet Exchange,21,1.6G,NaN,NaN,512.0,17-Mar-06,NaN
5,NaN,Angola,Luanda,Ponto de Intercambio Internet Angola,0,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Angola,Luanda,ANGONIX,21,16G,NaN,NaN,5495.0,9-Mar-15,NaN
7,Latin America,Argentina,Bahía Blanca,CABASE IXP Bahía Blanca,15,713M,NaN,NaN,NaN,27-Apr-13,NaN
8,NaN,Argentina,Bariloche,CABASE IXP Bariloche,8,NaN,NaN,NaN,NaN,15-Sep-14,NaN
9,NaN,Argentina,Buenos Aires,CABASE IXP Buenos Aires,125,9.19G,NaN,NaN,17224.0,1-Apr-98,NaN
10,NaN,Argentina,Buenos Aires,Cubecorp,0,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,Argentina,Buenos Aires,CABASE IXP Ruteo Central,0,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,Argentina,Buenos Aires,CABASE IXP Oeste de Gran Buenos Aires,7,NaN,NaN,NaN,NaN,5-Jul-16,NaN
13,NaN,Argentina,Buenos Aires,NAP CABASE La Matanza,0,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,Argentina,Concepcion del Uruguay,CABASE IXP Concepcion del Uruguay,4,NaN,NaN,NaN,NaN,NaN,NaN

In [276]:
agg_df = df.groupby('Country').agg({'Country':'count'})
agg_df

             Country
Country
Afghanistan        1
Albania            2
Algeria            1
Angola             3
Argentina         33
...              ...
Uzbekistan         3
Vanuatu            1
Viet Nam           3
Zambia             1
Zimbabwe           2

[165 rows x 1 columns]

In [277]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

agg_df['higher_is_better'] = True
agg_df['Indicator'] = indicator
agg_df['data_col'] = agg_df['Country'] 
agg_df['Year'] = 2019

min_rank = agg_df['data_col'].min()
max_rank = agg_df['data_col'].max()

# transform 0-1 rank into 1-6
agg_df['new_rank_score'] = agg_df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [278]:
agg_df[['Year','Indicator','data_col','new_rank_score','higher_is_better']].head(150)

,Year,Indicator,data_col,new_rank_score,higher_is_better
Country,,,,,
Afghanistan,2019,Internet Exchange Points (IXPs) map,1,1.000000,True
Albania,2019,Internet Exchange Points (IXPs) map,2,1.023148,True
Algeria,2019,Internet Exchange Points (IXPs) map,1,1.000000,True
Angola,2019,Internet Exchange Points (IXPs) map,3,1.046296,True
Argentina,2019,Internet Exchange Points (IXPs) map,33,1.740741,True
...,...,...,...,...,...
Syria,2019,Internet Exchange Points (IXPs) map,1,1.000000,True
Taiwan,2019,Internet Exchange Points (IXPs) map,7,1.138889,True
Tajikistan,2019,Internet Exchange Points (IXPs) map,1,1.000000,True
Tanzania,2019,Internet Exchange Points (IXPs) map,5,1.092593,True
Thailand,2019,Internet Exchange Points (IXPs) map,13,1.277778,True

In [141]:
### 18. ISP Speeds - Fixed

In [279]:
indicators[17]

# load data
indicator = indicators[17]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

# Convert yaml to csv

ISP Speeds - Mobile
speedtest-global-performance

FileNotFoundError: [Errno 2] No such file or directory: '../../processed/speedtest-global-performance.csv'

In [143]:
df.head(15)

    Ranking  Year               Country  Download speed (Mbps)
0         1  2021                Monaco                 256.70
1         2  2021             Singapore                 256.03
2         3  2021       Hong Kong (SAR)                 248.59
3         4  2021              Thailand                 216.16
4         5  2021               Romania                 215.30
5         6  2021           Switzerland                 214.82
6         7  2021           South Korea                 212.83
7         8  2021                 Chile                 209.45
8         9  2021               Denmark                 208.50
9        10  2021         Liechtenstein                 207.44
10       11  2021                France                 199.68
11       12  2021               Hungary                 199.47
12       13  2021               Moldova                 196.46
13       14  2021         United States                 195.55
14       15  2021  United Arab Emirates                 190.96

In [144]:
### 20. SP Speeds - Mobile

In [145]:
# May also have to convert yaml to csv

In [146]:
### 21. ISP internet download speed average

In [147]:
indicators[20]

# load data
indicator = indicators[20]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

# Waiting for internet_speed to be added to the processed folder

Mobile download speed average
mobile_speed

In [148]:
df.head(15)

     #  Year               Country    Mbps
0    1  2021  United Arab Emirates  190.03
1    2  2021           South Korea  189.20
2    3  2021                 Qatar  170.77
3    4  2021                 China  157.72
4    5  2021                Cyprus  154.13
5    6  2021                Norway  152.53
6    7  2021          Saudi Arabia  151.13
7    8  2021                Kuwait  140.16
8    9  2021             Australia  122.27
9   10  2021              Bulgaria  120.44
10  11  2021            Luxembourg  110.72
11  12  2021           Switzerland  109.65
12  13  2021           Netherlands  100.65
13  14  2021         United States   91.01
14  15  2021                Sweden   90.57

In [149]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Download speed (Mbps)'] 

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

KeyError: 'Download speed (Mbps)'

In [150]:
df[['Country','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

KeyError: "['data_col', 'new_rank_score'] not in index"

In [151]:
### 22. Mobile dowload speed at the slowest hour

In [152]:
indicators[21]

# load data
indicator = indicators[21]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

# Waiting for internet_speed to be added to the processed folder

Individuals using the Internet (% of population)
ITU_database

In [153]:
df.head(15)

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
0,Angola,Africa,AGO,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
1,Benin,Africa,BEN,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
2,Botswana,Africa,BWA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
3,Burkina Faso,Africa,BFA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
4,Burundi,Africa,BDI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
5,Cabo Verde,Africa,CPV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
6,Cameroon,Africa,CMR,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
7,Central African Rep.,Africa,CAF,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
8,Chad,Africa,TCD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
9,Congo (Rep. of the),Africa,COG,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
10,Côte d'Ivoire,Africa,CIV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
11,Dem. Rep. of the Congo,Africa,COD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
12,Equatorial Guinea,Africa,GNQ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
13,Eritrea,Africa,ERI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
14,Eswatini,Africa,SWZ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN

In [154]:
# filter most recent year
df = df[(df.Year==2019)]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Mobile latencies'] 

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

KeyError: 'Mobile latencies'

In [155]:
df[['Country','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

KeyError: "['data_col', 'new_rank_score'] not in index"

In [156]:
### 23. Mobile download speed average

In [157]:
indicators[22]

# load data
indicator = indicators[22]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Mobile cellular subscriptions (per 100 people)
ITU_database

In [158]:
df.head(15)

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
0,Angola,Africa,AGO,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
1,Benin,Africa,BEN,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
2,Botswana,Africa,BWA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
3,Burkina Faso,Africa,BFA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
4,Burundi,Africa,BDI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
5,Cabo Verde,Africa,CPV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
6,Cameroon,Africa,CMR,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
7,Central African Rep.,Africa,CAF,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
8,Chad,Africa,TCD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
9,Congo (Rep. of the),Africa,COG,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
10,Côte d'Ivoire,Africa,CIV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
11,Dem. Rep. of the Congo,Africa,COD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
12,Equatorial Guinea,Africa,GNQ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
13,Eritrea,Africa,ERI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
14,Eswatini,Africa,SWZ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN

In [159]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Mbps'] 

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

KeyError: 'Mbps'

In [160]:
df[['Country','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

KeyError: "['data_col', 'new_rank_score'] not in index"

In [161]:
### 24. Individuals using the Internet (% of population)

In [162]:
indicators[23]

# load data
indicator = indicators[23]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Average fixed broadband download speeds
fixed_bdbd_spd_dl_ul

In [163]:
df.head(15)

          country  broadband  mobile     pop2021
0       Singapore     226.60   60.52    5896.686
1       Hong Kong     210.73   50.96    7552.810
2         Romania     193.47   40.35   19127.774
3     Switzerland     178.81   64.10    8715.494
4        Thailand     175.22   34.38   69950.850
5          France     173.05   49.82   65426.179
6         Denmark     162.08   63.86    5813.298
7          Monaco     162.06     NaN      39.511
8         Hungary     161.51   44.52    9634.164
9   United States     161.14   47.13  332915.073
10          Spain     157.22   39.03   46745.216
11  Liechtenstein     156.94     NaN      38.250
12         Sweden     156.34   53.13   10160.169
13    South Korea     155.39  121.00   51305.186
14          Macau     154.57   53.30     658.394

In [164]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Year'] = 2017
df['Indicator'] = indicator
df['data_col'] = df['2017_value'] 
df.rename(columns = {'ShortName':'Country'}, inplace=True)

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

KeyError: '2017_value'

In [165]:
df[['Country','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)
#2019 data is missing too much, switching to 2017

KeyError: "['data_col', 'Country', 'new_rank_score'] not in index"

In [166]:
### 25. Mobile cellular subscriptions (per 100 people)

In [167]:
indicators[24]

# load data
indicator = indicators[24]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

#Waiting for mobile_cell_sub to be added to processed folder

Postal Coverage
postal_coverage

In [168]:
### 26. Average fixed broadband download speeds

In [169]:
indicators[25]

# load data
indicator = indicators[25]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Logistics Performance Index (LPI) - Infrastructure Rating
logistics_performance_index

In [170]:
df.head(15)

,Country,Code,score,lower bound,upper bound,rank,% of highest performer,data_country,data_year
0,Germany,DEU,4.39,1,1,3,100.00,NaN,NaN
1,Sweden,SWE,4.28,2,12,7,95.36,NaN,NaN
2,Belgium,BEL,4.41,2,12,1,94.93,NaN,NaN
3,Austria,AUT,4.25,2,14,12,94.52,NaN,NaN
4,Japan,JPN,4.25,2,10,10,94.51,NaN,NaN
5,Netherlands,NLD,4.25,2,11,11,94.31,NaN,NaN
6,Singapore,SGP,4.32,2,15,6,93.59,NaN,NaN
7,Denmark,DNK,4.41,2,17,2,93.45,NaN,NaN
8,United Kingdom,GBR,4.33,3,11,5,93.30,NaN,NaN
9,Finland,FIN,4.28,1,21,8,92.74,NaN,NaN
10,United Arab Emirates,ARE,4.38,2,15,4,92.35,NaN,NaN
11,"Hong Kong SAR, China",HKG,4.14,7,17,15,91.21,NaN,NaN
12,Switzerland,CHE,4.24,7,17,13,90.63,NaN,NaN
13,United States,USA,4.08,12,17,19,90.12,NaN,NaN
14,New Zealand,NZL,4.26,2,23,9,89.82,NaN,NaN

In [171]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Year'] = 2021
df['Indicator'] = indicator
df['data_col'] = df['broadband'] 
df.rename(columns = {'country':'Country'}, inplace=True)

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

KeyError: 'broadband'

In [172]:
df[['Country','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

KeyError: "['data_col', 'new_rank_score'] not in index"

In [173]:
### 27. Average fixed broadband upload speeds
# Must convert yaml to csv

In [174]:
### 28. Average fixed broadband latency
# Must convert yaml to csv

In [175]:
### 29. Postal Coverage

In [176]:
indicators[28]

# load data
indicator = indicators[28]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Global Cybersecurity Index (GCI)
dice_export_global_cybersecurity_index

In [177]:
df.head(15)

                       Country  Score (2020)  Rank (2020)
0   United States of America**        100.00          1.0
1               United Kingdom         99.54          2.0
2                 Saudi Arabia         99.54          2.0
3                      Estonia         99.48          3.0
4              Korea (Rep. of)         98.52          4.0
5                    Singapore         98.52          4.0
6                        Spain         98.52          4.0
7           Russian Federation         98.06          5.0
8         United Arab Emirates         98.06          5.0
9                     Malaysia         98.06          5.0
10                   Lithuania         97.93          6.0
11                       Japan         97.82          7.0
12                    Canada**         97.67          8.0
13                      France         97.60          9.0
14                       India         97.50         10.0

In [178]:
#Choose 'Percent of Population Having Mail Delivered at Home' as the data column
df = df[(df.Indicator=='Percent of Population Having Mail Delivered at Home')]
df.head(15)

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Year'] = 2015
df['Indicator'] = indicator
df['data_col'] = df['2015'] 

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

AttributeError: 'DataFrame' object has no attribute 'Indicator'

In [179]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

KeyError: "None of [Index(['Country Name', 'Year', 'Indicator', 'data_col', 'new_rank_score',\n       'higher_is_better'],\n      dtype='object')] are in the [columns]"

In [180]:
### 30. Logistics Performance Index (LPI)

In [181]:
indicators[29]

# load data
indicator = indicators[29]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Software Developer Ecosystem size
software_developer_ecosystem_size

In [182]:
### 31.Schools with Internet proportion

In [183]:
indicators[30]

# load data
indicator = indicators[30]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Digital Work Ecosystem size
digital_platform_economy_index

In [184]:
### 32.National cyber security index

In [185]:
indicators[31]

# load data
indicator = indicators[31]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Country, Industry, Skill Migration Data (Skill)
migration_skill

In [186]:
df.head(15)

,country_code,country_name,wb_income,wb_region,skill_group_id,skill_group_category,skill_group_name,net_per_10K_2015,net_per_10K_2016,net_per_10K_2017,net_per_10K_2018,net_per_10K_2019,Unnamed: 12,data_country,data_year
0,af,Afghanistan,Low income,South Asia,2549.0,Tech Skills,Information Management,-791.59,-705.88,-550.04,-680.92,-1208.79,NaN,NaN,NaN
1,af,Afghanistan,Low income,South Asia,2608.0,Business Skills,Operational Efficiency,-1610.25,-933.55,-776.06,-532.22,-790.09,NaN,NaN,NaN
2,af,Afghanistan,Low income,South Asia,3806.0,Specialized Industry Skills,National Security,-1731.45,-769.68,-756.59,-600.44,-767.64,NaN,NaN,NaN
3,af,Afghanistan,Low income,South Asia,50321.0,Tech Skills,Software Testing,-957.50,-828.54,-964.73,-406.50,-739.51,NaN,NaN,NaN
4,af,Afghanistan,Low income,South Asia,1606.0,Specialized Industry Skills,Navy,-1510.71,-841.17,-842.32,-581.71,-718.64,NaN,NaN,NaN
5,af,Afghanistan,Low income,South Asia,3139.0,Disruptive Tech Skills,Materials Science,-1085.03,-1045.71,-783.03,-473.42,-717.73,NaN,NaN,NaN
6,af,Afghanistan,Low income,South Asia,1315.0,Specialized Industry Skills,Criminal Law,-687.80,-294.93,-769.01,-415.34,-698.84,NaN,NaN,NaN
7,af,Afghanistan,Low income,South Asia,1017.0,Soft Skills,Problem Solving,-906.42,-210.44,-480.92,-126.62,-696.16,NaN,NaN,NaN
8,af,Afghanistan,Low income,South Asia,2130.0,Tech Skills,Software Development Life Cycle (SDLC),-1096.96,-566.70,-478.30,-324.99,-692.24,NaN,NaN,NaN
9,af,Afghanistan,Low income,South Asia,2265.0,Specialized Industry Skills,Cybersecurity,-1046.26,-796.25,-796.72,-517.62,-640.96,NaN,NaN,NaN
10,af,Afghanistan,Low income,South Asia,1989.0,Tech Skills,Enterprise Software,-989.69,-778.24,-328.94,-350.93,-625.19,NaN,NaN,NaN
11,af,Afghanistan,Low income,South Asia,17168.0,Specialized Industry Skills,Water Engineering,-639.43,-851.40,-486.67,-377.28,-560.86,NaN,NaN,NaN
12,af,Afghanistan,Low income,South Asia,1871.0,Specialized Industry Skills,Air Force,-1488.62,-839.32,-777.83,-480.36,-553.91,NaN,NaN,NaN
13,af,Afghanistan,Low income,South Asia,3980.0,Specialized Industry Skills,Documentation,-1115.58,-955.82,-1025.11,-722.36,-534.90,NaN,NaN,NaN
14,af,Afghanistan,Low income,South Asia,2917.0,Specialized Industry Skills,Public Safety,-1191.25,-789.13,-743.97,-465.34,-531.68,NaN,NaN,NaN

In [187]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Year'] = 2021
df['Indicator'] = indicator
df['data_col'] = df['National Cyber Security Index'] 

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

KeyError: 'National Cyber Security Index'

In [188]:
df[['Country','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

KeyError: "['data_col', 'Country', 'new_rank_score'] not in index"

In [189]:
### 33. Global Cybersecurity Index (GCI)

In [190]:
indicators[32]

# load data
indicator = indicators[32]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Country, Industry, Skill Migration Data (Industry)
migration_industry

In [191]:
df.head(15)
#The Data is practically unusable, find a new one

,country_code,country_name,wb_income,wb_region,isic_section_index,isic_section_name,industry_id,industry_name,net_per_10K_2015,net_per_10K_2016,net_per_10K_2017,net_per_10K_2018,net_per_10K_2019,Unnamed: 13,data_country,data_year
0,ae,United Arab Emirates,High income,Middle East & North Africa,C,Manufacturing,1,Defense & Space,378.74,127.94,8.20,68.51,49.55,NaN,NaN,NaN
1,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,3,Computer Hardware,100.97,358.14,112.98,149.57,182.22,NaN,NaN,NaN
2,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,4,Computer Software,1079.36,848.15,596.48,409.18,407.41,NaN,NaN,NaN
3,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,5,Computer Networking,401.46,447.39,163.99,236.69,188.07,NaN,NaN,NaN
4,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,6,Internet,1840.33,1368.42,877.71,852.39,519.40,NaN,NaN,NaN
5,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,8,Telecommunications,676.91,676.11,365.96,283.59,281.91,NaN,NaN,NaN
6,ae,United Arab Emirates,High income,Middle East & North Africa,M,Professional scientific and technical activities,9,Law Practice,694.50,529.50,362.83,356.56,147.83,NaN,NaN,NaN
7,ae,United Arab Emirates,High income,Middle East & North Africa,M,Professional scientific and technical activities,10,Legal Services,661.10,665.65,462.30,475.62,255.21,NaN,NaN,NaN
8,ae,United Arab Emirates,High income,Middle East & North Africa,M,Professional scientific and technical activities,11,Management Consulting,982.85,694.25,520.28,574.60,406.03,NaN,NaN,NaN
9,ae,United Arab Emirates,High income,Middle East & North Africa,M,Professional scientific and technical activities,12,Biotechnology,1230.17,846.28,500.77,205.78,513.23,NaN,NaN,NaN
10,ae,United Arab Emirates,High income,Middle East & North Africa,Q,Human health and social work activities,13,Medical Practice,674.12,449.37,368.32,266.66,136.06,NaN,NaN,NaN
11,ae,United Arab Emirates,High income,Middle East & North Africa,Q,Human health and social work activities,14,Hospital & Health Care,784.47,663.06,475.39,373.26,268.67,NaN,NaN,NaN
12,ae,United Arab Emirates,High income,Middle East & North Africa,C,Manufacturing,15,Pharmaceuticals,893.55,714.75,473.60,515.47,396.71,NaN,NaN,NaN
13,ae,United Arab Emirates,High income,Middle East & North Africa,Q,Human health and social work activities,17,Medical Device,885.00,1034.07,543.44,415.49,183.75,NaN,NaN,NaN
14,ae,United Arab Emirates,High income,Middle East & North Africa,G,Wholesale and retail trade; repair of motor ve...,18,Cosmetics,928.04,689.92,428.23,278.95,157.01,NaN,NaN,NaN

In [192]:
### 34. Software Developer Ecosystem size

In [193]:
indicators[33]

# load data
indicator = indicators[33]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Country, Industry, Skill Migration Data (Country)
migration_country

In [194]:
df.head(15)

,base_country_code,base_country_name,base_lat,base_long,base_country_wb_income,base_country_wb_region,target_country_code,target_country_name,target_lat,target_long,target_country_wb_income,target_country_wb_region,net_per_10K_2015,net_per_10K_2016,net_per_10K_2017,net_per_10K_2018,net_per_10K_2019,Unnamed: 17,data_country,data_year
0,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,af,Afghanistan,33.939110,67.709953,Low Income,South Asia,0.19,0.16,0.11,-0.05,-0.02,NaN,NaN,NaN
1,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,dz,Algeria,28.033886,1.659626,Upper Middle Income,Middle East & North Africa,0.19,0.25,0.57,0.55,0.78,NaN,NaN,NaN
2,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,ao,Angola,-11.202692,17.873887,Lower Middle Income,Sub-Saharan Africa,-0.01,0.04,0.11,-0.02,-0.06,NaN,NaN,NaN
3,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,ar,Argentina,-38.416097,-63.616672,High Income,Latin America & Caribbean,0.16,0.18,0.04,0.01,0.23,NaN,NaN,NaN
4,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,am,Armenia,40.069099,45.038189,Upper Middle Income,Europe & Central Asia,0.10,0.05,0.03,-0.01,0.02,NaN,NaN,NaN
5,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,au,Australia,-25.274398,133.775136,High Income,East Asia & Pacific,-1.06,-3.31,-4.01,-4.58,-4.09,NaN,NaN,NaN
6,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,at,Austria,47.516231,14.550072,High Income,Europe & Central Asia,0.11,-0.08,-0.07,-0.05,-0.16,NaN,NaN,NaN
7,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,az,Azerbaijan,40.143105,47.576927,Upper Middle Income,Europe & Central Asia,0.24,0.25,0.10,0.05,0.04,NaN,NaN,NaN
8,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,bh,Bahrain,25.930414,50.637772,High Income,Middle East & North Africa,0.90,0.89,0.38,-0.07,0.15,NaN,NaN,NaN
9,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,bd,Bangladesh,23.684994,90.356331,Lower Middle Income,South Asia,-0.21,-0.21,-0.26,-0.18,-0.04,NaN,NaN,NaN
10,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,by,Belarus,53.709807,27.953389,Upper Middle Income,Europe & Central Asia,0.12,0.12,0.11,0.12,0.10,NaN,NaN,NaN
11,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,be,Belgium,50.503887,4.469936,High Income,Europe & Central Asia,0.51,0.22,-0.01,-0.09,-0.06,NaN,NaN,NaN
12,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,br,Brazil,-14.235004,-51.925280,Upper Middle Income,Latin America & Caribbean,0.81,0.78,0.63,0.90,0.99,NaN,NaN,NaN
13,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,bg,Bulgaria,42.733883,25.485830,Upper Middle Income,Europe & Central Asia,0.17,0.09,-0.07,-0.02,-0.04,NaN,NaN,NaN
14,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,cm,Cameroon,7.369722,12.354722,Lower Middle Income,Sub-Saharan Africa,0.20,0.13,0.20,0.29,0.29,NaN,NaN,NaN

In [195]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Year'] = 2018
df['Indicator'] = indicator
df['data_col'] = df['GitHub Accounts']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

#There is a small error in the column name this has been addressed, waiting for files to be updated

KeyError: 'GitHub Accounts'

In [196]:
### 35. Digital Work Ecosystem size

In [197]:
indicators[34]

# load data
indicator = indicators[34]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Digital Finance Ecosystem size
global_fintech_ranking

In [198]:
df.head(15)

    Rank          Country   Total Score (2021)
0      1    United States               31.789
1      2   United Kingdom               23.262
2      3        Singapore               19.176
3      4        Lithuania               17.343
4      5      Switzerland               16.018
5      6  The Netherlands               14.464
6      7           Sweden               14.272
7      8        Australia               13.555
8      9           Canada               13.322
9     10          Estonia               13.303
10    11          Germany               12.787
11    12           Israel               12.771
12    13            Spain               12.372
13    14          Finland               12.110
14    15            India               12.024

In [199]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = False
df['Year'] = 2020
df['Indicator'] = indicator
df['data_col'] = df.iloc[:,[0]].astype(float)

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

# invert since to lower rank is better
df['new_rank_score'] = df['new_rank_score'].apply(lambda row: (6-row)+1)

In [200]:
df[['Country','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)
# Two problems: 1. cannot use the name of the column, have to use iloc, 2. cannot use the index column
# because the number format is not standard, have to use the rank column

KeyError: "['Country'] not in index"

In [201]:
### 36. Country, Industry, Skill Migration Data (Skill)

In [202]:
indicators[35]

# load data
indicator = indicators[35]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Tech hubs & spaces size
tech_hubs

In [203]:
df.head(15)

,City/metropolitan area,Overall Score,Ranking,Score (Research innovation),Ranking (Research innovation),Score (Innovation economy),Ranking (Innovation economy),Score (Innovation ecosystem),Ranking (Innovation ecosystem)
0,San Francisco ? San Jose,100.00,1,91.59,3,100.00,1,100.00,1
1,New York,88.44,2,100.00,1,67.63,11,94.26,2
2,Boston ? Cambridge ? Newton,85.57,3,98.49,2,67.91,10,87.73,4
3,Tokyo,84.75,4,82.99,10,90.92,2,76.37,15
4,Beijing,84.68,5,85.96,8,86.49,3,77.96,11
5,London,80.69,6,88.49,4,63.63,18,88.09,3
6,Seattle ? Tacoma ? Bellevue,77.61,7,81.80,14,69.47,9,80.04,9
7,Los Angeles ? Long Beach ? Anaheim,76.88,8,85.10,9,63.46,19,81.18,6
8,Baltimore ? Washington,76.72,9,87.96,5,63.74,15,77.90,12
9,Chapel Hill ? Durham ? Raleigh,76.58,10,87.13,7,64.20,14,77.81,13
10,Paris,76.43,11,87.80,6,66.78,12,74.20,20
11,Amsterdam,75.64,12,82.30,11,62.87,22,81.01,7
12,Chicago ? Naperville ? Elgin,75.11,13,80.43,15,62.76,23,81.39,5
13,Singapore,74.36,14,77.80,18,63.66,16,80.86,8
14,Copenhagen,73.62,15,82.20,12,61.47,27,77.15,14

In [204]:
df['Country'] = df.iloc[:,[1]]

df_sum = df.groupby('Country')[['net_per_10K_2019']].sum()
df_sum

KeyError: "Columns not found: 'net_per_10K_2019'"

In [205]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df_sum['higher_is_better'] = True
df_sum['Year'] = 2019
df_sum['Indicator'] = indicator
df_sum['data_col'] = df_sum['net_per_10K_2019']


min_rank = df_sum['data_col'].min()
max_rank = df_sum['data_col'].max()

# transform 0-1 rank into 1-6
df_sum['new_rank_score'] = df_sum['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

NameError: name 'df_sum' is not defined

In [206]:
df_sum[['Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

NameError: name 'df_sum' is not defined

In [207]:
### 37. Country, Industry, Skill Migration Data (Industry)

In [208]:
indicators[36]

# load data
indicator = indicators[36]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Banking Ecosystem size
banking_sector_size

In [209]:
df.head(15)

           Country  Bank assets, percent of GDP, 2017
0     1. Hong Kong                             256.63
1         2. China                             174.54
2       3. Denmark                             172.28
3   4. New Zealand                             157.73
4         5. Japan                             157.51
5       6. Lebanon                             157.18
6     7. Singapore                             151.67
7         8. Qatar                             149.95
8   9. South Korea                             141.52
9    10. Australia                             140.47
10    11. Thailand                             138.96
11     12. Vietnam                             137.43
12      13. Sweden                             135.27
13      14. Norway                             134.37
14    15. Malaysia                             131.91

In [210]:
df['Country'] = df.iloc[:,[1]]

df_sum = df.groupby('Country')[['net_per_10K_2019']].sum()
df_sum

KeyError: "Columns not found: 'net_per_10K_2019'"

In [211]:
## create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df_sum['higher_is_better'] = True
df_sum['Year'] = 2019
df_sum['Indicator'] = indicator
df_sum['data_col'] = df_sum['net_per_10K_2019']


min_rank = df_sum['data_col'].min()
max_rank = df_sum['data_col'].max()

# transform 0-1 rank into 1-6
df_sum['new_rank_score'] = df_sum['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

NameError: name 'df_sum' is not defined

In [212]:
df_sum[['Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

NameError: name 'df_sum' is not defined

In [213]:
### 38. Country, Industry, Skill Migration Data (Nation)

In [214]:
indicators[37]

# load data
indicator = indicators[37]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Angel Ecosystem size
angel_investment

In [215]:
df.head(15)

           Country  Business angel investments (in million Euros)
0   United Kingdom                                         153.08
1          Germany                                          81.77
2            Spain                                          78.66
3          Finland                                          54.00
4           Sweden                                          44.08
5           France                                          43.00
6          Denmark                                          33.34
7      Switzerland                                          32.60
8            Italy                                          28.20
9           Russia                                          26.08
10          Turkey                                          21.26
11         Austria                                          20.11
12     Netherlands                                          19.38
13         Belgium                                          17.09
14         Ireland                                          16.80

In [216]:
df['Country'] = df.iloc[:,[1]]

df_sum = df.groupby('Country')[['net_per_10K_2019']].sum()
df_sum

KeyError: "Columns not found: 'net_per_10K_2019'"

In [217]:
## create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df_sum['higher_is_better'] = True
df_sum['Year'] = 2019
df_sum['Indicator'] = indicator
df_sum['data_col'] = df_sum['net_per_10K_2019']


min_rank = df_sum['data_col'].min()
max_rank = df_sum['data_col'].max()

# transform 0-1 rank into 1-6
df_sum['new_rank_score'] = df_sum['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

NameError: name 'df_sum' is not defined

In [218]:
df_sum[['Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

NameError: name 'df_sum' is not defined

In [219]:
### 39. Digital Finance Ecosystem size

In [220]:
indicators[38]

# load data
indicator = indicators[38]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Startup Ecosystem size
startup_eco_size

In [221]:
df.head(15)

                Location Ranking (2019)
0         Silicon Valley              1
1          New York City        2 (tie)
2                 London        2 (tie)
3                Beijing              4
4                 Boston              5
5   Tel Aviv - Jerusalem        6 (tie)
6            Los Angeles        6 (tie)
7               Shanghai              8
8                Seattle              9
9              Stockholm             10
10         Washington DC             11
11             Amsterdam             12
12                 Paris             13
13               Chicago             14
14                 Tokyo             15

In [222]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Year'] = 2021
df['Indicator'] = indicator
df['data_col'] = df.iloc[:,[2]]
df['Country Name'] = df.iloc[:,[1]]

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

# Have to shorten the column names to see if this works

TypeError: numpy boolean subtract, the `-` operator, is not supported, use the bitwise_xor, the `^` operator, or the logical_xor function instead.

In [223]:
df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

KeyError: "['new_rank_score'] not in index"

In [224]:
### 40. Tech hubs & spaces size

In [225]:
indicators[39]

# load data
indicator = indicators[39]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Venture Ecosystem size
startup_eco_size

In [226]:
df.head(15)

#There are two problems:
#1. The column names need some overhaul (moving the second column to the top and make it the column names)
#2. This is a list of cities, not countries, may present probkems later.

                Location Ranking (2019)
0         Silicon Valley              1
1          New York City        2 (tie)
2                 London        2 (tie)
3                Beijing              4
4                 Boston              5
5   Tel Aviv - Jerusalem        6 (tie)
6            Los Angeles        6 (tie)
7               Shanghai              8
8                Seattle              9
9              Stockholm             10
10         Washington DC             11
11             Amsterdam             12
12                 Paris             13
13               Chicago             14
14                 Tokyo             15

In [227]:
### 41. Banking Ecosystem size

In [228]:
indicators[40]

# load data
indicator = indicators[40]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

International Co-Inventions
international_co_inventions

In [229]:
df.head(15)

,KINDPATENT,Patent office,KINDCOOP,Type of International Cooperation in Patenting,LOCATION,Country,PARTNER,Partner Country,KINDDATE,Reference Date,...,Time,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,1999,NBR,Number,0,Units,NaN,NaN,1082.0,NaN,NaN
1,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,2000,NBR,Number,0,Units,NaN,NaN,1159.0,NaN,NaN
2,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,2001,NBR,Number,0,Units,NaN,NaN,1119.0,NaN,NaN
3,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,2002,NBR,Number,0,Units,NaN,NaN,1193.0,NaN,NaN
4,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,2003,NBR,Number,0,Units,NaN,NaN,1238.0,NaN,NaN
5,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,2004,NBR,Number,0,Units,NaN,NaN,1336.0,NaN,NaN
6,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,2005,NBR,Number,0,Units,NaN,NaN,1332.0,NaN,NaN
7,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,2006,NBR,Number,0,Units,NaN,NaN,1219.0,NaN,NaN
8,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,2007,NBR,Number,0,Units,NaN,NaN,1131.0,NaN,NaN
9,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,2008,NBR,Number,0,Units,NaN,NaN,1110.0,NaN,NaN
10,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,2009,NBR,Number,0,Units,NaN,NaN,1126.0,NaN,NaN
11,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,2010,NBR,Number,0,Units,NaN,NaN,1035.0,NaN,NaN
12,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,2011,NBR,Number,0,Units,NaN,NaN,1087.0,NaN,NaN
13,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,2012,NBR,Number,0,Units,NaN,NaN,1072.0,NaN,NaN
14,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,2013,NBR,Number,0,Units,NaN,NaN,1006.0,NaN,NaN

In [230]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Year'] = 2017
df['Indicator'] = indicator
df['data_col'] = df['Bank assets, percent of GDP, 2017']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

KeyError: 'Bank assets, percent of GDP, 2017'

In [231]:
df[['Country','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

# Okay but will have to remove number from the Country column, leaving only characters.

KeyError: "['data_col', 'new_rank_score'] not in index"

In [232]:
### 42. Angel Ecosystem size

In [233]:
indicators[41]

# load data
indicator = indicators[41]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

IndexError: index 41 is out of bounds for axis 0 with size 41

In [234]:
df.head(15)

,KINDPATENT,Patent office,KINDCOOP,Type of International Cooperation in Patenting,LOCATION,Country,PARTNER,Partner Country,KINDDATE,Reference Date,...,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags,higher_is_better,Year,Indicator
0,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1082.0,NaN,NaN,True,2017,International Co-Inventions
1,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1159.0,NaN,NaN,True,2017,International Co-Inventions
2,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1119.0,NaN,NaN,True,2017,International Co-Inventions
3,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1193.0,NaN,NaN,True,2017,International Co-Inventions
4,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1238.0,NaN,NaN,True,2017,International Co-Inventions
5,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1336.0,NaN,NaN,True,2017,International Co-Inventions
6,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1332.0,NaN,NaN,True,2017,International Co-Inventions
7,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1219.0,NaN,NaN,True,2017,International Co-Inventions
8,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1131.0,NaN,NaN,True,2017,International Co-Inventions
9,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1110.0,NaN,NaN,True,2017,International Co-Inventions
10,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1126.0,NaN,NaN,True,2017,International Co-Inventions
11,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1035.0,NaN,NaN,True,2017,International Co-Inventions
12,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1087.0,NaN,NaN,True,2017,International Co-Inventions
13,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1072.0,NaN,NaN,True,2017,International Co-Inventions
14,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1006.0,NaN,NaN,True,2017,International Co-Inventions

In [235]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Year'] = 2019
df['Indicator'] = indicator
df['data_col'] = df['Business angel investments (in million Euros)']

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

KeyError: 'Business angel investments (in million Euros)'

In [236]:
df[['Country','Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

# Okay but there are only EU countries

KeyError: "['data_col', 'new_rank_score'] not in index"

In [237]:
### 43. Startup Ecosystem size

In [238]:
indicators[42]

# load data
indicator = indicators[42]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

IndexError: index 42 is out of bounds for axis 0 with size 41

In [239]:
df.head(15)

# This is a list of cities, not countries, wonder if it will work

,KINDPATENT,Patent office,KINDCOOP,Type of International Cooperation in Patenting,LOCATION,Country,PARTNER,Partner Country,KINDDATE,Reference Date,...,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags,higher_is_better,Year,Indicator
0,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1082.0,NaN,NaN,True,2019,International Co-Inventions
1,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1159.0,NaN,NaN,True,2019,International Co-Inventions
2,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1119.0,NaN,NaN,True,2019,International Co-Inventions
3,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1193.0,NaN,NaN,True,2019,International Co-Inventions
4,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1238.0,NaN,NaN,True,2019,International Co-Inventions
5,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1336.0,NaN,NaN,True,2019,International Co-Inventions
6,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1332.0,NaN,NaN,True,2019,International Co-Inventions
7,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1219.0,NaN,NaN,True,2019,International Co-Inventions
8,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1131.0,NaN,NaN,True,2019,International Co-Inventions
9,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1110.0,NaN,NaN,True,2019,International Co-Inventions
10,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1126.0,NaN,NaN,True,2019,International Co-Inventions
11,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1035.0,NaN,NaN,True,2019,International Co-Inventions
12,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1087.0,NaN,NaN,True,2019,International Co-Inventions
13,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1072.0,NaN,NaN,True,2019,International Co-Inventions
14,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1006.0,NaN,NaN,True,2019,International Co-Inventions

In [240]:
### 44. Venture Ecosystem size

# Similar to the previous one

In [241]:
### 45. International Co-Inventions

In [242]:
indicators[44]

# load data
indicator = indicators[44]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

IndexError: index 44 is out of bounds for axis 0 with size 41

In [243]:
df.head(15)

,KINDPATENT,Patent office,KINDCOOP,Type of International Cooperation in Patenting,LOCATION,Country,PARTNER,Partner Country,KINDDATE,Reference Date,...,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags,higher_is_better,Year,Indicator
0,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1082.0,NaN,NaN,True,2019,International Co-Inventions
1,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1159.0,NaN,NaN,True,2019,International Co-Inventions
2,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1119.0,NaN,NaN,True,2019,International Co-Inventions
3,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1193.0,NaN,NaN,True,2019,International Co-Inventions
4,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1238.0,NaN,NaN,True,2019,International Co-Inventions
5,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1336.0,NaN,NaN,True,2019,International Co-Inventions
6,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1332.0,NaN,NaN,True,2019,International Co-Inventions
7,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1219.0,NaN,NaN,True,2019,International Co-Inventions
8,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1131.0,NaN,NaN,True,2019,International Co-Inventions
9,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1110.0,NaN,NaN,True,2019,International Co-Inventions
10,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1126.0,NaN,NaN,True,2019,International Co-Inventions
11,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1035.0,NaN,NaN,True,2019,International Co-Inventions
12,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1087.0,NaN,NaN,True,2019,International Co-Inventions
13,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1072.0,NaN,NaN,True,2019,International Co-Inventions
14,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,PRIORITY,Priority date,...,0,Units,NaN,NaN,1006.0,NaN,NaN,True,2019,International Co-Inventions

In [244]:
# filter most recent year and global value
df = df[(df.Time==2017)]
df = df[(df.Country!='World')]
df

,KINDPATENT,Patent office,KINDCOOP,Type of International Cooperation in Patenting,LOCATION,Country,PARTNER,Partner Country,KINDDATE,Reference Date,...,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags,higher_is_better,Year,Indicator
36,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,TOTAL,Total Patents,APPLICATION,Application date,...,0,Units,NaN,NaN,1077.0000,NaN,NaN,True,2019,International Co-Inventions
73,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,WRD,Total co-operation with abroad,APPLICATION,Application date,...,0,Units,NaN,NaN,277.0000,NaN,NaN,True,2019,International Co-Inventions
110,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,JPN,Japan,APPLICATION,Application date,...,0,Units,NaN,NaN,11.0000,NaN,NaN,True,2019,International Co-Inventions
147,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,USA,United States,APPLICATION,Application date,...,0,Units,NaN,NaN,137.0000,NaN,NaN,True,2019,International Co-Inventions
184,EPO_A,Patent applications to the EPO,FOR_APP,Foreign ownership of domestic inventions,AUS,Australia,EU27,European Union (27),APPLICATION,Application date,...,0,Units,NaN,NaN,62.0000,NaN,NaN,True,2019,International Co-Inventions
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27024,USPTO_A,Patent applications to the USPTO,CO_INV_S,% of patents with foreign co-inventor(s),USA,United States,EU27,European Union (27),APPLICATION,Application date,...,0,Units,NaN,NaN,3.6198,NaN,NaN,True,2019,International Co-Inventions
27062,USPTO_A,Patent applications to the USPTO,CO_INV_S,% of patents with foreign co-inventor(s),EU27,European Union (27 countries),WRD,Total co-operation with abroad,APPLICATION,Application date,...,0,Units,NaN,NaN,20.9912,NaN,NaN,True,2019,International Co-Inventions
27081,USPTO_A,Patent applications to the USPTO,CO_INV_S,% of patents with foreign co-inventor(s),EU27,European Union (27 countries),JPN,Japan,APPLICATION,Application date,...,0,Units,NaN,NaN,0.7465,NaN,NaN,True,2019,International Co-Inventions
27100,USPTO_A,Patent applications to the USPTO,CO_INV_S,% of patents with foreign co-inventor(s),EU27,European Union (27 countries),USA,United States,APPLICATION,Application date,...,0,Units,NaN,NaN,13.4261,NaN,NaN,True,2019,International Co-Inventions
27119,USPTO_A,Patent applications to the USPTO,CO_INV_S,% of patents with foreign co-inventor(s),EU27,European Union (27 countries),EU27,European Union (27),APPLICATION,Application date,...,0,Units,NaN,NaN,6.8753,NaN,NaN,True,2019,International Co-Inventions

In [245]:
# Create summarization
df_sum = df.groupby('Country')[['Value']].sum()
df_sum

                                      Value
Country
Australia                      3.116507e+04
Canada                         8.628640e+04
European Union (27 countries)  7.976543e+05
European Union (28 countries)  0.000000e+00
Japan                          5.457706e+05
Netherlands                    7.438852e+04
United States                  1.224357e+06

In [246]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df_sum['higher_is_better'] = True
df_sum['Year'] = 2017
df_sum['Indicator'] = indicator
df_sum['data_col'] = df_sum.iloc[:,[0]]

min_rank = df_sum['data_col'].min()
max_rank = df_sum['data_col'].max()

# transform 0-1 rank into 1-6
df_sum['new_rank_score'] = df_sum['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [247]:
df_sum[['Year','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

# Okay but the data is too general with many missing countries

,Year,Indicator,data_col,new_rank_score,higher_is_better
Country,,,,,
Australia,2017,International Co-Inventions,3.116507e+04,1.127271,True
Canada,2017,International Co-Inventions,8.628640e+04,1.352374,True
European Union (27 countries),2017,International Co-Inventions,7.976543e+05,4.257441,True
European Union (28 countries),2017,International Co-Inventions,0.000000e+00,1.000000,True
Japan,2017,International Co-Inventions,5.457706e+05,3.228805,True
Netherlands,2017,International Co-Inventions,7.438852e+04,1.303786,True
United States,2017,International Co-Inventions,1.224357e+06,6.000000,True