In [1]:
import pandas as pd
import numpy as np

### Get all the pillar names from the excel

In [2]:
ls ../..

README.md
UNDP Digital Assessment Data Framework Filename Matching V7.xlsx
dashboard/
data/
data_manifest.csv
data_manifest_instructions.md
process_manifest.js
process_raw_data.js
processed/
score/
sources/
undp-diagram.png

In [9]:
names = pd.read_excel('../../UNDP Digital Assessment Data Framework Filename Matching V7.xlsx')

In [10]:
col_names = ['Indicator','check', 'Data Source','Index','Filename']

In [11]:
names = names[col_names]

In [12]:
names.head()

,Indicator,check,Data Source,Index,Filename
0,Countries,NaN,United Nations,False,list_of_countries
1,"Database of Global Administrative Areas (GADM,...",NaN,GADM maps and data,False,NaN
2,High Resolution Population Density Maps + Demo...,NaN,Facebook,False,NaN
3,population density vs openstreetmap object den...,NaN,Kontur,False,NaN
4,Population Density,Infrastructure,World Bank,False,population_density

In [13]:
# get all the files per pillar
data_stats = names.groupby('check').agg({'Filename':'count','Indicator':'count'})

In [14]:
data_stats

                Filename  Indicator
check
Business              20         25
Foundations            9         12
Government            12         15
Infrastructure        46         48
People                38         46
Regulation             6          7
Strategy               1          1

### Foundations

In [15]:
bnames = names[(names.check=='Foundations')&(~names.Filename.isna())]#&(names.Index==False)]

In [16]:
bnames.head(25)

,Indicator,check,Data Source,Index,Filename
147,Digital payments penetration,Foundations,Portulans Institute,TRUE,digital_payments_penetration
148,% of population with digital finance account -...,Foundations,World Bank,False,%_population_digital_financial_services
149,% of population with digital finance account -...,Foundations,World Bank,False,%_population_digital_financial_services
152,Identification For Development (ID4D) Global D...,Foundations,World Bank,False,id4d_nid
153,% of population with ID,Foundations,World Bank,False,id4d_nid
154,% of services that can be accessed,Foundations,World Bank,False,id4d_services
155,can ID be used for transactions,Foundations,World Bank,False,id4d_services
156,Is personal data siloed,Foundations,World Bank,False,Egov_strategy
157,Open data index,Foundations,Open Knowledge Foundation,True,open_data_idx

In [17]:
# get list of names for all indicators
indicators = bnames.Indicator.unique()

In [18]:
# get all file names
bfiles = bnames.Filename.unique()

In [19]:
bfiles

array(['digital_payments_penetration',
       '%_population_digital_financial_services', 'id4d_nid',
       'id4d_services', 'Egov_strategy', 'open_data_idx'], dtype=object)

In [16]:
# ls digital-readiness-assessment-main/processed/

In [ ]:
##ict_goods and services not in process data

In [20]:
# formula for converting scale
def convert_rank(old_value, old_min=1, old_max=7, new_min=1, new_max=6 ):
    """ Convert old scale values scale into new scale values"""
    old_range = old_max - old_min
    new_range = new_max - new_min
    new_value = (((old_value-old_min)*new_range)/old_range)+new_min
    return new_value

### 1. Digital payments penetration

In [21]:
indicators[0]

'Digital payments penetration'

In [22]:
# load data
indicator = indicators[0]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Digital payments penetration
digital_payments_penetration

In [23]:
df.head()

   RANK COUNTRY/ECONOMY  VALUE   SCORE
0   1.0          Norway   0.85  100.00
1   2.0         Denmark   0.83   97.24
2   3.0         Finland   0.80   93.95
3   4.0          Sweden   0.80   93.08
4   5.0     Netherlands   0.76   89.01

In [24]:
# score looks like the one to use
df.describe()

             RANK       VALUE       SCORE
count  122.000000  122.000000  122.000000
mean    61.500000    0.315738   36.076967
std     35.362409    0.209012   24.867406
min      1.000000    0.010000    0.000000
25%     31.250000    0.150000   16.235000
50%     61.500000    0.270000   30.870000
75%     91.750000    0.440000   51.110000
max    122.000000    0.850000  100.000000

In [43]:
# df.Indicator.unique()

In [27]:
# create standard columns
df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['SCORE'] 


min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 1-100 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [28]:
df

,RANK,Country Name,VALUE,SCORE,higher_is_better,Indicator,data_col,new_rank_score
0,1.0,Norway,0.85,100.00,True,Digital payments penetration,100.00,6.0000
1,2.0,Denmark,0.83,97.24,True,Digital payments penetration,97.24,5.8620
2,3.0,Finland,0.80,93.95,True,Digital payments penetration,93.95,5.6975
3,4.0,Sweden,0.80,93.08,True,Digital payments penetration,93.08,5.6540
4,5.0,Netherlands,0.76,89.01,True,Digital payments penetration,89.01,5.4505
...,...,...,...,...,...,...,...,...
129,NaN,Jamaica,NaN,NaN,True,Digital payments penetration,NaN,NaN
130,NaN,Madagascar,NaN,NaN,True,Digital payments penetration,NaN,NaN
131,NaN,Oman,NaN,NaN,True,Digital payments penetration,NaN,NaN
132,NaN,Qatar,NaN,NaN,True,Digital payments penetration,NaN,NaN
133,NaN,Yemen,NaN,NaN,True,Digital payments penetration,NaN,NaN

In [31]:

# output scores to csv
df[['Country Name','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/foundations_{}_scores.csv'.format(bf), index=False)

In [34]:
df[['Country Name','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Name,Indicator,data_col,new_rank_score,higher_is_better
0,Norway,Digital payments penetration,100.00,6.0000,True
1,Denmark,Digital payments penetration,97.24,5.8620,True
2,Finland,Digital payments penetration,93.95,5.6975,True
3,Sweden,Digital payments penetration,93.08,5.6540,True
4,Netherlands,Digital payments penetration,89.01,5.4505,True
5,New Zealand,Digital payments penetration,86.73,5.3365,True
6,United States,Digital payments penetration,84.40,5.2200,True
7,Estonia,Digital payments penetration,82.82,5.1410,True
8,"Korea, Rep.",Digital payments penetration,82.64,5.1320,True
9,Canada,Digital payments penetration,81.53,5.0765,True
10,Australia,Digital payments penetration,79.37,4.9685,True
11,Czech Republic,Digital payments penetration,75.65,4.7825,True
12,Belgium,Digital payments penetration,73.15,4.6575,True
13,Germany,Digital payments penetration,71.20,4.5600,True
14,Poland,Digital payments penetration,70.34,4.5170,True

## 2. % of population with digital finance account - registered

In [35]:
indicator = indicators[1]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population with digital finance account - registered
%_population_digital_financial_services

In [108]:
# no DATE associated wiht the data

In [39]:
df.columns.tolist()

['Unnamed: 0',
 'Account (% age 15+)',
 'Account, male (% age 15+)',
 'Account, in labor force (% age 15+) ',
 'Account, out of labor force (% age 15+) ',
 'Account, female (% age 15+)',
 'Account, young adults (% ages 15-24)',
 'Account, older adults (% ages 25+)',
 'Account, primary education or less (% ages 15+) ',
 'Account, secondary education or more (% ages 15+) ',
 'Account, income, poorest 40% (% ages 15+)',
 'Account, income, richest 60% (% ages 15+) ',
 'Account, rural (% age 15+) ',
 'Financial institution account (% age 15+) ',
 'Financial institution account,male(% age 15+) ',
 'Financial institution account, in labor force(% age 15+) ',
 'Financial institution account, out of labor force (% age 15+) ',
 'Financial institution account,female(% age 15+) ',
 'Financial institution account,young adults(% age 15-24) ',
 'Financial institution account, older adults(% age 25+) ',
 'Financial institution account, primary education or less(% age 15+) ',
 'Financial institution account, seconday education or more(% age 15+) ',
 'Financial institution account,income,poorest 40% (% age 15+) ',
 'Financial institution account,income,richest 60% (% age 15+) ',
 'Financial institution account, rural(% age 15+) ',
 'Withdrawal in the past year (% with a financial institution account, age 15+)',
 'No account because financial institutions are too far away (% age 15+) ',
 'No account because financial institutions are too far away (% without a financial institution account, age 15+) ',
 'No account because financial services are too expensive (% age 15+) ',
 'No account because financial services are too expensive (% without a financial institution account, age 15+) ',
 'No account because of lack of necessary documentation (% age 15+) ',
 'No account because of lack of necessary documentation (% without a financial institution account, age 15+) ',
 'No account because of lack of trust in financial institutions (% age 15+) ',
 'No account because of lack of trust in financial institutions (% without a financial institution account, age 15+) ',
 'No account because of religious reasons (% age 15+) ',
 'No account because of religious reasons (% without a financial institution account, age 15+) ',
 'No account because of insufficient funds (% age 15+) ',
 'No account because of insufficient funds (% without a financial institution account, age 15+) ',
 'No account because someone in the family has an account (% age 15+) ',
 'No account because someone in the family has an account (% without a financial institution account, age 15+) ',
 'No account because of no need for financial services ONLY (% age 15+) ',
 'No account because of no need for financial services ONLY (% without a financial institution account, age 15+) ',
 'Main mode of withdrawal: ATM (% with a financial institution account, age 15+) ',
 'Main mode of withdrawal: bank teller (% with a financial institution account, age 15+) ',
 'Used the internet to pay bills in the past year (% age 15+)',
 'Used the internet to pay bills in the past year, male (% age 15+)',
 'Used the internet to pay bills in the past year, in labor force  (% age 15+)',
 'Used the internet to pay bills in the past year, out of labor force (% age 15+)',
 'Used the internet to pay bills in the past year , female(% age 15+)',
 'Used the internet to pay bills in the past year , young adults (% age 15-24)',
 'Used the internet to pay bills in the past year , older adults (% age 25+)',
 'Used the internet to pay bills in the past year, primary education or less (% age 15+)',
 'Used the internet to pay bills in the past year , secondary education or more (% age 15+)',
 'Used the internet to pay bills in the past year, income, poorest 40%(% age 15+)',
 'Used the internet to pay bills in the past year , income, richest 60%(% age 15+)',
 'Used the internet to pay bills in the past year , rural (% age 15+)',
 'Used the internet to pay bills or to buy something online in the past year (% age 15+)',
 'Used the internet to pay bills or to buy something online in the past year, male (% age 15+)',
 'Used the internet to pay bills or to buy something online in the past year, in labor force (% age 15+)',
 'Used the internet to pay bills or to buy something online in the past year, out of labor force (% age 15+)',
 'Used the internet to pay bills or to buy something online in the past year, female (% age 15+)',
 'Used the internet to pay bills or to buy something online in the past year, young adults (% age 15-24)',
 'Used the internet to pay bills or to buy something online in the past year, older adults (% age 25+)',
 'Used the internet to pay bills or to buy something online in the past year, primary education or less (% age 15+)',
 'Used the internet to pay bills or to buy something online in the past year, secondary education or less (% age 15+)',
 'Used the internet to pay bills or to buy something online in the past year, income, poorest 40% (% age 15+)',
 'Used the internet to pay bills or to buy something online in the past year, income, richest 60% (% age 15+)',
 'Used the internet to pay bills or to buy something online in the past year, rural (% age 15+)',
 'Used the internet to buy something online in the past year(% age 15+)',
 'Used the internet to buy something online in the past year, male(% age 15+)',
 'Used the internet to buy something online in the past year, in labor force (% age 15+)',
 'Used the internet to buy something online in the past year, out of labor force (% age 15+)',
 'Used the internet to buy something online in the past year, female(% age 15+)',
 'Used the internet to buy something online in the past year, young adults (% age 15-24)',
 'Used the internet to buy something online in the past year, older adults (% age 25+)',
 'Used the internet to buy something online in the past year, primary education or less (% age 15+)',
 'Used the internet to buy something online in the past year, secondary education or more (% age 15+)',
 'Used the internet to buy something online in the past year, income, poorest 40% (% age 15+)',
 'Used the internet to buy something online in the past year, income, richest 60% (% age 15+)',
 'Used the internet to buy something online in the past year, rural (% age 15+)',
 'Paid online for internet purchase (% internet purchasers, age 15+)',
 'Paid cash on delivery for internet purchase (% internet purchasers, age 15+)',
 'Saved to start, operate, or expand a farm or business (% age 15+) ',
 'Saved to start, operate, or expand a farm or business, male (% age 15+) ',
 'Saved to start, operate, or expand a farm or business, in labor force (% age 15+) ',
 'Saved to start, operate, or expand a farm or business, out of labor force  (% age 15+) ',
 'Saved to start, operate, or expand a farm or business, female (% age 15+) ',
 'Saved to start, operate, or expand a farm or business, young adults (% age 15-24) ',
 'Saved to start, operate, or expand a farm or business, older adults (% age 25+) ',
 'Saved to start, operate, or expand a farm or business, primary education or less (% age 15+) ',
 'Saved to start, operate, or expand a farm or business, secondary education or less(% age 15+) ',
 'Saved to start, operate, or expand a farm or business, income, poorest 40% (% age 15+) ',
 'Saved to start, operate, or expand a farm or business, income, richest 60% (% age 15+) ',
 'Saved to start, operate, or expand a farm or business, rural (% age 15+) ',
 'Saved for old age (% age 15+) ',
 'Saved for old age, male (% age 15+) ',
 'Saved for old age, in labor force (% age 15+) ',
 'Saved for old age, out of labor force (% age 15+) ',
 'Saved for old age, female (% age 15+) ',
 'Saved for old age, young adults  (% age 15-24) ',
 'Saved for old age,older adults (% age 25+) ',
 'Saved for old age, primary education or less (% age 15+) ',
 'Saved for old age, secondary education or more (% age 15+) ',
 'Saved for old age, income, poorest 40% (% age 15+) ',
 'Saved for old age, income, richest 60% (% age 15+) ',
 'Saved for old age, rural (% age 15+) ',
 'Saved at a financial institution (% age 15+) ',
 'Saved at a financial institution, male (% age 15+) ',
 'Saved at a financial institution, in labor force (% age 15+) ',
 'Saved at a financial institution , out of labor force (% age 15+) ',
 'Saved at a financial institution, female (% age 15+) ',
 'Saved at a financial institution, young adults (% age 15-24) ',
 'Saved at a financial institution, older adults (% age 25+) ',
 'Saved at a financial institution, primary education or less(% age 15+) ',
 'Saved at a financial institution, secondary education or more (% age 15+) ',
 'Saved at a financial institution, income, poorest 40% (% age 15+) ',
 'Saved at a financial institution, income, richest 60%  (% age 15+) ',
 'Saved at a financial institution, rural  (% age 15+) ',
 'Saved using a savings club or a person outside the family (% age 15+) ',
 'Saved using a savings club or a person outside the family, male (% age 15+) ',
 'Saved using a savings club or a person outside the family , in labor force(% age 15+) ',
 'Saved using a savings club or a person outside the family, out of labor force (% age 15+) ',
 'Saved using a savings club or a person outside the family, female (% age 15+) ',
 'Saved using a savings club or a person outside the family, young adults (% age 15-24) ',
 'Saved using a savings club or a person outside the family, older adults (% age 25+) ',
 'Saved using a savings club or a person outside the family, primary education or less (% age 15+) ',
 'Saved using a savings club or a person outside the family, secondary education or more (% age 15+) ',
 'Saved using a savings club or a person outside the family, income, poorest 40%(% age 15+) ',
 'Saved using a savings club or a person outside the family, income, richest 60% (% age 15+) ',
 'Saved using a savings club or a person outside the family, rural (% age 15+) ',
 'Saved for education or school fees (% age 15+) ',
 'Saved for education or school fees, male (% age 15+) ',
 'Saved for education or school fees, in labor force (% age 15+) ',
 'Saved for education or school fees, out of labor force (% age 15+) ',
 'Saved for education or school fees, female  (% age 15+) ',
 'Saved for education or school fees , young adults (% age 15-24) ',
 'Saved for education or school fees , older adults (% age 25+) ',
 'Saved for education or school fees, primary education or less (% age 15+) ',
 'Saved for education or school fees, secondary education or more (% age 15+) ',
 'Saved for education or school fees, income, poorest 40%(% age 15+) ',
 'Saved for education or school fees, income, richest 60% (% age 15+) ',
 'Saved for education or school fees, rural  (% age 15+) ',
 'Saved any money in the past year (% age 15+) ',
 'Saved any money in the past year, male  (% age 15+) ',
 'Saved any money in the past year, in labor force  (% age 15+) ',
 'Saved any money in the past year, out of labor force (% age 15+) ',
 'Saved any money in the past year, female  (% age 15+) ',
 'Saved any money in the past year, young adults  (% age 15-24) ',
 'Saved any money in the past year, older adults  (% age 25+) ',
 'Saved any money in the past year, primary education or less (% age 15+) ',
 'Saved any money in the past year, secondary education or more (% age 15+) ',
 'Saved any money in the past year, income, poorest 40%(% age 15+) ',
 'Saved any money in the past year, income, richest 60% (% age 15+) ',
 'Saved any money in the past year, rural  (% age 15+) ',
 'Outstanding housing loan (% age 15+) ',
 'Outstanding housing loan, male  (% age 15+) ',
 'Outstanding housing loan, in labor force (% age 15+) ',
 'Outstanding housing loan, out of labor force (% age 15+) ',
 'Outstanding housing loan, female (% age 15+) ',
 'Outstanding housing loan, young adults (% age 15-24) ',
 'Outstanding housing loan, older adults (% age 25+) ',
 'Outstanding housing loan, primary education or less (% age 15+) ',
 'Outstanding housing loan, secondary education or more(% age 15+) ',
 'Outstanding housing loan, income, poorest 40% (% age 15+) ',
 'Outstanding housing loan, income, richest 60% (% age 15+) ',
 'Outstanding housing loan, rural  (% age 15+) ',
 'Debit card ownership (% age 15+) ',
 'Debit card ownership, male  (% age 15+) ',
 'Debit card ownership, in labor force (% age 15+) ',
 'Debit card ownership, out of labor force (% age 15+) ',
 'Debit card ownership, female (% age 15+) ',
 'Debit card ownership, young adults (% age 15-24) ',
 'Debit card ownership, older adults (% age 25+) ',
 'Debit card ownership, primary education or less (% age 15+) ',
 'Debit card ownership, secondary education or more (% age 15+) ',
 'Debit card ownership, income, poorest 40% (% age 15+) ',
 'Debit card ownership, income, richest 60% (% age 15+) ',
 'Debit card ownership, rural (% age 15+) ',
 'Borrowed for health or medical purposes (% age 15+) ',
 'Borrowed for health or medical purposes, male  (% age 15+) ',
 'Borrowed for health or medical purposes , in labor force  (% age 15+) ',
 'Borrowed for health or medical purposes, out of labor force (% age 15+) ',
 'Borrowed for health or medical purposes, female  (% age 15+) ',
 'Borrowed for health or medical purposes, young adults (% age 15-24) ',
 'Borrowed for health or medical purposes, older adults (% age 25+) ',
 'Borrowed for health or medical purposes, primary education or less (% age 15+) ',
 'Borrowed for health or medical purposes, secondary education or more  (% age 15+) ',
 'Borrowed for health or medical purposes, income, poorest 40% (% age 15+) ',
 'Borrowed for health or medical purposes, income, richest 60%  (% age 15+) ',
 'Borrowed for health or medical purposes, rural  (% age 15+) ',
 'Borrowed to start, operate, or expand a farm or business (% age 15+) ',
 'Borrowed to start, operate, or expand a farm or business, male (% age 15+) ',
 'Borrowed to start, operate, or expand a farm or business, in labor force  (% age 15+) ',
 'Borrowed to start, operate, or expand a farm or business, out of labor force (% age 15+) ',
 'Borrowed to start, operate, or expand a farm or business, female (% age 15+) ',
 'Borrowed to start, operate, or expand a farm or business, young adults  (% age 15-24) ',
 'Borrowed to start, operate, or expand a farm or business, older adults (% age 25+) ',
 'Borrowed to start, operate, or expand a farm or busines, primary education or less (% age 15+) ',
 'Borrowed to start, operate, or expand a farm or business, secondary education or more (% age 15+) ',
 'Borrowed to start, operate, or expand a farm or business, income, poorest 40%  (% age 15+) ',
 'Borrowed to start, operate, or expand a farm or business, income, richest 60% (% age 15+) ',
 'Borrowed to start, operate, or expand a farm or business, rural (% age 15+) ',
 'Borrowed from a store by buying on credit (% age 15+) ',
 'Borrowed from a store by buying on credit, male (% age 15+) ',
 'Borrowed from a store by buying on credit, in labor force (% age 15+) ',
 'Borrowed from a store by buying on credit, out of labor force (% age 15+) ',
 'Borrowed from a store by buying on credit, female (% age 15+) ',
 'Borrowed from a store by buying on credit, young adults (% age 15-24) ',
 'Borrowed from a store by buying on credit, older adults (% age 25+) ',
 'Borrowed from a store by buying on credit, primary education or less (% age 15+) ',
 'Borrowed from a store by buying on credit, secondary education or more (% age 15+) ',
 'Borrowed from a store by buying on credit, income, poorest 40%  (% age 15+) ',
 'Borrowed from a store by buying on credit, income, richest 60% (% age 15+) ',
 'Borrowed from a store by buying on credit, rural  (% age 15+) ',
 'Borrowed for education or school fees (% age 15+) ',
 'Borrowed for education or school fees, male  (% age 15+) ',
 'Borrowed for education or school fees, in labor force  (% age 15+) ',
 'Borrowed for education or school fees , out of labor force (% age 15+) ',
 'Borrowed for education or school fees, female  (% age 15+) ',
 'Borrowed for education or school fees, young adults  (% age 15-24) ',
 'Borrowed for education or school fees, older adults  (% age 25+) ',
 'Borrowed for education or school fees, primary education or less (% age 15+) ',
 'Borrowed for education or school fees, secondary education or more (% age 15+) ',
 'Borrowed for education or school fees, income, poorest 40 %(% age 15+) ',
 'Borrowed for education or school fees, income, richest 60% (% age 15+) ',
 'Borrowed for education or school fees, rural  (% age 15+) ',
 'Borrowed from a financial institution (% age 15+) ',
 'Borrowed from a financial institution, male (% age 15+) ',
 'Borrowed from a financial institution, in labor force (% age 15+) ',
 'Borrowed from a financial institution, out of labor force (% age 15+) ',
 'Borrowed from a financial institution, female (% age 15+) ',
 'Borrowed from a financial institution, young adults  (% age 15-24) ',
 'Borrowed from a financial institution, older adults  (% age 25+) ',
 'Borrowed from a financial institution, primary education or less (% age 15+) ',
 'Borrowed from a financial institution, secondary education or more (% age 15+) ',
 'Borrowed from a financial institution, income, poorest 40% (% age 15+) ',
 'Borrowed from a financial institution, income, richest 60% (% age 15+) ',
 'Borrowed from a financial institution, rural (% age 15+) ',
 'Borrowed from a financial institution or used a credit card (% age 15+) ',
 'Borrowed from a financial institution or used a credit card, male (% age 15+) ',
 'Borrowed from a financial institution or used a credit card, in labor force (% age 15+) ',
 'Borrowed from a financial institution or used a credit card, out of labor force (% age 15+) ',
 'Borrowed from a financial institution or used a credit card, female (% age 15+) ',
 'Borrowed from a financial institution or used a credit card, young adults (% age 15-24) ',
 'Borrowed from a financial institution or used a credit card, older adults (% age 25+) ',
 'Borrowed from a financial institution or used a credit card, primary education or less (% age 15+) ',
 'Borrowed from a financial institution or used a credit card, secondary education or more (% age 15+) ',
 'Borrowed from a financial institution or used a credit card, income, poorest 40% (% age 15+) ',
 'Borrowed from a financial institution or used a credit card, income, richest 60% (% age 15+) ',
 'Borrowed from a financial institution or used a credit card, rural (% age 15+) ',
 'Borrowed from family or friends (% age 15+) ',
 'Borrowed from family or friends, male  (% age 15+) ',
 'Borrowed from family or friends, in labor force  (% age 15+) ',
 'Borrowed from family or friends, out of labor force (% age 15+) ',
 'Borrowed from family or friends, female (% age 15+) ',
 'Borrowed from family or friends, young adults (% age 15-24) ',
 'Borrowed from family or friends, older adults  (% age 25+) ',
 'Borrowed from family or friends, primary education or less (% age 15+) ',
 'Borrowed from family or friends, secondary education or more (% age 15+) ',
 'Borrowed from family or friends, income, poorest 40%  (% age 15+) ',
 'Borrowed from family or friends, income, richest 60%  (% age 15+) ',
 'Borrowed from family or friends, rural (% age 15+) ',
 'Borrowed from a savings club (% age 15+) ',
 'Borrowed from a savings club, male  (% age 15+) ',
 'Borrowed from a savings club, in labor force (% age 15+) ',
 'Borrowed from a savings club, out of labor force (% age 15+) ',
 'Borrowed from a savings club, female (% age 15+) ',
 'Borrowed from a savings club, young adults (% age 15-24) ',
 'Borrowed from a savings club, older adults  (% age 25+) ',
 'Borrowed from a savings club, primary education or less (% age 15+) ',
 'Borrowed from a savings club, secondary education or more (% age 15+) ',
 'Borrowed from a savings club, income, poorest 40% (% age 15+) ',
 'Borrowed from a savings club, income, richest 60% (% age 15+) ',

In [41]:
df[['data_country',
 'data_year','Unnamed: 0']].drop_duplicates()

           data_country            data_year           Unnamed: 0
0            Low income           Low income           Low income
3   Lower middle income  Lower middle income  Lower middle income
5   Upper middle income  Upper middle income  Upper middle income
8                   NaN                  NaN                  NaN
11          High income          High income          High income

In [36]:
df.head(16)

,Unnamed: 0,Account (% age 15+),"Account, male (% age 15+)","Account, in labor force (% age 15+)","Account, out of labor force (% age 15+)","Account, female (% age 15+)","Account, young adults (% ages 15-24)","Account, older adults (% ages 25+)","Account, primary education or less (% ages 15+)","Account, secondary education or more (% ages 15+)",...,"Mobile money account, female (% age 15+)","Mobile money account, young adults (% age 15-24)","Mobile money account, older adults (% age 25+)","Mobile money account, primary education or less (% age 15+)","Mobile money account, secondary education or less (% age 15+)","Mobile money account, income, poorest 40% (% age 15+)","Mobile money account, income, richest 60% (% age 15+)","Mobile money account, rural (% age 15+)",data_country,data_year
0,Low income,9%,15%,15%,2%,3%,6%,11%,5%,30%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Low income,Low income
1,Low income,10%,16%,15%,4%,4%,7%,12%,5%,23%,...,0%,0%,0%,0%,0%,0%,1%,0%,Low income,Low income
2,Low income,15%,23%,25%,4%,7%,10%,18%,9%,31%,...,1%,0%,1%,0%,2%,0%,1%,1%,Low income,Low income
3,Lower middle income,39%,39%,46%,31%,39%,30%,45%,35%,44%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lower middle income,Lower middle income
4,Lower middle income,29%,36%,36%,12%,22%,15%,38%,14%,70%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lower middle income,Lower middle income
5,Upper middle income,28%,34%,36%,15%,23%,26%,29%,15%,36%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Upper middle income,Upper middle income
6,Upper middle income,38%,43%,44%,29%,34%,30%,40%,24%,56%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Upper middle income,Upper middle income
7,Upper middle income,40%,42%,53%,27%,38%,32%,43%,27%,56%,...,2%,6%,1%,1%,4%,0%,4%,2%,Upper middle income,Upper middle income
8,NaN,22%,30%,33%,11%,14%,15%,26%,14%,31%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,30%,38%,42%,18%,22%,21%,34%,21%,39%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,37%,48%,51%,24%,26%,21%,43%,26%,49%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,High income,60%,69%,80%,24%,47%,26%,73%,43%,61%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,High income,High income
12,High income,84%,90%,91%,49%,68%,67%,88%,64%,85%,...,10%,10%,12%,7%,12%,7%,15%,16%,High income,High income
13,High income,88%,93%,93%,57%,76%,60%,91%,71%,89%,...,18%,10%,22%,9%,22%,16%,25%,14%,High income,High income
14,Upper middle income,33%,35%,37%,28%,32%,16%,38%,28%,37%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Upper middle income,Upper middle income
15,Upper middle income,50%,49%,50%,50%,51%,24%,58%,52%,49%,...,0%,2%,0%,1%,0%,1%,0%,0%,Upper middle income,Upper middle income

In [97]:
# going to use the  score column since this is already an Index

In [102]:
# # convert rank into 1-6 - in order to get most recent data 
# df['data_col'] = df['Score'] 

# # going to assume index is between 1-100 but not 100% sure
# min_rank = 1 #df['data_col'].min()
# max_rank = 100 #df['data_col'].max()

# # transform 1-100 rank into 1-6
# df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

# # need to invert score since higher rank is not better 
# # df['new_rank_score'] = (6-df['new_rank_score'])+1

In [107]:
# # prepare output
# df.rename(columns={'Country':'Country Name'}, inplace=True)
# df['Indicator'] = indicator
# df['higher_is_better'] = True

# df[['Country Name','Indicator','data_col','new_rank_score','higher_is_better']].head(15)


# # output scores to csv
# df[['Country Name','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/{}_scores.csv'.format(bf), index=False)

## 3. % of population with digital finance account - active (90 days)

In [44]:
indicator = indicators[2]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population with digital finance account - active (90 days)
%_population_digital_financial_services

In [45]:
df.head()

,Unnamed: 0,Account (% age 15+),"Account, male (% age 15+)","Account, in labor force (% age 15+)","Account, out of labor force (% age 15+)","Account, female (% age 15+)","Account, young adults (% ages 15-24)","Account, older adults (% ages 25+)","Account, primary education or less (% ages 15+)","Account, secondary education or more (% ages 15+)",...,"Mobile money account, female (% age 15+)","Mobile money account, young adults (% age 15-24)","Mobile money account, older adults (% age 25+)","Mobile money account, primary education or less (% age 15+)","Mobile money account, secondary education or less (% age 15+)","Mobile money account, income, poorest 40% (% age 15+)","Mobile money account, income, richest 60% (% age 15+)","Mobile money account, rural (% age 15+)",data_country,data_year
0,Low income,9%,15%,15%,2%,3%,6%,11%,5%,30%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Low income,Low income
1,Low income,10%,16%,15%,4%,4%,7%,12%,5%,23%,...,0%,0%,0%,0%,0%,0%,1%,0%,Low income,Low income
2,Low income,15%,23%,25%,4%,7%,10%,18%,9%,31%,...,1%,0%,1%,0%,2%,0%,1%,1%,Low income,Low income
3,Lower middle income,39%,39%,46%,31%,39%,30%,45%,35%,44%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lower middle income,Lower middle income
4,Lower middle income,29%,36%,36%,12%,22%,15%,38%,14%,70%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lower middle income,Lower middle income

No country or date data. Also not clear which column to use.

In [46]:
# dcol = 'Percentage of total trade in services'
# indicol = 'Category Label'
# cname = 'Economy Label'

# # filter most recent year and imports
# df = df[(df.Year==2019)&(df['Flow Label']=='Imports')]

# # create the standard columns
# df['higher_is_better'] = True
# df['Indicator'] =  df[indicol]+' '+ df['Flow Label']
# df['Country Name'] = df[cname]
# # df['2019 [YR2019]'] = df['2019 [YR2019]'].astype(float)
# df['data_col'] = df[dcol]


# # convert 1-100 %  into 1-6
# df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=0,old_max=100))

# df.sort_values(by='new_rank_score', ascending=False)

# # prepare output
# df = df[['Country Name', 'Indicator', 'data_col', 'new_rank_score','higher_is_better']]

# # output scores
# df.to_csv('../indicator_scores/{}_scores.csv'.format(bf+'_imports'), index=False)

## 4. Identification For Development (ID4D) Global Dataset

In [47]:
indicator = indicators[3]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Identification For Development (ID4D) Global Dataset
id4d_nid

In [48]:
df.head()

,Registered Population Above Cut-Off Age,Unnamed: 1,Country Characteristics,NID age,Data Source Category,Registered Population,By Gender,By Rural/Urban,By Age Group,data_country,data_year
0,id,NaN,Region,Mandatory NID Age,Type,RPB (Registered Population Above Cut-off Age),RPB Male,RPB Rural,RPB 0-30,NaN,NaN
1,1,NaN,SAS,0,Voter,"20,845,988","13,549,892",NaN,NaN,NaN,NaN
2,2,NaN,ECS,16,Direct,"4,455,772","2,267,673",NaN,"1,863,436",NaN,NaN
3,3,NaN,MEA,18,Voter,"23,251,503",NaN,NaN,NaN,NaN,NaN
4,4,NaN,ECS,-,Voter,"24,512",NaN,NaN,NaN,NaN,NaN

In [49]:
df.columns

Index(['Registered Population Above Cut-Off Age', 'Unnamed: 1',
       'Country Characteristics', 'NID age', 'Data Source Category',
       'Registered Population', 'By Gender', 'By Rural/Urban', 'By Age Group',
       'data_country', 'data_year'],
      dtype='object')

In [51]:
df[['data_country', 'data_year']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   data_country  0 non-null      float64
 1   data_year     0 non-null      float64
dtypes: float64(2)
memory usage: 3.2 KB

In [52]:
# dcol = 'Percentage of total trade in services'
# indicol = 'Category Label'
# cname = 'Economy Label'

# # filter most recent year
# df = df[(df.Year==2019)&(df['Flow Label']=='Exports')]

# # create standard columns
# df['higher_is_better'] = True
# df['Indicator'] =  df[indicol]+' '+ df['Flow Label']
# df['Country Name'] = df[cname]
# # df['2019 [YR2019]'] = df['2019 [YR2019]'].astype(float)
# df['data_col'] = df[dcol]


# # convert 1-100 %  into 1-6
# df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=0,old_max=100))

# df.sort_values(by='new_rank_score', ascending=False)

# # prepare output
# df = df[['Country Name', 'Indicator', 'data_col', 'new_rank_score','higher_is_better']]

# # output scores
# df.to_csv('../indicator_scores/{}_scores.csv'.format(bf+'_exports'), index=False)

## % of population with ID

In [53]:
indicator = indicators[4]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population with ID
id4d_nid

In [55]:
df['Country Characteristics'].unique()

array(['Region', 'SAS', 'ECS', 'MEA', 'SSF', 'LCN', 'EAS', 'NAC'],
      dtype=object)

In [54]:
df.head()§

,Registered Population Above Cut-Off Age,Unnamed: 1,Country Characteristics,NID age,Data Source Category,Registered Population,By Gender,By Rural/Urban,By Age Group,data_country,data_year
0,id,NaN,Region,Mandatory NID Age,Type,RPB (Registered Population Above Cut-off Age),RPB Male,RPB Rural,RPB 0-30,NaN,NaN
1,1,NaN,SAS,0,Voter,"20,845,988","13,549,892",NaN,NaN,NaN,NaN
2,2,NaN,ECS,16,Direct,"4,455,772","2,267,673",NaN,"1,863,436",NaN,NaN
3,3,NaN,MEA,18,Voter,"23,251,503",NaN,NaN,NaN,NaN,NaN
4,4,NaN,ECS,-,Voter,"24,512",NaN,NaN,NaN,NaN,NaN

In [56]:
# dcol = 'Percentage of total merchandise trade'
# indicol = 'IctProductCategory Label'
# cname = 'Economy Label'

# # filter most recent year and exports
# df = df[(df.Year==2019)&(df['Flow Label']=='Exports')]

# # create standard columns
# df['higher_is_better'] = True
# df['Indicator'] =  df[indicol]+' '+ df['Flow Label']
# df['Country Name'] = df[cname]
# # df['2019 [YR2019]'] = df['2019 [YR2019]'].astype(float)
# df['data_col'] = df[dcol]


# # convert 1-100 %  into 1-6
# df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=0,old_max=100))

# df.sort_values(by='new_rank_score', ascending=False)

# # prepare output
# df = df[['Country Name', 'Indicator', 'data_col', 'new_rank_score','higher_is_better']]

# # output scores
# df.to_csv('../indicator_scores/{}_scores.csv'.format(bf+'_exports'), index=False)

## 6. % of services that can be accessed

In [57]:
indicator = indicators[5]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of services that can be accessed
id4d_services

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 11 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Legal Enablers to ID                   199 non-null    object
 1   Unnamed: 1                             202 non-null    object
 2   Country Characteristics                201 non-null    object
 3   Legal System Type                      203 non-null    object
 4   Foundational Civil Identification Law  203 non-null    object
 5   Data Protection Laws & Privacy Bills   203 non-null    object
 6   Freedom in the World (2018)            194 non-null    object
 7   Freedom on the Net (2017)              64 non-null     object
 8   Freedom in the Press (2017)            194 non-null    object
 9   data_country                           194 non-null    object
 10  data_year                              194 non-null    object
dtypes: object(11)
memory usage: 17.7+ KB

In [60]:
df['Freedom on the Net (2017)'].unique()

array(['Status ', nan, 'PF', 'F', 'NF'], dtype=object)

In [58]:
df.head()

,Legal Enablers to ID,Unnamed: 1,Country Characteristics,Legal System Type,Foundational Civil Identification Law,Data Protection Laws & Privacy Bills,Freedom in the World (2018),Freedom on the Net (2017),Freedom in the Press (2017),data_country,data_year
0,#,Economic Environment (0-30 points),Country Code,Legal System Type,Key Act / Bill,Key Act / Bill,Status,Status,Press Freedom Status,Economic Environment (0-30 points),Economic Environment (0-30 points)
1,1,16,AFG,civil + customary + religious,"Law for Registration of Population Records, Ar...",None,NF,NaN,PF,16,16
2,2,17,ALB,civil,"Law on ID Cards No. 8952, as amended, Arts. 1-3",Act on the Protection of Personal Data,PF,NaN,PF,17,17
3,3,19,DZA,civil + religious,Décret No. 67/126 du 21/07/1967 Portant Instit...,None,NF,NaN,NF,19,19
4,4,8,AND,civil,-,Law on the protection of personal data,F,NaN,F,8,8

In [61]:
# dcol = 'Percentage of total merchandise trade'
# indicol = 'IctProductCategory Label'
# cname = 'Economy Label'

# # filter most recent year and exports
# df = df[(df.Year==2019)&(df['Flow Label']=='Imports')]

# # create standard columns
# df['higher_is_better'] = True
# df['Indicator'] =  df[indicol]+' '+ df['Flow Label']
# df['Country Name'] = df[cname]
# # df['2019 [YR2019]'] = df['2019 [YR2019]'].astype(float)
# df['data_col'] = df[dcol]


# # convert 1-100 %  into 1-6
# df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=0,old_max=100))

# df.sort_values(by='new_rank_score', ascending=False)

# # prepare output
# df = df[['Country Name', 'Indicator', 'data_col', 'new_rank_score','higher_is_better']]

# # output scores
# df.to_csv('../indicator_scores/{}_scores.csv'.format(bf+'_imports'), index=False)

## 7. can ID be used for transactions

In [62]:
indicator = indicators[6]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

can ID be used for transactions
id4d_services

In [63]:
df.head()

,Legal Enablers to ID,Unnamed: 1,Country Characteristics,Legal System Type,Foundational Civil Identification Law,Data Protection Laws & Privacy Bills,Freedom in the World (2018),Freedom on the Net (2017),Freedom in the Press (2017),data_country,data_year
0,#,Economic Environment (0-30 points),Country Code,Legal System Type,Key Act / Bill,Key Act / Bill,Status,Status,Press Freedom Status,Economic Environment (0-30 points),Economic Environment (0-30 points)
1,1,16,AFG,civil + customary + religious,"Law for Registration of Population Records, Ar...",None,NF,NaN,PF,16,16
2,2,17,ALB,civil,"Law on ID Cards No. 8952, as amended, Arts. 1-3",Act on the Protection of Personal Data,PF,NaN,PF,17,17
3,3,19,DZA,civil + religious,Décret No. 67/126 du 21/07/1967 Portant Instit...,None,NF,NaN,NF,19,19
4,4,8,AND,civil,-,Law on the protection of personal data,F,NaN,F,8,8

In [66]:
# min_rank = 1
# max_rank = df['Country Name'].nunique()

# # transform 1-24 rank into 1-6
# df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

# # need to invert score since higher rank is not better 
# # df['new_rank_score'] = (6-df['new_rank_score'])+1

In [67]:
# # prepare output
# df.sort_values(by='new_rank_score', ascending=False)

# # prepare output
# df = df[['Country Name', 'Indicator', 'data_col', 'new_rank_score','higher_is_better']]

# # output scores
# df.to_csv('../indicator_scores/{}_scores.csv'.format(bf), index=False)

## 8. Is personal data siloed

In [68]:
indicator = indicators[7]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Is personal data siloed
Egov_strategy

In [69]:
df.head()

,198,DG Systems & Services,Unnamed: 2,Country Data,Digital Government,UN e-Gov Dev Index,DG Institution,DG Strategy,Whole of Government,GovTech,...,Comparison of weights,OECD DG 2019,GTMI > Correlation of indicators (without standardization),GTI > Factor analysis (without standardization),GTMI Raw Scores >,GTMI Standardized Z-Scores>,GTC > Correlation analysis with Standardized Scores,GTF > Factor analysis with Standardized Scores,data_country,data_year
0,Group,#,GTI-4,Level,e-Government,eGov'20,DG Org URL,DG St,WoG,GT,...,GTE,Score,Code,Code,Code,Code,Code,Code,GTI-4,GTI-4
1,C,1,-0.12,LIC,https://mcit.gov.af/node/6938,169,http://mcit.gov.af/,2,0,0,...,0.442,-,AFG,AFG,AFG,AFG,AFG,AFG,-0.12,-0.12
2,A,2,0.26,UMIC,https://e-albania.al/,59,http://akshi.gov.al/,3,1,1,...,0.748,-,ALB,ALB,ALB,ALB,ALB,ALB,0.26,0.26
3,C,3,-0.15,LMIC,https://www.mpttn.gov.dz/ar/content/%D8%A7%D9%...,120,https://www.mpttn.gov.dz/,2,0,0,...,0.281,-,DZA,DZA,DZA,DZA,DZA,DZA,-0.15,-0.15
4,C,4,-1.32,HIC,http://www.govern.ad,80,http://www.govern.ad/,3,0,0,...,0.336,-,ADO,ADO,ADO,ADO,ADO,ADO,-1.32,-1.32

In [70]:
# # filter on relevant years
# df = df[(df['Time']==2017)&(df['Information and communication technologies']=='ICT-intensive')]

# # convert rank into 1-6 - in order to get most recent data 
# df['data_col'] = df['Value'] 

# # going to assume index is between 1-100 but not 100% sure
# min_rank = 0 #df['data_col'].min()
# max_rank = 100 #df['data_col'].max()

# # transform 1-147 rank into 1-6
# df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

# # need to invert score since higher rank is not better 
# # df['new_rank_score'] = (6-df['new_rank_score'])+1

# # df_rank[['Country ISO3', 'Country Name','Indicator','data_col','new_rank_score']].head()

# df.rename(columns={'Country':'Country Name'}, inplace=True)
# df['Indicator'] = indicator
# df['higher_is_better'] = True

# df[['Country Name','Indicator','data_col','new_rank_score','higher_is_better']].head(15)


# # output scores to csv
# df[['Country Name','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/{}_scores.csv'.format(bf), index=False)

## 9. Open data index

In [72]:
bnames

,Indicator,check,Data Source,Index,Filename
147,Digital payments penetration,Foundations,Portulans Institute,TRUE,digital_payments_penetration
148,% of population with digital finance account -...,Foundations,World Bank,False,%_population_digital_financial_services
149,% of population with digital finance account -...,Foundations,World Bank,False,%_population_digital_financial_services
152,Identification For Development (ID4D) Global D...,Foundations,World Bank,False,id4d_nid
153,% of population with ID,Foundations,World Bank,False,id4d_nid
154,% of services that can be accessed,Foundations,World Bank,False,id4d_services
155,can ID be used for transactions,Foundations,World Bank,False,id4d_services
156,Is personal data siloed,Foundations,World Bank,False,Egov_strategy
157,Open data index,Foundations,Open Knowledge Foundation,True,open_data_idx

In [71]:
indicator = indicators[8]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Open data index
open_data_idx

FileNotFoundError: [Errno 2] No such file or directory: '../../processed/open_data_idx.csv'

### Score Aggregating

In [73]:
import os

In [77]:
# get list of files in scores folder
scores = os.listdir('../indicator_scores/')
scores = [s for s in scores if s.startswith('foundations')]

In [78]:
scores

['foundations_digital_payments_penetration_scores.csv']

In [79]:
# create a dataframe that concatenates all these file into one table
df = pd.concat([pd.read_csv('../indicator_scores/{}'.format(s)) for s in scores])

In [80]:
df

,Country Name,Indicator,data_col,new_rank_score,higher_is_better
0,Norway,Digital payments penetration,100.00,6.0000,True
1,Denmark,Digital payments penetration,97.24,5.8620,True
2,Finland,Digital payments penetration,93.95,5.6975,True
3,Sweden,Digital payments penetration,93.08,5.6540,True
4,Netherlands,Digital payments penetration,89.01,5.4505,True
...,...,...,...,...,...
129,Jamaica,Digital payments penetration,NaN,NaN,True
130,Madagascar,Digital payments penetration,NaN,NaN,True
131,Oman,Digital payments penetration,NaN,NaN,True
132,Qatar,Digital payments penetration,NaN,NaN,True
133,Yemen,Digital payments penetration,NaN,NaN,True

In [81]:
# Data cleaning
df['new_rank_score'] = df['new_rank_score'].fillna(0)
df.sort_values(by=['Country Name'], ascending=True, inplace=True)
df.reset_index(drop=True, inplace=True)

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country Name      134 non-null    object
 1   Indicator         134 non-null    object
 2   data_col          122 non-null    float64
 3   new_rank_score    134 non-null    float64
 4   higher_is_better  134 non-null    bool
dtypes: bool(1), float64(2), object(2)
memory usage: 4.4+ KB

In [84]:
df.head(15)

,Country Name,Indicator,data_col,new_rank_score,higher_is_better
0,Albania,Digital payments penetration,8.62,1.4310,True
1,Algeria,Digital payments penetration,4.16,1.2080,True
2,Angola,Digital payments penetration,NaN,0.0000,True
3,Argentina,Digital payments penetration,22.93,2.1465,True
4,Armenia,Digital payments penetration,17.52,1.8760,True
5,Australia,Digital payments penetration,79.37,4.9685,True
6,Austria,Digital payments penetration,59.89,3.9945,True
7,Azerbaijan,Digital payments penetration,6.93,1.3465,True
8,Bahrain,Digital payments penetration,40.00,3.0000,True
9,Bangladesh,Digital payments penetration,14.08,1.7040,True
10,Belarus,Digital payments penetration,46.02,3.3010,True
11,Belgium,Digital payments penetration,73.15,4.6575,True
12,Benin,Digital payments penetration,30.59,2.5295,True
13,Bolivia,Digital payments penetration,12.41,1.6205,True
14,Bosnia and Herzegovina,Digital payments penetration,10.71,1.5355,True

In [85]:
df.describe()

         data_col  new_rank_score
count  122.000000      134.000000
mean    36.076967        2.552757
std     24.867406        1.432577
min      0.000000        0.000000
25%     16.235000        1.627375
50%     30.870000        2.400250
75%     51.110000        3.507125
max    100.000000        6.000000

In [86]:
# checking country names
sorted(df['Country Name'].unique().tolist())

['Albania',
 'Algeria',
 'Angola',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahrain',
 'Bangladesh',
 'Belarus',
 'Belgium',
 'Benin',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Congo, Dem. Rep.',
 'Costa Rica',
 'Croatia',
 'Cyprus',
 'Czech Republic',
 "Côte d'Ivoire",
 'Denmark',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Finland',
 'France',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Guatemala',
 'Guinea',
 'Honduras',
 'Hong Kong (China)',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran, Islamic Rep.',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Korea, Rep.',
 'Kuwait',
 'Kyrgyzstan',
 'Lao PDR',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Mali',
 'Malta',
 'Mauritius',
 'Mexico',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nigeria',
 'North Macedonia',
 'Norway',
 'Oman',
 'Pakistan',
 'Panama',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'South Africa',
 'Spain',
 'Sri Lanka',
 'Sweden',
 'Switzerland',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Venezuela',
 'Viet Nam',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [87]:
# remove trailing whitespaces from country name
df['Country Name'] = df['Country Name'].str.strip()

In [88]:
# checking country names
sorted(df['Country Name'].unique().tolist())

['Albania',
 'Algeria',
 'Angola',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahrain',
 'Bangladesh',
 'Belarus',
 'Belgium',
 'Benin',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Congo, Dem. Rep.',
 'Costa Rica',
 'Croatia',
 'Cyprus',
 'Czech Republic',
 "Côte d'Ivoire",
 'Denmark',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Finland',
 'France',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Guatemala',
 'Guinea',
 'Honduras',
 'Hong Kong (China)',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran, Islamic Rep.',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Korea, Rep.',
 'Kuwait',
 'Kyrgyzstan',
 'Lao PDR',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Mali',
 'Malta',
 'Mauritius',
 'Mexico',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nigeria',
 'North Macedonia',
 'Norway',
 'Oman',
 'Pakistan',
 'Panama',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'South Africa',
 'Spain',
 'Sri Lanka',
 'Sweden',
 'Switzerland',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Venezuela',
 'Viet Nam',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [89]:
# average indicator scores per country
agg_df = df.groupby(['Country Name']).agg({'new_rank_score':'mean','data_col':'count'})

In [90]:
agg_df.columns = ['agg_score', 'count_source' ]

In [91]:
max_number_sources = agg_df.describe()['count_source']['max']

In [92]:
agg_df['agg_score_wt'] = agg_df['agg_score']*(agg_df['count_source']/max_number_sources)

In [93]:
agg_df.sort_values(by='agg_score', ascending=False, inplace=True)

In [94]:
agg_df.head(25)

                      agg_score  count_source  agg_score_wt
Country Name
Norway                   6.0000             1        6.0000
Denmark                  5.8620             1        5.8620
Finland                  5.6975             1        5.6975
Sweden                   5.6540             1        5.6540
Netherlands              5.4505             1        5.4505
New Zealand              5.3365             1        5.3365
United States            5.2200             1        5.2200
Estonia                  5.1410             1        5.1410
Korea, Rep.              5.1320             1        5.1320
Canada                   5.0765             1        5.0765
Australia                4.9685             1        4.9685
Czech Republic           4.7825             1        4.7825
Belgium                  4.6575             1        4.6575
Germany                  4.5600             1        4.5600
Poland                   4.5170             1        4.5170
Latvia                   4.4680             1        4.4680
Luxembourg               4.3280             1        4.3280
Kenya                    4.3175             1        4.3175
Switzerland              4.3115             1        4.3115
Lithuania                4.0325             1        4.0325
France                   4.0310             1        4.0310
Austria                  3.9945             1        3.9945
United Arab Emirates     3.9580             1        3.9580
Slovakia                 3.9470             1        3.9470
Israel                   3.9245             1        3.9245

In [95]:
agg_df.to_csv('../pillar_scores/foundation_scores_v0.csv')