In [1]:
import pandas as pd
import numpy as np

In [2]:
### Get all the pillar names from the excel

In [3]:
names = pd.read_excel('../../UNDP Digital Assessment Data Framework Filename Matching V7.xlsx')

In [4]:
col_names = ['Indicator','check', 'Data Source','Index','Filename','Sub-Pillar']

In [5]:
names = names[col_names]

In [6]:
names.head()

,Indicator,check,Data Source,Index,Filename,Sub-Pillar
0,Countries,NaN,United Nations,False,Countries,NaN
1,"Database of Global Administrative Areas (GADM,...",NaN,GADM maps and data,False,NaN,NaN
2,High Resolution Population Density Maps + Demo...,NaN,Facebook,False,NaN,NaN
3,population density vs openstreetmap object den...,NaN,Kontur,False,NaN,NaN
4,Population Density,Infrastructure,World Bank,False,population_density,Connectivity Technology

In [7]:
# get all the files per pillar
data_stats = names.groupby('check').agg({'Filename':'count','Indicator':'count'})

In [8]:
data_stats

                Filename  Indicator
check
Business              16         25
Foundations            8         13
Government             9         15
Infrastructure        39         48
People                34         47
Regulation             5          7
Strategy               1          1

In [9]:
### People

In [10]:
bnames = names[(names.check=='People')&(~names.Filename.isna())]#&(names.Index==False)]
bnames

,Indicator,check,Data Source,Index,Filename,Sub-Pillar
99,Human Capital Index (HCI),People,DESA,True,e_government_index,Digital Literacy Skills
100,% of population using internet (all),People,ITU,False,ITU_database,Digital Literacy Skills
101,% of population using internet (female),People,ITU,False,ITU_database,Digital Literacy Skills
102,% of population using internet (male),People,ITU,False,ITU_database,Digital Literacy Skills
103,SDG 4.4 Digital literacy data,People,UNESCO,False,SDG_digital_literacy_data,Digital Literacy Skills
104,UNDP Human Development Index (HDI),People,UNDP,True,undp_human_developmnt,Culture
105,Facebook Social Connectedness Index,People,Facebook,True,fb_social_connectedness,Culture
106,Share of individuals using the Internet to int...,People,OECD,False,population_interacting_public_officials,Culture
107,Level of satisfaction for online public servic...,People,Boston Consulting Group/SalesForce,False,digital_public_service_use,Culture
108,Number of mobile apps available in national la...,People,GSMA Mobile Connectivity Index,False,apps_in_national_language,Culture
109,Device Addiction (time of use on internet / on...,People,Statista/DataReportal; Hootsuite; We Are Social\n,False,time_spent_online,Digital Wellbeing
110,Gross National Wellbeing,People,Portulans Institute,TRUE,happiness_score,Digital Wellbeing
112,% of internet users who own cryptocurrency,People,Statista,False,cryptocurrency_adoption,Digital Literacy Skills
115,Percentage of individuals not buying online du...,People,OECD,False,not_buying_online_concern_about_returning,Digital Wellbeing
116,Percentage of individuals not buying online du...,People,OECD,False,not_buying_online_concern_about_security,Digital Wellbeing
117,"E-waste generated, kilograms per inhabitant",People,UNU UNITAR,True,ewaste_per_inhabitant,Digital Wellbeing
118,Automation-led unemployment,People,McKinsey Global Institute,False,automation_led_unemployment,Digital Wellbeing
122,Cyberbullying,People,IPSOS,False,cyberbullying_rate,Digital Wellbeing
126,Global Wellbeing Initiative (World Happiness I...,People,World Happiness Report,TRUE,global_wellbeing_initiative,Digital Wellbeing
127,Financial Inclusiveness,People,World Bank,TRUE,financial_inclusiveness,Usage and ownership
128,E-commerce activity (% of individuals buying o...,People,Portulans Institute,False,individuals_buying_online_frequency,Usage and ownership
133,Internet Usage,People,ITU,False,ITU_database,Usage and ownership
134,Households with a computer and with Internet a...,People,ITU,False,ITU_database,Usage and ownership
135,% of population using Facebook,People,World Population Review,False,FB_users,Usage and ownership
136,Gender gap for social media use,People,GSMA Mobile Connectivity Index,False,gender_gaps,Usage and ownership
137,% of population using digital financial services,People,World Bank,False,population_digital_financial_services,Usage and ownership
138,Mobile Broadband Pricing (pre-paid),People,ITU,False,ITU_database,Usage and ownership
139,Tax as % of total cost of mobile ownership,People,GSMA Mobile Connectivity Index,False,tax_percent_mobile_ownership,Usage and ownership
141,% of population with a smartphone,People,Statista/Newzoo,False,population_with_smartphones,Usage and ownership
142,Gender gap in internet usage,People,ITU,False,ITU_database,Usage and ownership
143,Gender gap in mobile usage,People,GSMA Mobile Connectivity Index,False,gender_gaps,Usage and ownership
144,Mobile Device Penetration,People,ITU,False,ITU_database,Usage and ownership
145,Mobile Device Penetration (female),People,ITU,False,ITU_database,Usage and ownership
146,Crypto Adoption Index,People,Chainanalysis,TRUE,Chainalysis_2020_Geography_Cryptocurrency_Report,Usage and ownership

In [11]:
# get list of names for all indicators
indicators = bnames.Indicator.unique()
subpillars = bnames['Sub-Pillar'].unique()

In [12]:
# get all file names
bfiles = bnames.Filename.unique()

In [13]:
bfiles

array(['e_government_index', 'ITU_database', 'SDG_digital_literacy_data',
       'undp_human_developmnt', 'fb_social_connectedness',
       'population_interacting_public_officials',
       'digital_public_service_use', 'apps_in_national_language',
       'time_spent_online', 'happiness_score', 'cryptocurrency_adoption',
       'not_buying_online_concern_about_returning',
       'not_buying_online_concern_about_security',
       'ewaste_per_inhabitant', 'automation_led_unemployment',
       'cyberbullying_rate', 'global_wellbeing_initiative',
       'financial_inclusiveness', 'individuals_buying_online_frequency',
       'FB_users', 'gender_gaps', 'population_digital_financial_services',
       'tax_percent_mobile_ownership', 'population_with_smartphones',
       'Chainalysis_2020_Geography_Cryptocurrency_Report'], dtype=object)

In [14]:
subpillars

array(['Digital Literacy Skills', 'Culture', 'Digital Wellbeing',
       'Usage and ownership'], dtype=object)

In [15]:
# formula for converting scale
def convert_rank(old_value, old_min=1, old_max=7, new_min=1, new_max=6 ):
    """ Convert old scale values scale into new scale values"""
    old_range = old_max - old_min
    new_range = new_max - new_min
    new_value = (((old_value-old_min)*new_range)/old_range)+new_min
    return new_value

In [16]:
### 1. Human Capital Index (HCI)

In [17]:
indicators[0]

# load data
indicator = indicators[0]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Human Capital Index (HCI)
e_government_index

In [18]:
df.head(10)

,Survey Year,Country Name,E-Government Rank,E-Government Index,E-Participation Index,Online Service Index,Human Capital Index,Telecommunication Infrastructure Index
0,2020,Iraq,143,0.4360,0.3095,0.3353,0.4358,0.5370
1,2020,Ireland,27,0.8433,0.8571,0.7706,0.9494,0.8100
2,2020,Israel,30,0.8361,0.7143,0.7471,0.8924,0.8689
3,2020,Italy,37,0.8231,0.8214,0.8294,0.8466,0.7932
4,2020,Jamaica,114,0.5392,0.3690,0.3882,0.7142,0.5151
5,2020,Japan,14,0.8989,0.9881,0.9059,0.8684,0.9223
6,2020,Jordan,117,0.5309,0.3333,0.3588,0.6800,0.5540
7,2020,Kazakhstan,29,0.8375,0.8810,0.9235,0.8866,0.7024
8,2020,Kenya,116,0.5326,0.5952,0.6765,0.5812,0.3402
9,2020,Kiribati,145,0.4320,0.5595,0.4941,0.6778,0.1241

In [19]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Digital Literacy Skills

In [20]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Human Capital Index'] 
df['Year'] = df['Survey Year']
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [21]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,Iraq,2020,Human Capital Index (HCI),0.4358,3.179,True,Digital Literacy Skills
1,Ireland,2020,Human Capital Index (HCI),0.9494,5.747,True,Digital Literacy Skills
2,Israel,2020,Human Capital Index (HCI),0.8924,5.462,True,Digital Literacy Skills
3,Italy,2020,Human Capital Index (HCI),0.8466,5.233,True,Digital Literacy Skills
4,Jamaica,2020,Human Capital Index (HCI),0.7142,4.571,True,Digital Literacy Skills
...,...,...,...,...,...,...,...
188,Senegal,2020,Human Capital Index (HCI),0.3332,2.666,True,Digital Literacy Skills
189,Serbia,2020,Human Capital Index (HCI),0.8280,5.140,True,Digital Literacy Skills
190,Seychelles,2020,Human Capital Index (HCI),0.7660,4.830,True,Digital Literacy Skills
191,Singapore,2020,Human Capital Index (HCI),0.8904,5.452,True,Digital Literacy Skills
192,Slovakia,2020,Human Capital Index (HCI),0.8286,5.143,True,Digital Literacy Skills

In [22]:
df.to_csv('../indicator_scores/people_{}_scores.csv'.format(indicator), index=False)

In [23]:
### 2. % of population using internet (all)

In [24]:
indicators[1]

# load data
indicator = indicators[1]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population using internet (all)
ITU_database

In [25]:
df.head(150)

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
0,Angola,Africa,AGO,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
1,Benin,Africa,BEN,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
2,Botswana,Africa,BWA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
3,Burkina Faso,Africa,BFA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
4,Burundi,Africa,BDI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
145,North Macedonia,Europe,MKD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
146,Norway,Europe,NOR,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
147,Poland,Europe,POL,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
148,Portugal,Europe,PRT,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
149,Romania,Europe,ROU,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN

In [26]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Digital Literacy Skills

In [27]:
df = df[(df.Year==2019)]
df = df[(df.iloc[:,3] =='Internet users: 25-74 years as a % of all 25-74 years')]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Value'] 
df['Country Name'] = df['Country']
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [28]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
7750,Angola,2019.0,% of population using internet (all),NaN,NaN,True,Digital Literacy Skills
7751,Benin,2019.0,% of population using internet (all),NaN,NaN,True,Digital Literacy Skills
7752,Botswana,2019.0,% of population using internet (all),NaN,NaN,True,Digital Literacy Skills
7753,Burkina Faso,2019.0,% of population using internet (all),NaN,NaN,True,Digital Literacy Skills
7754,Burundi,2019.0,% of population using internet (all),NaN,NaN,True,Digital Literacy Skills
...,...,...,...,...,...,...,...
7940,Suriname,2019.0,% of population using internet (all),NaN,NaN,True,Digital Literacy Skills
7941,Trinidad and Tobago,2019.0,% of population using internet (all),NaN,NaN,True,Digital Literacy Skills
7942,United States,2019.0,% of population using internet (all),NaN,NaN,True,Digital Literacy Skills
7943,Uruguay,2019.0,% of population using internet (all),84.540984,4.771226,True,Digital Literacy Skills
7944,Venezuela,2019.0,% of population using internet (all),NaN,NaN,True,Digital Literacy Skills

In [29]:
df.to_csv('../indicator_scores/people_{}_scores.csv'.format(indicator), index=False)

In [30]:
### 3. % of population using internet (female)

In [31]:
indicators[2]

# load data
indicator = indicators[2]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population using internet (female)
ITU_database

In [32]:
df.head(10)

# Must convert the string in the dataset to float

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
0,Angola,Africa,AGO,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
1,Benin,Africa,BEN,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
2,Botswana,Africa,BWA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
3,Burkina Faso,Africa,BFA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
4,Burundi,Africa,BDI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
5,Cabo Verde,Africa,CPV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
6,Cameroon,Africa,CMR,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
7,Central African Rep.,Africa,CAF,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
8,Chad,Africa,TCD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
9,Congo (Rep. of the),Africa,COG,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN

In [33]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Digital Literacy Skills

In [34]:
df = df[(df.iloc[:,3] =='Female Internet users as a % of total female population')]
df = df[(df.Year==2019)]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Value']
df['Country Name'] = df['Country']
df['Sub-Pillar'] = subpillar


min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [35]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
40307,Cabo Verde,2019.0,% of population using internet (female),60.965017,3.766390,True,Digital Literacy Skills
40308,Côte d'Ivoire,2019.0,% of population using internet (female),32.924445,2.151554,True,Digital Literacy Skills
40309,Kenya,2019.0,% of population using internet (female),20.125122,1.414451,True,Digital Literacy Skills
40310,Lesotho,2019.0,% of population using internet (female),44.922768,2.842529,True,Digital Literacy Skills
40311,Mauritius,2019.0,% of population using internet (female),60.130645,3.718339,True,Digital Literacy Skills
...,...,...,...,...,...,...,...
40388,Mexico,2019.0,% of population using internet (female),68.574653,4.204623,True,Digital Literacy Skills
40389,Panama,2019.0,% of population using internet (female),63.811494,3.930316,True,Digital Literacy Skills
40390,Paraguay,2019.0,% of population using internet (female),69.017230,4.230110,True,Digital Literacy Skills
40391,Peru,2019.0,% of population using internet (female),56.992144,3.537595,True,Digital Literacy Skills
40392,Uruguay,2019.0,% of population using internet (female),83.835706,5.083495,True,Digital Literacy Skills

In [36]:
df.to_csv('../indicator_scores/people_{}_scores.csv'.format(indicator), index=False)

In [37]:
### 4. % of population using internet (male)

In [38]:
indicators[3]

# load data
indicator = indicators[3]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population using internet (male)
ITU_database

In [39]:
df.head(10)

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
0,Angola,Africa,AGO,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
1,Benin,Africa,BEN,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
2,Botswana,Africa,BWA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
3,Burkina Faso,Africa,BFA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
4,Burundi,Africa,BDI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
5,Cabo Verde,Africa,CPV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
6,Cameroon,Africa,CMR,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
7,Central African Rep.,Africa,CAF,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
8,Chad,Africa,TCD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
9,Congo (Rep. of the),Africa,COG,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN

In [40]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Digital Literacy Skills

In [41]:
df = df[(df.iloc[:,3] =='Male Internet users as a % of total male population')]
df = df[(df.Year==2019)]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Value']
df['Country Name'] = df['Country']
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [42]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
41078,Cabo Verde,2019.0,% of population using internet (male),62.921166,3.643039,True,Digital Literacy Skills
41079,Côte d'Ivoire,2019.0,% of population using internet (male),39.808871,2.173867,True,Digital Literacy Skills
41080,Kenya,2019.0,% of population using internet (male),25.071668,1.237071,True,Digital Literacy Skills
41081,Lesotho,2019.0,% of population using internet (male),38.349985,2.081130,True,Digital Literacy Skills
41082,Mauritius,2019.0,% of population using internet (male),63.393093,3.673038,True,Digital Literacy Skills
...,...,...,...,...,...,...,...
41159,Mexico,2019.0,% of population using internet (male),71.740324,4.203644,True,Digital Literacy Skills
41160,Panama,2019.0,% of population using internet (male),63.433835,3.675628,True,Digital Literacy Skills
41161,Paraguay,2019.0,% of population using internet (male),68.006259,3.966282,True,Digital Literacy Skills
41162,Peru,2019.0,% of population using internet (male),62.915703,3.642692,True,Digital Literacy Skills
41163,Uruguay,2019.0,% of population using internet (male),82.831570,4.908678,True,Digital Literacy Skills

In [43]:
df.to_csv('../indicator_scores/people_{}_scores.csv'.format(indicator), index=False)

In [44]:
### 5. SDG 4.4 Digital literacy data

In [45]:
indicators[4]

# load data
indicator = indicators[4]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

# The indicators are all jumbled, need to unclutter this

SDG 4.4 Digital literacy data
SDG_digital_literacy_data

In [46]:
df.head(15)

,SDG_IND,Indicator,LOCATION,Country,TIME,Time,Value,Flag Codes,Flags
0,ICTSKILLTRANSFERFILE_M,Proportion of youth and adults who have transf...,BRA,Brazil,2014,2014,23.31007,NaN,NaN
1,ICTSKILLTRANSFERFILE_M,Proportion of youth and adults who have transf...,BRA,Brazil,2016,2016,21.53173,NaN,NaN
2,ICTSKILLTRANSFERFILE_M,Proportion of youth and adults who have transf...,BRA,Brazil,2017,2017,21.14880,NaN,NaN
3,ICTSKILLTRANSFERFILE_M,Proportion of youth and adults who have transf...,BRA,Brazil,2018,2018,21.84886,NaN,NaN
4,ICTSKILLDUPLIC_M,Proportion of youth and adults who have used c...,BRA,Brazil,2014,2014,25.64427,NaN,NaN
5,ICTSKILLDUPLIC_M,Proportion of youth and adults who have used c...,BRA,Brazil,2016,2016,22.01463,NaN,NaN
6,ICTSKILLDUPLIC_M,Proportion of youth and adults who have used c...,BRA,Brazil,2017,2017,22.69577,NaN,NaN
7,ICTSKILLDUPLIC_M,Proportion of youth and adults who have used c...,BRA,Brazil,2018,2018,22.59234,NaN,NaN
8,ICTSKILLTRANSFERFILE,Proportion of youth and adults who have transf...,TUR,Turkey,2014,2014,27.72807,NaN,NaN
9,ICTSKILLTRANSFERFILE,Proportion of youth and adults who have transf...,TUR,Turkey,2015,2015,25.66142,NaN,NaN
10,ICTSKILLTRANSFERFILE,Proportion of youth and adults who have transf...,TUR,Turkey,2016,2016,31.29833,NaN,NaN
11,ICTSKILLTRANSFERFILE,Proportion of youth and adults who have transf...,TUR,Turkey,2017,2017,37.06352,NaN,NaN
12,ICTSKILLTRANSFERFILE,Proportion of youth and adults who have transf...,TUR,Turkey,2019,2019,38.18440,NaN,NaN
13,ICTSKILLFORMULA_M,Proportion of youth and adults who have used b...,EGY,Egypt,2014,2014,1.69992,NaN,NaN
14,ICTSKILLFORMULA_M,Proportion of youth and adults who have used b...,EGY,Egypt,2015,2015,2.14629,NaN,NaN

In [47]:
df = df[(df.Time == 2019)]
df.head(15)

,SDG_IND,Indicator,LOCATION,Country,TIME,Time,Value,Flag Codes,Flags
12,ICTSKILLTRANSFERFILE,Proportion of youth and adults who have transf...,TUR,Turkey,2019,2019,38.18440,NaN,NaN
35,ICTSKILLSOFTWARE,"Proportion of youth and adults who have found,...",THA,Thailand,2019,2019,5.30000,NaN,NaN
75,ICTSKILLTRANSFERFILE,Proportion of youth and adults who have transf...,PAK,Pakistan,2019,2019,2.70000,NaN,NaN
90,ICTSKILLPROGLANG,Proportion of youth and adults who have wrote ...,PRT,Portugal,2019,2019,8.20000,NaN,NaN
103,ICTSKILLSOFTWARE,"Proportion of youth and adults who have found,...",FIN,Finland,2019,2019,63.10000,NaN,NaN
121,ICTSKILLTRANSFERFILE,Proportion of youth and adults who have transf...,FRA,France,2019,2019,54.60000,NaN,NaN
126,ICTSKILLTRANSFERFILE,Proportion of youth and adults who have transf...,ESP,Spain,2019,2019,54.67742,NaN,NaN
133,ICTSKILLATTACH,Proportion of youth and adults who have sent e...,KAZ,Kazakhstan,2019,2019,51.70000,NaN,NaN
143,ICTSKILLPROGLANG,Proportion of youth and adults who have wrote ...,KAZ,Kazakhstan,2019,2019,6.30000,NaN,NaN
152,ICTSKILLPROGLANG,Proportion of youth and adults who have wrote ...,BEL,Belgium,2019,2019,4.50000,NaN,NaN
170,ICTSKILLPROGLANG,Proportion of youth and adults who have wrote ...,ROU,Romania,2019,2019,1.00000,NaN,NaN
174,ICTSKILLTRANSFERFILE_F,Proportion of youth and adults who have transf...,DEU,Germany,2019,2019,52.66343,NaN,NaN
179,ICTSKILLPROGLANG_M,Proportion of youth and adults who have wrote ...,BIH,Bosnia and Herzegovina,2019,2019,3.46017,NaN,NaN
217,ICTSKILLFORMULA,Proportion of youth and adults who have used b...,QAT,Qatar,2019,2019,24.93569,NaN,NaN
234,ICTSKILLTRANSFERFILE,Proportion of youth and adults who have transf...,CZE,Czechia,2019,2019,55.70000,NaN,NaN

In [48]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Digital Literacy Skills

In [49]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Value']
df['Country Name'] = df['Country']
df['Year'] = df['Time']
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [50]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
12,Turkey,2019,SDG 4.4 Digital literacy data,38.18440,2.920344,True,Digital Literacy Skills
35,Thailand,2019,SDG 4.4 Digital literacy data,5.30000,1.257836,True,Digital Literacy Skills
75,Pakistan,2019,SDG 4.4 Digital literacy data,2.70000,1.126390,True,Digital Literacy Skills
90,Portugal,2019,SDG 4.4 Digital literacy data,8.20000,1.404449,True,Digital Literacy Skills
103,Finland,2019,SDG 4.4 Digital literacy data,63.10000,4.179980,True,Digital Literacy Skills
...,...,...,...,...,...,...,...
5381,Slovenia,2019,SDG 4.4 Digital literacy data,71.80000,4.619818,True,Digital Literacy Skills
5394,Bangladesh,2019,SDG 4.4 Digital literacy data,0.40000,1.010111,True,Digital Literacy Skills
5396,Cuba,2019,SDG 4.4 Digital literacy data,26.60000,2.334681,True,Digital Literacy Skills
5397,Oman,2019,SDG 4.4 Digital literacy data,90.91205,5.586049,True,Digital Literacy Skills
5398,Bosnia and Herzegovina,2019,SDG 4.4 Digital literacy data,26.12795,2.310816,True,Digital Literacy Skills

In [51]:
df.to_csv('../indicator_scores/people_{}_scores.csv'.format(indicator), index=False)

In [52]:
### 6. UNDP Human Development Index (HDI)

In [53]:
indicators[5]

# load data
indicator = indicators[5]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

UNDP Human Development Index (HDI)
undp_human_developmnt

In [54]:
df.head()

,HDI rank,Country,Value,Unnamed: 3,(years),(2017 PPP $),data_country,data_year
0,NaN,NaN,2019,NaN,2019,2019,NaN,NaN
1,NaN,VERY HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,Norway,0.957,NaN,12.89775,66494.25217,NaN,NaN
3,2.0,Ireland,0.955,NaN,12.6663305,68370.58737,NaN,NaN
4,2.0,Switzerland,0.955,NaN,13.38081241,69393.52076,NaN,NaN

In [55]:
# choose only the rows where column HDI rank is numeric

df = df.iloc[0:194,:]
df = df[pd.to_numeric(df['HDI rank'], errors='coerce').notnull()]

In [56]:
df.head(67)

,HDI rank,Country,Value,Unnamed: 3,(years),(2017 PPP $),data_country,data_year
2,1.0,Norway,0.957,NaN,12.89775,66494.25217,NaN,NaN
3,2.0,Ireland,0.955,NaN,12.6663305,68370.58737,NaN,NaN
4,2.0,Switzerland,0.955,NaN,13.38081241,69393.52076,NaN,NaN
5,4.0,"Hong Kong, China (SAR)",0.949,NaN,12.27996,62984.76553,NaN,NaN
6,4.0,Iceland,0.949,NaN,12.77278684,54682.38057,NaN,NaN
...,...,...,...,...,...,...,...,...
64,62.0,Malaysia,0.81,NaN,10.37283,27534.09856,NaN,NaN
65,64.0,Kuwait,0.806,NaN,7.275667996,58590.08219,NaN,NaN
66,64.0,Serbia,0.806,NaN,11.19411,17191.66873,NaN,NaN
67,66.0,Mauritius,0.804,NaN,9.54,25266.21195,NaN,NaN
69,67.0,Seychelles,0.796,NaN,9.992045,26903.24617,NaN,NaN

In [57]:
subpillars[1]
subpillar = subpillars[1]
print(subpillar)

Culture

In [58]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = False
df['Indicator'] = indicator
df['data_col'] = df['HDI rank']
df['Country Name'] = df['Country']
df['Year'] = 2019
df['Sub-Pillar'] = subpillar


min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

# invert since to put as higher is  better
df['new_rank_score'] = df['new_rank_score'].apply(lambda row: (6-row)+1)

In [59]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
2,Norway,2019,UNDP Human Development Index (HDI),1.0,6.000000,False,Culture
3,Ireland,2019,UNDP Human Development Index (HDI),2.0,5.973404,False,Culture
4,Switzerland,2019,UNDP Human Development Index (HDI),2.0,5.973404,False,Culture
5,"Hong Kong, China (SAR)",2019,UNDP Human Development Index (HDI),4.0,5.920213,False,Culture
6,Iceland,2019,UNDP Human Development Index (HDI),4.0,5.920213,False,Culture
...,...,...,...,...,...,...,...
189,Burundi,2019,UNDP Human Development Index (HDI),185.0,1.106383,False,Culture
190,South Sudan,2019,UNDP Human Development Index (HDI),185.0,1.106383,False,Culture
191,Chad,2019,UNDP Human Development Index (HDI),187.0,1.053191,False,Culture
192,Central African Republic,2019,UNDP Human Development Index (HDI),188.0,1.026596,False,Culture
193,Niger,2019,UNDP Human Development Index (HDI),189.0,1.000000,False,Culture

In [60]:
df.to_csv('../indicator_scores/people_{}_scores.csv'.format(indicator, index=False))

In [61]:
### 7. Facebook Social Connectedness Index

In [62]:
indicators[6]

# load data
indicator = indicators[6]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Facebook Social Connectedness Index
fb_social_connectedness

In [63]:
df.head(25)

    user_loc fr_loc  scaled_sci
0       1001     AE        8729
1       1001     AG       95256
2       1001     AL        3122
3       1001     AM        3470
4       1001     AO        2839
5       1001     AR        3729
6       1001     AT        6977
7       1001     AU       21136
8       1001     AW       27607
9       1001     AZ        1108
10      1001     BA        3183
11      1001     BB       44020
12      1001     BD        1244
13      1001     BE       10933
14      1001     BF        2159
15      1001     BG        4085
16      1001     BH       14541
17      1001     BI        3778
18      1001     BJ        3308
19      1001     BN        3155
20      1001     BO        2724
21      1001     BR        4593
22      1001     BS      128531
23      1001     BT        1375
24      1001     BW        5455

In [64]:
subpillars[1]
subpillar = subpillars[1]
print(subpillar)

Culture

In [65]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['scaled_sci'] 
df['Country Name'] = df['fr_loc']
df['Sub-Pillar'] = subpillar
df['Year'] = 2021

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [66]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

# Need to find a way to convert ISO codes to full country names

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,AE,2021,Facebook Social Connectedness Index,8729,1.000044,True,Culture
1,AG,2021,Facebook Social Connectedness Index,95256,1.000476,True,Culture
2,AL,2021,Facebook Social Connectedness Index,3122,1.000016,True,Culture
3,AM,2021,Facebook Social Connectedness Index,3470,1.000017,True,Culture
4,AO,2021,Facebook Social Connectedness Index,2839,1.000014,True,Culture
...,...,...,...,...,...,...,...
597360,YT,2021,Facebook Social Connectedness Index,17279,1.000086,True,Culture
597361,ZA,2021,Facebook Social Connectedness Index,24069,1.000120,True,Culture
597362,ZM,2021,Facebook Social Connectedness Index,22490,1.000112,True,Culture
597363,ZW,2021,Facebook Social Connectedness Index,15945,1.000080,True,Culture
597364,NaN,2021,Facebook Social Connectedness Index,85242,1.000426,True,Culture

In [67]:
df.to_csv('../indicator_scores/people_{}_scores.csv'.format(indicator), index=False)

In [68]:
### 8. Share of individuals using the Internet to interact with officials

In [69]:
indicators[7]

# load data
indicator = indicators[7]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Share of individuals using the Internet to interact with public authorities
population_interacting_public_officials

In [70]:
df.head(15)

,Country,Indicator,Breakdowns,Time,Unit,PowerCode,Reference Period,Value,Flags
0,Australia,Individuals using the Internet for downloading...,All (individuals aged 16-74),2010,Percentage,Units,NaN,38.1100,Difference in methodology
1,Australia,Individuals using the Internet for downloading...,All (individuals aged 16-74),2012,Percentage,Units,NaN,49.9600,Difference in methodology
2,Austria,Individuals using the Internet for visiting or...,All (individuals aged 16-74),2005,Percentage,Units,NaN,29.1940,NaN
3,Austria,Individuals using the Internet for visiting or...,All (individuals aged 16-74),2006,Percentage,Units,NaN,32.9733,NaN
4,Austria,Individuals using the Internet for visiting or...,All (individuals aged 16-74),2007,Percentage,Units,NaN,27.4741,NaN
5,Austria,Individuals using the Internet for visiting or...,All (individuals aged 16-74),2008,Percentage,Units,NaN,51.2252,Break
6,Austria,Individuals using the Internet for visiting or...,All (individuals aged 16-74),2009,Percentage,Units,NaN,48.8515,NaN
7,Austria,Individuals using the Internet for visiting or...,All (individuals aged 16-74),2010,Percentage,Units,NaN,51.0458,NaN
8,Austria,Individuals using the Internet for visiting or...,All (individuals aged 16-74),2011,Percentage,Units,NaN,51.2893,NaN
9,Austria,Individuals using the Internet for visiting or...,All (individuals aged 16-74),2012,Percentage,Units,NaN,52.8274,NaN
10,Austria,Individuals using the Internet for visiting or...,All (individuals aged 16-74),2013,Percentage,Units,NaN,53.6259,NaN
11,Austria,Individuals using the Internet for visiting or...,All (individuals aged 16-74),2014,Percentage,Units,NaN,58.6330,NaN
12,Austria,Individuals using the Internet for visiting or...,All (individuals aged 16-74),2015,Percentage,Units,NaN,56.7484,NaN
13,Austria,Individuals using the Internet for visiting or...,All (individuals aged 16-74),2016,Percentage,Units,NaN,59.9848,NaN
14,Austria,Individuals using the Internet for visiting or...,All (individuals aged 16-74),2017,Percentage,Units,NaN,61.9779,NaN

In [71]:
subpillars[1]
subpillar = subpillars[1]
print(subpillar)

Culture

In [72]:
# filter most recent year
df = df[(df.Time==2019)]
df = df[(df.Indicator=='Individuals using the Internet for visiting or interacting with public authorities websites - last 12 m (%)')]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Value'] 
df['Year'] = df['Time']
df['Country Name'] = df['Country']
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [73]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
16,Austria,2019,Share of individuals using the Internet to int...,69.735500,4.715671,True,Culture
64,Belgium,2019,Share of individuals using the Internet to int...,58.605000,4.063974,True,Culture
109,Brazil,2019,Share of individuals using the Internet to int...,34.194129,2.634704,True,Culture
148,Colombia,2019,Share of individuals using the Internet to int...,6.274581,1.000000,True,Culture
169,Czech Republic,2019,Share of individuals using the Internet to int...,53.776600,3.781269,True,Culture
216,Denmark,2019,Share of individuals using the Internet to int...,91.670900,6.000000,True,Culture
262,Estonia,2019,Share of individuals using the Internet to int...,80.015600,5.317576,True,Culture
310,Finland,2019,Share of individuals using the Internet to int...,87.295400,5.743812,True,Culture
357,France,2019,Share of individuals using the Internet to int...,74.724200,5.007762,True,Culture
397,Germany,2019,Share of individuals using the Internet to int...,59.097700,4.092822,True,Culture
443,Greece,2019,Share of individuals using the Internet to int...,52.094000,3.682751,True,Culture
491,Hungary,2019,Share of individuals using the Internet to int...,52.794300,3.723754,True,Culture
537,Iceland,2019,Share of individuals using the Internet to int...,89.228900,5.857020,True,Culture
581,Ireland,2019,Share of individuals using the Internet to int...,61.097800,4.209929,True,Culture
622,Israel,2019,Share of individuals using the Internet to int...,48.800000,3.489886,True,Culture
637,Italy,2019,Share of individuals using the Internet to int...,23.408100,2.003177,True,Culture
700,Latvia,2019,Share of individuals using the Internet to int...,69.572300,4.706115,True,Culture
748,Lithuania,2019,Share of individuals using the Internet to int...,54.733300,3.837284,True,Culture
796,Luxembourg,2019,Share of individuals using the Internet to int...,60.142000,4.153966,True,Culture
844,Mexico,2019,Share of individuals using the Internet to int...,30.233392,2.402801,True,Culture
879,Netherlands,2019,Share of individuals using the Internet to int...,81.205200,5.387228,True,Culture
931,Norway,2019,Share of individuals using the Internet to int...,86.717600,5.709982,True,Culture
978,Poland,2019,Share of individuals using the Internet to int...,40.446400,3.000778,True,Culture
1024,Portugal,2019,Share of individuals using the Internet to int...,40.981300,3.032097,True,Culture
1072,Slovak Republic,2019,Share of individuals using the Internet to int...,58.952200,4.084303,True,Culture
1120,Slovenia,2019,Share of individuals using the Internet to int...,53.044900,3.738427,True,Culture
1166,Spain,2019,Share of individuals using the Internet to int...,57.641100,4.007537,True,Culture
1213,Sweden,2019,Share of individuals using the Internet to int...,85.980400,5.666818,True,Culture
1248,Switzerland,2019,Share of individuals using the Internet to int...,74.817723,5.013237,True,Culture
1267,Turkey,2019,Share of individuals using the Internet to int...,51.206500,3.630788,True,Culture
1306,United Kingdom,2019,Share of individuals using the Internet to int...,62.991000,4.320777,True,Culture

In [74]:
df.to_csv('../indicator_scores/people_{}_scores.csv'.format(indicator), index=False)

In [75]:
### 9. Level of satisfaction for online public service

In [76]:
indicators[8]

# load data
indicator = indicators[8]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Level of satisfaction for online public services (% of users, by type of interaction and service)
digital_public_service_use

In [77]:
df.head(10)

         Country  Net Perception (%)
0       Estonia                   67
1           UAE                   61
2  Saudi Arabia                   59
3      Singapore                  54
4         China                   53
5   New Zealand                   52
6   Netherlands                   51
7         Qatar                   51
8        Canada                   40
9        Denmark                  48

In [78]:
subpillars[1]
subpillar = subpillars[1]
print(subpillar)

Culture

In [79]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Net Perception (%)'] 
df['Year'] = 2020
df['Country Name'] = df['Country']
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

# Need to replace the % mark

In [80]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,Estonia,2020,Level of satisfaction for online public servic...,67,6.000000,True,Culture
1,UAE,2020,Level of satisfaction for online public servic...,61,5.655172,True,Culture
2,Saudi Arabia,2020,Level of satisfaction for online public servic...,59,5.540230,True,Culture
3,Singapore,2020,Level of satisfaction for online public servic...,54,5.252874,True,Culture
4,China,2020,Level of satisfaction for online public servic...,53,5.195402,True,Culture
5,New Zealand,2020,Level of satisfaction for online public servic...,52,5.137931,True,Culture
6,Netherlands,2020,Level of satisfaction for online public servic...,51,5.080460,True,Culture
7,Qatar,2020,Level of satisfaction for online public servic...,51,5.080460,True,Culture
8,Canada,2020,Level of satisfaction for online public servic...,40,4.448276,True,Culture
9,Denmark,2020,Level of satisfaction for online public servic...,48,4.908046,True,Culture
10,India,2020,Level of satisfaction for online public servic...,45,4.735632,True,Culture
11,France,2020,Level of satisfaction for online public servic...,43,4.620690,True,Culture
12,UK,2020,Level of satisfaction for online public servic...,42,4.563218,True,Culture
13,Sweden,2020,Level of satisfaction for online public servic...,41,4.505747,True,Culture
14,Australia,2020,Level of satisfaction for online public servic...,40,4.448276,True,Culture
15,United States,2020,Level of satisfaction for online public servic...,39,4.390805,True,Culture
16,Russia,2020,Level of satisfaction for online public servic...,39,4.390805,True,Culture
17,Norway,2020,Level of satisfaction for online public servic...,34,4.103448,True,Culture
18,Austria,2020,Level of satisfaction for online public servic...,33,4.045977,True,Culture
19,Kazakhstan,2020,Level of satisfaction for online public servic...,32,3.988506,True,Culture
20,Switzerland,2020,Level of satisfaction for online public servic...,26,3.643678,True,Culture
21,Poland,2020,Level of satisfaction for online public servic...,25,3.586207,True,Culture
22,Kenya,2020,Level of satisfaction for online public servic...,25,3.586207,True,Culture
23,Ukraine,2020,Level of satisfaction for online public servic...,21,3.356322,True,Culture
24,Malaysia,2020,Level of satisfaction for online public servic...,21,3.356322,True,Culture
25,Indonesia,2020,Level of satisfaction for online public servic...,20,3.298851,True,Culture
26,South Korea,2020,Level of satisfaction for online public servic...,19,3.241379,True,Culture
27,Germany,2020,Level of satisfaction for online public servic...,17,3.126437,True,Culture
28,Argentina,2020,Level of satisfaction for online public servic...,15,3.011494,True,Culture
29,Morocco,2020,Level of satisfaction for online public servic...,-2,2.034483,True,Culture
30,Switzerland,2020,Level of satisfaction for online public servic...,-18,1.114943,True,Culture
31,Japan,2020,Level of satisfaction for online public servic...,-20,1.000000,True,Culture

In [81]:
df.to_csv('../indicator_scores/people_{}_scores.csv'.format(indicator), index=False)

In [82]:
### 10. Number of mobile apps available in national language

In [83]:
indicators[9]

# load data
indicator = indicators[9]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Number of mobile apps available in national language(s)
apps_in_national_language

In [84]:
df.head(15)

,Unnamed: 0,ISO Code,Country,Region,Year,Number of apps in national language
0,1,AFG,Afghanistan,South Asia,2014,2.444741
1,2,AFG,Afghanistan,South Asia,2015,2.793221
2,3,AFG,Afghanistan,South Asia,2016,2.849881
3,4,AFG,Afghanistan,South Asia,2017,2.913741
4,5,AFG,Afghanistan,South Asia,2018,2.961247
5,6,AFG,Afghanistan,South Asia,2019,3.000000
6,7,AGO,Angola,Sub-Saharan Africa,2014,53.333237
7,8,AGO,Angola,Sub-Saharan Africa,2015,55.080910
8,9,AGO,Angola,Sub-Saharan Africa,2016,56.516411
9,10,AGO,Angola,Sub-Saharan Africa,2017,57.061077
10,11,AGO,Angola,Sub-Saharan Africa,2018,57.133656
11,12,AGO,Angola,Sub-Saharan Africa,2019,57.978500
12,13,ALB,Albania,Europe & Central Asia,2014,60.334080
13,14,ALB,Albania,Europe & Central Asia,2015,63.294495
14,15,ALB,Albania,Europe & Central Asia,2016,65.568138

In [85]:
subpillars[1]
subpillar = subpillars[1]
print(subpillar)

Culture

In [86]:
# filter most recent year and global value
df = df[(df.Year==2019)]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Number of apps in national language'] 
df['Country Name'] = df['Country']
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [87]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
5,Afghanistan,2019,Number of mobile apps available in national la...,3.000000,1.000000,True,Culture
11,Angola,2019,Number of mobile apps available in national la...,57.978500,3.833943,True,Culture
17,Albania,2019,Number of mobile apps available in national la...,67.286446,4.313734,True,Culture
23,United Arab Emirates,2019,Number of mobile apps available in national la...,78.453438,4.889352,True,Culture
29,Argentina,2019,Number of mobile apps available in national la...,89.724289,5.470324,True,Culture
...,...,...,...,...,...,...,...
995,Samoa,2019,Number of mobile apps available in national la...,58.999996,3.886598,True,Culture
1001,Yemen,2019,Number of mobile apps available in national la...,78.453438,4.889352,True,Culture
1007,South Africa,2019,Number of mobile apps available in national la...,57.271473,3.797499,True,Culture
1013,Zambia,2019,Number of mobile apps available in national la...,16.000000,1.670103,True,Culture
1019,Zimbabwe,2019,Number of mobile apps available in national la...,47.000000,3.268041,True,Culture

In [88]:
df.to_csv('../indicator_scores/people_{}_scores.csv'.format(indicator), index=False)

In [89]:
### 11. Device Addiction (time of use on internet)

In [90]:
indicators[10]

# load data
indicator = indicators[10]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Device Addiction (time of use on internet / on devices)
time_spent_online

In [91]:
df.head(15)

# Need to move the row further down

,Country,"Average daily time spent using the internet by online users worldwide as of 3rd quarter 2020, by region (in hours.minutes)"
0,Philippines,10.56
1,Brazil,10.08
2,Colombia,10.07
3,South Africa,10.06
4,Argentina,9.39
5,Malaysia,9.17
6,Mexico,9.01
7,Indonesia,8.52
8,Thailand,8.44
9,Taiwan,8.08
10,Singapore,8.07
11,Turkey,7.57
12,Russia,7.52
13,Saudi Arabia,7.45
14,Egypt,7.36

In [92]:
subpillars[2]
subpillar = subpillars[2]
print(subpillar)

Digital Wellbeing

In [93]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Average daily time spent using the internet by online users worldwide as of 3rd quarter 2020, by region (in hours.minutes)'] 
df['Country Name'] = df['Country']
df['Year'] = 2020
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [94]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,Philippines,2020,Device Addiction (time of use on internet / on...,10.56,6.000000,True,Digital Wellbeing
1,Brazil,2020,Device Addiction (time of use on internet / on...,10.08,5.619651,True,Digital Wellbeing
2,Colombia,2020,Device Addiction (time of use on internet / on...,10.07,5.611727,True,Digital Wellbeing
3,South Africa,2020,Device Addiction (time of use on internet / on...,10.06,5.603803,True,Digital Wellbeing
4,Argentina,2020,Device Addiction (time of use on internet / on...,9.39,5.072900,True,Digital Wellbeing
5,Malaysia,2020,Device Addiction (time of use on internet / on...,9.17,4.898574,True,Digital Wellbeing
6,Mexico,2020,Device Addiction (time of use on internet / on...,9.01,4.771791,True,Digital Wellbeing
7,Indonesia,2020,Device Addiction (time of use on internet / on...,8.52,4.383518,True,Digital Wellbeing
8,Thailand,2020,Device Addiction (time of use on internet / on...,8.44,4.320127,True,Digital Wellbeing
9,Taiwan,2020,Device Addiction (time of use on internet / on...,8.08,4.034865,True,Digital Wellbeing
10,Singapore,2020,Device Addiction (time of use on internet / on...,8.07,4.026941,True,Digital Wellbeing
11,Turkey,2020,Device Addiction (time of use on internet / on...,7.57,3.630745,True,Digital Wellbeing
12,Russia,2020,Device Addiction (time of use on internet / on...,7.52,3.591125,True,Digital Wellbeing
13,Saudi Arabia,2020,Device Addiction (time of use on internet / on...,7.45,3.535658,True,Digital Wellbeing
14,Egypt,2020,Device Addiction (time of use on internet / on...,7.36,3.464342,True,Digital Wellbeing
15,Israel,2020,Device Addiction (time of use on internet / on...,7.27,3.393027,True,Digital Wellbeing
16,Romania,2020,Device Addiction (time of use on internet / on...,7.26,3.385103,True,Digital Wellbeing
17,U.A.E,2020,Device Addiction (time of use on internet / on...,7.24,3.369255,True,Digital Wellbeing
18,Portugal,2020,Device Addiction (time of use on internet / on...,7.20,3.337559,True,Digital Wellbeing
19,Hong Kong,2020,Device Addiction (time of use on internet / on...,7.15,3.297940,True,Digital Wellbeing
20,United States,2020,Device Addiction (time of use on internet / on...,7.11,3.266244,True,Digital Wellbeing
21,Worldwide,2020,Device Addiction (time of use on internet / on...,6.45,2.743265,True,Digital Wellbeing
22,Vietnam,2020,Device Addiction (time of use on internet / on...,6.47,2.759113,True,Digital Wellbeing
23,Poland,2020,Device Addiction (time of use on internet / on...,6.44,2.735341,True,Digital Wellbeing
24,New Zeland,2020,Device Addiction (time of use on internet / on...,6.39,2.695721,True,Digital Wellbeing
25,India,2020,Device Addiction (time of use on internet / on...,6.36,2.671949,True,Digital Wellbeing
26,Ireland,2020,Device Addiction (time of use on internet / on...,6.30,2.624406,True,Digital Wellbeing
27,Canada,2020,Device Addiction (time of use on internet / on...,6.26,2.592710,True,Digital Wellbeing
28,United Kingdom,2020,Device Addiction (time of use on internet / on...,6.26,2.592710,True,Digital Wellbeing
29,Italy,2020,Device Addiction (time of use on internet / on...,6.22,2.561014,True,Digital Wellbeing
30,Sweden,2020,Device Addiction (time of use on internet / on...,6.15,2.505547,True,Digital Wellbeing
31,Australia,2020,Device Addiction (time of use on internet / on...,6.13,2.489699,True,Digital Wellbeing
32,Spain,2020,Device Addiction (time of use on internet / on...,6.11,2.473851,True,Digital Wellbeing
33,Austria,2020,Device Addiction (time of use on internet / on...,5.46,1.958796,True,Digital Wellbeing
34,Switzerland,2020,Device Addiction (time of use on internet / on...,5.40,1.911252,True,Digital Wellbeing
35,France,2020,Device Addiction (time of use on internet / on...,5.37,1.887480,True,Digital Wellbeing
36,South Korea,2020,Device Addiction (time of use on internet / on...,5.37,1.887480,True,Digital Wellbeing
37,Belgium,2020,Device Addiction (time of use on internet / on...,5.28,1.816165,True,Digital Wellbeing
38,Netherlands,2020,Device Addiction (time of use on internet / on...,5.28,1.816165,True,Digital Wellbeing
39,Germany,2020,Device Addiction (time of use on internet / on...,5.26,1.800317,True,Digital Wellbeing
40,China,2020,Device Addiction (time of use on internet / on...,5.22,1.768621,True,Digital Wellbeing
41,Denmark,2020,Device Addiction (time of use on internet / on...,5.16,1.721078,True,Digital Wellbeing
42,Japan,2020,Device Addiction (time of use on internet / on...,4.25,1.000000,True,Digital Wellbeing

In [95]:
df.to_csv('../indicator_scores/people_{}_scores.csv'.format(bf), index=False)

In [96]:
### 12. Gross National Wellbeing

In [97]:
indicators[11]

# load data
indicator = indicators[11]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

# happiness_score is missing looks like the problem is in a redundant space before it in the filename matching

Gross National Wellbeing
happiness_score

In [98]:
df.head(15)

    RANK COUNTRY/ECONOMY  VALUE   SCORE
0    1.0         Finland   7.78  100.00
1    2.0     Switzerland   7.69   98.31
2    3.0         Denmark   7.69   98.28
3    4.0         Iceland   7.53   95.13
4    5.0          Norway   7.44   93.35
5    6.0     Netherlands   7.43   93.02
6    7.0      Luxembourg   7.40   92.60
7    8.0          Sweden   7.40   92.49
8    9.0         Ireland   7.25   89.67
9   10.0       Australia   7.23   89.26
10  11.0     New Zealand   7.21   88.69
11  12.0         Austria   7.20   88.50
12  13.0  United Kingdom   7.16   87.75
13  14.0          Canada   7.11   86.80
14  15.0         Germany   7.04   85.36

In [99]:
subpillars[2]
subpillar = subpillars[2]
print(subpillar)

Digital Wellbeing

In [100]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['VALUE'] 
df['Country Name'] = df['COUNTRY/ECONOMY']
df['Year'] = 2019
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [101]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,Finland,2019,Gross National Wellbeing,7.78,6.000000,True,Digital Wellbeing
1,Switzerland,2019,Gross National Wellbeing,7.69,5.911591,True,Digital Wellbeing
2,Denmark,2019,Gross National Wellbeing,7.69,5.911591,True,Digital Wellbeing
3,Iceland,2019,Gross National Wellbeing,7.53,5.754420,True,Digital Wellbeing
4,Norway,2019,Gross National Wellbeing,7.44,5.666012,True,Digital Wellbeing
...,...,...,...,...,...,...,...
129,Zambia,2019,Gross National Wellbeing,3.31,1.609037,True,Digital Wellbeing
130,Rwanda,2019,Gross National Wellbeing,3.27,1.569745,True,Digital Wellbeing
131,India,2019,Gross National Wellbeing,3.25,1.550098,True,Digital Wellbeing
132,Zimbabwe,2019,Gross National Wellbeing,2.69,1.000000,True,Digital Wellbeing
133,Cabo Verde,2019,Gross National Wellbeing,NaN,NaN,True,Digital Wellbeing

In [102]:
df.to_csv('../indicator_scores/people_{}_scores.csv'.format(indicator), index=False)

In [103]:
### 13. % of internet users who own cryptocurrency

In [104]:
indicators[12]

# load data
indicator = indicators[12]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of internet users who own cryptocurrency
cryptocurrency_adoption

In [105]:
df.head(15)

,Country,Share of respondents who indicated they either owned or used cryptocurrencies in 55 countries worldwide in 2020,Units
0,Nigeria,31.9,in %
1,Vietnam,21.1,in %
2,Philippines,19.8,in %
3,South Africa,17.8,in %
4,Thailand,17.6,in %
5,Peru,16.1,in %
6,Turkey,16.1,in %
7,Colombia,15.3,in %
8,Argentina,14.4,in %
9,Indonesia,13.0,in %
10,Brazil,12.5,in %
11,Malaysia,12.3,in %
12,Chile,11.7,in %
13,Saudi Arabia,11.4,in %
14,Switzerland,11.1,in %

In [106]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Digital Literacy Skills

In [107]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Share of respondents who indicated they either owned or used cryptocurrencies in 55 countries worldwide in 2020'] 
df['Country Name'] = df['Country']
df['Year'] = 2020
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [108]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,Nigeria,2020,% of internet users who own cryptocurrency,31.9,6.000000,True,Digital Literacy Skills
1,Vietnam,2020,% of internet users who own cryptocurrency,21.1,4.085106,True,Digital Literacy Skills
2,Philippines,2020,% of internet users who own cryptocurrency,19.8,3.854610,True,Digital Literacy Skills
3,South Africa,2020,% of internet users who own cryptocurrency,17.8,3.500000,True,Digital Literacy Skills
4,Thailand,2020,% of internet users who own cryptocurrency,17.6,3.464539,True,Digital Literacy Skills
5,Peru,2020,% of internet users who own cryptocurrency,16.1,3.198582,True,Digital Literacy Skills
6,Turkey,2020,% of internet users who own cryptocurrency,16.1,3.198582,True,Digital Literacy Skills
7,Colombia,2020,% of internet users who own cryptocurrency,15.3,3.056738,True,Digital Literacy Skills
8,Argentina,2020,% of internet users who own cryptocurrency,14.4,2.897163,True,Digital Literacy Skills
9,Indonesia,2020,% of internet users who own cryptocurrency,13.0,2.648936,True,Digital Literacy Skills
10,Brazil,2020,% of internet users who own cryptocurrency,12.5,2.560284,True,Digital Literacy Skills
11,Malaysia,2020,% of internet users who own cryptocurrency,12.3,2.524823,True,Digital Literacy Skills
12,Chile,2020,% of internet users who own cryptocurrency,11.7,2.418440,True,Digital Literacy Skills
13,Saudi Arabia,2020,% of internet users who own cryptocurrency,11.4,2.365248,True,Digital Literacy Skills
14,Switzerland,2020,% of internet users who own cryptocurrency,11.1,2.312057,True,Digital Literacy Skills
15,Greece,2020,% of internet users who own cryptocurrency,11.1,2.312057,True,Digital Literacy Skills
16,Kenya,2020,% of internet users who own cryptocurrency,10.5,2.205674,True,Digital Literacy Skills
17,Dominican Republic,2020,% of internet users who own cryptocurrency,10.3,2.170213,True,Digital Literacy Skills
18,Netherlands,2020,% of internet users who own cryptocurrency,10.0,2.117021,True,Digital Literacy Skills
19,United Arab Emirates,2020,% of internet users who own cryptocurrency,10.0,2.117021,True,Digital Literacy Skills
20,Mexico,2020,% of internet users who own cryptocurrency,9.7,2.063830,True,Digital Literacy Skills
21,Ireland,2020,% of internet users who own cryptocurrency,9.6,2.046099,True,Digital Literacy Skills
22,Singapore,2020,% of internet users who own cryptocurrency,9.6,2.046099,True,Digital Literacy Skills
23,Spain,2020,% of internet users who own cryptocurrency,9.4,2.010638,True,Digital Literacy Skills
24,Morocco,2020,% of internet users who own cryptocurrency,9.3,1.992908,True,Digital Literacy Skills
25,Czechia,2020,% of internet users who own cryptocurrency,9.2,1.975177,True,Digital Literacy Skills
26,India,2020,% of internet users who own cryptocurrency,8.8,1.904255,True,Digital Literacy Skills
27,Lithuania,2020,% of internet users who own cryptocurrency,8.7,1.886525,True,Digital Literacy Skills
28,Egypt,2020,% of internet users who own cryptocurrency,8.3,1.815603,True,Digital Literacy Skills
29,Norway,2020,% of internet users who own cryptocurrency,8.1,1.780142,True,Digital Literacy Skills
30,Portugal,2020,% of internet users who own cryptocurrency,8.1,1.780142,True,Digital Literacy Skills
31,Australia,2020,% of internet users who own cryptocurrency,7.8,1.726950,True,Digital Literacy Skills
32,South Korea,2020,% of internet users who own cryptocurrency,7.6,1.691489,True,Digital Literacy Skills
33,Serbia,2020,% of internet users who own cryptocurrency,7.5,1.673759,True,Digital Literacy Skills
34,Russia,2020,% of internet users who own cryptocurrency,7.3,1.638298,True,Digital Literacy Skills
35,Austria,2020,% of internet users who own cryptocurrency,7.2,1.620567,True,Digital Literacy Skills
36,Poland,2020,% of internet users who own cryptocurrency,7.2,1.620567,True,Digital Literacy Skills
37,China,2020,% of internet users who own cryptocurrency,6.9,1.567376,True,Digital Literacy Skills
38,Hungary,2020,% of internet users who own cryptocurrency,6.4,1.478723,True,Digital Literacy Skills
39,Romania,2020,% of internet users who own cryptocurrency,6.4,1.478723,True,Digital Literacy Skills
40,Belgium,2020,% of internet users who own cryptocurrency,6.3,1.460993,True,Digital Literacy Skills
41,United States,2020,% of internet users who own cryptocurrency,6.2,1.443262,True,Digital Literacy Skills
42,France,2020,% of internet users who own cryptocurrency,5.6,1.336879,True,Digital Literacy Skills
43,Pakistan,2020,% of internet users who own cryptocurrency,5.6,1.336879,True,Digital Literacy Skills
44,Canada,2020,% of internet users who own cryptocurrency,5.2,1.265957,True,Digital Literacy Skills
45,Germany,2020,% of internet users who own cryptocurrency,5.2,1.265957,True,Digital Literacy Skills
46,"Taiwan, province of China",2020,% of internet users who own cryptocurrency,5.2,1.265957,True,Digital Literacy Skills
47,Finland,2020,% of internet users who own cryptocurrency,5.1,1.248227,True,Digital Literacy Skills
48,New Zealand,2020,% of internet users who own cryptocurrency,5.1,1.248227,True,Digital Literacy Skills
49,Israel,2020,% of internet users who own cryptocurrency,4.9,1.212766,True,Digital Literacy Skills
50,United Kingdom,2020,% of internet users who own cryptocurrency,4.7,1.177305,True,Digital Literacy Skills
51,Italy,2020,% of internet users who own cryptocurrency,4.7,1.177305,True,Digital Literacy Skills
52,Denmark,2020,% of internet users who own cryptocurrency,4.4,1.124113,True,Digital Literacy Skills
53,Sweden,2020,% of internet users who own cryptocurrency,4.3,1.106383,True,Digital Literacy Skills
54,Japan,2020,% of internet users who own cryptocurrency,3.7,1.000000,True,Digital Literacy Skills

In [109]:
df.to_csv('../indicator_scores/people_{}_scores.csv'.format(indicator), index=False)

In [110]:
### 14. Percentage of individuals not buying online due to concerns about returning products

In [111]:
indicators[13]

# load data
indicator = indicators[13]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Percentage of individuals not buying online due to concerns about returning products
not_buying_online_concern_about_returning

In [112]:
df.head(15)

,Indicator,Country,Variable,Unit,Scope,Time,Value,Flags
0,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,All individuals (aged 16-74),2005,10.358200,NaN
1,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,All individuals (aged 16-74),2006,14.697300,NaN
2,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,All individuals (aged 16-74),2009,25.081000,NaN
3,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,All individuals (aged 16-74),2015,17.049300,NaN
4,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,All individuals (aged 16-74),2017,15.114670,NaN
5,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,All individuals (aged 16-74),2019,16.727490,NaN
6,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,Individuals aged 16-24,2005,7.911900,NaN
7,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,Individuals aged 16-24,2006,13.751800,NaN
8,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,Individuals aged 16-24,2009,24.068800,NaN
9,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,Individuals aged 16-24,2015,12.671000,NaN
10,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,Individuals aged 16-24,2017,12.306280,NaN
11,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,Individuals aged 16-24,2019,3.328083,NaN
12,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,Individuals aged 55-74,2005,15.146800,NaN
13,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,Individuals aged 55-74,2006,16.317800,NaN
14,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,Individuals aged 55-74,2009,24.404300,NaN

In [113]:
subpillars[2]
subpillar = subpillars[2]
print(subpillar)

Digital Wellbeing

In [114]:
# filter most recent year and global value
df = df[(df.Time==2019)]
df = df[(df.Scope =='All individuals (aged 16-74)')]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = False
df['Indicator'] = indicator
df['data_col'] = df['Value'] 
df['Year'] = df['Time']
df['Country Name'] = df['Country']
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# convert 1-190 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=min_rank,old_max=max_rank))

# invert since to put as higher is  better
df['new_rank_score'] = df['new_rank_score'].apply(lambda row: (6-row)+1)

In [115]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
5,Austria,2019,Percentage of individuals not buying online du...,16.727490,4.589811,False,Digital Wellbeing
22,Belgium,2019,Percentage of individuals not buying online du...,9.164280,5.380248,False,Digital Wellbeing
37,Czech Republic,2019,Percentage of individuals not buying online du...,8.857784,5.412280,False,Digital Wellbeing
51,Denmark,2019,Percentage of individuals not buying online du...,13.273220,4.950819,False,Digital Wellbeing
67,Estonia,2019,Percentage of individuals not buying online du...,3.968984,5.923212,False,Digital Wellbeing
121,European Union (28 countries),2019,Percentage of individuals not buying online du...,17.256510,4.534523,False,Digital Wellbeing
135,Finland,2019,Percentage of individuals not buying online du...,46.960710,1.430114,False,Digital Wellbeing
152,France,2019,Percentage of individuals not buying online du...,14.236370,4.850160,False,Digital Wellbeing
167,Germany,2019,Percentage of individuals not buying online du...,16.450070,4.618804,False,Digital Wellbeing
184,Greece,2019,Percentage of individuals not buying online du...,9.599324,5.334781,False,Digital Wellbeing
202,Hungary,2019,Percentage of individuals not buying online du...,37.607560,2.407619,False,Digital Wellbeing
219,Iceland,2019,Percentage of individuals not buying online du...,26.551820,3.563063,False,Digital Wellbeing
234,Ireland,2019,Percentage of individuals not buying online du...,3.234247,6.000000,False,Digital Wellbeing
252,Italy,2019,Percentage of individuals not buying online du...,9.380008,5.357702,False,Digital Wellbeing
270,Latvia,2019,Percentage of individuals not buying online du...,8.105389,5.490913,False,Digital Wellbeing
288,Lithuania,2019,Percentage of individuals not buying online du...,22.905720,3.944119,False,Digital Wellbeing
306,Luxembourg,2019,Percentage of individuals not buying online du...,6.451037,5.663811,False,Digital Wellbeing
324,Netherlands,2019,Percentage of individuals not buying online du...,23.332380,3.899529,False,Digital Wellbeing
342,Norway,2019,Percentage of individuals not buying online du...,18.048640,4.451737,False,Digital Wellbeing
359,Poland,2019,Percentage of individuals not buying online du...,5.992940,5.711687,False,Digital Wellbeing
377,Portugal,2019,Percentage of individuals not buying online du...,51.076210,1.000000,False,Digital Wellbeing
393,Slovak Republic,2019,Percentage of individuals not buying online du...,14.947590,4.775830,False,Digital Wellbeing
411,Slovenia,2019,Percentage of individuals not buying online du...,6.584446,5.649868,False,Digital Wellbeing
428,Spain,2019,Percentage of individuals not buying online du...,40.651510,2.089493,False,Digital Wellbeing
446,Sweden,2019,Percentage of individuals not buying online du...,18.059260,4.450627,False,Digital Wellbeing
457,Switzerland,2019,Percentage of individuals not buying online du...,49.228260,1.193131,False,Digital Wellbeing
466,Turkey,2019,Percentage of individuals not buying online du...,25.144150,3.710179,False,Digital Wellbeing
482,United Kingdom,2019,Percentage of individuals not buying online du...,21.312990,4.110577,False,Digital Wellbeing

In [116]:
df.to_csv('../indicator_scores/people_{}_scores.csv'.format(indicator), index=False)

In [117]:
### 15. Percentage of individuals not buying online due to payment security concerns

In [118]:
indicators[14]

# load data
indicator = indicators[14]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Percentage of individuals not buying online due to payment security concerns
not_buying_online_concern_about_security

In [119]:
df.head(15)

,Indicator,Country,Variable,Unit,Scope,Time,Value,Flags
0,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,All individuals (aged 16-74),2009,38.80930,NaN
1,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,All individuals (aged 16-74),2015,34.89850,NaN
2,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,All individuals (aged 16-74),2017,33.04743,NaN
3,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,All individuals (aged 16-74),2019,31.19888,NaN
4,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,Individuals aged 16-24,2009,38.34010,NaN
5,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,Individuals aged 16-24,2015,34.96870,NaN
6,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,Individuals aged 16-24,2017,16.65675,NaN
7,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,Individuals aged 16-24,2019,12.88121,NaN
8,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,Individuals aged 55-74,2009,40.57610,NaN
9,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,Individuals aged 55-74,2015,42.60200,NaN
10,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,Individuals aged 55-74,2017,35.10980,NaN
11,Individuals who did not buy online for payment...,Austria,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,Individuals aged 55-74,2019,39.53044,NaN
12,Individuals who did not buy online for payment...,Belgium,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,All individuals (aged 16-74),2009,35.44600,NaN
13,Individuals who did not buy online for payment...,Belgium,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,All individuals (aged 16-74),2015,23.41350,NaN
14,Individuals who did not buy online for payment...,Belgium,"Individuals who, in the last 12 months, haven'...",Percentage of individuals who ordered goods or...,All individuals (aged 16-74),2017,15.29681,NaN

In [120]:
subpillars[2]
subpillar = subpillars[2]
print(subpillar)

Digital Wellbeing

In [121]:
# filter most recent year and global value
df = df[(df.Time==2019)]
df = df[(df.Scope =='All individuals (aged 16-74)')]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = False
df['Indicator'] = indicator
df['data_col'] = df['Value'] 
df['Year'] = df['Time']
df['Country Name'] = df['Country']
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# convert 1-190 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=min_rank,old_max=max_rank))

# invert since to put as higher is  better
df['new_rank_score'] = df['new_rank_score'].apply(lambda row: (6-row)+1)

In [122]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
3,Austria,2019,Percentage of individuals not buying online du...,31.198880,3.765819,False,Digital Wellbeing
15,Belgium,2019,Percentage of individuals not buying online du...,18.129610,4.853663,False,Digital Wellbeing
27,Czech Republic,2019,Percentage of individuals not buying online du...,9.814267,5.545805,False,Digital Wellbeing
39,Denmark,2019,Percentage of individuals not buying online du...,18.770550,4.800313,False,Digital Wellbeing
51,Estonia,2019,Percentage of individuals not buying online du...,4.357608,6.000000,False,Digital Wellbeing
84,European Union (28 countries),2019,Percentage of individuals not buying online du...,24.308600,4.339344,False,Digital Wellbeing
96,Finland,2019,Percentage of individuals not buying online du...,64.427210,1.000000,False,Digital Wellbeing
108,France,2019,Percentage of individuals not buying online du...,40.843490,2.963033,False,Digital Wellbeing
120,Germany,2019,Percentage of individuals not buying online du...,25.121840,4.271652,False,Digital Wellbeing
132,Greece,2019,Percentage of individuals not buying online du...,23.223810,4.429638,False,Digital Wellbeing
144,Hungary,2019,Percentage of individuals not buying online du...,42.285470,2.843007,False,Digital Wellbeing
155,Iceland,2019,Percentage of individuals not buying online du...,25.921260,4.205111,False,Digital Wellbeing
164,Ireland,2019,Percentage of individuals not buying online du...,16.830400,4.961805,False,Digital Wellbeing
176,Italy,2019,Percentage of individuals not buying online du...,8.159797,5.683518,False,Digital Wellbeing
188,Latvia,2019,Percentage of individuals not buying online du...,11.267850,5.424814,False,Digital Wellbeing
200,Lithuania,2019,Percentage of individuals not buying online du...,13.799410,5.214095,False,Digital Wellbeing
212,Luxembourg,2019,Percentage of individuals not buying online du...,12.390420,5.331375,False,Digital Wellbeing
224,Netherlands,2019,Percentage of individuals not buying online du...,29.817950,3.880763,False,Digital Wellbeing
236,Norway,2019,Percentage of individuals not buying online du...,35.544350,3.404116,False,Digital Wellbeing
247,Poland,2019,Percentage of individuals not buying online du...,6.025776,5.861147,False,Digital Wellbeing
259,Portugal,2019,Percentage of individuals not buying online du...,60.875900,1.295600,False,Digital Wellbeing
271,Slovak Republic,2019,Percentage of individuals not buying online du...,18.310450,4.838610,False,Digital Wellbeing
283,Slovenia,2019,Percentage of individuals not buying online du...,18.368150,4.833808,False,Digital Wellbeing
295,Spain,2019,Percentage of individuals not buying online du...,48.230080,2.348197,False,Digital Wellbeing
307,Sweden,2019,Percentage of individuals not buying online du...,39.912060,3.040562,False,Digital Wellbeing
314,Switzerland,2019,Percentage of individuals not buying online du...,54.759770,1.804687,False,Digital Wellbeing
322,Turkey,2019,Percentage of individuals not buying online du...,45.810750,2.549574,False,Digital Wellbeing
334,United Kingdom,2019,Percentage of individuals not buying online du...,36.347030,3.337304,False,Digital Wellbeing

In [123]:
df.to_csv('../indicator_scores/people_{}_scores.csv'.format(indicator), index=False)

In [124]:
### 16. E-waste generated, kilograms per inhabitant

In [125]:
indicators[15]

# load data
indicator = indicators[15]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

E-waste generated, kilograms per inhabitant
ewaste_per_inhabitant

In [126]:
df.head(15)

,iso3c,region_id,country_name,income_id,gdp,composition_food_organic_waste_percent,composition_glass_percent,composition_metal_percent,composition_other_percent,composition_paper_cardboard_percent,...,waste_treatment_controlled_landfill_percent,waste_treatment_incineration_percent,waste_treatment_landfill_unspecified_percent,waste_treatment_open_dump_percent,waste_treatment_other_percent,waste_treatment_recycling_percent,waste_treatment_sanitary_landfill_landfill_gas_system_percent,waste_treatment_unaccounted_for_percent,waste_treatment_waterways_marine_percent,where_where_is_this_data_measured
0,ABW,LCN,Aruba,HIC,35563.312500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,11.000,NaN,89.00,NaN,NaN
1,AFG,SAS,Afghanistan,LIC,2057.062256,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other
2,AGO,SSF,Angola,LMC,8036.690430,51.80,6.70,4.40,11.50,11.90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ALB,ECS,Albania,UMC,13724.058594,51.40,4.50,4.80,15.21,9.90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Some disposal sites
4,AND,ECS,Andorra,HIC,43711.800781,31.20,8.20,2.60,11.60,35.10,...,NaN,52.10,NaN,NaN,NaN,NaN,NaN,47.90,NaN,NaN
5,ARE,MEA,United Arab Emirates,HIC,67119.132812,39.00,4.00,3.00,10.00,25.00,...,NaN,NaN,9.00,62.0,NaN,20.000,NaN,NaN,NaN,NaN
6,ARG,LCN,Argentina,HIC,23550.099609,38.74,3.16,1.84,15.36,13.96,...,8.90,NaN,NaN,22.6,NaN,6.000,62.5,NaN,NaN,Other
7,ARM,ECS,Armenia,UMC,11019.838867,57.00,3.20,3.40,17.40,6.70,...,NaN,NaN,NaN,100.0,NaN,NaN,NaN,NaN,NaN,Other
8,ASM,EAS,American Samoa,UMC,11113.442383,19.70,3.40,7.90,25.60,26.40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,ATG,LCN,Antigua and Barbuda,HIC,17965.501953,46.00,7.00,7.00,12.00,15.00,...,98.68,NaN,NaN,NaN,NaN,NaN,NaN,1.14,0.1,Disposal Site
10,AUS,EAS,Australia,HIC,47784.179688,48.44,3.81,19.38,3.46,17.30,...,NaN,9.77,48.87,NaN,NaN,42.100,NaN,NaN,NaN,NaN
11,AUT,ECS,Austria,HIC,56029.613281,31.40,7.00,4.40,18.50,19.70,...,NaN,37.90,2.98,NaN,NaN,25.660,NaN,2.22,NaN,NaN
12,AZE,ECS,Azerbaijan,UMC,14853.910156,45.19,5.28,3.49,13.73,10.93,...,NaN,NaN,NaN,100.0,NaN,NaN,NaN,NaN,NaN,Various
13,BDI,SSF,Burundi,LIC,839.778503,81.00,2.90,2.10,3.20,7.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,BEL,ECS,Belgium,HIC,51914.914062,14.18,3.10,1.91,40.14,18.38,...,NaN,43.39,0.91,NaN,NaN,34.303,NaN,2.26,NaN,NaN

In [127]:
subpillars[2]
subpillar = subpillars[2]
print(subpillar)

Digital Wellbeing

In [128]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
# Use special_waste_e_waste_tons_year times one thousand and divde by total population
df['data_col'] = df['special_waste_e_waste_tons_year']*1000/df['population_population_number_of_people'] 
df['Year'] = 2021
df['Country Name'] = df['country_name']
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# convert 1-190 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=min_rank,old_max=max_rank))

In [129]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,Aruba,2021,"E-waste generated, kilograms per inhabitant",NaN,NaN,True,Digital Wellbeing
1,Afghanistan,2021,"E-waste generated, kilograms per inhabitant",0.577100,1.040883,True,Digital Wellbeing
2,Angola,2021,"E-waste generated, kilograms per inhabitant",3.665901,1.261006,True,Digital Wellbeing
3,Albania,2021,"E-waste generated, kilograms per inhabitant",7.007240,1.499126,True,Digital Wellbeing
4,Andorra,2021,"E-waste generated, kilograms per inhabitant",NaN,NaN,True,Digital Wellbeing
...,...,...,...,...,...,...,...
212,Kosovo,2021,"E-waste generated, kilograms per inhabitant",0.012765,1.000666,True,Digital Wellbeing
213,"Yemen, Rep.",2021,"E-waste generated, kilograms per inhabitant",1.522610,1.108265,True,Digital Wellbeing
214,South Africa,2021,"E-waste generated, kilograms per inhabitant",6.205375,1.441981,True,Digital Wellbeing
215,Zambia,2021,"E-waste generated, kilograms per inhabitant",1.051543,1.074694,True,Digital Wellbeing
216,Zimbabwe,2021,"E-waste generated, kilograms per inhabitant",1.039956,1.073869,True,Digital Wellbeing

In [130]:
df.to_csv('../indicator_scores/people_{}_scores.csv'.format(indicator), index=False)

In [131]:
### 17. Automation-led unemployment

In [132]:
indicators[16]

# load data
indicator = indicators[16]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Automation-led unemployment
automation_led_unemployment

In [133]:
df.head(15)

,Country,No. of employees potentially automable (millions),Total employees (millions),Potential Rate of Automation (%)
0,Japan,35.60,63.90,55.71
1,Thailand,21.00,38.40,54.69
2,Senegal,2.20,4.07,54.00
3,Colombia,9.30,17.50,53.14
4,Peru,6.90,13.00,53.08
5,Taiwan,5.20,9.80,53.06
6,Kenya,7.40,14.20,52.11
7,South Korea,12.50,24.00,52.08
8,Sweden,2.10,4.04,52.00
9,Costa Rica,1.10,2.12,52.00
10,Qatar,0.54,1.04,52.00
11,Indonesia,52.60,101.50,51.82
12,India,235.10,454.20,51.76
13,Mexico,25.50,49.30,51.72
14,Malaysia,6.30,12.20,51.64

In [134]:
subpillars[2]
subpillar = subpillars[2]
print(subpillar)

Digital Wellbeing

In [135]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Potential Rate of Automation (%)'] 
df['Year'] = 2018
df['Country Name'] = df['Country']
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# convert 1-190 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=min_rank,old_max=max_rank))

In [136]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,Japan,2018,Automation-led unemployment,55.71,6.000000,True,Digital Wellbeing
1,Thailand,2018,Automation-led unemployment,54.69,5.656797,True,Digital Wellbeing
2,Senegal,2018,Automation-led unemployment,54.00,5.424630,True,Digital Wellbeing
3,Colombia,2018,Automation-led unemployment,53.14,5.135262,True,Digital Wellbeing
4,Peru,2018,Automation-led unemployment,53.08,5.115074,True,Digital Wellbeing
5,Taiwan,2018,Automation-led unemployment,53.06,5.108345,True,Digital Wellbeing
6,Kenya,2018,Automation-led unemployment,52.11,4.788694,True,Digital Wellbeing
7,South Korea,2018,Automation-led unemployment,52.08,4.778600,True,Digital Wellbeing
8,Sweden,2018,Automation-led unemployment,52.00,4.751682,True,Digital Wellbeing
9,Costa Rica,2018,Automation-led unemployment,52.00,4.751682,True,Digital Wellbeing
10,Qatar,2018,Automation-led unemployment,52.00,4.751682,True,Digital Wellbeing
11,Indonesia,2018,Automation-led unemployment,51.82,4.691117,True,Digital Wellbeing
12,India,2018,Automation-led unemployment,51.76,4.670929,True,Digital Wellbeing
13,Mexico,2018,Automation-led unemployment,51.72,4.657470,True,Digital Wellbeing
14,Malaysia,2018,Automation-led unemployment,51.64,4.630552,True,Digital Wellbeing
15,China,2018,Automation-led unemployment,51.17,4.472409,True,Digital Wellbeing
16,Ghana,2018,Automation-led unemployment,50.79,4.344549,True,Digital Wellbeing
17,Tanzania,2018,Automation-led unemployment,50.50,4.246972,True,Digital Wellbeing
18,Morroco,2018,Automation-led unemployment,50.45,4.230148,True,Digital Wellbeing
19,Italy,2018,Automation-led unemployment,50.43,4.223419,True,Digital Wellbeing
20,Mozambique,2018,Automation-led unemployment,50.41,4.216689,True,Digital Wellbeing
21,Russia,2018,Automation-led unemployment,50.28,4.172948,True,Digital Wellbeing
22,Turkey,2018,Automation-led unemployment,50.21,4.149394,True,Digital Wellbeing
23,Brazil,2018,Automation-led unemployment,50.05,4.095559,True,Digital Wellbeing
24,Ethiopia,2018,Automation-led unemployment,49.89,4.041723,True,Digital Wellbeing
25,Poland,2018,Automation-led unemployment,49.67,3.967699,True,Digital Wellbeing
26,Barbados,2018,Automation-led unemployment,49.00,3.742261,True,Digital Wellbeing
27,Egypt,2018,Automation-led unemployment,48.64,3.621131,True,Digital Wellbeing
28,Spain,2018,Automation-led unemployment,48.60,3.607672,True,Digital Wellbeing
29,Argentina,2018,Automation-led unemployment,48.55,3.590848,True,Digital Wellbeing
30,Chile,2018,Automation-led unemployment,48.48,3.567295,True,Digital Wellbeing
31,Germany,2018,Automation-led unemployment,48.01,3.409152,True,Digital Wellbeing
32,Greece,2018,Automation-led unemployment,48.00,3.405787,True,Digital Wellbeing
33,Philippines,2018,Automation-led unemployment,47.89,3.368775,True,Digital Wellbeing
34,Austria,2018,Automation-led unemployment,47.00,3.069314,True,Digital Wellbeing
35,Switzerland,2018,Automation-led unemployment,47.00,3.069314,True,Digital Wellbeing
36,UAE,2018,Automation-led unemployment,47.00,3.069314,True,Digital Wellbeing
37,Oman,2018,Automation-led unemployment,47.00,3.069314,True,Digital Wellbeing
38,Canada,2018,Automation-led unemployment,46.75,2.985195,True,Digital Wellbeing
39,Saudi Arabia,2018,Automation-led unemployment,46.51,2.904441,True,Digital Wellbeing
40,Czech Republic,2018,Automation-led unemployment,46.00,2.732840,True,Digital Wellbeing
41,Bahrain,2018,Automation-led unemployment,46.00,2.732840,True,Digital Wellbeing
42,Bermuda,2018,Automation-led unemployment,46.00,2.732840,True,Digital Wellbeing
43,United States,2018,Automation-led unemployment,45.80,2.665545,True,Digital Wellbeing
44,Nigeria,2018,Automation-led unemployment,45.71,2.635262,True,Digital Wellbeing
45,Netherlands,2018,Automation-led unemployment,44.83,2.339166,True,Digital Wellbeing
46,Australia,2018,Automation-led unemployment,44.74,2.308883,True,Digital Wellbeing
47,Ivory Coast,2018,Automation-led unemployment,44.58,2.255047,True,Digital Wellbeing
48,Singapore,2018,Automation-led unemployment,44.00,2.059892,True,Digital Wellbeing
49,United Kingdom,2018,Automation-led unemployment,42.96,1.709960,True,Digital Wellbeing
50,France,2018,Automation-led unemployment,42.92,1.696501,True,Digital Wellbeing
51,Norway,2018,Automation-led unemployment,42.00,1.386945,True,Digital Wellbeing
52,Kuwait,2018,Automation-led unemployment,41.00,1.050471,True,Digital Wellbeing
53,South Africa,2018,Automation-led unemployment,40.85,1.000000,True,Digital Wellbeing

In [137]:
df.to_csv('../indicator_scores/people_{}_scores.csv'.format(indicator), index=False)

In [138]:
### 18. Cyberbullying

In [139]:
indicators[17]

# load data
indicator = indicators[17]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Cyberbullying
cyberbullying_rate

In [140]:
df.head(15)

# Need to move the top row down further

   2011 2016  2018        Country
0    32   32    37          India
1    20   19    29         Brazil
2    15   34    26  United States
3    12   13    25        Belgium
4    10   25    26   South Africa
5    --   --    23       Malaysia
6    14   20    23         Sweden
7    18   17    20         Canada
8     5   14    20         Turkey
9    18   17    19   Saudi Arabia
10   13   20    19      Australia
11    8   20    18         Mexico
12   11   15    18  Great Britain
13   11   20    17          China
14   --   --    16         Serbia

In [141]:
subpillars[2]
subpillar = subpillars[2]
print(subpillar)

Digital Wellbeing

In [142]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['2018'] 
df['Year'] = 2018
df['Country Name'] = df['Country']
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# convert 1-190 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=min_rank,old_max=max_rank))

# invert since to put as higher is  better
df['new_rank_score'] = df['new_rank_score'].apply(lambda row: (6-row)+1)

In [143]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,India,2018,Cyberbullying,37,1.000000,True,Digital Wellbeing
1,Brazil,2018,Cyberbullying,29,2.111111,True,Digital Wellbeing
2,United States,2018,Cyberbullying,26,2.527778,True,Digital Wellbeing
3,Belgium,2018,Cyberbullying,25,2.666667,True,Digital Wellbeing
4,South Africa,2018,Cyberbullying,26,2.527778,True,Digital Wellbeing
5,Malaysia,2018,Cyberbullying,23,2.944444,True,Digital Wellbeing
6,Sweden,2018,Cyberbullying,23,2.944444,True,Digital Wellbeing
7,Canada,2018,Cyberbullying,20,3.361111,True,Digital Wellbeing
8,Turkey,2018,Cyberbullying,20,3.361111,True,Digital Wellbeing
9,Saudi Arabia,2018,Cyberbullying,19,3.500000,True,Digital Wellbeing
10,Australia,2018,Cyberbullying,19,3.500000,True,Digital Wellbeing
11,Mexico,2018,Cyberbullying,18,3.638889,True,Digital Wellbeing
12,Great Britain,2018,Cyberbullying,18,3.638889,True,Digital Wellbeing
13,China,2018,Cyberbullying,17,3.777778,True,Digital Wellbeing
14,Serbia,2018,Cyberbullying,16,3.916667,True,Digital Wellbeing
15,Germany,2018,Cyberbullying,14,4.194444,True,Digital Wellbeing
16,Argentina,2018,Cyberbullying,14,4.194444,True,Digital Wellbeing
17,Peru,2018,Cyberbullying,14,4.194444,True,Digital Wellbeing
18,South Korea,2018,Cyberbullying,13,4.333333,True,Digital Wellbeing
19,Italy,2018,Cyberbullying,12,4.472222,True,Digital Wellbeing
20,Poland,2018,Cyberbullying,12,4.472222,True,Digital Wellbeing
21,Romania,2018,Cyberbullying,11,4.611111,True,Digital Wellbeing
22,Hungary,2018,Cyberbullying,10,4.750000,True,Digital Wellbeing
23,Spain,2018,Cyberbullying,9,4.888889,True,Digital Wellbeing
24,France,2018,Cyberbullying,9,4.888889,True,Digital Wellbeing
25,Chile,2018,Cyberbullying,8,5.027778,True,Digital Wellbeing
26,Japan,2018,Cyberbullying,5,5.444444,True,Digital Wellbeing
27,Russia,2018,Cyberbullying,1,6.000000,True,Digital Wellbeing

In [144]:
df.to_csv('../indicator_scores/people_{}_scores.csv'.format(indicator), index=False)

In [145]:
### 19. Global Wellbeing Initiative

In [146]:
indicators[18]

# load data
indicator = indicators[18]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

# Strange the global_wellbeing_initiative is clearly in the data manifest and the link works well 
# but it has not been moved to the processed folder

Global Wellbeing Initiative (World Happiness Index)
global_wellbeing_initiative

In [147]:
df.head(15)

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,...,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual,data_country,data_year
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.000,0.949,...,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253,NaN,NaN
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.700,0.946,...,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868,NaN,NaN
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.400,0.919,...,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839,NaN,NaN
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.000,0.955,...,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967,NaN,NaN
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.400,0.913,...,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798,NaN,NaN
5,Norway,Western Europe,7.392,0.035,7.462,7.323,11.053,0.954,73.300,0.960,...,2.43,1.543,1.108,0.782,0.703,0.249,0.427,2.580,NaN,NaN
6,Sweden,Western Europe,7.363,0.036,7.433,7.293,10.867,0.934,72.700,0.945,...,2.43,1.478,1.062,0.763,0.685,0.244,0.448,2.683,NaN,NaN
7,Luxembourg,Western Europe,7.324,0.037,7.396,7.252,11.647,0.908,72.600,0.907,...,2.43,1.751,1.003,0.760,0.639,0.166,0.353,2.653,NaN,NaN
8,New Zealand,North America and ANZ,7.277,0.040,7.355,7.198,10.643,0.948,73.400,0.929,...,2.43,1.400,1.094,0.785,0.665,0.276,0.445,2.612,NaN,NaN
9,Austria,Western Europe,7.268,0.036,7.337,7.198,10.906,0.934,73.300,0.908,...,2.43,1.492,1.062,0.782,0.640,0.215,0.292,2.784,NaN,NaN
10,Australia,North America and ANZ,7.183,0.041,7.265,7.102,10.796,0.940,73.900,0.914,...,2.43,1.453,1.076,0.801,0.647,0.291,0.317,2.598,NaN,NaN
11,Israel,Middle East and North Africa,7.157,0.034,7.224,7.090,10.575,0.939,73.503,0.800,...,2.43,1.376,1.074,0.788,0.509,0.208,0.119,3.083,NaN,NaN
12,Germany,Western Europe,7.155,0.040,7.232,7.077,10.873,0.903,72.500,0.875,...,2.43,1.480,0.993,0.757,0.600,0.195,0.306,2.824,NaN,NaN
13,Canada,North America and ANZ,7.103,0.042,7.185,7.021,10.776,0.926,73.800,0.915,...,2.43,1.447,1.044,0.798,0.648,0.246,0.335,2.585,NaN,NaN
14,Ireland,Western Europe,7.085,0.040,7.164,7.006,11.342,0.947,72.400,0.879,...,2.43,1.644,1.092,0.753,0.606,0.238,0.367,2.384,NaN,NaN

In [148]:
subpillars[2]
subpillar = subpillars[2]
print(subpillar)

Digital Wellbeing

In [149]:
# create standard columns
df.rename(columns={'Country name':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Ladder score'] 
df['Year'] = 2021
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# convert 1-190 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=min_rank,old_max=max_rank))

In [150]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,Finland,2021,Global Wellbeing Initiative (World Happiness I...,7.842,6.000000,True,Digital Wellbeing
1,Denmark,2021,Global Wellbeing Initiative (World Happiness I...,7.620,5.791314,True,Digital Wellbeing
2,Switzerland,2021,Global Wellbeing Initiative (World Happiness I...,7.571,5.745253,True,Digital Wellbeing
3,Iceland,2021,Global Wellbeing Initiative (World Happiness I...,7.554,5.729272,True,Digital Wellbeing
4,Netherlands,2021,Global Wellbeing Initiative (World Happiness I...,7.464,5.644670,True,Digital Wellbeing
...,...,...,...,...,...,...,...
144,Lesotho,2021,Global Wellbeing Initiative (World Happiness I...,3.512,1.929686,True,Digital Wellbeing
145,Botswana,2021,Global Wellbeing Initiative (World Happiness I...,3.467,1.887385,True,Digital Wellbeing
146,Rwanda,2021,Global Wellbeing Initiative (World Happiness I...,3.415,1.838503,True,Digital Wellbeing
147,Zimbabwe,2021,Global Wellbeing Initiative (World Happiness I...,3.145,1.584696,True,Digital Wellbeing
148,Afghanistan,2021,Global Wellbeing Initiative (World Happiness I...,2.523,1.000000,True,Digital Wellbeing

In [151]:
df.to_csv('../indicator_scores/people_{}_scores.csv'.format(indicator), index=False)

In [152]:
### 20. Financial Inclusiveness

In [153]:
indicators[19]

# load data
indicator = indicators[19]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)


df = pd.read_csv('../../processed/{}.csv'.format(bf))
# Strange the global_wellbeing_initiative is clearly in the data manifest and the link works well 
# but it has not been moved to the processed folder

Financial Inclusiveness
financial_inclusiveness

In [154]:
df.head(15)

,Year,ISO,Country Name,Region,Income Group,Account (% age 15+),"Account, male (% age 15+)","Account, in labor force (% age 15+)","Account, out of labor force (% age 15+)","Account, female (% age 15+)",...,"Mobile money account, female (% age 15+)","Mobile money account, young adults (% age 15-24)","Mobile money account, older adults (% age 25+)","Mobile money account, primary education or less (% age 15+)","Mobile money account, secondary education or less (% age 15+)","Mobile money account, income, poorest 40% (% age 15+)","Mobile money account, income, richest 60% (% age 15+)","Mobile money account, rural (% age 15+)",data_country,data_year
0,2011,AFG,Afghanistan,South Asia,Low income,9%,15%,15%,2%,3%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014,AFG,Afghanistan,South Asia,Low income,10%,16%,15%,4%,4%,...,0%,0%,0%,0%,0%,0%,1%,0%,NaN,NaN
2,2017,AFG,Afghanistan,South Asia,Low income,15%,23%,25%,4%,7%,...,1%,0%,1%,0%,2%,0%,1%,1%,NaN,NaN
3,2011,AGO,Angola,Sub-Saharan Africa (excluding high income),Lower middle income,39%,39%,46%,31%,39%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014,AGO,Angola,Sub-Saharan Africa (excluding high income),Lower middle income,29%,36%,36%,12%,22%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2011,ALB,Albania,Europe & Central Asia (excluding high income),Upper middle income,28%,34%,36%,15%,23%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2014,ALB,Albania,Europe & Central Asia (excluding high income),Upper middle income,38%,43%,44%,29%,34%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2017,ALB,Albania,Europe & Central Asia (excluding high income),Upper middle income,40%,42%,53%,27%,38%,...,2%,6%,1%,1%,4%,0%,4%,2%,NaN,NaN
8,2011,ARB,Arab world,NaN,NaN,22%,30%,33%,11%,14%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2014,ARB,Arab world,NaN,NaN,30%,38%,42%,18%,22%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2017,ARB,Arab world,NaN,NaN,37%,48%,51%,24%,26%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2011,ARE,United Arab Emirates,High income,High income,60%,69%,80%,24%,47%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2014,ARE,United Arab Emirates,High income,High income,84%,90%,91%,49%,68%,...,10%,10%,12%,7%,12%,7%,15%,16%,NaN,NaN
13,2017,ARE,United Arab Emirates,High income,High income,88%,93%,93%,57%,76%,...,18%,10%,22%,9%,22%,16%,25%,14%,NaN,NaN
14,2011,ARG,Argentina,Latin America & Caribbean (excluding high income),Upper middle income,33%,35%,37%,28%,32%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [155]:
subpillars[3]
subpillar = subpillars[3]
print(subpillar)

Usage and ownership

In [156]:
df = df[(df.Year == 2017)]

# Must convert the data to float by removing the % sign
df['Account (% age 15+)'] = df['Account (% age 15+)'].str.replace('%','')
df['Account (% age 15+)'] = df['Account (% age 15+)'].astype(float)

In [157]:
# create standard columns
df.rename(columns={'Country':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Account (% age 15+)'] 
df['Sub-Pillar'] = subpillar


min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 1-20 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [158]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
2,Afghanistan,2017,Financial Inclusiveness,15.0,1.329670,True,Usage and ownership
7,Albania,2017,Financial Inclusiveness,40.0,2.703297,True,Usage and ownership
10,Arab world,2017,Financial Inclusiveness,37.0,2.538462,True,Usage and ownership
13,United Arab Emirates,2017,Financial Inclusiveness,88.0,5.340659,True,Usage and ownership
16,Argentina,2017,Financial Inclusiveness,49.0,3.197802,True,Usage and ownership
...,...,...,...,...,...,...,...
479,World,2017,Financial Inclusiveness,69.0,4.296703,True,Usage and ownership
482,Kosovo,2017,Financial Inclusiveness,52.0,3.362637,True,Usage and ownership
487,South Africa,2017,Financial Inclusiveness,69.0,4.296703,True,Usage and ownership
490,Zambia,2017,Financial Inclusiveness,46.0,3.032967,True,Usage and ownership
493,Zimbabwe,2017,Financial Inclusiveness,55.0,3.527473,True,Usage and ownership

In [159]:
# output scores
df.to_csv('../indicator_scores/people_{}_scores.csv'.format(indicator), index=False)

In [160]:
### 21. E-commerce activity (% of individuals buying online and frequency)

In [161]:
indicators[20]

# load data
indicator = indicators[20]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

# Added _ between spaces to see if this changes anything

E-commerce activity (% of individuals buying online and frequency)
individuals_buying_online_frequency

In [162]:
df.head(15)

# Move the top row down further

    RANK COUNTRY/ECONOMY  VALUE (%)   SCORE  Year
0    1.0         Denmark      77.97  100.00  2017
1    2.0     Netherlands      75.72   97.11  2017
2    3.0          Norway      75.63   96.99  2017
3    4.0  United Kingdom      74.74   95.86  2017
4    5.0     Korea, Rep.      72.47   92.94  2017
5    6.0          Sweden      71.65   91.90  2017
6    7.0   United States      70.43   90.33  2017
7    8.0     New Zealand      69.11   88.63  2017
8    9.0          Canada      68.57   87.95  2017
9   10.0       Australia      67.69   86.81  2017
10  11.0         Germany      66.84   85.73  2017
11  12.0         Finland      60.76   77.92  2017
12  13.0         Ireland      59.49   76.29  2017
13  14.0         Belgium      57.27   73.44  2017
14  15.0     Switzerland      56.02   71.84  2017

In [163]:
subpillars[3]
subpillar = subpillars[3]
print(subpillar)

Usage and ownership

In [164]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['VALUE (%)'] 
df['Country Name'] = df['COUNTRY/ECONOMY']
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# convert 1-190 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=min_rank,old_max=max_rank))

In [165]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,Denmark,2017,E-commerce activity (% of individuals buying o...,77.97,6.000000,True,Usage and ownership
1,Netherlands,2017,E-commerce activity (% of individuals buying o...,75.72,5.855658,True,Usage and ownership
2,Norway,2017,E-commerce activity (% of individuals buying o...,75.63,5.849885,True,Usage and ownership
3,United Kingdom,2017,E-commerce activity (% of individuals buying o...,74.74,5.792789,True,Usage and ownership
4,"Korea, Rep.",2017,E-commerce activity (% of individuals buying o...,72.47,5.647164,True,Usage and ownership
...,...,...,...,...,...,...,...
129,Iceland,2017,E-commerce activity (% of individuals buying o...,NaN,NaN,True,Usage and ownership
130,Jamaica,2017,E-commerce activity (% of individuals buying o...,NaN,NaN,True,Usage and ownership
131,Oman,2017,E-commerce activity (% of individuals buying o...,NaN,NaN,True,Usage and ownership
132,Qatar,2017,E-commerce activity (% of individuals buying o...,NaN,NaN,True,Usage and ownership
133,Yemen,2017,E-commerce activity (% of individuals buying o...,NaN,NaN,True,Usage and ownership

In [166]:
df.to_csv('../indicator_scores/people_{}_scores.csv'.format(indicator), index=False)

In [167]:
### 22. Internet Usage

In [168]:
indicators[21]

# load data
indicator = indicators[21]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Internet Usage
ITU_database

In [169]:
df.head(15)

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
0,Angola,Africa,AGO,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
1,Benin,Africa,BEN,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
2,Botswana,Africa,BWA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
3,Burkina Faso,Africa,BFA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
4,Burundi,Africa,BDI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
5,Cabo Verde,Africa,CPV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
6,Cameroon,Africa,CMR,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
7,Central African Rep.,Africa,CAF,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
8,Chad,Africa,TCD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
9,Congo (Rep. of the),Africa,COG,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
10,Côte d'Ivoire,Africa,CIV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
11,Dem. Rep. of the Congo,Africa,COD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
12,Equatorial Guinea,Africa,GNQ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
13,Eritrea,Africa,ERI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
14,Eswatini,Africa,SWZ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN

In [170]:
subpillars[3]
subpillar = subpillars[3]
print(subpillar)

Usage and ownership

In [171]:
df = df[(df['Indicator name'] == 'Individuals using the Internet, total (%)')]
df = df[(df.Year == 2019)]

In [172]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Value'] 
df['Country Name'] = df['Country']
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# convert 1-190 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=min_rank,old_max=max_rank))

In [173]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
47607,Cabo Verde,2019.0,Internet Usage,61.943398,3.715247,True,Usage and ownership
47608,Central African Rep.,2019.0,Internet Usage,NaN,NaN,True,Usage and ownership
47609,Congo (Rep. of the),2019.0,Internet Usage,NaN,NaN,True,Usage and ownership
47610,Côte d'Ivoire,2019.0,Internet Usage,36.288955,2.162890,True,Usage and ownership
47611,Equatorial Guinea,2019.0,Internet Usage,NaN,NaN,True,Usage and ownership
...,...,...,...,...,...,...,...
47739,Saint Vincent and the Grenadines,2019.0,Internet Usage,NaN,NaN,True,Usage and ownership
47740,Trinidad and Tobago,2019.0,Internet Usage,NaN,NaN,True,Usage and ownership
47741,United States,2019.0,Internet Usage,89.430285,5.378486,True,Usage and ownership
47742,Uruguay,2019.0,Internet Usage,83.351534,5.010659,True,Usage and ownership
47743,Venezuela,2019.0,Internet Usage,NaN,NaN,True,Usage and ownership

In [174]:
df.to_csv('../indicator_scores/people_{}_scores.csv'.format(indicator), index=False)

In [175]:
### 23. Households with a computer and with Internet Access

In [176]:
indicators[22]

# load data
indicator = indicators[22]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Households with a computer and with Internet access
ITU_database

In [177]:
df.head(15)

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
0,Angola,Africa,AGO,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
1,Benin,Africa,BEN,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
2,Botswana,Africa,BWA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
3,Burkina Faso,Africa,BFA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
4,Burundi,Africa,BDI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
5,Cabo Verde,Africa,CPV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
6,Cameroon,Africa,CMR,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
7,Central African Rep.,Africa,CAF,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
8,Chad,Africa,TCD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
9,Congo (Rep. of the),Africa,COG,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
10,Côte d'Ivoire,Africa,CIV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
11,Dem. Rep. of the Congo,Africa,COD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
12,Equatorial Guinea,Africa,GNQ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
13,Eritrea,Africa,ERI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
14,Eswatini,Africa,SWZ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN

In [178]:
subpillars[3]
subpillar = subpillars[3]
print(subpillar)

Usage and ownership

In [179]:
df = df[(df['Indicator name'] == 'Households with Internet access at home (%)')]
df = df[(df.Year == 2019)]
df

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
44992,Angola,Africa,AGO,Households with Internet access at home (%),2019.0,NaN,NaN,NaN
44993,Benin,Africa,BEN,Households with Internet access at home (%),2019.0,NaN,NaN,NaN
44994,Botswana,Africa,BWA,Households with Internet access at home (%),2019.0,63.454256,NaN,NaN
44995,Burkina Faso,Africa,BFA,Households with Internet access at home (%),2019.0,NaN,NaN,NaN
44996,Burundi,Africa,BDI,Households with Internet access at home (%),2019.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
45183,Suriname,The Americas,SUR,Households with Internet access at home (%),2019.0,54.862557,NaN,NaN
45184,Trinidad and Tobago,The Americas,TTO,Households with Internet access at home (%),2019.0,NaN,NaN,NaN
45185,United States,The Americas,USA,Households with Internet access at home (%),2019.0,86.612378,NaN,NaN
45186,Uruguay,The Americas,URY,Households with Internet access at home (%),2019.0,69.330913,NaN,NaN
45187,Venezuela,The Americas,VEN,Households with Internet access at home (%),2019.0,NaN,NaN,NaN

In [180]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Value'] 
df['Country Name'] = df['Country']
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [181]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
44992,Angola,2019.0,Households with a computer and with Internet a...,NaN,NaN,True,Usage and ownership
44993,Benin,2019.0,Households with a computer and with Internet a...,NaN,NaN,True,Usage and ownership
44994,Botswana,2019.0,Households with a computer and with Internet a...,63.454256,4.112894,True,Usage and ownership
44995,Burkina Faso,2019.0,Households with a computer and with Internet a...,NaN,NaN,True,Usage and ownership
44996,Burundi,2019.0,Households with a computer and with Internet a...,NaN,NaN,True,Usage and ownership
...,...,...,...,...,...,...,...
45183,Suriname,2019.0,Households with a computer and with Internet a...,54.862557,3.669246,True,Usage and ownership
45184,Trinidad and Tobago,2019.0,Households with a computer and with Internet a...,NaN,NaN,True,Usage and ownership
45185,United States,2019.0,Households with a computer and with Internet a...,86.612378,5.308706,True,Usage and ownership
45186,Uruguay,2019.0,Households with a computer and with Internet a...,69.330913,4.416346,True,Usage and ownership
45187,Venezuela,2019.0,Households with a computer and with Internet a...,NaN,NaN,True,Usage and ownership

In [182]:
df.to_csv('../indicator_scores/people_{}_scores.csv'.format(indicator), index=False)

In [183]:
### 24. % of population using Facebook

In [184]:
indicators[23]

# load data
indicator = indicators[23]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population using Facebook
FB_users

In [185]:
df.head(15)

,Country,Facebook Users,Population in Thousands (2021),Percentage of Facebook Users
0,India,"251,000,000","1,393,409",18.01
1,United States,"240,000,000","332,915",72.09
2,Brazil,"139,000,000","213,993",64.96
3,Indonesia,"136,960,000","276,362",49.56
4,Mexico,"78,000,000","130,262",59.88
5,Philippines,"71,760,000","111,047",64.62
6,Vietnam,"66,720,000","98,169",67.96
7,Thailand,"46,000,000","69,951",65.76
8,United Kingdom,"44,000,000","68,207",64.51
9,Turkey,"44,000,000","85,043",51.74
10,Egypt,"42,400,000","104,258",40.67
11,Iran,"40,000,000","85,029",47.04
12,Pakistan,"37,070,000","225,200",16.46
13,Bangladesh,"33,713,000","166,303",20.27
14,France,"33,000,000","65,426",50.44

In [186]:
subpillars[3]
subpillar = subpillars[3]
print(subpillar)

Usage and ownership

In [187]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Percentage of Facebook Users'] 
df['Year'] = 2021
df['Country Name'] = df['Country']
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [188]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,India,2021,% of population using Facebook,18.01,1.897091,True,Usage and ownership
1,United States,2021,% of population using Facebook,72.09,4.590855,True,Usage and ownership
2,Brazil,2021,% of population using Facebook,64.96,4.235704,True,Usage and ownership
3,Indonesia,2021,% of population using Facebook,49.56,3.468619,True,Usage and ownership
4,Mexico,2021,% of population using Facebook,59.88,3.982666,True,Usage and ownership
...,...,...,...,...,...,...,...
223,Tuvalu,2021,% of population using Facebook,14.17,1.705818,True,Usage and ownership
224,Niue,2021,% of population using Facebook,41.00,3.042239,True,Usage and ownership
225,Tokelau,2021,% of population using Facebook,41.00,3.042239,True,Usage and ownership
226,Vatican City,2021,% of population using Facebook,2.00,1.099621,True,Usage and ownership
227,Cuba,2021,% of population using Facebook,0.00,1.000000,True,Usage and ownership

In [189]:
df.to_csv('../indicator_scores/people_{}_scores.csv'.format(indicator), index=False)

In [190]:
### 25. Gender gap for social media use

In [191]:
indicators[24]

# load data
indicator = indicators[24]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Gender gap for social media use
gender_gaps

In [192]:
df.head(15)

,ISO Code,Country,Region,Year,Gender parity in account ownership,Gender gap in social media use,Gender gap in mobile ownership
0,AFG,Afghanistan,South Asia,2014,11.109999,0.000000,0.000000
1,AFG,Afghanistan,South Asia,2015,14.087173,0.000000,0.000000
2,AFG,Afghanistan,South Asia,2016,17.064350,0.000000,0.000000
3,AFG,Afghanistan,South Asia,2017,20.041523,0.000000,0.000000
4,AFG,Afghanistan,South Asia,2018,20.041523,0.000000,0.000000
5,AFG,Afghanistan,South Asia,2019,20.041523,0.000000,0.000000
6,AGO,Angola,Sub-Saharan Africa,2014,55.237572,46.428570,51.645042
7,AGO,Angola,Sub-Saharan Africa,2015,55.237572,46.428570,57.001461
8,AGO,Angola,Sub-Saharan Africa,2016,55.237572,46.428570,63.725491
9,AGO,Angola,Sub-Saharan Africa,2017,55.237572,38.646553,53.966476
10,AGO,Angola,Sub-Saharan Africa,2018,55.237572,38.646553,63.339275
11,AGO,Angola,Sub-Saharan Africa,2019,55.237572,49.552494,57.712311
12,ALB,Albania,Europe & Central Asia,2014,75.398972,36.507938,68.421051
13,ALB,Albania,Europe & Central Asia,2015,79.937897,36.507938,68.421051
14,ALB,Albania,Europe & Central Asia,2016,84.476822,36.507938,67.391304

In [193]:
subpillars[3]
subpillar = subpillars[3]
print(subpillar)

Usage and ownership

In [194]:
df = df[df.Year==2019]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Gender gap in social media use'] 
df['Country Name'] = df['Country']
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [195]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
5,Afghanistan,2019,Gender gap for social media use,0.000000,1.000000,True,Usage and ownership
11,Angola,2019,Gender gap for social media use,49.552494,3.477625,True,Usage and ownership
17,Albania,2019,Gender gap for social media use,41.406120,3.070306,True,Usage and ownership
23,United Arab Emirates,2019,Gender gap for social media use,13.890497,1.694525,True,Usage and ownership
29,Argentina,2019,Gender gap for social media use,100.000000,6.000000,True,Usage and ownership
...,...,...,...,...,...,...,...
995,Samoa,2019,Gender gap for social media use,100.000000,6.000000,True,Usage and ownership
1001,Yemen,2019,Gender gap for social media use,0.000000,1.000000,True,Usage and ownership
1007,South Africa,2019,Gender gap for social media use,96.334473,5.816724,True,Usage and ownership
1013,Zambia,2019,Gender gap for social media use,59.793156,3.989658,True,Usage and ownership
1019,Zimbabwe,2019,Gender gap for social media use,45.876221,3.293811,True,Usage and ownership

In [196]:
df.to_csv('../indicator_scores/people_{}_scores.csv'.format(indicator), index=False)

In [197]:
### 26. % of population using digital financial services

In [198]:
indicators[25]

# load data
indicator = indicators[25]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population using digital financial services
population_digital_financial_services

In [199]:
df.head(15)

# May have to convert the data to csv file as the original file is missing many important columns

,Year,ISO,Country Name,Region,Income Group,Account (% age 15+),"Account, male (% age 15+)","Account, in labor force (% age 15+)","Account, out of labor force (% age 15+)","Account, female (% age 15+)",...,"Mobile money account, female (% age 15+)","Mobile money account, young adults (% age 15-24)","Mobile money account, older adults (% age 25+)","Mobile money account, primary education or less (% age 15+)","Mobile money account, secondary education or less (% age 15+)","Mobile money account, income, poorest 40% (% age 15+)","Mobile money account, income, richest 60% (% age 15+)","Mobile money account, rural (% age 15+)",data_country,data_year
0,2011,AFG,Afghanistan,South Asia,Low income,9%,15%,15%,2%,3%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014,AFG,Afghanistan,South Asia,Low income,10%,16%,15%,4%,4%,...,0%,0%,0%,0%,0%,0%,1%,0%,NaN,NaN
2,2017,AFG,Afghanistan,South Asia,Low income,15%,23%,25%,4%,7%,...,1%,0%,1%,0%,2%,0%,1%,1%,NaN,NaN
3,2011,AGO,Angola,Sub-Saharan Africa (excluding high income),Lower middle income,39%,39%,46%,31%,39%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014,AGO,Angola,Sub-Saharan Africa (excluding high income),Lower middle income,29%,36%,36%,12%,22%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2011,ALB,Albania,Europe & Central Asia (excluding high income),Upper middle income,28%,34%,36%,15%,23%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2014,ALB,Albania,Europe & Central Asia (excluding high income),Upper middle income,38%,43%,44%,29%,34%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2017,ALB,Albania,Europe & Central Asia (excluding high income),Upper middle income,40%,42%,53%,27%,38%,...,2%,6%,1%,1%,4%,0%,4%,2%,NaN,NaN
8,2011,ARB,Arab world,NaN,NaN,22%,30%,33%,11%,14%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2014,ARB,Arab world,NaN,NaN,30%,38%,42%,18%,22%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2017,ARB,Arab world,NaN,NaN,37%,48%,51%,24%,26%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2011,ARE,United Arab Emirates,High income,High income,60%,69%,80%,24%,47%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2014,ARE,United Arab Emirates,High income,High income,84%,90%,91%,49%,68%,...,10%,10%,12%,7%,12%,7%,15%,16%,NaN,NaN
13,2017,ARE,United Arab Emirates,High income,High income,88%,93%,93%,57%,76%,...,18%,10%,22%,9%,22%,16%,25%,14%,NaN,NaN
14,2011,ARG,Argentina,Latin America & Caribbean (excluding high income),Upper middle income,33%,35%,37%,28%,32%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [200]:
subpillars[3]
subpillar = subpillars[3]
print(subpillar)

Usage and ownership

In [201]:
df = df[(df.Year == 2017)]

# Must convert the data to float by removing the % sign
df['Used the internet to pay bills or to buy something online in the past year (% age 15+)'] = df['Used the internet to pay bills or to buy something online in the past year (% age 15+)'].str.replace('%','')
df['Used the internet to pay bills or to buy something online in the past year (% age 15+)'] = df['Used the internet to pay bills or to buy something online in the past year (% age 15+)'].astype(float)

In [202]:
# create standard columns
df.rename(columns={'Country':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Used the internet to pay bills or to buy something online in the past year (% age 15+)'] 
df['Sub-Pillar'] = subpillar


min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 1-20 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [203]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
2,Afghanistan,2017,% of population using digital financial services,1.0,1.000000,True,Usage and ownership
7,Albania,2017,% of population using digital financial services,7.0,1.340909,True,Usage and ownership
10,Arab world,2017,% of population using digital financial services,9.0,1.454545,True,Usage and ownership
13,United Arab Emirates,2017,% of population using digital financial services,60.0,4.352273,True,Usage and ownership
16,Argentina,2017,% of population using digital financial services,19.0,2.022727,True,Usage and ownership
...,...,...,...,...,...,...,...
479,World,2017,% of population using digital financial services,29.0,2.590909,True,Usage and ownership
482,Kosovo,2017,% of population using digital financial services,15.0,1.795455,True,Usage and ownership
487,South Africa,2017,% of population using digital financial services,14.0,1.738636,True,Usage and ownership
490,Zambia,2017,% of population using digital financial services,11.0,1.568182,True,Usage and ownership
493,Zimbabwe,2017,% of population using digital financial services,10.0,1.511364,True,Usage and ownership

In [204]:
df.to_csv('../indicator_scores/people_{}_scores.csv'.format(indicator), index=False)

In [205]:
### 27. Mobile Broadband Pricing (pre-paid)

In [206]:
indicators[26]

# load data
indicator = indicators[26]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

# File not found despite its presence in the personal repo and the data manifest

Mobile Broadband Pricing (pre-paid)
ITU_database

In [207]:
df.head(15)

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
0,Angola,Africa,AGO,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
1,Benin,Africa,BEN,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
2,Botswana,Africa,BWA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
3,Burkina Faso,Africa,BFA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
4,Burundi,Africa,BDI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
5,Cabo Verde,Africa,CPV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
6,Cameroon,Africa,CMR,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
7,Central African Rep.,Africa,CAF,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
8,Chad,Africa,TCD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
9,Congo (Rep. of the),Africa,COG,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
10,Côte d'Ivoire,Africa,CIV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
11,Dem. Rep. of the Congo,Africa,COD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
12,Equatorial Guinea,Africa,GNQ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
13,Eritrea,Africa,ERI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
14,Eswatini,Africa,SWZ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN

In [208]:
subpillars[3]
subpillar = subpillars[3]
print(subpillar)

Usage and ownership

In [209]:
df = df[df.Year==2019]
df = df[df['Indicator name'] == 'Mobile broadband basket as a % of GNI p.c.']
df

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
17974,Angola,Africa,AGO,Mobile broadband basket as a % of GNI p.c.,2019.0,5.63,NaN,NaN
17975,Benin,Africa,BEN,Mobile broadband basket as a % of GNI p.c.,2019.0,6.21,NaN,NaN
17976,Botswana,Africa,BWA,Mobile broadband basket as a % of GNI p.c.,2019.0,2.87,NaN,NaN
17977,Burkina Faso,Africa,BFA,Mobile broadband basket as a % of GNI p.c.,2019.0,19.63,NaN,NaN
17978,Burundi,Africa,BDI,Mobile broadband basket as a % of GNI p.c.,2019.0,20.43,NaN,NaN
...,...,...,...,...,...,...,...,...
18161,Saint Vincent and the Grenadines,The Americas,VCT,Mobile broadband basket as a % of GNI p.c.,2019.0,4.59,NaN,NaN
18162,Suriname,The Americas,SUR,Mobile broadband basket as a % of GNI p.c.,2019.0,1.93,NaN,NaN
18163,Trinidad and Tobago,The Americas,TTO,Mobile broadband basket as a % of GNI p.c.,2019.0,3.07,NaN,NaN
18164,United States,The Americas,USA,Mobile broadband basket as a % of GNI p.c.,2019.0,0.42,NaN,NaN
18165,Uruguay,The Americas,URY,Mobile broadband basket as a % of GNI p.c.,2019.0,1.61,NaN,NaN

In [210]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Value'] 
df['Country Name'] = df['Country']
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

# invert since to put as higher is  better
df['new_rank_score'] = df['new_rank_score'].apply(lambda row: (6-row)+1)

In [211]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
17974,Angola,2019.0,Mobile Broadband Pricing (pre-paid),5.63,5.553571,True,Usage and ownership
17975,Benin,2019.0,Mobile Broadband Pricing (pre-paid),6.21,5.506062,True,Usage and ownership
17976,Botswana,2019.0,Mobile Broadband Pricing (pre-paid),2.87,5.779653,True,Usage and ownership
17977,Burkina Faso,2019.0,Mobile Broadband Pricing (pre-paid),19.63,4.406782,True,Usage and ownership
17978,Burundi,2019.0,Mobile Broadband Pricing (pre-paid),20.43,4.341252,True,Usage and ownership
...,...,...,...,...,...,...,...
18161,Saint Vincent and the Grenadines,2019.0,Mobile Broadband Pricing (pre-paid),4.59,5.638761,True,Usage and ownership
18162,Suriname,2019.0,Mobile Broadband Pricing (pre-paid),1.93,5.856651,True,Usage and ownership
18163,Trinidad and Tobago,2019.0,Mobile Broadband Pricing (pre-paid),3.07,5.763270,True,Usage and ownership
18164,United States,2019.0,Mobile Broadband Pricing (pre-paid),0.42,5.980341,True,Usage and ownership
18165,Uruguay,2019.0,Mobile Broadband Pricing (pre-paid),1.61,5.882864,True,Usage and ownership

In [212]:
df.to_csv('../indicator_scores/people_{}_scores.csv'.format(indicator), index=False)

In [213]:
### 28. Tax as % of total cost of mobile ownership

In [214]:
indicators[27]

# load data
indicator = indicators[27]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Tax as % of total cost of mobile ownership
tax_percent_mobile_ownership

In [215]:
df.head(15)

,ISO Code,Country,Region,Year,Cluster,Index,Infrastructure,Affordability,Consumer Readiness,Content and Services,...,Gender gap in mobile ownership,TLDs per capita,E-Government Score,Mobile Social Media Penetration,Apps developed per person,Number of apps in national language,Accessibility of top ranked apps,Cybersecurity Index,data_country,data_year
0,AFG,Afghanistan,South Asia,2014,Discoverer,22.12,21.74,31.79,24.40,14.19,...,0.00,39.55,18.11,3.28,20.98,2.44,4.37,26.50,NaN,NaN
1,AFG,Afghanistan,South Asia,2015,Discoverer,22.99,22.82,30.81,25.28,15.71,...,0.00,39.57,24.27,4.36,22.93,2.79,8.03,25.83,NaN,NaN
2,AFG,Afghanistan,South Asia,2016,Discoverer,23.71,26.92,26.75,26.07,16.83,...,0.00,39.58,30.43,6.73,30.31,2.85,5.90,25.17,NaN,NaN
3,AFG,Afghanistan,South Asia,2017,Discoverer,25.82,33.54,27.22,28.56,17.04,...,0.00,39.47,30.50,7.78,31.62,2.91,6.15,24.50,NaN,NaN
4,AFG,Afghanistan,South Asia,2018,Discoverer,28.39,30.91,42.64,29.24,16.87,...,0.00,39.39,30.56,8.54,36.54,2.96,8.66,17.70,NaN,NaN
5,AFG,Afghanistan,South Asia,2019,Discoverer,28.94,32.34,41.53,29.72,17.58,...,0.00,39.41,41.18,9.39,39.36,3.00,5.72,17.70,NaN,NaN
6,AGO,Angola,Sub-Saharan Africa,2014,Discoverer,32.78,25.99,35.99,44.33,27.85,...,51.65,0.00,29.92,3.99,22.74,53.33,49.09,8.80,NaN,NaN
7,AGO,Angola,Sub-Saharan Africa,2015,Emerging,37.18,33.09,42.01,45.41,30.27,...,57.00,0.31,32.35,5.26,22.12,55.08,58.33,8.47,NaN,NaN
8,AGO,Angola,Sub-Saharan Africa,2016,Emerging,39.85,37.80,44.74,46.47,32.11,...,63.73,0.00,34.78,6.27,27.46,56.52,61.73,8.13,NaN,NaN
9,AGO,Angola,Sub-Saharan Africa,2017,Emerging,42.89,48.60,47.94,46.32,31.36,...,53.97,0.00,37.88,4.26,31.94,57.06,55.09,7.80,NaN,NaN
10,AGO,Angola,Sub-Saharan Africa,2018,Emerging,42.46,47.61,46.28,47.61,30.98,...,63.34,0.00,40.97,5.39,35.36,57.13,47.25,9.70,NaN,NaN
11,AGO,Angola,Sub-Saharan Africa,2019,Emerging,43.53,48.18,47.65,48.13,32.50,...,57.71,0.77,48.82,6.82,41.20,57.98,46.19,9.70,NaN,NaN
12,ALB,Albania,Europe & Central Asia,2014,Transitioner,53.74,41.32,55.95,74.94,48.13,...,68.42,53.41,44.88,39.75,66.65,60.33,56.55,20.60,NaN,NaN
13,ALB,Albania,Europe & Central Asia,2015,Transitioner,57.42,52.09,54.60,75.56,50.57,...,68.42,57.45,52.15,40.61,65.99,63.29,57.56,24.20,NaN,NaN
14,ALB,Albania,Europe & Central Asia,2016,Transitioner,60.24,57.44,54.45,75.97,55.41,...,67.39,58.70,59.42,48.07,69.64,65.57,65.80,27.80,NaN,NaN

In [216]:
subpillars[3]
subpillar = subpillars[3]
print(subpillar)

Usage and ownership

In [217]:
df = df[df.Year==2019]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = False
df['Indicator'] = indicator
df['data_col'] = df['Tax as a % of TCMO'] 
df['Country Name'] = df['Country']
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

# invert since to put as higher is  better
df['new_rank_score'] = df['new_rank_score'].apply(lambda row: (6-row)+1)

In [218]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
5,Afghanistan,2019,Tax as % of total cost of mobile ownership,79.16,2.0420,False,Usage and ownership
11,Angola,2019,Tax as % of total cost of mobile ownership,65.83,2.7085,False,Usage and ownership
17,Albania,2019,Tax as % of total cost of mobile ownership,50.00,3.5000,False,Usage and ownership
23,United Arab Emirates,2019,Tax as % of total cost of mobile ownership,82.31,1.8845,False,Usage and ownership
29,Argentina,2019,Tax as % of total cost of mobile ownership,5.23,5.7385,False,Usage and ownership
...,...,...,...,...,...,...,...
995,Samoa,2019,Tax as % of total cost of mobile ownership,62.50,2.8750,False,Usage and ownership
1001,Yemen,2019,Tax as % of total cost of mobile ownership,75.00,2.2500,False,Usage and ownership
1007,South Africa,2019,Tax as % of total cost of mobile ownership,62.50,2.8750,False,Usage and ownership
1013,Zambia,2019,Tax as % of total cost of mobile ownership,17.88,5.1060,False,Usage and ownership
1019,Zimbabwe,2019,Tax as % of total cost of mobile ownership,24.00,4.8000,False,Usage and ownership

In [219]:
df.to_csv('../indicator_scores/people_{}_scores.csv'.format(indicator), index=False)

In [220]:
### 29. % of population with a smartphone

In [221]:
indicators[28]

# load data
indicator = indicators[28]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population with a smartphone
population_with_smartphones

In [222]:
df.head(15)

,Unnamed: 0,Country,Total Population,Smartphone Penetration Rate,Smartphone Users
0,1,China,1.44B,0.64,918.45M
1,2,India,1.38B,0.32,439.42M
2,3,United States,331M,0.82,270M
3,4,Indonesia,273.52M,0.59,160.23M
4,5,Brazil,212.56M,0.51,109.34M
5,6,Russia,145.93M,0.69,99.93M
6,7,Japan,126.48M,0.63,80M
7,8,Mexico,128.93M,0.54,70.14M
8,9,Germany,83.78M,0.78,65.24M
9,10,Vietnam,97.34M,0.63,61.37M
10,11,United Kingdom,67.89M,0.79,53.58M
11,12,Bangladesh,164.69M,0.32,53.3M
12,13,Iran,83.99M,0.63,52.81M
13,14,Turkey,84.34M,0.62,52.06M
14,15,France,65.27M,0.78,50.66M

In [223]:
subpillars[3]
subpillar = subpillars[3]
print(subpillar)

Usage and ownership

In [224]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Smartphone Penetration Rate'] 
df['Country Name'] = df['Country']
df['Year'] = 2020
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [225]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,China,2020,% of population with a smartphone,0.64,4.593750,True,Usage and ownership
1,India,2020,% of population with a smartphone,0.32,2.093750,True,Usage and ownership
2,United States,2020,% of population with a smartphone,0.82,6.000000,True,Usage and ownership
3,Indonesia,2020,% of population with a smartphone,0.59,4.203125,True,Usage and ownership
4,Brazil,2020,% of population with a smartphone,0.51,3.578125,True,Usage and ownership
5,Russia,2020,% of population with a smartphone,0.69,4.984375,True,Usage and ownership
6,Japan,2020,% of population with a smartphone,0.63,4.515625,True,Usage and ownership
7,Mexico,2020,% of population with a smartphone,0.54,3.812500,True,Usage and ownership
8,Germany,2020,% of population with a smartphone,0.78,5.687500,True,Usage and ownership
9,Vietnam,2020,% of population with a smartphone,0.63,4.515625,True,Usage and ownership
10,United Kingdom,2020,% of population with a smartphone,0.79,5.765625,True,Usage and ownership
11,Bangladesh,2020,% of population with a smartphone,0.32,2.093750,True,Usage and ownership
12,Iran,2020,% of population with a smartphone,0.63,4.515625,True,Usage and ownership
13,Turkey,2020,% of population with a smartphone,0.62,4.437500,True,Usage and ownership
14,France,2020,% of population with a smartphone,0.78,5.687500,True,Usage and ownership
15,Italy,2020,% of population with a smartphone,0.76,5.531250,True,Usage and ownership
16,Philippines,2020,% of population with a smartphone,0.38,2.562500,True,Usage and ownership
17,Pakistan,2020,% of population with a smartphone,0.18,1.000000,True,Usage and ownership
18,South Korea,2020,% of population with a smartphone,0.77,5.609375,True,Usage and ownership
19,Thailand,2020,% of population with a smartphone,0.54,3.812500,True,Usage and ownership

In [226]:
df.to_csv('../indicator_scores/people_{}_scores.csv'.format(indicator), index=False)

In [227]:
### 30. Gender gap in internet usage

In [228]:
indicators[29]

# load data
indicator = indicators[29]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Gender gap in internet usage
ITU_database

In [229]:
df.head(15)

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
0,Angola,Africa,AGO,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
1,Benin,Africa,BEN,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
2,Botswana,Africa,BWA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
3,Burkina Faso,Africa,BFA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
4,Burundi,Africa,BDI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
5,Cabo Verde,Africa,CPV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
6,Cameroon,Africa,CMR,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
7,Central African Rep.,Africa,CAF,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
8,Chad,Africa,TCD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
9,Congo (Rep. of the),Africa,COG,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
10,Côte d'Ivoire,Africa,CIV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
11,Dem. Rep. of the Congo,Africa,COD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
12,Equatorial Guinea,Africa,GNQ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
13,Eritrea,Africa,ERI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
14,Eswatini,Africa,SWZ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN

In [230]:
subpillars[3]
subpillar = subpillars[3]
print(subpillar)

Usage and ownership

In [231]:
df = df[(df['Indicator name'] == 'Female Internet users as a % of total female population')]
df = df[(df.Year == 2019)]
df

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
40307,Cabo Verde,Africa,CPV,Female Internet users as a % of total female p...,2019.0,60.965017,NaN,NaN
40308,Côte d'Ivoire,Africa,CIV,Female Internet users as a % of total female p...,2019.0,32.924445,NaN,NaN
40309,Kenya,Africa,KEN,Female Internet users as a % of total female p...,2019.0,20.125122,NaN,NaN
40310,Lesotho,Africa,LSO,Female Internet users as a % of total female p...,2019.0,44.922768,NaN,NaN
40311,Mauritius,Africa,MUS,Female Internet users as a % of total female p...,2019.0,60.130645,NaN,NaN
...,...,...,...,...,...,...,...,...
40388,Mexico,The Americas,MEX,Female Internet users as a % of total female p...,2019.0,68.574653,NaN,NaN
40389,Panama,The Americas,PAN,Female Internet users as a % of total female p...,2019.0,63.811494,NaN,NaN
40390,Paraguay,The Americas,PRY,Female Internet users as a % of total female p...,2019.0,69.017230,NaN,NaN
40391,Peru,The Americas,PER,Female Internet users as a % of total female p...,2019.0,56.992144,NaN,NaN
40392,Uruguay,The Americas,URY,Female Internet users as a % of total female p...,2019.0,83.835706,NaN,NaN

In [232]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Value'] 
df['Country Name'] = df['Country']
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [233]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
40307,Cabo Verde,2019.0,Gender gap in internet usage,60.965017,3.766390,True,Usage and ownership
40308,Côte d'Ivoire,2019.0,Gender gap in internet usage,32.924445,2.151554,True,Usage and ownership
40309,Kenya,2019.0,Gender gap in internet usage,20.125122,1.414451,True,Usage and ownership
40310,Lesotho,2019.0,Gender gap in internet usage,44.922768,2.842529,True,Usage and ownership
40311,Mauritius,2019.0,Gender gap in internet usage,60.130645,3.718339,True,Usage and ownership
...,...,...,...,...,...,...,...
40388,Mexico,2019.0,Gender gap in internet usage,68.574653,4.204623,True,Usage and ownership
40389,Panama,2019.0,Gender gap in internet usage,63.811494,3.930316,True,Usage and ownership
40390,Paraguay,2019.0,Gender gap in internet usage,69.017230,4.230110,True,Usage and ownership
40391,Peru,2019.0,Gender gap in internet usage,56.992144,3.537595,True,Usage and ownership
40392,Uruguay,2019.0,Gender gap in internet usage,83.835706,5.083495,True,Usage and ownership

In [234]:
df.to_csv('../indicator_scores/people_{}_scores.csv'.format(indicator), index=False)

In [235]:
### 31. Gender gap in mobile usage

In [236]:
indicators[30]

# load data
indicator = indicators[30]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Gender gap in mobile usage
gender_gaps

In [237]:
df.head(15)

,ISO Code,Country,Region,Year,Gender parity in account ownership,Gender gap in social media use,Gender gap in mobile ownership
0,AFG,Afghanistan,South Asia,2014,11.109999,0.000000,0.000000
1,AFG,Afghanistan,South Asia,2015,14.087173,0.000000,0.000000
2,AFG,Afghanistan,South Asia,2016,17.064350,0.000000,0.000000
3,AFG,Afghanistan,South Asia,2017,20.041523,0.000000,0.000000
4,AFG,Afghanistan,South Asia,2018,20.041523,0.000000,0.000000
5,AFG,Afghanistan,South Asia,2019,20.041523,0.000000,0.000000
6,AGO,Angola,Sub-Saharan Africa,2014,55.237572,46.428570,51.645042
7,AGO,Angola,Sub-Saharan Africa,2015,55.237572,46.428570,57.001461
8,AGO,Angola,Sub-Saharan Africa,2016,55.237572,46.428570,63.725491
9,AGO,Angola,Sub-Saharan Africa,2017,55.237572,38.646553,53.966476
10,AGO,Angola,Sub-Saharan Africa,2018,55.237572,38.646553,63.339275
11,AGO,Angola,Sub-Saharan Africa,2019,55.237572,49.552494,57.712311
12,ALB,Albania,Europe & Central Asia,2014,75.398972,36.507938,68.421051
13,ALB,Albania,Europe & Central Asia,2015,79.937897,36.507938,68.421051
14,ALB,Albania,Europe & Central Asia,2016,84.476822,36.507938,67.391304

In [238]:
subpillars[3]
subpillar = subpillars[3]
print(subpillar)

Usage and ownership

In [239]:
df = df[(df.Year == 2019)]
df

,ISO Code,Country,Region,Year,Gender parity in account ownership,Gender gap in social media use,Gender gap in mobile ownership
5,AFG,Afghanistan,South Asia,2019,2.004152e+01,0.000000,0.000000
11,AGO,Angola,Sub-Saharan Africa,2019,5.523757e+01,49.552494,57.712311
17,ALB,Albania,Europe & Central Asia,2019,8.901575e+01,41.406120,67.741936
23,ARE,United Arab Emirates,Middle East & North Africa,2019,7.944289e+01,13.890497,100.000000
29,ARG,Argentina,Latin America & Caribbean,2019,1.000000e+02,100.000000,99.650528
...,...,...,...,...,...,...,...
995,WSM,Samoa,East Asia & Pacific,2019,9.256590e+01,100.000000,100.000000
1001,YEM,Yemen,Middle East & North Africa,2019,3.250000e-15,0.000000,0.000000
1007,ZAF,South Africa,Sub-Saharan Africa,2019,1.000000e+02,96.334473,78.272583
1013,ZMB,Zambia,Sub-Saharan Africa,2019,7.414376e+01,59.793156,53.703701
1019,ZWE,Zimbabwe,Sub-Saharan Africa,2019,8.503561e+01,45.876221,100.000000

In [240]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Gender gap in mobile ownership'] 
df['Country Name'] = df['Country']
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [241]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
5,Afghanistan,2019,Gender gap in mobile usage,0.000000,1.000000,True,Usage and ownership
11,Angola,2019,Gender gap in mobile usage,57.712311,3.885616,True,Usage and ownership
17,Albania,2019,Gender gap in mobile usage,67.741936,4.387097,True,Usage and ownership
23,United Arab Emirates,2019,Gender gap in mobile usage,100.000000,6.000000,True,Usage and ownership
29,Argentina,2019,Gender gap in mobile usage,99.650528,5.982526,True,Usage and ownership
...,...,...,...,...,...,...,...
995,Samoa,2019,Gender gap in mobile usage,100.000000,6.000000,True,Usage and ownership
1001,Yemen,2019,Gender gap in mobile usage,0.000000,1.000000,True,Usage and ownership
1007,South Africa,2019,Gender gap in mobile usage,78.272583,4.913629,True,Usage and ownership
1013,Zambia,2019,Gender gap in mobile usage,53.703701,3.685185,True,Usage and ownership
1019,Zimbabwe,2019,Gender gap in mobile usage,100.000000,6.000000,True,Usage and ownership

In [242]:
df.to_csv('../indicator_scores/people_{}_scores.csv'.format(indicator), index=False)

In [243]:
### 32. Mobile Device Penetration

In [244]:
indicators[31]

# load data
indicator = indicators[31]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Mobile Device Penetration
ITU_database

In [245]:
df.head(15)

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
0,Angola,Africa,AGO,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
1,Benin,Africa,BEN,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
2,Botswana,Africa,BWA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
3,Burkina Faso,Africa,BFA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
4,Burundi,Africa,BDI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
5,Cabo Verde,Africa,CPV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
6,Cameroon,Africa,CMR,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
7,Central African Rep.,Africa,CAF,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
8,Chad,Africa,TCD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
9,Congo (Rep. of the),Africa,COG,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
10,Côte d'Ivoire,Africa,CIV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
11,Dem. Rep. of the Congo,Africa,COD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
12,Equatorial Guinea,Africa,GNQ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
13,Eritrea,Africa,ERI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
14,Eswatini,Africa,SWZ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN

In [246]:
subpillars[3]
subpillar = subpillars[3]
print(subpillar)

Usage and ownership

In [247]:
df = df[(df['Indicator name'] == 'Individuals owning a mobile phone (%)')]
df = df[(df.Year == 2019)]
df

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
5753,Angola,Africa,AGO,Individuals owning a mobile phone (%),2019.0,NaN,NaN,NaN
5754,Benin,Africa,BEN,Individuals owning a mobile phone (%),2019.0,NaN,NaN,NaN
5755,Botswana,Africa,BWA,Individuals owning a mobile phone (%),2019.0,NaN,NaN,NaN
5756,Burkina Faso,Africa,BFA,Individuals owning a mobile phone (%),2019.0,NaN,NaN,NaN
5757,Burundi,Africa,BDI,Individuals owning a mobile phone (%),2019.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
5943,Suriname,The Americas,SUR,Individuals owning a mobile phone (%),2019.0,NaN,NaN,NaN
5944,Trinidad and Tobago,The Americas,TTO,Individuals owning a mobile phone (%),2019.0,NaN,NaN,NaN
5945,United States,The Americas,USA,Individuals owning a mobile phone (%),2019.0,NaN,NaN,NaN
5946,Uruguay,The Americas,URY,Individuals owning a mobile phone (%),2019.0,83.282233,NaN,NaN
5947,Venezuela,The Americas,VEN,Individuals owning a mobile phone (%),2019.0,NaN,NaN,NaN

In [248]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Value'] 
df['Country Name'] = df['Country']
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [249]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
5753,Angola,2019.0,Mobile Device Penetration,NaN,NaN,True,Usage and ownership
5754,Benin,2019.0,Mobile Device Penetration,NaN,NaN,True,Usage and ownership
5755,Botswana,2019.0,Mobile Device Penetration,NaN,NaN,True,Usage and ownership
5756,Burkina Faso,2019.0,Mobile Device Penetration,NaN,NaN,True,Usage and ownership
5757,Burundi,2019.0,Mobile Device Penetration,NaN,NaN,True,Usage and ownership
...,...,...,...,...,...,...,...
5943,Suriname,2019.0,Mobile Device Penetration,NaN,NaN,True,Usage and ownership
5944,Trinidad and Tobago,2019.0,Mobile Device Penetration,NaN,NaN,True,Usage and ownership
5945,United States,2019.0,Mobile Device Penetration,NaN,NaN,True,Usage and ownership
5946,Uruguay,2019.0,Mobile Device Penetration,83.282233,4.471964,True,Usage and ownership
5947,Venezuela,2019.0,Mobile Device Penetration,NaN,NaN,True,Usage and ownership

In [250]:
df.to_csv('../indicator_scores/people_{}_scores.csv'.format(indicator), index=False)

In [251]:
### 33. Mobile Device Penetration (female)

In [252]:
indicators[32]

# load data
indicator = indicators[32]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Mobile Device Penetration (female)
ITU_database

In [253]:
df.head(15)

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
0,Angola,Africa,AGO,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
1,Benin,Africa,BEN,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
2,Botswana,Africa,BWA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
3,Burkina Faso,Africa,BFA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
4,Burundi,Africa,BDI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
5,Cabo Verde,Africa,CPV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
6,Cameroon,Africa,CMR,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
7,Central African Rep.,Africa,CAF,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
8,Chad,Africa,TCD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
9,Congo (Rep. of the),Africa,COG,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
10,Côte d'Ivoire,Africa,CIV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
11,Dem. Rep. of the Congo,Africa,COD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
12,Equatorial Guinea,Africa,GNQ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
13,Eritrea,Africa,ERI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
14,Eswatini,Africa,SWZ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN

In [254]:
subpillars[3]
subpillar = subpillars[3]
print(subpillar)

Usage and ownership

In [255]:
df = df[(df.Year==2019)]
df = df[(df['Indicator name'] == 'Female mobile phone ownership as a % of total female population')]

In [256]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Value'] 
df['Country Name'] = df['Country']
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [257]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
1763,Angola,2019.0,Mobile Device Penetration (female),NaN,NaN,True,Usage and ownership
1764,Benin,2019.0,Mobile Device Penetration (female),NaN,NaN,True,Usage and ownership
1765,Botswana,2019.0,Mobile Device Penetration (female),NaN,NaN,True,Usage and ownership
1766,Burkina Faso,2019.0,Mobile Device Penetration (female),NaN,NaN,True,Usage and ownership
1767,Burundi,2019.0,Mobile Device Penetration (female),NaN,NaN,True,Usage and ownership
...,...,...,...,...,...,...,...
1953,Suriname,2019.0,Mobile Device Penetration (female),NaN,NaN,True,Usage and ownership
1954,Trinidad and Tobago,2019.0,Mobile Device Penetration (female),NaN,NaN,True,Usage and ownership
1955,United States,2019.0,Mobile Device Penetration (female),NaN,NaN,True,Usage and ownership
1956,Uruguay,2019.0,Mobile Device Penetration (female),84.173624,4.925565,True,Usage and ownership
1957,Venezuela,2019.0,Mobile Device Penetration (female),NaN,NaN,True,Usage and ownership

In [258]:
df.to_csv('../indicator_scores/people_{}_scores.csv'.format(indicator), index=False)

In [259]:
### 34. Crypto Adoption Index

In [260]:
indicators[33]

# load data
indicator = indicators[33]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Crypto Adoption Index
Chainalysis_2020_Geography_Cryptocurrency_Report

In [261]:
df.head(15)

,Country,Score,Rank,On-chain value received (Rank),On-chain retail value received (Rank),P2P exchange trade volume (Rank)
0,Vietnam,1.00,1,4,2,3
1,India,0.37,2,2,3,72
2,Pakistan,0.36,3,11,12,8
3,Ukraine,0.29,4,6,5,40
4,Kenya,0.28,5,41,28,1
5,Nigeria,0.26,6,15,10,18
6,Venezuela,0.25,7,29,22,6
7,United States,0.22,8,3,4,109
8,Togo,0.19,9,47,42,2
9,Argentina,0.19,10,14,17,33
10,Colombia,0.19,11,27,23,12
11,Thailand,0.17,12,7,11,76
12,China,0.16,13,1,1,155
13,Brazil,0.16,14,5,7,113
14,Philippines,0.16,15,10,9,80

In [262]:
subpillars[3]
subpillar = subpillars[3]
print(subpillar)

Usage and ownership

In [263]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Score'] 
df['Country Name'] = df['Country']
df['Year'] = 2019
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [264]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,Vietnam,2019,Crypto Adoption Index,1.00,6.00,True,Usage and ownership
1,India,2019,Crypto Adoption Index,0.37,2.85,True,Usage and ownership
2,Pakistan,2019,Crypto Adoption Index,0.36,2.80,True,Usage and ownership
3,Ukraine,2019,Crypto Adoption Index,0.29,2.45,True,Usage and ownership
4,Kenya,2019,Crypto Adoption Index,0.28,2.40,True,Usage and ownership
...,...,...,...,...,...,...,...
152,Guyana,2019,Crypto Adoption Index,0.00,1.00,True,Usage and ownership
153,"Virgin Islands, U.S.",2019,Crypto Adoption Index,0.00,1.00,True,Usage and ownership
154,Brunei Darussalam,2019,Crypto Adoption Index,0.00,1.00,True,Usage and ownership
155,Bermuda,2019,Crypto Adoption Index,0.00,1.00,True,Usage and ownership
156,Cayman Islands,2019,Crypto Adoption Index,0.00,1.00,True,Usage and ownership

In [265]:
df.to_csv('../indicator_scores/people_{}_scores.csv'.format(indicator), index=False)

In [266]:
### Score Aggregating

In [267]:
import os

In [268]:
# get list of files in scores folder
scores = os.listdir('../indicator_scores/')
scores = [s for s in scores if s.startswith('people')]

In [269]:
scores

['people_% of internet users who own cryptocurrency_scores.csv',
 'people_% of population using digital financial services_scores.csv',
 'people_% of population using Facebook_scores.csv',
 'people_% of population using internet (all)_scores.csv',
 'people_% of population using internet (female)_scores.csv',
 'people_% of population using internet (male)_scores.csv',
 'people_% of population with a smartphone_scores.csv',
 'people_Automation-led unemployment_scores.csv',
 'people_Crypto Adoption Index_scores.csv',
 'people_Cyberbullying_scores.csv',
 'people_E-commerce activity (% of individuals buying online and frequency)_scores.csv',
 'people_E-waste generated, kilograms per inhabitant_scores.csv',
 'people_Facebook Social Connectedness Index_scores.csv',
 'people_Financial Inclusiveness_scores.csv',
 'people_Gender gap for social media use_scores.csv',
 'people_Gender gap in internet usage_scores.csv',
 'people_Gender gap in mobile usage_scores.csv',
 'people_Global Wellbeing Initiative (World Happiness Index)_scores.csv',
 'people_Gross National Wellbeing_scores.csv',
 'people_Households with a computer and with Internet access_scores.csv',
 'people_Human Capital Index (HCI)_scores.csv',
 'people_Internet Usage_scores.csv',
 'people_Level of satisfaction for online public services (% of users, by type of interaction and service)_scores.csv',
 'people_Mobile Broadband Pricing (pre-paid)_scores.csv',
 'people_Mobile Device Penetration (female)_scores.csv',
 'people_Mobile Device Penetration_scores.csv',
 'people_Number of mobile apps available in national language(s)_scores.csv',
 'people_Percentage of individuals not buying online due to concerns about returning products_scores.csv',
 'people_Percentage of individuals not buying online due to payment security concerns_scores.csv',
 'people_SDG 4.4 Digital literacy data_scores.csv',
 'people_Share of individuals using the Internet to interact with public authorities_scores.csv',
 'people_Tax as % of total cost of mobile ownership_scores.csv',
 'people_time_spent_online_scores.csv',
 'people_UNDP Human Development Index (HDI) _scores.csv']

In [270]:
# create a dataframe that concatenates all these file into one table
df = pd.concat([pd.read_csv('../indicator_scores/{}'.format(s)) for s in scores])

In [271]:
df.to_csv('../pillar_scores/people_scores_beta.csv')

In [272]:
# Data cleaning
df['new_rank_score'] = df['new_rank_score'].fillna(0)
df.sort_values(by=['Country Name'], ascending=True, inplace=True)
df.reset_index(drop=True, inplace=True)
df['Country Name'] = df['Country Name'].astype(str, errors = 'ignore')

# remove trailing whitespaces from country name
df['Country Name'] = df['Country Name'].str.strip()
df['Country Name'] = df['Country Name'].str.strip('**')
df['Country Name'] = df['Country Name'].str.strip('*')
df['Country Name'] = df['Country Name'].str.strip(' *')

# Replace values that are not truly country names with nan
df['Country Name'] = df['Country Name'].replace('nan',np.nan)

df['Country Name'] = df['Country Name'].replace('Vietnam','Viet Nam')
df['Country Name'] = df['Country Name'].replace('United States of America','United States')



# Dropping the columns having NaN/NaT values
df = df[df['Country Name'].notna()]

In [273]:
sorted(df['Country Name'].unique().tolist())

['AE',
 'AG',
 'AL',
 'AM',
 'AO',
 'AR',
 'AT',
 'AU',
 'AW',
 'AZ',
 'Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Anguilla',
 'Antigua and Barbuda',
 'Arab world',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'BA',
 'BB',
 'BD',
 'BE',
 'BF',
 'BG',
 'BH',
 'BI',
 'BJ',
 'BN',
 'BO',
 'BR',
 'BS',
 'BT',
 'BW',
 'BY',
 'BZ',
 'Bahamas',
 'Bahamas, The',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bolivia (Plurinational State of)',
 'Bolivia, Plurinational State of',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'CA',
 'CD',
 'CF',
 'CG',
 'CH',
 'CI',
 'CL',
 'CM',
 'CO',
 'CR',
 'CV',
 'CW',
 'CY',
 'CZ',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Cayman Islands',
 'Central African Rep.',
 'Central African Republic',
 'Chad',
 'Channel Islands',
 'Chile',
 'China',
 'China, Hong Kong Special Administrative Region',
 'China, Macao Special Administrative Region',
 'Colombia',
 'Comoros',
 'Congo',
 'Congo (Brazzaville)',
 'Congo (Democratic Republic of the)',
 'Congo (Rep. of the)',
 'Congo, Dem. Rep.',
 'Congo, Democratic Republic',
 'Congo, Rep.',
 'Congo, The Democratic Republic of the',
 'Cook Islands',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Curacao',
 'Cyprus',
 'Czech Republic',
 'Czechia',
 "Côte d'Ivoire",
 'Côte d’Ivoire',
 'DE',
 'DJ',
 'DK',
 'DO',
 'DR Congo',
 'DZ',
 "Dem. People's Rep. of Korea",
 'Dem. Rep. of the Congo',
 "Democratic People's Republic of Korea",
 'Democratic Republic of the Congo',
 'Denmark',
 'Developing',
 'Djibouti',
 'Dominica',
 'Dominican Rep.',
 'Dominican Republic',
 'EC',
 'EE',
 'EG',
 'ES',
 'ET',
 'East Asia & Pacific',
 'East Asia & Pacific (excluding high income)',
 'Ecuador',
 'Egypt',
 'Egypt, Arab Rep.',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Eswatini (Kingdom of)',
 'Ethiopia',
 'Euro area',
 'Europe & Central Asia',
 'Europe & Central Asia (excluding high income)',
 'European Union (28 countries)',
 'FI',
 'FJ',
 'FR',
 'Faeroe Islands',
 'Falkland Islands',
 'Faroe Islands',
 'Fiji',
 'Finland',
 'France',
 'French Guiana',
 'French Polynesia',
 'GA',
 'GB',
 'GD',
 'GE',
 'GF',
 'GH',
 'GM',
 'GN',
 'GP',
 'GQ',
 'GR',
 'GT',
 'GU',
 'GW',
 'GY',
 'Gabon',
 'Gambia',
 'Gambia, The',
 'Georgia',
 'Georgia (Country)',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Great Britain',
 'Greece',
 'Greenland',
 'Grenada',
 'Guadeloupe',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'HK',
 'HN',
 'HR',
 'HT',
 'HU',
 'Haiti',
 'High income',
 'High income: OECD',
 'Honduras',
 'Hong Kong',
 'Hong Kong (China)',
 'Hong Kong S.A.R. of China',
 'Hong Kong SAR, China',
 'Hong Kong, China',
 'Hong Kong, China (SAR)',
 'Hungary',
 'ID',
 'IE',
 'IM',
 'IN',
 'IS',
 'IT',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iran (Islamic Republic of)',
 'Iran, Islamic Rep.',
 'Iran, Islamic Republic of',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Ivory Coast',
 'JE',
 'JM',
 'JO',
 'JP',
 'Jamaica',
 'Japan',
 'Jordan',
 'KE',
 'KG',
 'KH',
 'KI',
 'KM',
 'KR',
 'KW',
 'KY',
 'KZ',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Korea (Rep. of)',
 'Korea (Republic of)',
 'Korea, Rep.',
 'Korea, Republic of',
 'Korea, South',
 'Kosovo',
 'Kuwait',
 'Kyrgyz Republic',
 'Kyrgyzstan',
 'LA',
 'LB',
 'LC',
 'LK',
 'LR',
 'LS',
 'LT',
 'LU',
 'LV',
 'LY',
 'Lao P.D.R.',
 'Lao PDR',
 "Lao People's Democratic Republic",
 'Laos',
 'Latin America & Caribbean',
 'Latin America & Caribbean (excluding high income)',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Low income',
 'Lower middle income',
 'Luxembourg',
 'MA',
 'MD',
 'ME',
 'MG',
 'MK',
 'ML',
 'MM',
 'MN',
 'MO',
 'MQ',
 'MR',
 'MT',
 'MU',
 'MV',
 'MW',
 'MX',
 'MY',
 'MZ',
 'Macao',
 'Macao SAR, China',
 'Macao, China',
 'Macau',
 'Macedonia, FYR',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Martinique',
 'Mauritania',
 'Mauritius',
 'Mayotte',
 'Mexico',
 'Micronesia',
 'Micronesia (Federated States of)',
 'Micronesia, Fed. Sts.',
 'Middle East & North Africa',
 'Middle East & North Africa (excluding high income)',
 'Middle income',
 'Moldova',
 'Moldova (Republic of)',
 'Moldova, Republic of',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Morroco',
 'Mozambique',
 'Myanmar',
 'NC',
 'NE',
 'NG',
 'NI',
 'NL',
 'NO',
 'NP',
 'NZ',
 'Namibia',
 'Nauru',
 'Nepal',
 'Nepal (Republic of)',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'New Zeland',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Niue',
 'North America',
 'North Cyprus',
 'North Korea',
 'North Macedonia',
 'Northern Mariana Islands',
 'Norway',
 'OM',
 'Oman',
 'PA',
 'PE',
 'PF',
 'PG',
 'PH',
 'PK',
 'PL',
 'PR',
 'PS',
 'PT',
 'PY',
 'Pakistan',
 'Palau',
 'Palestine',
 'Palestine, State of',
 'Palestinian Territories',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'QA',
 'Qatar',
 'RE',
 'RO',
 'RS',
 'RW',
 'Republic of Korea',
 'Republic of Moldova',
 'Republic of the Congo',
 'Reunion',
 'Romania',
 'Russia',
 'Russian Federation',
 'Rwanda',
 'SA',
 'SB',
 'SC',
 'SE',
 'SG',
 'SI',
 'SK',
 'SL',
 'SN',
 'SR',
 'ST',
 'SV',
 'SZ',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Martin',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten',
 'Sint Maarten (Dutch part)',
 'Slovak Republic',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Asia',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'St. Kitts and Nevis',
 'St. Lucia',
 'St. Martin (French part)',
 'St. Vincent and the Grenadines',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa (excluding high income)',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syria',
 'Syrian Arab Republic',
 'São Tomé and Príncipe',
 'TD',
 'TG',
 'TH',
 'TJ',
 'TL',
 'TN',
 'TO',
 'TR',
 'TT',
 'TW',
 'TZ',
 'Taiwan',
 'Taiwan Province of China',
 'Taiwan, China',
 'Taiwan, province of China',
 'Tajikistan',
 'Tanzania',
 'Tanzania (United Republic of)',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tokelau',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'U.A.E',
 'UA',
 'UAE',
 'UG',
 'UK',
 'US',
 'UY',
 'UZ',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United Kingdom of Great Britain and Northern Ireland',
 'United Republic of Tanzania',
 'United States',
 'United States Virgin Islands',
 'Upper middle income',
 'Uruguay',
 'Uzbekistan',
 'VC',
 'VN',
 'VU',
 'Vanuatu',
 'Vatican',
 'Vatican City',
 'Venezuela',
 'Venezuela (Bolivarian Republic of)',
 'Venezuela, RB',
 'Viet Nam',
 'Virgin Islands (U.S.)',
 'Virgin Islands, U.S.',
 'WS',
 'Wallis and Futuna',
 'West Bank and Gaza',
 'Western Sahara',
 'World',
 'Worldwide',
 'XK',
 'YT',
 'Yemen',
 'Yemen, Rep.',
 'ZA',
 'ZM',
 'ZW',
 'Zambia',
 'Zimbabwe']

In [274]:
# average indicator scores per country
agg_df = df.groupby(['Country Name']).agg({'new_rank_score':'mean','data_col':'count'})

In [275]:
agg_df.columns = ['agg_score', 'count_source' ]

In [276]:
max_number_sources = agg_df.describe()['count_source']['max']

In [277]:
agg_df['agg_score_wt'] = agg_df['agg_score']*(agg_df['count_source']/max_number_sources)

In [278]:
agg_df.sort_values(by='agg_score', ascending=False, inplace=True)

In [279]:
agg_df.head(25)

                               agg_score  count_source  agg_score_wt
Country Name
Hong Kong, China (SAR)          5.920213             1      0.001833
Korea (Rep. of)                 5.782565             9      0.016117
Hong Kong, China                5.654080             9      0.015759
North America                   5.522665             2      0.003421
Brunei                          5.509863             1      0.001706
Korea (Republic of)             5.414894             1      0.001677
Georgia (Country)               5.358500             1      0.001659
High income: OECD               5.322865             2      0.003297
Euro area                       5.294456             2      0.003279
High income                     5.238574             2      0.003245
Falkland Islands                4.860331             1      0.001505
Taiwan Province of China        4.817447             1      0.001492
Macao, China                    4.761020             8      0.011796
Taiwan                          4.716661             3      0.004382
Republic of Moldova             4.716000             1      0.001461
Czech Republic                  4.711179            21      0.030639
Taiwan, China                   4.613574             2      0.002858
Sint Maarten                    4.590855             1      0.001422
Korea, South                    4.582328             4      0.005676
UK                              4.563218             1      0.001413
Korea, Rep.                     4.514961             5      0.006991
Europe & Central Asia           4.455295             2      0.002760
Slovenia                        4.442352            31      0.042649
European Union (28 countries)   4.436933             2      0.002748
Uruguay                         4.425418            23      0.031522

In [280]:
agg_df.to_csv('../pillar_scores/people_scores_v0.csv')

In [281]:
### Score Aggregating by Subpillars

In [282]:
df.insert(0,'Pillar','People')
df

,Pillar,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar,Unnamed: 0
0,People,AE,2021.0,Facebook Social Connectedness Index,9567.0000,1.000048,True,Culture,NaN
1,People,AE,2021.0,Facebook Social Connectedness Index,17551.0000,1.000088,True,Culture,NaN
2,People,AE,2021.0,Facebook Social Connectedness Index,3769.0000,1.000019,True,Culture,NaN
3,People,AE,2021.0,Facebook Social Connectedness Index,28120.0000,1.000141,True,Culture,NaN
4,People,AE,2021.0,Facebook Social Connectedness Index,13213.0000,1.000066,True,Culture,NaN
...,...,...,...,...,...,...,...,...,...
598834,People,Zimbabwe,2019.0,Households with a computer and with Internet a...,NaN,0.000000,True,Usage and ownership,NaN
598835,People,Zimbabwe,2017.0,E-commerce activity (% of individuals buying o...,3.7900,1.241211,True,Usage and ownership,NaN
598836,People,Zimbabwe,2019.0,Tax as % of total cost of mobile ownership,24.0000,4.800000,False,Usage and ownership,NaN
598837,People,Zimbabwe,2019.0,Gross National Wellbeing,2.6900,1.000000,True,Digital Wellbeing,NaN
598838,People,Zimbabwe,2020.0,Human Capital Index (HCI),0.6135,4.067500,True,Digital Literacy Skills,NaN

In [283]:
sub_df = df.groupby(['Pillar','Sub-Pillar','Country Name']).agg({'new_rank_score':'mean','data_col':'count'})

In [284]:
sub_df.columns = ['agg_score', 'count_source' ]

In [285]:
max_number_sources = sub_df.describe()['count_source']['max']

In [286]:
sub_df['agg_score_wt'] = sub_df['agg_score']*(sub_df['count_source']/max_number_sources)

In [287]:
sub_df.to_csv('../subpillar_score/people_scores_subpillar_v0.csv')

In [288]:
#Test Uzbekistan

In [289]:
# get list of files in scores folder
scores = os.listdir('../subpillar_score/')
scores

df = pd.concat([pd.read_csv('../subpillar_score/{}'.format(s)) for s in scores])    

df

,Pillar,Sub-Pillar,Country Name,agg_score,count_source,agg_score_wt
0,Business,Financing Incentives,Albania,3.142857,1,0.392857
1,Business,Financing Incentives,Algeria,4.285714,1,0.535714
2,Business,Financing Incentives,Angola,1.000000,1,0.125000
3,Business,Financing Incentives,Argentina,1.821429,1,0.227679
4,Business,Financing Incentives,Armenia,4.035714,1,0.504464
...,...,...,...,...,...,...
200,Strategy,Ambition,St. Lucia,NaN,0,NaN
201,Strategy,Ambition,St. Vincent and the Grenadines,NaN,0,NaN
202,Strategy,Ambition,Timor-Leste,NaN,0,NaN
203,Strategy,Ambition,Tonga,NaN,0,NaN
204,Strategy,Ambition,Tuvalu,NaN,0,NaN

In [290]:
uzb = df[(df['Country Name'] == 'Uzbekistan')]
uzb
uzb.to_csv('../country_scores/Uzbekistan.csv')