In [1]:
import pandas as pd
import numpy as np

### Get all the pillar names from the excel

In [2]:
names = pd.read_excel('../../UNDP Digital Assessment Data Framework Filename Matching V7.xlsx')

In [3]:
col_names = ['Indicator','check', 'Data Source','Index','Filename']

In [4]:
names = names[col_names]

In [5]:
names.head()

,Indicator,check,Data Source,Index,Filename
0,Countries,NaN,United Nations,False,Countries
1,"Database of Global Administrative Areas (GADM,...",NaN,GADM maps and data,False,NaN
2,High Resolution Population Density Maps + Demo...,NaN,Facebook,False,NaN
3,population density vs openstreetmap object den...,NaN,Kontur,False,NaN
4,Population Density,Infrastructure,World Bank,False,population_density

In [6]:
# get all the files per pillar
data_stats = names.groupby('check').agg({'Filename':'count','Indicator':'count'})

In [7]:
data_stats

                Filename  Indicator
check
Business              20         25
Foundations            9         12
Government            10         15
Infrastructure        39         48
People                39         47
Regulation             6          7
Strategy               1          1

### Business

In [8]:
bnames = names[(names.check=='Business')&(~names.Filename.isna())]#&(names.Index==False)]

In [9]:
bnames.head(25)

,Indicator,check,Data Source,Index,Filename
75,UNCTAD Business-to-Consumer (B2C) E-commerce I...,Business,UNCTAD/World Bank,True,b2c_ecommerse_idx
76,"Networking Services (Spend, IT Forecast Data)",Business,Portulans Institute,TRUE,network_readiness_index
77,ICT goods exports,Business,UNCTAD,False,ict_goods
78,ICT goods imports,Business,UNCTAD,False,ict_goods
79,ICT service exports,Business,UNCTAD,False,ict_services
80,ICT service imports,Business,UNCTAD,False,ict_services
81,"Cloud Services (Spend, IT Forecast Data)",Business,Statista/Business Software Alliance,TRUE,cloud_services
82,ICT task-intensive jobs as a percentage of tot...,Business,OECD,False,ICT_proportion
85,Share of business with internet,Business,OECD,False,business_internet
86,Share of businesses with broadband,Business,World Bank,False,business_broadband
87,Share of businesses with online presence,Business,Portulans Institute,False,share_of_businesses_online_presence
88,Size of gig economy (% of GDP),Business,Portulans Institute,False,prevalance_gig_economy
89,Size of digital economy (% of transactions),Business,Portulans Institute,False,size_digital_economy
90,Venture Capital Availability,Business,World Bank,TRUE,venture_cap_avail
92,Strength of Legal Rights,Business,World Bank,TRUE,legal_rights_strength
93,Time to Start a Business,Business,World Bank,False,time_start_bus
94,Ease of Doing Business,Business,World Bank,TRUE,ease_doing_bus
97,Ease of finding skilled employees,Business,World Bank,TRUE,ease_of_finding_skilled_employees
98,Amount invested into startups yearly from priv...,Business,OECD,False,start_up_investment
111,Doing Business Index,Business,World Bank,True,doing_bus_idx

In [10]:
# get list of names for all indicators
indicators = bnames.Indicator.unique()

In [11]:
# get all file names
bfiles = bnames.Filename.unique()

In [12]:
bfiles

array(['b2c_ecommerse_idx', 'network_readiness_index', 'ict_goods',
       'ict_services', 'cloud_services', 'ICT_proportion',
       'business_internet', 'business_broadband',
       'share_of_businesses_online_presence', 'prevalance_gig_economy',
       'size_digital_economy', 'venture_cap_avail',
       'legal_rights_strength', 'time_start_bus', 'ease_doing_bus',
       'ease_of_finding_skilled_employees', 'start_up_investment',
       'doing_bus_idx'], dtype=object)

In [13]:
# ls digital-readiness-assessment-main/processed/

In [14]:
##ict_goods and services not in process data

In [15]:
# formula for converting scale
def convert_rank(old_value, old_min=1, old_max=7, new_min=1, new_max=6 ):
    """ Convert old scale values scale into new scale values"""
    old_range = old_max - old_min
    new_range = new_max - new_min
    new_value = (((old_value-old_min)*new_range)/old_range)+new_min
    return new_value

### 1. 'UNCTAD Business-to-Consumer (B2C) E-commerce Index'

In [16]:
indicators[0]

'UNCTAD Business-to-Consumer (B2C) E-commerce Index'

In [17]:
# load data
indicator = indicators[0]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

UNCTAD Business-to-Consumer (B2C) E-commerce Index
b2c_ecommerse_idx

In [18]:
df.Indicator.unique()

array(['Country rank and value in the UNCTAD B2C E-commerce Index'],
      dtype=object)

In [19]:
df.head()

,2015,2016,2017,Country ISO3,Country Name,Indicator Id,Indicator,Subindicator Type
0,14.1,17.0,NaN,AFG,Afghanistan,24717,Country rank and value in the UNCTAD B2C E-com...,Value
1,NaN,130.0,132.0,AFG,Afghanistan,24718,Country rank and value in the UNCTAD B2C E-com...,Rank
2,21.1,29.0,NaN,AGO,Angola,24717,Country rank and value in the UNCTAD B2C E-com...,Value
3,NaN,113.0,113.0,AGO,Angola,24718,Country rank and value in the UNCTAD B2C E-com...,Rank
4,51.0,62.0,NaN,ALB,Albania,24717,Country rank and value in the UNCTAD B2C E-com...,Value

In [20]:
# two sub indicators per country
df['Subindicator Type'].unique()

array(['Value', 'Rank'], dtype=object)

In [21]:
# list of columns with data
value_cols = ['2015','2016','2017']

In [22]:
# value doesn't have data for 2017
df[df['Subindicator Type']=='Value'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 147 entries, 0 to 292
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   2015               137 non-null    float64
 1   2016               136 non-null    float64
 2   2017               0 non-null      float64
 3   Country ISO3       147 non-null    object
 4   Country Name       147 non-null    object
 5   Indicator Id       147 non-null    int64
 6   Indicator          147 non-null    object
 7   Subindicator Type  147 non-null    object
dtypes: float64(3), int64(1), object(4)
memory usage: 10.3+ KB

In [23]:
df[df['Subindicator Type']=='Value'].describe()

             2015        2016  2017  Indicator Id
count  137.000000  136.000000   0.0         147.0
mean    47.151095   53.713382   NaN       24717.0
std     22.978008   26.604495   NaN           0.0
min      6.500000    3.000000   NaN       24717.0
25%     28.700000   32.000000   NaN       24717.0
50%     47.200000   53.000000   NaN       24717.0
75%     65.200000   78.250000   NaN       24717.0
max     89.700000   96.500000   NaN       24717.0

In [24]:
# Rank does have 2017 data
df[df['Subindicator Type']=='Rank'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 147 entries, 1 to 293
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   2015               0 non-null      float64
 1   2016               137 non-null    float64
 2   2017               136 non-null    float64
 3   Country ISO3       147 non-null    object
 4   Country Name       147 non-null    object
 5   Indicator Id       147 non-null    int64
 6   Indicator          147 non-null    object
 7   Subindicator Type  147 non-null    object
dtypes: float64(3), int64(1), object(4)
memory usage: 10.3+ KB

In [25]:
df[df['Subindicator Type']=='Rank'].describe()

       2015        2016        2017  Indicator Id
count   0.0  137.000000  136.000000         147.0
mean    NaN   69.000000   73.066176       24718.0
std     NaN   39.692569   41.872682           0.0
min     NaN    1.000000    1.000000       24718.0
25%     NaN   35.000000   36.750000       24718.0
50%     NaN   69.000000   72.500000       24718.0
75%     NaN  103.000000  110.250000       24718.0
max     NaN  137.000000  144.000000       24718.0

Going to use the rank column for now since it has more recent data

In [26]:
df_rank = df[df['Subindicator Type']=='Rank'].copy()

In [27]:
# convert rank into 1-6 - in order to get most recent data 
df_rank['data_col'] = df_rank['2017'] 

min_rank = df_rank['data_col'].min()
max_rank = df_rank['data_col'].max()

# transform 1-147 rank into 1-6
df_rank['new_rank_score'] = df_rank['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

# need to invert score since higher rank is not better 
df_rank['new_rank_score'] = (6-df_rank['new_rank_score'])+1

In [28]:
# prep output

df_rank.rename(columns={'Country ISO3':'Country Code'}, inplace=True)

df_rank['higher_is_better'] = True


# output scores to csv
df_rank[['Country Code', 'Country Name','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/{}_scores.csv'.format(bf), index=False)

In [29]:
df_rank[['Country Code', 'Country Name','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

,Country Code,Country Name,Indicator,data_col,new_rank_score,higher_is_better
1,AFG,Afghanistan,Country rank and value in the UNCTAD B2C E-com...,132.0,1.419580,True
3,AGO,Angola,Country rank and value in the UNCTAD B2C E-com...,113.0,2.083916,True
5,ALB,Albania,Country rank and value in the UNCTAD B2C E-com...,59.0,3.972028,True
7,ARE,United Arab Emirates,Country rank and value in the UNCTAD B2C E-com...,23.0,5.230769,True
9,ARG,Argentina,Country rank and value in the UNCTAD B2C E-com...,81.0,3.202797,True
11,ARM,Armenia,Country rank and value in the UNCTAD B2C E-com...,78.0,3.307692,True
13,AUS,Australia,Country rank and value in the UNCTAD B2C E-com...,14.0,5.545455,True
15,AUT,Austria,Country rank and value in the UNCTAD B2C E-com...,17.0,5.440559,True
17,AZE,Azerbaijan,Country rank and value in the UNCTAD B2C E-com...,68.0,3.657343,True
19,BDI,Burundi,Country rank and value in the UNCTAD B2C E-com...,140.0,1.139860,True
21,BEL,Belgium,Country rank and value in the UNCTAD B2C E-com...,22.0,5.265734,True
23,BEN,Benin,Country rank and value in the UNCTAD B2C E-com...,138.0,1.209790,True
25,BFA,Burkina Faso,Country rank and value in the UNCTAD B2C E-com...,128.0,1.559441,True
27,BGD,Bangladesh,Country rank and value in the UNCTAD B2C E-com...,103.0,2.433566,True
29,BGR,Bulgaria,Country rank and value in the UNCTAD B2C E-com...,50.0,4.286713,True

## 2. Networking Services (Spend, IT Forecast Data)

In [30]:
indicator = indicators[1]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Networking Services (Spend, IT Forecast Data)
network_readiness_index

In [31]:
# no DATE associated wiht the data

In [32]:
df.head(16)

    Rank          Country  Score  Income Group           Region
0      1          Sweden   82.75  High-income           Europe
1      2         Denmark   82.19  High-income           Europe
2      3       Singapore   81.39  High-income   Asia & Pacific
3      4     Netherlands   81.37  High-income           Europe
4      5     Switzerland   80.41  High-income           Europe
5      6         Finland   80.16  High-income           Europe
6      7          Norway   79.39  High-income           Europe
7      8   United States   78.91  High-income     The Americas
8      9         Germany   77.48  High-income           Europe
9     10  United Kingdom   76.27  High-income            Europe
10    11      Luxembourg   75.27  High-income           Europe
11    12       Australia   75.09  High-income   Asia & Pacific
12    13          Canada   74.92  High-income     The Americas
13    14     Korea, Rep.   74.60  High-income   Asia & Pacific
14    15           Japan   73.54  High-income   Asia & Pacific
15    16     New Zealand   73.27  High-income   Asia & Pacific

In [33]:
# going to use the  score column since this is already an Index

In [34]:
# convert rank into 1-6 - in order to get most recent data 
df['data_col'] = df['Score'] 

# going to assume index is between 1-100 but not 100% sure
min_rank = 1 #df['data_col'].min()
max_rank = 100 #df['data_col'].max()

# transform 1-100 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

# need to invert score since higher rank is not better 
# df['new_rank_score'] = (6-df['new_rank_score'])+1

In [35]:
# prepare output
df.rename(columns={'Country':'Country Name'}, inplace=True)
df['Indicator'] = indicator
df['higher_is_better'] = True

df[['Country Name','Indicator','data_col','new_rank_score','higher_is_better']].head(15)


# output scores to csv
df[['Country Name','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/{}_scores.csv'.format(bf), index=False)

## 3. ICT Services Imports

In [36]:
indicator = indicators[2]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

ICT goods exports
ict_goods

The *ICT goods* file is actually *ICT services* data. Label is incorrect.

In [37]:
df.head()

,Year,Economy,Economy Label,Partner,Partner Label,Flow,Flow Label,IctProductCategory,IctProductCategory Label,Percentage of total merchandise trade,Percentage of total merchandise trade Footnote
0,2000,0,World,0,World,1,Imports,ICT00,Total ICT goods,16.05745,NaN
1,2000,0,World,0,World,2,Exports,ICT00,Total ICT goods,16.02220,NaN
2,2000,0,World,0,World,3,Re-exports,ICT00,Total ICT goods,29.61627,NaN
3,2000,0,World,0,World,24,Re-imports,ICT00,Total ICT goods,31.78913,NaN
4,2000,8,Albania,0,World,1,Imports,ICT00,Total ICT goods,3.33276,NaN

In [38]:
dcol = 'Percentage of total merchandise trade'
indicol = 'IctProductCategory Label'
cname = 'Economy Label'

# filter most recent year and imports
df = df[(df.Year==2019)&(df['Flow Label']=='Imports')]

# create the standard columns
df['higher_is_better'] = True
df['Indicator'] =  df[indicol]+' '+ df['Flow Label']
df['Country Name'] = df[cname]
# df['2019 [YR2019]'] = df['2019 [YR2019]'].astype(float)
df['data_col'] = df[dcol]


# convert 1-100 %  into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=0,old_max=100))

df.sort_values(by='new_rank_score', ascending=False)

# prepare output
df = df[['Country Name', 'Indicator', 'data_col', 'new_rank_score','higher_is_better']]

# output scores
df.to_csv('../indicator_scores/{}_scores.csv'.format(bf+'_imports'), index=False)

In [39]:
df.head(15)

,Country Name,Indicator,data_col,new_rank_score,higher_is_better
21134,World,Total ICT goods Imports,13.36253,1.668127,True
21138,Antigua and Barbuda,Total ICT goods Imports,3.57755,1.178878,True
21141,Azerbaijan,Total ICT goods Imports,3.94651,1.197326,True
21143,Argentina,Total ICT goods Imports,8.09647,1.404824,True
21146,Australia,Total ICT goods Imports,10.35458,1.517729,True
21149,Austria,Total ICT goods Imports,5.23378,1.261689,True
21151,Armenia,Total ICT goods Imports,5.21115,1.260557,True
21155,Barbados,Total ICT goods Imports,3.08026,1.154013,True
21157,Belgium,Total ICT goods Imports,3.36165,1.168083,True
21159,Bermuda,Total ICT goods Imports,2.02207,1.101104,True
21161,Bosnia and Herzegovina,Total ICT goods Imports,2.82787,1.141393,True
21163,Botswana,Total ICT goods Imports,2.92941,1.146470,True
21166,Brazil,Total ICT goods Imports,9.02468,1.451234,True
21169,Belize,Total ICT goods Imports,3.13291,1.156645,True
21172,Brunei Darussalam,Total ICT goods Imports,2.09483,1.104742,True

## 4. ICT Services Exports

In [40]:
indicator = indicators[3]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

ICT goods imports
ict_goods

The *ICT goods* file is actually *ICT services* data. Label is incorrect.

In [41]:
dcol = 'Percentage of total trade in services'
indicol = 'Category Label'
cname = 'Economy Label'

# filter most recent year
df = df[(df.Year==2019)&(df['Flow Label']=='Exports')]

# create standard columns
df['higher_is_better'] = True
df['Indicator'] =  df[indicol]+' '+ df['Flow Label']
df['Country Name'] = df[cname]
# df['2019 [YR2019]'] = df['2019 [YR2019]'].astype(float)
df['data_col'] = df[dcol]


# convert 1-100 %  into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=0,old_max=100))

df.sort_values(by='new_rank_score', ascending=False)

# prepare output
df = df[['Country Name', 'Indicator', 'data_col', 'new_rank_score','higher_is_better']]

# output scores
df.to_csv('../indicator_scores/{}_scores.csv'.format(bf+'_exports'), index=False)

KeyError: 'Category Label'

## 5. ICT Goods Exports

In [ ]:
indicator = indicators[4]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df[(df.Year==2019)&(df['Flow Label']=='Exports')].sort_values(by=dcol, ascending=False)

In [ ]:
dcol = 'Percentage of total merchandise trade'
indicol = 'IctProductCategory Label'
cname = 'Economy Label'

# filter most recent year and exports
df = df[(df.Year==2019)&(df['Flow Label']=='Exports')]

# create standard columns
df['higher_is_better'] = True
df['Indicator'] =  df[indicol]+' '+ df['Flow Label']
df['Country Name'] = df[cname]
# df['2019 [YR2019]'] = df['2019 [YR2019]'].astype(float)
df['data_col'] = df[dcol]


# convert 1-100 %  into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=0,old_max=100))

df.sort_values(by='new_rank_score', ascending=False)

# prepare output
df = df[['Country Name', 'Indicator', 'data_col', 'new_rank_score','higher_is_better']]

# output scores
df.to_csv('../indicator_scores/{}_scores.csv'.format(bf+'_exports'), index=False)

In [ ]:
df.head()

## 6. ICT Goods Imports

In [ ]:
indicator = indicators[5]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head()

In [ ]:
dcol = 'Percentage of total merchandise trade'
indicol = 'IctProductCategory Label'
cname = 'Economy Label'

# filter most recent year and exports
df = df[(df.Year==2019)&(df['Flow Label']=='Imports')]

# create standard columns
df['higher_is_better'] = True
df['Indicator'] =  df[indicol]+' '+ df['Flow Label']
df['Country Name'] = df[cname]
# df['2019 [YR2019]'] = df['2019 [YR2019]'].astype(float)
df['data_col'] = df[dcol]


# convert 1-100 %  into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=0,old_max=100))

df.sort_values(by='new_rank_score', ascending=False)

# prepare output
df = df[['Country Name', 'Indicator', 'data_col', 'new_rank_score','higher_is_better']]

# output scores
df.to_csv('../indicator_scores/{}_scores.csv'.format(bf+'_imports'), index=False)

Question: do we want to use imports or exports?

## 7. Cloud Services (Spend, IT Forecast Data)

In [ ]:
indicator = indicators[6]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
# remove nulls
df = df.dropna()

In [ ]:
# prepare standard columns
df['data_col'] = df['Unnamed: 1'].astype(float)
df['Indicator'] = indicator
df['higher_is_better'] = True

In [ ]:
# create country name column
df['Country Name'] = df['Cloud computing policy environment by category - country ranking 2018']

In [ ]:
min_rank = 1
max_rank = df['Country Name'].nunique()

In [ ]:
# transform 1-24 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

# need to invert score since higher rank is not better 
# df['new_rank_score'] = (6-df['new_rank_score'])+1

In [ ]:
# prepare output
df.sort_values(by='new_rank_score', ascending=False)

# prepare output
df = df[['Country Name', 'Indicator', 'data_col', 'new_rank_score','higher_is_better']]

# output scores
df.to_csv('../indicator_scores/{}_scores.csv'.format(bf), index=False)

## 8. ICT task-intensive jobs as a percentage of total employment

In [ ]:
indicator = indicators[7]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head()

In [ ]:
df[(df['Time']==2018)&(df['Information and communication technologies']=='ICT-intensive')].sort_values(by='Value', ascending=False)

In [ ]:
# bnames

In [ ]:
df['Information and communication technologies'].unique()

In [ ]:
df.Sex.unique()

In [ ]:
# convert to correct types
df['Value'] = df['Value'].astype(float)

In [ ]:
df['Value'].describe()

In [ ]:
# filter on relevant years
df = df[(df['Time']==2017)&(df['Information and communication technologies']=='ICT-intensive')]

# convert rank into 1-6 - in order to get most recent data 
df['data_col'] = df['Value'] 

# going to assume index is between 1-100 but not 100% sure
min_rank = 0 #df['data_col'].min()
max_rank = 100 #df['data_col'].max()

# transform 1-147 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

# need to invert score since higher rank is not better 
# df['new_rank_score'] = (6-df['new_rank_score'])+1

# df_rank[['Country ISO3', 'Country Name','Indicator','data_col','new_rank_score']].head()

df.rename(columns={'Country':'Country Name'}, inplace=True)
df['Indicator'] = indicator
df['higher_is_better'] = True

df[['Country Name','Indicator','data_col','new_rank_score','higher_is_better']].head(15)


# output scores to csv
df[['Country Name','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/{}_scores.csv'.format(bf), index=False)

## 9. Share of business with internet

In [ ]:
indicator = indicators[8]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

## 10. Share of businesses with broadband

In [ ]:
indicator = indicators[9]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

No data found

## 11. Share of businesses with online presence

In [ ]:
indicator = indicators[10]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df['Unnamed: 1'].unique()

 No data in the file

## 12. Share of businesses with online presence

In [ ]:
indicator = indicators[11]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.iloc[0,0]

In [ ]:
df.head()

### No country mapping

## 13. Size of digital economy (% of transactions)

In [ ]:
indicator = indicators[12]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df

No Country Data

## 14. Venture Capital Availability

In [ ]:
indicator = indicators[13]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.info()

#### What fields should we use?

In [ ]:
df.Indicator.unique()  
# relavent indicator is:        'Venture capital availability, 1-7 (best)', id 529

In [ ]:
df[df.Indicator=='Venture capital availability, 1-7 (best)']

# there are two indicator subtypes: Index and Rank
df[df.Indicator=='Venture capital availability, 1-7 (best)']['Subindicator Type'].unique()

In [ ]:
df['data_col'] = df['2019']#.apply(lambda row: convert_rank(row))

In [ ]:
# create two data frames for each subtype
df_rank = df[(df.Indicator=='Venture capital availability, 1-7 (best)')&(df['Subindicator Type']=='Rank')]
df_index = df[(df.Indicator=='Venture capital availability, 1-7 (best)')&(df['Subindicator Type']=='Index 1-7 (best)')]

In [ ]:
df_index.head()

In [ ]:
df_rank.head()

In [ ]:
# 152 countries in data
df_rank['Country Name'].nunique()

In [ ]:
# list of columns with data
value_cols = ['2007-2008', '2008-2009', '2009-2010',
       '2010-2011', '2011-2012', '2012-2013', '2013-2014', '2014-2015',
       '2015-2016', '2016-2017', '2017-2018', '2017', '2018', '2019']

In [ ]:
# quick snapshot of dataframes
df_rank[value_cols].describe()

In [ ]:
# index values have no 2019 data
df_index[value_cols].describe()

Two datasets, 1 rank (1-140ish per year), 1 index (1-7).  
Index is normally prefered but doesn't have data for 2019.  
Will use rank for this reason. Transformation should be the approx the same.

In [ ]:
df_rank.data_col.describe()

In [ ]:
# transform 1-141 rank into 1-6
min_rank = df_rank.data_col.min()
max_rank = df_rank.data_col.max()
df_rank['new_rank_score'] = df_rank['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
# need to invert score since higher rank is not better 
df_rank['new_rank_score'] = (6-df_rank['new_rank_score'])+1

###### Going to test how rank and index conversions compare.

Unlike index scores, Rank scores don't necessarily have equal weightings as you go up. E.g. the difference betwee ranks 15-16 is not the same as ranks 17-18. But for our conversion we will have to treat them as equal, so I am keen to see how this affects results compared to the index scores.  
To do this I construct a simple test example of an older data column 2007-2008

In [ ]:
df_rank['2007-2008'].describe()

In [ ]:
# convert rank into 1-6
df_rank['test0'] = df_rank['2007-2008'].apply(lambda row: convert_rank(row, 1, 130))
df_rank['test0'] = (6-df_rank['test0'])+1

In [ ]:
df_index['test0'] = df_index['2007-2008'].apply(lambda row: convert_rank(row, 1, 7))

In [ ]:
new_df = df_index[['test0','Country Name']].merge(df_rank[['test0','Country Name']], suffixes=['index','rank'],on='Country Name')

In [ ]:
new_df.corr()

The two are correlated enough to not dramatically impact results. But could be worth revising in the future when there is more recent index data.

#### Prepare Output

In [ ]:
df_rank[['Country ISO3', 'Country Name','Indicator','data_col','new_rank_score']].head()

df_rank.rename(columns={'Country ISO3':'Country Code'}, inplace=True)

df_rank['higher_is_better'] = True

df_rank[['Country Code', 'Country Name','Indicator','data_col','new_rank_score','higher_is_better']].head(15)

In [ ]:

# output scores to csv
df_rank[['Country Code', 'Country Name','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/{}_scores.csv'.format(bf), index=False)

### 15. Legal Rights Strength

In [ ]:
indicator = indicators[14]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.info()

#### Find Relevant Columns

In [ ]:
df['Series Name'].unique()

In [ ]:
# remove unwanted rows
df = df[~df['Series Code'].isna()]
df = df.replace('..', np.nan)

In [ ]:
df.loc[0][0]

In [ ]:
df.head()

In [ ]:
df.columns

In [ ]:
# clean data
df = df.replace('..', np.nan)

df[['1990 [YR1990]', '2000 [YR2000]', '2011 [YR2011]', '2012 [YR2012]',
       '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]', '2016 [YR2016]',
       '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]', '2020 [YR2020]']] = df[['1990 [YR1990]', '2000 [YR2000]', '2011 [YR2011]', '2012 [YR2012]',
       '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]', '2016 [YR2016]',
       '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]', '2020 [YR2020]']].astype(float)

In [ ]:
df.info()

In [ ]:
# keep only most recent value
df = df[['Series Name', 'Series Code', 'Country Name', 'Country Code','2019 [YR2019]']]

df['higher_is_better'] = True
df['Indicator'] = df['Series Name']
df['data_col'] = df['2019 [YR2019]']

#### Convert Scales

In [ ]:
# convert 0-12 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=0,old_max=12))

In [ ]:
df.head(16)

In [ ]:
df.columns

#### Prepare Output

In [ ]:
df = df[['Country Name', 'Country Code','Indicator', 'data_col', 'new_rank_score','higher_is_better']]
df.sort_values(by='new_rank_score', ascending=False).head(16)

In [ ]:
# output scores
df.to_csv('../indicator_scores/{}_scores.csv'.format(bf), index=False)

### 16. Time to start business

#### Load Data

In [ ]:
indicator = indicators[15]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
# remove unwanted rows
df = df[~df['Series Code'].isna()]
df = df.replace('..', np.nan)

In [ ]:
df[['1990 [YR1990]', '2000 [YR2000]', '2011 [YR2011]', '2012 [YR2012]',
       '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]', '2016 [YR2016]',
       '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]', '2020 [YR2020]']] = df[['1990 [YR1990]', '2000 [YR2000]', '2011 [YR2011]', '2012 [YR2012]',
       '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]', '2016 [YR2016]',
       '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]', '2020 [YR2020]']].astype(float)

In [ ]:
df.info()

In [ ]:
# keep only most recent value
df = df[['Series Name', 'Series Code', 'Country Name', 'Country Code','2019 [YR2019]']]

df['higher_is_better'] = True
df['Indicator'] = df['Series Name']
df['data_col'] = df['2019 [YR2019]']

In [ ]:
df.head()

In [ ]:
def map_days_to_scores(number):
    if number<=2:
        return 4
    if number <6 and number>2:
        return 3
    elif number >=6 and number <11:
        return 2
    elif number >=11:
        return 1

In [ ]:
# map days to scores 
df['data_col'] = df['data_col'].apply(map_days_to_scores)

In [ ]:
# convert 1-3 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=1,old_max=4))

In [ ]:
df.head()

In [ ]:
df[df['2019 [YR2019]']<3]

In [ ]:
df['2019 [YR2019]'].describe()

In [ ]:
df = df[['Country Name', 'Country Code','Indicator', 'data_col', 'new_rank_score','higher_is_better']]
df.sort_values(by='new_rank_score', ascending=False).head(16)

#### Prepare Output

In [ ]:
bf

In [ ]:
# output scores
df.to_csv('../indicator_scores/{}_scores.csv'.format(bf), index=False)

### 17. Ease doing business

#### Load Data

In [ ]:
indicator = indicators[16]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
# remove unwanted rows
df = df.replace('..', np.nan)
df = df[~df['Series Code'].isna()]

In [ ]:
df['Series Name'].unique()

In [ ]:
df.info()

In [ ]:
# keep only most recent value
df = df[['Series Name', 'Series Code', 'Country Name', 'Country Code','2019 [YR2019]']]

# df['higher_is_better'] = False
df['Indicator'] = df['Series Name']
df['2019 [YR2019]'] = df['2019 [YR2019]'].astype(float)
df['data_col'] = df['2019 [YR2019]']
# df['data_norm'] = df['data_norm'] = (df.data_col - df.data_col.mean())/df.data_col.std()

In [ ]:
rank_min = df.data_col.min()
rank_max = df.data_col.max()

In [ ]:
rank_min, rank_max

In [ ]:
# convert 1-190 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=rank_min,old_max=rank_max))

In [ ]:
# invert since to put as higher is  better
df['new_rank_score'] = df['new_rank_score'].apply(lambda row: (6-row)+1)

In [ ]:
df.sort_values(by='new_rank_score', ascending=False).head(16)

In [ ]:
df['higher_is_better'] = True

#### Prepare Output

In [ ]:
df = df[['Country Name', 'Country Code','Indicator', 'data_col', 'new_rank_score','higher_is_better']]

# output scores
df.to_csv('../indicator_scores/{}_scores.csv'.format(bf), index=False)

## 18. Ease of finding skilled employees

In [ ]:
indicator = indicators[17]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head()

In [ ]:
values = ['2017','2018','2019']

In [ ]:
df = df.replace('No data', np.nan)

In [ ]:
df[values] = df[values].astype(float)

In [ ]:
df.head()

In [ ]:
df[values].describe()

In [ ]:
# create standard columns
df['data_col'] = df['2019']
df['new_rank_score'] = df['data_col']
df['higher_is_better'] = True
df['Indicator'] = indicator


df.rename(columns={'Country':'Country Name'}, inplace=True)


df[['Country Name','Indicator','data_col','new_rank_score','higher_is_better']].head(15)


# output scores to csv
df[['Country Name','Indicator','data_col','new_rank_score','higher_is_better']].to_csv('../indicator_scores/{}_scores.csv'.format(bf), index=False)

## 19. Amount invested into startups yearly from private, public, blended sources (respectively)

In [ ]:
indicator = indicators[18]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

No data

## 20. Doing Business Index

In [ ]:
indicator = indicators[19]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
bnames

In [ ]:
df

### Score Aggregating

In [ ]:
import os

In [ ]:
# get list of files in scores folder
scores = os.listdir('../indicator_scores/')

In [ ]:
scores

In [ ]:
# create a dataframe that concatenates all these file into one table
df = pd.concat([pd.read_csv('../indicator_scores/{}'.format(s)) for s in scores])

In [ ]:
df

In [ ]:
# Data cleaning
df['new_rank_score'] = df['new_rank_score'].fillna(0)
df.sort_values(by=['Country Name'], ascending=True, inplace=True)
df.reset_index(drop=True, inplace=True)

In [ ]:
df.info()

In [ ]:
df

In [ ]:
df.head(15)

In [ ]:
df.describe()

In [ ]:
# checking country names
sorted(df['Country Name'].unique().tolist())

In [ ]:
# remove trailing whitespaces from country name
df['Country Name'] = df['Country Name'].str.strip()

In [ ]:
# checking country names
sorted(df['Country Name'].unique().tolist())

In [ ]:
# average indicator scores per country
agg_df = df.groupby(['Country Name']).agg({'new_rank_score':'mean','data_col':'count'})

In [ ]:
agg_df.columns = ['agg_score', 'count_source' ]

In [ ]:
max_number_sources = agg_df.describe()['count_source']['max']

In [ ]:
agg_df['agg_score_wt'] = agg_df['agg_score']*(agg_df['count_source']/max_number_sources)

In [ ]:
agg_df.sort_values(by='agg_score', ascending=False, inplace=True)

In [ ]:
agg_df.head(25)

In [ ]:
agg_df.to_csv('../pillar_scores/business_scores_v0.csv')