In [1]:
import pandas as pd
import numpy as np

### Get all the pillar names from the excel

In [2]:
names = pd.read_excel('../../UNDP Digital Assessment Data Framework Filename Matching V7.xlsx')

In [3]:
col_names = ['Indicator','check', 'Data Source','Data Link','Index','Filename','Sub-Pillar']

In [4]:
names = names[col_names]

In [5]:
names.head()

,Indicator,check,Data Source,Data Link,Index,Filename,Sub-Pillar
0,Countries,NaN,UN Statistics Division: List of Countries,https://unstats.un.org,False,Countries,NaN
1,"Database of Global Administrative Areas (GADM,...",NaN,NaN,https://gadm.org,False,NaN,NaN
2,High Resolution Population Density Maps + Demo...,NaN,NaN,NaN,False,NaN,NaN
3,population density vs openstreetmap object den...,NaN,NaN,NaN,False,NaN,NaN
4,Population Density,Infrastructure,World Bank: World Development Indicators,https://datacatalog.worldbank.org,False,population_density,Connectivity Technology

In [6]:
# get all the files per pillar
data_stats = names.groupby('check').agg({'Filename':'count','Indicator':'count'})

In [7]:
data_stats

                Filename  Indicator
check
Business              18         27
Foundations           13         22
Government            10         15
Infrastructure        47         58
People                35         49
Regulation             5          8
Strategy               1          1

### Government

In [8]:
bnames = names[(names.check=='Government')&(~names.Filename.isna())]#&(names.Index==False)]

In [9]:
bnames.head(25)

,Indicator,check,Data Source,Data Link,Index,Filename,Sub-Pillar
63,Online-Service-Index (OSI),Government,UN: E-Government Survey,https://publicadministration.un.org/egovkb,True,e_government_index,Digital Public Services
64,E-Participation index,Government,UN: E-Government Survey,https://publicadministration.un.org/egovkb,True,e_government_index,Digital Public Services
65,Use of public services online (% of services o...,Government,Boston Consulting Group/Salesforce: The Global...,https://www.salesforce.com,False,digital_public_service_use,Digital Public Services
66,Security incidents (# of relevant issues),Government,SPECOPS,https://specopssoft.com,False,cyber_attacks,Digital Public Services
67,What is the % change of government digitizing ...,Government,World Bank: GovTech Dataset,https://datacatalog.worldbank.org,TRUE,Egov_strategy,Digital Public Services
68,R&D spending (% of GDP),Government,World Bank: World Development Indicators,https://datacatalog.worldbank.org,False,RD_Percentage_GDP,Funding and procurement
69,ICT investment as a percentage of GDP,Government,OECD: Going Digital Toolkit,https://data.oecd.org,False,ICT_Investment,Funding and procurement
71,Evidence of digital strategies in/across Minis...,Government,World Bank: GovTech Dataset,https://datacatalog.worldbank.org,False,Egov_strategy,Funding and procurement
72,Evidence of focus on vulnerable groups,Government,World Bank: GovTech Dataset,https://datacatalog.worldbank.org,False,Egov_strategy,Leadership and coordination
75,% of digital skills certifications / training ...,Government,Coursera: Global Skills Reports,https://www.coursera.org/skills-reports/global,False,digital_skill_level,Capabilities

In [10]:
# get list of names for all indicators
indicators = bnames.Indicator.unique()
subpillars = bnames['Sub-Pillar'].unique()

In [11]:
# get all file names
bfiles = bnames.Filename.unique()

In [12]:
bfiles

array(['e_government_index', 'digital_public_service_use',
       'cyber_attacks', 'Egov_strategy', 'RD_Percentage_GDP',
       'ICT_Investment', 'digital_skill_level'], dtype=object)

In [13]:
subpillars

array(['Digital Public Services', 'Funding and procurement',
       'Leadership and coordination', 'Capabilities'], dtype=object)

In [14]:
# formula for converting scale 0-100
def convert_rank(old_value, old_min=0, old_max=100, new_min=1, new_max=6 ):
    """ Convert old scale values scale into new scale values"""
    old_range = old_max - old_min
    new_range = new_max - new_min
    new_value = (((old_value-old_min)*new_range)/old_range)+new_min
    return new_value

In [15]:
# formula for converting scale 0-1
def convert_rank_b(old_value, old_min=0, old_max=1, new_min=1, new_max=6 ):
    """ Convert old scale values scale into new scale values"""
    old_range = old_max - old_min
    new_range = new_max - new_min
    new_value = (((old_value-old_min)*new_range)/old_range)+new_min
    return new_value

### 1. Online-Service-Index (OSI)

In [16]:
indicators[0]

'Online-Service-Index (OSI)'

In [17]:
# load data
indicator = indicators[0]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Online-Service-Index (OSI)
e_government_index

In [18]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Digital Public Services

In [19]:
df.head()

,Survey Year,Country Name,E-Government Rank,E-Government Index,E-Participation Index,Online Service Index,Human Capital Index,Telecommunication Infrastructure Index
0,2020,Iraq,143,0.4360,0.3095,0.3353,0.4358,0.5370
1,2020,Ireland,27,0.8433,0.8571,0.7706,0.9494,0.8100
2,2020,Israel,30,0.8361,0.7143,0.7471,0.8924,0.8689
3,2020,Italy,37,0.8231,0.8214,0.8294,0.8466,0.7932
4,2020,Jamaica,114,0.5392,0.3690,0.3882,0.7142,0.5151

In [20]:
# all data from 2020
df['Survey Year'].value_counts()

2020    193
Name: Survey Year, dtype: int64

In [21]:
# score looks like the one to use
df.describe()

,Survey Year,E-Government Rank,E-Government Index,E-Participation Index,Online Service Index,Human Capital Index,Telecommunication Infrastructure Index
count,193.0,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000
mean,2020.0,97.000000,0.598767,0.567723,0.561961,0.687992,0.546354
std,0.0,55.858452,0.214869,0.259592,0.249874,0.194440,0.259358
min,2020.0,1.000000,0.087500,0.000000,0.000000,0.000000,0.000000
25%,2020.0,49.000000,0.432000,0.357100,0.352900,0.559900,0.349600
50%,2020.0,97.000000,0.612900,0.571400,0.576500,0.739500,0.566900
75%,2020.0,145.000000,0.779800,0.797600,0.764700,0.841400,0.772300
max,2020.0,193.000000,0.975800,1.000000,1.000000,1.000000,1.000000

In [22]:
# df.Indicator.unique()

In [23]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Online Service Index'] 
df['Year'] = df['Survey Year']
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank_b(row,old_min=min_rank,old_max=max_rank))

In [24]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,Iraq,2020,Online-Service-Index (OSI),0.3353,2.6765,True,Digital Public Services
1,Ireland,2020,Online-Service-Index (OSI),0.7706,4.8530,True,Digital Public Services
2,Israel,2020,Online-Service-Index (OSI),0.7471,4.7355,True,Digital Public Services
3,Italy,2020,Online-Service-Index (OSI),0.8294,5.1470,True,Digital Public Services
4,Jamaica,2020,Online-Service-Index (OSI),0.3882,2.9410,True,Digital Public Services
...,...,...,...,...,...,...,...
188,Senegal,2020,Online-Service-Index (OSI),0.4941,3.4705,True,Digital Public Services
189,Serbia,2020,Online-Service-Index (OSI),0.7941,4.9705,True,Digital Public Services
190,Seychelles,2020,Online-Service-Index (OSI),0.6176,4.0880,True,Digital Public Services
191,Singapore,2020,Online-Service-Index (OSI),0.9647,5.8235,True,Digital Public Services
192,Slovakia,2020,Online-Service-Index (OSI),0.7176,4.5880,True,Digital Public Services

In [25]:
# output scores
df.to_csv('../indicator_scores/government_{}_scores.csv'.format(indicator))

## 2. E-Participation index

In [26]:
indicator = indicators[1]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

E-Participation index
e_government_index

In [27]:
df.head()

,Survey Year,Country Name,E-Government Rank,E-Government Index,E-Participation Index,Online Service Index,Human Capital Index,Telecommunication Infrastructure Index
0,2020,Iraq,143,0.4360,0.3095,0.3353,0.4358,0.5370
1,2020,Ireland,27,0.8433,0.8571,0.7706,0.9494,0.8100
2,2020,Israel,30,0.8361,0.7143,0.7471,0.8924,0.8689
3,2020,Italy,37,0.8231,0.8214,0.8294,0.8466,0.7932
4,2020,Jamaica,114,0.5392,0.3690,0.3882,0.7142,0.5151

In [28]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Digital Public Services

In [29]:
df['Survey Year'].unique()

array([2020], dtype=int64)

In [30]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df.iloc[:,4]
df['Year'] = df['Survey Year']
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank_b(row,old_min=min_rank,old_max=max_rank))

In [31]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,Iraq,2020,E-Participation index,0.3095,2.5475,True,Digital Public Services
1,Ireland,2020,E-Participation index,0.8571,5.2855,True,Digital Public Services
2,Israel,2020,E-Participation index,0.7143,4.5715,True,Digital Public Services
3,Italy,2020,E-Participation index,0.8214,5.1070,True,Digital Public Services
4,Jamaica,2020,E-Participation index,0.3690,2.8450,True,Digital Public Services
...,...,...,...,...,...,...,...
188,Senegal,2020,E-Participation index,0.4405,3.2025,True,Digital Public Services
189,Serbia,2020,E-Participation index,0.8214,5.1070,True,Digital Public Services
190,Seychelles,2020,E-Participation index,0.5714,3.8570,True,Digital Public Services
191,Singapore,2020,E-Participation index,0.9762,5.8810,True,Digital Public Services
192,Slovakia,2020,E-Participation index,0.7024,4.5120,True,Digital Public Services

In [32]:
# output scores
df.to_csv('../indicator_scores/government_{}_scores.csv'.format(indicator))

## 3. Use of public services online (% of services online, penetration, frequency of use)

In [33]:
indicator = indicators[2]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Use of public services online (% of services online, penetration, frequency of use)
digital_public_service_use

In [34]:
# drop first row
df = df.iloc[1: , :]

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 1 to 35
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country Name           35 non-null     object
 1   User Satisfaction (%)  35 non-null     float64
dtypes: float64(1), object(1)
memory usage: 692.0+ bytes

In [36]:
df.head(15)

      Country Name  User Satisfaction (%)
1            India                   86.1
2     Saudi Arabia                   84.2
3            China                   81.8
4        Singapore                   80.9
5           France                   79.1
6            Chile                   78.3
7        Hong Kong                   76.6
8            Kenya                   76.1
9           Poland                   75.2
10       Australia                   74.5
11         Estonia                   74.3
12       Indonesia                   73.8
13           Qatar                   72.7
14  United Kingdom                   72.0
15     New Zealand                   71.9

In [37]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Digital Public Services

In [38]:
# create the standard columns
df['higher_is_better'] = True
df['Indicator'] =  indicator
# df['2019 [YR2019]'] = df['2019 [YR2019]'].astype(float)
df['data_col'] = df['User Satisfaction (%)']
df['Year'] = 2020
df['Sub-Pillar'] = subpillar

In [39]:
# convert 1-100 %  into 1-6
min_rank = df['data_col'].min()
max_rank = df['data_col'].max()
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row, old_min=0,old_max=100))

df.sort_values(by='new_rank_score', ascending=False)

# prepare output
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]

# output scores
df.to_csv('../indicator_scores/government_{}_scores.csv'.format(indicator), index=False)

In [40]:
df.head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
1,India,2020,Use of public services online (% of services o...,86.1,5.305,True,Digital Public Services
2,Saudi Arabia,2020,Use of public services online (% of services o...,84.2,5.210,True,Digital Public Services
3,China,2020,Use of public services online (% of services o...,81.8,5.090,True,Digital Public Services
4,Singapore,2020,Use of public services online (% of services o...,80.9,5.045,True,Digital Public Services
5,France,2020,Use of public services online (% of services o...,79.1,4.955,True,Digital Public Services
6,Chile,2020,Use of public services online (% of services o...,78.3,4.915,True,Digital Public Services
7,Hong Kong,2020,Use of public services online (% of services o...,76.6,4.830,True,Digital Public Services
8,Kenya,2020,Use of public services online (% of services o...,76.1,4.805,True,Digital Public Services
9,Poland,2020,Use of public services online (% of services o...,75.2,4.760,True,Digital Public Services
10,Australia,2020,Use of public services online (% of services o...,74.5,4.725,True,Digital Public Services
11,Estonia,2020,Use of public services online (% of services o...,74.3,4.715,True,Digital Public Services
12,Indonesia,2020,Use of public services online (% of services o...,73.8,4.690,True,Digital Public Services
13,Qatar,2020,Use of public services online (% of services o...,72.7,4.635,True,Digital Public Services
14,United Kingdom,2020,Use of public services online (% of services o...,72.0,4.600,True,Digital Public Services
15,New Zealand,2020,Use of public services online (% of services o...,71.9,4.595,True,Digital Public Services

## 4. Security incidents (# of relevant issues)

In [41]:
indicator = indicators[3]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Security incidents (# of relevant issues)
cyber_attacks

In [42]:
df.head()

          Country  Number of Significant Cyberattacks (2006-2020)
0   United States                                             156
1  United Kingdom                                              47
2           India                                              23
3         Germany                                              21
4     South Korea                                              18

In [43]:
# create a rank from the number of attacks fields
df['data_rank'] = df['Number of Significant Cyberattacks (2006-2020)'].rank(method='max')

In [44]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Digital Public Services

In [45]:
# create standard columns
df.rename(columns={'Country':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['data_rank']
df['Year'] = 2020
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 1-20 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

# need to invert since higher rank is not better
df['new_rank_score'] = (6-df['new_rank_score'])+1

# # prepare output
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]

df.head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,United States,2020,Security incidents (# of relevant issues),20.0,1.000000,True,Digital Public Services
1,United Kingdom,2020,Security incidents (# of relevant issues),19.0,1.263158,True,Digital Public Services
2,India,2020,Security incidents (# of relevant issues),18.0,1.526316,True,Digital Public Services
3,Germany,2020,Security incidents (# of relevant issues),17.0,1.789474,True,Digital Public Services
4,South Korea,2020,Security incidents (# of relevant issues),16.0,2.052632,True,Digital Public Services
5,Australia,2020,Security incidents (# of relevant issues),15.0,2.315789,True,Digital Public Services
6,Ukraine,2020,Security incidents (# of relevant issues),15.0,2.315789,True,Digital Public Services
7,China,2020,Security incidents (# of relevant issues),13.0,2.842105,True,Digital Public Services
8,Iran,2020,Security incidents (# of relevant issues),13.0,2.842105,True,Digital Public Services
9,Saudi Arabia,2020,Security incidents (# of relevant issues),13.0,2.842105,True,Digital Public Services
10,Japan,2020,Security incidents (# of relevant issues),10.0,3.631579,True,Digital Public Services
11,Canada,2020,Security incidents (# of relevant issues),9.0,3.894737,True,Digital Public Services
12,France,2020,Security incidents (# of relevant issues),8.0,4.157895,True,Digital Public Services
13,Israel,2020,Security incidents (# of relevant issues),8.0,4.157895,True,Digital Public Services
14,Pakistan,2020,Security incidents (# of relevant issues),6.0,4.684211,True,Digital Public Services

In [46]:
# # output scores
df.to_csv('../indicator_scores/government_{}_scores.csv'.format(indicator), index=False)

## 5. What is the % change of government digitizing public services?

In [47]:
indicator = indicators[4]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

What is the % change of government digitizing public services?
Egov_strategy

In [48]:
df.head()

,#,Flag,Code,Cnum,Economy,Level,Population,GNI,GNIPC,e-Government,...,NGTI-1,NGTI-2,NGTI-3,NGTI-4,GTI-1,GTI-2,GTI-3,GTI-4,data_country,data_year
0,1,NaN,AFG,4.0,Afghanistan,LIC,"38,928","20,726",540,https://mcit.gov.af/node/6938,...,0.69,0.52,0.31,0.62,-0.09,-0.34,0.02,-0.12,NaN,NaN
1,2,NaN,ALB,8.0,Albania,UMIC,"2,878","14,949","5,240",https://e-albania.al/,...,0.81,0.78,0.60,0.77,0.29,0.62,0.74,0.26,NaN,NaN
2,3,NaN,DZA,12.0,Algeria,LMIC,"43,851","170,722","3,970",https://www.mpttn.gov.dz/ar/content/%D8%A7%D9%...,...,0.73,0.46,0.02,0.60,0.06,-0.56,-0.68,-0.15,NaN,NaN
3,4,NaN,ADO,20.0,Andorra,HIC,77,"3,154","40,886",http://www.govern.ad,...,0.63,0.60,0.05,0.13,-0.28,-0.06,-0.62,-1.32,NaN,NaN
4,5,NaN,AGO,24.0,Angola,LMIC,"32,866","97,005","3,050",http://www.governo.gov.ao,...,0.68,0.69,0.21,0.61,-0.12,0.27,-0.23,-0.13,NaN,NaN

In [49]:
# Must limit the database to the first 206 rows, the remaining rows do not contain any useful information
df = df.iloc[0:205,:]

# Drop the superfluous rows by dropping na
df = df[pd.to_numeric(df['#'], errors='coerce').notnull()]
df['#'] = df[df['#'].notna()]

# Must convert data in the DPL column into float
df['CGSI'] = df['CGSI'].replace('-',np.nan)
df['CGSI'] = df['CGSI'].astype(float, errors = 'ignore')

ValueError: Columns must be same length as key

In [ ]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

In [ ]:
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['CGSI']
df['Country Name'] = df['Economy']
df['Year'] = 2020
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df.head(15)

In [ ]:
# output scores

In [ ]:
## 6. R&D spending (% of GDP)

In [ ]:
indicator = indicators[5]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
# create standard columns
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['2018'] 
df['Sub-Pillar'] = subpillar
df['Year'] = 2018

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

In [ ]:
df.to_csv('../indicator_scores/government_{}_scores.csv'.format(indicator), index=False)

## 7. ICT investment as a percentage of GDP

In [ ]:
indicator = indicators[6]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
df.SUBJECT.unique()

In [ ]:
df.TIME.max()

In [ ]:
df.Value.describe()

In [ ]:
subpillars[1]
subpillar = subpillars[1]
print(subpillar)

In [ ]:
dcol = 'Value'
indicol = indicator
cname = 'Country Name'

# filter most recent year
df = df[(df.TIME==2010)]

# create standard columns
df['higher_is_better'] = True
df['Indicator'] =  indicator
df['Country Name'] = df[cname]
# # df['2019 [YR2019]'] = df['2019 [YR2019]'].astype(float)
df['data_col'] = df[dcol]
df['Sub-Pillar'] = subpillar
df['Year'] = 2010

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 1-20 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

# df.sort_values(by='new_rank_score', ascending=False)

# # prepare output
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]

# # output scores
df.to_csv('../indicator_scores/government_{}_scores.csv'.format(indicator), index=False)

In [ ]:
df

## 8. Evidence of digital strategies in/across Ministries

In [ ]:
indicator = indicators[7]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df.head()

In [ ]:
# Must limit the database to the first 206 rows, the remaining rows do not contain any useful information
df = df.iloc[0:205,:]

# Drop the superfluous rows by dropping na
df = df[pd.to_numeric(df['#'], errors='coerce').notnull()]
df['#'] = df[df['#'].notna()]

# Must convert data in the DPL column into float
df['DG St'] = df['DG St'].replace('-',np.nan)
df['DG St'] = df['DG St'].astype(float, errors = 'ignore')

In [ ]:
subpillars[1]
subpillar = subpillars[1]
print(subpillar)

In [ ]:
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['DG St']
df['Country Name'] = df['Economy']
df['Year'] = 2020
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

max_rank

In [ ]:
# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

In [ ]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df.head(15)

In [ ]:
# # output scores

## 9. Evidence of focus on vulnerable groups

In [ ]:
indicator = indicators[8]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

df = df.iloc[1:,:]

In [ ]:
df.head()

In [ ]:
# Must limit the database to the first 206 rows, the remaining rows do not contain any useful information
df = df.iloc[0:205,:]

# Drop the superfluous rows by dropping na
df = df[pd.to_numeric(df['#'], errors='coerce').notnull()]
df['#'] = df[df['#'].notna()]

# Must convert data in the DPL column into float
df['WoG'] = df['WoG'].replace('-',np.nan)
df['WoG'] = df['WoG'].astype(float, errors = 'ignore')

In [ ]:
df['WoG'].describe

In [ ]:
subpillars[2]
subpillar = subpillars[2]
print(subpillar)

In [ ]:
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['WoG']
df['Country Name'] = df['Economy']
df['Year'] = 2020
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

max_rank

In [ ]:
# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min= -0.03,old_max=0.09))

In [ ]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

## 10. % of digital skills certifications / training courses completed

In [ ]:
indicator = indicators[9]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

In [ ]:
df

In [ ]:
subpillars[3]
subpillar = subpillars[3]
print(subpillar)

In [ ]:
dcol = 'Global Rank'
indicol = indicator
cname = 'Country and Region'

# filter most recent year
# df = df[(df.TIME==2010)]

# create standard columns
df['higher_is_better'] = True
df['Indicator'] =  indicator
df['Country Name'] = df[cname]
# # df['2019 [YR2019]'] = df['2019 [YR2019]'].astype(float)
df['data_col'] = df[dcol]
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 1-20 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=min_rank,old_max=max_rank))

# # need to invert score since higher rank is not better 
df['new_rank_score'] = (6-df['new_rank_score'])+1

df.sort_values(by='new_rank_score', ascending=False)

# # prepare output
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]

# # output scores
df.to_csv('../indicator_scores/government_ percentage digital skills certifications_scores.csv'.format(indicator), index=False)

In [ ]:
df

### Score Aggregating

In [ ]:
import os

In [ ]:
# get list of files in scores folder
scores = os.listdir('../indicator_scores/')
scores = [s for s in scores if s.startswith('government')]

In [ ]:
scores

In [ ]:
# create a dataframe that concatenates all these file into one table
df = pd.concat([pd.read_csv('../indicator_scores/{}'.format(s)) for s in scores])

In [ ]:
df

In [ ]:
# Data cleaning
df['new_rank_score'] = df['new_rank_score'].fillna(0)
df.sort_values(by=['Country Name'], ascending=True, inplace=True)
df.reset_index(drop=True, inplace=True)

In [ ]:
df.info()

In [ ]:
df.head(15)

In [ ]:
df.describe()

In [ ]:
# checking country names
# sorted(df['Country Name'].unique().tolist())

In [ ]:
# remove trailing whitespaces from country name
df['Country Name'] = df['Country Name'].str.strip()
df['Country Name'] = df['Country Name'].str.strip('**')
df['Country Name'] = df['Country Name'].str.strip('*')

In [ ]:
df.head()

In [ ]:
# checking country names
# sorted(df['Country Name'].unique().tolist())

In [ ]:
# average indicator scores per country
agg_df = df.groupby(['Country Name']).agg({'new_rank_score':'mean','data_col':'count'})

In [ ]:
agg_df.columns = ['agg_score', 'count_source' ]

In [ ]:
max_number_sources = agg_df.describe()['count_source']['max']

In [ ]:
agg_df['agg_score_wt'] = agg_df['agg_score']*(agg_df['count_source']/max_number_sources)

In [ ]:
agg_df.sort_values(by='agg_score', ascending=False, inplace=True)

In [ ]:
agg_df.head(25)

In [ ]:
agg_df.to_csv('../pillar_scores/government_scores_v0.csv')

In [ ]:
### Score Aggregating by Subpillars

In [ ]:
df.insert(0,'Pillar','Government')
df

In [ ]:
sub_df = df.groupby(['Pillar','Sub-Pillar','Country Name']).agg({'new_rank_score':'mean','data_col':'count'})

In [ ]:
sub_df.columns = ['agg_score', 'count_source' ]

In [ ]:
max_number_sources = sub_df.describe()['count_source']['max']

In [ ]:
sub_df['agg_score_wt'] = sub_df['agg_score']*(sub_df['count_source']/max_number_sources)

In [ ]:
sub_df.to_csv('../subpillar_score/government_scores_subpillar_v0.csv')

### Sources Generation

In [ ]:
#Get all countries from Countries.xlsx
countries = pd.read_excel('../../data/Countries.xlsx')
col_names = ['Country or Area']
countries = countries[col_names]
countries.rename(columns = {'Country or Area': 'Country Name'}, inplace = True)

In [ ]:
#Get all indicators from names dataframe retrieve at the begining of the script
bnames=bnames[['check','Sub-Pillar','Indicator','Data Source','Data Link']]
bnames.rename(columns = {'check': 'Pillar'}, inplace = True)
bnames = bnames.replace('\n','', regex=True)

In [ ]:
#Do a nice cross join so that we have combination of all countries vs all indicators
sources = countries.merge(bnames, how='cross')
sources

In [ ]:
#Make copy of a scores dataframe and add the column available, with value of 1 (string)
#denoting all the country/indicator combinations that have value
dfsources = df[['Country Name','Pillar','Sub-Pillar','Indicator']].copy()
dfsources['Available'] = '1'

In [ ]:
#If sources.csv exists, get the contents, remove everyhing from this pillar, append prepared sources, save csv.
#if sources.csv does not exist, create new file from sources.
from os.path import exists

if exists('../../dashboard/Sources.csv') :
    CurrentSources = pd.read_csv('../../dashboard/Sources.csv', dtype=str)
    CurrentSources = CurrentSources[['Country Name','Pillar','Sub-Pillar','Indicator','Data Source','Data Link','Available']]
    CurrentSources = CurrentSources.loc[CurrentSources['Pillar'] != 'Government']
    CurrentSources = CurrentSources.append(sources)
else :
    CurrentSources = sources
CurrentSources

In [ ]:
CurrentSources.to_csv('../../dashboard/Sources.csv', index=False)