In [1]:
import pandas as pd
import numpy as np

In [2]:
### Get all the pillar names from the excel

In [3]:
names = pd.read_excel('../../UNDP Digital Assessment Data Framework Filename Matching V7.xlsx')

In [4]:
col_names = ['Indicator','check', 'Data Source','Data Link','Index','Filename','Sub-Pillar']

In [5]:
names = names[col_names]

In [6]:
names.head()

,Indicator,check,Data Source,Data Link,Index,Filename,Sub-Pillar
0,Countries,NaN,UN Statistics Division: List of Countries,https://unstats.un.org,False,Countries,NaN
1,"Database of Global Administrative Areas (GADM,...",NaN,NaN,https://gadm.org,False,NaN,NaN
2,High Resolution Population Density Maps + Demo...,NaN,NaN,NaN,False,NaN,NaN
3,population density vs openstreetmap object den...,NaN,NaN,NaN,False,NaN,NaN
4,Population Density,Infrastructure,World Bank: World Development Indicators,https://datacatalog.worldbank.org,False,population_density,Connectivity technology

In [7]:
# get all the files per pillar
data_stats = names.groupby('check').agg({'Filename':'count','Indicator':'count'})

In [8]:
data_stats

                Filename  Indicator
check
Business              18         27
Foundations           13         22
Government            10         15
Infrastructure        47         58
People                35         49
Regulation             5          8
Strategy               1          1

In [9]:
### Strategy

In [10]:
bnames = names[(names.check=='Strategy')&(~names.Filename.isna())&(names['Sub-Pillar'])]#&(names.Index==False)]
bnames.head(25)

,Indicator,check,Data Source,Data Link,Index,Filename,Sub-Pillar
162,SDG Index,Strategy,Sustainable Development Report,https://www.sdgindex.org,True,sdg_data,Ambition

In [11]:
# get list of names for all indicators
indicators = bnames.Indicator.unique()
subpillars = bnames['Sub-Pillar'].unique()

In [12]:
# get all file names
bfiles = bnames.Filename.unique()

In [13]:
bfiles

array(['sdg_data'], dtype=object)

In [14]:
# formula for converting scale 0-100
def convert_rank(old_value, old_min=0, old_max=100, new_min=1, new_max=6 ):
    """ Convert old scale values scale into new scale values"""
    old_range = old_max - old_min
    new_range = new_max - new_min
    new_value = (((old_value-old_min)*new_range)/old_range)+new_min
    return new_value

In [15]:
### 1. SDG Index

In [16]:
indicators[0]


# load data
indicator = indicators[0]

print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

subpillars[0]
subpillar = subpillars[0]
print(subpillar)

SDG Index
sdg_data
Ambition

In [17]:
df.head(15)

,Country Code ISO3,Country,2021 SDG Index Score,2021 SDG Index Rank,Percentage missing values,Spillover Score (0-100),Regional Score (0-100),Regions used for the SDR,Population in 2020,Goal 1 Dash,...,Goal 10 Regional Score,Goal 11 Regional Score,Goal 12 Regional Score,Goal 13 Regional Score,Goal 14 Regional Score,Goal 15 Regional Score,Goal 16 Regional Score,Goal 17 Regional Score,data_country,data_year
0,AFG,Afghanistan,53.9,137.0,9.3,99.3,71.4,E. Europe & C. Asia,"38,928,341",grey,...,72.362762,76.443228,77.629345,83.041913,58.865821,69.499564,72.403938,63.386460,NaN,NaN
1,AGO,Angola,50.3,154.0,0.0,97.0,51.9,Africa,"32,866,268",red,...,37.334205,52.728915,88.024702,96.266527,68.010492,66.835003,56.050983,51.652955,NaN,NaN
2,ALB,Albania,71.0,64.0,3.3,94.3,71.4,E. Europe & C. Asia,"2,877,800",yellow,...,72.362762,76.443228,77.629345,83.041913,58.865821,69.499564,72.403938,63.386460,NaN,NaN
3,AND,Andorra,NaN,NaN,51.2,NaN,71.4,E. Europe & C. Asia,"77,265",grey,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ARE,United Arab Emirates,70.2,71.0,11.0,38.8,67.1,MENA,"9,890,400",green,...,66.178091,58.928271,76.842146,71.475510,62.776615,57.356212,69.093831,56.231255,NaN,NaN
5,ARG,Argentina,72.8,52.0,1.1,94.5,68.6,LAC,"45,195,777",yellow,...,27.901676,77.087594,76.727283,85.373283,62.781114,60.904217,60.888934,64.295156,NaN,NaN
6,ARM,Armenia,71.8,58.0,3.5,96.7,71.4,E. Europe & C. Asia,"2,963,234",yellow,...,72.362762,76.443228,77.629345,83.041913,58.865821,69.499564,72.403938,63.386460,NaN,NaN
7,ATG,Antigua and Barbuda,NaN,NaN,30.8,NaN,68.6,LAC,"97,928",grey,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,AUS,Australia,75.6,35.0,1.1,63.9,77.2,OECD,"25,499,881",yellow,...,74.475203,88.911367,58.055279,64.112721,63.360546,74.102776,82.316815,65.773824,NaN,NaN
9,AUT,Austria,82.1,6.0,3.5,59.5,77.2,OECD,"9,006,400",green,...,74.475203,88.911367,58.055279,64.112721,63.360546,74.102776,82.316815,65.773824,NaN,NaN
10,AZE,Azerbaijan,72.4,55.0,7.0,97.6,71.4,E. Europe & C. Asia,"10,139,175",green,...,72.362762,76.443228,77.629345,83.041913,58.865821,69.499564,72.403938,63.386460,NaN,NaN
11,BDI,Burundi,51.8,147.0,7.0,99.8,51.9,Africa,"11,890,781",red,...,37.334205,52.728915,88.024702,96.266527,68.010492,66.835003,56.050983,51.652955,NaN,NaN
12,BEL,Belgium,82.2,5.0,4.4,62.0,77.2,OECD,"11,589,616",green,...,74.475203,88.911367,58.055279,64.112721,63.360546,74.102776,82.316815,65.773824,NaN,NaN
13,BEN,Benin,49.9,155.0,4.4,98.8,51.9,Africa,"12,123,198",red,...,37.334205,52.728915,88.024702,96.266527,68.010492,66.835003,56.050983,51.652955,NaN,NaN
14,BFA,Burkina Faso,53.5,139.0,1.2,99.4,51.9,Africa,"20,903,278",red,...,37.334205,52.728915,88.024702,96.266527,68.010492,66.835003,56.050983,51.652955,NaN,NaN

In [18]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['2021 SDG Index Score']
df.rename(columns={'Country':'Country Name'}, inplace=True)
df['Year'] = 2019
df['Sub-Pillar'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [19]:
df = df[['Country Name','Year','Indicator','data_col','new_rank_score','higher_is_better','Sub-Pillar']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,Afghanistan,2019,SDG Index,53.9,3.695,True,Ambition
1,Angola,2019,SDG Index,50.3,3.515,True,Ambition
2,Albania,2019,SDG Index,71.0,4.550,True,Ambition
3,Andorra,2019,SDG Index,NaN,NaN,True,Ambition
4,United Arab Emirates,2019,SDG Index,70.2,4.510,True,Ambition
...,...,...,...,...,...,...,...
200,Sub-Saharan Africa,2019,SDG Index,51.9,3.595,True,Ambition
201,Low-income Countries,2019,SDG Index,51.0,3.550,True,Ambition
202,Lower-middle-income Countries,2019,SDG Index,60.1,4.005,True,Ambition
203,Upper-middle-income Countries,2019,SDG Index,70.8,4.540,True,Ambition
204,High-income Countries,2019,SDG Index,78.1,4.905,True,Ambition

In [20]:
df.to_csv('../indicator_scores/strategy_{}_scores.csv'.format(indicator, index=False))

In [21]:
### Score Aggregating

In [22]:
import os

In [23]:
# get list of files in scores folder
scores = os.listdir('../indicator_scores/')
scores = [s for s in scores if s.startswith('strategy')]

In [24]:
scores

['strategy_SDG Index_scores.csv']

In [25]:
# create a dataframe that concatenates all these file into one table
df = pd.concat([pd.read_csv('../indicator_scores/{}'.format(s)) for s in scores])

In [26]:
df

,Unnamed: 0,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,0,Afghanistan,2019,SDG Index,53.9,3.695,True,Ambition
1,1,Angola,2019,SDG Index,50.3,3.515,True,Ambition
2,2,Albania,2019,SDG Index,71.0,4.550,True,Ambition
3,3,Andorra,2019,SDG Index,NaN,NaN,True,Ambition
4,4,United Arab Emirates,2019,SDG Index,70.2,4.510,True,Ambition
...,...,...,...,...,...,...,...,...
200,200,Sub-Saharan Africa,2019,SDG Index,51.9,3.595,True,Ambition
201,201,Low-income Countries,2019,SDG Index,51.0,3.550,True,Ambition
202,202,Lower-middle-income Countries,2019,SDG Index,60.1,4.005,True,Ambition
203,203,Upper-middle-income Countries,2019,SDG Index,70.8,4.540,True,Ambition
204,204,High-income Countries,2019,SDG Index,78.1,4.905,True,Ambition

In [27]:
# remove trailing whitespaces from country name
df['Country Name'] = df['Country Name'].str.strip()
df['Country Name'] = df['Country Name'].str.strip('**')
df['Country Name'] = df['Country Name'].str.strip('*')

In [28]:
sorted(df['Country Name'].unique().tolist())

['Afghanistan',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas, The',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo, Dem. Rep.',
 'Congo, Rep.',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'East and South Asia',
 'Eastern Europe and Central Asia',
 'Ecuador',
 'Egypt, Arab Rep.',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia, The',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'High-income Countries',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran, Islamic Rep.',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Korea, Dem. Rep.',
 'Korea, Rep.',
 'Kuwait',
 'Kyrgyz Republic',
 'Lao PDR',
 'Latin America and the Caribbean',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Low-income Countries',
 'Lower-middle-income Countries',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia, Fed. Sts.',
 'Middle East and North Africa',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Macedonia',
 'Norway',
 'OECD members',
 'Oceania',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovak Republic',
 'Slovenia',
 'Small Island Developing States',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'St. Kitts and Nevis',
 'St. Lucia',
 'St. Vincent and the Grenadines',
 'Sub-Saharan Africa',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Upper-middle-income Countries',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela, RB',
 'Vietnam',
 'Yemen, Rep.',
 'Zambia',
 'Zimbabwe']

In [29]:
# average indicator scores per country
agg_df = df.groupby(['Country Name']).agg({'new_rank_score':'mean','data_col':'count'})

In [30]:
agg_df.columns = ['agg_score', 'count_source' ]

In [31]:
max_number_sources = agg_df.describe()['count_source']['max']

In [32]:
agg_df['agg_score_wt'] = agg_df['agg_score']*(agg_df['count_source']/max_number_sources)

In [33]:
agg_df.sort_values(by='agg_score', ascending=False, inplace=True)

In [34]:
agg_df

                                agg_score  count_source  agg_score_wt
Country Name
Finland                             5.295             1         5.295
Sweden                              5.280             1         5.280
Denmark                             5.245             1         5.245
Germany                             5.125             1         5.125
Belgium                             5.110             1         5.110
...                                   ...           ...           ...
St. Lucia                             NaN             0           NaN
St. Vincent and the Grenadines        NaN             0           NaN
Timor-Leste                           NaN             0           NaN
Tonga                                 NaN             0           NaN
Tuvalu                                NaN             0           NaN

[205 rows x 3 columns]

In [35]:
agg_df.to_csv('../pillar_scores/strategy_scores_v0.csv')

In [36]:
### Score Aggregating by Subpillars

In [37]:
df.insert(0,'Pillar','Strategy')
df

,Pillar,Unnamed: 0,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,Sub-Pillar
0,Strategy,0,Afghanistan,2019,SDG Index,53.9,3.695,True,Ambition
1,Strategy,1,Angola,2019,SDG Index,50.3,3.515,True,Ambition
2,Strategy,2,Albania,2019,SDG Index,71.0,4.550,True,Ambition
3,Strategy,3,Andorra,2019,SDG Index,NaN,NaN,True,Ambition
4,Strategy,4,United Arab Emirates,2019,SDG Index,70.2,4.510,True,Ambition
...,...,...,...,...,...,...,...,...,...
200,Strategy,200,Sub-Saharan Africa,2019,SDG Index,51.9,3.595,True,Ambition
201,Strategy,201,Low-income Countries,2019,SDG Index,51.0,3.550,True,Ambition
202,Strategy,202,Lower-middle-income Countries,2019,SDG Index,60.1,4.005,True,Ambition
203,Strategy,203,Upper-middle-income Countries,2019,SDG Index,70.8,4.540,True,Ambition
204,Strategy,204,High-income Countries,2019,SDG Index,78.1,4.905,True,Ambition

In [38]:
sub_df = df.groupby(['Pillar','Sub-Pillar','Country Name']).agg({'new_rank_score':'mean','data_col':'count'})
sub_df

                                   new_rank_score  data_col
Pillar   Sub-Pillar Country Name
Strategy Ambition   Afghanistan             3.695         1
                    Albania                 4.550         1
                    Algeria                 4.545         1
                    Andorra                   NaN         0
                    Angola                  3.515         1
...                                           ...       ...
                    Venezuela, RB           3.965         1
                    Vietnam                 4.640         1
                    Yemen, Rep.             3.645         1
                    Zambia                  3.670         1
                    Zimbabwe                3.935         1

[205 rows x 2 columns]

In [39]:
sub_df.columns = ['agg_score', 'count_source' ]

In [40]:
max_number_sources = sub_df.describe()['count_source']['max']

In [41]:
sub_df['agg_score_wt'] = sub_df['agg_score']*(sub_df['count_source']/max_number_sources)

In [42]:
sub_df.sort_values(by='agg_score', ascending=False, inplace=True)

In [43]:
sub_df.to_csv('../subpillar_score/strategy_scores_subpillar_v0.csv')

### Sources Generation

In [44]:
#Get all countries from Countries.xlsx
countries = pd.read_excel('../../data/Countries.xlsx')
col_names = ['Country or Area']
countries = countries[col_names]
countries.rename(columns = {'Country or Area': 'Country Name'}, inplace = True)

In [45]:
#Get all indicators from names dataframe retrieve at the begining of the script
bnames=bnames[['check','Sub-Pillar','Indicator','Data Source','Data Link']]
bnames.rename(columns = {'check': 'Pillar'}, inplace = True)
bnames = bnames.replace('\n','', regex=True)

In [46]:
#Do a nice cross join so that we have combination of all countries vs all indicators
sources = countries.merge(bnames, how='cross')
sources

,Country Name,Pillar,Sub-Pillar,Indicator,Data Source,Data Link
0,Algeria,Strategy,Ambition,SDG Index,Sustainable Development Report,https://www.sdgindex.org
1,Egypt,Strategy,Ambition,SDG Index,Sustainable Development Report,https://www.sdgindex.org
2,Libya,Strategy,Ambition,SDG Index,Sustainable Development Report,https://www.sdgindex.org
3,Morocco,Strategy,Ambition,SDG Index,Sustainable Development Report,https://www.sdgindex.org
4,Sudan,Strategy,Ambition,SDG Index,Sustainable Development Report,https://www.sdgindex.org
...,...,...,...,...,...,...
244,Samoa,Strategy,Ambition,SDG Index,Sustainable Development Report,https://www.sdgindex.org
245,Tokelau,Strategy,Ambition,SDG Index,Sustainable Development Report,https://www.sdgindex.org
246,Tonga,Strategy,Ambition,SDG Index,Sustainable Development Report,https://www.sdgindex.org
247,Tuvalu,Strategy,Ambition,SDG Index,Sustainable Development Report,https://www.sdgindex.org
248,Wallis and Futuna Islands,Strategy,Ambition,SDG Index,Sustainable Development Report,https://www.sdgindex.org

In [47]:
#Make copy of a scores dataframe and add the column available, with value of 1 (string)
#denoting all the country/indicator combinations that have value
dfsources = df[['Country Name','Pillar','Sub-Pillar','Indicator']].copy()
dfsources['Available'] = '1'

In [48]:
#Merge (left join) sources (all country indicator combinations)
#with those in copied scores dataframe
#resulting in a sources dataframe with values of 1 in Available column where there is a value for country/indicator
#and there is a NaN where there's not. 
#subsequently replace NaN with 0 (string)
sources = sources.merge(dfsources, how='left', on=['Country Name','Pillar','Sub-Pillar','Indicator'])
sources['Available'] = sources['Available'].fillna('0')
sources

,Country Name,Pillar,Sub-Pillar,Indicator,Data Source,Data Link,Available
0,Algeria,Strategy,Ambition,SDG Index,Sustainable Development Report,https://www.sdgindex.org,1
1,Egypt,Strategy,Ambition,SDG Index,Sustainable Development Report,https://www.sdgindex.org,0
2,Libya,Strategy,Ambition,SDG Index,Sustainable Development Report,https://www.sdgindex.org,1
3,Morocco,Strategy,Ambition,SDG Index,Sustainable Development Report,https://www.sdgindex.org,1
4,Sudan,Strategy,Ambition,SDG Index,Sustainable Development Report,https://www.sdgindex.org,1
...,...,...,...,...,...,...,...
244,Samoa,Strategy,Ambition,SDG Index,Sustainable Development Report,https://www.sdgindex.org,1
245,Tokelau,Strategy,Ambition,SDG Index,Sustainable Development Report,https://www.sdgindex.org,0
246,Tonga,Strategy,Ambition,SDG Index,Sustainable Development Report,https://www.sdgindex.org,1
247,Tuvalu,Strategy,Ambition,SDG Index,Sustainable Development Report,https://www.sdgindex.org,1
248,Wallis and Futuna Islands,Strategy,Ambition,SDG Index,Sustainable Development Report,https://www.sdgindex.org,0

In [49]:
#If sources.csv exists, get the contents, remove everyhing from this pillar, append prepared sources, save csv.
#if sources.csv does not exist, create new file from sources.
from os.path import exists

if exists('../../dashboard/Sources.csv') :
    CurrentSources = pd.read_csv('../../dashboard/Sources.csv', dtype=str)
    CurrentSources = CurrentSources[['Country Name','Pillar','Sub-Pillar','Indicator','Data Source','Data Link','Available']]
    CurrentSources = CurrentSources.loc[CurrentSources['Pillar'] != 'Strategy']
    CurrentSources = CurrentSources.append(sources)
else :
    CurrentSources = sources
CurrentSources

,Country Name,Pillar,Sub-Pillar,Indicator,Data Source,Data Link,Available
0,Algeria,Business,Technology adoption,UNCTAD Business-to-Consumer (B2C) E-commerce I...,UNCTAD: Business-to-Consumer (B2C) E-commerce...,https://unctad.org,1
1,Algeria,Business,Technology adoption,"Networking Services (Spend, IT Forecast Data)",Portulans Institute: Network Readiness Index,https://networkreadinessindex.org,1
2,Algeria,Business,Technology adoption,"Cloud Services (Spend, IT Forecast Data)",Statista,https://www.statista.com,0
3,Algeria,Business,Technology adoption,ICT task-intensive jobs as a percentage of tot...,OECD: Going Digital Toolkit,http://goingdigital.oecd.org,0
4,Algeria,Business,Technology adoption,Share of business with internet,OECD: ICT Access and Usage by Businesses,https://stats.oecd.org,0
...,...,...,...,...,...,...,...
244,Samoa,Strategy,Ambition,SDG Index,Sustainable Development Report,https://www.sdgindex.org,1
245,Tokelau,Strategy,Ambition,SDG Index,Sustainable Development Report,https://www.sdgindex.org,0
246,Tonga,Strategy,Ambition,SDG Index,Sustainable Development Report,https://www.sdgindex.org,1
247,Tuvalu,Strategy,Ambition,SDG Index,Sustainable Development Report,https://www.sdgindex.org,1
248,Wallis and Futuna Islands,Strategy,Ambition,SDG Index,Sustainable Development Report,https://www.sdgindex.org,0

In [50]:
CurrentSources.to_csv('../../dashboard/Sources.csv', index=False)