In [1]:
import pandas as pd
import numpy as np

In [2]:
### Get all the pillar names from the excel

In [3]:
names = pd.read_excel('../../UNDP Digital Assessment Data Framework Filename Matching V7.xlsx')

In [4]:
col_names = ['Indicator','HRRelevance', 'HRAssociation','Data Source','Data Link','Index','Filename','HRNotes']

In [5]:
names = names[col_names]

In [6]:
names.head()

,Indicator,HRRelevance,HRAssociation,Data Source,Data Link,Index,Filename,HRNotes
0,Countries,0,NaN,UN Statistics Division: List of Countries,https://unstats.un.org,False,Countries,NaN
1,"Database of Global Administrative Areas (GADM,...",0,NaN,NaN,https://gadm.org,False,NaN,NaN
2,High Resolution Population Density Maps + Demo...,0,NaN,NaN,NaN,False,NaN,NaN
3,population density vs openstreetmap object den...,0,NaN,NaN,NaN,False,NaN,NaN
4,Population Density,0,NaN,World Bank: World Development Indicators,https://datacatalog.worldbank.org,False,population_density,NaN

In [7]:
# get all the files per pillar
data_stats = names.groupby('HRRelevance').agg({'Filename':'count','Indicator':'count'})
data_stats

             Filename  Indicator
HRRelevance
0                 115        162
1                  14         14
/                   2          7

In [8]:
### HR

In [9]:
bnames = names[(names.HRRelevance==1)&(~names.Filename.isna())]#&(names.Index==False)]
bnames.head(25)

,Indicator,HRRelevance,HRAssociation,Data Source,Data Link,Index,Filename,HRNotes
6,% of population covered by internet connectivity,1,Access,ITU: Digital Development Dashboard,https://www.itu.int/itu-d/sites/statistics,False,ITU_database,many values are null
8,% of population covered by mobile 3G+ data con...,1,Access,GSMA: Mobile Connectivity Index,https://www.mobileconnectivityindex.com,False,countries_mobile_connectivity,NaN
13,% of population covered by electricity,1,Access,World Bank: World Development Indicators,https://datacatalog.worldbank.org,False,population_electricity_coverage,some data missing
17,Cellphone Signal Density,1,Access,GSMA: Mobile Connectivity Index,https://www.mobileconnectivityindex.com,False,mobile_density,very complete + line 19 and 21 from the same map
26,Individuals using the Internet (% of population),1,Access,ITU: Digital Development Dashboard,https://www.itu.int/itu-d/sites/statistics,False,ITU_database,Possible gender comparison - ​Individuals usin...
78,data protection laws,1,Privacy,UNCTAD: Data Protection and Privacy Legislatio...,https://unctad.org/page/data-protection-and-pr...,False,data_protect_privacy_legislation,good quantity with all the regions represented...
84,Limits on content,1,Association,Freedom House: Freedom on the Net,https://freedomhouse.org/report/freedom-net,False,freedom_on_the_net,65 countries representing all regional groups;...
114,% of population using internet (all),1,Access,ITU: Digital Development Dashboard,https://www.itu.int/itu-d/sites/statistics,False,ITU_database,NaN
115,% of population using internet (female),1,Access,ITU: Digital Development Dashboard,https://www.itu.int/itu-d/sites/statistics,False,ITU_database,Gender comparison (39687 - 41227)
116,% of population using internet (male),1,Access,ITU: Digital Development Dashboard,https://www.itu.int/itu-d/sites/statistics,False,ITU_database,NaN
160,Gender gap in internet usage,1,Access,ITU: Digital Development Dashboard,https://www.itu.int/itu-d/sites/statistics,False,ITU_database,https://www.itu.int/en/ITU-D/Statistics/Docume...
161,Gender gap in mobile usage,1,Access,GSMA: Mobile Connectivity Index,https://www.mobileconnectivityindex.com,False,gender_gaps,gender lenses; the Index also reports gender e...
185,Government Removal Requests,1,Expression,Google: Government Removal Requests,https://transparencyreport.google.com/governme...,False,gov_removal_requests,NaN
186,Internet Restrictions,1,Expression,Comparitech: Internet Censorship,https://www.comparitech.com/blog/vpn-privacy/i...,TRUE,internet_censor,NaN

In [10]:
# get list of names for all indicators
indicators = bnames.Indicator.unique()
subpillars = bnames['HRAssociation'].unique()

In [11]:
# get all file names
bfiles = bnames.Filename.unique()

In [12]:
bfiles

array(['ITU_database', 'countries_mobile_connectivity',
       'population_electricity_coverage', 'mobile_density',
       'data_protect_privacy_legislation', 'freedom_on_the_net',
       'gender_gaps', 'gov_removal_requests', 'internet_censor'],
      dtype=object)

In [13]:
subpillars

array(['Access', 'Privacy', 'Association', 'Expression'], dtype=object)

In [14]:
# formula for converting scale 0-100
def convert_rank(old_value, old_min= 0, old_max= 100, new_min=1, new_max=6 ):
    """ Convert old scale values scale into new scale values"""
    old_range = old_max - old_min
    new_range = new_max - new_min
    new_value = (((old_value-old_min)*new_range)/old_range)+new_min
    return new_value

In [15]:
# formula for converting scale 0-1
def convert_rank_b(old_value, old_min= 0, old_max= 1, new_min=1, new_max=6 ):
    """ Convert old scale values scale into new scale values"""
    old_range = old_max - old_min
    new_range = new_max - new_min
    new_value = (((old_value-old_min)*new_range)/old_range)+new_min
    return new_value

In [16]:
# formula for converting scale 1-5
def convert_rank_c(old_value, old_min= 1, old_max= 5, new_min=1, new_max=6 ):
    """ Convert old scale values scale into new scale values"""
    old_range = old_max - old_min
    new_range = new_max - new_min
    new_value = (((old_value-old_min)*new_range)/old_range)+new_min
    return new_value

In [17]:
# formula for converting scale 1-7
def convert_rank_d(old_value, old_min= 1, old_max= 7, new_min=1, new_max=6 ):
    """ Convert old scale values scale into new scale values"""
    old_range = old_max - old_min
    new_range = new_max - new_min
    new_value = (((old_value-old_min)*new_range)/old_range)+new_min
    return new_value

In [18]:
### Add population dataset
df = pd.read_csv('../../processed/Population.csv')

# Normalize country names as much as possible
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Bahamas.*$)', 'Bahamas (the)')
df['Country Name'] = df['Country Name'].replace('Bahrain (Kingdom of)','Bahrain')
df['Country Name'] = df['Country Name'].replace('Bolivia','Bolivia (Plurinational State of)')
df['Country Name'] = df['Country Name'].replace('Bolivia, Plurinational State of','Bolivia (Plurinational State of)')
df['Country Name'] = df['Country Name'].replace('Brunei','Brunei Darussalam')
df['Country Name'] = df['Country Name'].replace('Bulgaria (Rep.)','Bulgaria')
df['Country Name'] = df['Country Name'].replace('Central African Republic','Central African Republic (the)')
df['Country Name'] = df['Country Name'].replace('Central African Rep.','Central African Republic (the)')
df['Country Name'] = df['Country Name'].replace("China (People's Rep.)",'China')
df['Country Name'] = df['Country Name'].replace("Comoros",'Comoros (the)')
df['Country Name'] = df['Country Name'].replace("Congo",'Congo (the)')
df['Country Name'] = df['Country Name'].replace("Congo (Brazzaville)",'Congo (the)')
df['Country Name'] = df['Country Name'].replace("Congo (Rep. of the)",'Congo (the)')
df['Country Name'] = df['Country Name'].replace("Congo (Democratic Republic of the)",'Democratic Republic of the Congo (the)')
df['Country Name'] = df['Country Name'].replace("Congo, Dem. Rep.",'Democratic Republic of the Congo (the)')
df['Country Name'] = df['Country Name'].replace("Congo, The Democratic Republic of the",'Democratic Republic of the Congo (the)')
df['Country Name'] = df['Country Name'].replace("DR Congo",'Democratic Republic of the Congo (the)')
df['Country Name'] = df['Country Name'].replace("Democratic Republic of Congo",'Democratic Republic of the Congo (the)')
df['Country Name'] = df['Country Name'].replace("Democratic Republic of the Congo",'Democratic Republic of the Congo (the)')
df['Country Name'] = df['Country Name'].replace("Dem. Rep. of the Congo",'Democratic Republic of the Congo (the)')
df['Country Name'] = df['Country Name'].replace("Cote d'Ivoire","Côte d'Ivoire")
df['Country Name'] = df['Country Name'].replace("Côte d’Ivoire","Côte d'Ivoire")
df['Country Name'] = df['Country Name'].replace("Cote D'Ivoire","Côte d'Ivoire")
df['Country Name'] = df['Country Name'].replace("Cote dIvoire","Côte d'Ivoire")
df['Country Name'] = df['Country Name'].str.replace(r"(^.*Côte d'Ivoire.*$)", "Côte d'Ivoire")
df['Country Name'] = df['Country Name'].replace("Cōte d'Ivoire","Côte d'Ivoire")
df['Country Name'] = df['Country Name'].replace("Ivory Coast","Côte d'Ivoire")
df['Country Name'] = df['Country Name'].replace("Dem. People's Rep. of Korea","Democratic People's Republic of Korea (the)")
df['Country Name'] = df['Country Name'].replace("Democratic People's Republic of Korea","Democratic People's Republic of Korea (the)")
df['Country Name'] = df['Country Name'].replace("Korea, Dem. People's Rep.","Democratic People's Republic of Korea (the)")
df['Country Name'] = df['Country Name'].replace("North Korea","Democratic People's Republic of Korea (the)")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Czech.*$)', 'Czechia')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Dominican Re.*$)', 'Dominican Republic (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Hong Kong.*$)', 'China, Hong Kong Special Administrative Region')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Hongkong.*$)', 'China, Hong Kong Special Administrative Region')
df['Country Name'] = df['Country Name'].replace("Eswatini (Kingdom of)",'Eswatini')
df['Country Name'] = df['Country Name'].replace("Swaziland",'Eswatini')
df['Country Name'] = df['Country Name'].replace("Faröe Islands",'Faroe Islands')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Gambia.*$)', 'Gambia (the)')
df['Country Name'] = df['Country Name'].replace("Georgia (Country)",'Georgia')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Iran.*$)', 'Iran (Islamic Republic of)')
df['Country Name'] = df['Country Name'].replace("Korea",'Republic of Korea (the)')
df['Country Name'] = df['Country Name'].replace("Korea (Rep. of)",'Republic of Korea (the)')
df['Country Name'] = df['Country Name'].replace("Korea (Rep.)",'Republic of Korea (the)')
df['Country Name'] = df['Country Name'].replace("Korea (Republic of)",'Republic of Korea (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Korea, Rep.*$)', 'Republic of Korea (the)')
df['Country Name'] = df['Country Name'].replace("Korea, South",'Republic of Korea (the)')
df['Country Name'] = df['Country Name'].replace("South Korea",'Republic of Korea (the)')
df['Country Name'] = df['Country Name'].replace("Republic of Korea",'Republic of Korea (the)')
df['Country Name'] = df['Country Name'].replace('Republic of Congo','Congo (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Kyrgyz.*$)', 'Kyrgyzstan')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Lao.*$)', "Lao People's Democratic Republic (the)")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Macao.*$)', "China, Macao Special Administrative Region")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Macau.*$)', "China, Macao Special Administrative Region")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Micronesia.*$)', "Micronesia (Federated States of)")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Moldova.*$)', "Republic of Moldova (the)")
df['Country Name'] = df['Country Name'].replace("Morroco",'Morocco')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Nepal.*$)', "Nepal")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*New Ze.*$)', "New Zealand")
df['Country Name'] = df['Country Name'].replace("Niger",'Niger (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Macedonia.*$)', "North Macedonia")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*New Ze.*$)', "New Zealand")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Palestin.*$)', "State of Palestine (the)")
df['Country Name'] = df['Country Name'].replace("West Bank and Gaza",'State of Palestine (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Panama.*$)', "Panama")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Philippines.*$)', "Philippines (the)")
df['Country Name'] = df['Country Name'].replace("Republic of the Congo",'Congo (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Myanmar.*$)', "Myanmar")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Puerto Rico.*$)', "Puerto Rico")
df['Country Name'] = df['Country Name'].replace("Russia",'Russian Federation (the)')
df['Country Name'] = df['Country Name'].replace("Russian Federation",'Russian Federation (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Slovak.*$)', "Slovakia")
df['Country Name'] = df['Country Name'].str.replace(r'\bSudan\b', 'Sudan (the)')
df['Country Name'] = df['Country Name'].str.replace(r'\bSudan (the)\b', 'Sudan (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*South Sudan.*$)', "South Sudan")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Syria.*$)', "Syrian Arab Republic (the)")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*São Tomé.*$)', "Sao Tome and Principe")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Taiwan.*$)', "Taiwan")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Taipei.*$)', "Taiwan")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Tanzania.*$)', "United Republic of Tanzania (the)")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Netherlands.*$)', "Netherlands (the)")
df['Country Name'] = df['Country Name'].replace("UAE",'United Arab Emirates (the)')
df['Country Name'] = df['Country Name'].replace("U.A.E",'United Arab Emirates (the)')
df['Country Name'] = df['Country Name'].replace("United Arab Emirates",'United Arab Emirates (the)')
df['Country Name'] = df['Country Name'].replace('United Kingdom','United Kingdom of Great Britain and Northern Ireland (the)')
df['Country Name'] = df['Country Name'].replace('UK','United Kingdom of Great Britain and Northern Ireland (the)')
df['Country Name'] = df['Country Name'].replace("Great Britain",'United Kingdom of Great Britain and Northern Ireland (the)')
df['Country Name'] = df['Country Name'].replace("United Kingdom of Great Britain and Northern Ireland",'United Kingdom of Great Britain and Northern Ireland (the)')
df['Country Name'] = df['Country Name'].replace('Vietnam','Viet Nam')
df['Country Name'] = df['Country Name'].replace('United States','United States of America (the)')
df['Country Name'] = df['Country Name'].replace('USA','United States of America (the)')
df['Country Name'] = df['Country Name'].replace('United States of America','United States of America (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Virgin Islands.*$)', "United States Virgin Islands")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Vatican.*$)', "Vatican")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Venezuela.*$)', "Venezuela (Bolivarian Republic of)")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Yemen.*$)', "Yemen")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Arab world.*$)', "Arab World")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*World.*$)', "World")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Kitts and Nevis.*$)', "Saint Kitts and Nevis")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Lucia.*$)', "Saint Lucia")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Martin (French Part).*$)', "Saint Martin (French Part)")
df['Country Name'] = df['Country Name'].replace('Sint Maarten','Saint Martin')
df['Country Name'] = df['Country Name'].replace('St. Martin (French part)','Saint Martin (French Part)')
df['Country Name'] = df['Country Name'].replace('Sint Maarten (Dutch part)','Saint Martin (Dutch Part)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Vincent and the Grenadines.*$)', "Saint Vincent and the Grenadines")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Verde.*$)', "Cabo Verde")
df['Country Name'] = df['Country Name'].replace('Congo, Democratic Republic','Democratic Republic of the Congo (the)')
df['Country Name'] = df['Country Name'].replace('Congo, Rep.','Congo (the)')
df['Country Name'] = df['Country Name'].replace('Republic of Congo','Congo (the)')
df['Country Name'] = df['Country Name'].replace('Congo (Rep.)','Congo (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Egypt.*$)', "Egypt")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Korea, D.*$)', "Democratic People's Republic of Korea (the)")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Tobago.*$)', "Trinidad and Tobago")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Timor-Leste.*$)', "Timor-Leste")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Emirates.*$)', "United Arab Emirates (the)")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Papua.*$)', "Papua New Guinea")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Bissau.*$)', "Guinea-Bissau")
df['Country Name'] = df['Country Name'].replace('Eq. Guinea','Equatorial Guinea')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Burma.*$)', "Myanmar")
df['Country Name'] = df['Country Name'].replace('C.A. Republic','Central African Republic (the)')
df['Country Name'] = df['Country Name'].replace('Ant.& Barb.','Antigua and Barbuda')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Bosnia.*$)', "Bosnia and Herzegovina")
df['Country Name'] = df['Country Name'].replace('Domin. Rep.','Dominican Republic (the)')
df['Country Name'] = df['Country Name'].replace('Dominica (Commonwealth of)','Dominica')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*European Union.*$)', "European Union")
df['Country Name'] = df['Country Name'].replace('R. of Congo','Congo (the)')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Principe.*$)', "Sao Tome and Principe")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Solomon.*$)', "Solomon Islands")
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Vincent.*$)', "Saint Vincent and the Grenadines")
df['Country Name'] = df['Country Name'].replace('Curacao','Curaçao')
df['Country Name'] = df['Country Name'].replace('Reunion','Réunion')
df['Country Name'] = df['Country Name'].str.replace(r'(^.*Kosovo.*$)', "Kosovo (UNSCR 1244)")

pop = df
pop

<ipython-input-18-35a075b1c6b0>:5: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Bahamas.*$)', 'Bahamas (the)')
<ipython-input-18-35a075b1c6b0>:29: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r"(^.*Côte d'Ivoire.*$)", "Côte d'Ivoire")
<ipython-input-18-35a075b1c6b0>:36: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Czech.*$)', 'Czechia')
<ipython-input-18-35a075b1c6b0>:37: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Dominican Re.*$)', 'Dominican Republic (the)')
<ipython-input-18-35a075b1c6b0>:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Hong Kong.*$)', 'China, Hong Kong Special Administrative Region')
<ipython-input-18-35a075b1c6b0>:39: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Hongkong.*$)', 'China, Hong Kong Special Administrative Region')
<ipython-input-18-35a075b1c6b0>:43: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Gambia.*$)', 'Gambia (the)')
<ipython-input-18-35a075b1c6b0>:45: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Iran.*$)', 'Iran (Islamic Republic of)')
<ipython-input-18-35a075b1c6b0>:50: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Korea, Rep.*$)', 'Republic of Korea (the)')
<ipython-input-18-35a075b1c6b0>:55: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Kyrgyz.*$)', 'Kyrgyzstan')
<ipython-input-18-35a075b1c6b0>:56: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Lao.*$)', "Lao People's Democratic Republic (the)")
<ipython-input-18-35a075b1c6b0>:57: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Macao.*$)', "China, Macao Special Administrative Region")
<ipython-input-18-35a075b1c6b0>:58: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Macau.*$)', "China, Macao Special Administrative Region")
<ipython-input-18-35a075b1c6b0>:59: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Micronesia.*$)', "Micronesia (Federated States of)")
<ipython-input-18-35a075b1c6b0>:60: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Moldova.*$)', "Republic of Moldova (the)")
<ipython-input-18-35a075b1c6b0>:62: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Nepal.*$)', "Nepal")
<ipython-input-18-35a075b1c6b0>:63: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*New Ze.*$)', "New Zealand")
<ipython-input-18-35a075b1c6b0>:65: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Macedonia.*$)', "North Macedonia")
<ipython-input-18-35a075b1c6b0>:66: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*New Ze.*$)', "New Zealand")
<ipython-input-18-35a075b1c6b0>:67: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Palestin.*$)', "State of Palestine (the)")
<ipython-input-18-35a075b1c6b0>:69: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Panama.*$)', "Panama")
<ipython-input-18-35a075b1c6b0>:70: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Philippines.*$)', "Philippines (the)")
<ipython-input-18-35a075b1c6b0>:72: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Myanmar.*$)', "Myanmar")
<ipython-input-18-35a075b1c6b0>:73: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Puerto Rico.*$)', "Puerto Rico")
<ipython-input-18-35a075b1c6b0>:76: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Slovak.*$)', "Slovakia")
<ipython-input-18-35a075b1c6b0>:77: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'\bSudan\b', 'Sudan (the)')
<ipython-input-18-35a075b1c6b0>:78: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'\bSudan (the)\b', 'Sudan (the)')
<ipython-input-18-35a075b1c6b0>:79: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*South Sudan.*$)', "South Sudan")
<ipython-input-18-35a075b1c6b0>:80: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Syria.*$)', "Syrian Arab Republic (the)")
<ipython-input-18-35a075b1c6b0>:81: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*São Tomé.*$)', "Sao Tome and Principe")
<ipython-input-18-35a075b1c6b0>:82: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Taiwan.*$)', "Taiwan")
<ipython-input-18-35a075b1c6b0>:83: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Taipei.*$)', "Taiwan")
<ipython-input-18-35a075b1c6b0>:84: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Tanzania.*$)', "United Republic of Tanzania (the)")
<ipython-input-18-35a075b1c6b0>:85: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Netherlands.*$)', "Netherlands (the)")
<ipython-input-18-35a075b1c6b0>:97: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Virgin Islands.*$)', "United States Virgin Islands")
<ipython-input-18-35a075b1c6b0>:98: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Vatican.*$)', "Vatican")
<ipython-input-18-35a075b1c6b0>:99: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Venezuela.*$)', "Venezuela (Bolivarian Republic of)")
<ipython-input-18-35a075b1c6b0>:100: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Yemen.*$)', "Yemen")
<ipython-input-18-35a075b1c6b0>:101: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Arab world.*$)', "Arab World")
<ipython-input-18-35a075b1c6b0>:102: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*World.*$)', "World")
<ipython-input-18-35a075b1c6b0>:103: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Kitts and Nevis.*$)', "Saint Kitts and Nevis")
<ipython-input-18-35a075b1c6b0>:104: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Lucia.*$)', "Saint Lucia")
<ipython-input-18-35a075b1c6b0>:105: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Martin (French Part).*$)', "Saint Martin (French Part)")
<ipython-input-18-35a075b1c6b0>:109: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Vincent and the Grenadines.*$)', "Saint Vincent and the Grenadines")
<ipython-input-18-35a075b1c6b0>:110: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Verde.*$)', "Cabo Verde")
<ipython-input-18-35a075b1c6b0>:115: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Egypt.*$)', "Egypt")
<ipython-input-18-35a075b1c6b0>:116: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Korea, D.*$)', "Democratic People's Republic of Korea (the)")
<ipython-input-18-35a075b1c6b0>:117: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Tobago.*$)', "Trinidad and Tobago")
<ipython-input-18-35a075b1c6b0>:118: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Timor-Leste.*$)', "Timor-Leste")
<ipython-input-18-35a075b1c6b0>:119: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Emirates.*$)', "United Arab Emirates (the)")
<ipython-input-18-35a075b1c6b0>:120: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Papua.*$)', "Papua New Guinea")
<ipython-input-18-35a075b1c6b0>:121: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Bissau.*$)', "Guinea-Bissau")
<ipython-input-18-35a075b1c6b0>:123: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Burma.*$)', "Myanmar")
<ipython-input-18-35a075b1c6b0>:126: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Bosnia.*$)', "Bosnia and Herzegovina")
<ipython-input-18-35a075b1c6b0>:129: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*European Union.*$)', "European Union")
<ipython-input-18-35a075b1c6b0>:131: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Principe.*$)', "Sao Tome and Principe")
<ipython-input-18-35a075b1c6b0>:132: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Solomon.*$)', "Solomon Islands")
<ipython-input-18-35a075b1c6b0>:133: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Vincent.*$)', "Saint Vincent and the Grenadines")
<ipython-input-18-35a075b1c6b0>:136: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Country Name'] = df['Country Name'].str.replace(r'(^.*Kosovo.*$)', "Kosovo (UNSCR 1244)")

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54208.0,55434.0,56234.0,56699.0,57029.0,57357.0,...,102050.0,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,106766.0
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130836765.0,134159786.0,137614644.0,141202036.0,144920186.0,148769974.0,...,532760424.0,547482863.0,562601578.0,578075373.0,593871847.0,609978946.0,626392880.0,643090131.0,660046272.0,677243299.0
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996967.0,9169406.0,9351442.0,9543200.0,9744772.0,9956318.0,...,30117411.0,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,38928341.0
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,96396419.0,98407221.0,100506960.0,102691339.0,104953470.0,107289875.0,...,360285439.0,370243017.0,380437896.0,390882979.0,401586651.0,412551299.0,423769930.0,435229381.0,446911598.0,458803476.0
4,Angola,AGO,"Population, total",SP.POP.TOTL,5454938.0,5531451.0,5608499.0,5679409.0,5734995.0,5770573.0,...,24220660.0,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,32866268.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo (UNSCR 1244),XKX,"Population, total",SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,...,1791000.0,1807106.0,1818117.0,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0,1775378.0
262,Yemen,YEM,"Population, total",SP.POP.TOTL,5315351.0,5393034.0,5473671.0,5556767.0,5641598.0,5727745.0,...,23807586.0,24473176.0,25147112.0,25823488.0,26497881.0,27168210.0,27834811.0,28498683.0,29161922.0,29825968.0
263,South Africa,ZAF,"Population, total",SP.POP.TOTL,17099836.0,17524533.0,17965733.0,18423157.0,18896303.0,19384838.0,...,52003759.0,52832659.0,53687125.0,54544184.0,55386369.0,56207649.0,57009751.0,57792520.0,58558267.0,59308690.0
264,Zambia,ZMB,"Population, total",SP.POP.TOTL,3070780.0,3164330.0,3260645.0,3360099.0,3463211.0,3570466.0,...,14023199.0,14465148.0,14926551.0,15399793.0,15879370.0,16363449.0,16853608.0,17351714.0,17861034.0,18383956.0
265,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3776679.0,3905038.0,4039209.0,4178726.0,4322854.0,4471178.0,...,12894323.0,13115149.0,13350378.0,13586710.0,13814642.0,14030338.0,14236599.0,14438812.0,14645473.0,14862927.0

In [19]:
### 1. % of population covered by internet connectivity

In [20]:
indicators[0]

# load data
indicator = indicators[0]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))
df

% of population covered by internet connectivity
ITU_database

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
0,Angola,Africa,AGO,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
1,Benin,Africa,BEN,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
2,Botswana,Africa,BWA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
3,Burkina Faso,Africa,BFA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
4,Burundi,Africa,BDI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
47807,Mexico,The Americas,MEX,"Individuals using the Internet, total (%)",2020.0,71.970000,NaN,NaN
47808,Paraguay,The Americas,PRY,"Individuals using the Internet, total (%)",2020.0,74.515240,NaN,NaN
47809,Peru,The Americas,PER,"Individuals using the Internet, total (%)",2020.0,65.251799,NaN,NaN
47810,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47811,"Source: ITU, Wor​ld Telecommun​ic​ation/ICT In...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df = df[(df.Year == 2019)]
df = df[(df['Indicator name']== 'Individuals using the Internet, total (%)')]
df

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
47607,Cabo Verde,Africa,CPV,"Individuals using the Internet, total (%)",2019.0,61.943398,NaN,NaN
47608,Central African Rep.,Africa,CAF,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
47609,Congo (Rep. of the),Africa,COG,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
47610,Côte d'Ivoire,Africa,CIV,"Individuals using the Internet, total (%)",2019.0,36.288955,NaN,NaN
47611,Equatorial Guinea,Africa,GNQ,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
47739,Saint Vincent and the Grenadines,The Americas,VCT,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
47740,Trinidad and Tobago,The Americas,TTO,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
47741,United States,The Americas,USA,"Individuals using the Internet, total (%)",2019.0,89.430285,NaN,NaN
47742,Uruguay,The Americas,URY,"Individuals using the Internet, total (%)",2019.0,83.351534,NaN,NaN
47743,Venezuela,The Americas,VEN,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN

In [22]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Access

In [23]:
df['higher_is_better'] = True
df['Year'] = 2020
df['Country Name'] = df['Country']
df['Indicator'] = indicator
df['data_col'] = df['Value']
df['HRAssociation'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [24]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','HRAssociation']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,HRAssociation
47607,Cabo Verde,2020,% of population covered by internet connectivity,61.943398,4.097170,True,Access
47608,Central African Rep.,2020,% of population covered by internet connectivity,NaN,NaN,True,Access
47609,Congo (Rep. of the),2020,% of population covered by internet connectivity,NaN,NaN,True,Access
47610,Côte d'Ivoire,2020,% of population covered by internet connectivity,36.288955,2.814448,True,Access
47611,Equatorial Guinea,2020,% of population covered by internet connectivity,NaN,NaN,True,Access
...,...,...,...,...,...,...,...
47739,Saint Vincent and the Grenadines,2020,% of population covered by internet connectivity,NaN,NaN,True,Access
47740,Trinidad and Tobago,2020,% of population covered by internet connectivity,NaN,NaN,True,Access
47741,United States,2020,% of population covered by internet connectivity,89.430285,5.471514,True,Access
47742,Uruguay,2020,% of population covered by internet connectivity,83.351534,5.167577,True,Access
47743,Venezuela,2020,% of population covered by internet connectivity,NaN,NaN,True,Access

In [25]:
df.to_csv('../../score/HR_scores/HR_{}_scores.csv'.format(indicator),index = False)

In [26]:
### 2. % of population covered by mobile 3G+ data connectivity

In [27]:
indicators[1]

# load data
indicator = indicators[1]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population covered by mobile 3G+ data connectivity
countries_mobile_connectivity

In [28]:
df.head(10)

,ISO Code,Country,Region,Year,Cluster,Index,Infrastructure,Affordability,Consumer Readiness,Content and Services,...,Gender gap in mobile ownership,TLDs per capita,E-Government Score,Mobile Social Media Penetration,Apps developed per person,Number of apps in national language,Accessibility of top ranked apps,Cybersecurity Index,data_country,data_year
0,AFG,Afghanistan,South Asia,2014,Discoverer,22.12,21.74,31.79,24.40,14.19,...,0.00,39.55,18.11,3.28,20.98,2.44,4.37,26.50,NaN,NaN
1,AFG,Afghanistan,South Asia,2015,Discoverer,22.99,22.82,30.81,25.28,15.71,...,0.00,39.57,24.27,4.36,22.93,2.79,8.03,25.83,NaN,NaN
2,AFG,Afghanistan,South Asia,2016,Discoverer,23.71,26.92,26.75,26.07,16.83,...,0.00,39.58,30.43,6.73,30.31,2.85,5.90,25.17,NaN,NaN
3,AFG,Afghanistan,South Asia,2017,Discoverer,25.82,33.54,27.22,28.56,17.04,...,0.00,39.47,30.50,7.78,31.62,2.91,6.15,24.50,NaN,NaN
4,AFG,Afghanistan,South Asia,2018,Discoverer,28.39,30.91,42.64,29.24,16.87,...,0.00,39.39,30.56,8.54,36.54,2.96,8.66,17.70,NaN,NaN
5,AFG,Afghanistan,South Asia,2019,Discoverer,28.94,32.34,41.53,29.72,17.58,...,0.00,39.41,41.18,9.39,39.36,3.00,5.72,17.70,NaN,NaN
6,AGO,Angola,Sub-Saharan Africa,2014,Discoverer,32.78,25.99,35.99,44.33,27.85,...,51.65,0.00,29.92,3.99,22.74,53.33,49.09,8.80,NaN,NaN
7,AGO,Angola,Sub-Saharan Africa,2015,Emerging,37.18,33.09,42.01,45.41,30.27,...,57.00,0.31,32.35,5.26,22.12,55.08,58.33,8.47,NaN,NaN
8,AGO,Angola,Sub-Saharan Africa,2016,Emerging,39.85,37.80,44.74,46.47,32.11,...,63.73,0.00,34.78,6.27,27.46,56.52,61.73,8.13,NaN,NaN
9,AGO,Angola,Sub-Saharan Africa,2017,Emerging,42.89,48.60,47.94,46.32,31.36,...,53.97,0.00,37.88,4.26,31.94,57.06,55.09,7.80,NaN,NaN

In [29]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Access

In [30]:
# filter most recent year
df = df[(df.Year==2019)]

# create standard columns
df.rename(columns={'Country':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['3G Coverage'] 
df['HR Association'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [31]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','HR Association']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,HR Association
5,Afghanistan,2019,% of population covered by mobile 3G+ data con...,58.7,3.935,True,Access
11,Angola,2019,% of population covered by mobile 3G+ data con...,71.0,4.550,True,Access
17,Albania,2019,% of population covered by mobile 3G+ data con...,97.0,5.850,True,Access
23,United Arab Emirates,2019,% of population covered by mobile 3G+ data con...,100.0,6.000,True,Access
29,Argentina,2019,% of population covered by mobile 3G+ data con...,95.0,5.750,True,Access
...,...,...,...,...,...,...,...
995,Samoa,2019,% of population covered by mobile 3G+ data con...,95.0,5.750,True,Access
1001,Yemen,2019,% of population covered by mobile 3G+ data con...,95.0,5.750,True,Access
1007,South Africa,2019,% of population covered by mobile 3G+ data con...,99.5,5.975,True,Access
1013,Zambia,2019,% of population covered by mobile 3G+ data con...,71.8,4.590,True,Access
1019,Zimbabwe,2019,% of population covered by mobile 3G+ data con...,84.0,5.200,True,Access

In [32]:
df.to_csv('../../score/HR_scores/HR_{}_scores.csv'.format(indicator),index = False)

In [33]:
### 3. % of population covered by electricity

In [34]:
indicators[2]

'% of population covered by electricity'

In [35]:
# load data
indicator = indicators[2]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population covered by electricity
population_electricity_coverage

In [36]:
df.head(10)

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2017,2018,2019,2020,Country Name,Country Code,Indicator Name,Indicator Code,data_country,data_year
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,NaN,Aruba,ABW,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,39.754201,42.168241,43.640661,NaN,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,97.700000,98.715622,97.700000,NaN,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48.848205,51.253253,51.341421,NaN,Africa Western and Central,AFW,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,43.001610,45.290000,45.670315,NaN,Angola,AGO,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.890000,100.000000,100.000000,NaN,Albania,ALB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,NaN,Andorra,AND,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,89.623427,88.306324,89.512282,NaN,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,NaN,United Arab Emirates,ARE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,NaN,Argentina,ARG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN

In [37]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Access

In [38]:
# create standard columns
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['2019'] 
df['Year'] = 2019
df['HRAssociation'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [39]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','HRAssociation']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,HRAssociation
0,Aruba,2019,% of population covered by electricity,100.000000,6.000000,True,Access
1,Africa Eastern and Southern,2019,% of population covered by electricity,43.640661,3.182033,True,Access
2,Afghanistan,2019,% of population covered by electricity,97.700000,5.885000,True,Access
3,Africa Western and Central,2019,% of population covered by electricity,51.341421,3.567071,True,Access
4,Angola,2019,% of population covered by electricity,45.670315,3.283516,True,Access
...,...,...,...,...,...,...,...
261,Kosovo,2019,% of population covered by electricity,100.000000,6.000000,True,Access
262,"Yemen, Rep.",2019,% of population covered by electricity,72.751701,4.637585,True,Access
263,South Africa,2019,% of population covered by electricity,85.000000,5.250000,True,Access
264,Zambia,2019,% of population covered by electricity,43.000000,3.150000,True,Access
265,Zimbabwe,2019,% of population covered by electricity,41.089108,3.054455,True,Access

In [40]:
df.to_csv('../../score/HR_scores/HR_{}_scores.csv'.format(indicator),index = False)

In [41]:
### 4. Cellphone Signal Density

In [42]:
indicators[3]

# load data
indicator = indicators[3]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Cellphone Signal Density
mobile_density

In [43]:
df.head(10)

,Unnamed: 0,ISO Code,Country,Region,Year,Network coverage
0,1,AFG,Afghanistan,South Asia,2014,28.919998
1,2,AFG,Afghanistan,South Asia,2015,31.799999
2,3,AFG,Afghanistan,South Asia,2016,33.040001
3,4,AFG,Afghanistan,South Asia,2017,36.340000
4,5,AFG,Afghanistan,South Asia,2018,30.931999
5,6,AFG,Afghanistan,South Asia,2019,38.480000
6,7,AGO,Angola,Sub-Saharan Africa,2014,51.445770
7,8,AGO,Angola,Sub-Saharan Africa,2015,53.906952
8,9,AGO,Angola,Sub-Saharan Africa,2016,61.174950
9,10,AGO,Angola,Sub-Saharan Africa,2017,60.800003

In [44]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Access

In [45]:
df = df[(df.Year == 2019)]

# create standard columns
df.rename(columns={'Country':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Network coverage'] 
df['HRAssociation'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [46]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','HRAssociation']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,HRAssociation
5,Afghanistan,2019,Cellphone Signal Density,38.480000,2.92400,True,Access
11,Angola,2019,Cellphone Signal Density,57.400002,3.87000,True,Access
17,Albania,2019,Cellphone Signal Density,87.186005,5.35930,True,Access
23,United Arab Emirates,2019,Cellphone Signal Density,99.599998,5.98000,True,Access
29,Argentina,2019,Cellphone Signal Density,83.708000,5.18540,True,Access
...,...,...,...,...,...,...,...
995,Samoa,2019,Cellphone Signal Density,83.699997,5.18500,True,Access
1001,Yemen,2019,Cellphone Signal Density,47.500000,3.37500,True,Access
1007,South Africa,2019,Cellphone Signal Density,88.077003,5.40385,True,Access
1013,Zambia,2019,Cellphone Signal Density,56.400002,3.82000,True,Access
1019,Zimbabwe,2019,Cellphone Signal Density,58.899998,3.94500,True,Access

In [47]:
df.to_csv('../../score/HR_scores/HR_{}_scores.csv'.format(indicator),index = False)

In [48]:
### 5. Individuals using the Internet (% of population)

In [49]:
indicators[4]

# load data
indicator = indicators[4]
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

ITU_database

In [50]:
df.head(15)

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
0,Angola,Africa,AGO,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
1,Benin,Africa,BEN,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
2,Botswana,Africa,BWA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
3,Burkina Faso,Africa,BFA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
4,Burundi,Africa,BDI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
5,Cabo Verde,Africa,CPV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
6,Cameroon,Africa,CMR,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
7,Central African Rep.,Africa,CAF,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
8,Chad,Africa,TCD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
9,Congo (Rep. of the),Africa,COG,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
10,Côte d'Ivoire,Africa,CIV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
11,Dem. Rep. of the Congo,Africa,COD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
12,Equatorial Guinea,Africa,GNQ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
13,Eritrea,Africa,ERI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
14,Eswatini,Africa,SWZ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN

In [51]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Access

In [52]:
df = df[(df['Indicator name'] == 'Individuals using the Internet, total (%)')]
df = df[(df.Year==2019)]
df.head(15)

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
47607,Cabo Verde,Africa,CPV,"Individuals using the Internet, total (%)",2019.0,61.943398,NaN,NaN
47608,Central African Rep.,Africa,CAF,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
47609,Congo (Rep. of the),Africa,COG,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
47610,Côte d'Ivoire,Africa,CIV,"Individuals using the Internet, total (%)",2019.0,36.288955,NaN,NaN
47611,Equatorial Guinea,Africa,GNQ,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
47612,Eritrea,Africa,ERI,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
47613,Eswatini,Africa,SWZ,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
47614,Kenya,Africa,KEN,"Individuals using the Internet, total (%)",2019.0,22.565119,NaN,NaN
47615,Lesotho,Africa,LSO,"Individuals using the Internet, total (%)",2019.0,42.301734,NaN,NaN
47616,Madagascar,Africa,MDG,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
47617,Mauritius,Africa,MUS,"Individuals using the Internet, total (%)",2019.0,61.729955,NaN,NaN
47618,Niger,Africa,NER,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
47619,South Sudan,Africa,SSD,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
47620,Uganda,Africa,UGA,"Individuals using the Internet, total (%)",2019.0,NaN,NaN,NaN
47621,Bahrain,Arab States,BHR,"Individuals using the Internet, total (%)",2019.0,99.701493,NaN,NaN

In [53]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Value'] 
df.rename(columns = {'Country':'Country Name'}, inplace=True)
df['HRAssociation'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [54]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','HRAssociation']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,HRAssociation
47607,Cabo Verde,2019.0,Individuals using the Internet (% of population),61.943398,4.097170,True,Access
47608,Central African Rep.,2019.0,Individuals using the Internet (% of population),NaN,NaN,True,Access
47609,Congo (Rep. of the),2019.0,Individuals using the Internet (% of population),NaN,NaN,True,Access
47610,Côte d'Ivoire,2019.0,Individuals using the Internet (% of population),36.288955,2.814448,True,Access
47611,Equatorial Guinea,2019.0,Individuals using the Internet (% of population),NaN,NaN,True,Access
...,...,...,...,...,...,...,...
47739,Saint Vincent and the Grenadines,2019.0,Individuals using the Internet (% of population),NaN,NaN,True,Access
47740,Trinidad and Tobago,2019.0,Individuals using the Internet (% of population),NaN,NaN,True,Access
47741,United States,2019.0,Individuals using the Internet (% of population),89.430285,5.471514,True,Access
47742,Uruguay,2019.0,Individuals using the Internet (% of population),83.351534,5.167577,True,Access
47743,Venezuela,2019.0,Individuals using the Internet (% of population),NaN,NaN,True,Access

In [55]:
df.to_csv('../../score/HR_scores/HR_{}_scores.csv'.format(indicator),index = False)

In [56]:
### 7. # key internet controls employed

In [57]:
indicators[6]

# load data
indicator = indicators[6]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

subpillars[2]
subpillar = subpillars[2]
print(subpillar)

Limits on content
freedom_on_the_net
Association

In [58]:
df.head(15)

,Country,Edition,Status,A1,A2,A3,A4,A5,A,B1,...,C1,C2,C3,C4,C5,C6,C7,C8,C,Total
0,Angola,2021,PF,2,1,5,3,1,12,6,...,2,1,4,3,2,3,4,1,20,62
1,Argentina,2021,F,5,2,6,4,2,19,5,...,4,2,4,2,3,4,4,2,25,71
2,Armenia,2021,F,5,2,5,5,2,19,4,...,3,3,4,3,3,5,4,1,26,71
3,Australia,2021,F,6,2,6,5,4,23,5,...,5,2,5,2,2,3,5,1,25,75
4,Azerbaijan,2021,NF,4,1,3,2,0,10,2,...,1,2,1,3,1,1,2,0,11,35
5,Bahrain,2021,NF,6,2,4,4,0,16,1,...,0,0,2,1,1,0,1,1,6,30
6,Bangladesh,2021,PF,2,1,3,5,1,12,3,...,2,0,2,2,1,2,1,1,11,40
7,Belarus,2021,NF,5,2,2,1,0,10,2,...,1,1,1,1,1,0,1,1,7,31
8,Brazil,2021,PF,5,1,6,5,3,20,5,...,4,2,3,2,3,4,1,1,20,64
9,Cambodia,2021,PF,4,1,4,4,0,13,4,...,1,1,1,3,2,1,2,1,12,43
10,Canada,2021,F,6,2,6,5,4,23,5,...,5,2,6,4,4,4,5,2,32,87
11,China,2021,NF,5,1,1,1,0,8,0,...,0,0,0,0,0,0,0,0,0,10
12,Colombia,2021,PF,5,2,6,4,2,19,4,...,3,2,4,3,2,3,3,1,21,65
13,Costa Rica,2021,F,4,2,6,4,4,20,6,...,6,3,6,3,5,5,4,2,34,87
14,Cuba,2021,NF,3,0,2,0,0,5,2,...,0,0,2,1,1,0,2,1,7,21

In [59]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)

df['higher_is_better'] = True
df['Year'] = 2021
df['Indicator'] = indicator
df['data_col'] = df.iloc[:,17]
df['Country Name'] = df.iloc[:,0]
df['HRAssociation'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=35))

In [60]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','HRAssociation']]
df.head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,HRAssociation
0,Angola,2021,Limits on content,30,5.285714,True,Association
1,Argentina,2021,Limits on content,27,4.857143,True,Association
2,Armenia,2021,Limits on content,26,4.714286,True,Association
3,Australia,2021,Limits on content,27,4.857143,True,Association
4,Azerbaijan,2021,Limits on content,14,3.000000,True,Association
5,Bahrain,2021,Limits on content,8,2.142857,True,Association
6,Bangladesh,2021,Limits on content,17,3.428571,True,Association
7,Belarus,2021,Limits on content,14,3.000000,True,Association
8,Brazil,2021,Limits on content,24,4.428571,True,Association
9,Cambodia,2021,Limits on content,18,3.571429,True,Association
10,Canada,2021,Limits on content,32,5.571429,True,Association
11,China,2021,Limits on content,2,1.285714,True,Association
12,Colombia,2021,Limits on content,25,4.571429,True,Association
13,Costa Rica,2021,Limits on content,33,5.714286,True,Association
14,Cuba,2021,Limits on content,9,2.285714,True,Association

In [61]:
df.to_csv('../../score/HR_scores/HR_{}_scores.csv'.format(indicator),index = False)

In [62]:
### 8. % of population using internet (all)

In [63]:
indicators[7]

# load data
indicator = indicators[7]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population using internet (all)
ITU_database

In [64]:
df.head(15)

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
0,Angola,Africa,AGO,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
1,Benin,Africa,BEN,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
2,Botswana,Africa,BWA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
3,Burkina Faso,Africa,BFA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
4,Burundi,Africa,BDI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
5,Cabo Verde,Africa,CPV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
6,Cameroon,Africa,CMR,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
7,Central African Rep.,Africa,CAF,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
8,Chad,Africa,TCD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
9,Congo (Rep. of the),Africa,COG,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
10,Côte d'Ivoire,Africa,CIV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
11,Dem. Rep. of the Congo,Africa,COD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
12,Equatorial Guinea,Africa,GNQ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
13,Eritrea,Africa,ERI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
14,Eswatini,Africa,SWZ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN

In [65]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Access

In [66]:
df = df[(df.Year==2019)]
df = df[(df.iloc[:,3] =='Individuals using the Internet, total (%)')]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Value'] 
df['Country Name'] = df['Country']
df['HRAssociation'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [67]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','HRAssociation']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,HRAssociation
47607,Cabo Verde,2019.0,% of population using internet (all),61.943398,4.097170,True,Access
47608,Central African Rep.,2019.0,% of population using internet (all),NaN,NaN,True,Access
47609,Congo (Rep. of the),2019.0,% of population using internet (all),NaN,NaN,True,Access
47610,Côte d'Ivoire,2019.0,% of population using internet (all),36.288955,2.814448,True,Access
47611,Equatorial Guinea,2019.0,% of population using internet (all),NaN,NaN,True,Access
...,...,...,...,...,...,...,...
47739,Saint Vincent and the Grenadines,2019.0,% of population using internet (all),NaN,NaN,True,Access
47740,Trinidad and Tobago,2019.0,% of population using internet (all),NaN,NaN,True,Access
47741,United States,2019.0,% of population using internet (all),89.430285,5.471514,True,Access
47742,Uruguay,2019.0,% of population using internet (all),83.351534,5.167577,True,Access
47743,Venezuela,2019.0,% of population using internet (all),NaN,NaN,True,Access

In [68]:
df.to_csv('../../score/HR_scores/HR_{}_scores.csv'.format(indicator),index = False)

In [69]:
### 9. % of population using internet (female)

In [70]:
indicators[8]

# load data
indicator = indicators[8]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population using internet (female)
ITU_database

In [71]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Access

In [72]:
df = df[(df.iloc[:,3] =='Female Internet users as a % of total female population')]
df = df[(df.Year==2019)]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Value']
df['Country Name'] = df['Country']
df['HRAssociation'] = subpillar


min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [73]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','HRAssociation']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,HRAssociation
40307,Cabo Verde,2019.0,% of population using internet (female),60.965017,4.048251,True,Access
40308,Côte d'Ivoire,2019.0,% of population using internet (female),32.924445,2.646222,True,Access
40309,Kenya,2019.0,% of population using internet (female),20.125122,2.006256,True,Access
40310,Lesotho,2019.0,% of population using internet (female),44.922768,3.246138,True,Access
40311,Mauritius,2019.0,% of population using internet (female),60.130645,4.006532,True,Access
...,...,...,...,...,...,...,...
40388,Mexico,2019.0,% of population using internet (female),68.574653,4.428733,True,Access
40389,Panama,2019.0,% of population using internet (female),63.811494,4.190575,True,Access
40390,Paraguay,2019.0,% of population using internet (female),69.017230,4.450861,True,Access
40391,Peru,2019.0,% of population using internet (female),56.992144,3.849607,True,Access
40392,Uruguay,2019.0,% of population using internet (female),83.835706,5.191785,True,Access

In [74]:
df.to_csv('../../score/HR_scores/HR_{}_scores.csv'.format(indicator),index = False)

In [75]:
### 10. % of population using internet (male)

In [76]:
indicators[9]

# load data
indicator = indicators[9]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

% of population using internet (male)
ITU_database

In [77]:
df.head(15)

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
0,Angola,Africa,AGO,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
1,Benin,Africa,BEN,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
2,Botswana,Africa,BWA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
3,Burkina Faso,Africa,BFA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
4,Burundi,Africa,BDI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
5,Cabo Verde,Africa,CPV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
6,Cameroon,Africa,CMR,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
7,Central African Rep.,Africa,CAF,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
8,Chad,Africa,TCD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
9,Congo (Rep. of the),Africa,COG,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
10,Côte d'Ivoire,Africa,CIV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
11,Dem. Rep. of the Congo,Africa,COD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
12,Equatorial Guinea,Africa,GNQ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
13,Eritrea,Africa,ERI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
14,Eswatini,Africa,SWZ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN

In [78]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Access

In [79]:
df = df[(df.iloc[:,3] =='Male Internet users as a % of total male population')]
df = df[(df.Year==2019)]

# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Value']
df['Country Name'] = df['Country']
df['HRAssociation'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [80]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','HRAssociation']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,HRAssociation
41078,Cabo Verde,2019.0,% of population using internet (male),62.921166,4.146058,True,Access
41079,Côte d'Ivoire,2019.0,% of population using internet (male),39.808871,2.990444,True,Access
41080,Kenya,2019.0,% of population using internet (male),25.071668,2.253583,True,Access
41081,Lesotho,2019.0,% of population using internet (male),38.349985,2.917499,True,Access
41082,Mauritius,2019.0,% of population using internet (male),63.393093,4.169655,True,Access
...,...,...,...,...,...,...,...
41159,Mexico,2019.0,% of population using internet (male),71.740324,4.587016,True,Access
41160,Panama,2019.0,% of population using internet (male),63.433835,4.171692,True,Access
41161,Paraguay,2019.0,% of population using internet (male),68.006259,4.400313,True,Access
41162,Peru,2019.0,% of population using internet (male),62.915703,4.145785,True,Access
41163,Uruguay,2019.0,% of population using internet (male),82.831570,5.141578,True,Access

In [81]:
df.to_csv('../../score/HR_scores/HR_{}_scores.csv'.format(indicator),index = False)

In [82]:
### 11. Gender gap in internet usage

In [83]:
indicators[10]

# load data
indicator = indicators[10]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Gender gap in internet usage
ITU_database

In [84]:
df.head(15)

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
0,Angola,Africa,AGO,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
1,Benin,Africa,BEN,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
2,Botswana,Africa,BWA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
3,Burkina Faso,Africa,BFA,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
4,Burundi,Africa,BDI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
5,Cabo Verde,Africa,CPV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
6,Cameroon,Africa,CMR,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
7,Central African Rep.,Africa,CAF,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
8,Chad,Africa,TCD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
9,Congo (Rep. of the),Africa,COG,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
10,Côte d'Ivoire,Africa,CIV,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
11,Dem. Rep. of the Congo,Africa,COD,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
12,Equatorial Guinea,Africa,GNQ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
13,Eritrea,Africa,ERI,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN
14,Eswatini,Africa,SWZ,Female mobile phone ownership as a % of total ...,2010.0,NaN,NaN,NaN

In [85]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Access

In [86]:
df = df[(df['Indicator name'] == 'Female Internet users as a % of total female population')]
df = df[(df.Year == 2019)]
df

,Country,Region,ISO,Indicator name,Year,Value,data_country,data_year
40307,Cabo Verde,Africa,CPV,Female Internet users as a % of total female p...,2019.0,60.965017,NaN,NaN
40308,Côte d'Ivoire,Africa,CIV,Female Internet users as a % of total female p...,2019.0,32.924445,NaN,NaN
40309,Kenya,Africa,KEN,Female Internet users as a % of total female p...,2019.0,20.125122,NaN,NaN
40310,Lesotho,Africa,LSO,Female Internet users as a % of total female p...,2019.0,44.922768,NaN,NaN
40311,Mauritius,Africa,MUS,Female Internet users as a % of total female p...,2019.0,60.130645,NaN,NaN
...,...,...,...,...,...,...,...,...
40388,Mexico,The Americas,MEX,Female Internet users as a % of total female p...,2019.0,68.574653,NaN,NaN
40389,Panama,The Americas,PAN,Female Internet users as a % of total female p...,2019.0,63.811494,NaN,NaN
40390,Paraguay,The Americas,PRY,Female Internet users as a % of total female p...,2019.0,69.017230,NaN,NaN
40391,Peru,The Americas,PER,Female Internet users as a % of total female p...,2019.0,56.992144,NaN,NaN
40392,Uruguay,The Americas,URY,Female Internet users as a % of total female p...,2019.0,83.835706,NaN,NaN

In [87]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Value'] 
df['Country Name'] = df['Country']
df['HRAssociation'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [88]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','HRAssociation']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,HRAssociation
40307,Cabo Verde,2019.0,Gender gap in internet usage,60.965017,4.048251,True,Access
40308,Côte d'Ivoire,2019.0,Gender gap in internet usage,32.924445,2.646222,True,Access
40309,Kenya,2019.0,Gender gap in internet usage,20.125122,2.006256,True,Access
40310,Lesotho,2019.0,Gender gap in internet usage,44.922768,3.246138,True,Access
40311,Mauritius,2019.0,Gender gap in internet usage,60.130645,4.006532,True,Access
...,...,...,...,...,...,...,...
40388,Mexico,2019.0,Gender gap in internet usage,68.574653,4.428733,True,Access
40389,Panama,2019.0,Gender gap in internet usage,63.811494,4.190575,True,Access
40390,Paraguay,2019.0,Gender gap in internet usage,69.017230,4.450861,True,Access
40391,Peru,2019.0,Gender gap in internet usage,56.992144,3.849607,True,Access
40392,Uruguay,2019.0,Gender gap in internet usage,83.835706,5.191785,True,Access

In [89]:
df.to_csv('../../score/HR_scores/HR_{}_scores.csv'.format(indicator),index = False)

In [90]:
### 12. Gender gap in mobile usage

In [91]:
indicators[11]

# load data
indicator = indicators[11]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Gender gap in mobile usage
gender_gaps

In [92]:
df.head(15)

,ISO Code,Country,Region,Year,Gender parity in account ownership,Gender gap in social media use,Gender gap in mobile ownership
0,AFG,Afghanistan,South Asia,2014,11.109999,0.000000,0.000000
1,AFG,Afghanistan,South Asia,2015,14.087173,0.000000,0.000000
2,AFG,Afghanistan,South Asia,2016,17.064350,0.000000,0.000000
3,AFG,Afghanistan,South Asia,2017,20.041523,0.000000,0.000000
4,AFG,Afghanistan,South Asia,2018,20.041523,0.000000,0.000000
5,AFG,Afghanistan,South Asia,2019,20.041523,0.000000,0.000000
6,AGO,Angola,Sub-Saharan Africa,2014,55.237572,46.428570,51.645042
7,AGO,Angola,Sub-Saharan Africa,2015,55.237572,46.428570,57.001461
8,AGO,Angola,Sub-Saharan Africa,2016,55.237572,46.428570,63.725491
9,AGO,Angola,Sub-Saharan Africa,2017,55.237572,38.646553,53.966476
10,AGO,Angola,Sub-Saharan Africa,2018,55.237572,38.646553,63.339275
11,AGO,Angola,Sub-Saharan Africa,2019,55.237572,49.552494,57.712311
12,ALB,Albania,Europe & Central Asia,2014,75.398972,36.507938,68.421051
13,ALB,Albania,Europe & Central Asia,2015,79.937897,36.507938,68.421051
14,ALB,Albania,Europe & Central Asia,2016,84.476822,36.507938,67.391304

In [93]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Access

In [94]:
df = df[(df.Year == 2019)]
df

,ISO Code,Country,Region,Year,Gender parity in account ownership,Gender gap in social media use,Gender gap in mobile ownership
5,AFG,Afghanistan,South Asia,2019,2.004152e+01,0.000000,0.000000
11,AGO,Angola,Sub-Saharan Africa,2019,5.523757e+01,49.552494,57.712311
17,ALB,Albania,Europe & Central Asia,2019,8.901575e+01,41.406120,67.741936
23,ARE,United Arab Emirates,Middle East & North Africa,2019,7.944289e+01,13.890497,100.000000
29,ARG,Argentina,Latin America & Caribbean,2019,1.000000e+02,100.000000,99.650528
...,...,...,...,...,...,...,...
995,WSM,Samoa,East Asia & Pacific,2019,9.256590e+01,100.000000,100.000000
1001,YEM,Yemen,Middle East & North Africa,2019,3.250000e-15,0.000000,0.000000
1007,ZAF,South Africa,Sub-Saharan Africa,2019,1.000000e+02,96.334473,78.272583
1013,ZMB,Zambia,Sub-Saharan Africa,2019,7.414376e+01,59.793156,53.703701
1019,ZWE,Zimbabwe,Sub-Saharan Africa,2019,8.503561e+01,45.876221,100.000000

In [95]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = True
df['Indicator'] = indicator
df['data_col'] = df['Gender gap in mobile ownership'] 
df['Country Name'] = df['Country']
df['HRAssociation'] = subpillar

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=0,old_max=100))

In [96]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','HRAssociation']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,HRAssociation
5,Afghanistan,2019,Gender gap in mobile usage,0.000000,1.000000,True,Access
11,Angola,2019,Gender gap in mobile usage,57.712311,3.885616,True,Access
17,Albania,2019,Gender gap in mobile usage,67.741936,4.387097,True,Access
23,United Arab Emirates,2019,Gender gap in mobile usage,100.000000,6.000000,True,Access
29,Argentina,2019,Gender gap in mobile usage,99.650528,5.982526,True,Access
...,...,...,...,...,...,...,...
995,Samoa,2019,Gender gap in mobile usage,100.000000,6.000000,True,Access
1001,Yemen,2019,Gender gap in mobile usage,0.000000,1.000000,True,Access
1007,South Africa,2019,Gender gap in mobile usage,78.272583,4.913629,True,Access
1013,Zambia,2019,Gender gap in mobile usage,53.703701,3.685185,True,Access
1019,Zimbabwe,2019,Gender gap in mobile usage,100.000000,6.000000,True,Access

In [97]:
df.to_csv('../../score/HR_scores/HR_{}_scores.csv'.format(indicator),index = False)

In [98]:
### 13. Government Removal Requests

In [99]:
indicators[12]

# load data
indicator = indicators[12]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Government Removal Requests
gov_removal_requests

In [100]:
df.head(15)

,Period Ending,Country/Region,CLDR Territory Code,Requester,Number of Requests,Items Requested To Be Removed,% Removed-Legal,% Removed-Policy,% Content Not Found,% Not Enough Information,% No Action Taken,% Content Already Removed
0,2019-06-30,United Arab Emirates,AE,Court Order Directed at 3rd Party,1,3,100.0,NaN,NaN,NaN,NaN,NaN
1,2019-06-30,Albania,AL,Court Order Directed at 3rd Party,3,16,NaN,NaN,56.0,NaN,44.0,NaN
2,2019-06-30,Albania,AL,Other,129,132,100.0,NaN,NaN,NaN,NaN,NaN
3,2019-06-30,Argentina,AR,Government Officials,5,49,NaN,NaN,2.0,NaN,98.0,NaN
4,2019-06-30,Argentina,AR,Court Order Directed at Google,86,810,68.0,NaN,4.0,0.0,20.0,8.0
5,2019-06-30,Argentina,AR,Court Order Directed at 3rd Party,49,277,50.0,NaN,2.0,3.0,19.0,25.0
6,2019-06-30,Austria,AT,Data Protection Authority,4,373,79.0,NaN,NaN,21.0,NaN,NaN
7,2019-06-30,Austria,AT,Government Officials,3,48,96.0,NaN,NaN,4.0,NaN,NaN
8,2019-06-30,Austria,AT,Other,1,1,NaN,NaN,NaN,NaN,100.0,NaN
9,2019-06-30,Australia,AU,Consumer Protection Authority,5,7,14.0,71.0,NaN,NaN,14.0,NaN
10,2019-06-30,Australia,AU,Police,8,12,25.0,17.0,NaN,NaN,58.0,NaN
11,2019-06-30,Australia,AU,Information and Communications Authority,6,6,17.0,83.0,NaN,NaN,NaN,NaN
12,2019-06-30,Australia,AU,Government Officials,1,1,NaN,NaN,NaN,NaN,100.0,NaN
13,2019-06-30,Australia,AU,Court Order Directed at Google,4,8,25.0,NaN,NaN,NaN,63.0,13.0
14,2019-06-30,Australia,AU,Court Order Directed at 3rd Party,19,1438,27.0,NaN,0.0,0.0,73.0,0.0

In [101]:
agg_df = df.groupby('Country/Region').agg({'Items Requested To Be Removed':'sum'}).reset_index()
agg_df

    Country/Region  Items Requested To Be Removed
0          Albania                            165
1          Algeria                             10
2        Argentina                           5725
3        Australia                           6649
4          Austria                            482
..             ...                            ...
106        Uruguay                              1
107     Uzbekistan                              2
108        Vanuatu                              1
109      Venezuela                             32
110        Vietnam                          30971

[111 rows x 2 columns]

In [102]:
subpillars[3]
subpillar = subpillars[3]
print(subpillar)

Expression

In [103]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
agg_df['higher_is_better'] = False
agg_df['Indicator'] = indicator
agg_df['Year'] = 2019
agg_df['data_col'] = agg_df['Items Requested To Be Removed'] 
agg_df['Country Name'] = agg_df['Country/Region']
agg_df['HRAssociation'] = subpillar

In [104]:
agg_df = agg_df[['Country Name', 'Year','Indicator','data_col','higher_is_better','HRAssociation']]

# Normalize country names as much as possible
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Bahamas.*$)', 'Bahamas (the)')
agg_df['Country Name'] = agg_df['Country Name'].replace('Bahrain (Kingdom of)','Bahrain')
agg_df['Country Name'] = agg_df['Country Name'].replace('Bolivia','Bolivia (Plurinational State of)')
agg_df['Country Name'] = agg_df['Country Name'].replace('Bolivia, Plurinational State of','Bolivia (Plurinational State of)')
agg_df['Country Name'] = agg_df['Country Name'].replace('Brunei','Brunei Darussalam')
agg_df['Country Name'] = agg_df['Country Name'].replace('Bulgaria (Rep.)','Bulgaria')
agg_df['Country Name'] = agg_df['Country Name'].replace('Central African Republic','Central African Republic (the)')
agg_df['Country Name'] = agg_df['Country Name'].replace('Central African Rep.','Central African Republic (the)')
agg_df['Country Name'] = agg_df['Country Name'].replace("China (People's Rep.)",'China')
agg_df['Country Name'] = agg_df['Country Name'].replace("Comoros",'Comoros (the)')
agg_df['Country Name'] = agg_df['Country Name'].replace("Congo",'Congo (the)')
agg_df['Country Name'] = agg_df['Country Name'].replace("Congo (Brazzaville)",'Congo (the)')
agg_df['Country Name'] = agg_df['Country Name'].replace("Congo (Rep. of the)",'Congo (the)')
agg_df['Country Name'] = agg_df['Country Name'].replace("Congo (Democratic Republic of the)",'Democratic Republic of the Congo (the)')
agg_df['Country Name'] = agg_df['Country Name'].replace("Congo, Dem. Rep.",'Democratic Republic of the Congo (the)')
agg_df['Country Name'] = agg_df['Country Name'].replace("Congo, The Democratic Republic of the",'Democratic Republic of the Congo (the)')
agg_df['Country Name'] = agg_df['Country Name'].replace("DR Congo",'Democratic Republic of the Congo (the)')
agg_df['Country Name'] = agg_df['Country Name'].replace("Democratic Republic of Congo",'Democratic Republic of the Congo (the)')
agg_df['Country Name'] = agg_df['Country Name'].replace("Democratic Republic of the Congo",'Democratic Republic of the Congo (the)')
agg_df['Country Name'] = agg_df['Country Name'].replace("Dem. Rep. of the Congo",'Democratic Republic of the Congo (the)')
agg_df['Country Name'] = agg_df['Country Name'].replace("Cote d'Ivoire","Côte d'Ivoire")
agg_df['Country Name'] = agg_df['Country Name'].replace("Côte d’Ivoire","Côte d'Ivoire")
agg_df['Country Name'] = agg_df['Country Name'].replace("Cote D'Ivoire","Côte d'Ivoire")
agg_df['Country Name'] = agg_df['Country Name'].replace("Cote dIvoire","Côte d'Ivoire")
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r"(^.*Côte d'Ivoire.*$)", "Côte d'Ivoire")
agg_df['Country Name'] = agg_df['Country Name'].replace("Cōte d'Ivoire","Côte d'Ivoire")
agg_df['Country Name'] = agg_df['Country Name'].replace("Ivory Coast","Côte d'Ivoire")
agg_df['Country Name'] = agg_df['Country Name'].replace("Dem. People's Rep. of Korea","Democratic People's Republic of Korea (the)")
agg_df['Country Name'] = agg_df['Country Name'].replace("Democratic People's Republic of Korea","Democratic People's Republic of Korea (the)")
agg_df['Country Name'] = agg_df['Country Name'].replace("Korea, Dem. People's Rep.","Democratic People's Republic of Korea (the)")
agg_df['Country Name'] = agg_df['Country Name'].replace("North Korea","Democratic People's Republic of Korea (the)")
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Czech.*$)', 'Czechia')
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Dominican Re.*$)', 'Dominican Republic (the)')
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Hong Kong.*$)', 'China, Hong Kong Special Administrative Region')
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Hongkong.*$)', 'China, Hong Kong Special Administrative Region')
agg_df['Country Name'] = agg_df['Country Name'].replace("Eswatini (Kingdom of)",'Eswatini')
agg_df['Country Name'] = agg_df['Country Name'].replace("Swaziland",'Eswatini')
agg_df['Country Name'] = agg_df['Country Name'].replace("Faröe Islands",'Faroe Islands')
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Gambia.*$)', 'Gambia (the)')
agg_df['Country Name'] = agg_df['Country Name'].replace("Georgia (Country)",'Georgia')
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Iran.*$)', 'Iran (Islamic Republic of)')
agg_df['Country Name'] = agg_df['Country Name'].replace("Korea",'Republic of Korea (the)')
agg_df['Country Name'] = agg_df['Country Name'].replace("Korea (Rep. of)",'Republic of Korea (the)')
agg_df['Country Name'] = agg_df['Country Name'].replace("Korea (Rep.)",'Republic of Korea (the)')
agg_df['Country Name'] = agg_df['Country Name'].replace("Korea (Republic of)",'Republic of Korea (the)')
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Korea, Rep.*$)', 'Republic of Korea (the)')
agg_df['Country Name'] = agg_df['Country Name'].replace("Korea, South",'Republic of Korea (the)')
agg_df['Country Name'] = agg_df['Country Name'].replace("South Korea",'Republic of Korea (the)')
agg_df['Country Name'] = agg_df['Country Name'].replace("Republic of Korea",'Republic of Korea (the)')
agg_df['Country Name'] = agg_df['Country Name'].replace('Republic of Congo','Congo (the)')
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Kyrgyz.*$)', 'Kyrgyzstan')
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Lao.*$)', "Lao People's Democratic Republic (the)")
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Macao.*$)', "China, Macao Special Administrative Region")
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Macau.*$)', "China, Macao Special Administrative Region")
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Micronesia.*$)', "Micronesia (Federated States of)")
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Moldova.*$)', "Republic of Moldova (the)")
agg_df['Country Name'] = agg_df['Country Name'].replace("Morroco",'Morocco')
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Nepal.*$)', "Nepal")
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*New Ze.*$)', "New Zealand")
agg_df['Country Name'] = agg_df['Country Name'].replace("Niger",'Niger (the)')
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Macedonia.*$)', "North Macedonia")
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*New Ze.*$)', "New Zealand")
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Palestin.*$)', "State of Palestine (the)")
agg_df['Country Name'] = agg_df['Country Name'].replace("West Bank and Gaza",'State of Palestine (the)')
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Panama.*$)', "Panama")
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Philippines.*$)', "Philippines (the)")
agg_df['Country Name'] = agg_df['Country Name'].replace("Republic of the Congo",'Congo (the)')
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Myanmar.*$)', "Myanmar")
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Puerto Rico.*$)', "Puerto Rico")
agg_df['Country Name'] = agg_df['Country Name'].replace("Russia",'Russian Federation (the)')
agg_df['Country Name'] = agg_df['Country Name'].replace("Russian Federation",'Russian Federation (the)')
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Slovak.*$)', "Slovakia")
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'\bSudan\b', 'Sudan (the)')
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'\bSudan (the)\b', 'Sudan (the)')
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*South Sudan.*$)', "South Sudan")
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Syria.*$)', "Syrian Arab Republic (the)")
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*São Tomé.*$)', "Sao Tome and Principe")
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Taiwan.*$)', "Taiwan")
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Taipei.*$)', "Taiwan")
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Tanzania.*$)', "United Republic of Tanzania (the)")
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Netherlands.*$)', "Netherlands (the)")
agg_df['Country Name'] = agg_df['Country Name'].replace("UAE",'United Arab Emirates (the)')
agg_df['Country Name'] = agg_df['Country Name'].replace("U.A.E",'United Arab Emirates (the)')
agg_df['Country Name'] = agg_df['Country Name'].replace("United Arab Emirates",'United Arab Emirates (the)')
agg_df['Country Name'] = agg_df['Country Name'].replace('United Kingdom','United Kingdom of Great Britain and Northern Ireland (the)')
agg_df['Country Name'] = agg_df['Country Name'].replace('UK','United Kingdom of Great Britain and Northern Ireland (the)')
agg_df['Country Name'] = agg_df['Country Name'].replace("Great Britain",'United Kingdom of Great Britain and Northern Ireland (the)')
agg_df['Country Name'] = agg_df['Country Name'].replace("United Kingdom of Great Britain and Northern Ireland",'United Kingdom of Great Britain and Northern Ireland (the)')
agg_df['Country Name'] = agg_df['Country Name'].replace('Vietnam','Viet Nam')
agg_df['Country Name'] = agg_df['Country Name'].replace('United States','United States of America (the)')
agg_df['Country Name'] = agg_df['Country Name'].replace('USA','United States of America (the)')
agg_df['Country Name'] = agg_df['Country Name'].replace('United States of America','United States of America (the)')
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Virgin Islands.*$)', "United States Virgin Islands")
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Vatican.*$)', "Vatican")
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Venezuela.*$)', "Venezuela (Bolivarian Republic of)")
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Yemen.*$)', "Yemen")
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Arab world.*$)', "Arab World")
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*World.*$)', "World")
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Kitts and Nevis.*$)', "Saint Kitts and Nevis")
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Lucia.*$)', "Saint Lucia")
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Martin (French Part).*$)', "Saint Martin (French Part)")
agg_df['Country Name'] = agg_df['Country Name'].replace('Sint Maarten','Saint Martin')
agg_df['Country Name'] = agg_df['Country Name'].replace('St. Martin (French part)','Saint Martin (French Part)')
agg_df['Country Name'] = agg_df['Country Name'].replace('Sint Maarten (Dutch part)','Saint Martin (Dutch Part)')
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Vincent and the Grenadines.*$)', "Saint Vincent and the Grenadines")
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Verde.*$)', "Cabo Verde")
agg_df['Country Name'] = agg_df['Country Name'].replace('Congo, Democratic Republic','Democratic Republic of the Congo (the)')
agg_df['Country Name'] = agg_df['Country Name'].replace('Congo, Rep.','Congo (the)')
agg_df['Country Name'] = agg_df['Country Name'].replace('Republic of Congo','Congo (the)')
agg_df['Country Name'] = agg_df['Country Name'].replace('Congo (Rep.)','Congo (the)')
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Egypt.*$)', "Egypt")
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Korea, D.*$)', "Democratic People's Republic of Korea (the)")
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Tobago.*$)', "Trinidad and Tobago")
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Timor-Leste.*$)', "Timor-Leste")
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Emirates.*$)', "United Arab Emirates (the)")
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Papua.*$)', "Papua New Guinea")
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Bissau.*$)', "Guinea-Bissau")
agg_df['Country Name'] = agg_df['Country Name'].replace('Eq. Guinea','Equatorial Guinea')
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Burma.*$)', "Myanmar")
agg_df['Country Name'] = agg_df['Country Name'].replace('C.A. Republic','Central African Republic (the)')
agg_df['Country Name'] = agg_df['Country Name'].replace('Ant.& Barb.','Antigua and Barbuda')
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Bosnia.*$)', "Bosnia and Herzegovina")
agg_df['Country Name'] = agg_df['Country Name'].replace('Domin. Rep.','Dominican Republic (the)')
agg_df['Country Name'] = agg_df['Country Name'].replace('Dominica (Commonwealth of)','Dominica')
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*European Union.*$)', "European Union")
agg_df['Country Name'] = agg_df['Country Name'].replace('R. of Congo','Congo (the)')
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Principe.*$)', "Sao Tome and Principe")
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Solomon.*$)', "Solomon Islands")
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Vincent.*$)', "Saint Vincent and the Grenadines")
agg_df['Country Name'] = agg_df['Country Name'].replace('Curacao','Curaçao')
agg_df['Country Name'] = agg_df['Country Name'].replace('Reunion','Réunion')
agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Kosovo.*$)', "Kosovo (UNSCR 1244)")

agg_df=agg_df.merge(pop,how='outer',on='Country Name')
agg_df

<ipython-input-104-d8b4300414db>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Bahamas.*$)', 'Bahamas (the)')
<ipython-input-104-d8b4300414db>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Bahamas.*$)', 'Bahamas (the)')
<ipython-input-104-d8b4300414db>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df['Country Name'] = agg_df['Country Name'].replace('Bahrain (Kingdom of)','Bahrain')
<ipython-input-104-d8b4300414db>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df['Country Name'] = agg_df['Country Name'].replace('Bolivia','Bolivia (Plurinational State of)')
<ipython-input-104-d8b4300414db>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df['Country Name'] = agg_df['Country Name'].replace('Bolivia, Plurinational State of','Bolivia (Plurinational State of)')
<ipython-input-104-d8b4300414db>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df['Country Name'] = agg_df['Country Name'].replace('Brunei','Brunei Darussalam')
<ipython-input-104-d8b4300414db>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df['Country Name'] = agg_df['Country Name'].replace('Bulgaria (Rep.)','Bulgaria')
<ipython-input-104-d8b4300414db>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df['Country Name'] = agg_df['Country Name'].replace('Central African Republic','Central African Republic (the)')
<ipython-input-104-d8b4300414db>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df['Country Name'] = agg_df['Country Name'].replace('Central African Rep.','Central African Republic (the)')
<ipython-input-104-d8b4300414db>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df['Country Name'] = agg_df['Country Name'].replace("China (People's Rep.)",'China')
<ipython-input-104-d8b4300414db>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df['Country Name'] = agg_df['Country Name'].replace("Comoros",'Comoros (the)')
<ipython-input-104-d8b4300414db>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df['Country Name'] = agg_df['Country Name'].replace("Congo",'Congo (the)')
<ipython-input-104-d8b4300414db>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df['Country Name'] = agg_df['Country Name'].replace("Congo (Brazzaville)",'Congo (the)')
<ipython-input-104-d8b4300414db>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df['Country Name'] = agg_df['Country Name'].replace("Congo (Rep. of the)",'Congo (the)')
<ipython-input-104-d8b4300414db>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df['Country Name'] = agg_df['Country Name'].replace("Congo (Democratic Republic of the)",'Democratic Republic of the Congo (the)')
<ipython-input-104-d8b4300414db>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df['Country Name'] = agg_df['Country Name'].replace("Congo, Dem. Rep.",'Democratic Republic of the Congo (the)')
<ipython-input-104-d8b4300414db>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df['Country Name'] = agg_df['Country Name'].replace("Congo, The Democratic Republic of the",'Democratic Republic of the Congo (the)')
<ipython-input-104-d8b4300414db>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df['Country Name'] = agg_df['Country Name'].replace("DR Congo",'Democratic Republic of the Congo (the)')
<ipython-input-104-d8b4300414db>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df['Country Name'] = agg_df['Country Name'].replace("Democratic Republic of Congo",'Democratic Republic of the Congo (the)')
<ipython-input-104-d8b4300414db>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df['Country Name'] = agg_df['Country Name'].replace("Democratic Republic of the Congo",'Democratic Republic of the Congo (the)')
<ipython-input-104-d8b4300414db>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df['Country Name'] = agg_df['Country Name'].replace("Dem. Rep. of the Congo",'Democratic Republic of the Congo (the)')
<ipython-input-104-d8b4300414db>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df['Country Name'] = agg_df['Country Name'].replace("Cote d'Ivoire","Côte d'Ivoire")
<ipython-input-104-d8b4300414db>:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df['Country Name'] = agg_df['Country Name'].replace("Côte d’Ivoire","Côte d'Ivoire")
<ipython-input-104-d8b4300414db>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df['Country Name'] = agg_df['Country Name'].replace("Cote D'Ivoire","Côte d'Ivoire")
<ipython-input-104-d8b4300414db>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df['Country Name'] = agg_df['Country Name'].replace("Cote dIvoire","Côte d'Ivoire")
<ipython-input-104-d8b4300414db>:28: FutureWarning: The default value of regex will change from True to False in a future version.
  agg_df['Country Name'] = agg_df['Country Name'].str.replace(r"(^.*Côte d'Ivoire.*$)", "Côte d'Ivoire")
<ipython-input-104-d8b4300414db>:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df['Country Name'] = agg_df['Country Name'].str.replace(r"(^.*Côte d'Ivoire.*$)", "Côte d'Ivoire")
<ipython-input-104-d8b4300414db>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df['Country Name'] = agg_df['Country Name'].replace("Cōte d'Ivoire","Côte d'Ivoire")
<ipython-input-104-d8b4300414db>:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df['Country Name'] = agg_df['Country Name'].replace("Ivory Coast","Côte d'Ivoire")
<ipython-input-104-d8b4300414db>:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df['Country Name'] = agg_df['Country Name'].replace("Dem. People's Rep. of Korea","Democratic People's Republic of Korea (the)")
<ipython-input-104-d8b4300414db>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df['Country Name'] = agg_df['Country Name'].replace("Democratic People's Republic of Korea","Democratic People's Republic of Korea (the)")
<ipython-input-104-d8b4300414db>:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df['Country Name'] = agg_df['Country Name'].replace("Korea, Dem. People's Rep.","Democratic People's Republic of Korea (the)")
<ipython-input-104-d8b4300414db>:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df['Country Name'] = agg_df['Country Name'].replace("North Korea","Democratic People's Republic of Korea (the)")
<ipython-input-104-d8b4300414db>:35: FutureWarning: The default value of regex will change from True to False in a future version.
  agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Czech.*$)', 'Czechia')
<ipython-input-104-d8b4300414db>:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Czech.*$)', 'Czechia')
<ipython-input-104-d8b4300414db>:36: FutureWarning: The default value of regex will change from True to False in a future version.
  agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Dominican Re.*$)', 'Dominican Republic (the)')
<ipython-input-104-d8b4300414db>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Dominican Re.*$)', 'Dominican Republic (the)')
<ipython-input-104-d8b4300414db>:37: FutureWarning: The default value of regex will change from True to False in a future version.
  agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Hong Kong.*$)', 'China, Hong Kong Special Administrative Region')
<ipython-input-104-d8b4300414db>:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Hong Kong.*$)', 'China, Hong Kong Special Administrative Region')
<ipython-input-104-d8b4300414db>:38: FutureWarning: The default value of regex will change from True to False in a future version.
  agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Hongkong.*$)', 'China, Hong Kong Special Administrative Region')
<ipython-input-104-d8b4300414db>:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Hongkong.*$)', 'China, Hong Kong Special Administrative Region')
<ipython-input-104-d8b4300414db>:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df['Country Name'] = agg_df['Country Name'].replace("Eswatini (Kingdom of)",'Eswatini')
<ipython-input-104-d8b4300414db>:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df['Country Name'] = agg_df['Country Name'].replace("Swaziland",'Eswatini')
<ipython-input-104-d8b4300414db>:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df['Country Name'] = agg_df['Country Name'].replace("Faröe Islands",'Faroe Islands')
<ipython-input-104-d8b4300414db>:42: FutureWarning: The default value of regex will change from True to False in a future version.
  agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Gambia.*$)', 'Gambia (the)')
<ipython-input-104-d8b4300414db>:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Gambia.*$)', 'Gambia (the)')
<ipython-input-104-d8b4300414db>:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df['Country Name'] = agg_df['Country Name'].replace("Georgia (Country)",'Georgia')
<ipython-input-104-d8b4300414db>:44: FutureWarning: The default value of regex will change from True to False in a future version.
  agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Iran.*$)', 'Iran (Islamic Republic of)')
<ipython-input-104-d8b4300414db>:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_df['Country Name'] = agg_df['Country Name'].str.replace(r'(^.*Iran.*$)', 'Iran (Islamic Republic of)')
<ipython-input-104-d8b4300414db>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Country Name,Year,Indicator,data_col,higher_is_better,HRAssociation,Country Code,Indicator Name,Indicator Code,1960,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Albania,2019.0,Government Removal Requests,165.0,False,Expression,ALB,"Population, total",SP.POP.TOTL,1608800.0,...,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0,2837743.0
1,Algeria,2019.0,Government Removal Requests,10.0,False,Expression,DZA,"Population, total",SP.POP.TOTL,11057864.0,...,36661438.0,37383899.0,38140135.0,38923688.0,39728020.0,40551398.0,41389174.0,42228415.0,43053054.0,43851043.0
2,Argentina,2019.0,Government Removal Requests,5725.0,False,Expression,ARG,"Population, total",SP.POP.TOTL,20481781.0,...,41261490.0,41733271.0,42202935.0,42669500.0,43131966.0,43590368.0,44044811.0,44494502.0,44938712.0,45376763.0
3,Australia,2019.0,Government Removal Requests,6649.0,False,Expression,AUS,"Population, total",SP.POP.TOTL,10276477.0,...,22340024.0,22733465.0,23128129.0,23475686.0,23815995.0,24190907.0,24601860.0,24982688.0,25365745.0,25687041.0
4,Austria,2019.0,Government Removal Requests,482.0,False,Expression,AUT,"Population, total",SP.POP.TOTL,7047539.0,...,8391643.0,8429991.0,8479823.0,8546356.0,8642699.0,8736668.0,8797566.0,8840521.0,8879920.0,8917205.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,Samoa,NaN,NaN,NaN,NaN,NaN,WSM,"Population, total",SP.POP.TOTL,108627.0,...,187469.0,189089.0,190712.0,192220.0,193510.0,194540.0,195358.0,196128.0,197093.0,198410.0
266,Kosovo (UNSCR 1244),NaN,NaN,NaN,NaN,NaN,XKX,"Population, total",SP.POP.TOTL,947000.0,...,1791000.0,1807106.0,1818117.0,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0,1775378.0
267,Yemen,NaN,NaN,NaN,NaN,NaN,YEM,"Population, total",SP.POP.TOTL,5315351.0,...,23807586.0,24473176.0,25147112.0,25823488.0,26497881.0,27168210.0,27834811.0,28498683.0,29161922.0,29825968.0
268,Zambia,NaN,NaN,NaN,NaN,NaN,ZMB,"Population, total",SP.POP.TOTL,3070780.0,...,14023199.0,14465148.0,14926551.0,15399793.0,15879370.0,16363449.0,16853608.0,17351714.0,17861034.0,18383956.0
269,Zimbabwe,NaN,NaN,NaN,NaN,NaN,ZWE,"Population, total",SP.POP.TOTL,3776679.0,...,12894323.0,13115149.0,13350378.0,13586710.0,13814642.0,14030338.0,14236599.0,14438812.0,14645473.0,14862927.0

In [105]:
agg_df['new_data_col'] = (agg_df['data_col']*1000)/(agg_df['2019'])
agg_df=agg_df[agg_df['Indicator'].notna()]
agg_df=agg_df[['Country Name','Year','Indicator','new_data_col','higher_is_better','HRAssociation']]

min_rank = agg_df['new_data_col'].min()
max_rank = agg_df['new_data_col'].max()

In [106]:
first = agg_df['new_data_col'].quantile(1/6)
second = agg_df['new_data_col'].quantile(2/6)
third = agg_df['new_data_col'].quantile(3/6)
fourth = agg_df['new_data_col'].quantile(4/6)
fifth = agg_df['new_data_col'].quantile(5/6)
sixth = agg_df['new_data_col'].quantile(6/6)
data = {'Min':min_rank,'Max':max_rank,'1':first,'2':second,'3':third,'4':fourth,'5':fifth,'6':sixth}
sextile = pd.DataFrame(data, index=[0])
sextile

,Min,Max,1,2,3,4,5,6
0,0.000018,5.770082,0.000499,0.002764,0.007838,0.03056,0.091952,5.770082

In [107]:
agg_df.rename(columns={'new_data_col':'data_col'}, inplace=True)
# Convert the results into sextile
agg_df['new_rank_score'] = pd.qcut(agg_df['data_col'], 6, labels=[1,2,3,4,5,6])

# Invert as higher is not better
agg_df = agg_df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','HRAssociation']]
agg_df['new_rank_score'] = agg_df['new_rank_score'].apply(lambda row: (6-row)+1)
agg_df=agg_df[agg_df['new_rank_score'].notna()]
agg_df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,HRAssociation
0,Albania,2019.0,Government Removal Requests,0.057810,2,False,Expression
1,Algeria,2019.0,Government Removal Requests,0.000232,6,False,Expression
2,Argentina,2019.0,Government Removal Requests,0.127396,1,False,Expression
3,Australia,2019.0,Government Removal Requests,0.262125,1,False,Expression
4,Austria,2019.0,Government Removal Requests,0.054280,2,False,Expression
...,...,...,...,...,...,...,...
106,Uruguay,2019.0,Government Removal Requests,0.000289,6,False,Expression
107,Uzbekistan,2019.0,Government Removal Requests,0.000060,6,False,Expression
108,Vanuatu,2019.0,Government Removal Requests,0.003335,4,False,Expression
109,Venezuela (Bolivarian Republic of),2019.0,Government Removal Requests,0.001122,5,False,Expression
110,Viet Nam,2019.0,Government Removal Requests,0.321069,1,False,Expression

In [108]:
agg_df.to_csv('../../score/HR_scores/HR_{}_scores.csv'.format(indicator),index = False)

In [109]:
### 14. Internet Censorship

In [110]:
indicators[13]

# load data
indicator = indicators[13]
print(indicator)
bf = bnames[bnames['Indicator']==indicator]['Filename'].values[0]
print(bf)

df = pd.read_csv('../../processed/{}.csv'.format(bf))

Internet Restrictions
internet_censor

In [111]:
df.head(15)

,Country,Score,Torrents Restricted?,Torrents Banned or Shut Down?,Pornography Restricted?,Pornography Banned?,Political Media Restricted?,Political Media Heavily Censored?,Social Media Restricted?,Social Media Banned?,VPNs Restricted,VPNs Banned?,Messaging and VoIP App Restrictions
0,Afghanistan,4,Y,N,Y,Y,Y,N,N,N,N,N,N
1,Albania,2,Y,N,N,N,Y,N,N,N,N,N,N
2,Algeria,5,Y,N,Y,N,Y,Y,Y,N,N,N,N
3,Andorra,1,Y,N,N,N,N,N,N,N,N,N,N
4,Angola,2,Y,N,N,N,Y,N,N,N,N,N,N
5,Argentina,3,Y,Y,N,N,Y,N,N,N,N,N,N
6,Armenia,3,Y,N,Y,Y,N,N,N,N,N,N,N
7,Australia,3,Y,Y,Y,N,N,N,N,N,N,N,N
8,Austria,2,Y,Y,N,N,N,N,N,N,N,N,N
9,Azerbaijan,5,Y,N,Y,N,Y,Y,Y,N,N,N,N
10,Bahrain,7,Y,N,Y,Y,Y,Y,Y,N,Y,N,N
11,Bangladesh,6,Y,N,Y,Y,Y,Y,Y,N,N,N,N
12,Belarus,8,Y,N,Y,Y,Y,Y,Y,N,Y,Y,N
13,Belgium,2,Y,Y,N,N,N,N,N,N,N,N,N
14,Belize,2,Y,N,N,N,N,N,N,N,N,N,Y

In [112]:
subpillars[0]
subpillar = subpillars[0]
print(subpillar)

Access

In [113]:
# create standard columns
# df.rename(columns={'COUNTRY/ECONOMY':'Country Name'}, inplace=True)
df['higher_is_better'] = False
df['Indicator'] = indicator
df['data_col'] = df['Score'] 
df['Country Name'] = df['Country']
df['HRAssociation'] = subpillar
df['Year'] = 2021

min_rank = df['data_col'].min()
max_rank = df['data_col'].max()

# transform 0-1 rank into 1-6
df['new_rank_score'] = df['data_col'].apply(lambda row: convert_rank(row,old_min=1,old_max=12))
# Invert as higher is not better
df['new_rank_score'] = df['new_rank_score'].apply(lambda row: (6-row)+1)

In [114]:
df = df[['Country Name', 'Year','Indicator','data_col','new_rank_score','higher_is_better','HRAssociation']]
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,HRAssociation
0,Afghanistan,2021,Internet Restrictions,4,4.636364,False,Access
1,Albania,2021,Internet Restrictions,2,5.545455,False,Access
2,Algeria,2021,Internet Restrictions,5,4.181818,False,Access
3,Andorra,2021,Internet Restrictions,1,6.000000,False,Access
4,Angola,2021,Internet Restrictions,2,5.545455,False,Access
...,...,...,...,...,...,...,...
170,Venezuela,2021,Internet Restrictions,6,3.727273,False,Access
171,Vietnam,2021,Internet Restrictions,6,3.727273,False,Access
172,Yemen,2021,Internet Restrictions,7,3.272727,False,Access
173,Zambia,2021,Internet Restrictions,4,4.636364,False,Access
174,Zimbabwe,2021,Internet Restrictions,4,4.636364,False,Access

In [115]:
### Score Aggregating

In [116]:
import os

In [117]:
# get list of files in scores folder
scores = os.listdir('../../score/HR_scores/')
scores = [s for s in scores if s.startswith('HR')]

In [118]:
scores

['HR_% of population covered by electricity_scores.csv',
 'HR_% of population covered by internet connectivity_scores.csv',
 'HR_% of population covered by mobile 3G+ data connectivity_scores.csv',
 'HR_% of population using internet (all)_scores.csv',
 'HR_% of population using internet (female)_scores.csv',
 'HR_% of population using internet (male)_scores.csv',
 'HR_Cellphone Signal Density_scores.csv',
 'HR_Gender gap in internet usage_scores.csv',
 'HR_Gender gap in mobile usage_scores.csv',
 'HR_Government Removal Requests_scores.csv',
 'HR_Individuals using the Internet (% of population)_scores.csv',
 'HR_Limits on content_scores.csv']

In [119]:
# create a dataframe that concatenates all these file into one table
df = pd.concat([pd.read_csv('../../score/HR_scores/{}'.format(s)) for s in scores])

In [120]:
df

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,HRAssociation,HR Association
0,Aruba,2019.0,% of population covered by electricity,100.000000,6.000000,True,Access,NaN
1,Africa Eastern and Southern,2019.0,% of population covered by electricity,43.640661,3.182033,True,Access,NaN
2,Afghanistan,2019.0,% of population covered by electricity,97.700000,5.885000,True,Access,NaN
3,Africa Western and Central,2019.0,% of population covered by electricity,51.341421,3.567071,True,Access,NaN
4,Angola,2019.0,% of population covered by electricity,45.670315,3.283516,True,Access,NaN
...,...,...,...,...,...,...,...,...
65,Uzbekistan,2021.0,Limits on content,12.000000,2.714286,True,Association,NaN
66,Venezuela,2021.0,Limits on content,12.000000,2.714286,True,Association,NaN
67,Vietnam,2021.0,Limits on content,6.000000,1.857143,True,Association,NaN
68,Zambia,2021.0,Limits on content,24.000000,4.428571,True,Association,NaN
69,Zimbabwe,2021.0,Limits on content,22.000000,4.142857,True,Association,NaN

In [121]:
# Data cleaning
df['new_rank_score'] = df['new_rank_score'].fillna(0)
df.sort_values(by=['Country Name'], ascending=True, inplace=True)
df.reset_index(drop=True, inplace=True)

# remove trailing whitespaces from country name
df['Country Name'] = df['Country Name'].str.strip()
df['Country Name'] = df['Country Name'].str.strip('**')
df['Country Name'] = df['Country Name'].str.strip('*')


# Replace values that are not truly country names with nan
df['Country Name'] = df['Country Name'].replace('n.a. : non avalaible',np.nan)
df['Country Name'] = df['Country Name'].replace('nan',np.nan)
df['Country Name'] = df['Country Name'].replace('Not classified',np.nan)
df['Country Name'] = df['Country Name'].replace('Source :',np.nan)
df['Country Name'] = df['Country Name'].replace('© Copyright Enerdata. Reproduction and diffusion prohibited (web, photocopy, intranet...) without written permission.',np.nan)

# Dropping the columns having NaN/NaT values
df = df[df['Country Name'].notna()]


df['Country Name'] = df['Country Name'].astype(str, errors = 'ignore')

<ipython-input-121-2258ea5563f6>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Country Name'] = df['Country Name'].astype(str, errors = 'ignore')

In [122]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1621 entries, 0 to 1621
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country Name      1621 non-null   object
 1   Year              1621 non-null   float64
 2   Indicator         1621 non-null   object
 3   data_col          1482 non-null   float64
 4   new_rank_score    1621 non-null   float64
 5   higher_is_better  1621 non-null   bool
 6   HRAssociation     1451 non-null   object
 7   HR Association    170 non-null    object
dtypes: bool(1), float64(3), object(4)
memory usage: 102.9+ KB

In [123]:
df.head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,HRAssociation,HR Association
0,Afghanistan,2019.0,% of population covered by electricity,97.700000,5.885000,True,Access,NaN
1,Afghanistan,2019.0,Gender gap in mobile usage,0.000000,1.000000,True,Access,NaN
2,Afghanistan,2019.0,Cellphone Signal Density,38.480000,2.924000,True,Access,NaN
3,Afghanistan,2019.0,% of population covered by mobile 3G+ data con...,58.700000,3.935000,True,NaN,Access
4,Africa Eastern and Southern,2019.0,% of population covered by electricity,43.640661,3.182033,True,Access,NaN
5,Africa Western and Central,2019.0,% of population covered by electricity,51.341421,3.567071,True,Access,NaN
6,Albania,2019.0,Gender gap in internet usage,65.961560,4.298078,True,Access,NaN
7,Albania,2019.0,% of population using internet (male),71.159395,4.557970,True,Access,NaN
8,Albania,2019.0,Gender gap in mobile usage,67.741936,4.387097,True,Access,NaN
9,Albania,2020.0,% of population covered by internet connectivity,68.550391,4.427520,True,Access,NaN
10,Albania,2019.0,Government Removal Requests,0.057810,2.000000,False,Expression,NaN
11,Albania,2019.0,% of population using internet (female),65.961560,4.298078,True,Access,NaN
12,Albania,2019.0,% of population covered by mobile 3G+ data con...,97.000000,5.850000,True,NaN,Access
13,Albania,2019.0,% of population covered by electricity,100.000000,6.000000,True,Access,NaN
14,Albania,2019.0,% of population using internet (all),68.550391,4.427520,True,Access,NaN

In [124]:
sorted(df['Country Name'].unique().tolist())

['Afghanistan',
 'Africa Eastern and Southern',
 'Africa Western and Central',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Arab World',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahamas, The',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bolivia (Plurinational State of)',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Caribbean small states',
 'Cayman Islands',
 'Central African Rep.',
 'Central African Republic',
 'Central Europe and the Baltics',
 'Chad',
 'Channel Islands',
 'Chile',
 'China',
 'China, Hong Kong Special Administrative Region',
 'China, Macao Special Administrative Region',
 'Colombia',
 'Comoros',
 'Congo',
 'Congo (Rep. of the)',
 'Congo, Dem. Rep.',
 'Congo, Democratic Republic',
 'Congo, Rep.',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Curacao',
 'Curaçao',
 'Cyprus',
 'Czech Republic',
 'Czechia',
 "Côte d'Ivoire",
 "Dem. People's Rep. of Korea",
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Dominican Republic (the)',
 'Early-demographic dividend',
 'East Asia & Pacific',
 'East Asia & Pacific (IDA & IBRD countries)',
 'East Asia & Pacific (excluding high income)',
 'Ecuador',
 'Egypt',
 'Egypt, Arab Rep.',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Euro area',
 'Europe & Central Asia',
 'Europe & Central Asia (IDA & IBRD countries)',
 'Europe & Central Asia (excluding high income)',
 'European Union',
 'Faroe Islands',
 'Fiji',
 'Finland',
 'Fragile and conflict affected situations',
 'France',
 'French Polynesia',
 'Gabon',
 'Gambia',
 'Gambia, The',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Heavily indebted poor countries (HIPC)',
 'High income',
 'Honduras',
 'Hong Kong',
 'Hong Kong SAR, China',
 'Hong Kong, China',
 'Hungary',
 'IBRD only',
 'IDA & IBRD total',
 'IDA blend',
 'IDA only',
 'IDA total',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iran (Islamic Republic of)',
 'Iran, Islamic Rep.',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Korea (Rep. of)',
 "Korea, Dem. People's Rep.",
 'Korea, Rep.',
 'Korea, South',
 'Kosovo',
 'Kuwait',
 'Kyrgyz Republic',
 'Kyrgyzstan',
 'Lao PDR',
 'Laos',
 'Late-demographic dividend',
 'Latin America & Caribbean',
 'Latin America & Caribbean (excluding high income)',
 'Latin America & the Caribbean (IDA & IBRD countries)',
 'Latvia',
 'Least developed countries: UN classification',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Low & middle income',
 'Low income',
 'Lower middle income',
 'Luxembourg',
 'Macao SAR, China',
 'Macao, China',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia',
 'Micronesia, Fed. Sts.',
 'Middle East & North Africa',
 'Middle East & North Africa (IDA & IBRD countries)',
 'Middle East & North Africa (excluding high income)',
 'Middle income',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Nepal (Republic of)',
 'Netherlands',
 'Netherlands (the)',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North America',
 'North Macedonia',
 'Northern Mariana Islands',
 'Norway',
 'OECD members',
 'Oman',
 'Other small states',
 'Pacific island small states',
 'Pakistan',
 'Palau',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Philippines (the)',
 'Poland',
 'Portugal',
 'Post-demographic dividend',
 'Pre-demographic dividend',
 'Puerto Rico',
 'Qatar',
 'Republic of Korea (the)',
 'Romania',
 'Russia',
 'Russian Federation',
 'Russian Federation (the)',
 'Rwanda',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten (Dutch part)',
 'Slovak Republic',
 'Slovakia',
 'Slovenia',
 'Small states',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Asia',
 'South Asia (IDA & IBRD)',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'St. Kitts and Nevis',
 'St. Lucia',
 'St. Martin (French part)',
 'St. Vincent and the Grenadines',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa (IDA & IBRD countries)',
 'Sub-Saharan Africa (excluding high income)',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'The Gambia',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Arab Emirates (the)',
 'United Kingdom',
 'United Kingdom of Great Britain and Northern Ireland (the)',
 'United States',
 'United States of America',
 'United States of America (the)',
 'Upper middle income',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Vatican',
 'Venezuela',
 'Venezuela (Bolivarian Republic of)',
 'Venezuela, RB',
 'Viet Nam',
 'Vietnam',
 'Virgin Islands (U.S.)',
 'West Bank and Gaza',
 'World',
 'Yemen',
 'Yemen, Rep.',
 'Zambia',
 'Zimbabwe']

In [125]:
df.head(15)

,Country Name,Year,Indicator,data_col,new_rank_score,higher_is_better,HRAssociation,HR Association
0,Afghanistan,2019.0,% of population covered by electricity,97.700000,5.885000,True,Access,NaN
1,Afghanistan,2019.0,Gender gap in mobile usage,0.000000,1.000000,True,Access,NaN
2,Afghanistan,2019.0,Cellphone Signal Density,38.480000,2.924000,True,Access,NaN
3,Afghanistan,2019.0,% of population covered by mobile 3G+ data con...,58.700000,3.935000,True,NaN,Access
4,Africa Eastern and Southern,2019.0,% of population covered by electricity,43.640661,3.182033,True,Access,NaN
5,Africa Western and Central,2019.0,% of population covered by electricity,51.341421,3.567071,True,Access,NaN
6,Albania,2019.0,Gender gap in internet usage,65.961560,4.298078,True,Access,NaN
7,Albania,2019.0,% of population using internet (male),71.159395,4.557970,True,Access,NaN
8,Albania,2019.0,Gender gap in mobile usage,67.741936,4.387097,True,Access,NaN
9,Albania,2020.0,% of population covered by internet connectivity,68.550391,4.427520,True,Access,NaN
10,Albania,2019.0,Government Removal Requests,0.057810,2.000000,False,Expression,NaN
11,Albania,2019.0,% of population using internet (female),65.961560,4.298078,True,Access,NaN
12,Albania,2019.0,% of population covered by mobile 3G+ data con...,97.000000,5.850000,True,NaN,Access
13,Albania,2019.0,% of population covered by electricity,100.000000,6.000000,True,Access,NaN
14,Albania,2019.0,% of population using internet (all),68.550391,4.427520,True,Access,NaN

In [126]:
# average indicator scores per country
agg_df = df.groupby(['Country Name','HRAssociation']).agg({'new_rank_score':'mean','data_col':'count'}).reindex()

In [127]:
agg_df.columns = ['agg_score', 'count_source' ]

In [128]:
max_number_sources = agg_df.describe()['count_source']['max']

In [129]:
agg_df['agg_score_wt'] = agg_df['agg_score']*(agg_df['count_source']/max_number_sources)

In [130]:
agg_df.sort_values(by='agg_score', ascending=False, inplace=True)

In [131]:
agg_df.head(25)

                                                agg_score  count_source  \
Country Name                     HRAssociation
Ethiopia                         Expression           6.0             1
Palau                            Access               6.0             1
Hong Kong SAR, China             Access               6.0             1
Channel Islands                  Access               6.0             1
Puerto Rico                      Access               6.0             1
                                 Expression           6.0             1
Guam                             Access               6.0             1
Bermuda                          Access               6.0             1
Greenland                        Access               6.0             1
Gibraltar                        Access               6.0             1
French Polynesia                 Access               6.0             1
Bolivia (Plurinational State of) Expression           6.0             1
Faroe Islands                    Access               6.0             1
European Union                   Access               6.0             1
Turks and Caicos Islands         Access               6.0             1
British Virgin Islands           Access               6.0             1
Euro area                        Access               6.0             1
Seychelles                       Access               6.0             1
Sint Maarten (Dutch part)        Access               6.0             1
Slovak Republic                  Access               6.0             1
Egypt, Arab Rep.                 Access               6.0             1
Egypt                            Expression           6.0             1
Dominican Republic (the)         Expression           6.0             1
Cambodia                         Expression           6.0             1
Somalia                          Expression           6.0             1

                                                agg_score_wt
Country Name                     HRAssociation
Ethiopia                         Expression         0.666667
Palau                            Access             0.666667
Hong Kong SAR, China             Access             0.666667
Channel Islands                  Access             0.666667
Puerto Rico                      Access             0.666667
                                 Expression         0.666667
Guam                             Access             0.666667
Bermuda                          Access             0.666667
Greenland                        Access             0.666667
Gibraltar                        Access             0.666667
French Polynesia                 Access             0.666667
Bolivia (Plurinational State of) Expression         0.666667
Faroe Islands                    Access             0.666667
European Union                   Access             0.666667
Turks and Caicos Islands         Access             0.666667
British Virgin Islands           Access             0.666667
Euro area                        Access             0.666667
Seychelles                       Access             0.666667
Sint Maarten (Dutch part)        Access             0.666667
Slovak Republic                  Access             0.666667
Egypt, Arab Rep.                 Access             0.666667
Egypt                            Expression         0.666667
Dominican Republic (the)         Expression         0.666667
Cambodia                         Expression         0.666667
Somalia                          Expression         0.666667

In [132]:
agg_df.to_csv('../../score/HR_scores_agg/HR_agg_score.csv')